[2016-09-29 14:19] davidtheclark commented on #1934
Thanks @gucong3000 for writing up the issue. I do not think I want to build code into stylelint core that specifically targets `.editorconfig` and `.eslintrc` files. Compatibility with other specific tools should be enabled by tools outside of core (e.g. processors that allow you to lint `<style>` tags in HTML).

So I'm envisioning some external tools like `stylelint-extend-editorconfig` and `styl

[2016-09-29 14:20] davidtheclark commented on #1935
Duplicate of #1810. Let's continue the conversation over there.

[2016-09-29 14:20] #1935 closed

[2016-09-29 14:21] davidtheclark commented on #1810
After seeing @gucong3000's example directory structure in #1935, I understand the justification for this. I will try to build it into #1930.

[2016-09-29 14:28] hudochenkov commented on #1500
@jeddy3 I made [`stylelint-declaration-block-order`](https://github.com/hudochenkov/stylelint-declaration-block-order). It's not published on npm yet. Can you, please, take a look? Maybe you'll have some suggestions :)

[2016-09-29 14:34] evilebottnawi commented on #1500
@hudochenkov what about separate `ava` test runner from plugin in other repo?

[2016-09-29 14:49] hudochenkov commented on #1500
@evilebottnawi you mean extract it in separate module like https://github.com/stylelint/stylelint-test-rule-tape?

[2016-09-29 14:53] evilebottnawi commented on #1500
@hudochenkov yep, it may be useful to many

[2016-09-29 21:19] hudochenkov commented on #1500
@evilebottnawi done https://github.com/hudochenkov/stylelint-test-rule-ava Would you like to move it to stylelint organisation?

[2016-09-30 03:31] theskillwithin opened #1937 "sass syntax"
new feature supporting both sass and scss syntax with tabs.    in cli.

[2016-09-30 03:50] ntwb commented on #346
Also https://github.com/Jardinero/stylelint-plugin

[2016-09-30 03:54] ntwb commented on #1937
Thanks for creating this issue but we are closing it as issues need to follow our issue template, so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new) using the template.

[2016-09-30 03:54] #1937 closed

[2016-09-30 08:49] pocke opened #1939 "False positives and negatives when vendor-prefixed values are used in function-linear-gradient-no-nonstandard-direction"
A bug.

If `linear-gradient` function is with a vendor prefix, `function-linear-gradient-no-nonstandard-direction` rule has false positives and false negatives.

In standard CSS, `linear-gradient` expects `to` prefix for direction. However, with vendor prefix, `to` prefix is not acceptable as direction.

So, this rule is incorrect when the function is with a vendor prefix.

`function-linear-gradie

[2016-09-30 09:07] evilebottnawi commented on #346
@ntwb awesome, wait some times to release and close this issue :smile:

[2016-09-30 09:09] evilebottnawi commented on #1500
@stylelint/core what do you think about move to main repo? Also we can try tested with ava? maybe faster?

[2016-09-30 11:34] mik01aj opened #1941 "Request for enhancement in `selector-no-type` to allow child, but not descendant, combinator"
Here's what I'm trying to do:

    .className > label {} // I want to allow this...
    .className label {}   // ...but not this

My current config for the [`selector-no-type`](https://github.com/stylelint/stylelint/tree/master/src/rules/selector-no-type) rule:

[code]

With this config, both lines are fine. When I remove `descendant`, both are flagged as errors.

A possible solution would be to i

[2016-09-30 11:43] ntwb commented on #1941
Thanks for creating this issue but we are closing it as issues need to follow our issue template, so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new) using the template.

[2016-09-30 11:43] #1941 closed

[2016-09-30 12:25] evilebottnawi commented on #1941
@mik01aj Reopen your issue after use template

[2016-09-30 12:26] evilebottnawi commented on #1941
@ntwb i think we should standardize response about not use template. You may want to connect robot that will do it for us?

[2016-09-30 12:27] mik01aj commented on #1941
@ntwb I went through the template and made sure that I included all the required information. Do you actually need the copypasted template text?

[2016-09-30 13:11] mik01aj opened #1942 "Add ignore: ["child"] option to selector-no-type"
Request for enhancement in `selector-no-type`

[`selector-no-type`](https://github.com/stylelint/stylelint/tree/master/src/rules/selector-no-type)

[code]

e.g.

[code]

`7.3.1`.

CLI

no

Hmm. With that config, perhaps just the 1st one should warn, because it's a child selector, not descendant. It would be good to control descendants and children individually. Then I could allow the 1st but flag

[2016-09-30 13:11] mik01aj commented on #1941
nevermind, I submitted #1942

[2016-09-30 13:51] davidtheclark commented on #1500
@evilebottnawi: Regarding the rule: I think the point of keeping it in an external package for a little while is to see how it works, what kind of requests come in, etc. So we should keep it in mind but wait a minute. Regarding ava: You're always welcome to try it out :)

[2016-09-30 14:45] evilebottnawi commented on #1500
@davidtheclark agree about rule

[2016-10-01 04:42] Tiendq opened #1945 "rule-nested-empty-line-before always failed with @keyframes"
`"rule-nested-empty-line-before": "always"` failed even there is an empty line before 100%

`@keyframes test {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}`

[2016-10-01 11:01] jeddy3 commented on #1500
@hudochenkov First of all I'd just like say a big thank you for making `stylelint-declaration-block-order`. I've just tried it on the `stylelint.io` CSS code and it seems to work like a charm in both Atom and via the CLI.

I'll have a look through your repo now and any add further feedback into that repo's issue tracker.

Thanks again for the great work!

🎉

[2016-10-01 12:19] evilebottnawi commented on #1945
@Tiendq format you issue as template

[2016-10-01 12:23] jeddy3 commented on #1945
Thanks for creating this issue but we are closing it as issues need to follow our issue template, so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new) using the template.

[2016-10-01 12:23] #1945 closed

[2016-10-01 15:15] jeddy3 commented on #1939
@pocke Thank you for an excellent issue write-up and for using the issue template!

This does appear to be a bug, and one that hasn't been reported before. I think this is because stylelint is usually used to lint source code *before* autoprefixer performs any transformations i.e. the source code usually contains only *non-standard* prefixed things like `-webkit-font-smoothing`, rather than prefix

[2016-10-01 17:01] jeddy3 commented on #1942
@mik01aj Thank you for using the issue template. Having the question and answer format helps us parse through these things more easily.

@stylelint/core This seems like a valid request to me i.e the addition of a `ignore: ["child"]` optional secondary option. Does anyone have any objections to this? If not, I'll label up the issue accordingly and point @mik01aj in the direction of how to add the o

[2016-10-01 17:06] davidtheclark commented on #1942
👍

[2016-10-01 17:17] jeddy3 commented on #1942
@mik01aj Would you like to contribute this option? There's a [specific section](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#adding-options-to-existing-rules) in the developer guide to help people contribute new options. You'll want to check if the *type selector* is preceded by *child combinator*.

Good spot. I'll create a separate issue for this. Lets just foc

[2016-10-01 17:29] jeddy3 opened #1946 "False negatives with ignore: ["descendant"] in selector-no-type"
Bug.

`selector-no-type`

[code]

[code]

`7.3.1`

Via the demo

No

The following warnings to be flagged:

[code]

No warnings.

It looks like [this is bit of code](https://github.com/stylelint/stylelint/blob/master/lib/rules/selector-no-type/index.js#L82-L85) too permissive. Checking for _any_ type of combinators, rather than just the descendant one.

Ref: https://github.com/stylelint/stylelint/

[2016-10-01 17:35] hudochenkov commented on #1500
@jeddy3 thank you for kind words! Thank you for discussion and planning this plugin :)

[2016-10-01 19:01] davidtheclark opened #1947 "Rewrite non-rule tests with another test runner"
While working on #1930 I've become convinced that this project is large enough that we would really benefit from some of the niceties of a more full featured test runner, and that the non-rule tests would be pretty easy to rewrite for another runner. The rule tests are another story.

I'm thinking Mocha or AVA. If somebody really wants to try Jest, I'd be open to that experiment, too.

@evilebottn

[2016-10-01 20:27] evilebottnawi commented on #1947
@davidtheclark yep. you are good developer, i love you not platonic :smile:

[2016-10-01 21:13] jeddy3 commented on #1936
@DanielaValero Thank you for the reporting the issue and for using the template.

I can reproduce the problem with the following reduced code:

[code]

[code]

Gives:

[code]

I will label this as a bug.

Do you know what previous version you were using?

This issue might be caused by a change in the behaviour of [`postcss-scss` parser](https://github.com/postcss/postcss-scss) at some point. @Dani

[2016-10-01 21:19] jeddy3 commented on #1947
SGTM. I'll label it up as infrastructure.

[2016-10-01 21:35] jeddy3 commented on #1934
Agreed.

I'm not sure. Unlike `extends`, `plugins`, and `processors`, it feels a bit messy. And the described use case doesn't feel very compelling. I'm not sure coupling 3 separate tools, instead of just explicitly configuring the `indentation` rule, is a good trade off.

Perhaps if more use cases emerge we can revisit building the `configTransforms` property, but at the moment I'm not sure it's

[2016-10-01 21:45] jeddy3 commented on #1912
Lets wait on the outcome of https://github.com/gajus/table/pull/19 before considering an alternative to `table`, as it'll save us having to revisit the `string` formatter.

[2016-10-01 22:10] hudochenkov opened #1948 "False positive in options validator for valid config in declaration-block-properties-order"
A bug with tests for very specific config in `declaration-block-properties-order` rule.

`declaration-block-properties-order`

None.

[code]

`7.3.1`

`npm test`

No.

Test passes.

I found one edge case when options tests, which test rule options, are failing, but config is valid. If config consists with one property and following one object.

These warnings happens:

[code]

If property goes aft

[2016-10-02 00:23] theskillwithin commented on #1937
@ntwb

using sublime text on .sass file  (also linter settings below).    also didn't work when I tried in cli also.

[code]

linter settings
[code]

[2016-10-02 09:35] DanielaValero commented on #1936
Hello @jeddy3

The version we had before was the 7.0.1.

I have done a mini research and realized that indeed this bug is introduced in the version 0.2.0 of postscss-scss when they introduced support for nested properties.

I don't understand fully how postcss-scss is doing the magic behind, however I tend to think that it might be that the option of having this syntax was not added yet perhaps?

[2016-10-02 10:10] jeddy3 commented on #1936
Thanks for tracking that down!

Would you be able to raise an issue in the `postcss-scss` issue tracker about this problem?

[2016-10-02 10:18] DanielaValero commented on #1936
Hi @jeddy3

Yes, I have just opened it: https://github.com/postcss/postcss-scss/issues/45

I would say that we could close this report as it is related to postscss-scss and not to stylelint.

Greetings

Daniela

[2016-10-02 10:18] #1936 closed

[2016-10-02 14:31] davidtheclark commented on #1934
At the moment I can't think of any other use-cases for `configTransforms` except this one: to alter the configuration based on some other tool's configuration. I agree with @jeddy3. I also agree with the ESLint comment about this: https://github.com/eslint/eslint/issues/7077#issuecomment-248982243 —— What you want, @gucong3000, is doable by using a JS config and writing some code to merge them. Yo

[2016-10-02 14:31] #1934 closed

[2016-10-02 14:42] #1898 closed

[2016-10-02 16:52] jeddy3 commented on #1948
@hudochenkov Thank you for the excellent report and for the tests!

[2016-10-02 17:15] davidtheclark commented on #1948
@hudochenkov three cheers for providing tests! I am going to make sure the tests you've provided pass as part of #1930.

[2016-10-02 17:17] ai commented on #1936
Fix released in `postcss-scss` 0.3.1 release

[2016-10-02 17:19] davidtheclark commented on #1948
This is an unfortunate result of our imitation of ESLint using arrays for rule configuration instead of objects. A mistake we must live with now :(

There's no way to generically know that this config is not a primary option followed by secondary options. So we're going to have to make a very hacky rule-specific exception.

[2016-10-02 18:02] jeddy3 commented on #1948
I hadn't considered that being the cause, but it does make sense now that you mention it.

Agreed. :(

[2016-10-02 18:17] jeddy3 commented on #1936
@ai Perfect, `0.3.1` works a treat! Thanks, as always, for the very speedy fix.

@DanielaValero Thanks for following through with the issue to the `postcss-scss` tracker.

Run `npm install stylelint@latest` to pull down the `0.3.1` version of the `postcss-scss` dependency into your local `stylelint` install.

[2016-10-03 08:35] gaidarenko commented on #1722
Please label this issue as `wip`.

[2016-10-03 09:08] evilebottnawi commented on #1722
@gaidarenko let's rock

[2016-10-03 09:09] evilebottnawi commented on #1947
@davidtheclark ok, let's wait

[2016-10-03 14:44] #1939 closed

[2016-10-03 14:47] #1902 closed

[2016-10-04 08:13] hudochenkov commented on #1575
I'm thinking how to handle comments. They can be before the first group or between two groups. They can be on separate lines, or on a line with a declaration.

Given:

[code]

The following example is not considered warnings:

[code]

I think comments before declaration should be connected to this declaration. And an inline comment should be connected to the previous declaration.

How to handle th

[2016-10-04 10:27] jeddy3 commented on #1575
Firstly, thanks for making a start on this plugin too! You're on fire at the moment :)

Regarding you're two queries... I don't think there's much to do here.

I think handling the empty space before comments is the responsibility of the [`comment-empty-line-before`](https://github.com/stylelint/stylelint/tree/master/src/rules/comment-empty-line-before) rule.

And handling the empty space before d

[2016-10-04 12:24] hudochenkov commented on #1575
Thank you :)

I've got what you mean. Sounds good.

What about this case?

[code]

[code]

Is there any existing rule to specify empty line before `top`? Comment is related to `display`, and it's kinda should be ignored by the plugin.

[2016-10-04 15:36] jeddy3 commented on #1575
Yep, we call those "shared-line" comments and you'll just want to [ignore them](https://github.com/stylelint/stylelint/blob/master/src/rules/comment-empty-line-before/index.js#L60-L61).

So, when I say "declaration is preceded by another declaration". I mean preceded by _on another line_. So you'll need to skip over any "shared-line" comments you come across in the node tree when determining if a

[2016-10-04 15:44] hudochenkov commented on #1575
Thank you :)

[2016-10-04 16:09] Awk34 opened #1951 "Document regex examples of popular selector naming conventions (camelcase, kebabcase etc)"
I added the following rule to my `.stylelintrc` to enforce kebab-case selector names: `"selector-class-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$"`. It enforces that a class starts with at least one lowercase letter character + 0 or more lowercase letters/numbers, and is followed by 0 or more dashes + any mix of lowercase letters/numbers. Is this something that could maybe be added to this project

[2016-10-04 16:31] jeddy3 commented on #1951
@Awk34 Thanks for the suggestion.

I think this could be a useful entry in the FAQ. We could have the regex for:

- kebab case
- snake case
- camel case
- pascal case

As a quick google doesn't seem to return any easy-to-find reference guides.

[2016-10-04 16:43] evilebottnawi commented on #1951
@jeddy3 sgtm, i wanted to offer too

[2016-10-04 21:40] Nirazul commented on #1951
I'd also add a regex pattern for the BEM naming convention as it is widely used out in the wild.

[2016-10-04 23:46] davidtheclark commented on #1951
https://github.com/postcss/postcss-bem-linter should have some examples to start with.

[2016-10-05 02:57] dungdm93 opened #1953 "Can't override rules while extends a config"
For example, I want to extend standard rule, but don't wanna use `no-empty-source` rule:
[code]
I got an error while run stylelint:
[code]

I considered the [offical document](http://stylelint.io/user-guide/rules/) and see that a tons of rules have only one option: [`color-no-hex`](http://stylelint.io/user-guide/rules/color-no-hex/), [`string-no-newline`](http://stylelint.io/user-guide/rules/strin

[2016-10-05 07:23] jeddy3 commented on #1951
@Nirazul I didn't jot down BEM naming conventions as, like @davidtheclark said, I assumed people would be using `postcss-bem-linter` via [`stylelint-selector-bem-pattern`](https://github.com/davidtheclark/stylelint-selector-bem-pattern) if they're using BEM conventions.

We can certainly add a line about `stylelint-selector-bem-pattern` to the FAQ entry e.g. "Use `stylelint-selector-bem-pattern` t

[2016-10-05 07:32] jeddy3 commented on #1953
This is covered in the [FAQ](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md#how-do-i-disable-a-rule) sections of the docs, which is linked to from the ["Need Help?](https://github.com/stylelint/stylelint#need-help) section in the main README.

Use `null` e.g. `"no-empty-source": null`.

Please raise this in the gulp-stylelint issue tracker.

In the future please use the

[2016-10-05 07:32] #1953 closed

[2016-10-05 16:11] #1722 closed

[2016-10-05 20:55] isochronous opened #1954 "Set is not defined error when requiring stylelint"
A bug where I cannot even `require('stylelint')` without getting a fatal exception.

Not related to any rule

none

none

`7.3.1`

Currently using gulp-stylelint, but the same issue occurs if I try to `var stylelint = require('stylelint');` or `var stylelint = require('postcss-stylelint');`

No

To not get an error by simply requiring the library

This is the error I get whenever I try to require

[2016-10-05 21:34] evilebottnawi commented on #1954
@isochronous nodejs version?

[2016-10-05 21:36] evilebottnawi commented on #1954
@isochronous can you try in your app/library `console.dir(Set)`?

[2016-10-05 21:41] isochronous commented on #1954
[code]

[2016-10-05 21:42] evilebottnawi commented on #1954
@isochronous try `console.log(`Version: ${process.version}`);`

[2016-10-06 04:39] davidtheclark commented on #1954
@isochronous: If `Set` is not defined it really seems like your not running the Node version you think you're running.

[2016-10-06 06:13] jeddy3 commented on #1786
The [plan now](https://github.com/stylelint/stylelint/pull/1906#issuecomment-247869191) is to simply remove the `display: inline` with `width` check from the rule.

[2016-10-06 06:16] jeddy3 commented on #1780
@evilebottnawi What rules are affected by this change?

[2016-10-06 09:26] evilebottnawi commented on #1780
@jeddy3 `declaration-block-no-redundant-longhand-properties`, `declaration-block-no-shorthand-property-overrides`

[2016-10-06 16:16] hudochenkov commented on #1575
Released and published to npm https://github.com/hudochenkov/stylelint-property-groups-structure

Thank you, @jeddy3 for all preparation work you did!

[2016-10-06 16:23] isochronous commented on #1954
Yeah, it looks like someone checked in some standalone version of node in that directory without my noticing.  Once I got rid of that, everything worked as expected.  Sorry to take up your time!

[2016-10-06 16:23] #1954 closed

[2016-10-06 16:31] evilebottnawi commented on #1575
@hudochenkov In the near future I will start integration into their style may be suggestions for improvement :smile:

[2016-10-06 21:02] jeddy3 commented on #1575
Well done. Congrats on another excellent plugin! :)

I'll create a PR adding it to the plugin list.

[2016-10-06 21:15] hudochenkov commented on #1575
@jeddy3 thank you :)

[2016-10-06 23:33] ntwb opened #1957 "False positives for CSS2 System Color keywords in value-keyword-case"
I came across this today in relation to CSS2 System Color keyword case:

Based on that recommendation should these [~28 system colors](https://www.w3.org/wiki/CSS/Properties/color/keywords#System_Colors) cases be ignored?
(_Note: CSS System Colors are deprecated in CSS3_)

Possible Solutions:

1. Add a new `value-keyword-case` rule option `ignoreSystemColors` option with the ~28 keywords added to

[2016-10-07 08:22] hudochenkov commented on #1948
I forgot to mention, that I [found this problem](https://github.com/hudochenkov/stylelint-declaration-block-order/blob/c081feb12be653db9d524498c68cbb95b9de0456/test/validate-options.js#L93) while been working on my plugin. This issue won't be fixed for plugins, I assume?

[2016-10-07 08:54] evilebottnawi commented on #1957
@ntwb sgtm

[2016-10-07 14:35] davidtheclark commented on #1948
@hudochenkov: I would inform your users that they *must* use a *nested* array for the primary option.

[code]

not

[code]

[2016-10-07 15:03] ai commented on #1892
Fixed in SugarSS 0.2. Thanks for helping in investigation.

[2016-10-07 15:10] evilebottnawi commented on #1892
@ai Thanks, in the near future it'll do.

[2016-10-07 19:33] jeddy3 commented on #1957
Lets go with option 2 - "Add a new keyword set systemColors and ignore all ~28 by default.". Deprecated or not, they're still valid values.

It's makes the rule more permissive by default, so isn't a breaking change.

[2016-10-08 06:26] ntwb commented on #1722
Thanks @gaidarenko 🎉

[2016-10-08 14:37] #1810 closed

[2016-10-08 14:37] #1881 closed

[2016-10-08 14:37] #1882 closed

[2016-10-08 14:38] davidtheclark commented on #1948
Fixed in #1930.

[2016-10-08 14:38] #1948 closed

[2016-10-08 14:38] davidtheclark commented on #1947
@evilebottnawi Just merged #1930 so if you'd like to try AVA, the time is ripe.

[2016-10-08 15:37] evilebottnawi commented on #1947
@davidtheclark let's go, in the near future :smile:

[2016-10-08 16:37] #1751 closed

[2016-10-08 16:39] dryoma opened #1961 "table update breaks Node 0.12 compatibility"
Hey guys!

Starting with 3.8.0 `Table` (a dependency for stylelint) [uses `es2015-node4`](https://github.com/gajus/table/issues/18) preset for building, thus breaking compatibility with 0.12:

I know that you have dropped 0.12 compatibility, yet maybe you would like to consider preserving it for the sake of `stylelint-test-rule-tape`? We use it for running tests in stylelint-scss, and several days

[2016-10-08 16:50] evilebottnawi commented on #1961
@dryoma format you issue please

[2016-10-08 16:53] jeddy3 commented on #1786
@davidtheclark I'll jump on this.

[2016-10-08 17:06] jeddy3 commented on #1786
Scratch that sorry, I'll [leave this](https://github.com/stylelint/stylelint/pull/1906#issuecomment-247860688) to @evilebottnawi to experiment with. I'm unsure how it will be possible to ensure the accuracy of this rule as the CSS has no way of knowing if it's being applied to a Replaced Element or not. So, I'm also in favour moving this out of core.

[2016-10-08 17:14] jeddy3 opened #1963 "Release 7.4.0"
@davidtheclark Are you working on any more bugs, or shall I run through the release procedure?

- [x] stylelint release
- [x] stylelint-config-standard update README with new rules
- [x] stylelint.io update
- [x] demo update
- [ ] tweet

[2016-10-08 17:15] davidtheclark commented on #1963
I am trying #1878. I will time box this to 30 minutes or so and let you know if I can't finish it by then.

[2016-10-08 17:19] #1957 closed

[2016-10-08 17:25] davidtheclark commented on #1963
Forget it. Go ahead and release.

[2016-10-08 18:32] jeddy3 commented on #1963
Done!

🎉

@davidtheclark Would you mind tweeting? I was sure how to present the configuration lookup changes.

As an aside, can we try a slightly different approach with the changelog this time? Instead of updating the wiki, can we just use the github online editor to update CHANGELOG.md when merging a PR? That's just as easy as updating the wiki, there shouldn't be any conflicts, and it almost ma

[2016-10-08 18:33] #1963 closed

[2016-10-08 18:40] davidtheclark commented on #1963
Sounds great.

[2016-10-09 11:49] vkrol opened #1964 "Invalid option value "null" for rule after upgrading to 7.4.0"
After upgrading to 7.4.0 stylelint shows the following warnings in the console:

[code]

function-blacklist
function-whitelist
unit-blacklist
unit-whitelist
property-blacklist
property-whitelist
selector-attribute-operator-blacklist
selector-attribute-operator-whitelist
selector-pseudo-class-blacklist
selector-pseudo-class-whitelist
at-rule-blacklist
at-rule-whitelist
comment-word-blacklist

e.g.

[2016-10-09 12:00] daltones commented on #1964
I can confirm the issue after 7.4.0.

I also noticed that only `declaration-property-unit-{blacklist,whitelist}`, `declaration-property-value-{blacklist,whitelist}` and `media-feature-name-{blacklist,whitelist}` are okay with `null` values.

[2016-10-09 12:10] vkrol commented on #1964
@daltones

You are right, Sorry for the confusion. I edited the original comment.

[2016-10-09 14:28] davidtheclark commented on #1964
Sorry! This is a regression after some essential refactoring in 7.4.0. I will get a fix out promptly.

[2016-10-09 18:18] #1964 closed

[2016-10-09 18:45] jeddy3 commented on #1964
@vkrol & @daltones Thanks for reporting the issue. @davidtheclark's fix was released in `7.4.1`.

[2016-10-09 18:54] jeddy3 commented on #1961
Hi @dryoma

As stylelint supports Node.js 4 and up, you might want to remove `0.12` from your travis config.

We [decided that](https://github.com/stylelint/stylelint/issues/1580) moving onto Node.js 4 was the best use of our limited time. For example, some of our devDependencies rely on Node.js 4 (e.g. eslint@3), as such testing (and supporting) `0.12` would stop us using features introduced in `

[2016-10-09 19:02] davidtheclark commented on #1964
Agh I just realized this is probably not the right solution! I am just starting a hike so will not write the next patch until this evening ... but I realized that the options validation should not even be being invoked for these nullified rules! Something earlier in the process should stop it. I suspect that there's just some line that should be looking for either null or an array containing null

[2016-10-09 19:11] jeddy3 commented on #1964
Oops, I should have caught this during the review.

I'm afraid I've got to crash now. As such, feel free to merge and release the next patch at your discretion.

Enjoy your hike! :)

[2016-10-09 21:29] vkrol opened #1966 "UnhandledPromiseRejectionWarning: Unhandled promise rejection"
After upgrading to 7.4.1 stylelint shows the following warnings in the console:

[code]

e.g.

[code]

7.4.1

gulp-stylelint

[2016-10-09 23:36] #1961 closed

[2016-10-09 23:46] davidtheclark commented on #1966
@vkrol: Can you narrow this down a little? What if you cut out the SCSS plugin? Is there no better info in your stack trace? I think I have an idea what's going on, but in the future a more reduced test case would be very helpful.

[2016-10-10 00:00] #1966 closed

[2016-10-10 00:02] davidtheclark commented on #1966
@vkrol I hope that v7.4.2 fixes your problem. Thanks for the opening the issue, and let us know if the problem persists.

[2016-10-10 00:03] davidtheclark commented on #1964
With v7.4.2 the rule code should not be run at all if the settings is `null`.

[2016-10-10 08:26] ntwb opened #1968 "Refactor stylelint cli distribution binary location"
This issue relates to a [discussion](https://github.com/stylelint/stylelint/pull/1930#issuecomment-251326408) had in #1930 regarding the stylelint `cli.js` file location.

Currently there's no easy way to test unpublished NPM versions of stylelint.

Some use cases:
• Testing upcoming changes such as the refactor in #1930
• stylelint users needing to "pin" a particular branch, pull request or fork

[2016-10-10 09:00] dryoma commented on #1961
@jeddy3 thanks for clarifying this. Yep, without you supporting 0.12 doing so in a plugin set doesn't do any good anyway :)

[2016-10-10 10:38] pixelass commented on #1946
having the same issue. It is one of the most important features (IMHO) therefore I can't use it until it is fixed. It breaks the entire need for a linter.

[2016-10-10 10:44] evilebottnawi commented on #1780
@jeddy3 what about `8.0.0` milestone here?

[2016-10-10 11:07] vkrol commented on #1966
@davidtheclark thanks! The errors are gone.

[2016-10-10 11:12] jeddy3 commented on #1946
@pixelass Would you like to contribute this fix? We created a [developer userguide](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md) to help people get started in contributing to this open source project. All help is welcomed and appreciated.

[2016-10-10 11:13] jeddy3 commented on #1780
Yes. This is a pre-`8.0.0` *major* change. After that it would be *minor*.

[2016-10-10 11:40] pixelass commented on #1946
@jeddy3 sure, I'd love to contribute. sadly I'm very busy this month. Since I am using this at work I might be able to invest some of that time.

[2016-10-10 13:44] pixelass commented on #1946
I'm having a few problems running the tests. There are over 23000 tests which are all logged.
Even if I test only this rule there are 90+ tests.

Wouldn't it make more sense to only logg errors? (not familiar with tape)
Maybe you there is a way to switch it off (at least while developing), otherwise it will be very hard and time consuming to fix issues.

[2016-10-10 13:53] pixelass opened #1969 "tests are too verbose"
question

all tests

this is a dev issue. no CSS needed

this is a dev issue. no CSS needed

`7.4.2`

`npm test` || `./node_modules/.bin/babel-tape-runner src/rules/,SOME_RULE>/__tests__/index.js`

this is a dev issue. no CSS needed

only failing test should be logged.

optional: error should be visually marked (red)

there are over 23000 tests. all are logged. even when working in a single rule t

[2016-10-10 14:07] evilebottnawi commented on #1969
@pixelass use pipe to file `npm test || ./node_modules/.bin/babel-tape-runner src/rules/,SOME_RULE>/__tests__/index.js > failed`

[2016-10-10 14:12] davidtheclark commented on #1968
Feel free to give that a try, but I don't know any reason it should work.

I doubt there is any way around the need to run `npm run build` if you are not using a standard npm install, which runs that command automatically. Even if we made `cli.js` not rely on Babel transformations, the files that it imports would. If everything works, though, after you `npm run build`, that's not too bad for devel

[2016-10-10 14:24] pixelass opened #1970 "glob not working"
bug

global

none

none

`7.4.2`

`stylelint  src/**/*.css`

all files in all directories are linted

only one level (`src/*/*.css`) is linted

[code]

[2016-10-10 14:24] pixelass commented on #1969
@evilebottnawi thx a bunch.. will test it

[2016-10-10 14:25] davidtheclark commented on #1969
@pixelass This is how Tap test results work.

You can find the failing tests via Ctrl+F "not ok". That's how I do it, and it works fine.

Alternately, you can try out the many [pretty tape reporters](https://github.com/substack/tape#pretty-reporters) to get an output you like more.

Finally, I'll add that if anybody wants to put in the work experimenting with alternate test runners for our rules,

[2016-10-10 14:25] #1969 closed

[2016-10-10 14:27] davidtheclark commented on #1970
@pixelass: Try putting quotation marks around your glob. What happens then?

[2016-10-10 14:31] davidtheclark commented on #1966
@vkrol: Whew! Good to hear.

[2016-10-10 14:31] pixelass commented on #1969
@evilebottnawi Your suggestion did not work. It outputs the content to a file but I still have to search for them. The output did help though (totally forgot that I can simply print it to a file over cli)

@davidtheclark yeah, I figured. That's why I added the remark "I'm not familiar with tape".
I was really only asking to save time so looking for a reporter is the last thing I'll do. Thx for the

[2016-10-10 14:35] pixelass commented on #1970
tried it initially. it causes an error

[code]

[2016-10-10 14:37] pixelass commented on #1946
In my case the issue was caused by #1970 (still looking into this though)

[2016-10-10 14:42] davidtheclark commented on #1970
@pixelass That's pretty weird ... not something we've seen before or other users are running into. Is the syntax error correct — do you have a misplaced `?`? Could you share a gist or repo with your files?

[2016-10-10 15:27] gaidarenko commented on #1777
Please label this issue as `wip`

[2016-10-10 15:31] evilebottnawi commented on #1777
@gaidarenko :+1:

[2016-10-10 15:34] evilebottnawi commented on #1970
@davidtheclark @jeddy3 what about add label `triage` (as `eslint`), because some issues are not discussion, but we have to show that see this?

[2016-10-10 18:05] evilebottnawi opened #1971 "Separate core and postcss-api"
This discussion and proposal. We have a good core with configurations, plugins, processors, support
gitignore and etc. I am sure that in the future we will achieve even greater improvements in it. I recently ran into a problem writing our linters, was not associated with `CSS`, `Less`, `Scss` and etc. His task was to lint our internal configuration files (for build systems). I've been thinking how

[2016-10-10 21:09] klebba opened #1972 "Shareable Configs similar to ESLint?"
This may be a feature request, or perhaps I'm missing something... I'm trying to distribute my rule set across projects. In ESLint, this is done through Shareable Configs which may be globally installed (```npm install -g eslint-config-my-rules```)

http://eslint.org/docs/developer-guide/shareable-configs

Can this be achieved with Stylelint? It seems like I need to specifically install local copi

[2016-10-10 21:17] m-allanson commented on #1972
See http://stylelint.io/user-guide/configuration/#extends and https://github.com/search?utf8=%E2%9C%93&q=stylelint-config-

[2016-10-10 21:24] #1972 closed

[2016-10-10 22:10] m-allanson commented on #1972
@klebba I think I misread your issue - you want to install a config globally and then reference it from several different projects on the same machine? I don't think stylelint supports that at the moment, if it's something you'd like to see could you create a new issue using the issue template?

[2016-10-10 22:24] klebba commented on #1972
@m-allanson Sure -- yes I'm hoping to distribute Stylelint rules the same way that we distribute ESLint rules, so if this is currently impossible I will open a new ticket

[2016-10-10 22:38] davidtheclark commented on #1972
@klebba You should be able to put a `.stylelintrc` in a directory that is parent to those projects you want to use it, and the child directories should find it.

[2016-10-10 22:44] klebba opened #1973 "Allow shareable configs to be globally installed"
This is a feature request for "Shareable Configs" which behave the same way that they do in ESLint:

http://eslint.org/docs/developer-guide/shareable-configs

In ESLint, Shareable Configs may may be globally installed (`npm install -g eslint-config-myrules`) and will be found automatically when running `eslint` if they are prefixed with `eslint-config-`

This allows a developer to configure their

[2016-10-10 23:17] davidtheclark commented on #1973
Thanks @klebba for the suggestion.

stylelint uses [cosmiconfig](https://github.com/davidtheclark/cosmiconfig), which searches up the file tree, but does not search `node_modules` for global installs. So if the global npm install is not on that route, it will not be found.

This is a change that should be made in cosmiconfig, then carried over to stylelint.

[2016-10-11 00:41] klebba commented on #1973
@davidtheclark thanks for considering.

[2016-10-11 01:10] davidtheclark commented on #1970
@evilebottnawi I think if we don't yet have a good label for it, e.g. not sure if it's a bug or not like this one, we can just leave it unlabeled, right?

[2016-10-11 01:12] ntwb commented on #1970
Historically we've used `discussion` pretty much for this purpose, then changed the labels once we have determined if it's a bug

[2016-10-11 01:23] davidtheclark opened #1974 "Increase Flow coverage"
We recently introduced [Flow](http://flowtype.org/) types to some of the files in `src/`. We should try to gradually extend that coverage to more of the app, focusing first on the non-rules code and then seeing how we can start type-checking all the rules, as well.

Anybody who is interested in learning how to use Flow is welcome to submit PR's of any size adding annotations anywhere you feel like

[2016-10-11 01:30] davidtheclark commented on #1971
I think this is a good idea ... but also a huge amount of work. Unfortunately, if it goes well and we convince any other linters to using this core linter API — that would mean even *more* work.

If somebody is interested in creating and maintaining a core linter API like you suggest, they are welcome to use the open-source code here; and if they pull it off we could consider using it. But I don't

[2016-10-11 07:19] m-allanson commented on #1974
Consider me interested :) Although realistically it'll be about a week until I have a chance to dig in. I'd also be interested to see PRs from anyone else that wants to work on this.

[2016-10-11 08:43] ntwb commented on #1974
Likewise, very interested, but alas I've not much available time at the moment.

Will look forward to checking out any PRs submitted 😄

[2016-10-11 09:05] evilebottnawi commented on #1971
@davidtheclark I think I will have time at the end of this month, I could do this job, to make an experimental branch and see how it will look

[2016-10-11 09:05] evilebottnawi commented on #1971
@stylelint/core how would you rate the idea?

[2016-10-11 09:06] evilebottnawi commented on #1971
@eslint/core I would like to hear your opinion on this issue

[2016-10-11 09:10] pixelass commented on #1970
thank you everybody.
@davidtheclark There was an issue with a css file. I am now excluding it and the pattern works in `'` quotation marks.
I will look into it again to see what was causing the error.
closing this for now since my issue was resolved by following your suggestions.

[2016-10-11 09:10] #1970 closed

[2016-10-11 10:22] ntwb commented on #1971
It sounds like a great idea in theory, but as @davidtheclark noted, a huge amount of work

[2016-10-11 11:48] evilebottnawi commented on #1971
Just puts '+1' if you think it is a good idea :+1:

[2016-10-11 15:06] davidtheclark commented on #1973
Changed my mind about ^^ — not sure this is a cosmiconfig issue or not. Probably not, actually, since it's about the resolution of `extends`.

[2016-10-12 14:57] davidtheclark commented on #1889
Fixed by #1978.

[2016-10-12 14:57] #1889 closed

[2016-10-12 16:53] wellyshen opened #1980 "Stylelint doesn't work on my Sublime Text 3"
Hi I use the "stylelint 7.4.2" with  "Sublinter-contribute-stylelint" but it doesn't work and I receive the following error on the console log of Sublime Text 3 debug mode (here's my [Repo](https://github.com/wellyshen/react-cool-starter)):

SublimeLinter: stylelint output:
Error: No configuration provided for /var/folders/31/6tnw20657rb5znbqj567_9xm0000gn/T/SublimeLinter3-Welly/Home.scss
    at e

[2016-10-12 17:01] evilebottnawi commented on #1980
@wellyshen first you should format you issue as template

[2016-10-12 17:21] evilebottnawi commented on #1892
Done in https://github.com/stylelint/stylelint/pull/1976

[2016-10-12 17:21] #1892 closed

[2016-10-12 20:30] Arcanemagus opened #1981 "getConfigForFile doesn't pull in .stylelintignore"
A bug where the `getConfigForFile()` function introduced in v7.4.0 (#1930) doesn't take into account `.stylelintignore` files.

N/A

N/A

_.stylelintignore_:
[code]

`7.4.2`

Node API (`linter-stylelint` Atom package on [this branch](https://github.com/AtomLinter/linter-stylelint/pull/285)).

No

The configuration returned from `getConfigForFile` should be complete, taking into account all relevan

[2016-10-12 20:35] Arcanemagus commented on #1981
It looks like from the documentation the two different methods of ignoring files (`ignoreFiles` and `.stylelintignore`) are actually completely different, is this something that `getConfigForFile()` is actually _supposed_ to handle, or should I be re-implementing this functionality?

[2016-10-12 21:17] davidtheclark commented on #1981
This should be handled by the `isPathIgnored` function. Give that a try.

[2016-10-12 21:45] Arcanemagus commented on #1981
That works perfectly, marking this as closed since apparently `getConfigForFile` isn't the right place in the first place!

[2016-10-12 21:45] #1981 closed

[2016-10-12 22:28] in-in opened #1982 "Add option to length-zero-no-unit README"
http://stylelint.io/user-guide/rules/length-zero-no-unit/

![90cd6](https://cloud.githubusercontent.com/assets/8797432/19329891/c6e8f094-90e3-11e6-9f7c-71fe2934e34a.png)

For example another rule with that option:
http://stylelint.io/user-guide/rules/string-no-newline/

![53a62](https://cloud.githubusercontent.com/assets/8797432/19329935/fe44987c-90e3-11e6-89b9-c164e9470d55.png)

[2016-10-12 22:31] jeddy3 commented on #1980
Closing as this is a sublime plugin issue. Please post in [their issue tracker](https://github.com/kungfusheep/SublimeLinter-contrib-stylelint).

@wellyshen As an aside, I believe they are looking for contributors to help maintain the plugin. As such, please consider helping out them out with a fix and support going forward.

[2016-10-12 22:31] #1980 closed

[2016-10-12 23:09] jeddy3 commented on #1982
@in-in Thanks for reporting. Please considering sending a pull request with a fix.

[2016-10-13 08:06] jeddy3 commented on #1982
Done in https://github.com/stylelint/stylelint/pull/1983

[2016-10-13 08:06] #1982 closed

[2016-10-13 23:37] ryanheathers opened #1985 "Path resolution issue with .stylelintrc and Gulp"
I'm running into an issue where Stylelint is unable to locate the `.stylelintrc` file. I'm running Stylelint as a PostCSS plugin through Gulp.

To repro, I'm using the following folder tree:
[code]

I want to run my `/utilities` gulpfile while I am within my `/test` directory. To do that, I use gulp's `--gulpfile` config option. So for example, my CLI command looks like `gulp util:style:lint --gul

[2016-10-14 00:12] davidtheclark commented on #1985
This may have been introduced with the recent change allowing for a different confit for each file. Probably we need to add another line to lookup config from cwd if none is found relative to the file.

[2016-10-14 22:27] in-in opened #1986 "Is this the correct form for the subtitle?"
http://stylelint.io/user-guide/rules/declaration-block-no-duplicate-properties/

![4fb52](https://cloud.githubusercontent.com/assets/8797432/19404349/03201d6a-9276-11e6-8a2f-00af69c60451.png)

According to other rules, the subtitle looks like "_Optional secondary options_".

[2016-10-15 00:26] ntwb opened #1987 "stylelint wish list"
Over on stylelint-config-wikimedia I [wrote](https://github.com/wikimedia/stylelint-config-wikimedia/issues/3#issuecomment-252401803):

Previously we've removed rules from stylelint and asked the styelint community to help out by creating plugins such as [stylelint-declaration-block-order](https://github.com/hudochenkov/stylelint-declaration-block-order)

So with the above 2 cases it would be nice

[2016-10-15 00:32] ntwb commented on #1986
Right you are @in-in, thanks for creating the issue 👍

Did you want to submit a pull request to fix this?

Changing `## Options` to `## Optional secondary options` in the rules README [here](https://github.com/stylelint/stylelint/blob/master/src/rules/declaration-block-no-duplicate-properties/README.md#options-1) is what is needed.

[2016-10-15 01:21] davidtheclark commented on #1987
Sure! It could be a Wiki page on the repo, that way anybody who wanted to could easily add a line.

[2016-10-15 16:50] davidtheclark commented on #1986
Closed by #1988.

[2016-10-15 16:50] #1986 closed

[2016-10-16 01:14] ntwb commented on #1986
Thanks @in-in 👍

[2016-10-16 01:18] ntwb commented on #1987
Ha... Sometimes the obvious solution is right in front of you 😏

Oh, looks like the wiki has been turned off again, @jeddy3 what do you think?

[2016-10-16 06:53] kriansa opened #1989 "configOverrides is not overriding "processor" config key"
## Issue description

I found a bug where documentation for `configOverrides` does not match actual implementation. On the docs, it says that one can override any configs coming either from a file or the `config` object. However, after several attempts to make the property `processors` work, I could see that only `rules` is being actually overwritten by `configOverrides`.

After digging into the c

[2016-10-16 09:05] thisconnect opened #1991 "regression? stylelint ignoreFiles options has no effect"
after upgrading stylelint from 7.3.1 to 7.4.2 the JS api `ignoreFiles: 'node_modules/*'` seems to have no effect

-

importing a stylesheet from a npm module for example

[code]

e.g.

[code]

e.g. `7.4.2`

as PostCSS plugin, the first plugin in postcss plugins

no

expected to NOT lint css from node_modules

after upgrade from `7.3.1` lots of warnings from font-awesome and animate.css

It can be

[2016-10-16 09:29] ntwb commented on #1971
@evilebottnawi I just saw this for the first time :) https://github.com/sahib/rmlint

[2016-10-16 15:00] davidtheclark commented on #1991
Ugh, these relative paths in configs are a huge pain point. Point of advice to future tool makers: just use JS files instead of silly JSON configs and everything will be better.

[2016-10-16 15:12] davidtheclark commented on #1991
@thisconnect: I believe the problem you're having is because your `ignoreFiles` glob is relative (not absolute) and you have no provided a `configBasedir`. If you change one of those, it *should* work.

Meanwhile, I am going to make a PR to ensure that in a situation like yours the `ignoreFiles` is interpreted relative to `process.cwd()` — that's what you expect, right?

[2016-10-16 15:15] davidtheclark commented on #1989
@kriansa So that I understand this correctly — I think you're *not* saying that you're unable to override rules. In fact, you're only unable to override plugins and processors. Is that correct? If so, let's change the title of this issue.

[2016-10-16 16:37] jeddy3 commented on #1987
A wishlist for those things sounds like a great idea to me. I've turned the wiki back on.

[2016-10-16 16:37] #1987 closed

[2016-10-16 16:41] kriansa commented on #1989
Hello @davidtheclark , I'm sorry if I wasn't very clear. It's actually the opposite.

Currently, we are **not** able to override `plugins` or `processors`. The only config key I could successfully override is `rules`.

I've changed the title. Let me know if it's better.

Thanks!

[2016-10-16 17:02] #1985 closed

[2016-10-16 17:22] davidtheclark commented on #1973
I've thought about this more and I'm not sure ... here are some reasons:

1. I think I recommend *against* what @klebba wants to do. I believe a better practice is to install the dependencies of each project *within that project*, instead of having projects that rely on global modules.
2. You can accomplish what's requested by providing an absolute path to your globally installed config package.
3

[2016-10-16 18:21] klebba commented on #1973
Thanks for summarizing @davidtheclark. My rationale for requesting this feature is to have parity with ESLint. As a user of both tools, it's frustrating when there are variations in the way they can be used. I think it's worth adding to your consideration that similar/popular libraries do allow this method for distributing config

[2016-10-16 18:38] thisconnect commented on #1991
I did have a `configBasedir`, removed that to provide a very minimal example. I can try again with `configBasedir`.

Yes

[2016-10-16 19:24] thisconnect commented on #1991
how should I test? checkout github.com/stylelint/stylelint , npm run build , npm link, cd myrepo, npm link stylelint ?

[2016-10-16 20:43] davidtheclark commented on #1973
Parity with ESLint is not a goal of this project. ESLint is a source of good ideas, one among many. For the reasons mentioned above, I'm not sure this is a great feature. Stylelint already suffers some from imitating certain ESLint patterns that turn out to have been less-than-ideal. So I think we need to discuss whether this is a good feature or not — regardless of ESLint.

[2016-10-16 20:45] davidtheclark commented on #346
https://github.com/Jardinero/stylelint-plugin already exists, so I'll close this.

[2016-10-16 20:45] #346 closed

[2016-10-17 00:42] ntwb commented on #1987
Thanks, nothing fancy, but added a section on the wiki home page 👍

https://github.com/stylelint/stylelint/wiki

[2016-10-17 04:50] kriansa opened #1996 "Use dim instead of gray in formatters for compatibility with color chaining"
When using iterm2 solarized theme, string formatter is displaying line number so light we can barely see it.

Currently, it uses `chalk.gray`, but I think that `chalk.dim.white` would be better. What do you think?

![screenshot](https://i.imgsafe.org/4455877f84.png)

[2016-10-17 05:21] thisconnect commented on #1991
cloned stylelint directly into node_modules and did npm run build. Your fix works nicely for me thanks!!

[2016-10-17 09:11] jeddy3 commented on #1996
Is this not a bug with the iterm2 solarized theme as `gray` should be gray and not black, right?

Having said that, can you go into a bit more detail about why you think `dim.white` would be better than `gray` e.g. is there a resource out there that lays out the compatibility of each?

[2016-10-17 12:57] kriansa commented on #1996
In fact, that seems to be a solarized issue, as `gray` is not a compatible color.

https://github.com/altercation/solarized/issues/220

I just fixed my issue by installing a forked version of this theme ([base16-solarized](https://github.com/chriskempson/base16-iterm2/blob/master/base16-solarized.dark.256.itermcolors))

However, I'd like to add more to this discussion.

I think that using `dim.whi

[2016-10-17 13:33] jeddy3 commented on #1996
Thanks for adding more to the discussion.

That's a compelling reason to change to `dim` from `gray`.

@stylelint/core Any objections to making this change?

[2016-10-17 13:44] #1989 closed

[2016-10-17 13:45] #1917 closed

[2016-10-17 13:50] davidtheclark commented on #1996
No objection.

[2016-10-17 14:24] #1777 closed

[2016-10-17 15:51] jeddy3 commented on #1973
@klebba Hello. FYI, this is mainly in reference to adopting eslint's _array-based_ configuration object pattern, which we did without first weighing up the merits of such a pattern. This pattern has presented us with numerous issues since stylelint's inception. We don't want to make that same mistake again.

Agreed. Mainly for the following reason:

A code base is likely to be compatible with a _p

[2016-10-17 17:22] ryanheathers commented on #1985
👍  Thanks for the fast resolution on this!!

[2016-10-17 18:16] klebba commented on #1973
Hey @jeddy3 -- thanks for following up. I do understand the rationale for locally installed rules, but there are situations where globally installed rules are desirable too. Ideally stylelint would support both use cases, and leave it up to users to choose (as ESLint has done).

Sure, this is likely for some situations, but not all. Your definition of a "project" may not be what our definition is.

[2016-10-17 20:50] marcobiedermann opened #1997 "False positive for crispEdges in value-keyword-case"
Add "camelCase" and "except" option.

`value-keyword-case`

[code]

[code]

`7.4.2`

Gulp Taskrunner:

[code]

No

"No warnings to be flagged."

[code]

Here are the best ways to help resolve your issue:

[code]

[2016-10-18 08:59] evilebottnawi commented on #1997
@marcobiedermann thanks for feedback

[2016-10-18 09:02] jeddy3 commented on #1997
@marcobiedermann Thanks for the report and for using the template.

The `value-keyword-case` rule should handle these camelCase words _by default_. I thought we'd [accounted for them all](https://github.com/stylelint/stylelint/blob/master/src/reference/keywordSets.js#L281-L286), but clearly we're missed this one.

@marcobiedermann Would you like to submit a PR adding it?

[2016-10-18 12:43] jeddy3 commented on #1912
Thanks to @epoberezkin and @gajus [recent work on `table`](https://github.com/gajus/table/commit/76290f642c6e7db26eb86a22d0ec7cfc590c15830), I think this can be closed.

Thanks guys for making this change!

[2016-10-18 12:43] #1912 closed

[2016-10-18 13:08] epoberezkin commented on #1912
@jeddy3 just to confirm, it all works now, correct?

[2016-10-18 13:11] evilebottnawi commented on #1912
@Arcanemagus ping

[2016-10-18 14:14] evilebottnawi commented on #1997
Done in https://github.com/stylelint/stylelint/pull/1998

[2016-10-18 14:14] #1997 closed

[2016-10-18 14:16] evilebottnawi commented on #1878
Done in https://github.com/stylelint/stylelint/pull/1984

[2016-10-18 14:16] #1878 closed

[2016-10-18 14:32] woble opened #1999 "Syntax Error for custom property sets in no-descending-specificity"
When using [postcss-apply](https://github.com/pascalduez/postcss-apply) in combination with `no-descending-specificity` rule, two things happen.

1. Using `gulp-postcss` errors out.
2. Using `CLI` return unexpected output.

`no-descending-specificity`

[code]

[code]

e.g. `7.4.2`

1. Using `gulp-stylelint` returns an error and breaks the build process because, presumably, the gulp-stylelint can't

[2016-10-18 14:36] evilebottnawi commented on #1999
@woble can you show full stack trace?

[2016-10-18 14:41] jeddy3 commented on #1999
This is probably because custom property sets [are parsed as rules](https://astexplorer.net/#/W1mMdWlyqF) in PostCSS.

It might simply be the case of returning early [here](https://github.com/stylelint/stylelint/blob/master/src/rules/no-duplicate-selectors/index.js#L35) if the "rule" is actually a [custom property set](https://github.com/stylelint/stylelint/blob/master/src/utils/isCustomPropertySe

[2016-10-18 15:40] woble commented on #1999
That was my assumption as well. Can you provide what I need to test and I will.

@evilebottnawi what full stack of do you want exactly? Everything I posted is all I get for stylelint.

[2016-10-18 15:41] evilebottnawi commented on #1999
@woble
[code]

[2016-10-18 15:43] evilebottnawi commented on #1999
@woble full stacktrace of error with error line and column and stack of functions calls

[2016-10-18 15:48] jeddy3 commented on #1999
To paraphrase [the developer guide](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#fixing-bugs):

Adding the following [here](https://github.com/stylelint/stylelint/blob/master/src/rules/no-descending-specificity/__tests__/index.js#L59) should be enough:

[code]

Use the following to run tests:

[code]

Good luck :)

[2016-10-18 15:58] woble commented on #1999
Thanks, I will see what I can produce.

@evilebottnawi
The stuff I provided was output in a console and it does not appear to expand objects. Any suggestions on how to easily produce it outside the console?

[2016-10-18 16:07] evilebottnawi commented on #1999
@woble https://github.com/stylelint/stylelint/blob/master/src/standalone.js#L119 -> `console.log(error)`

[2016-10-18 16:44] Arcanemagus commented on #1912
I'm still seeing this problem with `table@3.8.2`, double checking that it's in `table`.

[2016-10-18 16:46] Arcanemagus commented on #1912
![image](https://cloud.githubusercontent.com/assets/427137/19487451/b7da1e06-9517-11e6-8a22-9b1a0d287b59.png)

It's blowing up on that now, checking out the `table` source to see where that is coming from.

[2016-10-18 16:48] epoberezkin commented on #1912
Well, the good news is it's not ajv any more :) @gajus is it something babel is doing? I don't see it in the source

[2016-10-18 16:50] epoberezkin commented on #1912
omg, I think we somehow managed to publish instrumented version of table package... That is good that it was broken at least, or we could have missed it.

[2016-10-18 16:59] woble commented on #1999
PostCSS does indeed treat it as a selector, as @jeddy3 showed. Adding the following [here](https://github.com/stylelint/stylelint/blob/master/src/rules/no-descending-specificity/index.js#L37) solves the problem with both standalone (no `Cannot parse selector` message) and gulp-stylelint (no runtime error).

[code]

Would that be sufficient enough for you guys?

[2016-10-18 17:00] Arcanemagus commented on #1912
Heh, came back here to report that it's the Istanbul Babel plugin, but it looks like you already caught that 😛.

[2016-10-18 17:02] Arcanemagus commented on #1912
Looks like if `BABEL_ENV` isn't set then it defaults to `development`, which uses the `istanbul` plugin.

[2016-10-18 17:09] gajus commented on #1912
My mistake, sorry – forgot that `NODE_ENV` defaults to `development`. I have added a [prepublish step](https://github.com/gajus/table/blob/2d1c0d9ebad31f9c76e784e6a88f701de8705005/package.json#L65) that rebuilds the package using `NODE_ENV=production`. [v3.8.3](https://github.com/gajus/table/tree/v3.8.3) has been published.

[2016-10-18 17:12] Arcanemagus commented on #1912
table v3.8.3 works, thanks! 🎉

[2016-10-18 17:29] marcobiedermann commented on #1997
Wow, this was quick! Thank you @evilebottnawi for your implementation 👍

[2016-10-18 22:59] t0lkman commented on #1379
What if we don't use scss? We use postcss and still want to use double slash comments?

is it possible not to turn on sass syntax and add double slash support?

[2016-10-18 23:16] davidtheclark commented on #1379
@t0lkman: Double-slash comments are non-standard syntax, so they require a non-standard parser.

[2016-10-19 14:08] davidtheclark commented on #1999
Closed by #2000.

[2016-10-19 14:08] #1999 closed

[2016-10-19 16:47] Arcanemagus opened #2001 "block-opening-brace-space-before false positive in SugarSS"
A bug where `block-opening-brace-space-before` triggers on SugarSS files (that don't have `{`).

`block-opening-brace-space-before`

[code]

`stylelint-config-standard`

`7.5.0`, this is a regression from `7.4.2`, possibly due to #1958?

Node API (`linter-stylelint` Atom package).

Yes, it's related to SugarSS.

I expected a warning about the missing leading zero to be the only message.

The follo

[2016-10-19 16:52] evilebottnawi commented on #2001
@Arcanemagus i think need disable, in sugarss we don't have `braces`, let's wait what says @jeddy3 or @davidtheclark

[2016-10-19 17:13] kriansa commented on #1996
Would you like me to submit a PR for that?

[2016-10-19 17:58] jeddy3 commented on #1996
If you wouldn't mind.

All the issues labeled with "status: help wanted" are up for grabs :)

[2016-10-19 22:32] kaicataldo opened #2002 "Allow the use of custom parsers via the CLI/Node API"
I have a custom PostCSS parser I'd like to use with stylelint, but it doesn't appear that stylelint allows for the use of custom parsers via the CLI or Node API. I understand that I can use the PostCSS plugin and make a wrapper around it if I really to do this, but it seems like something stylelint should be able to do. Ideally, it would be available through the `--syntax` flag and in a config fil

[2016-10-19 23:00] davidtheclark commented on #2002
@kaicataldo: I'm interested in hearing more details about what you think would be a viable API. Also, can you please read the discussion in #1749 and share your opinion on how this relates to all that?

[2016-10-20 05:07] kaicataldo commented on #2002
Reading through that linked discussion, I'm not sure I understand what the issue of allowing users to define their own parsers is, especially since the PostCSS plugin currently allows a user to run stylelint with a custom parser. It's confusing to me that it's allowed for one use case but not for the rest.

As a working example, ESLint allows alternate parsers (a very, VERY popular one is babel-es

[2016-10-20 09:33] evilebottnawi commented on #2002
@davidtheclark duplicate https://github.com/stylelint/stylelint/issues/1749 ?

[2016-10-20 14:38] davidtheclark commented on #2002
Thanks for elaborating, @kaicataldo. I think this sounds like a good plan.

- While loading the config, we would look up parsers the same way we look up plugins/extends/processors.
- This feature would only be enabled in the CLI and Node API.

@kaicataldo: Are you interested in taking a crack at this? That would be great. If you're only able to do partial work, the most helpful thing would be gett

[2016-10-20 14:41] kaicataldo commented on #2002
Yeah, happy to look at this!

[2016-10-20 19:00] davidtheclark commented on #2001
I agree that since we already have that caveat listed, we should just add another caveat and expect users to disable the rule. Unless someone wants to dig in a little and see if there's a simple solution.

[2016-10-21 14:44] evilebottnawi opened #2004 "Rule `property-require-support`"
Require use `support` for property (properties). We love `flex`, but some browser not support their or have not fully support (example UC browser or old Android 4.1, 4.2 not support `flex-wrap` and `flex-shrink`). Sometimes we forget about this, be good have rule which reminds us of this. Also be good be able to specify more than one property such as an array (use `flex` is good, but if you use `f

[2016-10-21 14:53] davidtheclark commented on #2004
@evilebottnawi Sounds interesting. Can you provide some examples of what would trigger a warning, and what would not?

[2016-10-21 15:47] evilebottnawi commented on #2004
@davidtheclark
`property-require-support: [{'display': 'flex'}]`
[code]

`property-require-support: [{'display': 'flex', 'display': 'flex-wrap'}]`
[code]
[code]
`property-require-support: [{'display': 'flex', 'display': 'flex-wrap'}, {'text-align-last': '*'}]`
[code]
`property-require-support: [{'flex(-*)?': '*'}]`
All using `flex` property and `flex-*` properties for all values.

[2016-10-21 16:00] davidtheclark commented on #2004
@evilebottnawi Your examples are confusing me because none of them have `@supports`. Is that not what you're talking about?

[2016-10-21 16:13] #1996 closed

[2016-10-21 20:40] jeddy3 commented on #2001
Agreed. Done in https://github.com/stylelint/stylelint-config-standard/pull/46

[2016-10-21 21:17] Arcanemagus commented on #2001
I'll add that to the list of automated exceptions when editing SugarSS files then, closing this issue and thanks for the decision!

[2016-10-21 21:17] #2001 closed

[2016-10-21 23:59] davidtheclark commented on #1973
Note that this is still possible and pretty simple with stylelint, you just need to provide an absolute path in `extends` instead of a module name.

However, it's possible that we could build this in. We'd need to think through the details of global vs. local implementation? @klebba since you are a user who is used to this and wants this, can you help us out?

Here's the specific question I'm thin

[2016-10-22 12:21] jeddy3 commented on #1968
I believe this is the case.

I think we can close this issue with the addition of a FAQ entry:

---

How do I "pin" a particular branch, pull request or fork of stylelint in my `package.json`?

Use [`npm-git-install`](https://github.com/lzrski/npm-git-install), to work around [a current limitation](https://github.com/npm/npm/issues/3055) of `npm`.

---

[2016-10-22 12:40] jeddy3 commented on #1971
Agreed. I think we'd need to assess the level of support the initiative has before adopting it i.e. if there is a dedicated team of contributors then it might alleviate some of our workload. However, if there isn't then it could increase our workload.

Same here. As such, I'm going to close this issue within the stylelint org.

@evilebottnawi Feel free to try this initiative outside of the styleli

[2016-10-22 12:40] #1971 closed

[2016-10-22 13:56] evilebottnawi commented on #2004
@davidtheclark I gave an example of errors. That it is not clear?

[2016-10-22 14:03] davidtheclark commented on #2004
@evilebottnawi None of these examples show the use of `@supports`. Am I right in thinking that `@supports` is what this rule is all about?

[2016-10-22 18:14] #1951 closed

[2016-10-23 22:33] threehams opened #2008 "Rule `no-descendant-selector`"
Feature request: new rule to disallow descendant selectors or direct-descendant selectors (configurable), independently from nesting or specificity rules.

The purpose of this is to prevent writing selectors which cross component boundaries, or the unnecessary use of descendant selectors, when isolating styles within a component. This type of selector is extremely difficult to catch manually durin

[2016-10-24 09:58] evilebottnawi commented on #2004
@davidtheclark oh sorry
`property-require-support: [{'display': 'flex'}]`
Error:
[code]
Not error:
[code]
No error:
[code]

[code]
Also support regex in property and value. Not sure of the groups of clarity is probably better to avoid them, but leave is here to discuss

[2016-10-24 10:00] evilebottnawi commented on #2008
@threehams can you give more examples?

[2016-10-24 11:18] ThePeach opened #2009 "False positives with SCSS maps in color-named"
This is a bug related to `color-named` and happens when a variable name has the same name of a key of a map

The needed SCSS snippet to trigger this is the following:

[code]

[code]

`7.5.0`

via `gulp-stylelint`

"Yes, it's related to SCSS maps."

"No warnings to be flagged."

"The following warnings were flagged:"

[code]

[2016-10-24 15:55] kaicataldo commented on #2002
Just a heads up that I'm busy with work and some other open source work at the moment, but hope to get to this next week or the week after!

[2016-10-24 15:58] Ne-Ne opened #2010 "Deprecate declaration-block-properties-order in favour of more specific community plugins"
I want to test my Sass (scss) without having the properties being in a set order.

declaration-block-properties-order

[code]

"gulp-stylelint": "3.4.0",

Nope

Code to flag, but with the order in each properties: [...] above (not in the listed order).

Flags loads of errors, because the code is not written in the order of each block above.
##

In an ideal world, I want the code to check through a

[2016-10-24 23:33] klebba commented on #1973
We can't commit an absolute path that will work across environments and workstations, so this isn't a solution for us.

To be honest I'm not exactly sure how the ESLint config behaves with regard local/global config resolution restrictions. I would have to dig into their implementation to form an opinion about this. In our particular case we either use global config/plugin/etc or local config/plug

[2016-10-25 01:28] davidtheclark commented on #1973
@klebba: You can do this by whatever means stylelint *would* do it if the feature were built-in. Is there an npm module to help find the global installation directory? Or is there a particular way to do it reliably?

Yes, somebody will have to do this.

I'm open to a PR implementing this. @stylelint/core anybody object?

[2016-10-25 01:32] davidtheclark commented on #2008
Seems like a fine idea to me.

[2016-10-25 05:46] threehams commented on #2008
Sure, here's a longer example in React. Imagine these are split up into 8 different files (4 JS, 4 CSS):

[code]

[code]

This rule is meant to catch three problems that can happen when working with more than a couple developers:

1. The first selector completely ignores component boundaries, and changes padding on the body of a panel on a specific page. Later on, when a new art director shows up,

[2016-10-25 08:51] jeddy3 commented on #2008
@threehams Thanks for writing up the longer example.

Will the existing [`selector-max-compound-selectors`](https://github.com/stylelint/stylelint/tree/master/src/rules/selector-max-compound-selectors) and [`selector-no-combinator`](https://github.com/stylelint/stylelint/tree/master/src/rules/selector-no-combinator) not suffice here?

[2016-10-25 08:59] evilebottnawi commented on #1973
@davidtheclark sgtm

[2016-10-25 09:50] jeddy3 commented on #1973
SGTM.

@klebba Thank you for [writing up](https://github.com/stylelint/stylelint/issues/1973#issuecomment-254288683) your use case. It really helped clarify your request :)

[2016-10-25 13:53] jeddy3 commented on #2009
@ThePeach Thanks for using the template.

You can the [`"ignore": ["inside-function"]`](https://github.com/stylelint/stylelint/tree/master/src/rules/color-named#ignore-inside-function) secondary option here e.g.

`"color-named": ["never", { "ignore": ["inside-function"] }]`

[2016-10-25 14:27] jeddy3 commented on #2010
@Ne-Ne Thanks for using the template.

@davidtheclark I think you called it a while back when you said we'd struggle to clearly define this rule's "finished" state. I'm not keen on building this flexibility into this already-complex rule, especially when the majority of the value of this rule is having all your properties in a predictable position.

I'm wondering whether we use this issue as the c

[2016-10-25 16:19] Ne-Ne commented on #2010
@jeddy3 Thanks for taking the time to reply.

I feel that if the properties grouped together are far more legible. An example being positioning, the values that affect positioning such as top, left, right and bottom. Should be close proximity, as they can be edited / read both in dev tools and in for production (Some QA and common UI components) much quicker than scrolling or re-checking a class.

[2016-10-25 16:29] threehams commented on #2008
Thanks! Those are perfect - and I guess I've just learned two new terms for those selectors.

I'm going to see what it would take to add search to the generated docs site, and maybe open a separate issue for that.

[2016-10-25 16:29] #2008 closed

[2016-10-25 16:40] jeddy3 commented on #2008
No worries. This [vocab guide](http://apps.workflower.fi/vocabs/css/en) is excellent at illustrating the various difference between _selectors_ and _combinators_.

There's already an issue for that (https://github.com/stylelint/stylelint.io/issues/1), but it's been loitering since Feb and so any help with it would be appreciated :)

[2016-10-25 18:20] jeddy3 commented on #2010
Can you please provide some more (minimal) examples of what you want to happen? e.g. "with the _following config_ `...`, the following CSS `...` would produce the following `...` warnings".

Originally, I thought you were asking for an option that would allow for the _flexible_ ordering of _groups_, but with a _strict_ ordering _within each group_ e.g.

[code]

With such a config, both the followi

[2016-10-26 08:59] Ne-Ne commented on #2010
Sorry was a long day yesterday. That is exactly what I am looking for. You already have support for custom messages.

[2016-10-26 13:17] Ne-Ne opened #2012 "'number-no-trailing-zeros' bug when using rgba($variable, $value) after 0, if turned on"
As written in the description, number-no-trailing-zeros when set to true, using rgba in Sass (SCSS).

number-no-trailing-zeros

e.g.

[code]

[code]

[code]

Gulp ^^, using gulp-sass.

Relates to box-shadow when a property is set after 0.

No warnings to be flagged.

e.g. "The following warnings were flagged:"

[code]

Many thanks.

[2016-10-26 13:43] evilebottnawi commented on #2012
@jeddy3 @davidtheclark i think we should add option `{ "ignore": ["inside-function"] }` as in https://github.com/stylelint/stylelint/issues/2009

[2016-10-26 14:00] ThePeach commented on #2009
@jeddy3 thanks for the explanation. I don't have a use case on all the projects I'm using to do the automatic replacement with PostCSS and I'd rather write that once and forget about it.

I've used the suggested option and it seems to be working fine.
I would also agree that as a default behaviour it might be probably better, but -again- I don't have a use case for this instance.

[2016-10-26 17:20] gaidarenko commented on #1284
Please label this issue as `wip`.

[2016-10-26 17:21] m-allanson commented on #1284
@gaidarenko Let's rock

[2016-10-26 17:47] jeddy3 commented on #2012
I think the use case here is different to #2009.

In this case, I'm struggling to understand why you wouldn't just drop the trailing zero. That would make numbers consistent everywhere e.g.

[code]

[2016-10-26 17:51] jeddy3 commented on #2010
Ok, thanks for clarifying.

@davidtheclark I think this is plugin territory. What do you think? Also, what do you think about my original proposal to strip this rule back?

[2016-10-26 21:11] hudochenkov commented on #2010
@Ne-Ne try [postcss-sorting](https://github.com/hudochenkov/postcss-sorting). It sorts rules.

[2016-10-27 00:58] ericorruption opened #2014 "ignoreFiles doesn't work with postcss-cli"
ignoreFiles is not being respected when used inside postcss-cli (and more specifically postcss-partial-import)

None

Reduced test case available at https://github.com/ericorruption/stylelint-postcss-cli

`7.5.0`

Postcss-cli (with stylelint as a plugin)

No

No parsing of styles from node_modules files

Errors on a node_modules file were thrown.

I tried several different syntaxes, even referenci

[2016-10-27 01:36] davidtheclark commented on #2012
Yeo ^^ Closing this because the rule is doing exactly what it's supposed to to.

[2016-10-27 01:36] #2012 closed

[2016-10-27 01:47] davidtheclark commented on #2010
I think this illustrates how the rule is trying to do too much.

I agree with @jeddy3's suggestion that we need to get serious about drawing some boundaries. I think the current should be altogether cut, and replaced with specific rules with clear boundaries. @jeddy3's example could be broken down further into two distinct rules:

- `declaration-block-properties-alphabetical-order`
- `declaration-

[2016-10-27 01:48] davidtheclark commented on #2014
What errors?

[2016-10-27 02:02] ericorruption commented on #2014
Sorry, I meant the usual style warnings of stylelint.

[2016-10-27 07:38] ptiswitz opened #2015 "Create case study detailing quantifiable benefits of using stylelint"
@ai Like we discuss during the CSS meetup Paris, is there is some informations/feedbacks of the community about the implementation of stylelint and its benefits ?

You told me that Facebook wrote an article about stylelint but not really on this subject. ;)

It'll be helpful to have some informations like number of PR reduces or legacy code cleaning, performance etc, to have a clear idea of the ga

[2016-10-27 08:28] ai commented on #2015
Sure, it was nice idea to have some real numbers from company which started to use Stylelint. I can ask some Russian developers to collect this stats, it will be very good for promotion.

What stats we should collect?

1. Core Review per month.
2. CSS related errors reports per month.
3. What else?

[2016-10-27 08:57] evilebottnawi commented on #2014
@davidtheclark i am using in some projects `postcss-cli`, i can investigate

[2016-10-27 10:12] ntwb commented on #1968
Fantastic, from my quick read of the upstream issue and `npm-git-install` docs this will do the trick.

Next time I need to test this out I'll document some of the commands used and see if they're worth adding to the FAQ.

Thanks heaps for this @jeddy3 and @davidtheclark and as is probably obvious I've not been around much recently, lots of work on at the moment 😄

[2016-10-27 11:05] #1968 closed

[2016-10-27 11:27] davidtheclark commented on #2014
@ericorruption: After looking at your repo, I believe what's happening is that you're compiling imports *first* and running stylelint *second*. This means that by the time stylelint is looking at your styles, they have been concatenated into one stylesheet. It makes sense that `ignoreFiles` doesn't work to *retroactively* ignore files that you've concatenated together.

We suggest running stylelin

[2016-10-27 11:30] davidtheclark commented on #2009
@jeddy3 I'm fine with ignoring maps by default.

[2016-10-27 11:31] davidtheclark commented on #2004
@evilebottnawi Is your second example reversed? Shouldn't the one with `@support` *not error*?

[2016-10-27 11:32] davidtheclark commented on #1947
@evilebottnawi: Are you going to tackle this? If not, I'm going to look into it soon.

[2016-10-27 11:44] davidtheclark opened #2016 "Use Jest snapshot testing on a suite of config-stylesheet pairs"
To protect against regressions, stylelint might benefit from having a collection of config-stylesheet test cases for end-to-end tests. For each test case, the test would be straightforward: Given this config and this stylesheet, what are the stylelint results? We would never be able to make this collection complete and systematic; it will always be a "last line of defense" effort. We'd gradually f

[2016-10-27 11:54] evilebottnawi commented on #2016
@davidtheclark sgtm, can you provide first example in PR?

[2016-10-27 11:56] evilebottnawi commented on #2004
@davidtheclark yep, I'm mixed in second example, first not error, second and third with error

[2016-10-27 11:57] davidtheclark commented on #2004
@evilebottnawi If you wouldn't mind, I think this would be more clear if you closed the issue and opened a new one with accurate examples right at the top. Currently there's a lot of confusing stuff.

[2016-10-27 11:58] evilebottnawi commented on #1947
@davidtheclark I have time at the end this week. I you want start now, let's go, sorry

[2016-10-27 11:59] evilebottnawi commented on #2004
@davidtheclark ok, i am do this in the evening today, sorry little time :sob:

[2016-10-27 11:59] #2004 closed

[2016-10-27 13:50] jeddy3 commented on #2009
@ThePeach Would you like to [contribute this fix](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#fixing-bugs)? It'll just be the case of [returning early if the "delc" isn't off standard syntax](https://github.com/stylelint/stylelint/blob/master/src/rules/declaration-colon-newline-after/index.js#L30).

[2016-10-27 14:42] Ne-Ne commented on #2010
While I could add this plugin, it does not make sense for the extra overhead.. Especially since stylelint team seem to be going in the right direction I want to use the lint tool in.

@davidtheclark That makes sense to me!

I think enforcing `declaration-block-properties-order` is overkill. But maintaining properties (margin, padding, border etc..) could keep better housekeeping for other devs.

I

[2016-10-27 16:43] kaicataldo commented on #2002
Opened a WIP PR https://github.com/stylelint/stylelint/pull/2017

Would love to discuss/get feedback so I can finish it up. Thanks!

[2016-10-27 20:02] mxstbr opened #2018 "Incorrectly reporting whitespace error in media query with comment"
Stylelint incorrectly reports a "Unexpected whitespace" error when a media query contains a comment.

`media-feature-parentheses-space-inside`

e.g.

[code]

e.g.

[code]

`7.3.0`

CLI with `stylelint MyComponent.js` with `stylelint-processor-styled-components`

It might be related to interpolations inside of `styled-components` CSS. See [this issue](https://github.com/styled-components/stylelint-

[2016-10-27 21:36] ericorruption commented on #2014
@davidtheclark thank you for the support. Indeed putting stylelint as the first plugin on the pipeline worked flawlessly. I was actually following a suggestion of postcss-partial-import when I put it first on the pipeline.

About running stylelint CLI directly, I thought there would be some performance gains by using the postcss pipeline instead. Not benchmarked or anything, just imagined so.

[2016-10-27 21:36] #2014 closed

[2016-10-28 00:38] ntwb commented on #2016
Sgtm, watched the Jest video and peeked at some of [the examples](https://github.com/facebook/jest/tree/master/examples) 👍

[2016-10-28 02:34] gilbarbara commented on #1341
Hey,
I just started build an engine for codeclimate. I hope to have it ready by next week.
https://github.com/gilbarbara/codeclimate-stylelint

[2016-10-28 08:20] evilebottnawi commented on #1341
@gilbarbara Very thanks!

[2016-10-28 11:01] ThePeach commented on #2009
@jeddy3 happy to help, I wonder if you linked to [declaration-colon-newline-after](https://github.com/stylelint/stylelint/blob/master/src/rules/declaration-colon-newline-after/index.js#L30) for a specific reason or am I missing something?

[2016-10-28 12:28] jeddy3 commented on #2009
It contains an example of how to return early if the "decl" isn't of standard syntax :)

[2016-10-29 15:18] davidtheclark commented on #2018
Closed by #2019

[2016-10-29 15:18] #2018 closed

[2016-10-29 16:05] jeddy3 commented on #2010
I agree. The upcoming `8.0.0` release seems like the most logical time to do this. As we did with the `7.0.0` release, I suggest we update the ["Release planning"](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/release-planning.md) document to reflect this decision. This will give the community time to help in the transition.

I'll update the labelling on this issue accordingly

[2016-10-29 16:16] jeddy3 commented on #2016
Excellent.

Agreed.

We'd definitely throw one of the rules that takes an array as a primary option into one of the first config-stylesheet pairs! :)

This seems like the most sensible way of building the suite.

This is a big plus as, despite our best efforts, quite a few regressions have occurred.

An excellent initiative. One that we can start small and build on over time.

[2016-10-29 16:52] hudochenkov commented on #2010
I would like to make these plugins, since it's kinda my thing to make order plugins for stylelint and PostCSS :)

[2016-10-29 18:54] davidtheclark commented on #2010
Fantastic @hudochenkov!

As mentioned above, I think the way to keep yourself most sane in maintaining them is to limit each plugin's scope to a specific kind of ordering without extra flexibility. If users want another kind of ordering, it could open space for a new plugin.

The sooner we can deprecate that rule and suggest your plugins, instead, the better!

[2016-10-29 18:55] davidtheclark commented on #2016
Great! Sometime soon I can start a branch setting up the Jest infrastructure for it, and I'd ask everyone to contribute at least a couple of test cases to get us going.

[2016-10-30 11:40] hudochenkov commented on #2010
To be sure, what I undertand about extracting this rule into plugins:

`stylelint-declaration-block-properties-alphabetical-order`:

Options: `true`.

Specify alphabetical order for properties. Prefixed properties must be placed before unprefixed properties. I want to remove requirement to have prefixed properties in alphabetical order. This is not considered warnings:

[code]

---

`stylelint-dec

[2016-10-30 14:57] davidtheclark commented on #2010
@hudochenkov Your plans for `stylelint-declaration-block-properties-alphabetical-order` and `stylelint-declaration-block-properties-specified-order` look good to me.

I'd recommend against tying `property-groups-structure` to any other plugins or rules. Could `property-groups-structure` implement the same API it currently supports? The other two plugins would support a flat array of property names

[2016-10-31 09:11] ntwb opened #2024 "Update Greenkeeper Bot"
I discovered today that a couple of unrequired branches created by Greenkeeper had not been deleted, i.e The changes were already covered by semantic versioning so a PR was not required.

Two more occurrences of this have since occurred:
• https://github.com/stylelint/stylelint/commit/76645ec20abc91c53c3f1b728ceeaac23a77881e - https://github.com/stylelint/stylelint/compare/greenkeeper-benchmark-2.

[2016-10-31 10:06] hudochenkov commented on #2010
You suggest also to check order in property-groups-structure? Which means code for `declaration-block-properties-specified-order` also will be in `property-groups-structure`?

It's an interesting idea. I can create `stylelint-order` plugin pack with these rules:

* [`declaration-block-order`](https://github.com/hudochenkov/stylelint-declaration-block-order)
* [`property-groups-structure`](https://

[2016-10-31 13:55] davidtheclark commented on #2010
Yeah, what I'm suggesting is that property-groups-structure checks the order of properties, according to flexible or inflexible groupings, with or without empty lines before. It's true that this means some implementation could might be shared between plugins ... that's what I thought it might be a good idea to maintain them in the same repo.

[2016-10-31 14:42] evilebottnawi opened #2025 "Rule idea `declaration-property-require-support`"
Require use support for property (properties) and value (units). We love flex, but some browser not support their or have not fully support (example UC browser or old Android 4.1, 4.2 not support flex-wrap and flex-shrink). Sometimes we forget about this, be good have rule which reminds us of this. Also be good be able to specify more than one property such as an array (use flex is good, but if yo

[2016-10-31 16:54] Arcanemagus commented on #2024
Just a note that I see this _all_ the time over on the AtomLinter repos.

[2016-11-01 17:38] #1284 closed

[2016-11-01 19:14] pedroivorbgrodrigues opened #2026 "Bug - Not validating trailing colon"
Hello fellow devs,

According to w3c css validator, the snippet below is not valid because of the trailing colon, but the linter gave me no errors. It was a misstype but took me a lot to figure out the css file was the problem not something else. I used the standard configuration on atom linter-stylelint plugin.

[code]

linter-stylelint version: 3.5.0
stylelint: 7.5.0
stylelint-config-standard: ^

[2016-11-01 19:19] evilebottnawi commented on #2026
@pearsonhenri first - it is not valid css (valid `.counter\:`), second - format your issue as template

[2016-11-01 20:18] Arcanemagus commented on #2026
@evilebottnawi The bug report is that it _isn't_ valid CSS... and Stylelint wasn't reporting that.

[2016-11-01 20:22] evilebottnawi commented on #2026
@Arcanemagus i don't see that rule should reporting about this. I have said it would be a good idea in the future to add validation rules selectors (allowed characters).

[2016-11-01 20:25] evilebottnawi commented on #2026
In this case i am propose new rule `selector-no-invalid-characters` (maybe best name) @jeddy3 @davidtheclark that do you think?

[2016-11-01 20:28] Arcanemagus commented on #2026
Interesting, so it doesn't show as a CssSyntaxError from PostCSS, but it is invalid CSS?

Are you sure this isn't a bug in PostCSS for not throwing a syntax error?

[2016-11-01 20:33] evilebottnawi commented on #2026
@Arcanemagus good question, maybe you are right and postcss should throw `CssSyntaxError`.
@ai What do you think about it?

[2016-11-01 21:01] davidtheclark commented on #2026
PostCSS does not validate CSS. It's meant to be flexible because people like their non-standard syntaxes, so it actually tries to accept as much variation as it can without breaking, I think. This colon after the selector is actually in use for non-standard syntax — we've dealt with it before here in stylelint, right?

@evilebottnawi I don't know how you would plan to implement `selector-no-invali

[2016-11-01 21:35] dmerc opened #2027 "option to disable 'length-zero-no-unit'"
i am extending "stylelint-config-standard", it sets 'length-zero-no-unit' to true. I would like to disable it, but config `"rules": { "length-zero-no-unit": false }` is invalid.

length-zero-no-unit

[code]

7.5.1

using webpack-stylelint-loader

no

No warnings to be flagged.

The following warnings were flagged:

[code]

[2016-11-01 21:46] m-allanson commented on #2027
@dmerc try using `null`, rather than `false`.

https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md#how-do-i-disable-a-rule

[2016-11-01 22:27] #2027 closed

[2016-11-01 22:37] ai commented on #2026
Technically, there is a very similar syntax of apply-mixins for it.

So CSS syntax spec allow it. Problems is that current browsers, doesn't **understand** it. But it is a **valid syntax**.

But, sure, we can add some simple rule for it. Like `understandable-selectors`.

[2016-11-01 22:43] m-allanson commented on #1974
PR #2007 is a useful reference for anyone looking at this issue.

[2016-11-02 08:45] evilebottnawi commented on #2026
@davidtheclark yep, we have allowed characters(tokens) in css specs. I can investigation this.

[2016-11-02 14:20] davidtheclark commented on #2026
@evilebottnawi The real trouble, though, is that `:` *is* an allowable token. So how do you determine when it's not valid? You'd need to write a selector parser — but we've been pushing for postcss-selector-parser to be *more* flexible, not *less*, in order to allow non-standard syntax.

[2016-11-02 14:33] jeddy3 commented on #2026
In keeping with [`selector-no-empty`](http://stylelint.io/user-guide/rules/selector-no-empty/) (which, similar to this case, dealt with _invalid_ CSS that is parsed by PostCSS), we could create `selector-pseudo-class-no-empty` and `selector-pseudo-element-no-empty` rules?

The former checking for `.selector: {}` and the latter for `.selector:: {}`.

[2016-11-02 14:33] evilebottnawi commented on #2026
@davidtheclark we can check selector on `isStandardSyntaxSelector` (where process all non standard situation, including non standard syntax and cssnext syntax), when check on invalid characters.

[2016-11-02 14:34] evilebottnawi commented on #2026
@jeddy3 sound good

[2016-11-02 14:36] evilebottnawi commented on #2026
@jeddy3 but we can meet later request about invalidate selector `.test? { color: red; }` (or some other characters), i think `no-empty` is not good solution.

[2016-11-02 14:40] davidtheclark commented on #2026
@jeddy3 @evilebottnawi I'm not sure about this `selector-pseudo-class-no-empty`. It seems like overkill to create a rule to address this. I think the issue isn't really about an empty pseudo-class, either, but a misunderstanding of CSS syntax. What about all the other invalid CSS that can be passed through?

I'm just not convinced we have the means to enforce "valid" CSS *and* allow non-standard C

[2016-11-02 14:40] evilebottnawi commented on #2026
@jeddy3 Anyone can inadvertently write an incorrect selector, allowing the input of incorrect characters, and it would be more true to create a rule for the validation of this. I think `no-empty` is ambiguous solution. In theory, it is generally incorrect syntax.

[2016-11-02 14:42] evilebottnawi commented on #2026
@davidtheclark I think it is not necessary to close the discussion, we should decide whether we are going the right way use `no-empty` or not use

[2016-11-02 14:44] evilebottnawi commented on #2026
@davidtheclark @jeddy3 How about use

Seem good to me, we exclude all non standard and check on valid characters only selector, i can do experimental PR

[2016-11-02 15:17] evilebottnawi commented on #2026
Ref: https://drafts.csswg.org/selectors-4/#invalid

[2016-11-03 14:09] davidtheclark commented on #2026
@evilebottnawi Still not on board. Are you proposing to create a selector parser? I think that's the only way this is going to work.

[2016-11-03 14:10] davidtheclark commented on #2026
Followup to ^^ — I think creating a selector parser needs to be an external module, and will be a lot of work, and will duplicate work already done.

[2016-11-03 14:16] evilebottnawi commented on #2026
@davidtheclark not parser, validator (we don't need tokens and ast, i think the regular expression would be enough), about external module i am agree

[2016-11-03 14:18] evilebottnawi commented on #2026
@davidtheclark in theory, any selector is `ident` ([a-zA-Z0-9-_], the remaining characters require escaping)

[2016-11-03 14:21] davidtheclark commented on #2026
Pseudo-selectors add lots of possibilities. And anything can be inside a quoted string, right?

[2016-11-03 14:28] evilebottnawi commented on #2026
Special symbols (example `#` for `id selector`, ':' for pseudo classes and etc) well documented and practically not change, i think `walk` on `selectors` then `switch and case` by `type` and valid ident - it is all rule.

[code]
Where `<function-token>` is `<ident-token>(` and `any-value` is any characters.

[2016-11-03 14:38] evilebottnawi commented on #2026
I do propose to not close the issue. Personally, my opinion as we do linters, is one of the most important rule, the right to a random typo in writing may allow everyone, especially when a lot of code and I would like to see this rule. I also understand that we all have a little time on the new features, but perhaps any living creature shall be taken, and write the rule. The main problem just writ

[2016-11-03 16:44] davidtheclark commented on #2026
Agreed that it would be nice, but I think SCSS and Less and those tools ruined the opportunity with all their non-standard syntax. Anyway, if you want to try, go for it. But I think you should close this issue and create a new one with a focused purpose.

[2016-11-03 16:52] evilebottnawi commented on #2026
@davidtheclark let's create new issue with a focused purpose

[2016-11-03 18:53] hudochenkov commented on #2010
I've combined [`stylelint-declaration-block-order`](https://github.com/hudochenkov/stylelint-declaration-block-order) and [`stylelint-property-groups-structure`](https://github.com/hudochenkov/stylelint-property-groups-structure) into new plugin [`stylelint-order`](https://github.com/hudochenkov/stylelint-order) (published on npm). Also I've added new rule `declaration-block-properties-alphabetica

[2016-11-03 18:56] davidtheclark commented on #2010
@hudochenkov What I've seen done that made sense to me, and what I've done myself, is to
- Add a deprecation notice to the README with a link to a good replacement, if there is one.
- `npm deprecate` and include in the deprecation message the name of a good replacement.

[2016-11-03 18:59] hudochenkov commented on #2010
@davidtheclark thank you! There is a good replacement — stylelint-order, because I've merged code from plugins above into new plugin :)

[2016-11-04 12:18] evilebottnawi commented on #1341
/cc @davidtheclark @jeddy3 @gilbarbara
I propose to transfer the project to our organization. We will be able to correct mistakes and develop if there was free time.

[2016-11-04 13:59] jeddy3 commented on #1341
I think pushing the 3rd party configs out of the org and into the wider community worked out well for us. It helped us establish a _clear and definable line_ about what belongs in the org (and is our responsibility) and what does not. Therefore, I'm in favour of _not_ transferring this project to the org as it's not part of the core system.

You can fork the project for that.

[2016-11-04 14:09] jeddy3 commented on #2010
@hudochenkov Just a quick message to say `stylelint-order` is looking great!

One thing while it's on my mind, you'll probably want to rename `property-groups-structure` to `declaration-block-property-groups-structure` as, like the `declaration-block-order ` and `declaration-block-properties-alphabetical-order`, it _scoped_ to the declaration block. I'll have a proper poke around the repo soon and

[2016-11-04 14:28] davidtheclark commented on #1341
Agree with @jeddy3 ^^. Why do you think this particular project is different from others, like Atom linter, etc., @evilebottnawi? We can still help out @gilbarbara if needed.

[2016-11-04 14:31] evilebottnawi commented on #1341
@davidtheclark @jeddy3 you convinced me :smile:

[2016-11-04 15:01] hudochenkov commented on #2010
@jeddy3 thank you! :)

Good point!

[2016-11-04 19:04] klebba commented on #1973
@davidtheclark @jeddy3 thanks for hearing me out. Regrettably I won't be able to develop this feature any time soon. I'd contribute to the bounty for anyone willing to take a stab

[2016-11-04 21:13] hudochenkov commented on #2010
I've released [stylelint-order `0.2.0`](https://github.com/hudochenkov/stylelint-order/releases/tag/0.2.0).

* Renamed `property-groups-structure` to `declaration-block-property-groups-structure`
* Added `declaration-block-properties-specified-order` rule

Do you thinks it's ready for a public announcement?

[2016-11-05 02:13] gilbarbara commented on #1341
Hello!
The engine is in beta! You can enable it in your `.codeclimate.yml` with:
[code]

It will run on codeclimate.com or with the CLI.

And there's already a new version with extended rule info info that would probably go live early next week.

[2016-11-05 02:16] gilbarbara commented on #1341
Ahh,

Since codeclimate don't install the node_modules while testing I had to add support in the engine for configs and plugins. I've enable stylelint-config-standard and stylelint-scss..
If you think it should support other packages let me know.

[2016-11-05 09:22] jeddy3 commented on #1341
@gilbarbara Excellent job. Thank you!

We have a _curated_ [list of plugins](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/plugins.md). Perhaps all of them should supported?

Having said that, the list is in [flux](https://github.com/stylelint/stylelint/issues/2010) at the moment and so give me a mo to fix it up before you consider it.

[2016-11-05 09:30] jeddy3 commented on #2010
Lets:

- [ ] Update the release planning doc.
- [ ] Deprecate `declaration-block-properties-order` with either a simple message within the changelog or by adding a warning to the code (which will be included in the next release). @davidtheclark Which would you prefer?
- [ ] Update the plugins list.

This will give people plenty of time to migrate to `stylelint-order` (and hopefully contribute any

[2016-11-05 10:25] jeddy3 commented on #2026
Closing this issue.

Sounds like a good candidate for a plugin like [`stylelint-csstree-validator`](https://github.com/csstree/stylelint-validator).

[2016-11-05 10:25] #2026 closed

[2016-11-05 10:29] jeddy3 commented on #2024
@ntwb Thanks for spoting and looking into this.

This was me.

I figured I'd be proactive and migrate to this integration (and, because it's easier to setup, roll it out across the whole stylelint org).

[2016-11-05 13:57] davidtheclark commented on #2010
@jeddy3 I think we should add a warning in the code for the deprecation. Seems like a significant group of people uses this rule, so let's make sure they're informed.

[2016-11-05 14:13] gilbarbara commented on #1341
Hey @jeddy3
Thanks! 😁

Let me know when you're done with the list.

Also, codeclimate has a "soft" requirement to add a readup to the issues it reports. A short description of the rule and a simple example if possible.
So I ended up cloning the styleslint repo (stylelint-scss too), parsing the `rules` directory, extracting an excerpt from the README files and saving it as json..
However some of th

[2016-11-05 14:16] jeddy3 commented on #2010
Agreed.

[2016-11-05 14:34] #2010 closed

[2016-11-05 14:38] jeddy3 opened #2035 "Deprecate declaration-block-properties-order"
Ref: https://github.com/stylelint/stylelint/issues/2010

- [ ] Add deprecation warning.
- [ ] Add tests for deprecation warning.
- [ ] Update changelog (post merged) - "Deprecated: `declaration-block-properties-order` rule. Use the community [`stylelint-order`](https://github.com/hudochenkov/stylelint-order) plugin pack instead. See the [release planning](/docs/user-guide/release-planning.md) docu

[2016-11-05 14:39] jeddy3 opened #2036 "Remove declaration-block-properties-order"
Ref: https://github.com/stylelint/stylelint/issues/2035

[2016-11-05 15:06] jeddy3 commented on #1973
No worries. There's no rush. We'll leave this issue open with the "help wanted" label :)

[2016-11-05 15:28] evilebottnawi commented on #2035
@jeddy3 what about move `stylelint-order` to `stylelint` org? My opinion was that, the basics rules should be either in the core or in the organization. In life happen different good and bad things and contributor(s) may not have the ability or time to fix something or add or change. This will cause the inability to handle requests from the community associated with sorting features, declaration,

[2016-11-05 21:47] ntwb commented on #2024
Cool 😎

I've deleted the two branches I originally mentioned, will close this ticket and we can reopen if branches are still not being deleted using the new and presumably improved Greenkeeper integration.

[2016-11-05 21:47] #2024 closed

[2016-11-05 22:49] ntwb commented on #2035
I think it would be worth considering, or at least putting this on the table for discussion in adding a few of the repos to the `stylelint` orginization:

For example, some of the repos that would be up for consideration:
• https://github.com/hudochenkov/stylelint-order
• https://github.com/kristerkari/stylelint-scss
• https://github.com/morishitter/stylefmt

We've discussed this type of proposal

[2016-11-05 23:10] evilebottnawi commented on #2035
@ntwb I personally think
- https://github.com/hudochenkov/stylelint-order should move rules in core. Sorting is very popular and good practice. Any alternative linters `csslint`, `scss-lint` and etc have similar rules in core. The transfer of these rules into the core will allow us to quickly fix bugs that have a positive impact on the attitude of the community in the us.
- https://github.com/kris

[2016-11-06 10:53] hudochenkov commented on #2035
I'm all in to move `stylelint-order` into stylelint organisation or to help integrate rules from this pack to the core.

[2016-11-06 10:57] hudochenkov commented on #2035
[`stylelint-test-rule-ava`](https://github.com/hudochenkov/stylelint-test-rule-ava) might be also in stylelint organization besides `stylelint-test-rule-tape`.

[2016-11-06 11:46] jeddy3 commented on #2035
This debating whether a _particular module_ should or shouldn't be in the org is exactly what we've avoided by drawing up our [_clear, unambiguous and communicable_ criteria](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#let-everyone-know). We haven't had to debate things these last few months. Instead, we'd simply refer to the criteria, mark a module accordingly

[2016-11-06 15:16] davidtheclark commented on #2035
Summarizing the above, here are the two main arguments for keeping things out of the org:
- Clear, unambiguous, communicable criteria for what's in the org and what's not.
- Moving things into the org suggests that @stylelint/core is going to take on all or some maintenance burden, and that's not good. The point of the division is to allow @stylelint/core to accept responsibility for some things w

[2016-11-06 23:20] ntwb commented on #2035
Thanks for the feedback everyone 👍 , both @davidtheclark and @jeddy3 remind me (once again) that any repo that is in or moved to the stylelint organisation will have regardless of how the repo is configured will have an implied status that it is maintained by the stylelint organisation.

Yes, that was where I was coming from

[2016-11-07 10:03] evilebottnawi commented on #2035
@davidtheclark @jeddy3 https://github.com/hudochenkov/stylelint-order As these rules are used in all other configurations, I think this is the case where we have to take responsibility for these rules, it is important for the community and we should take this into core. I understand the importance of modularity and separation, but this is not the case, this is an important feature of any coding st

[2016-11-07 10:05] evilebottnawi commented on #2035
@hudochenkov

I think we should take a decision after the resolution of the issue https://github.com/stylelint/stylelint/issues/1947

[2016-11-07 10:08] evilebottnawi commented on #2035
@davidtheclark @jeddy3 I'm also of the opinion that we should not reduce the core opportunity in favor of plugins, plugins need to add features (non standard features), but removing a rule, we reduce our capacity. I'm also ready to add from myself that I would be able to base configuration without connecting additional plugins, and as I said earlier, I have sorting properties and declaration is ve

[2016-11-07 10:54] jeddy3 commented on #2035
This is what I'm struggling to understand. Surely when added the plugin (and processor) system, and encouraged its use, we _increased_ capacity rather than reduced it?

By sticking with our current approach (e.g. having plugins as a top level navigation item on the website) we _normalise the use of plugins_, thus empowering us all.

By the same token one could argue that `stylelint-bem-pattern` is

[2016-11-07 11:03] evilebottnawi commented on #2035
@jeddy3

But if but if our CMS (application, site builder) can not do the navigation it will cause a lot of requests from the community to build this functionality.

To assess this, I do not use what is defined metrics, I just opened all the known configuration and looked well-known code styles of larger and little organizations (we can search this in github), and almost everywhere there is the ru

[2016-11-07 11:11] evilebottnawi commented on #2035
And I can tell you another important argument. I work in many projects we clearly observe the licensing of its violation leads to penalties, I am glad that our project is under MIT license, but we can not answer for the licensed plugins. I would not want to engage in rewriting the rules of the code, when the author decides that he wants to change the license out of it, I have experienced this many

[2016-11-07 11:19] evilebottnawi commented on #2035
Honestly, I think we will be constantly faced with these issues has not yet decided on the point of view of what is important and what is not. Solutions based on the opinion that it makes code easier to contribute, I do not think that is correct. With this view, we can simply place our project with no rules and everything else to make plugins (such as `cssnano`).

[2016-11-07 11:27] evilebottnawi commented on #2035
In fact, we long to decide what is important and what is not, and everyone will have their own point of view on this issue. I propose to develop a method for determining the importance (or come up with a better name) on the basis of which we make decisions. Part of my configuration rules mood to `null` so I can also be argued that these rules are not important and they should be plugins, but this

[2016-11-07 12:04] Ne-Ne opened #2037 "Sass Interpolation - no-missing-end-of-source-newline (returns error)"
Returns error when running following code below.

no-missing-end-of-source-newline

[code]

[code]

`7.5.0`

`gulp-stylelint 3.4.0`

Sass Interpolation

No warnings to be flagged.

[code]

[2016-11-07 14:27] davidtheclark commented on #2035
@evilebottnawi Users need to feel comfortable using plugins. Period. We need to make it *easy* to use plugins; and users need to accept that that's part of stylelint. Users have completely accepted that plugins are part of ESLint, Babel, PostCSS, etc. It's not unusual at all. The fact that a plugin is popular *does not necessarily mean it should become a core rule*. Instead, it means that the plug

[2016-11-07 14:41] evilebottnawi commented on #2035
https://github.com/hudochenkov/stylelint-order/tree/master/rules

Exclude `declaration-block-order` with `dollar`, all clean and unambiguous finished state.

Each rule have single purpose.

After deprecation `declaration-block-properties-order` not contain functionality that overlaps with another rule.

And yes, it is **popular** rule.
I do not see anything disturbing our criteria, maybe I missed

[2016-11-07 14:47] davidtheclark commented on #2035
Not convinced. The reason we are where we are is because there is *not* a clean and unambiguous finished state.

The rules in this plugin pack *clearly* overlap with each other.

@evilebottnawi look at https://github.com/mysticatea/eslint-plugin-node. I think those are essential ESLint rules for any node project. It's a mistake not to use them. Does that mean that ESLint should incorporate them in

[2016-11-07 14:56] evilebottnawi commented on #2035
@davidtheclark It seemed to me that the main problem was sorted and groups and by expanding the two rules is a problem solved, the more I do not remember what that problems.

From `eslint`:

Some rules in `eslint` also overlap with other. https://github.com/eslint/eslint/issues/7407#issuecomment-254930694

[2016-11-07 14:58] evilebottnawi commented on #2035
@davidtheclark https://github.com/mysticatea/eslint-plugin-node separate because `eslint` for ECMA, `eslint-plugin-node` for implementation `ECMA` on `v8` aka `nodejs`.

[2016-11-07 15:03] evilebottnawi commented on #2035
Using `property-no-vendor-prefix` and `property-blacklist` with `['--webkit-.*']` also `overlap`

[2016-11-07 15:09] evilebottnawi commented on #2035
`declaration-block-properties-alphabetical-order` and `declaration-block-properties-specified-order` ?

Also overlap `selector-no-qualifying-type` and `selector-no-type` on example `a[title='test'] { }` :disappointed:

[2016-11-07 15:18] evilebottnawi commented on #2035
Rules in any case, sooner or later will overlap on certain sections of code, you can see all the famous linter for example, and in this I do not see anything wrong, bad when two or more rules are responsible for the same purpose

[2016-11-07 15:58] davidtheclark commented on #2035
You are missing my point about eslint-plugin-node. The point is that *plugins are good for users, good for maintainers, good for the community, and we shouldn't be afraid of them*. Plugins *can and should* provide functionality that some users consider *essential*.

The main force of your argument sounds to me like "I don't want to use plugins. Other users don't want to use plugins. So because we

[2016-11-07 16:00] evilebottnawi commented on #2035
@davidtheclark well, let's leave it at that then maybe the time to change my opinion, I'm not saying that is bad plugins, I would argue that these rules should be at the core

[2016-11-07 17:13] jeddy3 commented on #2035
I think these two bits come together nicely to summarise the final points.

Good stuff. Thanks for discussion everyone. Lets be sure to keep the key points of this discussion in mind should the issue pop up again.

This is really nice. I suggest we add it to [this entry](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md#what-is-the-difference-between-a-plugin-and-a-rule) of

[2016-11-07 17:16] jeddy3 opened #2039 "Flesh out plugin and rules FAQ entry"
Ref: https://github.com/stylelint/stylelint/issues/2035#issuecomment-258898307

Shall we add the following:

To [this entry](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md#what-is-the-difference-between-a-plugin-and-a-rule) of the FAQ?

[2016-11-08 08:42] cleavera opened #2041 "False positive for nested selectors within placeholder selectors in selector-no-qualifying-type"
A bug where when running selector-no-qualifying-type as true, nested rules within abstract class are returning as a linting error even if they are used within classes.

selector-no-qualifying-type

[code]

[code]

`7.5.0`

CLI

SCSS

It treats the abstract class as an element selector and report linting errors on any nested classes. I would expect these not to throw linting errors unless the abstr

[2016-11-08 09:21] evilebottnawi commented on #2041
@cleavera format your issue as a template

[2016-11-08 09:36] cleavera commented on #2041
@evilebottnawi Done :)

[2016-11-08 09:48] evilebottnawi commented on #2041
@cleavera Thanks

[2016-11-08 09:57] jeddy3 commented on #2037
@Ne-Ne It's impossible to tell from your CSS snippet if you _actually have_ a newline at the end of your source (file). Can you please confirm your source (file) has a trailing newline. If you do have one, can you create a test repo please to help us resolve this issue?

[2016-11-08 10:04] jeddy3 commented on #2041
Can you confirm what syntax you're using? As this doesn't look like standard syntax. If it isn't standard syntax, can you point us towards a resource for the `%...` construct please?

[2016-11-08 11:32] cleavera commented on #2041
Ooops, sorry, it's SCSS

[2016-11-08 12:11] jeddy3 commented on #2041
Thanks. I was able to replicate the issue.

It looks to be an issue with SCSS placeholder selectors _when combined with_ nested selectors.

[code]

This is odd as the rule _resolves nested selectors_ before running any checks and so both statements above should behave in the same way, but they do not. This is likely where the bug resides.

@cleavera Thanks for the original report. Please consider

[2016-11-08 12:19] evilebottnawi commented on #2041
@jeddy3 i am fix this today :smile:

[2016-11-08 12:24] JorisVanEijden opened #2042 "Absolute paths don't work in --custom-formatter argument of CLI"
Unlike the `--config` argument, the `--custom-formatter` argument only works with relative paths:

[code]

[2016-11-08 14:06] #2042 closed

[2016-11-08 14:13] davidtheclark opened #2046 "Better test the CLI"
I do not know of a good way to test the CLI *directly* (maybe others know?); but I do think that we could do more than we are.

What I suggest is that we change `cli.js` such that it passes the `meow` `cli` object to an outside, tested function. That function will be tested against `cli` objects: e.g. what happens if we receive `cli.flags.customReporter`, etc. It should mock `standalone` and just

[2016-11-08 14:30] #2039 closed

[2016-11-08 15:42] evilebottnawi opened #2047 "Rule idea `selector-pseudo-class-no-empty-parentheses`"
Maybe

Invalid
[code]

Valid
[code]

Include `nth-child`, `nth-last-child` and etc.

selector-pseudo-class-no-empty-selector

no matter

e.g.

[code]

no matter

no matter

no matter

no matter

no matter

[2016-11-09 11:01] Ricozor commented on #1741
Hi @evilebottnawi,
I have the same warning on a project but I don't use postcss-less in grunt
I always have the bug if I use ':'... (:not(), :first-child,...)
but if i write on one line `.foo li:nth-child(5), .bar {` I have no warning

[2016-11-09 11:11] evilebottnawi commented on #1741
@Ricozor bug in `postcss-less` Need resolve https://github.com/webschik/postcss-less/issues/60 and https://github.com/stylelint/stylelint/pull/1899 (i can help with this issue). You can help to resolve this issue and i am fixes this in `stylelint`.

[2016-11-10 18:58] nikolasleblanc opened #2048 "Add --allow-empty-input CLI option"
On a brand new project setup with stylelint as part of its linting process, stylelint fails when it can't find any css files. On a new project, it seems safe to assume there may not be any css files just yet. Right now, it seems the best way to avoid this is to add a dummy css file, but that seems unnecessary.

`Error: Files glob patterns specified did not match any files`

None.

Literally, none.

[2016-11-10 20:39] davidtheclark commented on #2048
There is no way for stylelint to know that you are working on a new project or that you actually intend your glob *not to work*. And there is good reason to throw this error: most of the time, if your glob does not match any files it is because you've made a mistake. It would be frustrating to find out that when you thought your linting had gone well you were actually just linting nothing. You wan

[2016-11-10 20:55] nikolasleblanc commented on #2048
If the concern here is that a user may confuse a misdirected glob with a clean and linted set of stylesheets, I'm not sure blowing up the rest of their linting toolchain is the most graceful way to handle it.

Could there not simply be a message on the command line indicating "0 files found" before exiting politely?

If I run tslint, for example, against `src/**/*.ts` in a project without ts files

[2016-11-10 20:59] davidtheclark commented on #2048
If my CI passed because my glob did not point to any files, I would consider this a problem. However, *not* running stylelint against files I don't have is a trivial adjustment. So I think the error is the right way to go.

Re-opened, though, to see if other @stylelint/core disagree.

What does ESLint do?

[2016-11-10 21:03] nikolasleblanc commented on #2048
[code]

`npm run lint`

On an empty folder with no src folder, no js files, no ts files, exits silently.

[2016-11-10 21:06] nikolasleblanc commented on #2048
If you're open to considering this, a solution for both problems could be to provide a cli argument to either throw or exit gracefully, depending on if running locally or within CI.

[2016-11-11 09:22] evilebottnawi commented on #2048
@davidtheclark no error in `eslint`, i think we should change this behavior

[2016-11-13 10:06] silverwind opened #2051 "Throw more helpful error on duplicate keys in config"
Using stylelint 7.50. and a YAML config like:
[code]
Running the CLI:
[code]
It'd be great if the line with the duplicate key would be printed instead of the stack trace which really doesn't tell the user anything helpful to solve the issue.

[2016-11-13 14:50] davidtheclark commented on #2051
👍  Good idea.

[2016-11-13 16:30] silverwind commented on #2051
@davidtheclark a simple solution to the duplicate key problem in YAML would be enable the `json` option of [js-yaml](https://github.com/nodeca/js-yaml#safeload-string---options-) which overrides duplicate keys instead of throwing, just like `JSON.parse`. Do you think that's acceptable?

[2016-11-13 16:45] silverwind commented on #2051
https://github.com/davidtheclark/cosmiconfig/pull/37

[2016-11-13 23:02] davidtheclark commented on #2051
@silverwind I don't think the goal should be to not throw the error. I think the goal should be to have a more helpful error message.

Duplicate keys is unquestionably a mistake, so should throw, I think.

[2016-11-14 00:03] davidtheclark commented on #2041
Closed by #2044.

[2016-11-14 00:03] #2041 closed

[2016-11-14 00:27] davidtheclark commented on #2016
A system is in place and documentation at https://github.com/stylelint/stylelint/blob/master/system-tests/writing-system-tests.md. I will open another issue asking people to contribute cases.

[2016-11-14 00:27] #2016 closed

[2016-11-14 00:30] davidtheclark opened #2052 "PLEASE HELP: We need more system test cases!"
We need more test cases for the system tests described in https://github.com/stylelint/stylelint/blob/master/system-tests/writing-system-tests.md.

To provide a test case, all we need is a stylesheet and a configuration file. Preferably the pair ends up with at least one or two lint errors.

**Please share some stylesheet-config pairs that we can use for test cases!** Especially people on @styleli

[2016-11-14 05:03] silverwind commented on #2051
How about printing a warning when the config fails to parse without that option and parses with it? It's certainly an error, but not a critical one.

[2016-11-14 05:19] silverwind commented on #2051
On second thougth, it might be easier to just return a different error from `cosmiconfig`, but I'd argue that it should be done for JSON too, to be consistent. Will look into it.

[2016-11-14 14:35] davidtheclark commented on #1947
I rewrote tests in `src/__tests__/` with AVA and was discouraged by the results. What took 5.5 seconds with `babel-tape-runner` took *37 seconds* with AVA.

I really like the AVA API, but that huge lag rules it out for me.

Will try again with Jest.

[2016-11-14 14:58] evilebottnawi commented on #1947
@davidtheclark very strange I used to get different results in other projects, ava worked faster then tap

[2016-11-14 14:58] evilebottnawi commented on #1947
@davidtheclark let's try jest

[2016-11-14 20:29] MattDiMu opened #2054 "New rule: disallow ignored display values"
There are some cases, where certain display values are overridden by other properties:

1. Elements with `position: absolute` or `position: fixed` (I'm not sure about `position: sticky`) have automatically applied `display: block` on them (if display: none is not present). Therefore CSS like this makes no sense:

`.selector {
  position: absolute;
  display: inline-block;
}`
If you open your devel

[2016-11-14 21:40] JoshuaKGoldberg opened #2055 "Add a NuGet package & keep it updated?"
For projects on the MSBuild/NuGet stack, it can be difficult to keep `npm` modules updated. Common ways around it now are:
* Running `npm install`/`yarn install` during builds - either slow, or even undoable on machines without internet access
* Checking the installed module into source control *(yuck!)*

Having something like [tslint-nuget](https://github.com/joshuakgoldberg/tslint-nuget), update

[2016-11-14 21:43] JoshuaKGoldberg opened #2056 "Create an MSBuild target"
Integrated Node modules into MSBuild-based build systems is a pain. Something like [TSLint.MSBuild](https://github.com/joshuakgoldberg/tslint.msbuild) would make it easier.

I'd be willing to do this, if you're willing to have it.

[2016-11-15 08:30] JoshuaKGoldberg opened #2059 "Implement autofix"
I’ve started [working on a tool](https://github.com/autolint/automutate) to intelligently apply fixes for lint failures by various tools. My reasoning for doing so is in its [readme](https://github.com/autolint/automutate#automutate); the tl;dr is that applying fixes for lint errors can be a complex problem en masse and I’d like to standardize its solution.

The onboarding steps on stylelint’s end

[2016-11-15 08:59] evilebottnawi commented on #2056
@JoshuaKGoldberg this must be done separately from `stylelint`, you can start this repo

[2016-11-15 09:02] evilebottnawi commented on #2059
@JorisVanEijden `stylelint` don't have fix utils, and it is should be out of the project, i think you should create issue in `stylefmt`, but may be we should think it makes sense to think about the possibility of getting the error in a more convenient form

[2016-11-15 09:04] evilebottnawi commented on #2054
@MattDiMu format you issue as template, issue (example new rule) should contain valid and invalid `css` and why

[2016-11-15 09:39] MattDiMu commented on #2054
Sorry, I thought it would be much clearer this way, as the template is quite bug-oriented and it's a new feature, not a bug. Therefore all the questions about "reproducing" make no sense, while some information is missing. I've tried to "template-ify" the issue.

New feature / extending rule "declaration-block-no-ignored-properties".

https://github.com/stylelint/stylelint/tree/master/src/rules/de

[2016-11-15 10:13] jeddy3 commented on #2054
@MattDiMu Thank you for the suggestion.

We've [previously](https://github.com/stylelint/stylelint/issues/1786) [discussed](https://github.com/stylelint/stylelint/pull/1906#issuecomment-247859344) the suitability of the `declaration-block-no-ignored-properties` rule. Your suggestion has further highlighted the complexity of this rule, and how it lacks a clear definition.

As such, I think your sug

[2016-11-15 10:38] evilebottnawi commented on #2054
@jeddy3 need add deprecation message to rule, i can move this rule in my account or orgs before release `8.0.0`

[2016-11-15 10:39] evilebottnawi commented on #2054
@jeddy3 or i can do this after add deprecation message :smile:

[2016-11-15 11:45] m-allanson commented on #2052
@davidtheclark Can these cases be used to test some of the path and config based issues that showed up recently?

If so, here's a list of issues that might be good references for test cases:

https://github.com/stylelint/stylelint/issues/1991
https://github.com/stylelint/stylelint/issues/1990
https://github.com/stylelint/stylelint/issues/1985
https://github.com/stylelint/stylelint/issues/1966
http

[2016-11-15 13:51] jtfairbank opened #2060 "The `declaration-colon-newline-after` rule has no `never` option."
Feature Request: A new option to never have a newline after a declaration's colon.

`declaration-colon-newline-after`

With the new option, the following are valid:

[code]

[code]

With the new option, the following are invalid:

[code]

[code]

e.g.

[code]

I'm using stylelint via the gulp-stylelint wrapper.  The versions of each are:

  * gulp-stylelint: `3.4.0`
  * stylelint: `7.4.2`

Using G

[2016-11-15 14:16] evilebottnawi commented on #2060
sgtm for me

[2016-11-15 14:22] davidtheclark commented on #2056
Go for it @JoshuaKGoldberg. I know nothing about MSBuild-based build systems. Would stylelint.MSBuild be an entirely separate project?

[2016-11-15 14:28] davidtheclark commented on #2059
Unfortunately, @JoshuaKGoldberg, both of those onboarding steps are actually not simple from our perspective. It would be a huge amount of work to alter every possible stylelint to export suggested fixes. We've preferred to leave the auto-fixing to a separate library, `stylefmt`, because the two responsibilities seem distinct enough that this works, and then both codebases are more focused. Sounds

[2016-11-15 14:37] davidtheclark commented on #2054
Agreed. Let's move this rule into a plugin. @MattDiMu and @evilebottnawi would you like to collaborate on a single plugin that addresses it all?

[2016-11-15 14:41] davidtheclark commented on #2060
@jtfairbank This is by design. http://stylelint.io/user-guide/about-rules/ in the "Rules work together" section tries to explain this. Looks to me like like what you want is `declaration-colon-space-after: "always"`, right?

If you actually want to enforce *no* space after the colon, e.g. `color:pink`, you'd use `declaration-colon-space-after: "never"`.

[2016-11-15 14:41] #2060 closed

[2016-11-15 15:04] evilebottnawi commented on #2054
@davidtheclark yep, i can move from `stylelint` after deprecation message (i think we should first add message then release - patch? and can move plugin out from stylelint)

[2016-11-15 15:20] JoshuaKGoldberg commented on #2056
🔥. Work started in https://github.com/JoshuaKGoldberg/Stylelint.MSBuild.

[2016-11-15 15:24] evilebottnawi commented on #2056
@JoshuaKGoldberg Good luck, you can do PR to docs after work done :smile: @davidtheclark i think we can close issue here

[2016-11-15 15:28] evilebottnawi commented on #2037
/cc @Ne-Ne

[2016-11-15 15:46] JoshuaKGoldberg commented on #2059
Interesting! The response I've gotten from a few other linters has been the opposite, that they'd rather have the logic for generating fix suggestions be in the same location (repository+file) as the complaints. Their logic, which I agree with, is that maintaining highly coupled logic across two code bases is extra maintenance work. More complicated rules will end up becoming:

* Repository 1

[2016-11-15 15:56] jtfairbank commented on #2060
@davidtheclark You're absolutely right and I'm kinda dumb for not realizing that setting `declaration-colon-space-after: "always"` would enforce that.

On the downside, I just spend 2 hours figuring out the codebase and making test cases and a PR for this.  On the upside I can now contribute basic tests in the future.  Lucky you?

Just out of curiosity, how would I prevent something like this, whe

[2016-11-15 16:13] davidtheclark commented on #2060
@jtfairbank If you can think of any way to clarify the documentation so other people don't suffer the same confusion, let us know!

That would be exciting :)

The rule should already protect against this. It requires a *single* space after the colon.

[2016-11-15 16:36] jtfairbank commented on #2060
@davidtheclark

**Docs:**

1) It'd def be helpful to link to the [about rules page](http://stylelint.io/user-guide/about-rules/) from the top of the [rules page](http://stylelint.io/user-guide/rules/).  I did read the User Guide and the "rules work together" section, but I could see how a lot of newbies like me could miss it.  Or experienced users who just haven't setup rules in a while and are st

[2016-11-16 04:05] davidtheclark opened #2061 "Use Yarn"
Does anybody have any objections to using Yarn here? — which would basically just mean committing a Yarn lockfile?

[2016-11-16 04:06] ntwb commented on #2061
No objections at all, was on my to do list 👍

[2016-11-16 04:46] ntwb commented on #2055
I'm not at all familiar with MSBuild or Nuget, with that in mind:

From what I see the `tslint-nuget` package is independant of TSLint, I presume when a new release of TSLint is released the `tslint-nuget` maintainer updates and releases that package?

FYI: I don't see the stlyelint organization's role as a maintainer of packages for all the package managers out there either for what it worth.

[2016-11-16 04:56] ntwb commented on #2056
@JoshuaKGoldberg `stylelint`, not `Stylelint` please 😄  (i.e. No capital s)

I'm also not sure what the difference is between this issue and that of #2055 /shrug

[2016-11-16 05:41] JoshuaKGoldberg commented on #2056
@ntwb Sorry 😄 I'll adjust.

Re the difference, I'll answer in 2055.

[2016-11-16 05:55] JoshuaKGoldberg commented on #2055
Correct. It's just a simple wrapper around a copy of some version of `tslint`. In your case, `stylelint-nuget` would also just be a small wrapper around a copy of `stylelint`. Not to be confused with `S`-etc.

Sure. I like asking, but get that it's not on you.

[2016-11-16 11:19] evilebottnawi opened #2063 "Use `husky`"
Ref: https://github.com/typicode/husky

1. Reduce the amount of PR with unclimbed style and tests.
2. Less load on the CI.
3. Very handy tool :smile:

[2016-11-16 14:09] davidtheclark commented on #2063
I would prefer not to use husky to automate these things that I already do within my own workflow. I'd predict it getting in the way more often than helping out, running tests when I commit after I just ran tests before I committed, etc. Besides that, I don't think it's solving a problem that we have. CI already catches any such mistakes. (And I don't think we're overloading the CI.)

[2016-11-16 14:17] evilebottnawi commented on #2063
@davidtheclark we can use `prepush` hook, not `precommit`

[2016-11-16 14:19] davidtheclark commented on #2063
@evilebottnawi But I don't want a prepush hook, either, if I'm already testing what I need to test.

[2016-11-16 14:23] evilebottnawi commented on #2063
@davidtheclark We just found this tool is convenient for the team, developers sometimes forget to do all the tests and it helps to reduce the load on the CI server and prevents unnecessary incorrect PR, If nobody is interested in this, I closed this issue

[2016-11-16 14:34] davidtheclark commented on #2063
Totally agree, and I'm glad you introduced me to this tool 👍  I just don't think I myself want it as part of my workflow — it would be more of an obstacle than a help.

[2016-11-16 14:41] evilebottnawi commented on #2063
@davidtheclark i am close this issue, if someone from @stylelint/core have another opinion you can reopen issue

[2016-11-16 14:41] #2063 closed

[2016-11-16 17:36] Arcanemagus commented on #2061
Be careful that it is generating a `node_modules` that actually works, I have a few projects where `yarn` can't be used due to bugs in their resolution of dependencies (`linter-stylelint` was one during the `table` mess 😛).

[2016-11-16 17:50] zolotov opened #2064 "--stdin-filename requires file existence"
`--stdin-filename` option seems to be broken. Running stylelint via cli with the option leads to `Error: ENOENT: no such file or directory` in case there is no file with given name in the working directory.

e.g. `7.4.0` – `7.5.0`

Output example. Note that `hey.@.css` doesn't exist but it doesn't have to, since it's only a name to infer a syntax.

[code]

[2016-11-16 19:40] abea opened #2065 "`text-transform` interpreted as `transform2d`"
A bug where `text-transform` is throwing a linter error related to `transform2d`.

`no-unsupported-browser-features`

e.g.

[code]

e.g.

[code]

7.5.0

through VS Code plugin vscode-stylelint

Occurring in SCSS files.

No warnings to be flagged.

My file is throwing an error on the text-transform line, `severity: 'Error' message: 'stylelint: Unexpected browser feature "transforms2d" is not suppor

[2016-11-16 19:44] evilebottnawi commented on #2065
@abea you should report to https://github.com/anandthakker/doiuse repo, this rule works based on this package

[2016-11-16 19:44] #2065 closed

[2016-11-16 20:23] abea commented on #2065
Thanks. It looks like it's been reported to them without action in a while. https://github.com/anandthakker/doiuse/issues/8

[2016-11-17 01:10] ntwb commented on #2061
Thanks @Arcanemagus, I'll read up a little more on this as I've got a good half to a dozen projects that I'm looking at to add Yarn support to 👍

[2016-11-17 03:16] davidtheclark opened #2066 "Link to About Rules from top of the Rules doc"
As suggested by @jtfairbank at https://github.com/stylelint/stylelint/issues/2060#issuecomment-260693121

[2016-11-17 03:18] davidtheclark opened #2067 "Cross-reference in docs the whitespace rules that relate to each other"
As suggested by @jtfairbanks at https://github.com/stylelint/stylelint/issues/2060#issuecomment-260693121.

This would mean, for example, adding a link from `declaration-colon-newline-after` to `declaration-colon-space-after`, mentioning that `"declaration-colon-space-after": "never"` is the only way to force *no* space.

[2016-11-17 03:20] davidtheclark commented on #2060
@jtfairbank Thanks. I created #2066 and #2067 based on these suggestions.

Regarding tests: You can always feel free to pick up one of the open issues, create a feature or fix a bug and add tests for your change.

[2016-11-17 03:26] davidtheclark commented on #2059
By "huge amount of work" I mean adding `suggestFixes` to everything that could feasibly be fixed, not just the first thing. And it would definitely be a mistake to start such a project if it was not going to be carried through to completion — so if you're not committed to doing this for *all* the rules ... who is going to?

This makes sense, yes; but there's also logic behind our choice. You can r

[2016-11-17 03:45] JoshuaKGoldberg commented on #2059
I would hope the community would help out at least a little :) but yes, I'm willing to commit to, at a minimum, duplicating all the existing stylefmt logic. It won't be fast but based on prior experiences with similar logic transfers I'd be surprised if it went past Spring 2017.

Indeed. The debate there, I think, was on whether `stylelint` should *apply* the fixes; specifically, whether that was

[2016-11-17 08:46] ntwb commented on #2024
FYI: I emailed Greenkeeper support yesterday about this ongoing issue.

Currently there are 3 branches for `stylelint-config-standard` which I referenced in my email
• https://github.com/stylelint/stylelint-config-standard/branches

There are currently 4 branches here for `stylelint` that I didn't reference in the email, though I'm going to delete these 4 branches now all the same and just wanted

[2016-11-17 13:49] npars opened #2068 "Feature Request: Support for browserslist file"
Some rules support passing a browserslist string as an argument. Other browserslist utilities ([autoprefixer](https://github.com/postcss/autoprefixer)) support a browserslist file in the current or parent directories. It would be useful for styelint to support this file as well so that the browserslist configuration does not need to be duplicated in many places.

This applies to:
[`no-browser-hack

[2016-11-17 17:06] Arcanemagus commented on #2061
Specifically the bug that has prevented me from using it in a few places is https://github.com/yarnpkg/yarn/issues/681.

[2016-11-17 17:15] Arcanemagus commented on #2059
As a note: ESLint already works this way. In fact since the suggested fixes (for supported rules) are returned with the lint results, we are able to [integrate that](https://github.com/AtomLinter/linter-eslint/blob/v8.0.0/src/main.js#L190-L200) in the `linter-eslint` Atom plugin allowing users to fix specific issues directly within their editor (instead of _only_ being able to run a generic `eslin

[2016-11-17 18:49] jeddy3 commented on #2002
Done in https://github.com/stylelint/stylelint/pull/2017

[2016-11-17 18:49] #2002 closed

[2016-11-17 20:10] jeddy3 commented on #1341
It's [done](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/plugins.md). Sorry, I forgot to mention it last week.

We can't guarantee that it will stay small I'm afraid. Although it has pretty much stayed 6 or so items for the last few month. Perhaps using that list isn't the best approach in the long run, although it works for now and I can't think of any alternatives.

Sounds

[2016-11-17 20:17] jeddy3 commented on #1786
Closing in favour of https://github.com/stylelint/stylelint/issues/2054

[2016-11-17 20:17] #1786 closed

[2016-11-17 21:02] jeddy3 commented on #2025
I think there's quite a bit to this proposal and I'm currently unsure whether it'll be useful to the _majority of users_. As such, I suggest this should be developed as an experimental plugin. We can see what kind of common usage [_feature queries_](https://drafts.csswg.org/css-conditional-3/#at-supports) gets over the next few months and revisit its inclusion in core.

As an aside, a prerequisite

[2016-11-17 21:03] jeddy3 commented on #2037
Closing as not reproducible locally. @Ne-Ne Please feel free to reopen if you can create a reproducible repo.

[2016-11-17 21:03] #2037 closed

[2016-11-17 21:13] ben-eb opened #2070 "Feature request: Support for linting CSS inside Markdown files."
I'd like to lint CSS inside Markdown files, so I wrote a small extension to PostCSS that can do this at an abstract level: https://github.com/ben-eb/literate-postcss

This would be a similar thing to https://github.com/eslint/eslint-plugin-markdown but I'm not sure exactly how to do this with Stylelint plugins instead; this functionality operates at the parser level and not the plugin level.

Anyw

[2016-11-17 21:24] davidtheclark commented on #2070
@ben-eb Already exists: https://github.com/mapbox/stylelint-processor-markdown Does that work for you?

[2016-11-17 21:25] #1341 closed

[2016-11-17 21:26] ben-eb commented on #2070
Ah nice, didn't realise it existed already! Thanks.

[2016-11-17 21:26] #2070 closed

[2016-11-17 21:55] jeddy3 commented on #2047
I think we might have [taken a wrong turn](https://github.com/stylelint/stylelint/tree/master/src/rules/selector-no-empty) when we started using these `*-no-empty` rules as proxies for testing the _validity_ of things.

Previous `*-no-empty` rules (e.g. `block-no-empty`, `no-empty-source` and `comment-no-empty`) allowed a user to specify a _perference_ i.e. an empty block, comment or source is sti

[2016-11-17 23:28] gilbarbara commented on #1341
@jeddy3 Great.
I think the engine will enter the `stable` status next week or so.

Support for JetBrains IDEs and codeclimate, I've been waiting this for quite sometime. Bye scss-lint! 😁

[2016-11-18 03:59] morishitter opened #2071 "Cannot override some rules that extend from stylelint-config-*"
Some rules e.g. `time-no-imperceptible` have only `true` option, so if these rules are defined in stylelint-cofig-* and extend it, we cannot override its rule.

I want `false` option to resolve that.

[code]

Thanks! :)

[2016-11-18 04:01] ntwb commented on #2061
Thanks for that, I've subscribed to that issue, I don't have any cases currently that this would cause an issue, but thats more luck than anything, I'm frequently pinning packages in repos 👍

[2016-11-18 04:13] ntwb commented on #2071
Use `"time-no-imperceptible": null` to overwrite a configuration

See rules configuration docs: http://stylelint.io/user-guide/configuration/#rules

[2016-11-18 04:13] #2071 closed

[2016-11-18 04:27] ntwb commented on #2047
I think you're right @jeddy3, stylelint is _*not*_ a CSS spec parser 👍

[2016-11-18 05:24] morishitter commented on #2071
@ntwb Oh, Thank you so much.

[2016-11-18 09:18] evilebottnawi commented on #2047
@jeddy3 agree, also i agree `selector-no-empty` should be deprecated.

[2016-11-18 09:18] #2047 closed

[2016-11-18 09:51] jeddy3 commented on #1341
Excellent. Thanks again for your work on this!

[2016-11-18 14:35] davidtheclark commented on #2047
👍 from me, too.

[2016-11-18 19:38] jeddy3 opened #2073 "Deprecate selector-no-empty"
Ref: https://github.com/stylelint/stylelint/issues/2047#issuecomment-261382105

- [ ] Add code and tests for deprecation warning
- [ ] Update Release planning doc

[2016-11-18 19:38] jeddy3 opened #2074 "Remove selector-no-empty"
Ref: https://github.com/stylelint/stylelint/issues/2047#issuecomment-261382105

[2016-11-18 19:42] jeddy3 opened #2075 "Deprecate media-feature-no-missing-punctuation"
Ref: https://github.com/stylelint/stylelint/issues/2047#issuecomment-261382105

- [ ] Add code and tests for deprecation warning
- [ ] Update Release planning doc

[2016-11-18 19:43] jeddy3 opened #2076 "Remove media-feature-no-missing-punctuation"
Ref: https://github.com/stylelint/stylelint/issues/2047#issuecomment-261382105

[2016-11-18 21:41] jeddy3 commented on #2046
This sounds like a good plan to me.

[2016-11-18 21:45] jeddy3 opened #2077 "Deprecate declaration-block-no-ignored-properties"
Ref: https://github.com/stylelint/stylelint/issues/2054#issuecomment-260601531

- [ ] Add code and tests for deprecation warning
- [ ] Update Release planning doc

[2016-11-18 21:46] jeddy3 opened #2078 "Remove declaration-block-no-ignored-properties"
Ref: https://github.com/stylelint/stylelint/issues/2054#issuecomment-260601531

[2016-11-18 21:47] jeddy3 commented on #2054
Closing in favour of https://github.com/stylelint/stylelint/issues/2077 & https://github.com/stylelint/stylelint/issues/2078

[2016-11-18 21:47] #2054 closed

[2016-11-18 22:27] jeddy3 commented on #2048
I think both these arguments are valid and can be argued both ways.

Jest is another tool that exits gracefully. It returns a "No tests found" message, along with some useful information about where it looked (and what it ignored):

[code]

`remark` (our markdown linter of choice), on the other hand, throws an error.  As does `ava`.

`eslint`, as previously said, exits _silently_. As does `babel-t

[2016-11-18 22:27] #2025 closed

[2016-11-18 22:42] davidtheclark commented on #2048
I'm in favor of a CLI argument to exit without a non-zero exit code. Default behavior would be to error; argument would turn that off.

[2016-11-18 22:46] jeddy3 commented on #2048
Yep, if we do add an option, I was thinking the same thing.

[2016-11-18 23:12] jeddy3 commented on #2064
@zolotov Thank you for the report. I can replicate this.

I'll label this up as "needs investigation". Feel free to jump in and help us track this down.

[2016-11-19 00:02] jeddy3 commented on #2068
@npars Thank you for the suggestion. As with https://github.com/stylelint/stylelint/issues/2054#issuecomment-260601531, I think your issue could be the catalyst for discussing whether these rules belong outside of core as plugins (perhaps within the same pack as they are both focused on checking things specific to the browsers being targetted). As with https://github.com/stylelint/stylelint/issues

[2016-11-19 02:25] jeddy3 opened #2079 "Plugin candidates for 8.0.0"
There are over 170 rules in stylelint.

There are the 48 `*-before`, `*-after` and `*-inside` variants of the `*-space-*`, `*-newline-*` and `*-unspaced-*` [rules](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/about-rules.md#whitespace-rules).

There are the 11 `*-empty-line-before` and `*-max-empty-line` rules.

And there is the `indentation` rule. I think these rules work to

[2016-11-19 09:41] jeddy3 opened #2080 "Release 7.6.0"
Unless there are any objections, I intend to release `7.6.0` today.

- [x] stylelint release
- [x] stylelint-config-standard update/release (pending PR: https://github.com/stylelint/stylelint-config-standard/pull/49)
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

[2016-11-19 11:26] jeddy3 commented on #2059
Thank you @JoshuaKGoldberg, that is a both a very generous and exciting commitment.

I've been busy trying to wrap my head around your automutate proposal, especially in the context of [eslint's lessons learnt from their initial foray into autofixing](https://github.com/eslint/eslint/issues/5329). Autofixing, unlike linting, is new territory for me, but from what I understand your proposal address

[2016-11-19 14:13] davidtheclark commented on #2080
👍  from me.

[2016-11-19 14:25] jeddy3 commented on #2080
@davidtheclark Good stuff. If you can review stylelint/stylelint-config-standard#49 for me, I'll do the release after that :)

[2016-11-19 15:20] jeddy3 commented on #2080
🎉

Congratulations everyone on release number 💯!

And thanks to everyone who contributed to this release :)

[2016-11-19 15:20] #2080 closed

[2016-11-19 16:44] davidtheclark opened #2082 "Typo in configuration docs"
"You can also specify an path" > *a* path

[2016-11-19 19:03] #2082 closed

[2016-11-20 04:34] ntwb opened #2086 "Add ignoreFontFamilyName: [] option to font-family-no-duplicate-names"
Follow up to #1284

There should be a way to ignore, or optionally ignore duplicate `monospace` font names in `font-family-no-duplicate-names`

Ways to approach this:

1. Ignore `monospace, monospace` by default
2. Add an option to ignore only the `monospace` duplicates, i.e. `monospace, monospace`
3. Add an option to add an array of font names using regex/string to be ignored.

----

For context

[2016-11-20 09:37] ntwb commented on #2086
Some further background on this I just noticed that this was included in `normalize.css`:

• https://github.com/necolas/normalize.css/blob/master/README.md#pre-code-kbd-samp:

From the source cited above: https://en.wikipedia.org/wiki/User:Davidgothberg/Test59:

[2016-11-20 11:17] JoshuaKGoldberg commented on #2059
@jeddy3 Very well put response. I'm glad you brought up stylelint's sustainability - it's great that you've been making investments in the space. Especially after seeing other OSS fail from a lack of sustained project design & maintainability, it's good to see that your work's continuing to pay off.

Within stylelint you could be even more passive than that. The steps in [this comment from before]

[2016-11-20 14:30] davidtheclark commented on #2086
I think there is no harm in adding an option `ignoreMonospace` for people who want to use this hack.

[2016-11-20 14:40] davidtheclark commented on #2059
This is interesting.

What I'd like to see is:

- Examples of what this would look like in a few rules of different types.
- @morishitter's thoughts about this in related to his work.

Questions for @morishitter:
- Have you found that you've needed to duplicate a significant amount of logic from stylelint, or that you *should* if you haven't yet because you're running into the same bugs stylelint

[2016-11-20 16:09] jeddy3 commented on #2086
Originally I [said](https://github.com/stylelint/stylelint/pull/2020#issuecomment-257599561):

But I guess you could specify `monospace, monospace` in more than one place in the code and so it is kind of a repeating pattern.

So, I'm easy either way. If we use an option, can we make it one of those more generic ones that accept an array of _user-defined_ options? e.g. `ignoreFontFamilyName: ["mono

[2016-11-20 17:03] davidtheclark commented on #2086
^^ 👍

[2016-11-21 09:38] danpoltawski opened #2087 "indentation: false positive in when pseudo-class used in less"
A bug where an indention problem is reported incorrectly when the selector uses  the `:not()` pseudo-class

`indentation`

[code]

[code]

`7.6.0` (but found in earlier versions)

CLI with `stylelint test.less`

Yes, the problem only occurs when syntax is set to less.

No warnings to be flagged.

The following warning was flagged:

[code]

Note that the  same issue doesn't happen when using plain

[2016-11-21 09:43] evilebottnawi commented on #2087
@danpoltawski seem duplicate https://github.com/stylelint/stylelint/issues/1741

[2016-11-21 09:47] thybzi opened #2088 "7.6.0 false positives with LESS detached rulesets"
**Version 7.6.0** introduces some bug when working with LESS ruleset variables: http://lesscss.org/features/#detached-rulesets-feature.

**LESS variable assignments for detached rulesets seem to be interpreted as CSS selectors**, and thus lead to some false positives (the problem doesn't exist in 7.5.0).

* `selector-type-no-unknown`
* `rule-non-nested-empty-line-before`

[code]

[code]

`7.6.0`
(

[2016-11-21 09:48] danpoltawski commented on #2087
Apologies for the duplicate, closing

[2016-11-21 09:48] #2087 closed

[2016-11-21 10:10] evilebottnawi commented on #2079
@jeddy3
Agree:
- `color-no-invalid-hex` - we are not a parser (validator)
- `no-browser-hacks` - sgtm for plugin
- `no-invalid-double-slash-comments` - we are not a parser (validator)
- `no-unsupported-browser-features` - sgtm for plugin
- `string-no-newline` - we are not a parser (validator)

Not agree:
- `no-extra-semicolons` why?
- `stylelint-disable-reason` why?

CSS does not stand still, and

[2016-11-21 11:05] evilebottnawi commented on #2088
reproduce, wip

[2016-11-21 11:10] jeddy3 commented on #2087
@danpoltawski No worries :)

FYI, that bug is outstanding as the [PostCSS Less parser](https://github.com/webschik/postcss-less/) currently lacks contributors. So, please consider lending your support to that repo if you'd like to see the issue resolved.

[2016-11-21 12:03] evilebottnawi commented on #2079
@stylelint/core I would like to add to the above written, that most used `scss`, `less` and other preprocessors and postprocessors and all the support for it in the plugins are often not provided, virtually removing the rules, we will lose the opportunity to be responsible for a stable plugins, and it is a real hell. I almost could not make it work most of the available plugins. I can tell myself

[2016-11-21 14:08] davidtheclark commented on #2079
@jeddy3 Opening separate issues sounds fine to me.

[2016-11-21 14:18] evilebottnawi commented on #2088
Done in https://github.com/stylelint/stylelint/pull/2089

[2016-11-21 14:18] #2088 closed

[2016-11-21 14:20] davidtheclark commented on #2048
Ok, I'm going to change the title and labels of this issue to reflect our goal.

To clarify: we'd like to add a CLI argument `--allow-empty-input` (or other names?) that can be used to prevent a non-zero exit code when there is no input.

@nikolasleblanc: If you'd like to champion this feature, go for it.

[2016-11-21 15:37] thomasjbradley opened #2090 "Add except: ["after-closing-brace"] to block-closing-brace-empty-line-before"
Possibly a bug, but most likely a feature request.

I'd like to be able to force an empty line at the end of a media query—we can do it at the top of a media query, but I can't seem to find how to do it at the bottom.

[code]

I see the rule: `rule-nested-empty-line-before` which will force a new line at the top of the media query.

And I see the rule: `block-closing-brace-empty-line-before` which

[2016-11-21 17:17] Arcanemagus opened #2091 "Add PR numbers to changelog?"
It would be nice when reviewing the changelog if the PR's implementing each item were linked from the changelog, allowing easy viewing of where it was implemented, and what was changed. Obviously this isn't required but I thought I would suggest it 😉.

<details><summary>The rest of the issue template</summary>

N/A

N/A

N/A

N/A

N/A

No

PR numbers in the changelog.

No PR numbers in the changel

[2016-11-21 22:03] maxmx opened #2093 "Parse error for nested declarations in selector-max-compound-selectors"
In release 7.6.0

The following sass which used to be valid in 7.5.0 now returns a `Cannot parse selector` error
[code]

e.g.

[code]

e.g. `7.6.0`

`stylelint 'src/**/*.scss'`

"No warnings to be flagged."

e.g. "The following warnings were flagged:"

[code]

[2016-11-22 01:40] ntwb commented on #2061
https://blog.travis-ci.com/2016-11-21-travis-ci-now-supports-yarn

[2016-11-22 03:29] ntwb commented on #2090
Thanks for using our issue template and the detailed description @thomasjbradley 👍

p.s. Originally via [this](https://stackoverflow.com/questions/40593334/stylelint-force-empty-line-at-bottom-of-nested-block) Stack Overflow issue.

[2016-11-22 03:38] ntwb commented on #2079
I have concerns on removing a couple of these, but yes, lets discuss each them on separate issue👍

[2016-11-22 08:51] evilebottnawi commented on #2093
@maxmx Thanks for feedback

[2016-11-22 09:40] ntwb commented on #2052
The PRs above I added, #2097 & #2098 don't have any lint errors, I picked them as they are _popular_ CSS frameworks that already use stylelint so each _pair_ is based on the repos own stylelint config.

[2016-11-22 09:46] evilebottnawi commented on #2093
@maxmx Today I see that is wrong :smile:

[2016-11-22 10:04] jeddy3 commented on #2093
@maxmx Thanks for report and for using the template.

@evilebottnawi Thanks. Nothing in the changelog stands out to what might have caused this regression. Could it be related to [this refactoring](https://github.com/stylelint/stylelint/pull/1933)? Also, there [was a updated](https://github.com/stylelint/stylelint/commit/f7121f321ddc60c9b08f0c8519eafcc00113a2a1) of `postcss-scss` included in this

[2016-11-22 10:07] evilebottnawi commented on #2093
@jeddy3 yep, i see this, maybe regression in `postcss-scss`, today will deal in this

[2016-11-22 10:09] jeddy3 commented on #2091
@davidtheclark I don't mind doing this, if you don't. I can see how it'd be helpful for @Arcanemagus and other stylelint tool maintainers. e.g.

- Fixed: false positives related to LESS detached rulesets ([#2089](https://github.com/stylelint/stylelint/pull/2089))

We'll need to use complete markdown URLs, rather than rely on github's autocomplete so that the changelog on the website works.

[2016-11-22 12:39] AntonNiklasson opened #2100 "Suggestion: Add `files` to configuration"
Add an option for whitelisting files in `.stylelintrc` compared to `ignoreFiles` which is a blacklisting of files.

Could be named `files` or perhaps `includeFiles`.

[2016-11-22 14:51] davidtheclark commented on #2091
🆗

[2016-11-22 15:25] evilebottnawi commented on #2093
Reproduce. Bug in `selector-max-compound-selectors`

Stack:
[code]

[2016-11-22 22:53] davidtheclark commented on #2052
@m-allanson I think that protecting against a focused and identified regression is best left to the unit tests. We should save the less precise system tests for larger examples that test a lot of things.

[2016-11-22 23:04] davidtheclark commented on #2064
@zolotov I am not able to reproduce this: I can do the same thing you mention above without any problem. Can you please provide a failing test or a reduced test case to demonstrate the problem in a reproducible manner?

[2016-11-22 23:04] davidtheclark commented on #2100
Why?

[2016-11-22 23:40] jeddy3 commented on #2064
I am also now unable to reproduce this with `7.6.0`. Although I was able to with `7.5.0`. @zolotov Please try again with `7.6.0`, or, as @davidtheclark requests, provide a failing test or reduced test case.

[2016-11-23 08:49] PsiXdev opened #2105 "Opposite rule for length-zero-no-unit"
It is feature request (new rule). You can add a rule that will operate as a length-zero-no-unit, but exactly the opposite: disallow zero length without units?

For example. Following pattern are considered warnings:
[code]

The following pattern are not considered warnings:
[code]

[2016-11-23 10:23] zolotov commented on #2064
@jeddy3 tried with `7.6.0`. The same result.

Here is a set of shell command that will lead to the error:

[code]

E.g. here is my output, worked fine until `7.4.0`.

[code]

[2016-11-23 10:34] evilebottnawi commented on #2064
@zolotov Thanks for detailed feedback! I think I can do it today.

[2016-11-23 13:31] jeddy3 commented on #2091
I've updated the current item in `Head` in https://github.com/stylelint/stylelint/commit/d96c557805eaf2276250e3ab7e3cc3a0c464b17a

[2016-11-23 13:31] #2091 closed

[2016-11-23 13:45] greenkeeper[bot] opened #2107 "An in-range update of babel-preset-es2017 is breaking the build 🚨"
## Version **6.16.0** of [babel-preset-es2017](https://www.npmjs.com/package/babel-preset-es2017) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/stylelint/stylelint/compare/greenkeeper%2Fbabel-preset-es2017-6.16.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-preset-es2017

[2016-11-23 14:50] jeddy3 commented on #2090
I think we can achieve this with the addition of an `exceptAtRules: []` option to `block-closing-brace-empty-line-before`.

There is a precedence for `*-empty-line-before` rules accepting _user defined_ options in [at-rule-empty-line-before](https://github.com/stylelint/stylelint/tree/master/src/rules/at-rule-empty-line-before#ignoreatrules-array-of-at-rules). And one for `block-closing-brace-*` r

[2016-11-23 15:23] samjbmason opened #2108 "Should at-rule-semicolon-newline-after be boolean?"
A bug where the rule `at-rule-semicolon-newline-after` should have the value of `true` rather than `"always"`

`at-rule-semicolon-newline-after`

[code]

[code]

`7.6.0`

CLI

No

As there is only one option it feels like it should be boolean

I passed it the "always" string

[2016-11-23 15:35] evilebottnawi commented on #2108
@samjbmason we don't request from world to add `never` options, but theoretically it is realy

[2016-11-23 15:50] davidtheclark commented on #2090
@jeddy3 What if someone wants to use the exception for *all* at-rules?

[2016-11-23 15:51] davidtheclark commented on #2108
Nope, we have very standardized options, and `always` matches the convention across many rules. `true` is only used for `*-no-*` rules.

[2016-11-23 15:51] #2108 closed

[2016-11-23 16:02] evilebottnawi commented on #2108
@davidtheclark maybe add this note in development docs?

[2016-11-23 16:04] evilebottnawi commented on #2108
oh, sorry, we alread have this

[2016-11-23 16:06] evilebottnawi commented on #2108
But not have note about standardized :sob:

[2016-11-23 16:07] evilebottnawi commented on #2107
@davidtheclark i think issue in https://github.com/stylelint/stylelint/pull/2106 not in `babel` and we can close issue

[2016-11-23 16:48] jeddy3 commented on #2105
I'm not sure such a rule is viable.

`length-zero-no-unit` [distinguishes](https://github.com/stylelint/stylelint/blob/master/src/rules/length-zero-no-unit/index.js#L93-L95) `<length>` values by the fact they are suffixed with a length unit.

I think that the only way of detecting that the `0` in `margin: 0 10px;` is a length is by knowing the syntax of properties that accept `<length>`s as values

[2016-11-23 16:55] evilebottnawi commented on #2105
@jeddy3 agree

[2016-11-23 17:04] jeddy3 commented on #2090
Oops, I hadn't thought about that.

@thomasjbradley Is your code style to have an empty line before the closing brace of _just_ `@media` or [all at-rules](https://developer.mozilla.org/en/docs/Web/CSS/At-rule) e.g. `@support`, `@page`, `@font-face`, or do you have one code style for at-rules that nest rule-sets (e.g. `@media`, `@keyframes` etc), but not for those that only contain declarations e.g

[2016-11-23 17:29] thomasjbradley commented on #2090
For me it would only be nested rulesets. So `@supports`, `@keyframes`, `@media` — but not `@font-face`.

[2016-11-23 17:35] subzey opened #2109 "TypeError for unknown unprefixed variants in media-feature-name-no-vendor-prefix"
Bug: stylelint crashes.

`media-feature-name-no-vendor-prefix`

[code]

[code]

`7.6.0`

CLI.

No.

Stylelint not to crash

[code]

Proposed fix: https://github.com/subzey/stylelint/commit/c51c8cd8712141d31b9386437e38f063e998cea5

[2016-11-23 17:38] evilebottnawi commented on #2109
@subzey it is valid `css`? I can try validate in https://jigsaw.w3.org/css-validator/validator and got error

[2016-11-23 17:46] jeddy3 commented on #2090
@davidtheclark So it sounds like could have an `except: ["nesting-at-rules"]` keyword option, but I'm not in favour of that because it doesn't account for custom at-rules e.g.

[code]

The `exceptAtRules: []` option does require more configuration, but it feels necessary for this flexibility.

[2016-11-23 17:57] thybzi opened #2110 "False positive for pseudos and Less guard in selector-descendant-combinator-no-non-space"
Using CSS pseudo selector (`:hover`, `:not()`, `::after` etc.) and LESS guard (`when`) in the same line leads to `selector-descendant-combinator-no-non-space` false positive.

`selector-descendant-combinator-no-non-space`

[code]

e.g.

[code]

e.g. `7.6.0`

CLI with `stylelint test.less`

Yes, it's related to LESS `when` syntax: http://lesscss.org/features/#css-guards-feature

No warnings to be f

[2016-11-23 18:10] subzey commented on #2109
@evilebottnawi, it is syntactically valid, the validator only complains about the missing feature. And postcss parses it as well.

(You can place anything inside the `@media` block, if won't affect the crash)

Here's [a little demo](https://jsfiddle.net/fgyjLLm9/) where vendor prefixed versions works fine in both Firefox and Chrome.

[2016-11-23 18:14] thybzi commented on #2110
Concerns not only `:not()`, but all pseudo selectors. Updated the issue description.

[2016-11-23 18:25] subzey commented on #2109
The `-webkit-device-pixel-ratio: 2` feature indeed doesn't have its unprefixed variant, instead `min-resolution: 2dppx` should be used.

But I'd prefer the linter to yell at me with red colored text, but not to crash with a JS stacktrace.

[2016-11-23 18:44] #2107 closed

[2016-11-23 18:46] davidtheclark commented on #2090
Why not? If we're just checking that the at-rule contains rules, that would apply just as much to custom at-rules as standard ones, right?

[2016-11-23 18:50] davidtheclark commented on #2109
The proposed fix is good. The code should anticipated the possibility that `matches` returns `null`.

@subzey want to submit a PR with tests?

[2016-11-23 18:50] jeddy3 commented on #2090
I realised the same thing on the train. I originally thought we'd have to keep a list of standard nesting at-rules, but now, like you, I see that we can just detect if the at-rule contains rules.

`except: ["nesting-at-rules"]` works for me.

[2016-11-23 21:55] ntwb commented on #2107
Since when does @greenkeeper[bot] create issues? I thought it only ever did PRs /shrug

[2016-11-24 06:43] gucong3000 opened #2112 "Error: Undefined rule font-family-no-duplicate-names"
In `stylefmt` we use `stylelint.getConfigForFile()` to load configuration file. We hope that `rule Undefined` is just a warning, not an error.

https://github.com/morishitter/stylefmt/issues/237

[2016-11-24 09:20] evilebottnawi commented on #2110
@thybzi Thanks for feedback, today i can see this.

[2016-11-24 09:47] gucong3000 opened #2113 "Option ignoreFiles in configuration file that custom file name not work."
[code]

http://stylelint.io/user-guide/configuration/#ignorefiles
https://github.com/stylelint/stylelint/blob/master/src/isPathIgnored.js#L18

[2016-11-24 09:55] gucong3000 commented on #2113
I made a mistake.

[2016-11-24 09:55] #2113 closed

[2016-11-24 10:44] gucong3000 commented on #2112
Or, we can add a option, to ignore this kind of error.

[2016-11-24 16:35] davidtheclark commented on #2112
This is a design decision that I don't think we should change. It is important for users to know when they have entered a rule that does not exist.

I think that within `stylefmt` you should `catch` this error and deal with it as you wish. There is no need for us to build this option into stylelint because JavaScript provides a way to do it.

[2016-11-24 16:35] #2112 closed

[2016-11-24 16:43] thybzi opened #2114 "Fix false positives for Less detached rulesets in no-extra-semicolons"
One more bug concerning LESS detached rulesets (you may hate them already :)

`no-extra-semicolons` doesn't accept the semicolon after this kind of variable ends.

`no-extra-semicolons`

[code]

[code]

e.g. `7.6.0`

CLI with `stylelint test.less`

Yes, it's related to LESS detached rulesets: http://lesscss.org/features/#detached-rulesets-feature

No warnings to be flagged.

The following warnings

[2016-11-24 17:05] nkabardin opened #2115 "Exit code 0 when runtime error happened in loaded javascript configuration"
When you have a `stylelint.config.js` looking like this:

[code]

and you don't have `someUnknownStuff.js`, then stylelint cli breaks, obviously, and shows and error. But returning 0 (success) exit code, so build on jenkins is succeeded, even though configuration is wrong.

Not related to any rule

No CSS involved

[code]

`7.6.0`, and verified problem on current `master` as well

CLI

No

Error c

[2016-11-24 17:09] nkabardin commented on #2115
PR with fix: https://github.com/stylelint/stylelint/pull/2116

I also tried to create a system test for that, but seems like system tests are not covering CLI at the moment, and I can help with that and add system tests for CLI, but I would like to ask for advice on what's the best way to do that.

[2016-11-24 18:52] nikolasleblanc commented on #2048
Hey @davidtheclark, sure thing. Will be in touch, thanks everyone.

[2016-11-25 03:59] kagawagao opened #2119 "Support SVG attribute - r"
New feature: support `SVG` attribute - `r`

`property-no-unknown`

[code]

[code]

 `7.5.0`

CLI with `stylelint src/themes/**/*.css`

Yes, it's related to `PostCSS`.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2016-11-25 06:51] subzey commented on #2109
Sure

[2016-11-25 11:51] evilebottnawi commented on #2114
Reproduce

[2016-11-25 12:28] evilebottnawi commented on #2114
@davidtheclark @jeddy3 I see there are two solutions:
- I can handle this structure, know that it `rulesets` and allowed one semicolon
- I can ignore less and scss syntax (vote)

[2016-11-25 12:29] evilebottnawi commented on #2110
@thybzi can you provide full example, i can't find using `pseudo` with `when` in docs?

[2016-11-25 12:36] jwilsson opened #2120 "False positive for leading newlines for source map/copyright comments in comment-whitespace-inside reports"
A bug where `comment-whitespace-inside` reports source map/copyright comments with leading new lines.

`comment-whitespace-inside`

[code]

[code]

`7.6.0`

Via Gulp plugin, but it's reproducible via CLI as well, e.g.

[code]

No, it's regular CSS.

No warnings to be flagged since "regular" comments allow new lines, e.g.

[code]

is fine.

The following warnings were flagged:

[code]

I'd be happy

[2016-11-25 12:42] evilebottnawi commented on #2120
@jwilsson Thanks for feedback! Go PR :smile:

[2016-11-25 12:44] evilebottnawi commented on #2119
@kagawagao `property-no-unknown` use https://github.com/betit/known-css-properties, please not create issue here, create this in https://github.com/betit/known-css-properties repo. Thanks for helping us!

[2016-11-25 12:45] evilebottnawi commented on #2119
Issue: https://github.com/betit/known-css-properties/issues/6

[2016-11-25 12:45] #2119 closed

[2016-11-25 13:39] thybzi commented on #2114
I think this variant is better

[2016-11-25 15:21] davidtheclark commented on #2051
Agreed.

[2016-11-25 16:23] kagawagao commented on #2119
sorry, I didn't notice that, thanks !!!

[2016-11-25 16:40] niutech commented on #346
Stylelint plugin is now in the [Jetbrains Plugin Repository](https://plugins.jetbrains.com/plugin/9276)!

[2016-11-25 18:53] silverwind commented on #2051
I'm just not sure such a parser exists yet. I filed https://github.com/rlidwka/jju/issues/26.

[2016-11-25 19:58] danez commented on #346
Stylelint is also natively supported now in version 2016.3 without any additional plugin.

[2016-11-25 23:36] niutech commented on #346
Yes, but only for CSS files, not SCSS or LESS. That plugin works for
all of these.

[2016-11-25 23:36] danez commented on #346
Works also fine for scss files here.

[2016-11-26 10:28] #2048 closed

[2016-11-26 10:35] jeddy3 commented on #2119
@kagawagao In the meantime you can use the rule's [`ignoreProperties`](https://github.com/stylelint/stylelint/blob/master/src/rules/property-no-unknown/README.md#ignoreproperties-regex-string) secondary option to work around the issue.

[2016-11-26 11:14] jeddy3 commented on #2105
@PsiXdev Feel free to attempt this as a [plugin](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md).

[2016-11-26 11:14] #2105 closed

[2016-11-26 11:16] jeddy3 commented on #2100
@AntonNiklasson Feel free to reopen this issue with a compelling use case that isn't covered by input globs and `ignoreFiles`. Closing for now.

[2016-11-26 11:16] #2100 closed

[2016-11-26 11:25] jeddy3 commented on #2090
I'll label this issue up accordingly.

@thomasjbradley Would you [like to contribute](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#adding-options-to-existing-rules) this option?  [`rule-non-nested-empty-line-before`](https://github.com/stylelint/stylelint/blob/master/src/rules/rule-non-nested-empty-line-before/index.js#L63-L77) has some examples of how such an `

[2016-11-26 12:56] jeddy3 commented on #2055
I understand the intent of the issue, i.e. to help increase adoption of stylelint by those who use MSBuild/NuGet stack, and hopefully someone in the community, who uses stylelint and MSBuild/NuGet, maintains such a package.

[2016-11-26 12:56] #2055 closed

[2016-11-26 12:59] jeddy3 commented on #2068
Closing in favour of https://github.com/stylelint/stylelint/issues/2079

[2016-11-26 12:59] #2068 closed

[2016-11-26 15:01] jeddy3 opened #2123 "Deprecate rules"
- [x] `declaration-block-properties-order` ([ref](https://github.com/stylelint/stylelint/issues/2035))
- [x] `selector-no-empty` ([ref](https://github.com/stylelint/stylelint/issues/2073))
- [x] `media-feature-no-missing-punctuation` ([ref](https://github.com/stylelint/stylelint/issues/2075))
- [x] `declaration-block-no-ignored-properties` ([ref](https://github.com/stylelint/stylelint/issues/2077)

[2016-11-26 15:01] #2077 closed

[2016-11-26 15:01] #2075 closed

[2016-11-26 15:01] #2073 closed

[2016-11-26 15:02] #2035 closed

[2016-11-26 15:04] jeddy3 opened #2124 "Remove rules"
- [x] `block-no-single-line`
- [x] `custom-property-no-outside-root`
- [x] `declaration-block-no-ignored-properties`
- [x] `declaration-block-properties-order`
- [x] `media-feature-no-missing-punctuation`
- [x] `no-browser-hacks`
- [x] `no-indistinguishable-colors`
- [x] `no-unsupported-browser-features`
- [x] `root-no-standard-properties`
- [x] `rule-nested-empty-line-before`
- [x] `rule-non-nest

[2016-11-26 15:04] #2078 closed

[2016-11-26 15:04] #2076 closed

[2016-11-26 15:04] #2074 closed

[2016-11-26 15:04] #2036 closed

[2016-11-26 15:09] jeddy3 opened #2125 "Deprecate block-no-single-line"
`block-opening-brace-newline-after` and `block-closing-brace-newline-before` are more flexible and can be used to achieve the same.

Ref: https://github.com/stylelint/stylelint/issues/2079

[2016-11-26 15:13] jeddy3 opened #2126 "Deprecate spec validation rules"
Spec validation best handled in plugins?

Ref: #2079

[2016-11-26 15:22] davidtheclark commented on #2125
This isn't self-evident to me. Can you please explain how you'd do this?

[2016-11-26 15:25] davidtheclark commented on #2126
@jeddy3 I don't know about this ... Are there even any plugins that would handle this kind of validation for most of stylelint's users — or is it still all talk? Unless one of those tools approaches a more finished state (and also devises a method for dealing with non-standard syntax), we might have to start coming to terms with the idea that it just won't happen.

[2016-11-26 15:36] jeddy3 commented on #2125
[code]

Would allow:

[code]

But not this:

[code]

This:

[code]

Or this:

[code]

If you wanted to allow single line blocks then you'd use the `"always-multi-line"` option for both rules.

At moment the following config:

[code]

With:

[code]

Produces:

[code]

Here you can see the redundancy.

[2016-11-26 15:49] jeddy3 commented on #2126
I'm unsure too. I figured it was worth using the audit from https://github.com/stylelint/stylelint/issues/2079 try to bring a bit more clarity to what spec-validation rules we do include in core and which we don't.

This is likely the kicker.

Agreed. I'll pull the rules that _aren't about spec validation_ out of https://github.com/stylelint/stylelint/issues/2079 and into separate issues (grouped

[2016-11-26 15:49] davidtheclark commented on #2125
Hmm ... thanks, I think I'm convinced. Let's see what others have to say.

[2016-11-26 22:13] davidtheclark commented on #2120
Closed by #2121.

[2016-11-26 22:13] #2120 closed

[2016-11-26 22:15] davidtheclark commented on #2093
Closed by #2102.

[2016-11-26 22:15] #2093 closed

[2016-11-27 00:00] davidtheclark commented on #786
Closing this due to apparent lack of interest (nobody built it or commented). This rule is an excellent plugin candidate.

[2016-11-27 00:00] #786 closed

[2016-11-27 03:55] davidtheclark opened #2131 "Random CI failures and slowdowns in Jest tests"
I'm seeing some problems with the Jest tests that are bumming me out ... (ಠ_ಠ)

Occasionally, not consistently, async tests are timing out with an error like this:

[code]

Such tests may or may not pass on a retry.

Also, I'm seeing a lot of hang time slowing down Travis. Throughout the suite listing there are messages like this:

[code]

So running the tests in that one file ended up taking 76 s

[2016-11-27 08:28] ntwb commented on #2061
Adding this here on the issue rather than #2129 as these issues should be addressed separately:

• After merging #2129 we should run "Delete all repository caches" via https://travis-ci.org/stylelint/stylelint/caches so that any _legacy_ cache folders in particular relating to our `master` branch are _flushed_.

• @greenkeeperio / @greenkeeperio-bot currently support Yarn, as such when a new PR is

[2016-11-27 08:40] ntwb commented on #2061
See also https://medium.com/@boennemann/avoid-yarn-for-packages-and-fully-enjoy-its-benefits-for-application-development-8bdd4deb33cf#.2sbh58tof, I may need to read this article a couple more times to fully grok the ramifications of the issues raised though it looks like if we use packages that _also_ use Yarn there are potential issues with semver conflicts that may occur.

[2016-11-27 09:06] #2066 closed

[2016-11-27 14:38] kagawagao commented on #2119
@jeddy3 👍

[2016-11-27 14:56] davidtheclark commented on #2061
@ntwb 🤔 ... yeah, it may be that we're better off *not* using Yarn. Our installation and CI's would better match that of most users. We would avoid having to deal with any bugs. I'm also skeptical of adding another hot-new-thing into the mix, since I seriously regret our usage of Babel and am starting to wonder if I should regret our (partial) migration to Jest ... I'll let you make the call @ntwb

[2016-11-27 14:57] #2064 closed

[2016-11-27 15:17] davidtheclark commented on #2131
Running with the `-i` flag prevented the timeout errors, as

BUT I still was unable to finish running the tests successfully. Hit an allocation failure:

[code]

[2016-11-27 15:24] davidtheclark commented on #2131
Also worth noting that the ^^ memory failure occurred *5.5 minutes* into running the tests ... so perf is still not acceptable for us.

[2016-11-27 18:19] davidtheclark opened #2133 "Drop Babel"
I'm convinced that one of the best things we can do for the overall health and efficiency of this project is to drop Babel. Here are some of the benefits:

- Faster tests, no matter what runner we use
- No polyfill-vs-native confusion
- Fewer dependencies = smaller package, more efficient development & CI
- Faster installation
- Easier debugging for users & devs
- Faster runtime performance

The o

[2016-11-27 18:22] davidtheclark commented on #2061
@ntwb FYI, given #2131 and #2133, I am all for *not* using the shiny-and-new if we anticipate *any* troubles with it.

[2016-11-27 19:28] jeddy3 commented on #2119
FYI, a new version of `known-css-properties` (containing `r` etc...) will be [bundled in](https://github.com/stylelint/stylelint/pull/2132) the next stylelint release.

[2016-11-28 02:16] davidtheclark commented on #2133
FYI: I'm well on my way to making this happen ...

[2016-11-28 09:34] evilebottnawi commented on #2133
@davidtheclark :+1:

[2016-11-28 09:35] evilebottnawi commented on #2131
@davidtheclark have some issue in other project, i think trouble in `jest`, need investigation and `issue` in `ject`

[2016-11-28 11:13] evilebottnawi opened #2136 "False negative for nested media queries in selector-max-compound-selectors"
Expected a different behavior.

Ref: https://github.com/stylelint/stylelint/pull/2102#issue-191053388

`selector-max-compound-selectors`

e.g.

[code]

e.g.

[code]

`7.6.0`

No matter

SCSS

Throw error.

Nothing

[2016-11-28 11:14] nkabardin commented on #2133
There are many good things about this idea, and whether will be decided, I'm up for helping with that.

[2016-11-28 11:19] evilebottnawi commented on #2133
@davidtheclark Perhaps for greater opportunities and less rewriting code should wait for the official dropping `node v4`. If I'm not mistaken it will happen in April next year.

[2016-11-28 11:25] evilebottnawi commented on #2126
@davidtheclark @jeddy3 We can create sepo repo `stylelint-plugin-validation` (maybe best name) for dropped rules, which validate `css` syntax. I could give him some time until we find people interested in the further development. This will free the core from this rules and make it more stable and to avoid problems with the community. Never too late to remove it in the future from our organization

[2016-11-28 11:34] m-allanson commented on #2133
@evilebottnawi 'Active' support ends in April 2017, 'Maintenance' support in April 2018. I agree it could help reduce the work involved, but it depends on how aggressive stylelint can be in dropping support for older versions of Node.

- [Node LTS schedule](https://github.com/nodejs/LTS)
- [Node ES6 compatibility table](http://node.green/)

[2016-11-28 11:44] evilebottnawi commented on #2133
@m-allanson In theory you could write a recipe on how to run `stylelint` on `node v4` (maybe throw babel) and exclude `node v4` from our code base

[2016-11-28 11:57] TrySound commented on #2133
@evilebottnawi Bad UX. People will hate stylelint

[2016-11-28 12:12] evilebottnawi commented on #2125
@jeddy3 @davidtheclark how about add default example (disallow single-line, allow single-line, allow single-line with number of declaration) in docs.

[2016-11-28 12:14] evilebottnawi commented on #2133
@TrySound we can create hook in `npm` `script` section and do it automatically on `node v4`

[2016-11-28 12:43] hudochenkov opened #2139 "Incorrect severity level for a rule called from other rule"
If rule was executed from another rule, it has incorrect severity level `ignore`. stylelint-order's `declaration-block-property-groups-structure` [calling](https://github.com/hudochenkov/stylelint-order/blob/master/rules/declaration-block-property-groups-structure/index.js#L32) `declaration-block-properties-order`. `declaration-block-property-groups-structure` has default `error` severity level, b

[2016-11-28 13:27] nkabardin commented on #2115
new PR submitted: https://github.com/stylelint/stylelint/pull/2140

system test created!

[2016-11-28 14:48] davidtheclark commented on #2131
@evilebottnawi There is a relevant closed issue in Jest: https://github.com/facebook/jest/issues/1742. And I opened a new whiny issue: https://github.com/facebook/jest/issues/2171

[2016-11-28 14:51] davidtheclark commented on #2125
@evilebottnawi Yep, I think if we're going to remove `block-no-single-line` we have to provide those examples.

[2016-11-28 14:53] davidtheclark commented on #2133
Already made it compatible with Node 4 in https://github.com/stylelint/stylelint/pull/2134. If you'd like to help with this, I'll try to make a list of things to do in that PR.

[2016-11-28 14:55] evilebottnawi opened #2141 "False positive for custom selectors in `selector-pseudo-class-no-unknown`"
False positive for custom selectors in `selector-pseudo-class-no-unknown`.

`selector-pseudo-class-no-unknown`

e.g.

[code]

[code]

`7.6.0`

CLI

`postcss-cssnext`

No warnings to be flagged.

The following warnings were flagged:

[code]

No time fixed this today.

[2016-11-28 14:57] evilebottnawi commented on #2125
I think we can add note about this in https://github.com/stylelint/stylelint/issues/2123 and deprecate this rule.

[2016-11-28 15:17] nkabardin opened #2142 "Add system tests for CLI"
After working on https://github.com/stylelint/stylelint/issues/2115 I realized that there are no tests for `cli`.

One system test added [here](https://github.com/stylelint/stylelint/pull/2140/files) to check that cli returns proper exit code, but it's only one case and all other cases should be checked as well.

It should be system tests, but I don't think it's a good idea to just number them the

[2016-11-28 15:20] davidtheclark commented on #2142
Thanks @nkabardin! #2046 already exists but only addresses unit tests, I think. So I changed this issue title to reflect its focus on system tests.

[2016-11-28 20:02] doberkofler opened #2143 "Ero"
e.g. "A bug where..."

e.g. `number-leading-zero`

e.g.

[code]

e.g.

[code]

e.g. `6.7.1`

e.g. "CLI with `stylelint --config myconfig *.css`"

e.g. "Yes, it's related to SCSS maps."

e.g. "No warnings to be flagged."

e.g. "The following warnings were flagged:"

[code]

[2016-11-28 20:13] Arcanemagus commented on #2143
@doberkofler You need to actually fill in the template above, currently your entire issue is only what you have in the title of "Ero", which isn't very helpful.

[2016-11-28 20:28] doberkofler opened #2144 "Safer raws checks in `declaration-colon-newline-after` rule."
After upgrading stylelint from 7.5.0 to 7.6.0 and stylelint-config-standard from 14.0.0 to 15.0.0 I get the following exception when linting files that did not report any errors before

[code]

Maybe declaration-colon-newline-after based on the exception ?

[code]

[code]

7.6.0

postcss-loader in a webpack configuration
[code]

[code]

no

No warnings to be flagged.

exception

[2016-11-28 20:34] doberkofler commented on #2143
@Arcanemagus sorry. wrongly pressed enter but now have created a proper issue.

[2016-11-28 20:34] #2143 closed

[2016-11-29 03:20] jyane opened #2145 "@apply with 'no-browser-hacks' will produce an Error"
Is this a bug?

`no-browser-hacks`

[code]

[code]

`7.5.0`

stylelint .

PostCSS

No warnings, and No Errors.

[code]

[2016-11-29 08:15] MoOx opened #2146 "selector-pseudo-element-no-unknown should skip custom selector by default"
feature

selector-pseudo-element-no-unknown

This is the tricky part. Using the CSS standalone does not seems to allow reproduction

https://github.com/MoOx/phenomic/blob/84d0ad5c0a0b66f3f060ec7c592b2a04e1e4a178/docs/src/index.global.css

To reproduce:

[code]

[code]

https://github.com/MoOx/phenomic/blob/84d0ad5c0a0b66f3f060ec7c592b2a04e1e4a178/docs/package.json#L148-L155

"stylelint": "^7.2.0",

[2016-11-29 09:29] evilebottnawi commented on #2146
@MoOx Thanks for feedback. Duplicate https://github.com/stylelint/stylelint/issues/2141

[2016-11-29 09:29] #2146 closed

[2016-11-29 09:31] evilebottnawi commented on #2145
@jyane `no-browser-hacks` rule used https://github.com/ben-eb/stylehacks package, this issue should be sent to this package

[2016-11-29 09:31] #2145 closed

[2016-11-29 09:34] evilebottnawi commented on #2144
@doberkofler `stylus-loader`, we not support officially `stylus`. But you code seem as `scss`, am i right?

[2016-11-29 10:10] doberkofler commented on #2144
@evilebottnawi I understand that there is no support for stylus but the example is pure css. I actually also wrongly wrote stylus-loader but fixed as with css only the postcss-loader is used in my webpack configuration. The reason why I've case to the conclusion that this might be a problem in stylelint is actually because only by updating stylelint and stylelint-config-standard the exception was

[2016-11-29 10:25] evilebottnawi commented on #2144
@doberkofler oh sorry, i seem on this lines:
[code]
But it is comment :smile:

[2016-11-29 10:36] ntwb commented on #2125
SGTM 👍

[2016-11-29 10:46] evilebottnawi commented on #2144
@doberkofler can not reproduce, can you provide more information or create test repo contain this issue?

[2016-11-29 12:35] doberkofler commented on #2144
@evilebottnawi This is the smaller example, I was able to come up with. As it is, it should throw the exception and by reverting to stylelint@7.5.0 and stylelint-config-standard@14.0.0, it should work again as expected.

[declaration-colon-newline-after.zip](https://github.com/stylelint/stylelint/files/618949/declaration-colon-newline-after.zip)

[2016-11-29 13:33] evilebottnawi commented on #2144
@doberkofler Reproduce
Simular problems: https://github.com/stylelint/stylelint/pull/2092.
We should add check `decl.raws.*` in all rules. Thanks!

[2016-11-30 04:38] davidtheclark commented on #2133
Closed by #2134.

[2016-11-30 04:38] #2133 closed

[2016-11-30 13:05] merlinpatt opened #2148 "color-rgb-only"
A new rule (feature) that would only allow for rgb and rgba values for color

e.g.

[code]

`7.6.0`

"CLI with `stylelint --config myconfig *.css`"

No

[2016-11-30 13:48] evilebottnawi commented on #2148
@merlinpatt How about this http://stylelint.io/user-guide/rules/declaration-property-value-whitelist/ rule?

[2016-11-30 14:49] #2141 closed

[2016-11-30 14:57] jeddy3 commented on #2125
Moving to https://github.com/stylelint/stylelint/issues/2123

[2016-11-30 14:57] #2125 closed

[2016-11-30 15:05] jeddy3 commented on #2148
@merlinpatt Thanks for the request. What you're after can be achieved with:

- [`color-named`](http://stylelint.io/user-guide/rules/color-named/) and [`function-whitelist`](http://stylelint.io/user-guide/rules/function-whitelist/) (or `function-blacklist`]), if you want to do this for _all_ colours.
- [`declaration-property-value-whitelist`](http://stylelint.io/user-guide/rules/declaration-propert

[2016-11-30 17:42] merlinpatt commented on #2148
While the whitelist (or blacklist) will work, as wellas the regex options, this seems like something that should be easily declared within the configuration itself as its own rule. It also means that one needs an understanding of regex to configure that, which shouldn't be necessary to configure a linter.

Some of the configuration rules could in fact be done with regex (color-hex-case, color-name

[2016-11-30 18:06] davidtheclark commented on #2148
configuration itself as its own rule

Can you please explain why you think rgb-only enforcement is important to
many users and not just a special case?

On Wed, Nov 30, 2016 at 10:42 AM, Merlin Patterson <notifications@github.com

[2016-11-30 18:36] merlinpatt commented on #2148
I don't have any research that would prove that this more than just a special case. But I do think that a not insignificant portion of developers use rgb, just as there are a non-insignificant number who use hex.

I'm unclear why there are multiple rules regarding hex values but none for rgb or hsl, which are also valid color values. From this, I infer that stylelint believes that developers shoul

[2016-11-30 18:41] davidtheclark commented on #2148
@merlinpatt: Honestly I think it's just because nobody has requested the others before.

@jeddy3: I think we need to address this request with something more tailored than a slightly imperfect combination of `color-named` and `function-whitelist` (which would still let hex values through, right?). How about a rule like `color-format` with options like `hex`, `rgb`, `rgba`, `hsl`, etc., for enforci

[2016-11-30 18:52] merlinpatt commented on #2148
I like the idea of a `color-format` choice. For future feature requests, I'll think about how to genericize the rule to be more of a choice.

[2016-11-30 18:56] evilebottnawi commented on #2148
@davidtheclark @merlinpatt
`declaration-property-value-blacklist` with `"/.*/": ["/#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})/"]` - disable all properties use color hash

[2016-11-30 18:58] davidtheclark commented on #2148
@evilebottnawi Can't you see how that's not so user-friendly?

[2016-11-30 19:00] evilebottnawi commented on #2148
@davidtheclark but it is work :smile:

[2016-11-30 19:05] evilebottnawi commented on #2148
@davidtheclark

Best solution is array -> ['hex', 'rgba', 'hls'], example i don't like `rgb` and `rgba` i use hex. But on the other hand, then it is necessary to mean all of the options which may contain colors and mean all possible functions, and it is not easy.

[2016-11-30 19:08] evilebottnawi commented on #2148
@merlinpatt you want use `rgb` only for `color` properties or other?

[2016-11-30 19:10] merlinpatt commented on #2148
I would like to use it for `color` related properties so `color`, `background-color`, etc

[2016-11-30 19:11] evilebottnawi commented on #2148
@merlinpatt why not use `"color-no-hex": true` and disable hex everywhere?

[2016-11-30 19:16] davidtheclark commented on #2148
So are we recommending:
- Disable hex values with `color-no-hex`
- Disable named colors with `color-no-named`
- Disable all color functions except `rgb` with a blacklist

Then maybe you can effectively enforce rgb-only.

That's kind of ridiculous for somebody with a fairly simple request, right?

On Wed, Nov 30, 2016 at 12:11 PM, Evilebot Tnawi <notifications@github.com>
wrote:

[2016-11-30 19:19] evilebottnawi commented on #2148
@davidtheclark Perhaps, but we can create a document which will put such practices, thus save time when new request is comming.

[2016-11-30 23:19] ntwb commented on #2061
Agreed, lets wait until Yarn is a little older and less shiny...

[2016-12-01 00:18] simonsmith opened #2149 "Ignoring node_modules when using the PostCSS API"
Hello,

We're using stylelint in the SUIT CSS preprocessor and one issue we have is around [ignoring imports](https://github.com/suitcss/preprocessor/issues/58) that are located in `node_modules`. We're using it like so:

[code]

From looking round the source I can see the Node API uses globs with a `alwaysIgnoredGlobs` containing `node_modules` but it looks like the PostCSS goes around this check

[2016-12-01 03:31] greenkeeper[bot] opened #2151 "An in-range update of npm-run-all is breaking the build 🚨"
## Version **3.1.2** of [npm-run-all](https://github.com/mysticatea/npm-run-all) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/stylelint/stylelint/compare/greenkeeper%2Fnpm-run-all-3.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      npm-run-all
    </td>
  </tr>
  <tr>
    <th al

[2016-12-01 03:48] ntwb commented on #2151
The only failing CI test was coveralls: https://coveralls.io/builds/9075019

Travis CI passed (not that `npm-run-all` has or needs tests in stylelint:
• https://travis-ci.org/stylelint/stylelint/builds/180292375
• https://travis-ci.org/stylelint/stylelint/builds/180292756

[2016-12-01 03:51] ntwb commented on #2151
Due to recent changes in stylelint, our coverage has dropped to 92%

We previously had a "Coverage threshold for failure" at 95%, this is the reason recent PRs are failing coverage tests, I've lowed this value now to 90% for the time being:

https://coveralls.io/github/stylelint/stylelint/settings

[2016-12-01 03:51] #2151 closed

[2016-12-01 14:16] davidtheclark commented on #2144
Closed by #2153.

[2016-12-01 14:16] #2144 closed

[2016-12-01 14:31] evilebottnawi commented on #2109
Done in https://github.com/stylelint/stylelint/pull/2152

[2016-12-01 14:31] #2109 closed

[2016-12-01 14:32] #2115 closed

[2016-12-01 14:39] davidtheclark commented on #1947
This is complete.

[2016-12-01 14:39] #1947 closed

[2016-12-01 14:50] davidtheclark commented on #2131
We've tracked this down, done what we can, and opened relevant issues. So I'm going to close this particular issue.

[2016-12-01 14:50] #2131 closed

[2016-12-01 15:25] evilebottnawi commented on #2114
/cc @davidtheclark @jeddy3 need your opinion

[2016-12-01 15:33] davidtheclark commented on #2114
I don't think we want to build into stylelint any parsing of non-standard syntax — no expectations that we know what it's doing, just that we know when to ignore it. I *think* this principle is consistent throughout our existing rules (is that right?).

The expectation, then, is that if Less users want to enforce semicolons in these non-standard places, they can create plugins to do so.

[2016-12-01 15:57] evilebottnawi commented on #2114
@davidtheclark agree, let's ignore this construction

[2016-12-01 16:19] jeddy3 commented on #2114
Yes it is.

Agreed.

Agreed.

[2016-12-01 16:41] horosgrisa opened #2154 "Problem with declaration-empty-line-before"
I use postcss-sorting and I have follow css:
[code]

This work normal, but when i add at-rule `@each` from postcss-each:
[code]
I obtain error: `Unexpected empty line before declaration` because stylelint don't understant this keyword.

`declaration-empty-line-before`

e.g.

[code]

`7.6.0`

Atom editor linter & gulp-stylelint

Yes, it's related to postcss-for.

No warnings to be flagged.

The fol

[2016-12-01 17:52] jeddy3 commented on #2154
@horosgrisa Thank you for using the template.

I think the rule is behaving as expected. You've configured `declaration-empty-line-before` to `never` (ignoring `after-declaration`) and you have an empty line before the `position: relative;` declaration on line 9.

If you want to enforce the following code style:

[code]

Then try:

[code]

i.e. There should be an empty line before a declaration. E

[2016-12-01 22:30] davidgilbertson commented on #1970
Same issue here

node: 6.6.0
npm: 3.10.3
stylelint: 7.6.0

Can confirm that when calling this from an npm script.

- `myApp/css/*.scss` will look only in the `css` (correct)
- `myApp/css/**.*.scss` will look only in directories immediately under `css` (but not files in the top level of the `css` directory) (incorrect)

It's actually a sneaky issue because _most_ of my scss files are only one level

[2016-12-02 07:11] pixelass commented on #1970
@davidgilbertson I belive this is wrong: `myApp/css/**.*.scss`

Try `myApp/css/**/*.scss`

[2016-12-02 09:30] evilebottnawi commented on #1970
@davidgilbertson can you create example repo with reproduced error?

[2016-12-02 10:19] davidgilbertson commented on #1970
@evilebottnawi does that mean that where you're testing, if you do an npm script such as `"lint-sass": "stylelint 'myApp/css/**/*.scss'", it runs on files in the `css` directory and two or three levels deep?

[2016-12-02 10:21] evilebottnawi commented on #1970
@davidgilbertson yep, and deep and deep and deep and forever deep

[2016-12-02 13:09] salzhrani opened #2155 "Add selector-pseudo-element-no-invalid rule"
a new rule warn about writing a decedent to a pseudo element

[code]

7.6.0

e.g. "CLI with `stylelint --config myconfig *.css`"

it also affects scss

[code]

a warning like: Pseudo elements have no descendants

no errors

[2016-12-03 03:57] davidgilbertson commented on #1970
Sorry I was getting mixed up, to clarify:

- glob with **no single quotes** around it: only includes one level down, doesn't go deep
- glob **with single quotes** around it: goes deep, but doesn't select the top level folder (e.g. `"lint-sass": "stylelint 'myApp/css/**/*.scss'"` will not lint the file `myApp/css/main.scss`.

Do you get the behaviour of the second instance? Or does a top level file

[2016-12-03 11:57] evilebottnawi commented on #1970
@davidgilbertson provide please, os, node, npm verison

[2016-12-03 21:11] jeddy3 opened #2161 "Release 7.7.0"
@stylelint/core How do we feel about releasing `7.7.0` this weekend?

Besides [some code style issues](https://github.com/stylelint/stylelint/pull/2160#issue-193313397) the migration away from babel looks good to me.

It'd be good to get a thumbs up for everyone once they're tried `master` against their code bases.

- [x] stylelint release
- [x] stylelint-config-standard update/release
- [x] style

[2016-12-03 21:24] jeddy3 commented on #2155
@salzhrani Thank you for the suggestion and for using the template.

@stylelint/core We can discuss this in https://github.com/stylelint/stylelint/issues/2126 as its another spec validation rule.

[2016-12-03 21:24] jeddy3 commented on #2154
@horosgrisa Feel free to reopen my suggestion doesn't resolve the issue for you.

[2016-12-03 21:24] #2154 closed

[2016-12-03 21:26] jeddy3 commented on #2149
Any help resolving this more quickly is appreciated @simonsmith as we're pretty stack at the moment with some refactoring and test infrastructure changes.

[2016-12-03 21:30] jeddy3 commented on #2139
@hudochenkov Thank you for the report. This looks like it'll require some investigation and any help would be appreciated.

[2016-12-03 21:37] evilebottnawi commented on #2155
@jeddy3 css validation have error, I think this does not apply to us, best solution is plugin

[2016-12-03 21:38] evilebottnawi commented on #2148
@jeddy3 what do you think about notes? and we can close this issue?

[2016-12-03 22:20] horosgrisa commented on #2154
@jeddy3 It works, but I don't check if ain't broken other css.

[2016-12-03 23:21] ntwb commented on #2148
I'm +1 to the above...

[2016-12-04 00:33] ntwb commented on #2161
Should the release be a `major` semver release? i.e. `8.0.0`

Primarily I'm think `major` because of the changed location of the stylelint binary?

[2016-12-04 00:35] davidtheclark commented on #2161
@ntwb I don't think so, because users should not have been invoking `dist/cli.js` or `src/cli.js` directly: they should have been using the command `stylelint`, which should still work the same way.

[2016-12-04 00:39] ntwb commented on #2161
Yeah, should be the operative word...

The first 3 results of this search show that not to be the case 😞

https://github.com/search?utf8=%E2%9C%93&q=stylelint%2Fdist%2Fcli.js&type=Code&ref=searchresults

[2016-12-04 00:41] davidtheclark commented on #2126
I'm not sure that we should drop any of these rules, though. Can we discuss specific rules that people think *should* go, and why?

Note that my thinking about "not being a CSS validator" is that we won't be able to know, for example, that in `horse: shoe`, `horse` is not a valid property and `shoe` is not a valid keyword. I don't really think that rules that are more straightforward mistakes, lik

[2016-12-04 00:48] davidtheclark commented on #2155
If we do make a rule for this, I think it should be a little more general, like `selector-pseudo-element-no-invalid`. [In the spec](https://www.w3.org/TR/selectors4/#pseudo-classes) there are some specific rules:

[2016-12-04 00:49] davidtheclark commented on #2161
Yeah, well ... if you use a non-public API, you should expect to this to happen.

[2016-12-04 01:20] ntwb opened #2164 "Unhandled promise rejections are deprecated"
Via https://travis-ci.org/stylelint/stylelint/jobs/181025542

[code]

[2016-12-04 01:41] ntwb opened #2165 "Jest tests not running on NodeJS v6.x & 4.x Travis CI jobs"
NodeJS v6.x: https://travis-ci.org/stylelint/stylelint/jobs/181025543
NodeJS v4.x: https://travis-ci.org/stylelint/stylelint/jobs/181025544

[code]

~~The issue appears to be the `,` after `lib` in the `testPathDirs`: i.e `lib,/` rather than `lib/`~~
Edit: The comma is a separator between two paths, this is not the cause

https://github.com/stylelint/stylelint/blob/master/package.json#L113-L116
[c