[2016-12-04 04:06] ntwb commented on #2165
Noting NodeJS v7.x on Travis CI and NodeJS v7.x on AppVeyor work as expected.

This issue has me rather stumped at the moment, will revisit in a few hours 🤔

[2016-12-04 10:32] EvgenyOrekhov commented on #1973
I use stylelint programmatically and I bumped into this issue.

I discovered that passing the name of the config that I extend to `require.resolve()` solves the issue:

[code]

In the case of using an array we would need to map it over `require.resolve()` like this:

[code]

I hope this info helps to fix the issue in the upstream.

[2016-12-04 14:15] davidtheclark commented on #2164
I'm not able to reproduce this locally. Could someone on Node 7 give this a shot?

[2016-12-04 14:21] davidtheclark commented on #2165
Can't seem to reproduce locally on Node 4.

[2016-12-04 14:42] davidtheclark commented on #2165
By changing the `testPathPattern` flag to `.*lib/.*` I was able to get these tests running on Travis. Unfortunately, Node 4 crashes!

[2016-12-04 14:44] davidtheclark commented on #2164
Hm, when we get these tests actually running on Travis, the same error occurs on Node 6 — not seeing on 4. Aha, and I can reproduce that locally. Will investigate.

[2016-12-04 15:07] davidtheclark commented on #2164
Found the cause for this. There was some buggy promise handling in a few Jest util tests. Will fix.

Worth noting — I didn't know about this until exploring this issue — you can add a listener for unhandled promise rejections and get a better stack trace:

[code]

[2016-12-04 19:00] #2164 closed

[2016-12-04 19:05] davidtheclark opened #2168 "We are leaking memory"
Somehow we are leaking memory. I think this is causing the problems that we reported to Jest in https://github.com/facebook/jest/issues/2179.

I think the cause is within the stylelint code, not the Jest test runner, because when I run thousands of Jest tests *without* requiring stylelint, the heap does not grow indefinitely the way it does when I *do* require stylelint.

All it takes to make the

[2016-12-04 19:16] davidtheclark commented on #2168
I think I identified one issue, by a process of commenting in-and-out certain `require()` statements: `graceful-fs` in `cosmiconfig` seems to be leaking memory. If I replace that with `fs`, my dummy Jest tests, which use our `jest-setup.js` so require stylelint but *do not run `testRule`*, do not leak memory! However, I'm still seeing a memory leak when I run this modified `cosmiconfig` in actual

[2016-12-04 19:18] davidtheclark commented on #2168
Oh, good news again: I'm not actually seeing leaky memory with the modified `cosmiconfig`. I'm seeing the heap grow, but then it consistently cuts back, instead of accumulating indefinitely. Continuing to investigate ...

[2016-12-04 19:29] jeddy3 commented on #2168
This is likely new territory for a lot of us!

Excellent news! Just out of curiosity, what tool are you using to see the heap grow? Is the v8-profiler mentioned in https://github.com/facebook/jest/issues/2179#issuecomment-264661386?

[2016-12-04 19:32] davidtheclark commented on #2168
@jeddy3 No, I tried that but the snapshots were overwhelming, and I could not find a tutorial that really helped. The tutorials I did find dealt with many, many fewer allocations, so their heuristics for finding leaks just didn't help me. Instead, I'm just Jest with `--logHeapUsage` and seeing how the usage stats change when I make changes to files.

[2016-12-04 19:38] jeddy3 commented on #2168
Yep, I'm in a similar boat. It's fantastic that you're making progress with `--logHeapUsage` though!

[2016-12-04 19:52] davidtheclark commented on #2165
Fixed by #2167.

[2016-12-04 19:52] #2165 closed

[2016-12-04 20:20] davidtheclark commented on #2168
I think I tracked down the problem, and just filed an issue with graceful-fs: https://github.com/isaacs/node-graceful-fs/issues/102

If I can get the Travis tests for PR #2158 to pass using `fs` in `cosmiconfig`, I will cut a new release of `cosmiconfig`, include that in the PR, then merge it.

[2016-12-04 21:06] davidtheclark commented on #2168
Closed by #2158.

[2016-12-04 21:06] #2168 closed

[2016-12-04 22:07] hinok opened #2170 "Custom rules overrides extended config"
**Here is repository that reproduce bug described below**
https://github.com/hinok/stylelint-sass-css-modules

I've found the same problem described in another repository
https://github.com/kristerkari/stylelint-scss/issues/86

A bug when you extends a config and try to define custom rules.

[code]

I prepared a repository that represents this bug https://github.com/hinok/stylelint-sass-css-module

[2016-12-04 22:51] davidtheclark commented on #2170
@hinok Thanks for opening this. After looking into the linked issue, I realized that there's probably a good solution for stylelint-scss, and [I wrote about it over there](https://github.com/kristerkari/stylelint-scss/issues/86#issuecomment-264737962). Will that solution work for you?

I don't understand what this means. In the repo you linked to, I do not see any "custom rules". You are in fact o

[2016-12-04 23:25] davidtheclark commented on #2139
Uh oh ... maybe the ability to use other rules is not quite mature. I have an idea ...

[2016-12-04 23:29] ntwb commented on #2164
Woot 🎉

[2016-12-05 09:16] evilebottnawi commented on #2126
@davidtheclark

Use https://jigsaw.w3.org/css-validator/#validate_by_input, input:
[code]
No validation error, and the specification is not considered an error, so I think that this rule should remain in the core

[code]
Error: Value Error : color #ffff is not a valid color 3 or 6 hexadecimals numbers : #ffff and we have allowed hex color form in spec and this should be removed from the core, it i

[2016-12-05 09:59] hinok commented on #2170
Frankly I've thought that it works more like eslint where all rules from

[code]

are merged into configuration defined in

[code]

So if I have defined confiruation like

[code]

and it works with `scss` syntax without any problems so adding new "custom rules" to the `"rules": { ... }` just extends configration not overrides it. So my understanding is that it should still work with `scss` syntax

[2016-12-05 10:27] #2149 closed

[2016-12-05 11:10] jeddy3 commented on #2170
I'm afraid I'm not understanding your request. Hopefully we can get to the bottom of it though.

_Overriding_ rules (rather than _merging_ them) is the intended and [documented](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#extends) behaviour. Merging rules (and their options) isn't a viable for the reason outlined in https://github.com/stylelint/stylelint/iss

[2016-12-05 12:47] hinok commented on #2170
@jeddy3 Aaaaaaaaa got it, #1646 clarifies everything. I'm closing the issue.
What do you think - maybe it's worth to write something about it in README or in guidelines?

[2016-12-05 12:47] #2170 closed

[2016-12-05 13:38] thybzi commented on #2114
Would these ruleset constructions be ignored for all rules, or just this one?

[2016-12-05 13:43] evilebottnawi commented on #2114
@thybzi all (all at-rules have pattern `@ruleset:`).

[2016-12-06 02:54] ntwb commented on #2170
Yes, for sure, if something isn't clear no doubt I'd expect someone else to get caught out by the same thing in the future. @hinok would you like to open a new pull request for that?

[2016-12-06 06:20] lydell opened #2177 "SCSS property shorthand issues"
A bug where stylelint fails to parse valid SCSS code. Also, a bug where a "declaration" is mistaken as a rule.

- `rule-nested-empty-line-before`
- `declaration-empty-line-before`
- probably any rule that needs to parse selectors

Note: <strong>S</strong>CSS.

[code]

[code]

`7.6.0`

[code]

Yes, it's related to SCSS property shorthands (not sure if that's exactly what they're called).

[code]

N

[2016-12-06 08:06] hinok commented on #2170
@ntwb I will add PR today evening ;)

[2016-12-06 11:42] jeddy3 commented on #2170
Excellent, thanks. I think adding an FAQ entry will be enough as the actual [`extends` configuration docs within the user guide](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#extends) mentioned _overrides_ about six times already.

Perhaps:

### If I extend a configuration, will the options for each rule be merged or overridden?

...

[2016-12-06 13:13] evilebottnawi commented on #2177
@lydell we fixed some regression errors after `7.6.0` release with non-standard syntax, can you test you example on `master` branch?

[2016-12-06 17:29] lydell commented on #2177
This is the output when using commit 8c3e0d6c646b912d69285412498e372168bc4815:

[code]

[2016-12-06 20:38] hinok commented on #2170
@jeddy3 https://github.com/stylelint/stylelint/pull/2178

[2016-12-07 08:08] Airkro commented on #2177
i get this error too, i think Sass nested properties may not be supported

[2016-12-07 09:18] evilebottnawi commented on #2177
@lydell reproduce, accepted

[2016-12-07 09:26] nkabardin commented on #2161
I think dist/cli.js with deprecation warning could be added to npm package, and in next major release it could be removed

[2016-12-07 10:06] jeddy3 commented on #2177
That is correct.

I think the rule is behaving as expected.

For the following config (from within `stylelint-config-standard`):

[code]

The following code:

[code]

Produces this warning:

[code]

There should always be an empty line before a declaration, unless it comes after a declaration or is the first nested thing. And on line 7 there's a declaration _coming after an unknown construct_ that

[2016-12-07 12:14] lydell commented on #2177
I’m going to:

1. Update stylelint to some commit newer than 7.6.0 (awaiting the next release).
2. Add newlines to please the `declaration-empty-line-before` rule. Doesn’t really matter to me.
3. Consider whether this shorthand syntax is worth it, considering that it might break, or remove the benefit from, other rules (as mentioned by @jeddy3 ).

Thanks for the help everyone!

[2016-12-07 12:14] #2177 closed

[2016-12-07 13:12] hudochenkov commented on #2139
I believe this cause the problem https://github.com/stylelint/stylelint/blob/master/lib/utils/report.js#L59 But I don't know how to apply `defaultSeverity` like this https://github.com/stylelint/stylelint/blob/master/lib/lintSource.js#L106, because there is no `config` in report.js.

[2016-12-07 13:21] rontav opened #2179 "Add except: ["after-rule"] to rule-nested-empty-line-before"
A feature request.

`rule-nested-empty-line-before`

[code]

This should do what I describe:

[code]

`7.6.0`

Visual Studio Code plugin

Yes, it's related to SCSS and nesting.

To be able to set an except for this case.

The following warnings were flagged:

[code]

[2016-12-07 14:28] jeddy3 commented on #2179
@rontav Thank you for the suggestion and for using the template.

I think adding an `except: ["after-rule"]` option would be consistent with our other options and I believe would satisfy your request e.g.

[code]

Would be valid for:

[code]

And for other non-rule things like custom properties e.g.:

[code]

[2016-12-08 17:49] jeddy3 commented on #2161
For anyone else wanting to help out with testing this upcoming release, we [recently made changes](https://github.com/stylelint/stylelint/pull/2134) that make this much easier to do. A simple `npm i -D stylelint/stylelint` should do it.

Although the actual changelog [is small](https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#head) a lot was done behind the scenes. As such, as much

[2016-12-08 17:53] evilebottnawi commented on #2161
Yep, new release will help us in this :smile:

[2016-12-08 19:38] thybzi commented on #2114
Understand you, thank you.

[2016-12-09 08:17] jwilsson opened #2181 "Expose available formatters in the Node API"
*The template didn't really make sense for this so I skipped it. Hope that's OK.*

Some background: When running the [gulp-stylelint](https://github.com/olegskl/gulp-stylelint) with current `stylelint` `master` it crashes since it tries to load `stylelint/dist/formatters` which doesn't exist anymore.

Now, what I'd like to propose is a `formatters` property to be exposed on the main `stylelint` No

[2016-12-09 09:47] evilebottnawi commented on #2181
@jwilsson thanks for helping, be good if you format issue as template :+1:

[2016-12-09 10:12] jeddy3 commented on #2181
👍

Sounds like a good proposal to me.

That's fantastic. Thanks for offering to help out.

Let's wait for the rest of team to add their thoughts.

[2016-12-09 12:58] davidtheclark commented on #2181
Yep, @jwilsson sounds great!

[2016-12-09 13:23] jeddy3 commented on #2181
@jwilsson Feel free to jump on this on now. Thanks again for offering to help out again. I think we were using jest for just _some_ tests around the time of your [last PR](https://github.com/stylelint/stylelint/pull/2121). Since then we've migrated everything over, and so hopefully the testing experience is now more familiar :)

[2016-12-09 13:32] simonsmith commented on #2161
Just thought I'd point out the link to issue #2171 in your CHANGELOG.md has a broken link :)

[2016-12-09 13:34] jeddy3 commented on #2161
@simonsmith Thanks for spotting that :)

[2016-12-09 18:10] subzey opened #2184 "--quiet flag behavior is counter-intuitive"
A bug (counter-intuitive behavior) in CLI part. A file pattern after the `-q` flag is treated as a flag value, not as a pattern.

_N/A_

_N/A_

_Doesn't matter._

`7.6.0`

CLI with `stylelint -q`

No.

`--quiet` and other boolean flag doesn't accept values

`stylelint -q "**/*.css" "**/*.less"`

is treated as:

`stylelint` `-q` `"**/*.css"` `"**/*.less"`

`stylelint -q "**/*.css" "**/*.less"`

is

[2016-12-09 18:31] jwilsson commented on #2181
Thanks guys!

I'll take a look over the weekend.

[2016-12-09 21:12] davidtheclark commented on #2184
@subzey Thanks for investigating this bug. If you'd like to PR your proposal, go for it!

[2016-12-09 21:15] Arcanemagus commented on #2184
Note that it looks like this would fix https://github.com/stylelint/stylelint/issues/1605.

[2016-12-09 21:43] JaKXz commented on #2051
Just curious if there are any updates on this? The issue [has surfaced here](https://github.com/vieron/stylelint-webpack-plugin/issues/40) and I tried going through `cosmiconfig` but the tests failed to run.

[2016-12-09 23:49] jamesarosen opened #2185 "Parse error for at-content without a trailing semicolon"
The following construct, which is valid SCSS, is labeled `Unclosed block CssSyntaxError`:

[code]

The following version, which is semantically identical, is OK in stylelint:

[code]

n/a

N/A

My `.stylelintrc` is

[code]

7.5.0, from https://github.com/billybonks/broccoli-stylelint/tree/82a79754501c8502aeba3d35d2d3d0d1e3339ff1

`ember build`, using https://github.com/billybonks/ember-cli-styleli

[2016-12-09 23:57] Arcanemagus commented on #2185
`postcss-scss` was updated to v0.4.0 in v7.6.0, do you still see this with that version?

[2016-12-10 00:12] jamesarosen commented on #2185
v7.6.0 doesn't seem to help:
[code]
Do you think postcss-scss is the right place to raise the issue?

[2016-12-10 13:00] jeddy3 commented on #2185
Yes. Please raise an issue there. It'll probably help them out if you can find some reference to `@content` _without a trailing semicolon_ being valid according to the SCSS spec, as the following is parsed correctly by `postcss-scss`:

[code]

[2016-12-10 13:20] #2184 closed

[2016-12-10 13:54] jeddy3 commented on #2179
@rontav As no objections were raised feel free to contribute this option. There are instructions in the developer guide for [adding the option](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#adding-a-option-to-an-existing-rule) and for [running tests](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#running-tests).

[2016-12-10 14:05] thybzi commented on #2110
Hi! I have provided the example in the head of this issue:
[code]

[2016-12-10 14:29] mmase opened #2187 "proposed rule-nested-empty-line-after"
New rule

`rule-nested-empty-line-after`

--

Using, `rule-nested-empty-line-before`, you can achieve most of this except for the last nested item:

[code]

which would require this to look like:

[code]

From what I can tell, this isn't possible with current rules so perhaps a `rule-nested-empty-line-after` with option `only: ["last-nested"]` or `except: ["not-last-nested"]`

Thoughts?

[2016-12-10 14:36] mmase commented on #2187
Closing, somehow missed `block-closing-brace-empty-line-before`. Sorry for the noise

[2016-12-10 14:36] #2187 closed

[2016-12-10 14:43] jeddy3 commented on #2187
@mmase No worries :)

There's [a section](http://stylelint.io/user-guide/about-rules/#-empty-line-before-and--max-empty-lines) in the user guide that explains how the empty line rules work together.

As you can imagine, there are a tonne of possible code styles and near endless permutations. We've tried to create a series of rules that cater to _most_ code styles while _minimising conflicts and ov

[2016-12-10 14:48] jeddy3 commented on #2155
Agreed that that would be best regardless of whether this is a plugin or a core rule.

@salzhrani FYI, we're currently [doing an audit](https://github.com/stylelint/stylelint/issues/2079) of the existing rules and formalising the boundary between core rules and plugins. Your suggestion falls close to where the boundary might fall, as such there might be a wait on resolving this issue. As an aside,

[2016-12-10 16:17] evilebottnawi commented on #2110
@thybzi I am on the weekends :smile: Tomorrow it'll :+1:

[2016-12-10 17:54] jamesarosen commented on #2185
Great catch! libsass handles the semicolon-less version without any warnings, but that doesn't mean it's valid per the spec.

[2016-12-10 18:03] #2185 closed

[2016-12-10 21:50] jeddy3 commented on #2148
We're touching on some original design decisions here. So, I figured this would be a good time to:

1. Document within the user guide how the (dis)allowing system works.
2. Recall within this issue some of those original design decisions.

I've created a PR to [add a section to](https://github.com/stylelint/stylelint/pull/2189) the "About rules" doc.

I've tried to show that the design of our syst

[2016-12-11 21:01] jeddy3 commented on #1371
Just saw this tweet: https://twitter.com/src_contribute/status/808012959473664000

Sounds promising :)

[2016-12-12 00:08] davidtheclark commented on #2148
Sounds good to me. The documentation PR makes sense. I do think it's a somewhat painful UX, but you're right, @jeddy3, that we should make that sacrifice for the sake of controlling the core rules.

[2016-12-12 00:08] #2148 closed

[2016-12-12 10:54] jeddy3 commented on #2181
Done in https://github.com/stylelint/stylelint/pull/2190

[2016-12-12 10:54] #2181 closed

[2016-12-12 10:55] jeddy3 commented on #2179
Done in #2188

[2016-12-12 10:55] #2179 closed

[2016-12-12 10:59] jeddy3 commented on #1663
https://github.com/stylelint/stylelint/pull/2188 made we realise that our `"first-nested"` options should be called `"after-opening-brace"` for consistency with all the other `"after-*"` options. I think it's also clearer.

As an aside, I think our `*-before` rules with their `"after-*"` options seem to be standing up well as more use cases are discovered and accounted for.

[2016-12-12 15:12] jeddy3 commented on #2139
Done in https://github.com/stylelint/stylelint/pull/2173

[2016-12-12 15:12] #2139 closed

[2016-12-13 00:39] ntwb commented on #1663
SGTM...

_We could duplicate the option names and save off having to deprecate them immediately, they could live side by side for a while..._

[2016-12-13 06:16] klebba commented on #1973
@EvgenyOrekhov interesting workaround -- thanks for sharing!

[2016-12-13 12:28] jeddy3 commented on #2090
In line with https://github.com/stylelint/stylelint/issues/1663, I'm pretty sure this option should be `"after-closing-brace"`.

[2016-12-13 22:53] m-allanson commented on #2123
I can probably do this in the next few days, using the pattern set in [#801](https://github.com/stylelint/stylelint/pull/801/files). See below for a suggested set of deprecation messages for these rules.

# declaration-block-properties-order

**Documentation message**
Deprecated: use the community [`stylelint-order`](https://github.com/hudochenkov/stylelint-order) plugin pack instead.

**Linter wa

[2016-12-14 00:01] jeddy3 commented on #2123
That's awesome!

Leading up to version `7.0.0` we drip-fed deprecations across a few minor releases, which led to people putting out new releases of their configs on each occasion to get rid of deprecation warnings. This time around I think we should strive to get the rule deprecation _and [option deprecations](https://github.com/stylelint/stylelint/issues/1663)_ into one minor release. As such, I

[2016-12-14 20:20] davidtheclark opened #2194 "Document what relative `files` globs are relative to"
This seems to be missing from the docs.

I believe they are relative to `process.cwd()`.

[2016-12-14 20:22] davidtheclark opened #2195 "Only pass processor functions absolute filepaths"
I ran into a situation where the `code` processor function's filepath argument was relative, but the `result` processor function's argument was absolute. This makes it hard to associate input and output in the processor code.

We should provide an absolute path to both. We should also document this.

[2016-12-15 13:23] m-allanson commented on #2123
I'm wondering if we should leave these rules in place for v8 (with deprecation notices) and then remove them in v9?

[2016-12-15 14:07] jeddy3 commented on #2123
Let's deprecate in a point release and remove in `8.0.0` otherwise we're going have untested and deprecated code sticking around for at least a few months.

[2016-12-15 16:20] m-allanson commented on #2123
That sounds fine to me, although it's worth noting that in the above PR almost all the existing tests have remained in place. Maybe it's a question we can revisit once the other deprecation PRs have landed in the `deprecations` branch.

[2016-12-15 16:26] jeddy3 commented on #2123
I just saw that. Excellent stuff :)

[2016-12-16 12:58] m-allanson commented on #1946
I have a fix for this. Shall I rebase the v8 branch and PR into that?

[2016-12-16 13:48] subzey opened #2198 "False positive for declarationless rules in no-duplicate-selectors"
A feature request. Add a secondary option `ignoreEmpty` to `no-duplicate-selectors`, so blocks with no content won't count.

The use case:

[code]

This LESS code is linted as

[code]
triggering a `no-duplicate-selectors` error/warning. `ignoreEmpty` would allow using such a style, yet catching the "real" errors, like this:

[code]

`no-duplicate-selectors`

e.g.

[code]

e.g.

[code]

`7.6.0`

CL

[2016-12-16 14:06] folmert commented on #346
Not in PhpStorm. For me it [throws an error](https://github.com/Jardinero/stylelint-plugin/issues/4) and I can see highlighted errors only in CSS files.

[2016-12-16 14:15] evilebottnawi commented on #346
@folmert in new versions `IntelliJ Idea`(`2016.3`) `stylelint` build-in IDE, i think also this present in `WebStorm` new version, `PhpStorm` based on `WebStorm` and also should have build-in `stylelint`.

[2016-12-16 14:18] evilebottnawi commented on #2198
@subzey I think it is bug, not feature, we should ignore `selectors` which contains only nesting

[2016-12-16 14:19] folmert commented on #346
A lot of things "should" work the same way in WebStorm as in PhpStorm, but I've learned the hard way that it's just a theory ;) especially when it comes down to custom plugins.

[2016-12-16 14:20] evilebottnawi commented on #2198
@subzey it should be easy fix, add `isContainsOnlyNesting` utils (maybe best name) and skip this selectors.

[2016-12-16 14:22] evilebottnawi commented on #346
@folmert you can use `IntelliJ Idea` and install `php` plugin, there is usually everything works and quickly fixed

[2016-12-16 18:00] cookch10 opened #2199 "False positive for non standard selectors in no-duplicate-selectors"
When using stylelint `v7.6.0` as follows:

package.json (simplified):

[code]

My .stylelintrc config (uses stylelint-config-standard `v11.0.0`):

[code]

given the following Sass (scss file): [Sassmeister gist](http://www.sassmeister.com/gist/3f1e0e4872439b81ed369b8d972506ff)

[code]

[code]

The following results in an error:

[code]

There is no duplicate selector here.  If I change the Sass to

[2016-12-17 17:33] davidtheclark commented on #2009
Closed by #2182.

[2016-12-17 17:33] #2009 closed

[2016-12-17 18:07] jeddy3 commented on #1946
Yep, that sounds like a plan as `master` contains the Great Babel Removal.

[2016-12-17 18:42] jeddy3 commented on #2161
FYI, intend to prepare and release `7.7.0` tomorrow.

[2016-12-17 18:59] jeddy3 commented on #2199
I think we should ignore any resolved non-standard selectors in this rule i.e. those with interpolation.

[2016-12-17 19:07] jeddy3 commented on #2198
SGTM. Let's go with`hasOnlyNestedRules` to be in line with our other `has*` utils like `hasEmptyBlock`.

[2016-12-17 19:35] davidtheclark commented on #2126
I agree that `no-extra-semicolons` should stay.

I also think that `color-no-invalid-hex` should stay. It's not enforcing anything that is specific to the CSS, or reliant on complex set of possibilities, and therefore kind of unstable and difficulty. Instead, it's fairly simple validation of a value type. For this reason, I would also be interested in rules like `color-no-invalid-rgba` and `color-

[2016-12-17 22:39] m-allanson commented on #2124
Refs #2123 and its associated PR.

[2016-12-18 00:20] m-allanson commented on #1663
Based on the above discussion here's a list of rule options that will be affected by this issue. If there's no objections I can (probably) start implementing these changes later in the week.

| Rule name | Current option name | Updated option name |
| --- | --- | --- |
| `at-rule-empty-line-before` | [`"all-nested"`](https://github.com/stylelint/stylelint/tree/master/lib/rules/at-rule-empty-line-b

[2016-12-18 11:17] jeddy3 commented on #1663
I just looked through the `ignore` and `except` options for all the rules and your write-up LGTM.

[2016-12-18 13:47] jeddy3 commented on #2161
Done 🎉

Over a dozen people contributed to this release! A big thank you all the contributors, new and old! :)

Also congrats everyone on the big infrastructure changes underpinning this release:

- Migration to Jest.
- Removing the need for babel.

I think stylelint is in great shape going into 2017! :)

[2016-12-18 13:47] #2161 closed

[2016-12-18 14:47] jeddy3 commented on #2052
Done in #2192, #2097 & #2098

[2016-12-18 14:47] #2052 closed

[2016-12-19 17:21] tiagocpontesp commented on #654
I'm using [rollup-plugin-postcss](https://github.com/egoist/rollup-plugin-postcss). If alongside [postcss-modules](https://github.com/css-modules/postcss-modules), regardless of the order, I get this error. Maybe this should be reopened.

[2016-12-19 17:40] kriansa commented on #2195
To help debugging, the scenario I ran into was the following:

1. Have `stylelint` installed via `package.json`
2. Have your processors listed on `.stylelintrc.yml`
3. Run it via `node_modules/.bin/stylelint "*.css"`

[2016-12-19 17:41] davidtheclark commented on #2195
I am working on this in spare time, hope to get a PR in this week.

[2016-12-19 17:42] tiagocpontesp commented on #654
Just for reference, disabling the rule does the job. (this override isn't included in the standard css-modules config).
`
    'property-no-unknown': {
      ignoreProperties: [
        'start',
      ],
    },`

[2016-12-19 22:21] epmatsw commented on #2126
Besides agreeing with @davidtheclark's comment above, it feels a bit strange to remove 2 rules that are in `stylelint-config-standard` (which implies to me that everyone should probably have them turned on).

Would the config switch to taking a dependency on `stylelint-plugin-validation` in the future and leave those rules turned on? Or would there be a `stylelint-config-standard-with-validation`

[2016-12-19 23:55] reintroducing opened #2202 "CLI with globs not working correctly?"
I'm running stylelint through the CLI and I'm getting an error:
[code]

When I run one directory deeper, it works as expected:
[code]

Unrelated to a rule as far as I can tell.

N/A

e.g.

Not sure this is a config related issue as it works just one directory deeper.

7.7.0

CLI as shown above

My files are .scss but we just use basic functionality in sass, nothing too extensive (variables, mixins

[2016-12-20 00:47] reintroducing commented on #2202
Disregard, this has to do with a vendor directory I have which I will not be testing anyway, my mistake, sorry for the noise.

[2016-12-20 00:47] #2202 closed

[2016-12-20 10:51] m-allanson commented on #1946
Done in #2200

[2016-12-20 10:51] #1946 closed

[2016-12-20 12:03] gaz7 opened #2203 ""value-no-vendor-prefix" doesn't catch {white-space: -webkit-pre-wrap;} etc"
I'm running stylelint over legacy code, and it failed to catch vendor prefixed pre-wrap values.
It catches other vendor prefixed values such as `a { display: -webkit-flex; }`, so it seems to be specific to pre-wrap.

I'm guessing that pre-wrap may never have required vendor prefixes, which is why the test doesn't work. However, it would be really useful if stylelint could still catch issues like t

[2016-12-20 12:42] evilebottnawi commented on #2203
@gaz7 check you `browserlist` (http://caniuse.com/#search=pre-wrap), `value-no-vendor-prefix` rule throw error only for values, which meets the `browserlist` condition.

[2016-12-21 05:25] huyph opened #2204 "Single file input is ignored when using CLI"
A bug where running this seems to work, it generates some errors:
[code]

But, this does NOT work
[code]

[code]

[code]

`7.7.0`

Both commands above should generate the same outcome

[2016-12-21 09:45] jeddy3 commented on #2204
@huyph Thank you for the report and using the issue template.

I can't reproduce this. The following:

[code]

Give me:

[code]

What directory is your `test.css` located? Is it within a `node_modules` directory?

If not can you create a reproducible test repo please to help us get to the bottom of this.

[2016-12-21 10:43] jeddy3 commented on #2203
@gaz7 Thank you for the report and for using the issue template.

I'm not sure this is viable as we [rely on](https://github.com/stylelint/stylelint/blob/master/lib/utils/isAutoprefixable.js) `autoprefixer` to determine whether a vendor prefix is needed or not i.e. we need a way to determine if a value is a standard one unnecessarily prefixed or a proprietary one that is correctly prefixed.

Take

[2016-12-21 10:58] samkelleher commented on #2161
Just dropping in a note here for **Webstorm Users** 👋🏻 - this release breaks the built in Stylelint support because the loss of the `dist/cli.js` file after having updated to the latest release 😭. It'll be up to JetBrains to patch the issue off course, but if anyone else ends up here wondering they're getting an Stylelint error opening up any css file, downgrading to the previous version restores

[2016-12-21 11:54] gaz7 commented on #2203
Thanks for getting back to me.

Certainly adding the documentation will help, as I didn't realise the rule only applied to values that autoprefixer can handle.

Would you consider a second mode that the vendor prefix rules could be configured to run under?
In a strict mode, ALL vendor prefixes would be flagged, and stylelint-disable comments could be used for proprietary properties/values when nee

[2016-12-21 12:31] evilebottnawi commented on #2161
@stylelint/core we can release patch version here create symlink for new `cli.js`?

[2016-12-21 12:33] evilebottnawi commented on #2203
I think we can add option `all` (maybe best name), where ignore `all` prefixes.

[2016-12-21 12:37] jeddy3 commented on #2203
Perhaps this specific use case should be a plugin. It'd be easy to build (using `postcss-value-parser` and `postcss.vendor.unprefixed()`).

[2016-12-21 12:59] evilebottnawi commented on #2203
@jeddy3 maybe should be put to a plugin, if we get another request for such behavior, it can be considered as part of the core, in theory rule have name `value-no-vendor-prefix` and actually a bit misleading, as it is expected that it will report about all prefixes (and has optional support `autoprefixer`), now right name should be `value-no-vendor-prefix-autoprefixer` (or something like). I think

[2016-12-21 14:57] davidtheclark commented on #2204
@huyph: Why is the file "ignored"? What are your ignore settings, in `.stylelintrc` or `.stylelintignore`?

[2016-12-21 22:41] huyph commented on #2204
Thanks for getting back quickly. 👍

I think I have found the issue. In my setup, I have `test.css` in a package inside node_modules. If I add "stylelint" to the list of scripts in that package's package.json then running `npm run stylelint tmp.css` works.

Closing this ticket now.

[2016-12-21 22:41] #2204 closed

[2016-12-23 11:53] m-allanson opened #2205 "Update release planning docs with info about deprecated rules and options"
Update the release planning docs to describe the changes related to deprecated rules and options.

Docs. See: https://github.com/stylelint/stylelint/pull/2197#discussion_r92942239, also #2213

Deprecated rules:
- `declaration-block-no-ignored-properties`
- `media-feature-no-missing-punctuation`
- `selector-no-empty`

Rules with deprecated options:
- `at-rule-empty-line-before`
- `comment-empty-lin

[2016-12-24 08:49] greenkeeper[bot] opened #2206 "An in-range update of postcss is breaking the build 🚨"
## Version **5.2.7** of [postcss](https://github.com/postcss/postcss) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/stylelint/stylelint/compare/greenkeeper%2Fpostcss-5.2.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      postcss
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2016-12-24 09:12] m-allanson commented on #2206
Tests are passing for me locally with postcss 5.2.7.

[2016-12-24 09:17] m-allanson commented on #2206
Looks like it was just a wonky build. LGTM.

[2016-12-24 18:19] davidtheclark commented on #2206
Thanks @m-allanson.

[2016-12-24 18:19] #2206 closed

[2016-12-24 20:06] goldylucks opened #2208 "bug: combination of selector-pseudo-element-colon-notation selector-pseudo-element-no-unknown"
Bug in `.stylelintrc`

selector-pseudo-element-no-unknown

[code]

e.g.

[code]

`7.7.0`

CLI with `stylelint 'web/**/*.css'

no

no errors to be flagged

[code]
The following warnings were flagged:
[code]

## PR with failing test
#2209

[2016-12-24 22:02] m-allanson commented on #2208
@goldylucks thanks for using the issue template.

I'm unable to replicate this issue. Running `./bin/stylelint.js "failing.css"` on your PR outputs the following:

[code]

which seems correct based on the config you've included there.

Are you able to create a standalone repo that demonstrates the problem?

[2016-12-24 23:22] goldylucks commented on #2208
@m-allanson sry about that
forgot some local changes
pushed new PR

let me know if it's clearer now

[2016-12-25 16:09] hudochenkov opened #2211 "Add except: ["after-same-name"] option to at-rule-empty-line-before"
I want to add `except: ["after-same-name"]` option to `at-rule-empty-line-before`.

`at-rule-empty-line-before`

Be able to separate at-rules with empty line, but have no empty lines between at-rules. It's currently possible only with blockless at-rules. I want to make this option work like:

[code]

So with this config:

[code]

The following pattern are considered warnings:

[code]

[code]

The

[2016-12-25 23:32] hudochenkov opened #2212 "Change *-empty-line-before "after-comment" keyword behaviour to ignore shared-line comments"
I think `after-comment` keyword should worry about non-shared comments only. And look through shared comments. Currently there is no way for having declarations grouped together, but have empty line before first declaration if `prev().prev()` node has shared comment.

`declaration-empty-line-before`
`custom-property-empty-line-before`
`rule-nested-empty-line-before`
`at-rule-empty-line-before`

[c

[2016-12-26 22:24] m-allanson commented on #2208
@goldylucks thanks for the updated PR. The error you're seeing is from the rule [`selector-pseudo-class-no-unknown`](http://stylelint.io/user-guide/rules/selector-pseudo-class-no-unknown/) (note _class_, not _element_) which is enabled in `stylelint-config-standard`.

You can remove the error by updating your config with:
[code]

[2016-12-26 22:29] m-allanson commented on #1663
I've made a start on this, but have skipped adding the options to `master` and  jumped straight to adding the new options & deprecating the old options in the `deprecations` branch.

[2016-12-27 08:10] goldylucks commented on #2208
@m-allanson thanks for pointing that out
I already tried that tho, still same error occurs :(

any other ideas?

[2016-12-27 08:23] evilebottnawi commented on #2208
@goldylucks provide your version `node`, `npm`, `stylelint`, `package.json`, `stylelint configuration`, maybe i can help you.

[2016-12-27 10:19] goldylucks commented on #2208
Thanks @evilebottnawi !
here r details requested. Lemme know if there's anything I missed

[code]

[2016-12-27 13:10] evilebottnawi commented on #2208
@goldylucks
Try:

[code]

[2016-12-27 16:41] goldylucks commented on #2208
@evilebottnawi ,
I tried that, following this [comment](https://github.com/stylelint/stylelint/issues/2208#issuecomment-269245751) by @m-allanson

[2016-12-27 21:14] m-allanson commented on #2208
@goldylucks your code samples are all slightly different but, as far as I can tell, you have the following.

A config like:

[code]

CSS like:
[code]

And a warning from stylelint like:

[code]

If that's the case, then I think stylelint is working as expected. The warning is from the first rule `selector-pseudo-class-no-unknown` which is unaffected by the second rule `selector-pseudo-element-no-u

[2016-12-28 06:28] cncolder opened #2215 "How to suppress CssSyntaxError?"
Just a question about configuration.
How to suppress CssSyntaxError?

Even I define `defaultSeverity: 'warning'` in my `.stylelint.js`. Stylelint still report error in result.

A warning is smooth. Error will break webpack compile, Atom linter and so on.

[code]

`7.7.0`

`stylelint-webpack-plugin@0.4.2`

"Yes, it's related to SASS maps."

"No errors to be flagged. Only warnings is enough."

e.g.

[2016-12-28 09:05] evilebottnawi commented on #2215
@cncolder `CssSyntaxError` exception generated by `postcss`. Why you checked `App.js`? Can you show how you use `stylelint` for linting?

[2016-12-28 09:57] m-allanson commented on #2215
@evilebottnawi It looks like @cncolder is using [styled components](https://styled-components.com/) along with a [compatible processor](https://github.com/styled-components/stylelint-processor-styled-components) to extract the CSS from App.js.

[2016-12-28 10:03] evilebottnawi commented on #2215
@m-allanson hm, very interesting, need investigation, best solution is created test repo.

[2016-12-28 12:09] cncolder commented on #2215
@evilebottnawi That's not point. If `CssSyntaxError` is an exception. I think we need catch it and then return warning. Because user have write config `defaultSeverity: 'warning'`.

Now this error break my webpack compile flow. Stop my Atom editor linter tooltip.

[2016-12-28 17:07] Arcanemagus commented on #2215
@cncolder A `CssSyntaxError` isn't a warning, or a regular message from Stylelint, it's a _fatal_ error in parsing the CSS. From the sounds of it this is most likely an issue in the processor but the developers will need to investigate further to confirm.

[2016-12-28 19:07] goldylucks commented on #2208
thanks @m-allanson

the following configuration solved my problem:

[code]

[2016-12-28 19:07] #2208 closed

[2016-12-29 08:31] AntonNiklasson opened #2216 "Ignore certain rules"
My `.stylelintrc` looks like this:

[code]

Is there a way for me to ignore rules that are defined in `stylelint-config-standard`? Looking at this documentation: [at-rule-empty-line-before](http://stylelint.io/user-guide/rules/at-rule-empty-line-before/) I expected there to be something like `ignore` available as an option.

[2016-12-29 08:36] m-allanson commented on #2216
Use `null`. http://stylelint.io/user-guide/faq/#how-do-i-disable-a-rule

On 29 Dec 2016 08:31, "Anton Niklasson" <notifications@github.com> wrote:

[2016-12-29 08:38] #2216 closed

[2016-12-29 12:12] jeddy3 commented on #2211
@hudochenkov Thanks for the suggestion and for explaining it clearly.

SGTM. Feel free to contribute this option.

[2016-12-29 12:25] jeddy3 commented on #2212
@hudochenkov Thanks for another good suggestion.

We call those "shared-line" comments, and if your suggestion is to ignore them by default (i.e., as you put it, "look through" them when traversing the tree) then I agree with this change of behaviour. This new behaviour would be consistent with how shared-line comments are treated within [`comment-empty-line-before`](https://github.com/stylelint/s

[2016-12-29 12:36] m-allanson commented on #2211
@hudochenkov note that there are some [pending changes](https://github.com/stylelint/stylelint/pull/2213) to `at-rule-empty-line-before`. It might be worth waiting until they've landed in `master`.

[2016-12-29 12:39] #2194 closed

[2016-12-29 12:39] #2195 closed

[2016-12-29 12:57] jeddy3 opened #2218 "Release 7.7.1"
- [x] stylelint release
- [x] stylelint-demo update
- [x] stylelint.io update

@stylelint/core Thumbs up for release, please. Also, just checking that this is a patch release right?

[2016-12-29 13:17] jeddy3 commented on #2203
Agreed as it's in-line with [our criteria](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#criteria-for-inclusion). The current behaviour of `value-no-vendor-prefix` is _useful to the majority of users_, and I think should remain that way.

@gaz7 Feel free to [create a plugin](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md) for y

[2016-12-29 15:24] davidtheclark commented on #2218
Changelog looks patchy to me 😃

[2016-12-29 15:28] davidtheclark commented on #2215
@Arcanemagus @cncolder I think there's a little confusion above. Here's what I understand to be the complaint: @cncolder has `defaultSeverity: 'warning'`, so expects that any report stylelint delivers will be a "warning", not an "error". Currently the `CssSyntaxError` comes through as an "error" regardless of the `defaultSeverity`. The fix would be to make `CssSyntaxError` deliver a "warning" only

[2016-12-29 15:35] davidtheclark commented on #2215
Nope, I'm backtracking ... I don't think we should do this. The behavior of the linter when you get a `CssSyntaxError` is completely different from when you get a lint report with severity `warning`. It means that no further linting will work: if you have rules with severity of "error" that get triggered later on, those errors will be missed. Because of that, I *don't* think we should make the cha

[2016-12-29 15:35] #2215 closed

[2016-12-29 15:52] hudochenkov commented on #2211
@m-allanson I see you've changed a branch for that PR. Should I still wait for something?

[2016-12-29 16:00] hudochenkov commented on #2212
I'll do. Thank you.

[2016-12-29 16:36] m-allanson commented on #2211
@hudochenkov Actually don't wait for anything, make the change whenever you like. I can rebase if necessary.

[2016-12-29 21:26] handonam opened #2219 "Add ignorePattern: "" option to max-line-length"
Using max-line-length with a long import statement causes the error to be thrown.  Should have an option to ignore patterns (much like eslint, with `{ "ignorePattern": "^import\\s.+\\sfrom\\s.+;$" }],`), or some way to ignore `@imports`.

`max-line-length`

[code]

[code]

`7.7.0`

atom plugin / PostCSS Plugin

No.

Ignore imports when something like ignorePattern is specified

[code]

[2016-12-29 21:51] dylang opened #2220 "Add no-unknown-custom-properties rule"
New rule: Check that all css variables have been declared.

I think this may need to be a new rule.

[code]

[code]

n/a

`7.7.0`

cli

CSS: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

[code]

"No warnings to be flagged."

[2016-12-30 06:19] ntwb commented on #2219
Thanks for creating this issue and using our template @handonam 👍

I've confirmed the behaviour you describe though it is only when using `@import "something"`, if including the `url` in the statement such as `@import url(something)` then this rule works as expected. I've added some tests in https://github.com/stylelint/stylelint/pull/2221/commits/480c3fc01db30a748cd900eb3ab640c5a18e661d confirmin

[2016-12-30 08:28] evilebottnawi commented on #2220
@dylang Good rule :+1:  @stylelint/core what do you think about the support new rules in core (`custom-selectors`, `variables` and other from new spec)

[2016-12-30 08:31] evilebottnawi commented on #2219
@ntwb we can add `ignorePattern` as doing `eslint` (http://eslint.org/docs/rules/max-len), this makes it possible to cover most related issue

[2016-12-30 11:36] villesau opened #2222 "no-unsupported-browser-features should have option to not fail if vendor-prefixed version available"
no-unsupported-browser-features -rule errors currently when using latest 2 chrome versions and 'appearance' -property. Anyhow we use Autoprefixer which prefixes that to '-webkit-appearance' which is supported by chrome.  Thus would be really good to have option to allow non-supported properties if it has vendor-prefixed version available.

no-unsupported-browser-features

[code]

[code]

expected

[2016-12-30 13:20] jeddy3 commented on #2220
@dylang Thanks for the suggestion and for using the template. I agree that it's a nice rule.

I think the discussion around whether it belongs in core or as part of a plugin pack is connected to `no-unknown-animations` inclusion in https://github.com/stylelint/stylelint/issues/2079.

We might as well use this issue to discussion these two rules. (We agreed to group together rules with similar issu

[2016-12-30 13:54] jeddy3 commented on #2222
@villesau Thank you for the suggestion and for using the issue template.

I think this is connected to `doiuse`, the library that this rule wraps. @stylelint/core I think this issue is a good catalyst to discuss the group of rules that wrap 3rd party linters from https://github.com/stylelint/stylelint/issues/2079:

- `no-browser-hacks` -> wraps `stylehacks`
- `no-indistinguishable-colors` -> wraps

[2016-12-30 14:01] evilebottnawi commented on #2220
@jeddy3

I think it would be useful for most users when the variables are supported by all popular browsers (http://caniuse.com/#feat=css-variables), even now it is not longer a small amount, also worth adding that this is part of the official `css`.

I think the import directives analysis, not a difficult task, moreover, it can give a new breath to the new rules and improving linting (ast tree an

[2016-12-30 14:06] evilebottnawi commented on #2222
@jeddy3 agree, all these rules should be plugins.

[2016-12-30 15:01] villesau commented on #2222
Oh, i didn't even notice it's a 3rd party package which it depends on. Definitely that kind of rules should be plugins since not everyone wants to use all of the rules and now it causes lots of extra dependencies for them. But as a user of the Stylelint, i'd like to find all the official/recommended(&others as well) plugins from a single place, maybe even from where core rules are defined.

[2016-12-30 15:43] davidtheclark commented on #2222
We can make these plugins, yes. It would certainly be nice if the original maintainers want to maintain stylelint plugins, too. If not, what's the plan?

[2016-12-30 16:03] davidtheclark commented on #2220
@evilebottnawi We already support rules related to custom properties, so I don't think browser support needs to affect the decision at this point. Also, I disagree that adding import directive analysis would be "not a difficult task". Sounds like it would add a lot of complexity. I'd be curious to see ideas about an implementation, though.

However, I don't think our scoping of known-unknown withi

[2016-12-30 18:34] jeddy3 commented on #2222
Curated list of plugins at http://stylelint.io/user-guide/plugins/ - top level navigation item on the website and also linked to (twice) from the top of the rules page at http://stylelint.io/user-guide/rules/

@villesau FYI, creating, publishing and consuming stylelint plugins is pretty trivial and so perhaps the `no-unsupported-browser-features` plugin is something you'd like to champion and/or h

[2016-12-30 19:07] jeddy3 commented on #2220
This was my feeling too.

Agreed. Happy to be proven wrong on this.

I see your point. Let's see if anymore of the team have opinions. Either way, clarify within the docs that "unknown" is scoped to the individual source would be useful.

That is very true.

Sgtm.

Yep, in-line with our design principles we should have plugins/rules for each specific construct. As each would be scoped to the sourc

[2016-12-31 07:23] Airkro commented on #2177
@jeddy3

I don't get this error any more when I using vscode-stylelint 0.21.1
It 's already fixed or not？

[2016-12-31 07:28] rstacruz opened #2223 "No npm home page defined"
There's no home page defined in package.json, so npmjs.com defaults to the GitHub repo:

![image](https://cloud.githubusercontent.com/assets/74385/21576505/a18de638-cf6d-11e6-8b91-6506cac49003.png)

None.

None; just visit https://www.npmjs.com/package/stylelint.

None.

`7.7.0`

All :)

No.

I expect it to link to http://stylelint.io.

It links to https://github.com/stylelint/stylelint.

[2016-12-31 07:56] ntwb commented on #2223
Thanks for creating this issue and follow up pull request and using our templates @rstacruz 👍

This sounds good to me, we can examine our site stats in a months time and see if there was any impact.

[2016-12-31 08:31] rstacruz commented on #2223
Is this when the new version is scheduled to be released? (package.json changes will need to be `npm publish`ed in a new version.)

[2016-12-31 09:38] ntwb commented on #2223
There will be a minor release in the next few days, if this is merged and released as part of that then that will occur as part of the publishing the release.

The stats side of things, we have Google Analytics wired up to stylelint.io, so it will be interesting to examine the stats in a months time to see any impact, for better or worse :)

[2016-12-31 13:24] jeddy3 commented on #2223
I'm on the train at the moment but I reckon I'll have time to put out [our pending](https://github.com/stylelint/stylelint/issues/2218) patch before heading out tonight (Happy New Years everyone btw! 🎉 ).

This release will include this `package.json` change, so we'll be able to check on the stats at the end of Jan.

Closed by https://github.com/stylelint/stylelint/pull/2224

[2016-12-31 13:30] #2223 closed

[2016-12-31 14:14] jeddy3 opened #2226 "Deprecate root rules"
Continuing to split https://github.com/stylelint/stylelint/issues/2079 into separate issues.

Next up:

- `custom-property-no-outside-root`
- `root-no-standard-properties`
- `selector-root-no-composition`

These three rules have been in since the very beginning. I think it's clear _what_ they do, but I've never really been sure _why_ they would be used.

Am I right in thinking that `custom-propert

[2016-12-31 14:32] jeddy3 opened #2227 "Deprecate stylelint-disable-reason"
Splitting https://github.com/stylelint/stylelint/issues/2079... next up:

- `stylelint-disable-reason`

I think this rule should be a plugin because of the disconnect between it's _purpose_ and _what the implementation achieves_ e.g. am I right in thinking that the following will produce no warnings?

[code]

[code]

No reason is given here, but the rule does not warn.

I think "reason" is too amb

[2016-12-31 14:34] davidtheclark commented on #2227
I agree 👍

[2016-12-31 15:51] jeddy3 commented on #2218
Going to do this now...

[2016-12-31 16:18] jeddy3 commented on #2218
Done.

🎉  Happy New Year everyone 🎉

A big thank you to everyone who has contributed to stylelint in the last year :)

[2016-12-31 16:18] #2218 closed

[2016-12-31 16:22] davidtheclark commented on #2226
These rules are not to disallow invalid code, but to enforce certain patterns. These rules were [adapted from postcss-bem-linter](https://github.com/postcss/postcss-bem-linter/issues/56). So at the time, at least, SUIT CSS users were interested in them.  I'm not sure if this was only a workaround for the PostCSS plugin or if it was also considered useful. One goal could be to place restrictions on

[2017-01-01 13:31] rontav opened #2229 "Merge rule-non-nested-empty-line-before and rule-nested-empty-line-before"
A bug

rule-nested-empty-line-before with except "after-rule"

[code]

[code]

7.7.1

VSCode plugin

Yes, SCSS nesting

No errors to be flagged.

The following warnings were flagged:

[code]

[2017-01-01 13:46] rontav commented on #2229
Can someone look at [this commit](https://github.com/rontav/stylelint/commit/1dc6a048646bb07e23028af54a180e27d601a128)?
I think in this case, media rules should be considered rules because the resulted code is more consistent.

Example:
[code]
vs
[code]

[2017-01-01 19:04] jeddy3 opened #2231 "Rename ignore: ["at-rules-without-declaration-blocks"] to ["blockless-at-rules"] in max-nesting-depth"
https://github.com/stylelint/stylelint/issues/2229 makes me think it's worth being very explicit in our option names. Here we have a rule that targets (nested) rules and might have options that target rules _and at-rules_.

In https://github.com/stylelint/stylelint/pull/2225  I think we're being a bit implicit with the naming of the option `"after-same-name"`.  I think we should be more explicit i

[2017-01-02 10:52] rontav commented on #2229
I'm ok with except after-at-rule. In the end, I want to be able to config stylelint to enforce my coding style in my projects.

Yes, that's the coding style I want to enforce. With one observation: I usually put media rules at the begining (before f) or at the end (after h). Should I open a new issue for this? :smile:

[2017-01-02 11:20] R083RT2 opened #2233 "Shortcut to format style?"
I was able to create .stylelintrc file and place it in project directory.  The linter highlights errors but not sure how to have it actually apply style/formatting to CSS files.  Didn't see a shortcut for this, is there any?

[2017-01-02 12:24] jeddy3 commented on #2229
Working through this has been very helpful as it has uncovered another inconsistency. Currently, we have:

- the rule `at-rule-empty-line-before` with the option `"inside-block"`.
- the rules `rule-non-nested-empty-line-before` and `rule-nested-empty-line-before`.

That's two different approaches to solving the same problem: a single rule with `"inside-*"` options vs two separated nested and non n

[2017-01-02 12:25] jeddy3 commented on #2233
[FAQ entry](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md#how-do-i-automatically-fix-stylistic-warnings) - use the `stylefmt` tool.

[2017-01-02 12:25] #2233 closed

[2017-01-03 16:27] cookch10 commented on #2199
@jeddy3 , what are your thoughts on this one?  Is this a valid bug?

[2017-01-03 18:21] jeddy3 commented on #2199
Whoops, I didn't notice those thumbs up.

@cookch10 Yes, this is a bug. Non-standard constructs should be ignored. Would you like to [contribute a fix](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#fixing-a-bug-in-an-existing-rule)? It will involve checking that each _resolved_ selector is [of standard syntax](https://github.com/stylelint/stylelint/blob/master/li

[2017-01-04 13:30] evilebottnawi commented on #2177
@Airkro yes

[2017-01-04 13:38] evilebottnawi commented on #2227
@jeddy3 i can to maintain this rule, what do you think about best name for this rule?

[2017-01-04 16:37] bzang opened #2236 "Disregard default ignores when ignoreFiles is used"
Target files located in any node_modules folder are ignore even when I specifically want to lint them.

N/A

N/A

N/A

7.7.1

CLI with `stylelint "packages/node_modules/**/*.css" --config .stylelintrc.yml -i node_modules`

No

All files with extension css in the `packages/node_modules` folder to be linted

Nothing happens

- allow ignorePath to overwrite the default ignore
- expose alwaysIgnore as

[2017-01-04 16:41] hudochenkov commented on #2231
I think it's unnecessary explicitness, because “scope” of rule and options had already defined in the first part of rule's name.

There can't be `"after-same-name-custom-property"` or `"after-same-name-declaration"`. Unneeded verbosity.

[2017-01-04 17:04] hudochenkov commented on #2212
Affected options for reference:

[code]

[2017-01-04 17:22] hudochenkov opened #2237 "Change *-empty-line-before keywords behaviour to ignore shared-line comments"
This issue is similar to #2212. I want to normalize behaviour with shared-line comments and ignore them for more options. If previous node is shared-line comment, than we should check node before shared-line comment.

`at-rule-empty-line-before`
except: ["blockless-after-same-name-blockless", "blockless-group"]
ignore: ["blockless-after-same-name-blockless"] ("blockless-group" for `ignore` has ver

[2017-01-05 16:14] cookch10 commented on #2199
@jeddy3, I would be interested in contributing a fix for this.  I'll need a little time to get familiar with the project, so no promises on it being a quick turnaround :)

[2017-01-05 16:32] jeddy3 commented on #2199
Awesome! Take your time, there's no rush on these things :)

[2017-01-06 14:02] evilebottnawi commented on #2236
@bzang why you need linting in `node_modules`? it is quite specific and would like to hear real use case

[2017-01-06 14:40] bzang commented on #2236
@evilebottnawi. Our project uses the alle pattern <https://github.com/boennemann/alle>, which is a monorepo pattern that places all packages in a `packages/node_modules` folder. This allows node to traverse up the file tree to find modules that are in the repo and make them usable as imports. As it stands, even if we point stylelint to a specific file, the file does not get linted due to the hard

[2017-01-07 16:19] hudochenkov opened #2239 "Standardise checks for ignore/except "after-declaration" in declaration-empty-line-before"
[`except: ["after-declaration"]`](https://github.com/stylelint/stylelint/blob/master/lib/rules/declaration-empty-line-before/index.js#L106-L115) checks previous node more accurately than [`ignore: ["after-declaration"]`](https://github.com/stylelint/stylelint/blob/master/lib/rules/declaration-empty-line-before/index.js#L68-L75). I think `ignore` should check same as `except`.

`declaration-empty-l

[2017-01-07 16:29] hudochenkov opened #2240 "Standardise checks for ignore/except "blockless-group" in at-rule-empty-line-before"
[`except: ["blockless-group"]`](https://github.com/stylelint/stylelint/blob/master/lib/rules/at-rule-empty-line-before/index.js#L107-L108) checks previous node more accurately than [`ignore: ["blockless-group"]`](https://github.com/stylelint/stylelint/blob/master/lib/rules/at-rule-empty-line-before/index.js#L62-L63). I think `ignore` should check same as `except`.

`at-rule-empty-line-before`

`7.

[2017-01-08 05:34] mockdeep opened #2241 "enable all option?"
It looks like there are no default settings, but one nice option in eslint is the [`eslint:all`](http://eslint.org/docs/user-guide/configuring#using-eslintall) configuration which, like it says, enables all eslint rules. My workflow generally centers around wanting to have all rules enabled and selectively disabling or configuring them to my liking, rather than needing to hunt through the docs for

[2017-01-08 05:52] dracarys09 opened #2242 "Bad URL in Getting Started section in stylelint.io"
In Getting Started Section in stylelint.io, in ```via the stylelint CLI``` this is mapped to ```http://stylelint.io//user-guide/cli/``` which is wrong and currently opens a blank page. However the correct url is ```http://stylelint.io/user-guide/cli/```

[2017-01-08 06:31] mockdeep opened #2243 "File glob doesn't include base directory"
This appears to be a bug where `stylelint` doesn't pick up files in the base directory of the glob. For example, if I have a file structure like:

[code]

When I try to run the command like the following, it only runs on `_colors.scss`:

[code]

e.g. `7.7.1`

Yes, it's related to SCSS.

I expected it to also run on `main.css`

It only runs on files in sub-directories of the glob expression.

[2017-01-08 07:25] mockdeep commented on #2243
Actually, it looks like maybe the glob stops looking if it finds files in the current path, so if I go one level higher in this case it'll only pick up `main.scss` and not the further nested stuff:

[code]

However, if I go one level higher, it seems to pick everything up:

[code]

[2017-01-08 11:15] #2242 closed

[2017-01-08 11:16] jeddy3 commented on #2242
@dracarys09 Thanks for the report. Should be fixed now.

[2017-01-08 11:26] jeddy3 commented on #2241
@mockdeep Thanks for the request.

In stylelint [rules are turned on](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#rules) by specifying a _primary option_. There are no default primary options. As such, we supply an [example config](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/example-config.md) that turns on all the boolean rules and li

[2017-01-08 11:26] #2241 closed

[2017-01-08 11:49] jeddy3 commented on #2231
Agreed.

I tend to spend quite a bit of time refamiliarizing myself with all the options when a new one is proposed to ensure it's consistent. Anything to reduce that burden would be helpful.

Agreed.

Let's just rename `max-nesting-depth`'s `ignore: ["at-rules-without-declaration-blocks"]` as that's a useful rename to help keep things consistent going forward.

[2017-01-08 12:07] jeddy3 commented on #2211
Done in https://github.com/stylelint/stylelint/issues/2225

[2017-01-08 12:07] #2211 closed

[2017-01-08 12:29] jeddy3 commented on #2220
As per:

@dylang Would you like [to contribute](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md) this rule? I recommend using the [`no-unknown-animations`](https://github.com/stylelint/stylelint/tree/master/lib/rules/no-unknown-animations) code and docs as a blueprint.

To begin with, like `no-unknown-animations`, this rule will be scoped to each individual source.

[2017-01-08 13:01] jeddy3 opened #2245 "Deprecate rules that wrap 3rd-party libraries"
- [ ] `no-browser-hacks`
- [ ] `no-indistinguishable-colors`
- [ ] `no-unsupported-browser-features`

Ref: https://github.com/stylelint/stylelint/issues/2222

[2017-01-08 13:02] jeddy3 opened #2246 "Remove rules that wrap 3rd-party libraries"
- [ ] `no-browser-hacks`
- [ ] `no-indistinguishable-colors`
- [ ] `no-unsupported-browser-features`

Ref: https://github.com/stylelint/stylelint/issues/2222

[2017-01-08 13:02] #2222 closed

[2017-01-08 13:06] jeddy3 commented on #2245
Whoops, I forgot we were bundling these into one issue: https://github.com/stylelint/stylelint/issues/2123

[2017-01-08 13:06] #2245 closed

[2017-01-08 13:06] jeddy3 commented on #2246
https://github.com/stylelint/stylelint/issues/2123

[2017-01-08 13:06] #2246 closed

[2017-01-08 13:12] jeddy3 commented on #2227
Tracking in https://github.com/stylelint/stylelint/issues/2123

Awesome.

I honestly don't know. You could keep it the same and document the limitations within the plugin's README?

[2017-01-08 13:12] #2227 closed

[2017-01-08 13:41] jeddy3 commented on #2226
Thanks. That sheds some light on their origins.

That makes sense. I guess it now becomes a question of whether these patterns are idiosyncratic or not.

@simonsmith I hope you don't mind me mentioned you, but we're doing an audit of stylelint's rules in preparation for `8.0.0`. There are three rules we're trying to understand:

- [`custom-property-no-outside-root`](https://github.com/stylelint/st

[2017-01-08 13:44] jeddy3 commented on #2236
@bzang Interesting use case. Do you encounter the same issue when using eslint as [they also ignore the `node_modules` directory by default](http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories)?

[2017-01-08 13:47] lcxfs1991 opened #2247 "Does styleline support vendor prefix alignment"
Maybe a new feature

Align these rules with colon `:` will be better.

e.g.

[code]

[2017-01-08 13:50] jeddy3 commented on #2237
@hudochenkov It's really appreciated that you're doing this audit!

Agreed. This is likely an oversight which touches on quite a few rules and options.

As with #2212, these will be breaking changes and as such will need to go into the `v8` branch.

[2017-01-08 14:03] jeddy3 commented on #2239
@hudochenkov Again, thanks for giving the `*-empty-line-before` rules the once over.

Agreed.

I also think there's an opportunity to extract these conditionals into utililities e.g. `isAfterDeclaration`, `isAfterCustomProperty` etc.

[2017-01-08 14:05] jeddy3 commented on #2240
Agreed.

[2017-01-08 14:13] jeddy3 commented on #2247
@lcxfs1991 Thanks for the request.

This is quite a specific use case and would, therefore, be a great candidate for a plugin. There is [guide to writing your own plugins](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md) within the docs.

FYI, if you use [autoprefixer](https://github.com/postcss/autoprefixer) it's unlikely you'll encounter this pattern in your _s

[2017-01-08 14:13] #2247 closed

[2017-01-08 14:46] jeddy3 commented on #2243
@mockdeep Thanks for the report.

I can reproduce this.

Can someone with more experience than I in globs confirm that:

[code]

Should check all three of the css files in this directory structure:

[code]

Currently it looks like only `2.css` is checked.

[2017-01-08 15:15] davidtheclark commented on #2243
If you are using *unquoted* globs, they are being resolved by your particular shell. What shell are you using @mockdeep and @jeddy3?

In `zsh`, I am *not* able to reproduce this, as evidenced by the output of the following command:

[code]

`/Users/davidclark/dev/stylelint/lib/__tests__/fixtures/invalid-hex.css` is in fact read.

However, that's just investigation to clarify what you're seeing. Th

[2017-01-08 15:31] jeddy3 opened #2249 "Add time-min-milliseconds rule"
Almost finished splitting https://github.com/stylelint/stylelint/issues/2079 (woohoo!).

I believe this is the one and only time we've created a rule to limit something _and then make it applicable to **only a single use case**_.

In all other instances, I believe we've created `max`, `no`, `whitelist` and `blacklist` rules (35 of them in total) that target constructs and value types and then allo

[2017-01-08 15:37] evilebottnawi commented on #2249
@jeddy3 :+1:

[2017-01-08 15:38] jeddy3 commented on #2243
@davidtheclark Thanks! Of course. I feel like a bit of a nincompoop for not realising this. It's the reason we [wrapped all the globs in quotes in the examples](https://github.com/stylelint/stylelint/commit/8e66c0c26a30c0c3223e566bc0e07f8c3f656387) in the [user guide](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/cli.md).

It's also in the first line of the CLI `--help`

[2017-01-08 15:38] #2243 closed

[2017-01-08 15:39] hudochenkov commented on #2237
@jeddy3 #2240, #2239, #2212, and this issue are in one place kind of. I'm thinking about two options to manage them:

1. Make one PR with all changes.
2. Close #2240, #2239 first in the first PR. Then close #2212, and this issue in the second PR, after first one will be accepted.

What option should I choose?

[2017-01-08 15:42] jeddy3 commented on #2237
I think option one might be more productive for you and I don't think will add much to the reviewing burden.

[2017-01-08 15:47] jeddy3 commented on #2237
I think waiting on https://github.com/stylelint/stylelint/issues/1663 being merged into `master` might be prudent though, as I think we're setting ourselves up for a lot of merge conflicts.

[2017-01-08 16:21] hudochenkov commented on #2237
@jeddy3 got it! Ping me, please, when it's ready, so I can work on this PR.

[2017-01-08 16:26] jeddy3 commented on #2237
Will do. We're [working through](https://github.com/stylelint/stylelint/issues/2079#issue-190470316) some big project scope/direction decisions for `8.0.0` at the moment, but there is light at the end of the tunnel. So, hopefully, the deprecations will be decided upon soon.

[2017-01-08 17:12] #2203 closed

[2017-01-08 19:05] mockdeep commented on #2243
Ah, okay. I'm using bash.

[2017-01-08 21:18] jeddy3 commented on #2126
I think we've made good progress on https://github.com/stylelint/stylelint/issues/2079 - we've discussed and agreed on quite a few of the rules highlighted in that issue. It feels like deciding on the spec validation rules is going to be, understandably so, the contentious bit.

To recap, I think these are all the spec validation rules:

- `at-rule-no-unknown`
- `color-no-invalid-hex`
- `function-

[2017-01-08 21:21] jeddy3 commented on #2079
This has been broken into separate issues.

[2017-01-08 21:21] #2079 closed

[2017-01-08 22:36] bzang commented on #2236
@jeddy3, eslint actually only ignores the base `node_modules` directory. That's why they specify `/node_modules/*`. Any other `node_modules` directory isn't automatically ignored.
I think this is a reasonable setup since the root `node_modules` directory is generally where npm installs everything.

[2017-01-09 02:39] JaKXz commented on #2051
@davidtheclark correct me if I'm wrong, but this has been addressed in https://github.com/davidtheclark/cosmiconfig/commit/836a17c252a3392e628bf1c3c3947d31475195a1 right?

I think what's remaining for `stylelint-webpack-plugin` is for the `.lint(options)` promise to reject with this error. Let me know what you think.

[2017-01-09 10:12] jeddy3 commented on #2236
@bzang Thanks for looking into it.

Funnily enough, we're following the [lerna](https://github.com/lerna/lerna) monorepo approach on my current project.

[code]

So, having stylelint ignore any file with `node_modules` _somewhere_ in the path is beneficial to us.

Having said that, as stylelint doesn't have a option to disable the default ignores, perhaps they should be more permissive? @stylelint

[2017-01-09 15:03] bzang commented on #2236
@jeddy3, yea we were using Lerna before switching over to alle, and stylelint worked great!

I believe that the `ignoreFiles` config can already deal with additional ignore paths. So passing something like `packages/**/node_modules/*` should handle the Lerna use case.

It makes sense to have `node_modules` as a default ignore because that is a very common use case, but incorporating an override wo

[2017-01-09 15:07] davidtheclark commented on #2051
@JaKXz I switched JSON-parsing modules but did not *intentionally* fix this issue. *Is* it fixed now? Want to submit a PR demonstrating so we don't regress in the future?

[2017-01-09 17:57] simonsmith commented on #2226
@jeddy3 Hey,

I think these rules are mainly to work around the limitations imposed by replicating `root` with a preprocessor but also to ensure styles don't leak out into other components.

**`custom-property-no-outside-root`**: I think this works around the `postcss-custom-properties` limitation that you pointed out already.

**`root-no-standard-properties`**: By forcing use of root it means tha

[2017-01-10 10:14] jeddy3 commented on #2226
@simonsmith Thanks for replying! That continues to shed some more light on things.

I think so. They feel quite idiosyncratic and I think better suited as plugins. @stylelint/core Any objections?

[2017-01-10 15:50] davidtheclark commented on #2226
Sure

[2017-01-10 17:35] jeddy3 commented on #2226
Tracking in https://github.com/stylelint/stylelint/issues/2123

[2017-01-10 17:35] #2226 closed

[2017-01-10 17:56] simonsmith commented on #2226
Where will these rules be moved to? A new `npm` package?

[2017-01-10 18:36] jeddy3 commented on #2226
They'll be deprecated in an upcoming release. The deprecation warning will have a link to http://stylelint.io/user-guide/release-planning/ which will (once [this PR](https://github.com/stylelint/stylelint/pull/2250) is in) ask for the community's help.

The community will then have time, and if there is the desire, to convert these rules to plugins before they are removed outright in `8.0.0`. We t

[2017-01-10 18:59] simonsmith commented on #2226
I see.

Well there is desire to continue using this rules in SUIT CSS. Perhaps when you get round to removing the root ones I could put together a `root` rules plugin.

[2017-01-11 04:30] ai opened #2251 "Confused error message on unknown file"
UX bug

`7.7.1`

[code]

"File file/doesnt/exists doesn’t exists" error message.

[code]

[2017-01-11 09:01] evilebottnawi commented on #2236
@jeddy3 maybe if not passed `ignoreFiles` patterns use default, if passed use only their?

[2017-01-11 10:14] jeddy3 commented on #2226
That would be super.

I should have been a bit clearer :) I meant that in the context of browser support for custom properties being [on the horizon](http://caniuse.com/#feat=css-variables), which might make preprocessing the custom properties with SuitCSS unnecessary and, perhaps, these rules redundant. This might not be the case, though. I guess it depends on how things like theming might work w

[2017-01-11 10:23] simonsmith commented on #2226
I expect IE will hold it back for some :)

But yes, would be ideal to not need them at all!

[2017-01-11 10:32] weaintplastic opened #2252 "Add selector-no-type"
I'd like to suggest adding a rule to disallow using types as selectors at all.

This rule is kind of related to selector-no-qualifying-type but is even more strict.

[code]

Warn the user to not use types as selectors.

What do you think? Does it make sense for you to work on a rule like that or is there any other rule that could lint for the usage of types as selectors?

[2017-01-11 10:35] weaintplastic commented on #2252
Sorry. I figured out that the rule already exists.

[2017-01-11 10:35] #2252 closed

[2017-01-11 15:25] #2205 closed

[2017-01-11 20:04] BradleyStaples commented on #2236
I was just looking into this as well, as my company uses both `/node_modules` and `/src/node_modules` in our apps because of our internal framework. Any CSS files in `/src/node_modules/...` are showing in the list of sources in the console output, but are grayed out and have `(ignored)` after them.

I tried setting `ignoreFiles` to `[]`, `''`, and `null` with no change in behavior.

Green file was

[2017-01-11 21:32] jonathantneal commented on #2090
I would like to define an exception for `block-closing-brace-newline-after`. Is this possible now, or am I just seconding this request? My use-case is:

[code]

[code]

Citations:
https://tabatkins.github.io/specs/css-when-else/#else-rule
https://github.com/jonathantneal/postcss-at-else

[2017-01-11 21:56] jeddy3 commented on #2090
@jonathantneal It is possible now using a couple of rules from [stylelint-scss](https://github.com/kristerkari/stylelint-scss) (a plugin pack for SCSS-_like_ constructs). Those guys [wrote up an example](https://github.com/kristerkari/stylelint-scss/blob/master/docs/examples/if-else.md) on how to do it.

[2017-01-12 11:09] evilebottnawi commented on #2236
@jeddy3 i think we should change logic in the `8.0.0` release
Our code: https://github.com/stylelint/stylelint/blob/b5145a17ce4ff954c4c4baa5a5373f084b3f9162/lib/isPathIgnored.js#L7
Eslint code: https://github.com/eslint/eslint/blob/616611afe19da5380344042fc73c7b91e59375cc/lib/ignored-paths.js#L32

[2017-01-12 13:43] jeddy3 commented on #2236
I think so too.

Releasing `8.0.0` is a bit away yet, and so what are our options for getting @bzang & @BradleyStaples up and running in the interim? Would a `no-default-ignore` option suffice here?

[2017-01-12 13:59] evilebottnawi commented on #2236
@jeddy3 `no-default-ignore` sgtm

[2017-01-12 14:12] jeddy3 commented on #2236
@davidtheclark Always keen for your input and nod of approval when adding options to the CLI. Any objection to this option, or shall I open it out to contribution?

[2017-01-12 15:13] davidtheclark commented on #2236
Ugh. Sticky situation. `no-default-ignore` really bugs me, and I feel weird about including weird logic for such a weird use-case with nested `node_modules`. Next we'll get an issue with people complaining because their nested `node_modules` *are* being linted — which is totally counterintuitive because *other* `node_modules` (non-nested) are being automatically ignored.

Here's what I'd favor: Ma

[2017-01-12 15:36] Pustur opened #2253 "Stylelint doesn't pick up errors when using a star (*) glob pattern"
A bug (i think?) where using a star glob pattern (`*`) doesn't pick up errors in my files.

`7.7.1`

Using Node:
`node_modules/stylelint/bin/stylelint.js ./src/**/*.css`
`node_modules/stylelint/bin/stylelint.js ./src/**/_typography.css`

the former **doesn't give any output**.
the latter works and gives:
[code]

The linter should have picked up the same file (`_typography.css`) even when using the

[2017-01-12 15:42] davidtheclark commented on #2253
@Pustur What platform are you on, and what happens if you wrap your glob in quotation marks?

[2017-01-12 15:44] evilebottnawi commented on #2236
@davidtheclark right, perhaps this logic is best suited to solve the issue

[2017-01-12 15:47] Pustur commented on #2253
@davidtheclark: I tried with the quotation marks and it worked! Thanks!

BTW i'm using
- macOS `10.12.2`
- Node `7.2.0`

[2017-01-12 15:47] #2253 closed

[2017-01-13 09:49] feimosi opened #2254 "Can't use regex in selector-type-no-unknown ignoreTypes"
A bug where entering proper JavaScript regex into `selector-type-no-unknown: ignoreTypes` fails.

`selector-type-no-unknown: ignoreTypes`

Sass:

[code]

I've tried various regex values like `/^\d/`, `/^[1-9]/`, `/^2/` etc.

[code]

6.8.0

PostCSS with `gulp-postcss`

Yes

Not to flag `&:at-least(2)` as an error.

[code]

[code]

[2017-01-13 12:49] jeddy3 commented on #2251
@ai Thanks for the request.

Is the issue here that the current error message doesn't distinguish between single files and globs? And you think having a specific error message for single files would be a better user experience?

[2017-01-13 13:10] jeddy3 commented on #2254
@feimosi Thanks for using the issue template.

I think two things might be in play here:

1. Your old version of stylelint.
2. Your configuration object.

Please update to `7.7.1`. Then change your configuration object to:

[code]

As secondary options are _objects_.

[Tests look good](https://github.com/stylelint/stylelint/blob/master/lib/rules/selector-type-no-unknown/__tests__/index.js#L135-L16

[2017-01-13 14:16] ai commented on #2251
1. Of course. User didn’t enter a glob, but see some glob error. Also some users even don’t know what glob is.
2. Also we should write missed file name. If I saw what name was passed to Stylelint by lint-staged, debug could be faster. Maybe related also to issue #649.

[2017-01-13 14:27] davidtheclark commented on #2139
@hudochenkov In this case I suggest that you extract the shared logic into a function that you can invoke in both places. We do that with some rules in stylelint, too.

[2017-01-13 14:37] davidtheclark commented on #2251
How about just `whether-you-entered does not match any files`?

[code]

[2017-01-13 14:47] ai commented on #2251
@davidtheclark nice idea :+1:

[2017-01-13 15:01] jeddy3 commented on #2236
SGTM, thanks for chiming in. This change of behaviour will be for `8.0.0`, right? As some users might be relying on the fact that `node_modules` [is always ignored](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/node-api.md#files) regardless of whether they have specified their own pattern or not.

[2017-01-13 15:08] davidtheclark commented on #2236
Yeah, absolutely.

[2017-01-13 16:48] hankthewhale opened #2255 "Feature Request: Disallow top-level element selectors"
Feature request (I think)

A linter that disallows writing styles directly on element selectors ('h1, 'a', 'span' etc) without being wrapped in a class. Something like `selector-no-global"`

Using css-modules, the goal is to avoid writing styles directly on an element or global selector.
e.g.
[code]

and instead write your css in a component file

e.g. (in Header.css)
[code]

In our project, we ha

[2017-01-13 17:28] m-allanson commented on #2255
I think this is covered by the 'selector-no-type' rule with the 'ignore: [
"descendant"]' option: http://stylelint.io/user-guide
/rules/selector-no-type/

On 13 January 2017 at 16:48, Dave Beshero <notifications@github.com> wrote:

[2017-01-13 18:40] hankthewhale commented on #2255
Ah yes! I completely overlooked this. Thanks for pointing it out @m-allanson. Closing.

[2017-01-13 18:40] #2255 closed

[2017-01-13 21:25] hankthewhale opened #2256 "Bug: selector-no-type - Ignore compounded allows types compounded by sibling selector"
In the [docs](http://stylelint.io/user-guide/rules/selector-no-type/), ignoring compounded seems to describe the ideal ignore pattern. `h1.class`.

However, it also allows two element types to be compounded by the direct sibling selector `input[type='checkbox']:checked + label // does not fail`.

In this case, you can still style element types and sneak past the lint rule.

selector-no-type

[code

[2017-01-13 21:27] hankthewhale commented on #2255
@m-allanson I think I found some undesirable behavior with this rule. Opened #2256

[2017-01-13 21:45] BradleyStaples commented on #2236
Is there a rough guess for when 8.0.0 will be out? I'm going to have to find some solution to lint our files at work and I'm likely unable to wait for a long time, so I'll need to evaluate my options.

[2017-01-13 22:25] AoDev opened #2257 "Add proprietary webkit pseudo-classes to list of known ones in selector-pseudo-class-no-unknown"
This selector will fail `::-webkit-scrollbar-thumb:window-inactive`

selector-pseudo-class-no-unknown. (it does not like the `:window-inactive`)

e.g.

[code]

e.g.

[code]

7.7.1

Both CLI and Sublime Text stylelint contrib plugin

My files are written in less but this rule in particular is not using anything special. It is not nested.

"No warnings to be flagged."

e.g. "The following warnings w

[2017-01-14 11:34] jeddy3 commented on #2236
Probably a few weeks as there's quite a bit left to do. You can help us speed up the process by tackling some of the [`8.0.0` milestone issues](https://github.com/stylelint/stylelint/milestone/23).

[2017-01-14 11:35] #2254 closed

[2017-01-14 11:47] jeddy3 commented on #2256
@hankthewhale Thanks for using the template.

I can't replicate this I'm afraid.

Given:

[code]

The following config:

[code]

Gives the following output:

[code]

Whereas the following config:

[code]

Gives the following output:

[code]

It looks like each _compounded/simple_ selector within a _complex_ selector is being correctly checked individually.

Can you create a reproducible repo for u

[2017-01-14 12:10] jeddy3 commented on #2257
@AoDev Thanks for the report and for using the template.

That's a peculiar pseudo class: non-standard but _unprefixed_. I think we ought to account for it though.

Would you like [to contribute](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md) a new set of the 11 pseudo-classes from [this webkit blog post](https://webkit.org/blog/363/styling-scrollbars/)?

1. You

[2017-01-14 12:25] hankthewhale commented on #2256
@jeddy3. Interesting. Yeah, I'll try to get an example repo up today. Thanks for looking into it.

[2017-01-14 15:30] hankthewhale commented on #2256
@jeddy3 Try it with the following rule

[code]

Seems like ignoring descendants is maybe not catching the direct sibling selector. Going to dig into the stylelint code now.

[2017-01-14 15:35] hankthewhale commented on #2256
Looks like it might be an issue with [postcss-resolve-nested-selector](https://github.com/davidtheclark/postcss-resolve-nested-selector)

[2017-01-14 15:47] jeddy3 commented on #2256
No worries :)

The issue you describe was fixed in https://github.com/stylelint/stylelint/pull/2200 and will be released in [`8.0.0`](https://github.com/stylelint/stylelint/milestone/23).

Going to close as a duplicate. Feel free to reopen if that's not it.

[2017-01-14 15:48] #2256 closed

[2017-01-14 15:54] hankthewhale commented on #2256
Awesome! Was just starting fix this. Didn't realize it was already taken care of. 🎉

Going to point at the `v8` branch until release as this is the single most important rule for us since we're using css-modules.

[2017-01-14 16:17] hankthewhale commented on #2256
@jeddy3 Added a (hopefully) helpful detail to the issue template to prevent duplicate bug reports in the future. https://github.com/stylelint/stylelint/pull/2258

[2017-01-14 19:39] davidtheclark opened #2259 "ROADMAP"
I'd like to chat about the next steps for stylelint. Our 8.0 release will be mostly focused on standardizing option names; and we already had a major release that was mostly about standardizing rule names; so I expect that more standardization like this will not be necessary for quite a while, if ever. We've create a very fine configuration system. So let's think about what might be our next major

[2017-01-14 19:50] davidtheclark commented on #2259
@jeddy3 I realize that most of ^^ means that I'm coming around to your views that I've argued against in the past! 😜

[2017-01-14 23:05] davidtheclark commented on #2249
I agree that this is a better plugin.

[2017-01-14 23:08] davidtheclark commented on #2126
@jeddy3 Here are my latest thoughts on this: I don't think we should deprecate these rules until we're ready to funnel users directly into a css-values or csstree plugin. I don't think those libraries are, will be, or *should* be non-standard syntax friendly; so I think we should only deprecate these rules as part of a plan to more or less abandon non-standard syntaxes. For this and other reasons

[2017-01-15 00:44] ntwb commented on #2259
Fantastic write up, well thought out and put forward arguments, no objections being CSS only 👍

[2017-01-15 01:45] jeddy3 commented on #2259
😆

You know I'm going to be in agreement with this proposal :)

You articulate the arguments for it very well here and within [your blog post](http://davidtheclark.com/lessons-i-may-have-learned/#non-standard-syntaxes-are-a-huge-obstacle-to-css-tooling).

Yes, and [deprecating rules](https://github.com/stylelint/stylelint/issues/2123) based on [this audit](https://github.com/stylelint/stylelint/is

[2017-01-15 01:49] jeddy3 commented on #2126
Agreed.

Do we revert the deprecations of the following (done in https://github.com/stylelint/stylelint/pull/2197)?:

- `media-feature-no-missing-punctuation`
- `selector-no-empty`

Or is `selector-no-empty` still an odd proxy and `media-feature-no-missing-punctuation` still too problematic?

[2017-01-15 17:28] feimosi commented on #2254
The configuration object was indeed written in a wrong way by my mistake.
But upgrading stylelint only solved the problem.

Btw. it's not nice to close an issue, before I get a chance to reply.

[2017-01-15 17:41] davidtheclark commented on #2254
@feimosi: It's pretty common practice for large repositories that deal with a lot of issues, so please don't feel offended. People are still notified when you post follow-up comment on closed issues, so the discussion can continue and the issue can always be re-opened.

[2017-01-15 18:21] davidtheclark opened #2260 "Remove ESLint rule for multi-item array bracket spacing"
Right now we are forced to do `[a]` but `[ a, b ]`. This means we sometimes have to change the spacing around the brackets when we add or remove items from the array — and that is annoying. We should remove this distinction, and stick with no spaces in array brackets always. Hopefully this is automatically fixable.

[2017-01-15 18:46] feimosi commented on #2254
Never heard of such practice. What other big projects use it? You should give at least a week to reply. IMHO closing means closing.

[2017-01-15 22:28] demrks opened #2263 "Document use of escaped characters in selector-class-pattern"
There seems to be a bug with the `selector-class-pattern` rule that produces an error although the regex works properly [in tests](http://regexr.com/3f2me)

`selector-class-pattern`

e.g.

[code]

[code]

`7.7.1`

Webpack plugin

No, vanilla CSS

No warnings to be flagged

[code]

[2017-01-15 23:08] davidtheclark commented on #2126
I don't thin we should revert those deprecations — I think the justifications for those still stands.

[2017-01-16 10:03] jeddy3 commented on #2126
Agreed. I think we can close this now.

[2017-01-16 10:03] #2126 closed

[2017-01-16 10:06] jeddy3 commented on #2260
SGTM. Tracking in https://github.com/stylelint/eslint-config-stylelint/issues/17

[2017-01-16 10:06] #2260 closed

[2017-01-16 10:52] jeddy3 commented on #2263
@demrks Thanks for the report and for using the template.

You [shouldn't include](http://stylelint.io/user-guide/rules/selector-class-pattern/#options) the `.` in your regex. This change, however, only catches the `.u-text-left` selector. The `.u-size-11\/12\@sm` is still missed. I think this is a separate issue that needs further investigation.

The rule itself simply [uses `new RegExp(pattern)`

[2017-01-16 11:28] jeddy3 commented on #2249
Tracking in #2079

[2017-01-16 14:02] hudochenkov commented on #2259
What about [`isStandardSyntaxDeclaration`](https://github.com/stylelint/stylelint/blob/master/lib/utils/isStandardSyntaxDeclaration.js#L18) and such helpers in CSS-only stylelint?

For example there is a stylesheet which is processed by [postcss-simple-vars](https://github.com/postcss/postcss-simple-vars):

[code]

This stylesheet processed by default PostCSS parser. `$width` is declaration, but n

[2017-01-16 14:22] jeddy3 commented on #2259
I think working out the particulars still needs to be done.

It'll probably treat them as declarations and be applied.

[code]

What are your thoughts?

[2017-01-16 14:37] hudochenkov commented on #2259
If it will be applied, there should be new ways to achieve the same as now behaviour.

There should be plugin with identical logic to new `declaration-empty-line-before`, but which will check if it's a CSS property or not. And this plugin should be always in sync with core `declaration-empty-line-before` to have same options and to avoid problems, which can be found in core rule and needed to be c

[2017-01-16 15:09] hudochenkov commented on #2259
Autoformatting tool is great! There few “rules” what will make an autoformatting tool an excellent companion to stylelint:

1. It should use stylelint config.
2. It should support all possible rules. It's very hard to support all rules from the start. But eventually, it should support all of them.
3. If rule claimed as supported, it should have all options, from stylelint. Always.
4. Rule's logic

[2017-01-16 15:28] hudochenkov commented on #2259
One more thing for autoformatter: it should support stylelint plugins somehow. For example, there should be a way to fix `stylelint-order` warnings. `postcss-sorting` can be used in formatter to fix them.

[2017-01-16 16:09] davidtheclark commented on #2259
@jeddy3 Exactly — I was thinking of that as part of "best practices" but I do agree that it's more clear to name those goals separately, since people often think of "best practices" as global rather than particular.

---

After @hudochenkov's comments and some thinking this morning, I have some new ideas.

Considering what it would actually take to extract SCSS/Less/SSS exceptions into external to

[2017-01-16 16:15] evilebottnawi commented on #2259
@davidtheclark if I understand correctly, there is a proposal to use `selectors` (as do `eslint`)
example:
[code]
Am i right?

[2017-01-16 16:16] davidtheclark commented on #2259
@evilebottnawi Yes, same idea.

[2017-01-16 16:18] evilebottnawi commented on #2259
@davidtheclark I'm voiting for it, also it will greatly reduce the code and make it more readable

[2017-01-16 19:42] demrks commented on #2263
@jeddy3 Thanks so much, it works just fine if I change `"\\"` to `"\\\\"`:

[code]

So, it's not a bug. Is this something that's worth mentioning in the docs?

[2017-01-16 21:41] davidtheclark commented on #2263
I think it's probably worth opening an issue in PostCSS and understanding the rationale. It might be a bug. Seems buggy to me, if the selector we get from the AST does not match the selector in the original stylesheet.

[2017-01-16 21:44] demrks commented on #2263
Ok, will do

[2017-01-17 08:37] kristerkari commented on #2259
For me this is a feature I'd really like to see stylelint support properly. I use ESLint's autofixer very often. It is very powerful when you can take any code outside your project and just automatically format it to what ever you have defined in your project.

I really like this idea, because trying to support preprocessors or other syntaxes when autofixing is just a big mess (I've been contribut

[2017-01-17 10:31] evilebottnawi commented on #2259
@kristerkari I can not imagine how many things we use should moved to the separate package as in many rules we use different checking based on non-standard syntax. The only solution in my eyes is a postprocessor on postcss (call it `stylelint-compatibility`) and each `stylelint-compatibility-scss` (and etc) should produce from a non-standard syntax to abstracted ast tree (stylelint compatibility a

[2017-01-17 10:32] Nirazul commented on #2259
I'd be really happy with such a solution, as well as ready to help if something pops up. Even though we are using stylelint exclusively with scss in about 20 - 30 projects, I've never had the urge to add plugins like stylelint-scss to improve linting. Stylelint already does a great job at linting literally everything that is thrown at it.

Just out of curiosity, how do you guys work? Do you use ex

[2017-01-17 10:38] evilebottnawi commented on #2259
BTW, i have about 100+ projects and in all i use `stylelint` and `sass`, maybe we should postpone the idea of dropping non standard syntax support

[2017-01-17 11:10] kristerkari commented on #2259
I know that it is a huge effort, but I also doubt that the autofix feature would work that well if stylelint supports multiple, no-standard syntaxes. :/

[2017-01-17 12:20] ArthurClemens opened #2265 "Missing parentheses in calc will cause crash"
A bug

none

e.g.

[code]

not relevant

`7.7.1`

npm script: `"./node_modules/.bin/stylelint \"src/**/*.css\""`

No, this is an error in the CSS

A message like "Error in markup" or "Could not parse block".

Output:

[code]

No further files are processed after this.

[2017-01-17 12:23] evilebottnawi commented on #2265
@ArthurClemens please use template

[2017-01-17 12:39] sergesemashko commented on #2259
Another thing that may give significant performance gain is caching the results (like in [eslint](https://github.com/eslint/eslint/blob/master/docs/developer-guide/nodejs-api.md#cliengine)). So, only changed files are passed to linter on subsequent runs.
On my current setup with >100 .scss files and linting time is about ~5-7 seconds, which is not good enough for development mode.
@davidtheclark,

[2017-01-17 12:50] evilebottnawi commented on #2259
@sergesemashko `eslint` have caching (but it is not related to stylelint webpack plugin), but best way use `preloader` for this, in `webpack` all loaders have cache

[2017-01-17 14:33] davidtheclark commented on #2259
@sergesemashko We'd love any issue/PR suggesting performance improvements! For your idea, how about opening an issue explaining the idea a little more thoroughly, and then we'll discuss and move on to a PR?

---

@kristerkari I think that this might be one of the main advantages of moving the `--fix` code to within stylelint, instead of out in stylefmt. Because stylelint already has the logic to i

[2017-01-17 15:06] hudochenkov commented on #2259
True. I've borrowed `*-empty-line-before` logic for postcss-sorting 2.0 and it works great. Maybe with some rules there will be exceptions and `fix` logic will require some tweaks, but I believe most of the rules won't require any fixes.

[2017-01-17 22:34] Arcanemagus opened #2266 "Invalid column from max-line-length"
A bug where `max-line-length` reports a column 1 past the end of the line.

`max-line-length`

[code]

[code]

`7.7.1`

CLI with `stylelint bug.scss --syntax scss`

Yes, it's related to SCSS maps.

The proper column (270) to be reported.

A column of 271, which is 1 past the end of the input is flagged.

[code]

A zip of everything necessary to reproduce this can be found here: [linter-stylelint_G

[2017-01-18 10:19] jeddy3 commented on #2265
@ArthurClemens Thanks for updating the issue to use the template.

I can't reproduce this I'm afraid.

The following:

[code]

Correctly produces:

[code]

Because there is a syntax error, the file can't be processed and so no checks can be made.

As an aside,

[code]

is the error from npm (and not related to stylelint). You can hide it with:

[code]

If this doesn't resolve your issue, please ca

[2017-01-18 13:03] sinedied opened #2267 "`src/**/*.scss` pattern not matching files in base folder"
I have a bug: when I run the command `stylelint src/**/*.scss --syntax scss`, all files located directly in the `src` folder are not processed, as opposed to what's written in the docs.

It's related to the CLI not a specific rule

No specific css needs

No specific conf needed

`7.7.1`

CLI with `stylelint src/**/*.scss --syntax scss`

Yes it targets SCSS files

All SCSS files contained in `src`

[2017-01-18 13:22] evilebottnawi commented on #2267
@sinedied what shell are use? try `stylelint 'src/**/*.scss' --syntax scss` (with quote)

[2017-01-18 13:27] sinedied commented on #2267
@evilebottnawi Thanks, it works with quotes I'm silly to have forgotten that! I'm using the OSX standard shell for the record.

[2017-01-18 13:27] #2267 closed

[2017-01-18 18:03] AoDev commented on #2257
Hi, currently I don't have much time, I could check it later. I've seen someone is assigned so, do you still need me?

[2017-01-18 18:20] Arcanemagus commented on #2266
@evilebottnawi This also needs the `non-standard syntax: scss` label. (I'm assuming, unless it is also showing on pure CSS...)

[2017-01-18 19:00] evilebottnawi commented on #2266
@Arcanemagus thanks :+1:

[2017-01-18 19:01] evilebottnawi commented on #2257
@AoDev already done in https://github.com/stylelint/stylelint/pull/2264 PR :smile:

[2017-01-18 21:49] bzang commented on #2236
Thanks for hopping on this everyone. I definitely agree with @davidtheclark's solution. That seems to be the most sustainable and also similar to how other tooling environments like webpack deal with overrides and ignores. Will lend a hand at the 8.0.0 milestone issues to speed this along.

[2017-01-18 22:14] aaronbeall opened #2269 "Validating CSS nesting not working"
Trying to use rules to help convert a SCSS nested codebase (`postcss-nested`) to CSS standard nesting (`postcss-nesting`)

`selector-nested-pattern`

[code]

[code]

e.g. `7.7.1`

Webpack PostCSS plugin:

[code]

It relates to CSS spec nesting via `postcss-cssnext`.

Warning or error flagged for the invalid nested rules, such as `.this-should-raise-error`, etc.

No warnings or errors were raised.

[2017-01-19 12:24] jeddy3 commented on #2269
@aaronbeall Thanks for using the template.

I think your regex might need some tweaking as the following config:

[code]

With this CSS:

[code]

Correctly produces:

[code]

If your intent here is to always enforce the use of the _direct nesting selector_ (`&`) then ` "selector-nested-pattern": "^&"` should suffice.

You can then use a combination of the following to restrict selectors and pseudo

[2017-01-19 12:57] hudochenkov commented on #1663
Are you sure about `after-opening-brace`? SugarSS doesn't have opening brace, for example. In my opinion, `first-nested` more understandable.

`after-opening-brace` is about syntax, the way something written. `first-nested` is about meaning, what it actually is.

[2017-01-19 13:00] sergesemashko opened #2270 "Implement caching to improve performance"
Feature request.

I have a project with > 100 .scss files with setup of webpack and stylelint using [stylelint-webpack-plugin](https://github.com/JaKXz/stylelint-webpack-plugin). Introducing stylelint made builds slower:
[code]
Initially, I thought that webpack plugin is the source of slowness. But profiling of `./lib/standalone.js` showed that it just takes time to lint the entire style folder:
[

[2017-01-19 13:24] timbru31 opened #2271 "False positives for parametric mixins with rule block/snippet in indentation"
A bug where stylelint does not treat parameters in case a ruleblock/snippet is passed.

[code]

e.g.

[code]

7.7.1

./node_modules/.bin/stylelint test.less

Yes, Less mixins.

No warnings to be flagged.

The following warnings were flagged

[code]

[2017-01-19 15:30] davidtheclark commented on #1663
Good point @hudochenkov!

[2017-01-19 15:37] davidtheclark commented on #2270
When I first read this I wondered why I've never seen my successive ESLint runs go faster — now I see I have to try the `--cache` flag. I'll give it a shot!

@sergesemashko I'm in favor of experimenting with this idea if you'd like to lead the charge.

@stylelint/core any concerns?

[2017-01-19 15:38] aaronbeall commented on #2269
For some reason I still do not get any warnings or errors with `"selector-nested-pattern": "^&"`. Stylelint _is_ working because if I set another rule to something different than my codebase, for example indentation to `4` (my code uses 2 spaces) then I get tons of warning output. Do I need to set some other rules for the nesting pattern to take effect?

[2017-01-20 09:53] jeddy3 commented on #1663
Nope :) I had the same thoughts as you when I looked through https://github.com/stylelint/stylelint/pull/2262.

I've been thinking about it for a couple of days.

Every `*-empty-line-before` rule used to target a _construct_ (e.g. declaration, rule, at-rule), but then we introduced [`block-closing-brace-empty-line-before`](https://github.com/stylelint/stylelint/blob/master/lib/rules/block-closing-

[2017-01-20 10:51] FezVrasta opened #2272 "`block-no-empty` rule doesn't work with SugarSS"
A bug where I define an empty block with SugarSS, the linter doesn't throw an error.

`block-no-empty`

e.g.
[code]

e.g.

[code]

7.7.1

CLI `stylelint .`

Yes it is related to nesting and SugarSS

A warning to be flagged

No warnings

[2017-01-20 10:53] hudochenkov commented on #1663
Separation of concerns! I agree with you, @jeddy3.

Thank you, @stylelint/core! I've learned a lot from you and still learning. I'm happy to make something in return for your knowledge and fantastic tool :)

[2017-01-20 10:54] #2272 closed

[2017-01-20 11:57] sergesemashko commented on #2270
@davidtheclark, sure! I'll take a look at this. I'll reach you back when I have any results.

[2017-01-20 12:13] davegomez opened #2273 "Improve documentation of "always-multi-line" in at-rule-name-newline-after"
I think there's a bug the rule, it shows an error even when the snippet complies with it. It doesn't happen with all the `@mixin` at-rules but only with these specially long and deeply nested rules that you can find in the [Flexbox Grid](http://flexboxgrid.com/) SCSS code.

`at-rule-name-newline-after`

[code]

[code]

`7.7.1`

CLI with `stylelint scss/**/*.scss --syntax scss` and IDE/Editor plugi

[2017-01-20 12:51] evilebottnawi commented on #1663
@davidtheclark @jeddy3 can be made @hudochenkov as `Contributor`? he helps us and more contributors better package :1st_place_medal:

[2017-01-20 14:40] davidtheclark commented on #1663
@evilebottnawi Sent an invite!

[2017-01-20 14:58] davidtheclark opened #2274 "Call for maintainers dedicated to non-standard syntaxes (SCSS, Less, etc.)!"
This is a follow-up to #2259. The goal is to bring on more non-standard syntax devotees interested in fixing bugs and refining the tool for their pipeline.

I myself don't use SCSS or Less and probably will not spend any more of my open-source time fixing the bugs that arise for these syntaxes, or coming up with new features that might improve the experience with these syntaxes. The best people to

[2017-01-20 15:12] evilebottnawi commented on #2274
@davidtheclark i have good knowledge about SCSS and Less, most issue with non standard syntax I covered earlier :smile: , can review PR, and of course fix bugs :smile:

[2017-01-20 15:22] hudochenkov commented on #1663
@stylelint/core thank you for your trust! It means a lot to me! Is there any guide or info I should know in a new position?

[2017-01-20 15:53] iamyamakin commented on #2274
@davidtheclark yes, i'm still interested. I have experience in Less, Scss, Stylus. I prefer improving Less, because it's used on the project.

[2017-01-20 23:30] hudochenkov commented on #2274
I'm using bunch of PostCSS plugins, which introduce non-standard syntax. But everything works with default PostCSS parser. I'll keep an eye on related things.

[2017-01-20 23:52] hudochenkov commented on #2273
The rule works like expected.

[code]

After at-rule name `mixin` and before at-rule's block `{}` there are multiple lines. You can check [examples in docs](http://stylelint.io/user-guide/rules/at-rule-name-newline-after/#always-multi-line).

I think we should improve description for this rule. It's clear from examples what this rule checks, but it's not — from a text.

[2017-01-21 00:01] maraisr commented on #2274
Yes for sure @davidtheclark I can definitely devote about an hour a day! Keen-man! Keen!

[2017-01-21 00:22] davidtheclark commented on #2237
Closed by #2262.

[2017-01-21 00:22] #2237 closed

[2017-01-21 00:23] davidtheclark commented on #2239
Fixed by #2262.

[2017-01-21 00:23] #2239 closed

[2017-01-21 00:23] davidtheclark commented on #2240
Fixed by #2262.

[2017-01-21 00:23] #2240 closed

[2017-01-21 00:23] davidtheclark commented on #2212
Fixed by #2262.

[2017-01-21 00:23] #2212 closed

[2017-01-21 00:25] davidtheclark commented on #2274
Excellent to hear from anybody. If you're new to the repo, feel free to pick up issues and offer new ideas! Look forward to working with you.

[2017-01-21 01:25] maraisr commented on #2266
I've snagged this one, will push up my PR soonish!

[2017-01-21 12:03] hudochenkov commented on #2265
Same here. Can't reproduce.

[2017-01-21 12:19] jeddy3 commented on #2273
Agreed.

Agreed. Currently, the docs say:

It's the "at-rule blocks" bit that is off.

Any idea what the bit between at-rule name and the opening brace is called?

[2017-01-21 12:29] hudochenkov commented on #2273
For `@media` it's called [media query list](http://apps.workflower.fi/vocabs/css/en#media-query-list). PostCSS AST calls it `params`. I propose to use “parameters list”.

[2017-01-21 12:33] jeddy3 commented on #2265
Closing.

@ArthurClemens Feel free to continue posting to this issue if you're able to produce a repo with a reproducible test case.

[2017-01-21 12:33] #2265 closed

[2017-01-21 12:36] jeddy3 commented on #2273
SGTM. It's [called](https://drafts.csswg.org/css-conditional-3/#contents-of) *group rule body* for *conditional group rules* - so going with something generic like "parameters list" sounds good to me.

[2017-01-21 12:38] ArthurClemens commented on #2265
I'm sorry for the trouble, I must have overlooked something.

[2017-01-21 12:48] evilebottnawi commented on #2257
Done in https://github.com/stylelint/stylelint/pull/2264

[2017-01-21 12:48] #2257 closed

[2017-01-21 12:54] jeddy3 commented on #1663
@hudochenkov Not sure much. We've just kind of developed an informal standard way of working. For example:

1. Merging simple documentation fixes after just one review.
2. Waiting on two reviews if the PR affects the core or rules before merging.
3. Updating the CHANGELOG (directly via github) straight after merging a PR, and then posting a comment in the PR with the CHANGELOG item.
4. Trying to b

[2017-01-21 13:02] jeddy3 commented on #2271
@timbru31 Thanks for the report and for using the issue template.

Supporting non-standard syntax is currently a low priority for the core team. As such, please consider investigating and, if necessary, [contributing](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md) a fix to the [`indentation`](https://github.com/stylelint/stylelint/tree/master/lib/rules/indentatio

[2017-01-21 13:06] jeddy3 commented on #2270
None, as, thanks to @sergesemashko, we've got some great references for lessons learnt in eslint with they implemented the same feature.

It sounds like a great initiative to me.

[2017-01-21 13:24] jeddy3 commented on #2269
Nope. All stylelint rules are standalone. You can have one or 180 of them in a configuration object and it should still work.

Oh yeah, I think that ought to be `"^&:(?:hover|focus)$"` if it's a string. I'll patch that in PR.

I'm still unable to replicate it using http://stylelint.io/demo/. Can you create repo with a reproducible test in it please?

[2017-01-21 13:24] evilebottnawi commented on #2274
All who know Less and have time, we should help to resolve problems https://github.com/webschik/postcss-less/issues/60. For more information see https://github.com/stylelint/stylelint/pull/1899. Unfortunately now I do not have time, but if someone will respond and solve the problem it will be just fine :heart:

[2017-01-21 13:32] jeddy3 commented on #2263
@demrks Thanks for raising the issue.

Apparently [PostCSS is behaving as expected](https://github.com/postcss/postcss/issues/955#issuecomment-273034362). Therefore, do we either?:

1. Unescape the selector within the AST before doing any comparison/converting to regex.
2. Document this behaviour in the rule README.

[2017-01-21 13:46] hudochenkov commented on #1663
@jeddy3 thank you!

[2017-01-21 15:47] davidtheclark commented on #2263
Unescaping seems to me the better plan.

[2017-01-21 16:02] davidtheclark commented on #2273
How about just "parameters"? No need for the word "list", right?

[2017-01-21 17:40] hudochenkov commented on #2198
This rule fails if a CSS rule has a nested rule with selector `&`. I think #2199 fails because of this too.

When I started to figure out a solution for this problem and edge cases, I wrote following text based on the discussion above:

---

What `hasOnlyNestedRules` would check? And where it will be applied?

This shouldn't show warnings but shows now:

[code]

This should show warnings, and it's

[2017-01-21 17:44] evilebottnawi commented on #2198
@hudochenkov can you send failed test PR? so it will be much easier to solve the problem

[2017-01-21 17:47] hudochenkov commented on #2198
@evilebottnawi how failed test should be in a test code? Should it really fail tests?

I believe this rule should throw warnings in this particular case, so I can add tests in `reject` array.

[2017-01-21 20:12] jeddy3 commented on #2263
Good stuff. Let's make sure this behaviour is consistent whenever we create regexs from user input. Milestoning as `8.0.0`.

[2017-01-22 01:50] davidtheclark commented on #2231
Closed by #2275.

[2017-01-22 01:50] #2231 closed

[2017-01-22 09:11] hudochenkov commented on #1663
Back to the topic: @m-allanson will you revert changes for `first-nested` option? Shall I do this?

[2017-01-22 10:18] jeddy3 commented on #1663
@hudochenkov If you've time, feel free to jump on it. Remembering that four of the changes (`"all-nested"` etc) are still valid.

@m-allanson Sorry about the revision and the time you lost making the originally changes 😞

[2017-01-23 02:13] ntwb commented on #1663
Yay, welcome aboard @hudochenkov, great to have you part of the team 😄

Aside: Apologies for not being around much this year, I quit my job of ~21 years New Years Eve 🎉  and I've been busy with the associated tasks of winding down ones own business, and updating/creating my resume for the next phase of my career 😃

[2017-01-23 02:45] PhilippeVay commented on #2274
@davidtheclark I'm still interested in helping maintaining when it comes to Sass and LESS syntaxes. The agency I work for switched from LESS to `*.scss` a while ago so I've worked with both.
JS is not my _forte_ but I can help debugging existing code.

[2017-01-23 09:45] ntwb commented on #2249
Reopening this for further clarification:

@jeddy3 you state it should be deprecated in favor of a new rule, @davidtheclark you suggest it should be a plugin ?

Further, if it were to become a _new rule_ rather than a plugin the rule should be named:

This is based on the rule definition: `Disallow animation and transition times under 100ms.`

As such the rule should be based on the _minimum time_

[2017-01-23 10:13] jeddy3 commented on #2249
Oops. I totally miss that bit.

And, yes. It should of been `min` :)

[code]

SGTM as a rule to me.

[2017-01-23 10:16] ntwb commented on #2270
Great idea, not that I've looked (on my todo list) but Jest also supports caching

[2017-01-23 13:32] m-allanson commented on #1663
@hudochenkov welcome :) and @ntwb congratulations :)

No problem, it's good to get these right even if the process takes us in a little circle.

[2017-01-23 14:28] davidtheclark commented on #2274
Great @PhilippBaschke! Picking up bugs will be a good way to improve your JS skills.

[2017-01-23 15:50] sergesemashko commented on #2270
I'm  currently working on it and going to submit a PR soon for initial feedback. @jeddy3, @davidtheclark, you can assign the issue to me

[2017-01-23 16:43] veej opened #2280 "configOverrides.extends breaks Node APIs"
Trying to pass `configOverrides: { extends: 'stylelint-config-standard' }` to Node API doesn't seem to work (and it seems to break the linting process).

[code]

[code]

`7.5.0`

Running the following script on Node:

[code]

No

Stylelint should give something like the following:

<input css 1>
 1:3  ✖  Unexpected empty block   block-no-empty

literally nothing is printed in console (not even err

[2017-01-23 19:58] jeddy3 commented on #2280
@veej Thanks for using the issue template.

I think [you can have](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/node-api.md#configoverrides) _either_ a `config` property _or_ a `configOverrides` property. It doesn't make sense to have both together.

If can you let us know exactly what outcome you're trying to achieve we can best advise you what options you should use?

If wa

[2017-01-23 20:08] jeddy3 commented on #2280
Umm, having said all that, you might have uncovered a bug.

[code]

Displays nothing.

@davidtheclark Should you be able to extend from `configOverrides` config partial?

[2017-01-23 20:50] veej commented on #2280
Hey @jeddy3, thank you for your reply.
As far as I can see from [tests](https://github.com/stylelint/stylelint/blob/master/lib/__tests__/standalone.test.js#L326), `configOverrides` **should** override config.
Moreover, as you uncovered in your previous post, even using a `.stylelintrc` instead of `config` property, `configOverrides` seems to break things.

What I'm trying to achieve is a sort of l

[2017-01-23 21:14] davidtheclark commented on #2280
I do not think we've written any code to allow `extend` to work from `configOverrides`. This should be documented.

I don't think you *need* it, really, because when you are writing a Node module you should be able to write whatever code you need to put together the config object that you want. That idea makes me think we should deprecate that option: why have a `configOverrides` option when you c

[2017-01-24 09:42] veej commented on #2280
@davidtheclark the issue also arise in [`stylelint-webpack-plugin`](https://github.com/JaKXz/stylelint-webpack-plugin) that, as far I can see, uses the Node APIs.
In webpack config is a little bit more overwhelming to implement the config merging logic.

[2017-01-24 10:56] jeddy3 commented on #2249
- Name: `time-min-milliseconds`
- Description: "Limit the minimum number of milliseconds for time values"
- Primary options: `int`
- Secondary options: none
- Message: `Expected no less than ${time} milliseconds`
- Section: "Time"

[2017-01-24 11:50] hudochenkov commented on #1663
Thank you, everyone! :)

I believe we can close this issue, since it completed.

Done in #2213 and #2278.

[2017-01-24 11:50] #1663 closed

[2017-01-24 22:51] m-allanson opened #2286 "Incorrect column reported by max-line-length"
A bug where `max-line-length` will report an incorrect column number.

`max-line-length`

[code]

[code]

`7.7.1`

(actually `master@3183227`, but I don't think that makes a difference)

CLI

No

A warning to be flagged, with the column indicating the end of the line:

[code]

The following warning was flagged, listing an incorrect column number.

[code]

---

***Cause***

The rule ignores long ur

[2017-01-24 23:26] ntwb commented on #2286
Fantastic sleuthing @m-allanson 👍

Can you add a test or tests for that code (or similar) you have in the _Extra example_ above, it'd be great to ensure that that issue is also sorted in the resolution of this issue

[2017-01-25 07:46] ai commented on #2124
@davidtheclark why you want to remove `no-unsupported-browser-features` and `no-indistinguishable-colors`?

People really afraid to use new tools. They will just ignore `doiuse` and other PostCSS based tools.

[2017-01-25 07:49] hudochenkov commented on #2124
@ai https://github.com/stylelint/stylelint/issues/2222

[2017-01-26 12:07] evilebottnawi commented on #1942
Done in https://github.com/stylelint/stylelint/pull/2217

[2017-01-26 12:07] #1942 closed

[2017-01-26 12:19] jeddy3 opened #2291 "Add reportInvalidScopeDisables flag"
Ref: https://github.com/stylelint/stylelint/pull/2232#discussion_r96887239

To report the disabling of rules that don't exist within the configuration object.

Treated as a similar violation to `reportNeedlessDisables`, and called `reportInvalidScopeDisables`.

Given the following config:

[code]

The following source will trigger a violation:

[code]

As `indentation` isn't present within the con

[2017-01-26 12:23] jeddy3 opened #2292 "Add `reportUnscopedDisables` flag"
Ref: https://github.com/stylelint/stylelint/pull/2232#discussion_r96887239

Report disables not scoped to one or more rules.

Treated as a similar violation to `reportNeedlessDisables`.

This flag (`reportUnscopedDisables`) would trigger a violation for the following source:

[code]

As no rule(s)/plugin(s) is/are listed.

[2017-01-26 12:24] jeddy3 commented on #1814
Superseded by #2292 and #2291

[2017-01-26 12:24] #1814 closed

[2017-01-28 12:23] vigneshTheDev opened #2294 "PostCSS reports errors as warnings"
Hi,
I'm using `postcss-loader` for `webpack` as a loader for `stylelint`. Here is the config for `postcss`:

[code]

Whenever a `stylelint `error occurs, `postcss `reports as a warning. For example, I have this rule:
`"selector-no-type": true`

This is the output from `postcss` when I have a stylelint error:

[code]

How do I make it to appear as an error?

[2017-01-28 19:47] hudochenkov commented on #2123
Last batch was deprecated in #2285

[2017-01-28 20:42] ramasilveyra opened #2296 "Support for async rules"
Hello!

I'm trying to create a plugin with a rule that checks if the absolute urls images of your css exists: https://github.com/auth0/stylelint-images-valid. This rule makes HEAD requests to check if the images exists, everything is asynchronous.

But stylelint doesn't support async rules (postcss plugins with promises).

With a little help on which needs to change maybe I can try to solve it.

[2017-01-29 15:06] jeddy3 commented on #2294
We recommend using [`stylelint-webpack-plugin`](https://github.com/JaKXz/stylelint-webpack-plugin) for better reporting.

[2017-01-29 15:06] #2294 closed

[2017-01-29 15:14] #2280 closed

[2017-01-29 16:04] jeddy3 commented on #2123
How do we all feel about putting out these deprecations in the next release?

[2017-01-29 17:30] davidtheclark commented on #2123
@jeddy3 Yes, we should get them out as soon as possible.

[2017-01-29 17:30] #2286 closed

[2017-01-29 17:40] hudochenkov commented on #2123
Sounds good to me.

[2017-01-29 17:49] jeddy3 opened #2297 "Release 7.8.0"
- [x] stylelint release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

@davidtheclark I can do this now. Sound good?

[2017-01-29 17:50] davidtheclark commented on #2297
@jeddy3 Sounds great! Don't forget to update the changelog to add the deprecations notices when you merge in the deprecations.

[2017-01-29 17:51] jeddy3 commented on #2297
Aye, I'll give the whole thing the once through I think.

[2017-01-29 17:53] hudochenkov commented on #2297
Yeah, #2285 isn't in changelog yet. Also https://github.com/stylelint/stylelint/pull/2285#discussion_r97984916

[2017-01-29 18:11] m-allanson commented on #2297
Also note that I haven't done the changes suggested in this comment (and
ntwb's comment before it):
https://github.com/stylelint/stylelint/pull/2285#issuecomment-274967439

On 29 January 2017 at 17:53, Aleks Hudochenkov <notifications@github.com>
wrote:

[2017-01-29 18:13] jeddy3 commented on #2297
@hudochenkov @m-allanson Yep, was going to add those too. Just fixing up the changelog at the moment after rebasing the `deprecations` branch to `master`.

[2017-01-30 00:10] YodaDaCoda opened #2303 "Add previous selector line number to message of no-duplicate-selectors"
`no-duplicate-selectors` produces an error on the second (and subsequent) instance of a selector, with no reference to the first. This is good, but the message would be more useful if it included the line number of the first instance, particularly when working with large files.

`no-duplicate-selectors`

[code]

[code]

`7.7.1`

Atom package

No

I get the message `Unexpected selector ".foo"`

A b

[2017-01-30 18:09] crudo opened #2305 "False positive color-no-invalid-hex"
Bug

`color-no-invalid-hex`

[code]

[code]

`7.7.1`

CLI with `stylelint --config .stylelintrc bug.css`

No.

Unexpected invalid hex color error.

None.

[2017-01-30 18:32] hudochenkov commented on #2305
Thank you for reporting!

I believe this rule works as intended. It check color as part of value in different properties. It doesn't check value for property `color`. It searches for hex colors (`#` + letters and/or digits) in properties values and checks them. Later `#` isn't a part of color. In your case there is a valid color, but invalid value for property `color`. It's not a subject to check

[2017-01-30 18:45] crudo commented on #2305
Hi @hudochenkov, yes, you are right. I was not sure if it belongs to this rule, but it seems to be some king of a bug anyway. Because the css is not valid.

[2017-01-30 18:53] hudochenkov commented on #2305
@jeddy3:

[2017-01-30 18:53] #2305 closed

[2017-01-30 23:38] jeddy3 commented on #2273
Done in https://github.com/stylelint/stylelint/issues/2304

[2017-01-30 23:38] #2273 closed

[2017-01-31 13:55] sgomes opened #2307 "Add support for `fr` unit from CSS Grid spec"
The `unit-no-unknown` rule doesn't know about the `fr` unit introduced in the [CSS Grid spec](https://www.w3.org/TR/css-grid-1/)

`unit-no-unknown`

[code]

[code]

`7.7.1`

CLI with `stylelint packages/**/*.scss`

No, it's related to standard CSS, albeit a relatively new feature which is only starting to ship in browsers.

No warnings to be flagged.

The following warning was flagged:

[code]

[2017-01-31 14:25] jeddy3 commented on #2307
@sgomes Thanks for the report and for using the template.

I'll quickly add this in so it's included in the next release.

[2017-01-31 14:27] sgomes commented on #2307
Thanks for the quick reply, @jeddy3!

[2017-01-31 14:42] #2307 closed

[2017-01-31 14:42] jeddy3 commented on #2303
@YodaDaCoda Thank for the suggestion.

I agree that the user experience of this rule can be improved. Would you like to investigate the viability of making such a change to the rule, and sending in a PR?

[2017-01-31 14:47] jeddy3 commented on #2269
Closing. @aaronbeall Feel free to reopen if you're able to create a repo with a reproducible test in.

[2017-01-31 14:47] #2269 closed

[2017-01-31 14:49] jeddy3 commented on #2123
Merged into `master`.

[2017-01-31 14:49] #2123 closed

[2017-01-31 14:49] jeddy3 commented on #1754
Deprecated rule.

[2017-01-31 14:49] #1754 closed

[2017-01-31 14:57] jeddy3 commented on #2297
@davidtheclark I just did a quick audit of the issues and came across https://github.com/stylelint/stylelint/issues/2229#issuecomment-269965948, which I had sort of forgotten about... do you think we should resolve that before releasing `7.8` as, depending on our decision, there might be a deprecation.

[2017-01-31 15:00] AndyOGo commented on #2161
@evilebottnawi
No I wouldn't do this, cause it's a clear bug on JetBrains side, they should have utilized the `bin` property of stylelint's `package.json` file.

[2017-01-31 15:03] davidtheclark commented on #2297
@jeddy3 If you want to and can push it through, go for it!

[2017-01-31 15:10] jeddy3 commented on #2297
@davidtheclark The reasoning still seems sound to me after re-reading through the issue. Do you agree?

[2017-01-31 15:11] davidtheclark commented on #2297
Yep.

[2017-01-31 15:11] jeddy3 commented on #2249
Done in #2289

[2017-01-31 15:11] #2249 closed

[2017-02-01 02:56] YodaDaCoda commented on #2303
I've had a look, and I really don't understand much of what the code is doing. I'll have a look, but I'm not at all confident I'll be able to produce a workable PR.

[2017-02-01 15:11] oliviertassinari opened #2312 "font-family-no-duplicate-names false positive"
While running that tool against normalize.css source code, I have noticed a false positive.

It's affecting the `font-family-no-duplicate-names` rule.

[code]

[code]

`7.7.1`

No warnings to be flagged.
That duplication seems still required. https://github.com/necolas/normalize.css/pull/654.
I would understand if you decide no to fix the issue. That fix is a decade old.
I'm not sure that it's sti

[2017-02-01 15:15] gilbarbara commented on #1341
@jeddy3
The engine reached `stable` and is featured on codeclimate's engine page. 🔥

[2017-02-01 15:22] davidtheclark commented on #2312
Definitely not a "false positive", right? Because it's working exactly as expected? What you have there is a weird exception. I think `/* stylelint-disable */` comments are the best way to handle such weird exceptions.

[2017-02-01 15:26] jeddy3 commented on #2312
@oliviertassinari Thanks for using the template.

Dupe of https://github.com/stylelint/stylelint/issues/2086.

Either use `/* stylelint-disable */` or consider contributing option.

[2017-02-01 15:26] #2312 closed

[2017-02-01 15:27] jeddy3 commented on #1341
Awesome thanks!

[2017-02-01 15:27] oliviertassinari commented on #2312
Thanks for the quick answer. I'm late to the party.

[2017-02-01 15:35] aaronbeall commented on #2269
No problem that's fair, it must be something specific to my setup but I can't isolate what it is... In the meantime I refactored all my code manually and am not using style-lint but certainly it's on my to-do list. :)

[2017-02-02 09:54] #2229 closed

[2017-02-02 13:58] jeddy3 commented on #2297
Done!

🎉 🎉 🎉

A big thank you to everyone who contributed to this release; both code and to the various discussions that happened in the issues. A _lot_ was discussed and worked through!

This release is a big step towards `8.0.0`. There are some [exciting idea](https://github.com/stylelint/stylelint/issues/2259) on the horizon and it feels like we are moving towards it in a sustainable way :)

[2017-02-02 13:58] #2297 closed

[2017-02-03 02:07] kaelig commented on #704
I'd really like this too. For our Sass and our strings we use single quotes (easier to type), however in our attribute selectors `[foo="bar"]`, typing a double quote is worth the trouble because it makes searching the codebase easier (we catch both the markup and the CSS in one search query).

@jeddy3 any way this could become a thing? It seems to be an issue that keeps coming back so I'd love to

[2017-02-03 11:20] jeddy3 commented on #704
@kaelig Thanks for your input. As David [pointed out above](https://github.com/stylelint/stylelint/issues/704#issuecomment-181872385), such an approach, which covers this particular use-case, might be less viable and more bug-prone than what we have now. However, around the time of this issue (a little under a year ago) we only had a fledgeling system of extensibility. Now we have a fully-realised

[2017-02-03 15:46] juancabrera opened #2316 "Incompatibility with vue-loader and using stylelint as a PostCSS plugin"
It seems there is an issue when linting on Vue components using `vue-loader`'s (webpack) `postcss` plugin.

When I run webpack I got these linting errors even when the code is linted:
[code]

`rule-empty-line-before` and `indentation`

[code]

[code]

`7.8.0`

Post CSS plugin:
[code]

Noup.

Not having those Lint error as code is linted.

Got the following linting errors:

[code]

[2017-02-03 19:10] kaelig commented on #704
Thanks @jeddy3 - I'll look into creating a plugin, I feel like it could be useful to the community.

[2017-02-04 01:17] davidtheclark opened #2318 "Did depreciations break builds"
Sorry this is going to be an awkward post because I'm actually on a trip not at my computer ...

I received some messages from coworkers saying that the upgrade is breaking our build with deprecation warnings. We use the CLI. This problem came up before in #869 and maybe elsewhere. But is there a chance it hasn't been fixed? That would be a bummer.

Sorry I don't have more details but as I said I'

[2017-02-04 01:42] hudochenkov commented on #2318
Just tested my project with `gulp-stylelint` and `./node_modules/.bin/stylelint`. They both showed warnings in console about deprecated rules. `gulp-stylelint` didn't fail, CLI seems didn't fail either. Then I introduced an error to my styles. Gulp plugin showed an error and failed, because I've enabled `failAfterError`. Can't say whether CLI failed or not, because I don't know where to look :) Ou

[2017-02-04 01:47] hudochenkov commented on #2318
Kind of offtopic. I have in a console:

Are there correct quotes in `'comment-empty-line-before's'`?

[2017-02-04 14:48] davidtheclark commented on #2318
The CLI will break builds if it exits with a non-zero code ---- are you sure that didn't happen?

[2017-02-04 15:01] hudochenkov commented on #2318
Only deprecations, code 0:

![image](https://cloud.githubusercontent.com/assets/654597/22619329/9cc18108-eb03-11e6-8aef-6ea05d885ed2.png)

1 lint error, code 2:

![image](https://cloud.githubusercontent.com/assets/654597/22619332/c8c7d52c-eb03-11e6-9d47-8df9d67e1b26.png)

Looks like everything is working as expected.

[2017-02-04 15:19] evilebottnawi commented on #2318
@davidtheclark we use and Travis and Gitlab CI, and the update was successful everywhere, no errors.

[2017-02-04 15:47] davidtheclark commented on #2318
Ok great, and thanks for double checking. Maybe my coworkers had some other problem.

[2017-02-04 15:47] #2318 closed

[2017-02-06 04:15] IanVS opened #2322 "Flow comments are not stripped from files in `lib`"
Bug.

It seems that flowtype comments are not being stripped correctly, and are ending up in files in `lib` (which was causing my own app's flow checks to fail).  It was good, because now I realized I was checking `node_modules` which I shouldn't be doing, but I think you should also be stripping the types from the files that are distributed through npm, right?

core

`7.8.0`

There should be no f

[2017-02-06 04:35] davidtheclark commented on #2322
@IanVS: We are using Flow's comment syntax precisely so we do *not* have to strip out the annotations before publication, but can instead publish the code as-is.

As far as I know, there is nothing wrong with the Flow-comments themselves being published. Instead, the problem seems to be that our internal declarations, defined in https://github.com/stylelint/stylelint/tree/master/decls, are not bei

[2017-02-06 11:31] sinedied commented on #2124
It would be better to provide an upgrade path for users currently using `no-unsupported-browser-features` in their projects (like mine), like providing a plugin with the same functionality instead of directly removing it, don't you think?

[2017-02-06 11:50] hudochenkov commented on #2124
@sinedied it would be better. That's why we inform community about these changes and ask them to make a plugin if they still need these rules.

[2017-02-06 12:38] sinedied commented on #2124
@hudochenkov but since you already have it working in current version, why don't you extract the current code in a plugin already and search for a new maintainer instead of hoping that someone will rewrite the whole thing?

[2017-02-06 12:41] sinedied commented on #2123
Is there any way to disable the deprecation warnings?

Until a proper replacement solution for `'no-unsupported-browser-features'` is done, I plan to stick with the `7.x` branch but it's annoying to have that warning during the transition.

[2017-02-06 12:56] hudochenkov commented on #2124
@sinedied Courage™! We have reasons to exclude `no-unsupported-browser-features` https://github.com/stylelint/stylelint/issues/2222 We give an opportunity to a brave person in the stylelint community to create a plugin, which helps other people. While we can focus on stylelint to make it better.

[2017-02-06 13:02] jeddy3 commented on #2316
@juancabrera Thank you for the report and for using the template.

Using stylelint in this context, i.e. as a PostCSS plugin, _might be incompatible_ with vue templates as a [processor](https://stylelint.io/user-guide/configuration/#processors) is needed to prepare the source.

There's an approach that uses stylelint as a standalone tool to lint vue files [documented within the vue-loader issue tr

[2017-02-06 13:06] jeddy3 commented on #2318
Phew, I'm glad it wasn't a broken release. I was away over the weekend and so couldn't confirm. @hudochenkov and @evilebottnawi thanks for double checking.

[2017-02-06 13:11] jeddy3 commented on #2322
Seconded. Anyone know the recommended approach to this?

Do we need to handle it, or do we just rely on consumers not running flow on their dependencies within `node_modules`?

[2017-02-06 13:15] jeddy3 commented on #2124
@sinedied It sounds like you use the `no-unsupported-browser-features` rule. Would you like to be that person and champion this plugin? As you said, it would just be a case of extracting the rule code [into a plugin](https://stylelint.io/developer-guide/plugins/). As you currently make use of the rule you're an ideal candidate for maintaining it.

[2017-02-06 13:20] hudochenkov commented on #2322
We don't include tests in our package. Why should we include other development related only files? No one expects tests to be present in an installed npm package. Same thing goes with Flow.

For example, `normalize.css` could not pass user's stylelint's config. But if it's installed as an npm package, this shouldn't be a user's concern.

Another example, I don't think anyone run ESLint over `node_

[2017-02-06 13:26] IanVS commented on #2322
I'm a beginner with Flow, but it seems like it's actually a good thing to run it on dependencies, so that Flow can check that I am calling APIs with the correct types of arguments, for example.

I think what you want to do is `declare` your types.  This way, other projects can also use the types you've set up.  There is some information at https://flowtype.org/docs/declarations.html.

[2017-02-06 14:09] evilebottnawi commented on #2316
@jeddy3 :+1:

[2017-02-06 14:42] davidtheclark commented on #2322
@IanVS Since you already have a project set up, would you mind giving `declare` a quick shot and seeing if it works?

My suspicion is that it won't, though, because our declaration files are only included via `.flowconfig`, so when stylelint is invoked as a `node_module` Flow probably will not find that file. Maybe we need to define all of those declarations with Flow-comment syntax within a file

[2017-02-06 14:44] davidtheclark commented on #2316
@jeddy3 I'm unclear: what would be the question, and what would be the answer?

[2017-02-06 14:45] davidtheclark commented on #2124
@sinedied Just to be clear: *anybody* can extract the current code into a plugin — nobody has to rewrite the whole thing or any part if they don't want to. Open source!

[2017-02-06 14:51] juancabrera commented on #2316
@jeddy3 interesting.

I added `stylelint-processor-html` to `.stylelintrc` and then run:
[code]
and it work as expected, but when I run it trough `vue-loader` on `webpack.conf` keep getting these warnings. I'm assuming is an issue with `vue-loader` ?

[2017-02-06 14:56] IanVS commented on #2322
@davidtheclark it seems your suspicions are confirmed.  Adding the `.flowconfig` and `decls` into my node_modules does not prevent the errors.

This [stackoverflow answer](http://stackoverflow.com/questions/38225538/flow-type-checker-errors-in-node-modules/38264353#38264353) suggests two courses of action:

1) Users can modify their own `.flowconfig` files to point to the library's declarations
2)

[2017-02-06 15:14] sinedied commented on #2124
Sure, anybody can extract the source, but surely *understanding* it is another matter, I bet someone from the `stylelint` team can pull it out in less time that I would need to just get started with it, that was my point.

[2017-02-06 15:26] jeddy3 commented on #2316
I think we could expand on this [question](https://stylelint.io/user-guide/faq/#how-do-i-lint-styles-within-style-tags) to mention vue files, and provide an example of using the `stylelint-html-processor`.

Good stuff.

I think it depends on whether the `vue-loader` team think bundling support for stylelint within the loader is prudent or not. Maybe not, and so I think you're probably best using a

[2017-02-06 16:09] juancabrera commented on #2316
that worked well, thanks for following this up @jeddy3.

I still [opened an issue](https://github.com/vuejs/vue-loader/issues/627) on `vue-loader` as they might want to get that fixed anyway.

[2017-02-06 16:09] #2316 closed

[2017-02-06 16:27] angelikatyborska commented on #456
In case anybody else is still having this problem specifically when using `stylelint-webpack-plugin`, what worked for me is **not** passing `reportNeedlessDisables: true` when instantiating that plugin.

[2017-02-06 23:28] chrislloyd commented on #2322
One option is to use `gen-flow-files` to ship `.flow` files with the package. Or use `flow-copy-files` to copy the source to `.js.flow` files specifically for flow to pick up. I'd recommend against using `flow-typed`.

In the mean time can we please get a build of stylelint with flow comments stripped?

[2017-02-06 23:44] hendrikeng opened #2323 "cant get the time-min-milliseconds rule to work"
cant get the rule
 "time-min-milliseconds": [
      "init",
      {
          "100"
      }
    ],
to work , i tried to pass it with init as option, as a string ..it always says init is not an option

[code]

 `7.7.1`

[2017-02-06 23:51] m-allanson commented on #2323
time-min-milliseconds was released in stylelint version 7.8.0. Can you try upgrading your version of stylelint?

[2017-02-06 23:56] jeddy3 commented on #2323
Also, the rule excepts an `int` as its primary option. So you'll need to configure it as so:

[code]

Out of curiosity, where did you do get the following construct from?

[code]

If it's somewhere in the docs it needs to be fixed.

[2017-02-06 23:59] hendrikeng commented on #2323
my bad, it works now with:
```"time-min-milliseconds": 100```
i tried it before but since i forgot to update to 7.8.0 i came up with the weird construct...its not in the docs..thanks a lot guys

[2017-02-06 23:59] #2323 closed

[2017-02-07 00:18] jeddy3 commented on #2323
No worries. We're glad you got it working :)

[2017-02-07 14:59] jeddy3 commented on #2124
@stylelint/core FYI, @m-allanson and I just brought the `v8` branch up-to-date with `master`. Therefore the issues in the [`8.0` milestone](https://github.com/stylelint/stylelint/milestone/23) are ready to be tackled. Assign yourself and label as `status: wip` if any of them take your fancy :)

[2017-02-07 16:30] ezhlobo opened #2324 "Optionally skip warnings of color-no-hex:true for custom-properties"
New option. I want to ignore rule `color-no-hex` for custom-properties.

`color-no-hex`

[code]

[code]

`7.6.0`

`stylelint 'src/**/*.css' --config .stylelint.yml`

I believe custom properties is a standard syntax now.

I want to configure this rule to skip the warning if I use colors as a value of custom-property.

It consideres warning in console.

I found related issue (https://github.com/styl

[2017-02-07 16:54] silverwind commented on #2051
It's not fixed. The YAML parser is strict by default while the JSON parser is lenient with no option to be strict.

[2017-02-07 17:16] evilebottnawi opened #2325 "--report-needless-disables should exit with non-zero code"
[code]

No matter

No matter

No matter

latest

CLI

No matter

Error code is not equal to 0.

[code]

Error code is equal to 0.

/cc @jeddy3 @davidtheclark

[2017-02-07 21:49] kylezeeuwen commented on #659
I wrote the best grep! You guys are going to love it it's fantastic.

    stylelint **/*.less | grep xpected | awk '{print $(NF-1),"\n",$NF}' | tr -d ' ' | grep -v 'line(s)' | grep -v '"' | grep -v "'" | sort | uniq -c | sort -n

Heres what the output looks like:

       1 at-rule-name-newline-after
       1 comment-empty-line-before
       1 declaration-block-no-duplicate-properties
    ...

[2017-02-07 22:39] m-allanson commented on #2324
Taking reference from [`color-named`](https://github.com/stylelint/stylelint/tree/master/lib/rules/color-named) this could be added as a secondary option, either `ignore: ["custom-properties"]` or `ignoreProperties: ["/regex/", "string"]`.

[2017-02-08 05:24] bedney opened #2326 "Add ignore: ["default-namespace"] and ignoreNamespaces: [] options to selector-type-no-unknown"
The `selector-type-no-unknown` rule doesn't take CSS namespace into account.

`selector-type-no-unknown`

e.g.

[code]

e.g.

[code]

`7.8.0`

CLI with `stylelint **/*.css`

No. CSS namespaces are a W3C-approved syntax.

"No warnings to be flagged."

"The following warnings were flagged:"

[code]

Note that this bug can be fixed by altering `selector-type-no-unknown/index.js` by inserting this at

[2017-02-08 08:47] hudochenkov commented on #2326
Thank you for the report and for using the template.

Rule is working as expected. `todomvc|app` is an `app` type selector in `todomvc` namespace. `app` a is non-standard type, that's why rule shows warning.

Use this config to add `app` as recognised type selector:

[code]

[2017-02-08 10:17] jeddy3 commented on #2326
I agree.

CSS Namespaces are new to me, however. I'd like to know a little more about how they are typically used in projects, as there _might_ be the case for adding an option here (e.g. `ignore: ["namespaced"]` or changing the behaviour of the rule to ignore namespaced type selectors by default.

@bedney Can you please tell us a little more about how you use CSS namespaces? For example, do you o

[2017-02-08 10:24] jeddy3 commented on #2324
@ezhlobo Can you please tell us a bit more about what you're trying to achieve i.e. why you want to do this? For example, are you trying to ensure CSS variables are used for `<color>` values in the likes of `color` and `background-color`, or is it for another reason?

I think adding such an option would involve rewriting the rule to use `postcss-value-parser` and so I think we need to be sure that

[2017-02-08 10:38] jeddy3 commented on #659
@kylezeeuwen That is a rather nice grep.

FYI, a `verbose` [formatter](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/node-api.md#formatter) was added to stylelint in the last year, which tallies up the number of sources checked, the total number of warnings and the number of warnings _per rule_.  The ouput looks like this:

<img width="739" alt="screen shot 2016-05-02 at 22 01

[2017-02-08 11:03] thybzi commented on #2110
Okay, waiting for this. Thank you!

[2017-02-08 11:19] evilebottnawi commented on #2110
@thybzi sorry, very busy last month :sob: i can try resolve himself if you need this immediately :smile:

[2017-02-08 15:42] idearat commented on #2326
I disagree. If you're going to hard-code support for only html and svg then at a minimum the rule should check tagNode.namespace and ignore those which aren't html or svg. If you're using a different xml namespace, say XMPP for example, it's not practical to expect someone to put every individual tag name in the XMPP namespace into an ignoreTypes rule.

[2017-02-08 15:52] idearat commented on #2326
To expand on "how you use CSS namespaces" I use them in accordance with the CSS specification. I use an @namespace to declare them and then use CSS to style XML. XML like Atom, XMPP, XML/EDI, XBRL and other more commonly standards as well as enterprise-specific tag sets.

Styling the original XML directly eliminates the necessity of running a templating engine or templating pipeline simply to tran

[2017-02-08 16:44] stormwarning opened #2327 "Add `time-min-milliseconds` option to "whitelist" values."
`time-min-milliseconds` is a great rule to enforce best-practices, but it would be helpful to have the option to allow specific values that are lower than the set minimum—specifically, zero, although there may be cases where other values might be needed.

My particular use-case is when choreographing multiple elements/props transitions on state changes.

`time-min-milliseconds`

[code]

Perhaps so

[2017-02-08 16:52] hudochenkov commented on #2327
Thank you for the report and for using the template.

With config like this:

[code]

And stylesheet:

[code]

You will receive warning only for `animation-delay`.

You may disable this rule for specific lines, like so:

[code]

[2017-02-08 17:01] bedney commented on #2326
I would agree with @idearat here - there can't be an expectation that I would be able to put an indeterminate set of custom element names in the ignoreTypes rule config.

I use both non-namespaced XHTML and SVG selectors (e.g. `div {...}`) and namespaced ones (e.g. `html|div {...}`) depending on context.

Note the `html` namespace prefix is not hardcoded here (per XML namespace rules). As @idearat

[2017-02-08 17:06] evilebottnawi commented on #2327
@hudochenkov `transition-delay: 0ms;` used for disable delay (run animation immediately), i think best here add option for this.
@stormwarning btw you can use `transition-delay: initial;`

[2017-02-08 18:23] idearat commented on #2326
On a somewhat related note, if the goal of this rule is to verify HTML5 compliance it should include support/checks for the MathML tags which are part of the tag set.

[2017-02-08 19:20] stormwarning commented on #2327
@hudochenkov 🤦‍♂️ You're correct, `time-min-milliseconds` doesn't throw a warning for a 0ms value. Looks like my config still had the deprecated `time-no-imperceptible` rule in it though...

Thanks for the confirmation!

[2017-02-08 19:20] #2327 closed

[2017-02-09 17:05] in-in opened #2329 "Do not kill declaration-block-properties-order"
You guys are awesome! In the spring you're going to kill `declaration-block-properties-order`.
I think this is the core feature of _stylelint_.

And you suggest we will use _stylelint-order_, which does not work with _stylefmt_.

Please, do not kill the `declaration-block-properties-order` before the _stylefmt_ will be able to work with plugins. Or help @morishitter finish his _stylefmt_ before yo

[2017-02-09 17:19] evilebottnawi commented on #2329
btw, i am voiting for include `stylelint-order` in `core`, i still believe that such rules should be part of the core :smile:

[2017-02-09 17:27] bedney opened #2330 "Malformed message in shorthand-property-no-redundant-values"
This rule produces a malformed fix. See below.

`shorthand-property-no-redundant-values`

[code]

[code]

`7.8.0`

"CLI with `stylelint *.css`"

No

Proper CSS corrective declarations to be emitted.

The following corrective CSS was produced. Note the weird `0:2em` corrective suggestion:

[code]

Thanks!

[2017-02-09 17:35] bedney commented on #2330
I'm not an expert on CSS tri-value syntax, but it looks like this might just be a bug where the output is using a colon (':') rather than a space (' ').

[2017-02-09 17:38] bedney commented on #2330
Further information: it only looks like this is happening when the value that's being 'repeated' and is 'unnecessary' is the value `0`.

[2017-02-09 17:46] jeddy3 commented on #2329
`stylelint-order` has already grown to include features that would excluded it from being included in core e.g. support for `dollar-variables` in [declaration-block-order](https://github.com/hudochenkov/stylelint-order/tree/master/rules/declaration-block-order#primary-option) and rules than compose other rules in [declaration-block-property-groups-structure](https://github.com/hudochenkov/stylelin

[2017-02-09 17:50] evilebottnawi commented on #2330
@bedney Thanks for feedback. Fell free to send a PR :smile:

[2017-02-09 17:50] hudochenkov commented on #2329
Just for your information: we [have plans](https://github.com/stylelint/stylelint/issues/2259) to add fixing functionality to stylelint. In the meantime, you can use `postcss-sorting` for “fixing” order of properties.

[2017-02-09 18:28] in-in commented on #2329
Yes, it's just plans nothing more for today

But now the autofix works. Guys autofix right now working.
But after a couple of months, you're going to kill autofix without any alternatives. What for?

[2017-02-09 19:20] hudochenkov commented on #2329
Evolution. We have nothing to do with stylefmt. It's like blaming Microsoft if one of programs for Windows made by non-Microsoft stopped working in the new Windows. You could help community and add support for plugins to stylefmt.

[2017-02-09 20:01] bedney commented on #2330
So I forked and was going to do a PR, but in looking at the rule source, this looks like the bug is possibly in the values parser (`postcss-value-parser`) that you all use. Therefore it is not really a 'beginner-friendly' bug to fix. This will entail either forking `postcss-value-parser`, fixing it there and using the fork or special casing it here. Either way, it wasn't something I felt I could d

[2017-02-09 20:20] hudochenkov commented on #2330
Looks like there an issue with a formatter or something, because warning is correct in our [demo](https://stylelint.io/demo/).

@bedney thank you for starting looking for solution!

[2017-02-09 20:29] in-in commented on #2329
Who we are? We are the maintainers
What we do? We don't care about users

@hudochenkov nice answer I like it

[2017-02-09 20:29] #2329 closed

[2017-02-09 20:42] evilebottnawi commented on #2329
@stylelint/core btw, I said that users will respond negatively about removed `declaration-block-properties-order` rule from core, I think it is not the last. We can talk a long time about plugins and how to make good use of them, theoretically we can do to remove all rules from the core in the plugins (it would be ideal :laughing: ). But do not forget about the user experience. All my friends used

[2017-02-09 20:49] davidtheclark commented on #2329
@evilebottnawi: We are not idealizing the codebase, we are not ignoring users, and nothing that is said above seems like a good reason to change our minds.

@jeddy3 is absolutely right that users need to get used to using plugins. It's not a real burden to them — though, yes, it's easy to complain about if you are looking for things to complain about — and it makes for a better system, which is be

[2017-02-09 21:09] in-in commented on #2329
@davidtheclark you mention me in your comment so please show me where are I said “I don't want to do it so you do it!”
Can you feel difference between “don't want” and “can't do”?
I do CSS and HTML if you have issues with these technologies glad to help you.
Btw, if I remember correctly I have already fixed your open source documentation because I can do it.

[2017-02-09 21:18] Sinistralis opened #2332 "False positive for SVG reference interaction in color-hex-case"
I am describing a bug involving interactions between the color-hex-case rule and stroke/fill syntax where you can use the '#' identifier in a url declaration to reference an SVG.

color-hex-case

[code]

[code]

7.8.0

CLI: stylelint src/scss/**/*.scss --syntax scss --config stylelint.config.js

I am using SCSS but this should be reproducable on CSS as well.

No warning/error since the above is no

[2017-02-09 21:40] davidtheclark commented on #2332
@Sinistralis I think this problem could be avoided if the rule always ignores the content of `url` functions. So if you or anybody else picks this up, that's probably the thing to try first.

[2017-02-10 00:00] Sinistralis commented on #2332
Agree, that was the route I was going to go if I got to it first.

[2017-02-10 04:16] kaelig opened #2334 "False positives for resolved and interpolated selectors in selector-class-pattern"
**PR with failing test: #2335 (help wanted)**

Note: could be related to https://github.com/stylelint/stylelint/issues/988

A bug where resolved nested selector class name doesn't validate correctly.

`selector-class-pattern`

[code]

[code]

`7.8.0`

`stylelint index.scss --syntax scss`

Yes, related to SCSS

No warnings to be flagged.

The following warnings were flagged:

[code]

[2017-02-10 09:18] SDSLeon opened #2336 "False positive for selector-type-no-unknown"
For code like this rule selector-type-no-unknown show error:

selector-type-no-unknown

[code]

stylelint-config-standard

e.g. `^7.8.0`

webpack plugin

e.g. "Yes, it's related to postCSS with nested"

No warnings to be flagged.

The following error were flagged: Unexpected unknown type selector "checked"

[2017-02-10 12:40] evilebottnawi commented on #2336
@SDSLeon Thanks for feedback, accepted.

[2017-02-10 12:53] hudochenkov commented on #2336
Thank you for a report. Are you sure you wrote your CSS correctly? I believe correct way is with a colon before `checked` if you want to target non-checked inputs:

[code]

http://codepen.io/hudochenkov/pen/PWxbJd

[2017-02-10 13:00] evilebottnawi commented on #2336
@hudochenkov oh yep, it slipped from my mind :smile: , but be good added more test.

[2017-02-10 13:01] evilebottnawi commented on #2336
Rule works as expected. I am add more tests.

[2017-02-10 13:01] #2336 closed

[2017-02-10 13:19] evilebottnawi commented on #2330
@bedney not reproduced, can you create test repo? https://github.com/stylelint/stylelint/pull/2339

[2017-02-10 13:19] jeddy3 commented on #2334
@kaelig Thanks for the report, using the template and for the test.

This appears to be instance we've not accounted for. Fixing it should just be the simple case of returning early if the _resolved selector_ is not standard, like [we already do](https://github.com/stylelint/stylelint/blob/master/lib/rules/selector-class-pattern/index.js#L48-L50) with the _unresolved one_.

Labeling as `help wante

[2017-02-10 13:20] evilebottnawi commented on #2266
/cc @jeddy3 friendly ping

[2017-02-10 13:25] evilebottnawi commented on #2155
/cc @jeddy3 @davidtheclark what our decision on this issue?

[2017-02-10 13:26] jeddy3 commented on #2266
Is why I labelled as `wip`. Reverting to `help wanted`. Feel free to jump on it @evilebottnawi  :)

[2017-02-10 14:26] evilebottnawi commented on #2266
/cc @Arcanemagus why it should be `270`? Maybe `269`?
[code]
Length - 269. http://www.lettercount.com/

[2017-02-10 14:33] davidtheclark commented on #2155
I think that there should be an independent tool that validates selectors. Or maybe this could be an addition to `postcss-selector-parser`. Then we could have a single `selector-no-invalid` rule.

Looks like csstree has selector validation [on the roadmap](https://github.com/csstree/csstree/issues/34). Somebody could write a standalone package for this, too.

[2017-02-10 14:35] jeddy3 commented on #2155
Yep, it looks like there are some exciting things happening over at csstree when it comes to spec validation!

[2017-02-10 14:37] evilebottnawi commented on #2155
@davidtheclark @jeddy3 agree, closing. If in the future we decide to validate rules in the core, then this is a separate issue :+1:

[2017-02-10 14:37] #2155 closed

[2017-02-10 14:38] davidtheclark commented on #2266
No doubt this is about the way postcss-scss handles `//` comments.

[2017-02-10 14:40] evilebottnawi commented on #2266
@davidtheclark I am working on a problem I can assume it is because of `root.toString()` and it is return handled string `/* ... */`, we should check all rules where we have `root.toString()` and use `root.source.input.css`.

[2017-02-10 14:47] evilebottnawi commented on #2266
@Arcanemagus it should be `269`. not `270`, because:
[code]
SASS:
[code]

[2017-02-10 14:52] evilebottnawi commented on #2332
Done in https://github.com/stylelint/stylelint/pull/2338

[2017-02-10 14:52] #2332 closed

[2017-02-10 15:02] evilebottnawi commented on #2274
Who interested to support `less` we need you help, https://github.com/webschik/postcss-less marked as UNMAINTAINED, need maintainers :sos:

[2017-02-10 15:15] evilebottnawi commented on #2266
Done in https://github.com/stylelint/stylelint/pull/2340

[2017-02-10 15:15] #2266 closed

[2017-02-10 15:43] evilebottnawi commented on #2303
@jeddy3 what is best error message? `Unexpected selector ".foo" (first instance at line 1)` ?

[2017-02-10 15:53] jeddy3 commented on #2303
Dunno. Not brackets as those are reserved for rule names. Perhaps?:

`Unexpected selector ".foo" is also at line 1 (no-duplicate-selectors)`

[2017-02-10 15:56] evilebottnawi commented on #2303
@jeddy3 sgtm

[2017-02-11 03:04] b8kkyn opened #2343 "Incorrect line in max-empty-lines"
Bugs, opinions and one idea.

`max-empty-lines`

[code]

[code]

`7.8.0`

Doesn't matter.

No.

I expected this:
[code]

The following warnings were flagged:

[code]

Well, do you guys consider about adding optional secondary option `ignore: ['comment']` to the rule?
This would be a good improving I think. Comments should be ignored with secondary option for `max-empty-line`.

Yes, I have. In fact

[2017-02-11 10:16] evilebottnawi commented on #2343
@Leucetios i think it is not bug.
[code]
For this be good add option `maxEOF` and `maxBOF` (maybe best names) for controlling empty lines in start and end of file.
Also i agree about `ignore: ['comment']` option.
Other error very strange, i have another lines:
[code]

[2017-02-11 10:28] evilebottnawi commented on #2343
Also i think rule should report about 4 line.

[2017-02-11 12:45] evilebottnawi opened #2346 "Add at-rule-semicolon-space-before rule"
New rule `at-rule-semicolon-space-before`.

`at-rule-semicolon-space-before`

[code]

No matter

No matter

No matter

No matter

No matter

No matter

[2017-02-11 14:03] jeddy3 commented on #2346
SGTM.

As an aside, I was somewhat surprised to see this as I thought we'd pretty much covered all constructs and their punctations. There definitely can't be many left.

- Name: `at-rule-semicolon-space-before`
- Description: "Require a single space or disallow whitespace before the semicolons of at-rules."
- Primary options: `"always"|"never"|"always-single-line"|"never-single-line"`
- Secondary

[2017-02-11 14:50] davidtheclark commented on #2343
Sure, `ignore: ['comment']` seems fine to me.

And it looks like there is a bug with the line counts within comments.

Let's split the above two items into separate issues.

Why not just enforce at the beginning and end of the file? I don't see a need for these additional options. Maybe the problem is that this rule uses `root.toString()` — I wonder if that trims the string.

[2017-02-11 15:33] evilebottnawi commented on #2343
@davidtheclark i am testing with `root.source.input.css`, error have not correct position, but we should change `root.toString()` to `root.source.input.css` because this may cause further errors

[2017-02-11 15:34] evilebottnawi commented on #2334
Done in https://github.com/stylelint/stylelint/pull/2344

[2017-02-11 15:34] #2334 closed

[2017-02-11 17:13] jeddy3 commented on #2259
I try to be pragmatic sometimes too  :)

I agree that your approach is the more practical one.

I think we're also in agreement that the complexity cost of non-standard constructs/syntax [is too high](http://davidtheclark.com/lessons-i-may-have-learned/), and that only using standard constructs is where the future of CSS authoring and tooling lies.

I think there's an opportunity to clarify stylel

[2017-02-11 19:14] abdonrd opened #2348 "Add ignore: ["custom-elements"] option to selector-type-no-unknown"
I want to propose add support to [Custom Elements](https://www.w3.org/TR/custom-elements/).

I add the [specification reference to valid Custom Elements name](https://www.w3.org/TR/custom-elements/#valid-custom-element-name).

`selector-type-no-unknown`

[code]

e.g.

[code]

`7.8.0`

CLI and VSCode plugin.

No.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2017-02-11 20:08] hudochenkov commented on #2348
I don't think this is a good idea. There will be nothing to check by this rule if it allows every custom element. You can just disable rule and receive same result.

[2017-02-11 20:23] davidtheclark commented on #2348
@abdonrd I think this is a perfect use-case for a [plugin](https://stylelint.io/developer-guide/plugins/). If the spec gains traction, browsers start implementing and people start relying on custom elements — at that time we would reconsider inclusion of the rule in stylelint core.

[2017-02-11 20:43] trainiac opened #2349 "Make @import rules require a semicolon"
I think this is a bug.  I think there should be a CssSyntaxError if omitting a semi-colon after an at-import statement.

I'm not sure if there is a rule for this.

[code]

[code]

[code]

7.7.0

CLI

No

I would expect a CssSyntaxError or some sort of warning that I don't have semicolons

I get warnings that I'm missing indentation.

[code]

[2017-02-11 20:45] hudochenkov commented on #2349
Please edit your issue using issue template.

[2017-02-11 20:47] davidtheclark commented on #2259
@jeddy3: On changing the `syntax` option to a `customSyntax` option.

Upside:

- Users can update their custom syntax on their own, without stylelint doing that. (However, we have had absolutely no trouble with this, as the custom syntaxes have not been updating often at all, while we update frequently.)

(I don't really think the psychological effect you suggest, that this will "clarify stylelint

[2017-02-11 22:03] davidtheclark commented on #2296
@ramasilveyra Have a look at https://github.com/stylelint/stylelint/blob/master/lib/lintSource.js#L101. Looks like I already added a comment there that will give you a nice start!

[2017-02-12 00:01] trainiac commented on #2349
@hudochenkov updated! Thanks

[2017-02-12 04:08] andrey-hohlov opened #2352 "Conflict with Modernizr"
When installed Modernizr and gulp-stylelint lint task throw error.

[code]
1. Run `npm i` for install dependencies
2. Run `gulp lint-css`

No errors if install gulp-stylelint first, then install Modernizr:

1. Run `npm i gulp gulp-stylelint modernizr` instead of `npm i`
2. Run `gulp lint-css`

Issue in gulp-stylelint: https://github.com/olegskl/gulp-stylelint/issues/71

irrelevant

irrelevant

irr

[2017-02-12 06:34] hudochenkov commented on #2349
Thank you for reporting and updating your issue!

I'm afraid it's out-of-scope for stylelint core to validate CSS syntax. Take a look at [`stylelint-validator`](https://github.com/csstree/stylelint-validator) plugin, which checks CSS syntax with [`csstree`](https://github.com/csstree/csstree).

There is no `CssSyntaxError`, because PostCSS can parse this invalid CSS:

[code]

[2017-02-12 07:36] hudochenkov commented on #2352
Thank you for reporting and using issue template!

The problem is we have specified lodash as `"lodash": "^4.0.0"`, but clearly we need at least `lodash@4.0.1` or `lodash@4.5.1`. Lodash team [made changes](https://github.com/lodash/lodash/wiki/Changelog#v401) to `_.omitBy` in these versions.

Modernizr has strict dependency declaration `"lodash": "4.0.0"`. As the result, with `npm i` Modernizer ge

[2017-02-12 14:30] davidtheclark commented on #2352
Closed by #2353.

[2017-02-12 14:30] #2352 closed

[2017-02-12 14:50] #2349 closed

[2017-02-12 17:34] jeddy3 commented on #2259
Good points.

Ok, agreed.

[2017-02-12 17:45] jeddy3 opened #2356 "Add ignore: ["comments"] option to max-empty-lines"
Ref: https://github.com/stylelint/stylelint/issues/2343

[2017-02-12 17:51] jeddy3 commented on #2343
You'll find plenty of useful info in this [github guide to contributing](https://guides.github.com/activities/contributing-to-open-source/).

After you've read that have a look at [stylelint's developer guide](https://stylelint.io/developer-guide/rules/).

Good luck!

[2017-02-12 18:28] jeddy3 commented on #2198
@hudochenkov Thanks for doing the investigation.

I agree with your assessment. Does that means this issue can be closed?

[2017-02-12 18:32] jeddy3 commented on #2086
Done in https://github.com/stylelint/stylelint/issues/2314

[2017-02-12 18:32] #2086 closed

[2017-02-12 19:19] Leucetios commented on #2343
There is a misunderstanding. I used comment lines in example code in order to show the situation better. But this bug is not only related with comments. Lets say we have code like that:

[code]

Stylelint says:

[code]

[2017-02-12 19:35] jeddy3 commented on #2343
@Leucetios Thanks for the clarification.

[2017-02-12 19:48] hudochenkov commented on #2198
Yeah, after I'll add tests, so we won't forget about correct behaviour :)

[2017-02-12 21:25] JoshuaKGoldberg opened #2357 "Tests complain about \ vs / discrepencies in file paths on Windows"
Related to #264. On a Windows 10 cmd window with a fresh-from-GitHub install of stylelint, tests are assuming *nix-style file paths.

![image](https://cloud.githubusercontent.com/assets/3335181/22866190/b9771ed8-f126-11e6-8913-7300f48f186c.png)

[2017-02-12 22:19] trainiac commented on #2349
Thanks @hudochenkov that makes sense. However, the fact that stylelint says that I'm missing indentation is a concern of stylelint though right?

[2017-02-12 23:00] hudochenkov commented on #2349
Yes, this is right. Does it show warning when CSS syntax is fixed?

[2017-02-13 01:07] davidtheclark commented on #2259
I think we're all on the same page, and sounds like @jeddy3 is interested in working out a `VISION.md` document to articulate our aims (great idea!). So I'll close this discussion and if we want to elaborate on certain details we can open new ones.

[2017-02-13 01:07] #2259 closed

[2017-02-13 02:51] trainiac commented on #2349
When I have semicolons after each line I do not get the message. Only when omitting the semicolons, do I get the indentation message.

[2017-02-14 10:39] xi opened #2359 "False positive for placeholder selector in selector list in selector-type-case"
I found a bug with `selector-type-case` and SCSS placeholder selectors that only seems to occur when they are used in a selector group.

`selector-type-case`

`.foo, %foo {}`

[code]

7.8.0

`stylelint --syntax scss ...`

Yes, it is related to [SCSS placeholder selectors](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#placeholder_selectors_)

No warnings to be flagged.

[code]

[2017-02-14 10:42] evilebottnawi commented on #2359
@xi Thanks for feedback and PR

[2017-02-14 12:31] abdonrd commented on #2348
@hudochenkov if I disable the rule, we lose the unknown check for non custom elements. Also, maybe we can check the valid Custom Elements name.

[2017-02-14 12:31] abdonrd commented on #2348
@davidtheclark I think the spec already has traction. It is landed in Chrome, Opera, Safari. And active developing in Firefox.

<img width="1038" alt="screen shot 2017-02-14 at 13 27 24" src="https://cloud.githubusercontent.com/assets/1007051/22928957/5fe68f36-f2b9-11e6-8309-3caa0a9f59f2.png">

[2017-02-14 12:40] hudochenkov commented on #2348
There is no way to distinguish a custom element from typo in a standard element. E. g. `diva`, it's could be a `div` with typo, or it could be a custom element `diva`. If this rule will support custom elements, it will never catch typos in standard elements.

I agree with David.

[2017-02-14 12:43] jeddy3 commented on #2348
@abdonrd Can you expand on this bit please? Do you mean checking for at least one hyphen or is there more to it?

Can you use the [`ignoreTypes` regex option](https://stylelint.io/user-guide/rules/selector-type-no-unknown/#optional-secondary-options) here?

[2017-02-14 12:45] abdonrd commented on #2348
@hudochenkov `diva` can't be a Custom Element. A CE needs to:

- Contain a hyphen.
- Starts with lowercase ASCII letter.
- Not contain any uppercase ASCII letters.

[2017-02-14 12:45] evilebottnawi commented on #2348
@abdonrd best practice for custom element use prefix `x-*` (or you own prefix), use ` ignoreTypes` regex as say @jeddy3 .

[2017-02-14 12:45] abdonrd commented on #2348
@jeddy3 sure! Check https://github.com/stylelint/stylelint/issues/2348#issuecomment-279697932

And yes! Now I'm using `ignoreTypes`.

[2017-02-14 12:46] abdonrd commented on #2348
Wow! Thanks *Stylelint Team* for the quick responses! ⚡️ 👏

[2017-02-14 12:50] evilebottnawi commented on #2348
@abdonrd btw,
1. Some svg tags can contain hyphen https://developer.mozilla.org/en-US/docs/Web/SVG/Element
2. and 3. you can write `<INPUT NAME="TEST">` and it is valid html
Also custom elements can be non `ASCII letters`
[code]

[2017-02-14 13:30] web-padawan commented on #2348
After upcoming Safari 10.1 release, there will be two independent CE v1 implementations and I hope you guys will re-consider implementing this. Having Shadow DOM v1 selectors already implemented, this should be enough for linting projects using Web Components.

[2017-02-14 13:31] evilebottnawi commented on #2348
@web-padawan

[2017-02-14 13:35] web-padawan commented on #2348
@evilebottnawi using a prefix is not a best practice, but a requirement. Actually I use the following config:
[code]
This should work unless domeone wants to use emoji in CE names 😄

[2017-02-14 13:44] evilebottnawi commented on #2348
@web-padawan some svg selectors use `-` and i get error on this selectors with you regex

[2017-02-14 13:52] evilebottnawi commented on #2348
@web-padawan @stylelint/core
Theoretically we can try this solution (`isCustomElement.js`):
1. Starting with lowercase ASCII letter.
2. Do not contain any uppercase ASCII letters
2. Always contain `-`.
3. It is not `SVG` and `MathML` and `HTML` tags.
Base:
[code]
I can help with this, if all @stylelint/core accept this issue

[2017-02-14 15:33] davidtheclark commented on #2348
Thanks @abdonrd and @web-padawan for pointing out that this spec is further along than I had suspected.

@evilebottnawi I think your plan for the utility sounds good. We can then use it to always ignore custom elements in this rule. Okay?

[2017-02-14 15:40] evilebottnawi commented on #2348
@davidtheclark yep, ignore custom elements. if someone wants to check custom selectors on unknown (or known) plugin welcome :smile:

[2017-02-14 15:44] jeddy3 commented on #2348
Yes, let's make this the default behaviour of the rule.

[2017-02-14 15:49] jeddy3 opened #2362 "Release 7.9.0"
- [x] stylelint release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

Ref: https://github.com/stylelint/stylelint/pull/2360#issuecomment-279741080

@davidtheclark I can put this out now if you like?

[2017-02-14 15:57] jeddy3 commented on #2359
Done in https://github.com/stylelint/stylelint/issues/2360

@xi Thank you!

[2017-02-14 15:57] #2359 closed

[2017-02-14 16:06] evilebottnawi commented on #2348
btw, @jeddy3 @davidtheclark maybe refactored labels `syntax: cssnext` (add new), `syntax: scss`, `syntax: less`, syntax: sugarss` and etc.

[2017-02-14 19:21] abdonrd commented on #2348
Thanks Stylelint Team! Glad to be able to help. :)

BTW, if we use unicode, this regex covers all the [`PotentialCustomElementName`](https://www.w3.org/TR/custom-elements/#prod-potentialcustomelementname):

`^[a-z](-|\.|[0-9]|_|[a-z]|\u{B7}|[\u{C0}-\u{D6}]|[\u{D8}-\u{F6}]|[\u{F8}-\u{37D}]|[\u{37F}-\u{1FFF}]|[\u{200C}-\u{200D}]|[\u{203F}-\u{2040}]|[\u{2070}-\u{218F}]|[\u{2C00}-\u{2FEF}]|[\u{3001}-\

[2017-02-15 11:11] Slamdunk commented on #2123
Hi, a rule like `no-browser-hacks` has been deprecated indicating that a plugin better fits its purpose, but I can't see any migration guide. Are there any plan to create one?

[2017-02-15 11:30] evilebottnawi commented on #2123
@Slamdunk you can be champion of this plugin :+1:

[2017-02-15 13:12] AlecRust commented on #613
Also wondering how to run this as a plugin of `postcss-import` using `postcss-cli`.

[2017-02-15 14:19] jeddy3 commented on #613
We recommend using stylelint as a [standalone lint tool](https://stylelint.io/user-guide/cli/). Use `stylelint` to lint your CSS and use `postcss-cli` transform your CSS.

[2017-02-15 14:25] jeddy3 commented on #2123
@Slamdunk There's [a guide to writing plugins](https://stylelint.io/developer-guide/plugins/) within the developer guide. As per the [CHANGELOG](https://stylelint.io/CHANGELOG/#780), "we encourage users to create and help maintain plugins for these rules".

As @evilebottnawi suggests, would you like to champion this plugin i.e. migrate the [existing rule code into a plugin](https://github.com/styl

[2017-02-15 15:34] Slamdunk commented on #2123
I'll try. Taking into account that I've never developed in Stylelint / PostCSS / NodeJS / JavaScript, it may take a while, but I'll try.

[2017-02-15 15:39] davidtheclark commented on #2123
I sent out a tweet today prompting people to pipe up if they're interested in championing some plugins. Hopefully some people step up.

@Slamdunk if you are interested in learning about Node and Styleling, and maintaining a relatively straightforward OSS project, I think this would be a fantastic and approachable learning experience. If you want to tackle it, I'm happy to help. Please feel free to

[2017-02-16 05:22] kartikm opened #2363 "`no-unknown-animations` error when animation is defined in an imported file(s)"
When animation is defined in less file(s) which is/are imported, stylelint still issues error: Unexpected unknown animation name (ie no-unknown-animations)

e.g.

[code]

This is defined in less file (eg: ext.cx.tools.card.less)  which is imported as a part of dependencies.

[code]

e.g.

[code]

`7.8.0`

grunt stylelint

No.

No warning.

[code]

All code is available at: https://phabricator.wiki

[2017-02-16 05:37] hudochenkov commented on #2363
Thank you for reporting!

Stylelint doesn't compile preprocessors code. It doesn't import one stylesheet into another. So it doesn't know animation is declared in other file, because it only checks current file and looking for animations in that file.

I believe it's possible to create a [plugin](https://stylelint.io/developer-guide/plugins/), which will do imports by [`postcss-import`](https://gi

[2017-02-16 11:48] evilebottnawi commented on #2330
/cc @bedney

[2017-02-16 13:44] Slamdunk commented on #2123
Something like https://github.com/stylelint/stylelint/pull/2365 could be ok?

[2017-02-16 14:17] evilebottnawi commented on #2348
@abdonrd this regex good for rule `validate-custom-element`, but now in `stylelint` we don't have `validate` rules

[2017-02-16 14:28] davidtheclark commented on #2348
@evilebottnawi But if we only want to ignore *valid* custom elements — and consider anything else an invalid type selector — this is what we need, right?

[2017-02-16 14:33] evilebottnawi commented on #2348
@davidtheclark i can do PR, this we can discussion there https://github.com/stylelint/stylelint/pull/2366

[2017-02-16 14:41] #2363 closed

[2017-02-16 21:16] jeddy3 commented on #2363
@kartikm The [documentation states](https://github.com/stylelint/stylelint/tree/master/lib/rules/no-unknown-animations#no-unknown-animations):

So this rule is behaving as documented.

As @hudochenkov suggested, feel free to experiment with building on this rule within a plugin. This kind of experimentation is one of the reasons the plugin system was developed. Good luck!

[2017-02-16 22:25] #2136 closed

[2017-02-16 23:14] #2219 closed

[2017-02-17 04:04] bedney commented on #2330
Guys - thanks for continuing to work this. I'll try to reduce down a test case that shows what I was seeing and why I was seeing it.

[2017-02-17 05:41] kartikm commented on #2363
Thanks @hudochenkov and @jeddy3

[2017-02-17 17:11] CAYdenberg commented on #2346
@jeddy3 Are the single-line options necessary here? According to [CSS Tricks](https://css-tricks.com/the-at-rules-of-css/), all @rules that are basically either key-value pairs, or open up their own blocks, in which case the block would not have a ; following it? SCSS seems to follow this convention (see @mixin). I guess I'm having trouble thinking of a multi-line example.

[2017-02-17 18:00] jeddy3 commented on #2346
The use case I was thinking of was an `@import` [followed by a `<media-query-list>`](https://developer.mozilla.org/en-US/docs/Web/CSS/@import) e.g.

[code]

We could always just start with the `"always"|"never"` options and add the `"always-single-line"|"never-single-line"` ones if there's ever a request for it.

[2017-02-18 02:45] davidtheclark commented on #2322
I think there are two pretty good options here:

- Add line to `[ignore]` that ignores stylelint: `.*node_modules.*/stylelint.*`.
- Add a line to `[libs]` that pulls in stylelint's declarations: `./node_modules/stylelint/decls`.

If you don't care about stylelint's Flow definitions, try the first. If you are using stylelint's API and do want those definitions, try the second.

[2017-02-18 07:15] hudochenkov commented on #2198
Closed because it works as expected. Explanation in a [comment](https://github.com/stylelint/stylelint/issues/2198#issuecomment-274276106) above.

[2017-02-18 07:15] #2198 closed

[2017-02-18 07:21] hudochenkov commented on #2199
This issue is similar to https://github.com/stylelint/stylelint/issues/2198. The rule works as expected. Explanation why in https://github.com/stylelint/stylelint/issues/2198#issuecomment-274276106.

TL;DR: A rule with a parent selector `&` has the same selector as its ancestor. That is why the rule shows a warning.

[code]

[2017-02-18 07:21] #2199 closed

[2017-02-18 16:03] davidtheclark commented on #1780
Closed by #2354.

[2017-02-18 16:03] #1780 closed

[2017-02-18 16:07] davidtheclark commented on #2362
@jeddy3 I missed that comment asking me about the release. Go for it!

[2017-02-19 10:27] jeddy3 commented on #2362
🎉 🎉 🎉

@xi and @CAYdenberg thanks for [contributing](https://stylelint.io/CHANGELOG/#790) to this release!

[2017-02-19 10:27] #2362 closed

[2017-02-19 18:31] davidtheclark commented on #2296
Closed by #2351.

[2017-02-19 18:32] #2296 closed

[2017-02-19 21:31] matteocng commented on #2322
Copying the `./decls` folder manually (it is not published to npm) to ./node_modules/stylelint/decls and pulling the declarations like @davidtheclark proposed, produces 0 errors on Flow v0.39, even tough I also had to add this line to `[options]` `module.ignore_non_literal_requires=true`. Unfortunately I don't know if there's a way to set that option for `stylelint` only and not for the whole proj

[2017-02-19 22:36] davidtheclark commented on #2322
Ugh. Ignoring it seems to be the way to go.

[2017-02-19 23:03] matteocng commented on #2322
Forgot to add that if _decls_ was published to _npm_, allowing the use of `[include]` to pull stylelint's definitions, having to add `[options] module.ignore_non_literal_requires=true` would not mean having to allow non literal requires. They could be easily disallowed with eslint by using [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) with the [ no-dynamic-require](http

[2017-02-20 09:49] evilebottnawi opened #2369 "Run --report-* flags before linting, rather than instead of it"
Be good can use linting and report needless disables. It is allow reduce unnecessary stylelint disable rules and check on linting error in one command. If you use two scripts (command), then we run twice globby and this increases the load on the file system :disappointed:

No matter

No matter

e.g.

No matter

`7.9.0`

CLI

No matter

Warning and messages about unnecessary stylelint disable comme

[2017-02-22 00:55] Arcanemagus opened #2374 "Incorrect column in no-missing-end-of-source-newline"
A bug where `no-missing-end-of-source-newline` returns the wrong column.

`no-missing-end-of-source-newline`

[code]

Note that the orphaned `top:` is required to trigger this bug, if it is removed the position returned is correct.

[code]

`7.9.0`

* CLI with `stylelint --syntax scss main.scss`
* Node.js API through the `linter-stylelint` Atom package

Yes, it's related to SCSS maps.

The correct

[2017-02-22 03:28] jcastrov commented on #2241
If you need a quick configuration file with all rules enabled, I created a [gist](https://gist.github.com/jcastrov/6e519be0b085b295f96ba359833787c3). Keep in mind that some no-boolean values are of my own preference (i.e. `function-max-empty-lines`, `indentation`...)

[2017-02-22 20:11] greenkeeper[bot] opened #2376 "An in-range update of stylehacks is breaking the build 🚨"
## Version **2.3.2** of [stylehacks](https://github.com/ben-eb/stylehacks) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/stylelint/stylelint/compare/greenkeeper%2Fstylehacks-2.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      stylehacks
    </td>
  </tr>
  <tr>
    <th align=left

[2017-02-22 21:11] m-allanson commented on #2376
This looks like it just needs an updated snapshot, I'll make a PR.

[2017-02-22 21:25] hudochenkov commented on #2124
@m-allanson Would you remove deprecated rules? Or shall I do this?

Unrelated question: is it ok to merge `master` into `v8` without a PR?

[2017-02-22 22:23] greenkeeper[bot] opened #2378 "An in-range update of eslint is breaking the build 🚨"
## Version **3.16.1** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/stylelint/stylelint/compare/greenkeeper%2Feslint-3.16.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Curren

[2017-02-22 22:54] greenkeeper[bot] opened #2379 "An in-range update of npm-run-all is breaking the build 🚨"
## Version **4.0.2** of [npm-run-all](https://github.com/mysticatea/npm-run-all) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/stylelint/stylelint/compare/greenkeeper%2Fnpm-run-all-4.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      npm-run-all
    </td>
  </tr>
  <tr>
    <th al

[2017-02-22 23:09] eddiemoore opened #2380 "New rule for shorthand blacklist"
A new rule to have exceptions to the shorthand properties. For example `background` prefer to just use `background-color:` etc. As described by @csswizardry in [this article](https://csswizardry.com/2016/12/css-shorthand-syntax-considered-an-anti-pattern/)
So a rule to only allow `background` when using multiple properties
[code]

None at the moment

[code]

None at the moment, but maybe something

[2017-02-22 23:45] #2376 closed

[2017-02-22 23:46] m-allanson commented on #2378
Fixed in #2377

[2017-02-22 23:46] #2378 closed

[2017-02-22 23:46] m-allanson commented on #2379
Fixed in #2377

[2017-02-22 23:46] #2379 closed

[2017-02-22 23:47] m-allanson commented on #2124
@hudochenkov I will do this soon :)

Yes I think it's ok to merge `master` into `v8` without a PR.

[2017-02-23 10:03] jeddy3 commented on #2380
@eddiemoore Thanks for the suggestion and for using the issue template.

I think this is a good candidate for a plugin. You can [build one](https://stylelint.io/developer-guide/plugins/) and experiment with the practicalities of such a rule. There are edge cases to consider here. For example, when do you trigger a warning? If a shorthand property is missing a _single_ value, and or a configurable

[2017-02-23 10:03] #2380 closed

[2017-02-23 10:16] alan-agius4 opened #2381 "max-nesting-depth not firing warning when nesting is exceeded"
"A bug max-nesting-depth is not firing warning when nesting depth is exceeded."

 `max-nesting-depth`

[code]

[code]

`7.9.0`

"Gulp"

"Nesting"

"warnings to be flagged."

e.g. "The following warnings were flagged:"

[code]

[2017-02-23 10:49] hudochenkov commented on #2381
According to the rule description it shouldn't trigger a warning:

[code]

[2017-02-23 10:52] alan-agius4 commented on #2381
thanks

[2017-02-23 10:52] #2381 closed

[2017-02-23 13:34] eddiemoore commented on #2380
@jeddy3 OK. Will have a think about it and see what I can come up with.

[2017-02-23 14:19] evilebottnawi commented on #2374
@Arcanemagus strange on last `postcss-scss` i got error:
[code]
/cc @ai regression or expected?

[2017-02-23 14:20] ai commented on #2374
@evilebottnawi i fixed this issue in `postcss-scss`. Be sure to update for latest version.
https://github.com/postcss/postcss-scss/blob/master/CHANGELOG.md#041

[2017-02-23 14:49] evilebottnawi commented on #2374
@Arcanemagus column should be `1` (`}`), not `2` (on column `2` no characters)

[2017-02-23 15:29] evilebottnawi commented on #2374
@ai seems bug in `postcss`, we use `https://github.com/postcss/postcss/blob/master/lib/warning.es6#L41` for line and column.
For code:
[code]
`opts`:
[code]
But pos return:
[code]
I try `console.log(opts.node.source.input.css[opts.index]);` before `var pos = opts.node.positionBy(opts);` and get `}` character (it is right).

[2017-02-23 15:32] ai commented on #2374
@evilebottnawi could you please create a issue in `postcss/postcss`?

[2017-02-23 15:34] evilebottnawi commented on #2374
@ai I will try to further understand why the column is not returned correctly, them create issue, now it turns out smeared :sob:

[2017-02-23 17:13] Arcanemagus commented on #2374
@evilebottnawi Ha! Trying to replicate that error is how I found this bug, but I was never able to myself.

[2017-02-23 19:37] CAYdenberg commented on #2346
For anyone interested, I started work on this here: https://github.com/CAYdenberg/stylelint/tree/issue_2346

[2017-02-23 19:47] evilebottnawi commented on #2346
@CAYdenberg can you do PR?

[2017-02-23 20:56] CAYdenberg commented on #2346
Sure ... I wasn't sure if I could tag it. It's a WIP.

[2017-02-23 21:02] evilebottnawi commented on #2346
@CAYdenberg that's okay, we will help to complete it

[2017-02-23 21:24] jonnybarnes opened #2389 "Error: Undefined rule rule-empty-line-before"
Attempting to run stylelint in the cli gives an error about an undefined rule.

`rule-empty-line-before`

All my scss files give the same error.

I have `stylelint` installed globally, and `stylelint-config-standard` installed locally in the project.

My project’s `.stylelintrc` is as follows:

[code]

`7.7.1`

CLI with `stylelint --syntax=scss path/to/file.scss`

No.

A report on style violations

[2017-02-23 21:26] evilebottnawi commented on #2389
@jonnybarnes please update to latest version

[2017-02-23 21:43] jonnybarnes commented on #2389
Worked, `npm update -g` didn’t automatically update to the latest version for some reason.

[2017-02-23 21:43] #2389 closed

[2017-02-24 17:54] Arcanemagus opened #2392 "Invalid config in configuration readme"
A documentation issue where the [Custom Messages](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#custom-messages) section of the Configuration guide has invalid configuration.

`indentation` (tangentially)

N/A

[code]

`7.9.0`

N/A

No.

The configuration used as an example in the documentation to be valid.

The configuration used in this example is invalid as

[2017-02-24 17:55] Arcanemagus commented on #2392
Note that the user reported the CLI "didn't get any issues", so you might want to look into how that was happening as it _should_ be reporting invalid configuration to the user.

[2017-02-24 19:19] kmiyashiro commented on #2292
Hmm, the changelog says that `stylelint-disable-reason` is deprecated and to consider contributing to this instead, but it seems like they are two different rules. `stylelint-disable-reason` checks for a separate comment before or after the disable comment, while this checks for 0 rules in the disable comment.

[2017-02-24 19:21] kmiyashiro commented on #2227
@evilebottnawi have you created a plugin for this already?

[2017-02-24 22:38] jeddy3 commented on #2292
@kmiyashiro Thanks for spotting that. Yes, you're right. `reportUnscopedDisables` is meant as an alternative to the `stylelint-disable-no-empty` proposal that got mothballed. I've posted [a PR](https://github.com/stylelint/stylelint/pull/2393) to correct the CHANGELOG.

[2017-02-24 22:43] jeddy3 commented on #2227
@kmiyashiro If you'd like the create this plugin, and if @evilebottnawi hasn't started on it yet, then that would be awesome as the broader the community support for plugins the better for everyone :)

We've a [guide](https://stylelint.io/developer-guide/plugins/) to writing plugins.

For an example of converting a core rule to a plugin, you can take a look as [stylelint-no-browser-hacks](https://

[2017-02-24 22:48] jeddy3 commented on #2392
@Arcanemagus Thanks as always for the detailed report.

Labelling as `doc` and `help wanted`.

I'll create a separate issue for this so we can investigate.

[2017-02-24 23:03] jeddy3 opened #2394 "False negative for invalid option for ignore: [] indentation"
Ref: https://github.com/stylelint/stylelint/issues/2392

Confirmed that the following (where `"block"` is an invalid keyword option):

[code]

doesn't throw an invalid option warning. Instead, it seemingly disables the rule.

As a side note, @m-allanson mentioned the new [`jest-validate`](https://github.com/facebook/jest/tree/master/packages/jest-validate) the other day. It might be worth investig

[2017-02-24 23:12] kmiyashiro commented on #2227
@jeddy3 Out of curiosity, why are you deprecating/removing the plugin from core instead of improving the rule or documentation? It's true that you can pass the rule without satisfying the spirit of it, but that seems to be an entirely intentional act of the developer.

[2017-02-24 23:32] jeddy3 commented on #2227
We recently completed [an audit](https://github.com/stylelint/stylelint/issues/2079#issue-190470316) of the rules within stylelint. We also have our [criteria for inclusion](https://stylelint.io/developer-guide/rules/#criteria-for-inclusion). These were developed over the last two years to create a consistent quality of rule and keep development of the core sustainable (you can search for historic

[2017-02-25 01:59] OmgImAlexis commented on #2394
From what I can see with 600+ errors I wasn't getting anything in the CLI yet with no errors I get the warning. Both times I was running version `^7.9.0` of stylelint installed via npm.

[code]

[2017-02-25 09:17] jeddy3 commented on #2380
@eddiemoore Good luck. FYI, I thought some more about this last night and one possible approach could a `shorthand-property-min-values: {}` plugin e.g.

[code]

You could then use [`postsss-values-parser`](https://github.com/TrySound/postcss-value-parser) to tally the number of _top-level_ `words`, `function` and `strings`. If the tally doesn't meet the [minimum number](https://github.com/stylelin

[2017-02-25 21:38] alienlebarge opened #2395 "False positives for custom property sets followed by a comment in no-extra-semicolons"
bug

`no-extra-semicolons`

[code]

e.g.

[code]

e.g. `7.9.0`

CLI with `stylelint style.css`
and via *gulp-stylelint* in my projects

Here's a [gist](https://gist.github.com/alienlebarge/460cb9147ac2f6c0717215155a620f19) that reproduce the problem

It's related to Tabatkins [apply rule specification](https://tabatkins.github.io/specs/css-apply-rule/)

"No warnings to be flagged."

e.g. "The foll

[2017-02-25 22:26] hudochenkov commented on #2395
CSS `@apply` rule is “a Collection of Interesting Ideas.” I don't think stylelint will process correctly until it converted in spec. I suggest you to use [`stylelint-disable`](https://stylelint.io/user-guide/configuration/#turning-rules-off-from-within-your-css) comments to disable this rule:

[code]

[2017-02-25 22:36] alienlebarge commented on #2395
So the following text in the [changelog v7.4.0](CHANGELOG.md#740) is a little bit confusing:

[2017-02-25 22:56] hudochenkov commented on #2395
Thank you for pointing out! I was wrong. Stylelint do support custom property set for this rule.

I found out, that warning triggered if there a comment after custom property set. If these comments removed — no warnings triggered.

[2017-02-26 18:46] jeddy3 commented on #2326
@bedney & @idearat Thanks for taking the time out to explain CSS namespaces. The different use cases detailed [in this comment](https://github.com/stylelint/stylelint/issues/2326#issuecomment-278390031) were particularly informative.

I think we should definitely address the issue. I'm just wondering what is the best approach. We need a solution that takes into account the following:

I think we s

[2017-02-26 18:49] jeddy3 opened #2397 "Add MathML tags to list of known tags in selector-type-no-unknown"
Ref: https://github.com/stylelint/stylelint/issues/2326#issuecomment-278416740

[2017-02-26 19:09] jeddy3 commented on #2357
@JoshuaKGoldberg Thanks for the report. The snapshots of the results objects were first generated on a *nix system, hence the slash being backwards.  Do you have any experience normalising _the appearance of_ file paths in node? As any help from a windows user would a greatly appreciated!

[2017-02-26 20:04] mAAdhaTTah opened #2398 "Shipping Flow definitions without declaraa"
Bug

7.9.0

WebPack Stylelint Plugin

Flow should not throw errors for Flow types shipped in `node_modules`.

Because stylelint ships Flow definitions inline with the code, Flow checks those files for type validity, but because the `decls` folder is missing, the consuming project cannot add the declarations used by stylelint, so Flow returns a lot of errors like these:

[code]

Strip the flow defi

[2017-02-26 20:07] ArmorDarks opened #2399 "Improve performance of globbing with ignored paths"
Stylelint works extremely slow with large directories by taking a lot of time to discover files targeted by input glob, despite glob contain paths, ignored in Stylelint config with `ignoreFiles` option.

I've digged in code and discovered that it happens, because Stylelin initially passes to `globby` whole input glob and does not account for specified in `ignoreFiles` option path and files.

By st

[2017-02-26 20:12] jeddy3 commented on #2322
@davidtheclark Would including the decls in the next published package help alleviate this issue?

[2017-02-26 20:31] hudochenkov commented on #2398
Thank you for reporting! This problem was already reported. Check #2322

[2017-02-26 20:31] #2398 closed

[2017-02-26 20:52] mAAdhaTTah commented on #2322
This [StackOverflow](http://stackoverflow.com/questions/38225538/flow-type-checker-errors-in-node-modules#38264353) answer suggests resolving a Flowtype error by adding the package's declarations to their `.flowconfig`. Shipping the `decl` folder would allow us to resolve that in the consuming application.

[2017-02-26 21:02] JoshuaKGoldberg commented on #2357
You should be able to use [`path.sep`](https://nodejs.org/api/path.html#path_path_sep) to generate file paths that work with the user's system. It's a little annoying to do en masse.

[2017-02-27 00:00] davidtheclark commented on #2357
Seems that the solution here is probably to iterate through results before taking the snapshot and normalize the path values of the `source` properties.

[2017-02-27 00:05] davidtheclark commented on #2322
@jeddy3 Yeah, that's a good place to start. Here are the steps I can think of to alleviate the situation — the best we can do (that I know of):
- Ship the `decl` folder so people can use it. Unfortunately they'll still run into the annoyance of https://github.com/stylelint/stylelint/issues/2322#issuecomment-280950874, so ...
- Change the way we use dynamic requires in `augmentConfig.js`, `cli.js`,

[2017-02-27 00:30] davidtheclark commented on #2251
Closed by #2328.

[2017-02-27 00:30] #2251 closed

[2017-02-27 00:44] davidtheclark commented on #2399
@ArmorDarks I'm not sure such a simple solution will work. The problem is that we allow different files to load different configs: there's not always just one config per process. For example, you could have 4 parallel folders, `a/b`, `a/c`, `a/d`, and `a/e`, each with a different stylelint config, and all of them linted at once via `stylelint "a/**/*.css"`. Each of those configs could have its own

[2017-02-27 07:41] matteocng commented on #2322
I noticed that `decls` contains declarations for `jest` and `lodash` coming from `flow-typed`. Maybe those two should/could be moved to another folder i.e `'./flow-typed/npm/'`, included and used internally but not shipped?

[2017-02-27 10:35] sendilkumarn commented on #2356
I will give this one a shot

[2017-02-27 10:53] jeddy3 commented on #2356
Awesome.

We should quickly clarify the workings of this option before you start on it. Mainly, are we proposing this option would ignore _all_ comments or just "non"-shared-line comments (FYI, in stylelint we call comments that do not live on a line _by themselves_ "shared-line comments", but I don't think we have a name for comments that do live on a line by themselves).

Given the following con

[2017-02-27 10:57] evilebottnawi commented on #2356
@jeddy3 in theory we can remove all comments (all, only shared or how do we decide) and then check source code, it is not difficult task :smile:

[2017-02-27 10:59] evilebottnawi commented on #2399
@davidtheclark agree, best solution use `stylelint "**/*.css, !**/docker/**"`

[2017-02-27 11:00] jeddy3 commented on #2356
Ignoring _all_ comments is fine with me. Just wanting to check that we all think this would be the _most useful_ option to provide users.

[2017-02-27 11:02] sendilkumarn commented on #2356
👍  *all comments*

For your case, we should have `no-warning`

[2017-02-27 11:03] evilebottnawi commented on #2356
@jeddy3 i think `all` is right way, btw postcss have pure support shared comments, we will can resolve this after postcss 6.0 released (or review if it is requested by people).