[2016-05-05 17:26] jonrohan commented on #1184
I'll give it a shot.

[2016-05-05 19:39] davidtheclark commented on #1189
Or `isKnownUnit` could accept an options parameter to specify, e.g. `isKnownUnit(x, { only: "length" })`.

[2016-05-05 19:42] jeddy3 commented on #1189
Oh, that's much neater.

[2016-05-06 05:31] #1182 closed

[2016-05-06 10:39] woble opened #1194 "number-max-precision affects strings and URL function"
`number-max-precision` is affecting strings and url function that contain dots and digits.

`number-max-precision`

`myfont.pcss`
[code]

`_myfont.1252.pcss`
[code]

[code]

`6.2.2`

gulp-stylelint
SublimeLinter-contrib-stylelint (CLI mod)

No.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2016-05-06 11:22] jeddy3 commented on #1194
@woble Thanks for the nicely written up bug report :)

I've patched this in https://github.com/stylelint/stylelint/issues/1195 - it was a quick fix. There are a [couple of issues we're working on](https://github.com/stylelint/stylelint/milestones/6.3.0) before we can release `6.3` though, and so you might want to turn off the `number-max-precision` in the meantime.

[2016-05-06 11:45] woble commented on #1194
Thanks. I'm disabling the rule locally, so it's not really an issue at the moment.

[2016-05-06 14:26] evilebottnawi commented on #1099
Close. Merged. Ref: https://github.com/stylelint/stylelint/pull/1158

[2016-05-06 14:26] #1099 closed

[2016-05-06 14:27] evilebottnawi commented on #1188
Close. Merged. Ref: https://github.com/stylelint/stylelint/pull/1176

[2016-05-06 14:27] #1188 closed

[2016-05-06 14:31] woble opened #1198 "Unicode unquoted strings produce script error in windows"
I am not really sure whether this is a script bug or user error (lack of knowledge of unicode strings) but the following CSS and rule halt the script.

Seems to be related to `font-family-name-quotes`. Might affect some others as well.

[code]

Enclosing `冬青黑体简体中文` in single quotes solves the problem, but as I said, it could be that unicode strings should always be enclosed in quotes.

When using

[2016-05-06 14:33] evilebottnawi commented on #1156
Close. Merged. Ref: https://github.com/stylelint/stylelint/pull/1181

[2016-05-06 14:33] #1156 closed

[2016-05-06 14:36] evilebottnawi commented on #1173
Close. Merged. Ref: https://github.com/stylelint/stylelint/pull/1192

[2016-05-06 14:36] #1173 closed

[2016-05-06 14:41] mehcode opened #1199 "Support for global introspection ( @import )"
How possible (and desirable) is it to get stylelint to understand and follow `@import`. I guess that's more of a scss/less feature than straight css but it sounds like something that'd have to be at least exposed here (and then used in `stylelint-scss`).

I'd like to be able to have lints that are project-wide. For instance, `no-duplicate-selectors`, is a great example of something that is useful

[2016-05-06 15:09] davidtheclark commented on #1199
It's a good idea. All depends on how it can be pulled off.

I think we definitely don't want stylelint itself to follow `@import`s. That's a tricky task that should be handled by an outside module. `postcss-import` should work, right? So could we possibly add an option that would make `postcss-import` run on the code before stylelint? Is that something like what you were thinking?

The way that pe

[2016-05-06 15:45] #1194 closed

[2016-05-06 15:59] mehcode commented on #1199
@davidtheclark Actually, just adding `postcss-import` before stylelint in the postcss invocation works great. There is only 1 problem that I've found (blank lines get removed): https://github.com/postcss/postcss-import/issues/206

Perhaps we should document this usage as there are a good number of rules that work better this way (in my opinion).

[2016-05-06 16:03] davidtheclark commented on #1199
That works if you use stylelint within a PostCSS pipeline. But I was thinking an option might help CLI and Node API users.

[2016-05-06 16:04] mehcode opened #1201 "False positive selector-no-type with ignore compounded"
Seems to be a bug in `ignore: ["compounded"]`

`selector-no-type`

e.g.

[code]

e.g.

[code]

6.2.2

PostCSS plugin

No

No warnings to be flagged.

The following warnings were flagged:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/33984899-false-positive-selector-no-type-with-ignore-compounded?utm_campaign=plugin&utm_cont

[2016-05-06 16:06] mehcode commented on #1199
That might be nice. It might also be nice to figure out a clean way to make it work for editor plugins (sublime, atom, etc.), if possible.

[2016-05-06 21:06] #1174 closed

[2016-05-07 04:13] efedorenko opened #1204 "Improve vertical-align detection in declaration-block-no-ignored-properties"
At the moment `vertical-align` is disallowed only when used with property `display: block`, but according to spec and browsers implementations it is ignored in many more cases. This property can be applied [only to inline-level and `table-cell` elements](http://www.w3.org/TR/CSS2/visudet.html#propdef-vertical-align), which excludes such `display` values as `list-item`, `table`, `table-row-group`,

[2016-05-07 04:29] MoOx commented on #1199
Adding stylelint before postcss-import will not lint `@import`ed files. That's why postcss-import have a plugin option https://github.com/postcss/postcss-import#plugins
Eg:

[code]

[2016-05-07 07:26] #1022 closed

[2016-05-07 08:24] jeddy3 commented on #1201
@mehcode Thanks for the report.

It's likely something do to with the *compound selector* being part of a  *complex selector* i.e. the `#id` at the start. I think we're [mistakenly disallowing this](https://github.com/stylelint/stylelint/blob/master/src/rules/selector-no-type/__tests__/index.js#L127-L130), when it should be allowed.

Would you like to have a go at contributing a fix?

If so, I thi

[2016-05-07 08:28] jeddy3 commented on #1198
@woble Thanks again for another detailed report.

This looks to be an issue with our use of [`table`](https://www.npmjs.com/package/table) within the [string formatter](https://github.com/stylelint/stylelint/blob/master/src/formatters/stringFormatter.js). Possibly when [we calculate the width of the columns](https://github.com/stylelint/stylelint/blob/master/src/formatters/stringFormatter.js#L79-L

[2016-05-07 08:34] jeddy3 opened #1206 "Release 6.3"
Shall we release `6.3`?

- [x] Publish new version of `stylelint-selector-bem-pattern`
- [x] Publish new version of `stylelint`.
- [x] Publish new version of `stylelint-config-standard`
- [x] Deploy website

🎉

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34003445-release-6-3?utm_campaign=plugin&utm_content=tracker%2F9282518&utm_me

[2016-05-07 12:33] evilebottnawi commented on #1163
@jeddy3 @davidtheclark  maybe change label :cat:?

[2016-05-07 14:59] davidtheclark commented on #1199
@MoOx But using postcss-import *before* stylelint *will* lint `@import`ed files, right?

[2016-05-07 15:00] davidtheclark commented on #1206
Yes I'm happy with that whenever.

[2016-05-07 15:05] evilebottnawi opened #1208 "Integrate bounty label as eslint"
As in https://github.com/eslint/eslint
@davidtheclark
@jeddy3 invite me(https://www.bountysource.com/people/37574-evilebottnawi) in team https://www.bountysource.com/teams/stylelint

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34008561-integrate-bounty-label-as-eslint?utm_campaign=plugin&utm_content=tracker%2F9282518&utm_medium=is

[2016-05-07 16:42] jeddy3 commented on #1206
@davidtheclark Good stuff. Can you do a release of `stylelint-selector-bem-pattern` please as I don't have access?:  https://github.com/davidtheclark/stylelint-selector-bem-pattern/pull/13

I can do the rest.

[2016-05-07 18:01] dzhiriki opened #1209 "declaration-block-no-ignored-properties falls at nested selectors"
Stylelint crashes on nested selector when `declaration-block-no-ignored-properties` enabled

`declaration-block-no-ignored-properties`

[code]

[code]

`6.3.0`

CLI

Yes, it's related to nesting.

No warnings to be flagged.

Stylelint crashed.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34011400-declaration-block-no-ignor

[2016-05-07 18:08] evilebottnawi commented on #1209
@dzhiriki Thanks for report

[2016-05-07 18:09] Zmokizmoghi commented on #1209
+1

[2016-05-07 18:23] evilebottnawi commented on #1209
WIP. Ref: https://github.com/stylelint/stylelint/pull/1210

[2016-05-07 18:25] #1209 closed

[2016-05-07 18:59] jeddy3 opened #1211 "Use walk* iterators where ever possible"
I think it'll help mitigate unforeseen problems with nested rules.

`declaration-block-no-ignored-properties` makes use of [`decl.parent.nodes.forEach`](https://github.com/stylelint/stylelint/blob/master/src/rules/declaration-block-no-ignored-properties/index.js#L92).

Perhaps it can be refactored to use `root.walkRules(rule => { rule.walkDecls(decl => {}) })`, similar to how `custom-property-no-o

[2016-05-07 19:00] evilebottnawi opened #1212 "Extra semicolon causes false positive in `block-closing-brace-newline-before`"
Strange behavior

e.g. `block-closing-brace-newline-before`

e.g.

[code]

e.g.

[code]

e.g. `6.3.1`

PostCSS

SCSS

One error

e.g. "The following warnings were flagged:"

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34012363-extra-semicolon-causes-false-positive-in-block-closing-brace-newline-before?utm_campaign=plugin&u

[2016-05-07 19:04] evilebottnawi commented on #1211
@jeddy3 sgtm

[2016-05-07 19:09] dzhiriki opened #1213 "Error in shorthand-property-no-redundant-values"
Yet another bug which I found in 7ba84e9.

`shorthand-property-no-redundant-values`

[code]

Color should be in upper case

e.g.

[code]

e.g. `6.3.0`

CLI

No

No warnings to be flagged.

The following warnings were flagged:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34012490-error-in-shorthand-property-no-redundant-val

[2016-05-07 19:14] evilebottnawi commented on #1213
Ref: https://github.com/stylelint/stylelint/pull/1214

[2016-05-07 21:58] Arcanemagus commented on #1206
Btw, releasing v6.3.1 in the Atom `linter-stylelint` package as soon as I add support for HTML CSS extraction :wink:.

[2016-05-07 23:15] davidtheclark commented on #1206
Published 1.0.0 of the bem plugin with a namespace.

[2016-05-07 23:15] #1206 closed

[2016-05-07 23:37] davidtheclark commented on #1208
SGTM

[2016-05-07 23:38] davidtheclark commented on #1208
Right now the team is not "claimed": it is just open. Is there any reason we should "claim" it?

[2016-05-08 06:12] #1213 closed

[2016-05-08 06:21] jeddy3 commented on #1212
I'm assuming both errors go away when you remove the extra colon?

If so, it's a low priority bug.

[2016-05-08 07:19] jeddy3 commented on #1208
I'm not sure what you mean? Are we talking about the:

That's appeared at the bottom of each new issue? If so, SGTM.

I don't think I'm registered on bountysource.

[2016-05-08 13:29] evilebottnawi commented on #1208
@jeddy3 @davidtheclark who registered the team)

[2016-05-08 13:29] evilebottnawi commented on #1208
@jeddy3 add label about bounty and link

[2016-05-08 13:44] davidtheclark commented on #1198
Can you setup a reproducible test case for this?

[2016-05-08 14:55] evilebottnawi commented on #1212
Close. Merged. Ref: https://github.com/stylelint/stylelint/pull/1217

[2016-05-08 14:55] #1212 closed

[2016-05-08 15:52] #1201 closed

[2016-05-08 16:07] evilebottnawi commented on #1198
@davidtheclark not reproducible, i think it is `window` problem, need testing on `window` machine

[2016-05-08 16:24] evilebottnawi commented on #1189
Close. Merged. Ref: https://github.com/stylelint/stylelint/pull/1196

[2016-05-08 16:24] #1189 closed

[2016-05-08 17:16] jeddy3 commented on #1204
Done in https://github.com/stylelint/stylelint/pull/1205

[2016-05-08 17:16] #1204 closed

[2016-05-08 18:12] jeddy3 opened #1222 "Release 6.3.3"
@davidtheclark Shall we release `6.3.3` now with all these fixes.

I think it's worth getting it out of the door before looking into new features and/or the tricker bugs.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34029718-release-6-3-3?utm_campaign=plugin&utm_content=tracker%2F9282518&utm_medium=issues&utm_source=github)** We a

[2016-05-08 18:50] davidtheclark commented on #1222
Yep, go for it.

[2016-05-08 20:03] jeddy3 commented on #1222
Released and the website updated :)

Congrats everyone for nailing all these fixes! 🎉

---

I'm off to Italy in the morning for my brother's wedding. I'll be back in a week's time.

As always, feel free to merge and release whenever you see fit :)

[2016-05-08 20:03] #1222 closed

[2016-05-09 04:06] MoOx commented on #1199
Yeah but maybe not in the right context (filename or something?). Eg: will bem-linter work this way?

[2016-05-09 05:52] woble commented on #1198
Tried reproducing on Ubuntu (VMWare).

First run through CLI after installing stylelint:

[code]

Any run after that results in script error:

[code]

[2016-05-09 10:31] ndarville opened #1226 "Disable `no-missing-eof-newline` for HTML-linting(?)"
**tl;dr:** `-e` looks for `no-missing-eof-newline`, which makes sense for CSS files, but not `<style>`.

* * * *

Inadequate rule that makes sense for (S)CSS-linting, but not for `<style>`-linting.

`no-missing-eof-newline`.

<https://github.com/ndarville/style/blob/master/css/.stylelintrc>, although I think it’s a general problem.

`6.3.3`.

CLI with `stylelint -e _site/{asides,diverse,projects}/

[2016-05-09 13:13] davidtheclark commented on #1198
Can we write a *test* that fails, I mean?

[2016-05-09 13:16] davidtheclark commented on #1226
What if we just had the code that parses `<style>` tags always add a newline at the end of the content? @blake-newman do you see any problem with that?

[2016-05-09 13:45] smlombardi commented on #1153
This is driving me nuts.  I am using the Atom linter-stylelint on my scss files.  Every time I type a space after a semi-colon, I get a full-blown error dialog:

![screen shot 2016-05-09 at 9 40 35 am](https://cloud.githubusercontent.com/assets/835148/15114941/680f0bb0-15ca-11e6-99be-4b7478331570.jpg)

The authors of this linter say this is because stylelint does not return a cursor position in th

[2016-05-09 13:50] davidtheclark commented on #1153
Feel free to pitch in. Otherwise, you can always change your linter plugin to run on save instead of on every change.

[2016-05-09 14:24] ndarville commented on #1226
I’m down with that.

[2016-05-09 14:33] kevinkorngut commented on #1153
I'm running into this as well via the command line; however, my config looks like this:

[code]
and the css:
[code]

Now, if I remove the semi-colon on the ```max-width``` line I receive the "unexpected space" error; however, if I remove it from the ```display``` line I get an error from the ```declaration-block-trailing-semicolon``` rule which is what I would have expected.

[2016-05-09 16:42] evilebottnawi commented on #1198
@woble can you get information about old versions (ubuntu, stylelint, nodejs, npm and etc)?

[2016-05-09 18:56] davidtheclark commented on #1153
Yeah, we're aware of the error. The probably reason is written about above.

[2016-05-10 05:36] dryoma commented on #1174
Great, it works. Thanks!

[2016-05-10 05:43] woble commented on #1198
@evilebottnawi Didn't think of writing it down. I tried it again with fresh Ubuntu 15.10, node 4.4.4, npm 2.15.1 as well as 3.8.9 and everything worked fine. So I guess, as stated earlier, it's very much related to Windows only.

[2016-05-10 08:29] Guria opened #1227 "config: include files pattern"
Need a way to define include files pattern in `.stylelintrc` config file which will be respected both with `stylelint` cli and editor plugins. I have my styles in `*.pcss` files. Currently it's only possible to lint with `stylelint **/*.pcss` command. Would be great to have a way to define it in config.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bounty

[2016-05-10 09:13] dan-gamble opened #1228 "Be able to filter rules on the website by version"
One thing i struggle to do is keep up with Stylelint's quick release cycle. I work at an agency where our projects probably last 6-8 weeks and we do everything based off of a project template (which houses Stylelint). I believe our current project template is still on `3.3.6`.. (:D) and i've recently started a project that was on `5.4.0` and i can see the current version is `6.3.3`.

What would be

[2016-05-10 09:31] evilebottnawi commented on #1228
@dan-gamble sound good

[2016-05-10 09:31] evilebottnawi commented on #1228
I think be cool see near rules version when rule be added.

[2016-05-10 10:23] evilebottnawi opened #1230 "`declaration-block-no-ignored-properties` now detects use of `min-width` and `max-width`"
@davidtheclark @jeddy3  ops sorry, accident push in the master branch.
About push:
https://www.w3.org/TR/CSS22/visudet.html#propdef-width
https://www.w3.org/TR/CSS22/visudet.html#propdef-height
https://www.w3.org/TR/CSS22/visudet.html#propdef-min-width
https://www.w3.org/TR/CSS22/visudet.html#propdef-min-height

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://ww

[2016-05-10 12:55] davidtheclark commented on #1227
Why would that be great?

[2016-05-10 13:00] davidtheclark commented on #1228
Agreed, @evilebottnawi.

@dan-gamble:

Doesn't the changelog provide that information?

[2016-05-10 13:02] davidtheclark commented on #1228
@dan-gamble: Also curious — although I understand *starting* the project from a template, I don't understand why you can't subsequently *update* the dependencies once the project has been started?

[2016-05-10 13:03] davidtheclark commented on #1230
That's commit 4bbba1d61b88f31d99ca4cd3b0029096f672aec4

[2016-05-10 13:04] davidtheclark commented on #1230
Looks ok to me. Thanks for the heads up.

[2016-05-10 13:04] #1230 closed

[2016-05-10 13:07] dan-gamble commented on #1228
@davidtheclark Yea the release notes are perfect for it but it involves me having to have 2 tabs and `cmd-f`'ing on the rules page to find the rule and check that (especially new ones). It would be just more of an ease of use thing.

They definitely can, after i made this issue i updated my current `5.4.0` build to `6.3.3` and there were barely any changes. It's more the project template can get n

[2016-05-10 13:18] davidtheclark commented on #1228
Using the changelog will be more accurate in the end because it will also include modifications to existing rules. Right?

I don't know ... I'm a little wary of adding additional documentation burden, and additional places for documentation to be inaccurate or out of date, just to avoid `cmd-f`s.

How are you envisioning it would show the additions/removals (and modifications?)?

[2016-05-10 13:23] dan-gamble commented on #1228
Tbh a fixed dropdown on http://stylelint.io/user-guide/rules/ in the top right or so that is just a dropdown of the released versions and will filter out the rules that were changed in that version would be a help to me.

Or another alternative could be `[ruleName] - [versionNumberAdded/Reworked]`

i.e.: `font-weight-notation [v6.3]`

Now you mention it showing additions / removals could be potent

[2016-05-10 13:26] evilebottnawi commented on #1228
@dan-gamble i think about this changes best see changelog

[2016-05-10 13:31] evilebottnawi commented on #1098
Done in https://github.com/stylelint/stylelint/pull/1223

[2016-05-10 13:31] #1098 closed

[2016-05-10 13:35] jonny-improbable opened #1232 "Stylelint exits with Status Code 0 on Rule Configuration Errors."
A bug where stylelint's CLI will exit with a status code of 0 even though a rule-misconfiguraiton has been detected

N.A

N/A

Any config that includes an invalid rule configuration, eg:

[code]

e.g. `2.14.7`

`stylelint --config myconfig *.css`

No,

Invalid configuration should cause stylelint to exits with a non-zero status code.

stylelint exited with a 0 status code.

[code]

<bountysource-p

[2016-05-10 13:36] davidtheclark commented on #1228
We might be able to automatically create a separate index page that does this, without additional documentation burden. I'm thinking a script could analyze the changelog, which follows some formatting conventions, then create a list of every rule and notes about when it was added, deleted, or modified.

[2016-05-10 13:44] davidtheclark commented on #1232
Why?

[2016-05-10 13:46] jonny-improbable commented on #1232
To prevent invalid configuration becoming an acceptable part of the workflow, ie: https://en.wikipedia.org/wiki/Broken_windows_theory

[2016-05-10 13:48] davidtheclark commented on #1232
Makes sense. Sorry for some reason I was misreading this is a suggestion that misconfiguration should *not* break things. Whoops — read too fast.

I consider this a bug.

[2016-05-10 14:00] dan-gamble commented on #1228
That sounds like a good idea, i'm not sure how wide spread this issue is tbh, it's probably a very small minority of people, maybe even just me.. But having the version a rule was added might be of some benefit on the rule page in itself (imo) though.

[2016-05-10 14:17] davidtheclark commented on #1228
I agree with you, @dan-gamble, and don't think you're the only person who would benefit from this at all.

I'm just very wary of adding more documentation burden and room for error. So I'm all for anything we can automate to make this happen.

[2016-05-10 14:18] dan-gamble commented on #1228
100% agree :)

[2016-05-10 16:28] dzhiriki opened #1236 "Semver and rule enchancement"
6.3.3 contains #1205 which contains declaration-block-no-ignored-properties improvements, but it's a breaking change, because in 6.3.2 I can have no errors, but i will get it in 6.3.3. And it can break CI builds.
Same problem will be with #1234 and other PRs with improvements of *exists* rules.

Why it's a patch? Should not it be major changes and produce new major version?

<bountysource-plugin>

[2016-05-10 16:31] davidtheclark commented on #1236
We are considering them bug fixes because they are making the rule behave as originally intended. Otherwise we would need to do a major release whenever we fixed *any* bug that meant a warning was not being triggered when it should have been.

For any bug on any package there's the same risk, that a user could come to rely on a bug and then when the bug is fixed it's a "breaking change" for that u

[2016-05-10 16:46] dzhiriki commented on #1236
I am disagree.

Rule works same as it was described in Readme. The rule does not contain any errors that were fixed. #1205 contains *new* functional.

If new functional *can* break *any* build, then it should produce new major version.

If you originally intended that rule should work as in 6.3.3 than it all should be described in readme and it should not be merged before it was fully created and

[2016-05-10 16:53] davidtheclark commented on #1236
I understand what you're saying, but I'm also not sure that's a reasonable approach for this linter, for the reasons described above. With so many rules in play, I think if we did a major release whenever any rule gets a fix that might break somebody's build, then semver would lose meaning in another way.

If you or anyone else wants to research how other linters like ESLint have handled this prob

[2016-05-10 18:52] adidahiya opened #1238 "Misleading error for declaration-block-no-ignored-properties with display: inline-block and float"
This is a great rule, but I think the rationale behind disallowing `display: inline-block` + `float` is slightly incorrect. Adding `float` makes the `inline-block` part ignored, not the other way around. The phrasing in rule's current [README](https://github.com/stylelint/stylelint/tree/master/src/rules/declaration-block-no-ignored-properties) suggests the inverse behavior -- that `display: inline

[2016-05-10 18:57] evilebottnawi commented on #1238
@adidahiya can you show exaple when it is work on jsbin or codepen?

[2016-05-11 01:22] davidtheclark commented on #1236
@dzhiriki Have you encountered other semver violations outside of this particular rule, or has it just been this rule?

[2016-05-11 10:35] TxHawks opened #1239 "font-family-name-quotes error on on sass variables"
A bug that causes an error when a variable name ends with `font-family`, and its value isn't quoted.

`font-family-name-quotes`

[code]

Any of the `font-family-name-quotes` rule options

`6.3.3`

PostCSS plugin via `gulp-postcss`

Yes, it's related to SCSS variables.

No warnings to be flagged.

The following warnings were flagged:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Po

[2016-05-11 10:37] evilebottnawi commented on #1239
@TxHawks show please SCSS code with `font-family`

[2016-05-11 10:42] dzhiriki commented on #1236
I started using stylelint only from 6.2.2, so i can only say about violations inside 6.3.*.

[2016-05-11 10:45] TxHawks commented on #1239
@evilebottnawi -
I did. It's the variable name, which ends with `font-family`, that triggers the error

[2016-05-11 10:49] evilebottnawi commented on #1239
@TxHawks thanks!

[2016-05-11 12:50] Arkkimaagi opened #1240 "no-unknown-animations is missing single-transition-timing-function "ease""
I found (what I think is) a bug where the standard `ease` timing function gets flagged as unknown animation name.

It's in the rule `no-unknown-animations` obviously.

AFAIK this should be valid, but causes an error:
[code]

With these settings:
[code]

Appears at least on stylelint 6.2.2 from command line.
[code]

I expected to have no warnings, as `ease` is according to [specs](https://developer

[2016-05-11 12:56] evilebottnawi commented on #1240
@Arcanemagus Thanks!

[2016-05-11 13:00] ohskylab opened #1241 "Invalid CSS triggers crash with "Error: Table data must not contain control characters""
A bug which produces an "Error: Table data must not contain control characters" (from [gajus/table](https://github.com/gajus/table/blob/7464b27999c5c6da43c754fb5f94931423d41839/src/validateTableData.js#L45)) and a stack trace when linting invalid CSS.

Appears to be `no-browser-hacks`.

__Note the comma after second selector__. Both selectors required to reproduce error.

[code]

[code]

`6.3.3` (

[2016-05-11 13:07] evilebottnawi commented on #1241
@ohskylab see interesting, looks as bug in https://github.com/ben-eb/stylehacks

[2016-05-11 13:37] davidtheclark commented on #1236
Yeah, and for what you've used has the violator only been this one particular rule?

[2016-05-11 13:40] davidtheclark commented on #1240
@Arkkimaagi should be a really easy fix if you're interested in starting a PR.

[2016-05-11 13:43] davidtheclark commented on #1238
Am I right, @adidahiya, that the rule works as intended, and the problem is just that the error message miscommunicates the reasoning?

[2016-05-11 13:46] davidtheclark commented on #1236
I'm asking because I agree with you now that the way this particular rule was released was wrong. I do think we can try to stick to this standard: You build should only break if we've done a major release, you've changed your config, or you were relying on some undocumented behavior.

I think that's been our implicit guide so far and it may be that we just blew it with that one rule (and maybe a b

[2016-05-11 13:50] evilebottnawi commented on #1241
@ohskylab not reproduce on node v6

[2016-05-11 13:57] evilebottnawi commented on #1163
@davidtheclark Yet we include these rules into the core (I would be glad if we include these, it is help me work with students, and will not create plugin) or not?

[2016-05-11 14:00] Lucas-C opened #1243 "TypeError: undefined is not a function with version 6.3.3"
This is a bug that appears in v6.3.3 (v6.3.2 is OK).

This may be related to the rule "unit-no-unknown" given the error message, but I'm unsure.

Here is the `dummy.css` file I tested:
[code]

Here is the `.stylelintrc` file I used:
[code]

I'm using stylint CLI:
[code]

This issue is not related to non-standard syntax.

I expected a normal analysis report.

I got the following error output:
[code

[2016-05-11 14:01] Lucas-C commented on #1243
Note I'm using Cygwin
[code]

[2016-05-11 14:02] evilebottnawi commented on #1243
@Lucas-C see as bug in postcss

[2016-05-11 14:09] evilebottnawi commented on #1239
Done in https://github.com/stylelint/stylelint/pull/1242.

[2016-05-11 14:09] #1239 closed

[2016-05-11 14:12] evilebottnawi commented on #1243
Reproduce on Ubuntu node v0.12.2 (use nvm)

[2016-05-11 14:16] evilebottnawi commented on #1243
WOrk fine on node 6(latest), 5(latest), 4(latest), bugs only on 0.12(any version)

[2016-05-11 14:19] adidahiya commented on #1238
@davidtheclark yep, that's correct. The rule works but the error message is misleading and produces confusion in how to resolve the lint warning.

[2016-05-11 14:20] davidtheclark commented on #1238
Great. Probably a fairly easy bug fix if you or anyone else wants to jump on it.

[2016-05-11 14:21] evilebottnawi commented on #1243
@davidtheclark see as babel bug https://github.com/babel/babel/pull/3468
After transform we get:
[code]

[2016-05-11 14:28] ohskylab commented on #1241
@evilebottnawi Hmm, interesting, I see it on node `v6.1.0`. I tested on `v4.4.0` too, with the same results.

I've published my test case here: [ohskylab/stylelint-bug](https://github.com/ohskylab/stylelint-bug). I've run that on Codeship, to help rule out the chance of it being something up with my machine (if not my config skills!)

Builds fine if I remove the dodgy comma, but fails in the same

[2016-05-11 14:31] evilebottnawi commented on #1241
@ohskylab thanks for detail response, i get around to it in the near future

[2016-05-11 14:44] evilebottnawi commented on #1238
@adidahiya right docs are valid or not?

[2016-05-11 15:05] evilebottnawi commented on #1153
@davidtheclark what do you think about solution this issue? Create wrapper function in utils with `try {} catch {}` and import this util instead directly `import selectorParser from "postcss-selector-parser"`?

[2016-05-11 15:06] davidtheclark commented on #1153
Yeah, I think so. What would be the best warning message to deliver? Just something like "Cannot parse selector"?

[2016-05-11 15:10] evilebottnawi commented on #1153
@davidtheclark i think we have nothing to output, because when fast typing such errors can be many. While on the other hand, it is not entirely correct.

[2016-05-11 15:10] smlombardi commented on #1153
@davidtheclark I'd pitch in if I understood any of this.  Sorry, I'm just a css dude.  ;-)

If the "lint on save" could be done on a particular linter level I'd do that, but AFAIK it's a global setting in Atom for all linters, and for all my other linters I like the linting as I type.

[2016-05-11 15:10] davidtheclark commented on #1232
Considering the discussion over at https://github.com/stylelint/stylelint/issues/1236, do we think this fix needs to be considered a breaking change, or is it just a bug fix?

[2016-05-11 15:11] smlombardi commented on #1153
@evilebottnawi Is there a concept here like "debounce", where you can delay the error for an amount of time or amount of keystrokes?

[2016-05-11 15:11] davidtheclark commented on #1153
I will take a shot at this today.

[2016-05-11 15:14] evilebottnawi commented on #1232
@davidtheclark i think we should up major version. Many people may have rules in their config, which are have incorrect values and get CI green, if we up minor or patch, they get errors.

[2016-05-11 15:14] davidtheclark commented on #1232
Yeah, makes sense. Maybe we need to start a 7.0 branch — I don't know when it will come out, but this will be a part of it.

[2016-05-11 15:15] evilebottnawi commented on #1232
@davidtheclark I also believe that we should as much as possible to solve all `bugs` before major realese and include this issue in milestone `7.0.0`.

[2016-05-11 15:17] evilebottnawi commented on #1232
@davidtheclark also i think we should resolve https://github.com/stylelint/stylelint/issues/1133 to major release.

[2016-05-11 15:20] evilebottnawi commented on #1241
@ohskylab just now we merge https://github.com/stylelint/stylelint/pull/1244, can you test again?

[2016-05-11 15:21] evilebottnawi commented on #1241
@ohskylab install throw `git clone` and test

[2016-05-11 15:24] evilebottnawi commented on #1240
Done in https://github.com/stylelint/stylelint/pull/1245

[2016-05-11 15:24] #1240 closed

[2016-05-11 15:27] davidtheclark commented on #1232
Yeah, we should do a lot of planning before a major release.

[2016-05-11 15:30] evilebottnawi commented on #1232
@davidtheclark may be add labels priority for better understand what is more important that there is no

[2016-05-11 15:32] davidtheclark commented on #1232
Marked this with a milestone, and created a `v7` branch into which we can merge anything that we're saving for v7.

[2016-05-11 15:35] evilebottnawi commented on #1241
reproduced on latest node.

[2016-05-11 15:36] davidtheclark commented on #1238
@evilebottnawi I think the docs are fine, just the message is off.

[2016-05-11 15:37] davidtheclark commented on #1238
Nevermind! I saw this sentence: "display: inline-block causes float to be ignored." That should be switched around, "float causes display: inline-block to be ignored."

[2016-05-11 15:37] davidtheclark commented on #1238
Same goes for "Although display: inline-block causes float to be ignored, block works with float."

[2016-05-11 15:40] evilebottnawi commented on #1238
@davidtheclark What all of these right? :smile:

[2016-05-11 15:41] davidtheclark commented on #1183
PostCSS is considering integration of selector and value parsers for v6, so I might want to hold off on switching libraries if we might just switch again soon: https://github.com/postcss/postcss/issues/754

[2016-05-11 15:41] davidtheclark commented on #1238
It's float that causes display: inline-block to be ignored. I'll work on a fix for this :)

[2016-05-11 15:46] davidtheclark commented on #1238
Am I right in thinking that `float: left|right` causes all `display` values to be ignored? It forces a `block` box, I believe. (https://www.w3.org/TR/CSS21/visuren.html#floats)

If that's right, then we need to adjust the rule and it will be a breaking change. :(

[2016-05-11 15:48] ohskylab commented on #1241
@evilebottnawi Same results with `master`, I'm afraid. Output below (but please tell me if there's anything wrong with my test, I've not had to build and run stylelint from source before).

[code]

[2016-05-11 15:48] evilebottnawi commented on #1241
@ohskylab thanks i found problem place.

[2016-05-11 15:53] evilebottnawi commented on #1241
@davidtheclark https://github.com/gajus/table/blob/master/src/validateTableData.js#L43 problems here, `stylehack` return string contain newline (`cleanedMessage`):
[code]

[2016-05-11 15:54] evilebottnawi commented on #1241
@davidtheclark what do you think it is bug `stylehacks` or we should remove newlines from message in `stringFormatter`?

[2016-05-11 16:02] davidtheclark commented on #1238
Or else we could patch this particular issue up temporarily, in a hacky way, and then do the real fix in v7.

[2016-05-11 16:16] Arcanemagus commented on #1153
@smlombardi `stylelint` has no idea what is going on in the editor, it's just being called with a block of text and asked to tell `linter-stylelint` what is wrong with it (which then translates that and sends it on to `linter`).

You might want to bump up the debounce timer inside `linter` from the default, I personally have mine at 1500 ms.

[2016-05-11 16:41] evilebottnawi commented on #1198
@davidtheclark reproduce error before merge, after merge all OK,
but get strange number
[code]

[2016-05-11 16:42] evilebottnawi commented on #1198
@davidtheclark it is `2:34`

[2016-05-11 16:45] davidtheclark commented on #1198
That must be a bug with the way the table is being constructed, right? — maybe string-width is not as accurate as it needs to be? Or something?

[2016-05-11 16:46] evilebottnawi commented on #1198
@davidtheclark Right. Now I'm trying to figure it out, but this bug is now out, can be closed

[2016-05-11 16:47] #1198 closed

[2016-05-11 20:49] smlombardi commented on #1153
@Arcanemagus Done.  Great tip, thanks.

[2016-05-12 00:02] adidahiya opened #1251 "New rule: no-color-literal"
New rule called `no-color-literal` to ban custom colors in a stylesheet.

I intend to create this as a custom rule for my project. Our applications depend on a common UI library for defining color variables, so there should be very little need for applications to define custom colors. This rule would be superset of the `color-no-hex` rule -- it would ban all syntaxes for defining colors, including

[2016-05-12 00:17] adidahiya commented on #1238
To confirm my understanding of the breaking change:

Currently the error message is on the `float` property: `Unexpected property "float" that is ignored because of "display: inline-block"`.

The fix is to move the error location to the `display` property.

If users have been disabling the rule inline like this, then they will get lint errors if we implement the fix:

[code]

In that case, yes, +1

[2016-05-12 08:45] evilebottnawi commented on #1251
@jeddy3 that do you think?

[2016-05-12 09:26] evilebottnawi opened #1254 "selector-type-no-unknown"
Bad
[code]

God:
[code]

Search and include html library, which can validate html tags

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34155522-selector-type-no-unknown?utm_campaign=plugin&utm_content=tracker%2F9282518&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campa

[2016-05-12 09:29] evilebottnawi opened #1255 "selector-pseudo-colon-no-invalid-space"
Valid:
[code]

[code]

With one options: "never"

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34155629-selector-pseudo-colon-no-space-around?utm_campaign=plugin&utm_content=tracker%2F9282518&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tr

[2016-05-12 09:31] evilebottnawi commented on #1227
@Guria close inactive, if you found reason why would that be great, create new issue.

[2016-05-12 09:31] #1227 closed

[2016-05-12 09:33] evilebottnawi commented on #1238
@davidtheclark i think we should resolve this issue in 7.0.0

[2016-05-12 09:34] evilebottnawi commented on #1238
@davidtheclark not critical bug nows

[2016-05-12 09:45] mehcode commented on #1251
I think that something like https://github.com/kristerkari/stylelint-scss/issues/13 will serve this use case far better.

[2016-05-12 09:49] evilebottnawi commented on #1251
Yep, out of stylelint.

[2016-05-12 09:49] #1251 closed

[2016-05-12 09:51] evilebottnawi commented on #1251
@adidahiya you can use *=blacklist rules for disable all your need

[2016-05-12 09:52] evilebottnawi commented on #1255
Spaces before always are invalid

[2016-05-12 10:06] evilebottnawi opened #1256 "keyframe-declaration-no-important"
https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes#!important_in_a_keyframe
Invalid:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34156995-keyframe-declaration-no-important?utm_campaign=plugin&utm_content=tracker%2F9282518&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2016-05-12 11:50] evilebottnawi commented on #1226
@davidtheclark i think it is good solution

[2016-05-12 13:33] davidtheclark commented on #1238
Agreed. Will mark it with the milestone.

[2016-05-12 13:35] davidtheclark commented on #1251
@adidahiya Thanks for the proposal. I agree with the others: because this rule relies on non-standard syntax *only*, it should not be part of core.

Regarding the terminology "plugin" vs. "custom rule" —— if you'd like to PR an addition to the README that you think would have helped you find the info you needed, go for it. Sounds like a fine idea to me.

[2016-05-12 13:37] davidtheclark commented on #1255
How about `selector-pseudo-colon-no-space-around`.

If there's just a "never" option, seems to me it should be a `-no-` rule.

[2016-05-12 13:39] evilebottnawi commented on #1255
@davidtheclark sound good
@jeddy3 What do you think?

[2016-05-12 13:39] davidtheclark commented on #1256
Just changed the name. Fine idea.

[2016-05-12 13:40] davidtheclark commented on #1255
If you or anyone wants to start on this feel free. @jeddy3 can comment on the name whenever he's back.

[2016-05-12 14:07] evilebottnawi commented on #1255
@davidtheclark i think we should add options `"ignore": ["nested"]` for
[code]

[2016-05-12 14:27] davidtheclark commented on #1255
Yeah, makes sense.

[2016-05-12 15:02] evilebottnawi commented on #1241
Done in https://github.com/stylelint/stylelint/pull/1253.

[2016-05-12 15:02] #1241 closed

[2016-05-12 15:07] blake-newman commented on #1226
@davidtheclark Seems like a valid solution. Only issue with `<style type=“text/css”>a strong { font-weight: normal; }</style>`

Is that it won't map correctly, however this is also similar issue with eslint, and is yet to be resolved.

[2016-05-12 15:13] evilebottnawi commented on #1226
@blake-newman that about a problem specifically refers?

[2016-05-12 15:47] evilebottnawi commented on #1254
@davidtheclark what do you think about this package https://github.com/sindresorhus/html-tags?

[2016-05-12 16:06] davidtheclark commented on #1254
Looks great to me.

[2016-05-12 17:03] evilebottnawi commented on #1101
@jeddy3 i can't found custom idents for `animation-timing-function`

[2016-05-12 17:09] evilebottnawi commented on #1208
claim in progress.

[2016-05-12 21:54] mikeerickson opened #1263 "Unexpected token :"
I am receiving the following error (verbose message)  Perhaps a

[code]

Note: I have also tried with

[code]

[code]

In case you want me .stylelintrc, here you go

[code]

I have also tried using

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34178745-unexpected-token?utm_campaign=plugin&utm_content=tracker%2F9282518&utm_m

[2016-05-12 22:40] davidtheclark commented on #1263
You need a comma after "stylelint-config-standard", right?

[2016-05-13 03:13] mehcode commented on #1254
@evilebottnawi It doesn't look like that package includes SVG tags (which are valid targets for CSS). How about supplementing with https://github.com/element-io/svg-tags ?

[2016-05-13 03:17] mehcode commented on #950
@davidtheclark / @jeddy3 / @evilebottnawi

I'd like to work on this. Before I get going -- how did you want this tackled? Should we have a css property JSON in this project or use a library like this: https://github.com/blakeembrey/just-css-properties ?

[2016-05-13 04:17] davidtheclark opened #1265 "Extraction from HTML reports erroneous positions in some situations"
This happens when the `<style>` content does not start with a newline, and when there are preceeding style tags with no newlines in them.

Here's some HTML that throws it off. I will post a PR with failing tests.

[code]

[code]

[code]

Also — while looking into these I noticed that the documentation for `htmlparser2` sucks. Is it the best HTML parsing library out there?

cc/ @blake-newman

<boun

[2016-05-13 07:44] blake-newman commented on #1265
@davidtheclark Not sure about the library. I've just used it in the past and so does eslint.

example 1 & 3 i believe are somewhat fixable, by appending a new line before where there isn't and then accounting for that in the mappings. A little tricky but i'm sure it's possible, although i don't recommend styles that are 100% inline like shown, however we should try to support it if we can.

The se

[2016-05-13 08:06] evilebottnawi commented on #1254
@mehcode thanks

[2016-05-13 08:07] evilebottnawi commented on #1263
@mikeerickson please give css example

[2016-05-13 09:42] evilebottnawi commented on #1183
@jeddy3 i think we can close this issue, and wait postcss v6

[2016-05-13 13:40] davidtheclark commented on #1265
Whatever works!

I encountered these problems while looking into #1226. It seemed that that issue was pretty simple to solve by adding a newline to the end of the code. But when trying to test it I got flummoxed by these problems.

[2016-05-13 13:48] #1243 closed

[2016-05-13 13:50] evilebottnawi commented on #1254
Done in https://github.com/stylelint/stylelint/pull/1262

[2016-05-13 13:50] #1254 closed

[2016-05-13 14:15] #1153 closed

[2016-05-13 14:22] davidtheclark commented on #1265
@blake-newman: If it gets too ridiculous, we could always just say in the docs something like "We suggest that you begin and end each `<style>` tag's content with a newline. If you do not, those newlines will be added during processing and there might be inaccuracies in reported positions." Something to consider.

[2016-05-13 14:33] evilebottnawi commented on #1265
@davidtheclark why not calculate start index?

[2016-05-13 15:20] davidtheclark commented on #1265
@evilebottnawi If we can pull off always getting the correct position *and* not triggering rules erroneously, that's great! I was just proposing an option if we can't.

[2016-05-13 15:24] evilebottnawi commented on #1265
@davidtheclark i think this and https://github.com/stylelint/stylelint/issues/1226 difference issue, first we can close issue 1226 adding newline always, this issue i trying to help tomorrow or some late.

[2016-05-13 15:25] davidtheclark commented on #1265
Yes, #1226 can be addressed independently of the erroneous positions.

[2016-05-13 17:15] mikeerickson opened #1269 "Still receiving miscellaneous errors"
I am using Stylelint 6.3.3

I receive errors on the following rules

- color-no-named
- eclaration-block-no-single-line
- rule-no-duplicate-properties
- rule-no-shorthand-property-overrides
- rule-trailing-semicolon

Invalid Option: Unexpected option value "false" for rule "color-no-hex"
Invalid Option: Unexpected option value "false" for rule "selector-no-id"
Invalid Option: Unexpected option val

[2016-05-13 17:18] mikeerickson commented on #1263
Right!  I need to have run this through a json validation

Secondly, still think the idea of a `stylelint init` and have sensible defaults (which work out of the box)

[2016-05-13 17:18] #1263 closed

[2016-05-13 17:22] Arcanemagus commented on #1269
`false` isn't a valid value, perhaps you meant `null`?

https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#rules

[2016-05-13 17:55] davidtheclark commented on #1263
Are you thinking `stylelint init` would, like, just produce the JSON from `stylelint-config-standard` (which represents what we think are sensible defaults)?

[2016-05-13 18:45] mikeerickson commented on #1263
@davidtheclark Yes, that would be a good addition.  I am "thinking"

[code]
This would create a basic default config file which contains the most sensible defaults

Users could alternately extend with something like

[code]

Just a thought, could surely help with what appears to be very common issue (errors in .stylelintrc files)
And, if you want to make it even better (during init) provide option

[2016-05-13 18:47] mikeerickson commented on #1269
Well, I did not actually create these items.  They were "borrowed" from what someone else created

[code]

All the more reason for stylelint to produce sensible defaults.   I can assure you, if there were something like the `stylelint init` CLI command, I would have never seeked out something else.

If it works out of the box (and there are sensible defaults) I would have never gotten to this erro

[2016-05-13 18:48] davidtheclark commented on #1263
Interesting idea. If you want to raise it to other maintainers, feel free to open a feature request issue.

[2016-05-13 18:50] davidtheclark commented on #1269
Just to be clear: it worked as intended out of the box, with *no* defaults, as intended, for good reason. While a `stylelint init` idea is an interesting feature request, there would still be no absolute way to protect against people writing faulty configurations. In fact, I think our system of telling you precisely which configuration value is faulty is pretty good.

[2016-05-13 19:01] mikeerickson commented on #1269
@davidtheclark Oh, I totally agree.  Just saying, it would be nice to have a simple default config so one does not need to be created, etc.   It could all be done in 3 easy steps

[code]
You are surely free to do what you want, and I could easily create a gist with default config (which I have now done).

[2016-05-13 19:03] mikeerickson commented on #1269
@davidtheclark Oh, and next time (doubt I will get it wrong after learning what I did wrong).

apply a json linter to config

Also, what is difference between

[code]

[2016-05-13 19:03] mikeerickson commented on #1263
@davidtheclark

Would you take a PR for it?

[2016-05-13 19:05] mikeerickson opened #1270 "Support for either 2 or 4 spaces"
Is there a way to allow either 2 or 4 spaces for indentation, or is it one or the other.   I guess I could always remove `indentation` rule and not really worry about?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34211036-support-for-either-2-or-4-spaces?utm_campaign=plugin&utm_content=tracker%2F9282518&utm_medium=issues&utm_sourc

[2016-05-13 19:05] davidtheclark commented on #1263
I'd suggest opening an issue first so there's some period for discussion.

[2016-05-13 19:20] evilebottnawi commented on #1270
@mikeerickson
[code]

[2016-05-13 19:21] evilebottnawi commented on #1270
@mikeerickson or 4

[2016-05-13 19:23] mehcode commented on #1270
@evilebottnawi I believe that @mikeerickson is asking for an OR in the linting rules. Which (in my opinion) goes against the very thing linting is built to do, ensure consistency. There isn't a linter for any language that does this that I can recall.

@mikeerickson I'd pick one and just stick with it. If you're converting an existing codebase, look into https://github.com/morishitter/stylefmt

[2016-05-13 19:31] evilebottnawi commented on #1270
@mehcode misunderstood what you mean, autocorrect?

[2016-05-13 19:33] evilebottnawi commented on #1270
@mikeerickson you have and 2 and 4 spaces, right?

[2016-05-13 20:15] mikeerickson commented on #1270
@evilebottnawi I work with code as a team... Some devs use 2 spaces, while others use 4.  Getting them to decide on one is a battle I dont want to have.,

I think the best way to handle this situation in my case is to just disable the rule.  I always use the same as defined my team lead (2 js, 2 css, 4 php)

:-)

[2016-05-13 20:15] #1270 closed

[2016-05-13 20:16] mikeerickson commented on #1263
@davidtheclark Will do...

[2016-05-13 20:22] mikeerickson opened #1271 "Clarify "getting started" in the docs"
I started using Stylelint yesterday.  All in all, it was a pretty painless process.  The only thing that got me hung up was create the necessary `.stylelintrc` (or `.stylelint.config.js`) file.

I am proposing to add a new CLI command:

$ stylelint init

This would create a default `.stylelintrc` file containing sensible defaults.  As I have covered in other posts, the initial usage of Stylelint c

[2016-05-13 20:31] evilebottnawi commented on #1269
@mikeerickson close?

[2016-05-13 23:46] mehcode commented on #1270
I don't want to press or intrude .. but, this *is* a battle you want to have. Team consistency is key to a long-lived codebase. You don't want to read through a git diff that is 10% bugfix and 90% style _adjustments_ around the bugfix. A team should strive to code as a team. An outsider should not be able to tell (just from reading the code) that more than 1 person worked on it.

Some points to co

[2016-05-14 00:42] davidtheclark commented on #1270
@mikeerickson If you want 98% of rules to be the same but 2% to have variations, another possibility (besides turning the rule off) is to create a base config that both of the others extend. Team A could extend base and add `indent: 2`. Team B could extend base and add `indent: 4`. (I agree with @mehcode that it's better not to compromise like this; but if necessary `extends` is a powerful option

[2016-05-14 14:57] evilebottnawi commented on #1150
Done. Ref: https://github.com/postcss/postcss-scss/issues/30

[2016-05-14 14:57] #1150 closed

[2016-05-14 14:57] evilebottnawi commented on #1269
@mikeerickson ping

[2016-05-14 17:47] davidtheclark commented on #1269
Closing this issue because it's not a bug. The corresponding feature request is in https://github.com/stylelint/stylelint/issues/1271.

[2016-05-14 17:47] #1269 closed

[2016-05-14 18:51] davidtheclark commented on #1238
Looked into this a little, and found that there is some complexity to it.

`float: left` and `float: right` will cause all `display` values except `display: none` to be ignored. Looks to me like the system in the rule right now does not allow for this situation: the property `display` is not ignored, because `none` can be important; but most of `display`'s possible values *are* ignored.

This isn'

[2016-05-14 19:00] davidtheclark commented on #1238
After having a glass of water I've changed my mind a little.

The problem with the `properties-order` rule is that it may *always have shortcomings in many user's eyes*. It can't be "finished", the way something like `declaration-no-important` can be.

This rule is different. It can be "finished", in theory. So in that sense it's a better rule to keep in core. I guess because of the situation abov

[2016-05-14 19:01] evilebottnawi commented on #1256
Done in https://github.com/stylelint/stylelint/pull/1261

[2016-05-14 19:01] #1256 closed

[2016-05-15 00:09] hlomzik opened #1273 "Add ignore: ["empty-lines"] option to no-eol-whitespace"
The rule `no-eol-whitespace` checks for trailing whitespaces, which is very good. But it complains even about "blank" lines made of whitespaces only. There are some code styles which allow (or request) such behaviour (and some tools have settings for this): some questions about this ([1](http://stackoverflow.com/questions/15051201/indent-blank-lines-intellij-idea), [2](http://stackoverflow.com/que

[2016-05-15 00:39] hlomzik opened #1274 "Allow any rule to be disabled in inherited config"
When you want to use some rule set (by `extends: "stylelint-config-standard"`) and don't want to be disturbed by small subset of rules from this set (say, you don't agree with one rule), you can't achieve this, because the rules can not be disabled now.

There is should be a way to disable rule in config, which inherits from another config with this rule exists.

Any rule. Boolean rules can not be

[2016-05-15 02:24] davidtheclark commented on #1274
Any rule can be disabled with null.

[2016-05-15 03:46] mehcode commented on #1274
@davidtheclark I think the problem here (as this has popped up a few times recently) is that you're close enough to eslint in syntax for people to just not read the documentation and pretend this is eslint. Maybe we should have `false` work as `null`.

[2016-05-15 09:35] diagramatics commented on #1149
So I've done some investigating, and I think this issue can be handled the same way as my last LESS related issue #1077 and with @jeddy3's #1128 in `isStandardSelector`, or handle it as an `atRule` with the same logic as `checkAtRuleParams`.

Essentially with `checkValue` and `checkAtRuleParams` the indentation level of the parameters on the next newlines are raised by 1. LESS mixins don't get the

[2016-05-15 09:43] diagramatics commented on #1149
Interestingly, I've tested this code:
[code]

To test both a LESS mixin usage and a multiline declaration without `indentInsideParams: once` and the `color` declaration doesn't spit out errors, as well as the mixin usage which is expected. Have I uncovered a bug on `indentInsideParams` in the process?

[2016-05-15 13:16] evilebottnawi commented on #1274
@mehcode `false` is value and may used in config. I think read docs is right way.

[2016-05-15 13:36] blake-newman commented on #1265
I'm fairly sure it's possible, without too much work. Ill take a look into it some point next week, if that's okay. Maybe for now add in docs, as a caveat and then when we resolve any issue we can remove.

[2016-05-15 14:54] #1274 closed

[2016-05-15 14:56] davidtheclark commented on #1274
@mehcode We do load YAML -- that was just invalid JSON, not valid YAML. And I guess I'm not eager to make any changes to accommodate users not reading the docs.

[2016-05-15 15:21] hlomzik commented on #1274
Yeah, sorry, I'm ashamed, this is clearly pointed in docs, which I missed.

[2016-05-15 17:15] Nirazul commented on #1149
I'm not sure on what config and rules you've tested in your example. Maybe you could clarify this by adding this info to your post.

Concerning declaring indentation without `indentInsideParams` I've found this on the stylelint page:

So everything inside functions will be ignored.

[2016-05-15 18:32] evilebottnawi commented on #1232
@davidtheclark close?

[2016-05-15 18:34] evilebottnawi commented on #1071
@davidtheclark i think we should done this to v7, also https://github.com/stylelint/stylelint/issues/1101 done to v7

[2016-05-15 18:39] #1232 closed

[2016-05-15 18:39] davidtheclark commented on #1232
Will be released in v7.

[2016-05-15 18:39] davidtheclark commented on #1071
Why, if these are not breaking changes?

[2016-05-15 18:52] evilebottnawi commented on #1071
@davidtheclark be good complete this issue, since they are already well hang time

[2016-05-15 19:09] davidtheclark commented on #1127
What if we made this happen:

By default we look for `.stylelintignore` in `cmd` (the dir you ran the command from), no matter what. Otherwise (like [ESLint](http://eslint.org/docs/user-guide/command-line-interface#ignoring-files)) you could use an `--ignore-path` variable to specify the file.

Sound good?

[2016-05-15 20:29] davidtheclark commented on #1163
Sure, PR welcome.

[2016-05-15 21:43] ndarville commented on #1127
Fine by me. :)

[2016-05-16 07:27] jeddy3 commented on #1101
Yep, you're right. Lets knock `animation-timing-function` off the list.

[2016-05-16 08:17] #570 closed

[2016-05-16 10:08] ntwb commented on #1269
@mikeerickson wrote:

See https://github.com/davidtheclark/cosmiconfig#differences-from-rc

[2016-05-16 10:15] evilebottnawi commented on #1255
@jeddy3 @davidtheclark we should revise the rule, because (with space after)
[code]
is valid construction for pseudo-elements.

[2016-05-16 10:45] ntwb commented on #1136
Working on a pull request now...

[code]

[2016-05-16 10:49] evilebottnawi commented on #1136
@ntwb strange i get other values https://github.com/stylelint/stylelint/pull/1237

[2016-05-16 10:58] ntwb commented on #1136
Why wasn't that pull request linked to this issue? I had no idea work had already been started on this.

[2016-05-16 11:03] evilebottnawi commented on #1136
@ntwb it is was PoC and not everything works correctly, feel free close PR and create new :+1:

[2016-05-16 11:06] evilebottnawi commented on #1255
With pseudo classes always invalid space before and after. May be rename to selector-pseudo-classes-colon-no-space-around?

[2016-05-16 11:09] evilebottnawi commented on #1137
@jeddy3 That do you think if we modify `string-quotes` for work this attribute selectors?

[2016-05-16 11:12] ntwb commented on #1136
@evilebottnawi It shouldn't matter if it is a PoC or not, they should **always** link to the issue if one exists.

I or any other contributor would then be able to read this issue and then start working on creating a pull request, **or** click the link to any in WIP or PoC pull request by either reviewing or enhancing that pull request.

[2016-05-16 11:16] evilebottnawi commented on #1136
@ntwb I did the work and found that it was not entirely correct, so do not put that work on it, so that others could also try to solve this problem. If there was valuable information on this issue, it would immediately linked here.

[2016-05-16 11:23] ntwb commented on #1136
Other people may be working on the same thing duplicating effort when it could be better spent on a task that no one else is working on, it is simply a best practice to link to whatever is being worked on.

It does not matter if it works or not, good or bad, as you said _"it was not entirely correct"_, if it was linked here someone else may have been able to help had they known it existed. 😄

[2016-05-16 11:27] evilebottnawi commented on #1136
@ntwb well, I try to no longer make such a mistake

[2016-05-16 13:22] ntwb opened #1282 "Incorrect warnings with `no-extra-semicolons` rule"
A bug where the expected warning returned is unexpected 😏

This is more of an issue with _semicolon_ rules used in tandem are confusing each other (I think)

These 3 rules
• `no-extra-semicolons`
• `block-closing-brace-newline-before`
• `declaration-block-semicolon-newline-after`

[code]

[code]

`6.3.3`

CLI with `stylelint test.css --config .teststylelintrc`

No

I expected the following warning

[2016-05-16 13:30] evilebottnawi commented on #1282
@ntwb i get
[code]

[2016-05-16 13:30] evilebottnawi commented on #1282
@ntwb `declaration-block-semicolon-newline-after` false positive

[2016-05-16 13:39] ntwb commented on #1282
Yes, a false positive, I suspect similar occurrences when used with all 7 *semicolon* rules

[2016-05-16 13:41] evilebottnawi commented on #1282
@ntwb i correct this in `block-closing-brace-newline-before` https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#633. Now see how this may fix.

[2016-05-16 13:47] ntwb commented on #1282
Just double checked via `npm list --depth=0` I'm using stylelint `6.3.3` and I get:

[code]

Using:
[code]

Via CLI `stylelint test.css --config .teststylelintrc`

[2016-05-16 13:49] evilebottnawi commented on #1282
@ntwb have found a solution in the near future will do PR :smile_cat:

[2016-05-16 13:50] ntwb commented on #1282
A variation, without the `block-closing-brace-newline-before` rule, the same warnings:

[code]

Using:
[code]

Via CLI `stylelint test.css --config .teststylelintrc`

[2016-05-16 14:00] davidtheclark commented on #1255
Or we could just make `selector-pseudo-colon-no-space-after`

[2016-05-16 14:01] ntwb opened #1284 "Add font-family-no-duplicate-names rule"
A new rule to detect duplicate font names used in `font` or `font-family` properties

`font-family-no-duplicate-names`

`a { font-family: 'Times', Times, "serif", serif; }`
`b { font: normal 14px/32px -apple-system, BlinkMacSystemFont, sans-serif, sans-serif;`

`a { font-family: Times, serif; }`
`b { font: normal 14px/32px -apple-system, BlinkMacSystemFont, sans-serif;`

[2016-05-16 14:02] davidtheclark commented on #1137
So you're proposing we modify string-quotes so that it ignores attribute selectors, then add this new rule, right?

[2016-05-16 14:07] evilebottnawi commented on #1137
@davidtheclark I see two variants:
1. `string-quotes` ignore attributes selector
2. `string-quotes` add option for check attribute selector

[2016-05-16 14:09] evilebottnawi commented on #1255
@davidtheclark for pseudo-classes invalid and before. Maybe
1. `selector-pseudo-classes-colon-no-space-before`
2. `selector-pseudo-classes-colon-no-space-after`
3. `selector-pseudo-element-colon-no-space-after`
?

[2016-05-16 14:13] davidtheclark commented on #1284
Sure! (I'm assuming this request means you ran across this problem in your codebase?)

[2016-05-16 14:15] davidtheclark commented on #1137
I think we should do the same thing we do with `url()`s (which we should document, BTW), which is just ignore them in string-quotes. If the user wants to check them, it is just as easy to say "Use this other rule" as to say "Use this option", I think.

Do we think that attribution quotes will be the only other exception — just urls and attributes? Are there other special cases for quotes lurking i

[2016-05-16 14:16] davidtheclark commented on #1255
Might be simpler with:
- `selector-pseudo-colon-no-space-after`
- `selector-pseudo-classes-colon-no-space-around`

[2016-05-16 14:17] evilebottnawi commented on #1137
@davidtheclark
[code]

[2016-05-16 14:18] evilebottnawi commented on #1255
@davidtheclark `selector-pseudo-classes-colon-no-space-around` sound good, but `selector-pseudo-colon-no-space-after` may duplicate errors from the previous rules.

[2016-05-16 14:22] jeddy3 commented on #1284
Sgtm.

- Name: `font-family-no-duplicate-names`
- Primary options: `true`
- Secondary options: none
- Message: `Unexpected duplicate name ${name} `
- Section: "Font family" [ref](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md#font-family)

I think the rule should be called `font-family-no-duplicate-names` as [it applies](https://www.w3.org/TR/css-fonts-3/#propdef-font-

[2016-05-16 14:22] davidtheclark commented on #1137
Why would that be special cased?

[2016-05-16 14:24] evilebottnawi commented on #1137
@davidtheclark quickly I read sorry)
We add options `checkUrl`, `checkAttributes` right?

[2016-05-16 14:28] ntwb commented on #1284
Indeed, sneaky little [`sans-serif`](https://core.trac.wordpress.org/changeset/37419) 😏

[2016-05-16 14:29] #1071 closed

[2016-05-16 14:30] evilebottnawi commented on #1136
Done in https://github.com/stylelint/stylelint/pull/1279

[2016-05-16 14:30] #1136 closed

[2016-05-16 14:47] evilebottnawi commented on #1163
Done in https://github.com/stylelint/stylelint/pull/1277

[2016-05-16 14:47] #1163 closed

[2016-05-16 15:00] jeddy3 commented on #1273
Sounds good to me.

[2016-05-16 15:41] evilebottnawi commented on #1183
@jeddy3 close issue?

[2016-05-16 15:52] jeddy3 commented on #1271
`stylelint-config-standard` is where we maintain a list of rules with sensible defaults, that we recommend extending.

So, I guess we could have:

[code]

Where `stylelint init` creates a `.stylelintrc` file in the cwd with:

[code]

[2016-05-16 16:05] jeddy3 commented on #1255
[code]

Is that really valid? Wow.

Sounds like there's three things going on here.

1. Disallowing *invalid* spaces in *pseudo-classes*.
2. Disallowing *invalid* spaces in *pseudo-elements*.
2. Allowing a user to specify a space or no space before the colon in *pseudo-elements*.

Does that sound about right? If so, does the following sound?:

- `selector-pseudo-class-colon-no-invalid-space: true`

[2016-05-16 16:07] evilebottnawi commented on #1255
@jeddy3 valid in SCSS, we get
[code]
And non valid in CSS.

[2016-05-16 16:11] davidtheclark commented on #1255
@evilebottnawi I don't think that's valid. I tried it and it compiles to the same thing: `a :hover {}` -> `a :hover {}` — which means it's outputting invalid CSS.

@jeddy3 I think the space before the pseudo-element is "valid" because it just means "Target the `::before` pseudo-elements", not that it's the equivalent of having no space. `a ::before {}` !== `a::before {}`. Right, @evilebottnawi?

[2016-05-16 16:12] evilebottnawi commented on #1255
@davidtheclark right

[2016-05-16 16:13] jeddy3 commented on #1236
Agreed. We're normally very good at correctly categorising changelog items (e.g. fixes vs breaking changes), but, as you said, we got this one wrong.

I can't think of any, so I'm going to close this issue for now. @dzhiriki Feel free to reopen if any other instances spring to mind.

[2016-05-16 16:13] #1236 closed

[2016-05-16 16:14] evilebottnawi commented on #1255
@davidtheclark but, if who used this construction, usually made mistake, where rarely used

[2016-05-16 16:16] davidtheclark commented on #1255
I like `selector-pseudo-colon-no-space-after` because that's always invalid.

How about for the other situation a rule like `selector-no-simple-pseudo`, or a better name? This would disallow either pseudo type with a space before it.

[2016-05-16 16:19] jeddy3 commented on #1228
I'm very much the same. I can see the how we could create something (whether it's a tool or a documentation system) that would benefit users in this situation, but I think the changelog is good enough (and why we maintain one).

New users aren't affect by this and existing users can read the changelog from the version they're upgrading from. We list the new rules at the top of each release changel

[2016-05-16 16:20] davidtheclark commented on #1228
@dan-gamble Interested in taking this on? If not, I'd agree with @jeddy3 that we should close it, or else it will just sit here and stagnate.

[2016-05-16 16:21] evilebottnawi commented on #1255
@davidtheclark
Then may be we add option `ignorePseudoElement` (or better name), for disable checks space before pseudo elements?

[2016-05-16 16:24] jeddy3 commented on #1183
Yep. I'm just working my way down though the issues and I've finally arrived here :)

[2016-05-16 16:24] #1183 closed

[2016-05-16 16:32] evilebottnawi commented on #1101
@jeddy3 I can not find an example of customs idents with `will: change`.

[2016-05-16 16:34] mikeerickson commented on #1271
@jeddy3 at a minimum, yes.

There seems to be some "confusion" as to where config files are stored

[code]
I know it seems trivial, but thinking the "init" command could also be extended to create a config file which contains sensible defaults as opposed to requiring the `stylelint-config-standard`

Thanks for considering...

Now that I have undestood what it takes to get stylelint configured for

[2016-05-16 16:41] jeddy3 commented on #1101
https://developer.mozilla.org/en/docs/Web/CSS/will-change ?

[2016-05-16 16:44] evilebottnawi commented on #1101
Indicates that the author expects to animate or change the property with the given name on the element in the near future.

All properties valid and lower and upper.

[2016-05-16 16:49] jeddy3 commented on #1101
Actually, you're right. Lets skip `will-change`.

[2016-05-16 17:10] cookch10 commented on #1150
@evilebottnawi, will you be publishing a new release to include this fix?

[2016-05-16 17:12] evilebottnawi commented on #1150
@cookch10 sorry, not now, in the near future I think we will release a new version :tada:

[2016-05-16 17:18] jeddy3 commented on #950
Feel free to start with using that library (as it'll get you up and running more quickly). We can revisit its inclusion again during the Pull Request stage.

[2016-05-16 17:23] evilebottnawi commented on #950
@jeddy3 i think be good have this repo in stylelint org, this would allow to react quickly and to add properties

[2016-05-16 17:25] evilebottnawi commented on #950
@jeddy3 And in the future it is possible to use the same repo for `declaration-no-invalid`

[2016-05-17 00:50] davidtheclark opened #1294 "Is v7 the next release?"
@stylelint/core Are we going to get any releases out before v7?

I would say that we should release all the fixes and additions we have now, but for this one:

We've determined that that's actually a *breaking change* that should cause a major release.

So I guess we could either try to move that particular change over to the `v7` branch, or commit ourselves to our next release being v7.

Thoughts

[2016-05-17 00:56] ntwb commented on #1294
It has taken me a while to truly grok semantic versioning but now that I do I think it is fine to release all outstanding fixes and additions in a version `7.0.0` release, there doesn't have to be anything _special_ about a new `X.0.0` release, its just a number used by machines...

[2016-05-17 01:27] ntwb commented on #1150
@cookch10 No need for a new release, if you run `npm update` that should update the stylelint `postcss-scss` dependency to this new `v0.1.8` version of `postcss-scss` 😄

[2016-05-17 04:31] ntwb opened #1295 "Add support for vendor prefixed system fonts in `font-family-name-quotes`"
Currently vendor prefixed "system fonts" such as `-apple-system` are not fully supported

`font-family-name-quotes`

[code]
** Depending on the `font-family-name-quotes` rule configuration the CSS font names above will be quoted differently, single, or double, or none etc

Both these configurations:
1. `"font-family-name-quotes": "single-unless-keyword"`
2. `"font-family-name-quotes": "double-unle

[2016-05-17 04:53] ntwb commented on #1295
_An aside fun fact and which is how the above started is if `-apple-system` is used as the first font in the stack when using the shorthand `font` property then the fonts won't be applied in Microsoft Edge_ 😖

_The issue has been raised with Microsoft and we're waiting a response..._

[2016-05-17 08:24] evilebottnawi commented on #1294
@davidtheclark i agree with @ntwb

[2016-05-17 08:46] dan-gamble commented on #1228
Yea i think closing it for now is okay, i'm not sure what type of tool could be built (from my PoV) to aid this. If i can think of something in the future that would help me with this upgrade (if i face it again, again i'm pretty sure i'm in a very small niche for this) i'll shout :)

[2016-05-17 08:46] #1228 closed

[2016-05-17 11:39] jeddy3 commented on #1294
I agree with this.

[2016-05-17 13:39] davidtheclark commented on #1295
Is `-apple-system` the only possibility that we need to accommodate, or are there others?

[2016-05-17 13:42] davidtheclark commented on #1294
Well, I mostly agree. It's not just used by machines, though: it's used by people upgrading dependencies. And a major upgrade means they need to put more work into figuring out what changed and whether it affects them. Major releases is that they are typically more annoying to users — that's why it's better not to have a ton of them.

After all the above, though — is what ya'll are saying that we

[2016-05-17 13:47] davidtheclark commented on #1273
No, let's call it `empty-lines`, though, instead of `blank-lines`.

[2016-05-17 13:52] cookch10 commented on #1150
@ntwb, thanks for that! :thumbsup:

[2016-05-17 13:55] davidtheclark commented on #1137
I do not think we should add those options. If we have separate rules to check urls and attributes, string-quotes should just ignore them rather than duplicate the behavior.

What I'm asking is: Does this stop at urls and attributes? Or are we going to end up making more exceptions and tearing string-quotes apart?

[2016-05-17 14:29] evilebottnawi commented on #1284
@ntwb @jeddy3 @davidtheclark  `"sans-serif"` and `sans-serif`(other values too) are difference fonts, it is not correctly, probably is a typo, but you can see this if write css `font-family: "sans-serif"` and then remove quotes(you see what font is really difference).

[2016-05-17 16:04] jeddy3 commented on #1294
Good point.

How difficult is it to pull this fix out of `master` and into the `v7` branch? If it's not difficult then I think we can continue using the `v7` branch for breaking changes/fixes (there's a few issues with the `7.0.0` milestone that can be worked on leisurely), as it seems to be the best balance between work for us and work for the users.

[2016-05-17 16:07] davidtheclark commented on #1294
I can try this later tonight.

[2016-05-17 16:07] jeddy3 commented on #1273
@hlomzik Thanks for the suggestion and clear write-up. Feel free to contribute this option. There's [a section](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#adding-options-to-existing-rules) in the Developer Guide on how to get started.

[2016-05-18 00:06] ntwb opened #1298 "Docs: Support `stylelint-plugin` and `stylelint-config` package keywords"
Currently an unofficial practice is to label stylelint plugins in `package.json` with the keyword `styelelint-plugin`, likewise for shared configs with `stylelint-config`, we should document this and make these as a standard for stylelint plugins and shared configs

Tasks `stylelint-plugin`:
- [ ] Add docs and link to https://www.npmjs.com/browse/keyword/stylelint-plugin on the http://stylelint.io

[2016-05-18 00:16] ntwb commented on #1295
Via https://webkit.org/blog/3709/using-the-system-font-in-web-content/

[code]

Consideration for `BlinkMacSystemFont` also may need to be taken into account.

Further reading:
• http://stackoverflow.com/a/32660790/1911294
• https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/

[2016-05-18 00:24] ntwb commented on #1137
Maybe this is one such lurker...

When using `"string-quotes": "double"` but are **not** using `font-family-name-quotes` and you have this CSS `a { font-family: 'Helvetica Neue'; }` you will get a `Expected double quotes   string-quotes` warning

[2016-05-18 00:26] ntwb commented on #1284
Correct, yes, I believe `"sans-serif"` is treated as a different font to `sans-serif`

[2016-05-18 00:31] ntwb commented on #1294
Right, I think now that we are a little more conscious of breaking changes we *could* hold off on a v7 release until there are a few more breaking changes to release in v7 and continue for now with a few more minor 6.x.x releases until that time.

[2016-05-18 04:30] davidtheclark commented on #1294
I think I took care of it (with the pending PR). Please review, and if you feel like it's suitable maybe cut a release with the bug fixes and feature additions?

[2016-05-18 04:30] #1294 closed

[2016-05-18 06:42] ntwb commented on #1294
:+1:

[2016-05-18 14:22] mathilde-pellerin opened #1303 "Bug: unit-no-unknown raise warning on hexa color"
`unit-no-unknown` raise warning on hexa color.

`unit-no-unknown`

[code]

[code]

Stylelint version: 6.4.0

Stylelint running using PostCSS plugin for Gulp.

no

No warning on hexa colors.

The following warnings were flagged:

[code]

[2016-05-18 14:25] evilebottnawi commented on #1303
@mathilde-pellerin Fixed in https://github.com/stylelint/stylelint/pull/1302. Ready 6.0.1 :+1:

[2016-05-18 14:25] #1303 closed

[2016-05-18 14:27] mathilde-pellerin commented on #1303
That was quick 👍
Thanks!

[2016-05-18 15:18] EvNaverniouk commented on #674
If anyone comes across this issue and figures out a way to get `stylus` to work with `stylelint`, can you please post your solution? I wasn't having much luck with either `poststylus` or the CLI approach.

[2016-05-18 15:22] evilebottnawi commented on #674
@EvNaverniouk need `postcss-stylus` parser (as `postcss-scss` and `postcss-less`).

[2016-05-18 15:45] apascal opened #1306 "Unexpected error with `unit-no-unknown` on custom property variable with hex value"
A bug where an unexpected error is triggered when using custom variable with hexadecimal value starting with one or several leading numbers (eg. `#1a1a1a` or `#12b`).

Note: if the leading character is a letter, or the hex value is between quotes, or there are no letters at all, no error is triggered.

`unit-no-unknown`

[code]

`6.4.0` with stylelint-config-standard `7.0.0`
No error was triggered

[2016-05-18 15:46] evilebottnawi commented on #1306
@apascal fixed in `6.4.1`, please update package.

[2016-05-18 15:46] #1306 closed

[2016-05-18 15:50] apascal commented on #1306
Thx for the quick fix !

[2016-05-18 16:08] jeddy3 commented on #1238
This is a very valid consideration. I'm in a similar boat. I'm going to be returning to full-time work soon. It's very likely I'll need to limit my stylelint hours. As an aside, it feels a little like a mini-era is coming to an end. We've put so much into stylelint this last year, and now it feels like we're entering a new stage. I think that this is the time to think about how the project can be

[2016-05-18 16:15] davidtheclark commented on #1238
Cool! I will also be less available for 3 weeks starting Monday. I'm going backpacking for one week and then spending 2 weeks traveling to start my new job. Let's try to make sure we have things in a stable state before Monday, then!

I'm in favor of this — simplifying declaration-block-properties-order in core and extracting the rest into a plugin. We'll have to find a maintainer for that plugin.

[2016-05-18 16:17] evilebottnawi commented on #1238
@jeddy3 i have idea how rewrite rule more correct and include all properties and values from specification. I think this rule like `no-unsupported-browser-features`. `no-unsupported-browser-features` based on `caniuse` and one time have no errors, after little time throw errors (and i think it is normal), we have `severity` and options for CI be green. `declaration-block-no-ignored-properties` i p

[2016-05-18 16:21] evilebottnawi commented on #1238
@davidtheclark i agree with `indentation` we should extracting the hierarchical selectors part into a plugin.

[2016-05-18 16:22] jeddy3 commented on #1238
Nice! Have a great time :)

Sgtm.

Agreed.

[2016-05-18 16:25] evilebottnawi commented on #1238
@davidtheclark @jeddy3 Who will review my code? :sob:

[2016-05-18 16:34] jeddy3 opened #1308 "Deprecate emptyLineBefore option in declaration-block-properties-order"
Feature to be moved into a plugin (e.g. `block-structure`). Include request for maintainer in deprecation notice.

Anyone fancy giving a home this plugin?

[2016-05-18 16:34] davidtheclark commented on #1238
Do we want to try to get v7 out before next Monday, or should we hold off on that because it's a little dangerous?

[2016-05-18 16:34] davidtheclark commented on #1238
I'm thinking maybe we should hold off on it.

[2016-05-18 16:35] jeddy3 opened #1309 "Deprecate hierarchicalSelectors option in indentation"

[2016-05-18 16:41] evilebottnawi commented on #1308
@jeddy3 Many people like to sort properties and padding between them as they want, I do not think it's a good idea.

[2016-05-18 16:42] jeddy3 commented on #1238
I'm down with this. Shall we add deprecation warnings before Monday though? Perhaps giving someone the chance to start on, for example, the `block-structure` plugin in our absence?

@evilebottnawi You can take some time off stylelint too, if you like? :) We can pick things back up in a couple of weeks.

[2016-05-18 16:42] evilebottnawi commented on #1309
@jeddy3 I support this idea.

[2016-05-18 16:44] evilebottnawi commented on #1238
@davidtheclark @jeddy3 v7 can wait. It is really dangerous.

[2016-05-18 16:48] jeddy3 commented on #1308
Hopefully that means that someone will step-up and offer to maintain the plugin outside of the stylelint org. There are [a](https://github.com/stylelint/stylelint/issues/973) [couple](https://github.com/stylelint/stylelint/issues/705) [of](https://github.com/stylelint/stylelint/issues/752) of enhancements that could be housed in such a plugin.

[2016-05-18 16:56] jeddy3 opened #1310 "Remove deprecated features"
- [x] `emptyLineBefore` option in `declaration-block-properties-order`
- [x] `hierarchicalSelectors` option in `indentation`
- [x] `cssWordIsVariable` util
- [x] namespaceless plugin rule names
- [x] contextual quote rule options

[2016-05-18 16:57] jeddy3 opened #1311 "Throw configurationError for namespaceless plugin rule names"

[2016-05-18 17:01] evilebottnawi commented on #1308
@jeddy3 I think this rule is to leave this for what it is in the core. Unfortunately, there is no one there to maintaining it is not in the core :cry:. For `at-rule` and `pseudo` order i think we can have other rules (example `declaration-order` or better name). Almost all the other css linters have same options and after remove this options, we again received a request to add this into the core a

[2016-05-18 17:03] jeddy3 commented on #769
@davidtheclark As discussed in https://github.com/stylelint/stylelint/issues/1238#issuecomment-220076444, shall we move this to a plugin as "misaligned" is ambiguous.

[2016-05-18 17:08] davidtheclark commented on #769
Yes I think so.

[2016-05-18 17:09] jeddy3 commented on #1308
If people need it they will maintain it. The issue is that it's an open-ended rule. It'll never be "finished". If it's a plugin then people can more easily fork and add features for their needs etc.

I think that's a legacy of, up until recently, non of the other linters supporting plugins. We have this feature. It's powerful feature. One we should use to make this project sustainable.

[2016-05-18 17:10] #769 closed

[2016-05-18 17:16] evilebottnawi commented on #1308
@jeddy3 Why will never be "finished"?

[2016-05-18 17:18] evilebottnawi opened #1312 "declaration-block-max-empty-lines"
What do you think about this? If we deprecated "group objects", this support control count empty lines.

[2016-05-18 17:28] evilebottnawi opened #1313 "Create per-thing (selector, property etc) basic*Test utils"
This would help reduce the number of unnecessary tests, as well as the added control of possible errors.

[2016-05-18 17:50] davidtheclark commented on #1313
Can you describe what specific tests to add and why? Lots of the ways we look out for those things seem rule-specific.

[2016-05-18 17:58] evilebottnawi commented on #1313
@davidtheclark standard check ignore all variables, interpolation (maybe add more). In all rules we ignore this, why not include in basic check?

[2016-05-18 18:09] davidtheclark commented on #1313
How do we know generically which CSS constructs to check for variables or interpolation?

[2016-05-18 18:13] evilebottnawi commented on #1313
@davidtheclark or we may create `basicChecksLess`, `basicChecksScss` and include their where need?

[2016-05-18 18:14] davidtheclark commented on #1313
I'm just saying that I don't understand what these would look like. I will need to see some code to understand.

[2016-05-18 18:17] evilebottnawi commented on #1313
@davidtheclark
basicSelectorsChecksScss
[code]
Also for unit, at-rule and etc?

[2016-05-18 18:19] evilebottnawi commented on #1313
It would save time on testing.

[2016-05-19 01:54] davidtheclark commented on #1313
Only rules that check selectors should bother with this, though, right? Which is not the majority of rules.

Maybe we should just conventionalize another way to reuse common tests like this. We could create objects in `testUtils/` that tests could import and use?

[2016-05-19 01:55] davidtheclark commented on #1312
Could you explain why you want this instead of using `max-empty-lines`?

[2016-05-19 02:02] davidtheclark commented on #1308
As soon as this rule stepped away from the basic use-case (which it did with groups), I think it opened the door to unlimited preferences. Some people will want their unspecified properties on top, others on bottom; some alphabetized, some not; some with spaces between groups; others without; some with spaces between groups and unspecified properties; others without; some with vendor-prefixes alph

[2016-05-19 02:03] davidtheclark commented on #1311
Agreed.

[2016-05-19 02:04] davidtheclark commented on #1309
Agreed.

[2016-05-19 02:06] davidtheclark commented on #940
We've decided to deprecate this feature of indentation because it is a lot of added complexity for a very specific and not-too-widespread practice (https://github.com/stylelint/stylelint/issues/1309). Not saying it's a *bad* practice, just that it's probably not a good use of the core team's time to maintain this feature.

If you would like to create a plugin that enforces hierarchical indentation

[2016-05-19 02:06] #940 closed

[2016-05-19 02:07] davidtheclark commented on #1295
Ok, thanks @ntwb. Seems like we should detect fonts that start with `-[a-z]+-` and treat them the same way we treat keyword fonts like `serif` and `fantasy`. Does that sound right?

[2016-05-19 02:15] davidtheclark commented on #1271
I think if `stylelint init` just creates a JSON object that extends `stylelint-config-standard`, it is not worth implementing. I am not interested in building features to shorten an already trivial task.

I also am not a big fan of the idea that it just copy-pastes that config from `stylelint-config-standard`, because that is also a trivial task. Maybe we should ensure there is a prominent link to

[2016-05-19 02:17] davidtheclark commented on #1208
What is the status of this?

[2016-05-19 02:18] davidtheclark commented on #1144
I think this is important. I'm going to add it to the 7.0 milestone.

[2016-05-19 02:19] davidtheclark commented on #1137
@ntwb If you *are* using `font-family-name-quotes` you still get that warning, right?

[2016-05-19 02:20] davidtheclark commented on #1137
I think the only good reason to add this rule is if there are people who want to enforce *no quotes* around attribute values. Otherwise it's just inconsistency, right?

Is that what you need, @evilebottnawi — to enforce *no quotes* around attribute values?

[2016-05-19 02:21] davidtheclark commented on #1127
Seems important. Adding this to 7.0 milestone.

[2016-05-19 02:24] davidtheclark commented on #973
Based on recent discussions (e.g. https://github.com/stylelint/stylelint/issues/1308) I'm thinking this should be implemented in a plugin, not in core. It mostly involves non-standard syntax, and it's wide open to bugs and preferential quirks. @stylelint/core what do you think?

[2016-05-19 03:07] mikeerickson commented on #1271
I think your mention of improving documentation would more than suffice.  I do agree, it is indeed trivial to get started (just a bit of clarification in docs)

[2016-05-19 08:04] jeddy3 commented on #1271
User's have different preferences to where they like to store their configs, which we try to accommodate. `cosmiconfig`, which stylelint uses, [supports](https://github.com/davidtheclark/cosmiconfig#cosmiconfig) a few of these.

I'm not sure why you'd want to do this. [`extends`](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#extends) is a powerful feature. It

[2016-05-19 08:16] jeddy3 commented on #1313
This sgtm.

I also agree that breaking them down by *thing* would be prudent e.g. `basicSelectorTests`, `basicPropertyTests`, `basicAtRuleTests`, `basicValueTests`. It's then a little clear which object to reach for when creating a new rule.

[2016-05-19 08:24] jeddy3 commented on #1312
@evilebottnawi Is `declaration-empty-line-before: "always"|"never"` what you're after?

We have two sets of rules for controlling empty lines: the `*-empty-line-before` and the `*-max-empty-lines` rules.

The `*-max-empty-lines` are used when the *thing* can't be broken down into smaller pieces (e.g. a function or selector). As a *block* can also contain nested rules and at-rules, then I think `de

[2016-05-19 08:26] jeddy3 commented on #1295
Sgtm

[2016-05-19 08:27] jeddy3 commented on #1144
Agreed.

[2016-05-19 08:45] evilebottnawi commented on #1313
@davidtheclark @jeddy3 `help wanted` and `feature`?

[2016-05-19 08:47] evilebottnawi commented on #1312
@jeddy3 how about `declaration-empty-line-after`?

[2016-05-19 08:49] evilebottnawi commented on #1308
@jeddy3 @davidtheclark We reserve rule as is, or deprecate "group objects"?

[2016-05-19 08:50] evilebottnawi commented on #1137
@davidtheclark yep

[2016-05-19 08:51] evilebottnawi commented on #1208
@davidtheclark
I was given, if it is necessary to invite someone write nicknames
I create PR today and we can close this issue

[2016-05-19 08:52] evilebottnawi commented on #973
@davidtheclark i think we should have basic plugin in core for order this, without considering non standard syntax.

[2016-05-19 08:53] jeddy3 commented on #1137
Agreed.

I can't think of any (but see below on how we might mitigate this problem).

I think he's after single quotes for strings (including those in `url()`), but double quotes around attribute values.

I think that's the key issue here. Do attribute selector quotes need to match those in the HTML? If not, then it's a bit odd to add inconsistency because [they are *strings*](https://drafts.csswg

[2016-05-19 08:54] evilebottnawi commented on #1308
@davidtheclark i think we can finish a rule, in order to fully cover all the required options are not many, perhaps the rule will not be easy, but who said it would be easy

[2016-05-19 08:54] jeddy3 commented on #1137
FYI, that would be `selector-attribute-quotes: "always"|"never"` using the proposal above.

[2016-05-19 08:59] evilebottnawi commented on #1137
@jeddy3 This is not a simple rule, I probably would suggest breaking it down into rules `function-url-quotes`, `selector-attrube-quotes` and etc. It may seem strange, but to maintain such rules will be much simpler to configure and will allow any detailed quotes and where to use

[2016-05-19 09:05] jeddy3 commented on #1312
`*-before` is the convention.

[2016-05-19 09:09] evilebottnawi commented on #1312
@jeddy3 Can give example in code?

[2016-05-19 09:11] jeddy3 commented on #1208
@evilebottnawi I'm "jeddy3" - please invite me as admin.

[2016-05-19 09:18] evilebottnawi commented on #1208
@jeddy3 Give `Email or PersonID` and i send invite :smile:

[2016-05-19 09:49] evilebottnawi commented on #962
@jeddy3 i think best solution for this is plugin. Rare usage.

[2016-05-19 10:08] vn38minhtran opened #1316 "Error: only one instance of babel-polyfill is allowed"
After upgrade `stylelint` to version 6.4.x my project throw error when buid.
Error:
[code]
My project use `stylelint` via [stylelint-webpack-plugin](https://github.com/vieron/stylelint-webpack-plugin) with webpack@1.x and babel@5.x

[2016-05-19 10:19] ntwb commented on #1137
Yes, everything here works as expected, just wanted to mention a case where once one rule is removed another rule will report on the same code.

@jeddy3 I like your idea of the simplification of the *quotes* rules to all share the `string-quotes` single or double option, one concern I have (not that I can think of any cases off the top of my head) is that if the options are deprecated for those ru

[2016-05-19 10:36] ntwb commented on #1295
Yes, sounds good 👍

[2016-05-19 10:46] ntwb commented on #1208
Both @davidtheclark & I @ntwb email addresses are on our profiles:
• https://github.com/davidtheclark
• https://github.com/ntwb

@jeddy3 Doesn't list his email address publicly

@evilebottnawi If you add David as an admin then he can (presuming he has Richards email address) then add Richard as an admin 😏

[2016-05-19 10:53] evilebottnawi commented on #1208
@ntwb i add @davidtheclark already, send you invite.

[2016-05-19 11:03] jeddy3 commented on #962
I dunno. I'd use it :)

It also has a clear end-state.

[2016-05-19 11:04] ntwb commented on #1208
Sweet, looks good, @davidtheclark if you have @jeddy3's email inviting should be straightforward from the looks of it :)

[2016-05-19 11:08] jeddy3 commented on #1137
Yep, that is a con to this approach. It's hard to imagine ever wanting that inconsistency though.

[2016-05-19 11:10] jeddy3 commented on #1208
I requested an invite via the bountysource website. Hopefully it goes to one of you guys.

[2016-05-19 11:12] evilebottnawi commented on #1208
@jeddy3 i don't see you invite

[2016-05-19 11:13] evilebottnawi commented on #1208
@jeddy3 maybe throw email be faster

[2016-05-19 11:15] jeddy3 commented on #1208
@evilebottnawi bountysource@richardhallows.com

[2016-05-19 11:16] evilebottnawi commented on #1208
@jeddy3 done

[2016-05-19 11:17] ntwb commented on #1238
Holidays and jobs, awesome 🎉

Maybe wait a few weeks before dropping v7, no need to hurry it out the door 😄

[2016-05-19 11:17] jeddy3 commented on #1208
Thanks

[2016-05-19 11:25] #1208 closed

[2016-05-19 11:37] evilebottnawi commented on #1208
@jeddy3 I think we should merge label before close :)

[2016-05-19 11:41] jeddy3 commented on #1308
Agreed.

I think the rule was built before we even had a plugin system :)

I think we should deprecate and nip this one in the bud before it festers. I think it'll help keep the project sustainable, and I strongly believe that's our most pressing concern here.

There are three outstanding issues related to this rule: https://github.com/stylelint/stylelint/issues/973, https://github.com/stylelint/s

[2016-05-19 11:48] ntwb commented on #674
@EvNaverniouk Maybe create a new issue https://github.com/seaneking/poststylus, there is an existing closed issue but I don't think that was actually resolved https://github.com/seaneking/poststylus/issues/13

[2016-05-19 11:56] evilebottnawi commented on #1308
@jeddy3 agree, lets deprecate "group objects".

[2016-05-19 12:06] jeddy3 commented on #1298
I agree we should add documentation to the developer guides.

We need to discuss the benefits of having a curated list of plugins and configs though.

The only reasons I can see for preferring a curated lists over the ones generated automatically by [npmsearch](http://npmsearch.com/?q=stylelint-config) are:

1. We get to vet and bless those that appear on the curated lists.
2. We can group and cat

[2016-05-19 12:08] jeddy3 commented on #1295
Do we think this will come up again in another rule? If so, shall we pull this into a util i.e. `isSystemFontFamilyName()`?

[2016-05-19 12:16] jeddy3 commented on #1284
Lets make sure we account for that in the rule. We should check for duplicates inside of quotes, *unless the font family name is a keyword*.

[2016-05-19 12:32] jeddy3 commented on #1199
I think this has implications for editor plugins i.e. are they expected to follow `@import` too? If so, won't that significantly slow down their response time?

If this feature isn't applicable to editor plugins then perhaps there another way of achieving the same goal i.e. a separate linting task, with a specialised config, that only checks the *transformed CSS*. For example, not only could you c

[2016-05-19 12:34] jeddy3 commented on #1184
This feature is now about *reporting* unneeded `stylelint-disable` comments

[2016-05-19 12:39] jeddy3 commented on #1149
That's right. You need to turn of checking of parens with the `indentInsideParens` option.

That's some good digging and investigating! Thanks :)

Feel free to contribute a fix.

[2016-05-19 12:48] jeddy3 commented on #1137
In this context the original (and wide-reaching) `string-quotes` rule doesn't make sense and would need to be replaced by separate (and non-overlapping) rules. The problem with this that it could get very bitty e.g.

[code]

What do we call the rule to target these? `content-quotes`? I guess that kind of aligned with `font-family-name-quotes`. Can anyone else think of any other occurrences of *str

[2016-05-19 12:49] jeddy3 commented on #1085
Bumping to plugin.

[2016-05-19 12:49] #1085 closed

[2016-05-19 12:50] jeddy3 commented on #882
Closing as the `ignore: ["consecutive-duplicates"]` option makes this kind of redundant.

[2016-05-19 12:50] #882 closed

[2016-05-19 12:53] evilebottnawi commented on #1085
@jeddy3 i think be good add this rule in core, not now, later.

[2016-05-19 12:54] evilebottnawi commented on #1085
@jeddy3 it is be a great rule. For solutions we just need to have a repository with the actual css specifications in the required format.

[2016-05-19 12:55] evilebottnawi commented on #1085
@jeddy3 `unit-no-unknown` also never be `finished`, specs can add new units and we should add units for check also, if use this strategy with all rules we leave only stylistics rule and it is not good.

[2016-05-19 12:57] edg2s opened #1321 "selector-list-comma-newline-after fails with LESS mixins when name ends in number"
If your mixin name ends in a number the linter will not detect the commas between arguments as being special.

If the mixin name has no number at the end, the commas between arguments are correctly ignored.

selector-list-comma-newline-after

e.g.

[code]

e.g.

[code]

e.g. `6.3.3`

LESS

No warnings to be flagged.

Warnings are flagged.

[2016-05-19 13:00] jeddy3 commented on #836
@Nirazul Sorry that we haven't had the time [to answer your questions](https://github.com/stylelint/stylelint/pull/865#issuecomment-216537409).  Feel free to continue forward with the idea in the PoC *as you see fit*. Hopefully we'll have time to revisit this once `v7` is done.

[2016-05-19 13:03] jeddy3 commented on #1085
[That's the plan](https://github.com/stylelint/stylelint/issues/1238#issuecomment-219237306).

[2016-05-19 13:07] evilebottnawi commented on #1085
@jeddy3 good, we can always pull it into the core when it is stable :tada:

[2016-05-19 13:08] evilebottnawi commented on #752
@jeddy3 i think we should close this issue with remark about deprecated objects groups and plugins.

[2016-05-19 13:10] evilebottnawi commented on #1316
@vn38minhtran can you show package.json with dep and devDeps?

[2016-05-19 13:11] jeddy3 commented on #752
I was going to wait until we're all in agreement in https://github.com/stylelint/stylelint/issues/1308 and that issue is marked as "enhancement".

[2016-05-19 13:39] vn38minhtran commented on #1316
@evilebottnawi My project base on my [starter](https://github.com/vn38minhtran/react-flux-starter).

[2016-05-19 13:44] evilebottnawi commented on #1316
@vn38minhtran try to add `babel-polyfill` to package.json

[2016-05-19 13:49] dan-gamble commented on #1308
I personally would hate to see this removed, it's my biggest and main pull to Stylelint but i know the rule has caused you a lot of problems and like David said it has got very out of hand because it's stepped away from it's basic use case.

If this was moved into an exterior project / plugin i would probably start looking into `postcss-sorting` to fufill this need.

[2016-05-19 13:51] MoOx commented on #1316
The change come from #1264. This is a serious problem.

This change creates a real problem. babel-polyfill **must be only included once only** in a process (otherwise, babel throw an error). Now that you included it, all projects that include it too (example phenomic does this) are broken (don't understand: it's your fault, cause phenomic does the same right now).
I think we should remove it in al

[2016-05-19 13:51] davidtheclark commented on #973
@evilebottnawi Would this then be the same as #962?

[2016-05-19 13:55] davidtheclark commented on #1208
Everything seems to be taken care of while I was sleeping. Let me know if you need anything else from me.

[2016-05-19 13:56] davidtheclark commented on #1298
Agreed, I'd be interested in curating a plugin list but not a config list.

[2016-05-19 14:01] davidtheclark commented on #1199
Creating a post-complication linting task seems like the right solution to me. It's already possible, is not a huge amount of added work, and does not add complexity to stylelint.

[2016-05-19 14:01] #1199 closed

[2016-05-19 14:04] evilebottnawi commented on #973
@davidtheclark no, this rule disable use all except pseudo, here we speak about order `at-rules`, `pseudo-classes`, `pseudo-element` and etc.

[2016-05-19 14:04] jeddy3 commented on #1308
You will still able to use this feature within the stylelint eco-system. We've not suggesting disallowing the feature, only moving it of the stylelint org. Would a `statement-block` plugin be something you'd like to champion and give a home to under your github user?

That's one of the advantages of moving these advanced features to a plugin... you can adapt the rule configuration object to match

[2016-05-19 14:05] davidtheclark commented on #1137
I really like the idea you proposed, @jeddy3, of using `string-quotes` to always enforce a single type of quotation mark, and specific rules to enforce whether urls and attribute names have quotes at all. (I do not think it's worthwhile to add complexity to allow for inconsistent quotation marks.)

[2016-05-19 14:06] dan-gamble commented on #1308
Honestly as much as i'd like to i just honestly don't have the time to maintain something like this, my `postcss-font-awesome` plugin hasn't seen anything since it's conception and that's tiny.

It'd be awesome to see it as a plugin i'm just sure how vibrant the plugin ecosystem for Stylelint is yet

[2016-05-19 14:07] evilebottnawi commented on #1308
@jeddy3 @davidtheclark propose to postpone the removal and 7 versions it clear that the rule should be done and how to implement it better, in fact, we can get a lot of angry feedback because of this and lose part of the community.

[2016-05-19 14:07] evilebottnawi commented on #1308
I think this rule can be `finished`.

[2016-05-19 14:10] evilebottnawi commented on #1137
@davidtheclark i think we should see what may have quotes and add option to ignore that users may writing plugin for special use case.

[2016-05-19 14:13] dan-gamble commented on #1308
Do you guys have any kind of data to know how often groups are used vs not?

[2016-05-19 14:14] vn38minhtran commented on #1316
@evilebottnawi I installed 'babel-polyfill' and import it on [`app.js`](https://github.com/vn38minhtran/react-flux-starter/blob/v1/app/app.js#L1) instead of `babel-core/polyfill` but error still appears.

Git diff
[code]

[2016-05-19 14:15] evilebottnawi commented on #1308
Most people I know and who use `stylelint` use groups BTW.

[2016-05-19 14:16] davidtheclark commented on #1316
Ugh. I seriously regret having this codebase in ES2015, compiled with babel, and this is the latest serious annoyance it causes ... Sounds to me like what you propose @MoOx is the only viable option.

So in stylelint we need to remove the polyfill and remove all uses of spread.

[2016-05-19 14:16] evilebottnawi commented on #1316
@vn38minhtran version of node?

[2016-05-19 14:17] evilebottnawi commented on #1316
@davidtheclark why use ECMA6 if we dropped this feature?

[2016-05-19 14:18] evilebottnawi commented on #1316
@davidtheclark Who said that the problems are only with spread?

[2016-05-19 14:19] evilebottnawi commented on #1316
And i think it is bug in babel and we report about this and wait answer before do this.

[2016-05-19 14:19] vn38minhtran commented on #1316
I use node v4 and I think issue can be solved if we safely require babel-polyfill

[code]

[2016-05-19 14:20] jeddy3 commented on #1137
Lets cross that bridge when we get a real-world request.

[2016-05-19 14:21] evilebottnawi commented on #1316
@davidtheclark what do you think about above solution? Looks good.

[2016-05-19 14:22] MoOx commented on #1316
I think babel-polyfill is the culprit. It should be able, like all polyfill to detect and adjust the definition. This behavior (from a user point of view) is just stupid.

@vn38minhtran did you try this? If so why this simple hook is not included in the polyfill itself?!

[2016-05-19 14:30] vn38minhtran commented on #1316
@MoOx
No I didn't. I just search with key `only one instance of babel-polyfill is allowed` and view some results.
- https://github.com/ParsePlatform/parse-server/issues/1520
- https://phabricator.babeljs.io/T1019
- https://phabricator.babeljs.io/T1943
- https://phabricator.babeljs.io/T2931

[2016-05-19 14:55] jeddy3 commented on #1308
We've not really given it a chance yet. I strongly think we do need to lean on it to make this project sustainable.

It's more about *unambiguous rule names in core*. `declaration-block-properties-order` should only check for a specific *order of properties in each declaration block*. All the other currently-implemented rules names are unambiguous.

`block-structure` would make a great plugin. "st

[2016-05-19 14:57] davidtheclark commented on #1316
Sure, if it works, I'm fine with it.

[2016-05-19 14:58] dan-gamble commented on #1308
Fully agree. With the rate rules are being added it does seem like it would make sense to trim some of the fat and move them into plugins, i just feel at the moment a lot of things that get moved into plugins would become almost redundant and unused but there is a time where you need to start pushing the plugin side of Stylelint as it's a very strong benefit of Stylelint.

I agree again would be a

[2016-05-19 14:59] evilebottnawi commented on #1308
@jeddy3 no in my commands we not use groups :smile:, But for others it can be painful, I just leave it until the offer as he is and apart to open the issue for debate about the best organization or its possible simplification

[2016-05-19 15:00] MoOx commented on #1316
This workaround don't works for me, now I have an error like if babel polyfill was not included :/

[2016-05-19 15:00] davidtheclark commented on #973
Not sure what this means ... could you reword?

Nested at-rules are not standard, right? Except for `@nest` which should be treated like other nested rules, I'd think.

[2016-05-19 15:00] evilebottnawi commented on #1316
@MoOx you try to reinstall node modules?

[2016-05-19 15:01] MoOx commented on #1316
I am having a fresh node modules. This error occures for me when I run all tests of phenomic.

[2016-05-19 15:03] evilebottnawi commented on #973
@davidtheclark we can write more generic rule and this rule work fine with nested.
[code]
and etc. It is really help to read another code and control other developers

[2016-05-19 15:04] evilebottnawi commented on #1316
@MoOx can you create repo to reproduce this error, solution above work fine for me too.

[2016-05-19 15:11] MoOx commented on #1316
[code]

[2016-05-19 15:13] MoOx commented on #1316
I clean travis cache and restarted the build on travis https://travis-ci.org/MoOx/phenomic/builds/131184110

[2016-05-19 15:24] MoOx commented on #1316
Boom :) https://travis-ci.org/MoOx/phenomic/jobs/131184111#L2655

[2016-05-19 15:27] davidtheclark commented on #1316
@evilebottnawi to answer your question above: we know that only the spread operator requires us to use the polyfill because it's documented here: https://babeljs.io/docs/usage/caveats/

[2016-05-19 15:29] MoOx commented on #1316
Otherwise, you can cherry-pick require polyfill (eg: Array.from)

[2016-05-19 15:32] davidtheclark commented on #1316
That is a good point!

[2016-05-19 15:38] jeddy3 commented on #1308
If grouping things is popular then it's the perfect catalyst for the plugin eco-system.

I believe *now* is that time. Not just for the user's sake, but for the sustainability of the project after next month.

[2016-05-19 15:46] #1298 closed

[2016-05-19 15:48] evilebottnawi opened #1330 "Check that each selector in a list, rather than the whole list, is standard"
In rules:
- [ ] `selector-no-attribute`
- [ ] `selector-no-combinator`
- [ ] `selector-no-id`
- [ ] `selector-no-qualifying-type`
- [ ] `selector-no-type`
- [ ] `selector-no-universal`
- [ ] `selector-no-vendor-prefix`
- [ ] `selector-type-case`
- [ ] `selector-type-no-unknown`

We use `isStandardSelector` util. But

[code]

What do you think about? I think we should check `isStandardSelector` ins

[2016-05-19 15:57] jeddy3 commented on #1137
Groovy. Lets rock that.

- Name: `selector-attribute-quotes`
- Primary options: `"always"|"never"`
- Secondary options: none
- Message: `"Expected quote" / "Unexpected quote"`
- Section: Selector

[2016-05-19 16:01] jeddy3 opened #1331 "Change behaviour of contextual quote rules"
- [x] `"font-family-name-quotes": "always-where-required"|"always-where-recommended"|"always-unless-keyword"`
- [x] `"function-url-quotes": "always"|"never"`

Deprecating old options.

Messages:
- `expected:` "Expected quotes (rule-name)"
- `rejected:` "Unexpected quotes (rule-name)"

[2016-05-19 20:12] davidtheclark commented on #1330
If you can provide example code showing what behavior would change, that would help me understand the goal.

[2016-05-19 20:16] jeddy3 commented on #1312
@evilebottnawi https://github.com/stylelint/stylelint/blob/master/src/rules/rule-nested-empty-line-before/README.md#except-first-nested

[2016-05-19 20:27] efedorenko opened #1334 "selector-type-no-unknown doesn't recognize Sass placeholder selector"
`selector-type-no-unknown` rule doesn't recognize [Sass placeholder selector](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#placeholder_selectors_) (`%foo`).

`selector-type-no-unknown`

[code]

`6.4.2`

NPM script with `stylelint --syntax scss 'app/assets/stylesheets/scss/**/*.scss'`.

Yes, it's related to Sass syntax.

No warnings to be flagged.

The following warning was flagged:

[2016-05-19 20:34] MoOx commented on #1316
Do you need a hand on this? This issue is blocking me for cutting a release :)

[2016-05-19 20:53] davidtheclark commented on #1316
I can get to it tonight but not right now.

On Thu, May 19, 2016 at 1:52 PM, Maxime Thirouin <notifications@github.com>
wrote:

[2016-05-19 21:10] jeddy3 commented on #1316
I've got to hit the hay now I'm afraid. If you do get around to it tonight @davidtheclark, feel free to merge and release without review.

[2016-05-19 21:26] MoOx commented on #1316
No rush from my side, I am going to bed and won't cut a release until tomorrow :)
Thanks for you hard work!

[2016-05-20 07:15] #1316 closed

[2016-05-20 08:22] evilebottnawi commented on #1330
@davidtheclark
[code]
I set `selector-no-id` to `true`, but no we ignore all selector. `isStandardSelector` should not check all selector, i think each selector separetly

[2016-05-20 08:31] #1334 closed

[2016-05-20 08:32] evilebottnawi commented on #1330
@jeddy3 ping

[2016-05-20 08:59] evilebottnawi commented on #1141
Done in https://github.com/stylelint/stylelint/pull/1167

[2016-05-20 08:59] #1141 closed

[2016-05-20 09:21] ntwb commented on #1298
Cool 👍

[2016-05-20 09:39] vn38minhtran commented on #1316
Thanks!

[2016-05-20 09:57] jeddy3 commented on #1330
This will have to wait a while. I've probably got enough time to sort https://github.com/stylelint/stylelint/pull/1333 before I go away, but not much else I'm afraid.

[2016-05-20 10:40] woble opened #1339 "Add at-nest selector support"
When linting nested selectors using [postcss-nesting](https://github.com/jonathantneal/postcss-nesting) syntax, stylelint does not produce any warnings.

`selector-max-compound-selectors`

[code]

[code]

`6.5.0`

- CLI as `stylelint test.pcss`
- gulp-stylelint
- SublimeLinter-contrib-stylelint

Yes. Proposed [CSS Nesting Module Level 3](http://tabatkins.github.io/specs/css-nesting/) specification

[2016-05-20 11:05] jeddy3 commented on #1339
I'm not sure this is valid CSS:

[code]

From the spec: "The only difference is that the selector used in a `@nest` rule must be **nest-containing**, which means it contains a nesting selector in it somewhere".

Can you try (with the *nesting selector*):

[code]

Or, try using *direct nesting*:

[code]

And then report back.

[2016-05-20 13:12] woble commented on #1339
My mistake, it should be the following indeed:

[code]

But that doesn't work either.

We use `@nest` for consitency sake, e.g. `@nest & .baz {}` and `@nest .baz & {}` vs `& .baz {}` and `@nest .baz & {}`.

In fact, `.foo { @nest .baz & {} }` should produce a warning as well when `selector-max-compound-selectors` is set to `1` for example.

[2016-05-20 13:20] evilebottnawi commented on #1339
@woble close?

[2016-05-20 13:23] jeddy3 commented on #1339
Thanks for trying with the *nesting selector*.

Yes it should.

Nope, it doesn't appear to be working even with the correct syntax. We need to investigate further.

[2016-05-20 13:29] davidtheclark commented on #1330
@evilebottnawi I think I agree. To clarify: You're saying that right now with `#id, .class-#{$variable} { }` the entire selector is ignored, so `#id` is not checked. So we should modify the `isStandardSelector` to check each compound selector individually: that way, `#id` would be checked but `.class-#{$variable}` would be ignored. Is that right?

If my summary is correct, then I do agree. It's no

[2016-05-20 13:42] evilebottnawi commented on #1330
@davidtheclark yep, no need change `isStandardSelector`, we can move `isStandardSelector` inside `walk*` and all tests ok, i think v7 milestone, breaking change :cry:

[2016-05-20 13:43] evilebottnawi commented on #1330
@davidtheclark ping me then need fire PR, I'll take care of this issue

[2016-05-20 13:51] davidtheclark commented on #1308
Thanks for all the discussion above.

I think we should deprecate the grouping feature of the rule. It makes sense to me because of reasons stated above — it is unwieldy, without clear boundaries, and the source of a disproportionate number of issues.

It's also an excellent candidate for an independent project, whether as a stylelint plugin or a postcss plugin like `postcss-sorting`. There's real

[2016-05-20 13:53] davidtheclark commented on #1330
@evilebottnawi Go for it!

[2016-05-20 13:57] jeddy3 commented on #1308
Perfect. Then we're in agreement.

I'll try to get the deprecation warnings in before we pack up tools, to give people as much time as possible to build alternatives before we start work on `v7`.

[2016-05-20 14:16] ai opened #1341 "Create Code Climate engine"
If Code Climate will move to Stylelint it will be awesome for promotion.

I think @davidtheclark should write a mail to Code Climate team, explain benefits of Stylelint (compare to csslint) and offer any help :) (I will help you they will ask something complicated).

[2016-05-20 15:42] evilebottnawi opened #1342 "Selector rules should ignore Less control structures"
In Scss we get this feature as `at-rule`, but in less it is `rule`, now all `selector-*` rules works incorrect with construction(`for`, `each` and etc). Example (`"selector-no-combinator": true`):
[code]
Error in each space inside `.for(@n: 1) when (@n <= 10)`.
/cc @davidtheclark @jeddy3

[2016-05-20 15:59] jeddy3 commented on #1339
I got a bit side-tracked with this issue... anyway...

Most, if not all, of the selector rules don't support the `@nest` syntax, as we generally walk through just rules and check their selectors. I don't think we check [`@nest` selectors](https://tabatkins.github.io/specs/css-nesting/#at-nest) in any rule.

I've a [rough PoC](https://github.com/stylelint/stylelint/pull/1343) to show how we might g

[2016-05-20 16:00] evilebottnawi commented on #1342
Found solution, coming soon PR

[2016-05-20 18:57] jeddy3 commented on #705
See: https://github.com/stylelint/stylelint/issues/1308

[2016-05-20 18:57] #705 closed

[2016-05-20 18:58] jeddy3 commented on #752
See: https://github.com/stylelint/stylelint/issues/1308

[2016-05-20 18:58] #752 closed

[2016-05-20 18:59] jeddy3 commented on #973
See: https://github.com/stylelint/stylelint/issues/1308

[2016-05-20 18:59] #973 closed

[2016-05-20 21:07] kevinkorngut opened #1346 "Missing semicolon not detected when followed by a nested block"
I am not receiving an error when I omit a semicolon.

This might relate to what was done to fix issue #1153

[code]

[code]

`6.5.0`

CLI `stylelint '*.css' --verbose`

It may have to do with the line being followed by a nested block; but I'm not sure.

To see an error

No problems were found.

[2016-05-20 21:20] kevinkorngut opened #1347 "Cannot read property 'toString' of undefined: selector-no-vendor-prefix with a missing semicolon followed by a nested block"
A missing semicolon is causing a `TypeError: Cannot read property 'toString' of undefined` to occur when followed by a nested block.

This might relate to #1346 and what was done to fix #1153

[code]

[code]

`6.5.0`

CLI `stylelint '*.css' --verbose`

It may have to do with the line being followed by a nested block; but I'm not sure.

Not to see an error.

[code]

[2016-05-20 21:35] jeddy3 commented on #1339
@woble As an another aside, there's a [proposal](https://github.com/stylelint/stylelint/issues/962) for a new rule that would help you avoid those erroneously missing *nesting selectors*. The proposal is looking for someone to champion it, i.e. build and maintain it, if you're interested?

[2016-05-20 22:50] EvNaverniouk opened #1348 "`TypeError: Cannot read property 'some' of undefined`"
Using the following config: https://www.npmjs.com/package/stylelint-config-cumul8 and LESS files, we are getting this error when parsing any functions:

[code]

A sample file that causes this:

[code]

[2016-05-21 03:11] ntwb commented on #1348
Confirmed:
[code]

Removing the `selector-max-compound-selectors` rule from the config results as expected:
[code]

[2016-05-21 07:12] ntwb opened #1351 "Add except: "after-single-line-comment" option to *-empty-line-after rules"
An an enhancement feature request for blank new lines after section comments

Related to: [`comment-empty-line-before`](https://github.com/stylelint/stylelint/tree/master/src/rules/comment-empty-line-before)

The following patterns are _not_ considered warnings:
[code]

The following patterns are considered warnings:
[code]

[code]

Not directly, but should take into account all PostCSS syntaxes

[2016-05-21 07:37] jeddy3 commented on #1308
While working on deprecating the "group objects" configuration feature this morning I've come to realise that I wrongly assumed the "group objects" feature was *only* to do with whitespace, whereas I now realise it is also used to legitimately define a *semi-flexible property-order* (using the `order: "flexible"` option).

This discovery is a *good thing*. I think it means that both the transition

[2016-05-21 07:49] jeddy3 commented on #1351
Use the following to enforce this code style:

- `at-rule-empty-line-before`
- `rule-nested-empty-line-before`
- `rule-non-nested-empty-line-before`

These rules (along with `comment-empty-line-before`) have been designed to push *themselves* away from their *preceding* nodes. Adding additional `*-empty-line-after` rules, which push *other nodes away*, will lead to conflict.

[2016-05-21 07:54] jeddy3 commented on #1341
They are looking for a community contribution, via the [developer program](https://codeclimate.com/dev_form).

Ref: https://twitter.com/a_baldwinhunter/status/733747324267167749

[2016-05-21 08:47] ntwb opened #1352 "Bug: Various valid selector types incorrectly reporting as unknown type selectors"
Bug: Various valid selector types incorrectly reporting as unknown type selectors:

• `:lang(x)`
• `:nth-child(x)`, `:nth-last-child(x)`, `:nth-last-of-type(x)`, `:nth-of-type(x)` parenthesis values
• `acronym`, `applet`, `big`, `hgroup`, `strike`, `submit`, `tt`

 `selector-type-no-unknown`

#### `:lang`:
[code]

#### `nth-*`:
[code]

#### General: `acronym`, `applet`, `big`, `hgroup`, `strike`,

[2016-05-21 10:09] ntwb commented on #1351
I'm already using each of these 3 rules, and currently with each the option `ignore: ["after-comment"],`

As such that configuration doesn't quite satisfy exactly what I'm looking for:

What I'd like to be able to enforce is the following CSS:
[code]

- 1. That is a _new line_ after the multiline section title comment, i.e. this one:
[code]

- 2. And at the same time _no new line_ after the single

[2016-05-21 12:24] ntwb commented on #1351
This raises potentially another side issue, ensuring that there is not a blank line between the singlee line comment and the following selector it is related to:

The following patterns are not considered warnings:
[code]

The following patterns are considered warnings:
[code]

[2016-05-21 14:53] #1348 closed

[2016-05-21 14:55] davidtheclark commented on #1308
Ok!

[2016-05-21 14:58] davidtheclark commented on #1341
I guess at some point someone has to write that integration for them ...

[2016-05-21 15:03] davidtheclark commented on #1352
I'd bet this is a straightforward fix. Here are my guesses:

 - With `:lang()` and `:nth-child()` it's probably because postcss-selector-parser treats the inside of the `:nth-child` function as a selector. So we need to always ignore selectors whose parent is `nth-child`.
- With the other keywords they probably just need to be added to a list. @ntwb are those all *obsolete* tags? If so, I wonder i

[2016-05-21 15:09] davidtheclark commented on #1351
I understand @jeddy3's concern that if we start introducing `*-empty-line-after` rules we open the door to a lot of rules that potentially contradict each other. I guess we could just do that and put it on the user to figure their config out.

If we do decide to go with it, how about `comment-empty-line-after` with the options: always, never, always-multi-line?

[2016-05-21 15:42] jeddy3 commented on #1341
I'm hoping that that someone is a person or team who uses both Code Climate and stylelint, and has a need to fill the hole :)

Labelled as "help wanted" accordingly.

[2016-05-21 15:52] jeddy3 commented on #1352
I'm not sure why [`isStandardTypeSelector`](https://github.com/stylelint/stylelint/blob/master/src/utils/isStandardTypeSelector.js) isn't catching the `nth-child()` ones in this context. But yes, we'll definitely need to add a check for `:lang()` in there.

- I couldn't find `<submit>`.
- `<hgroup>` is "removed from the HTML5 (W3C) specification, but it still is in the WHATWG version of HTML." ([r

[2016-05-21 16:02] jeddy3 commented on #1351
A new option sgtm :) I don't think we need to consider new rules for this use-case...

@ntwb I think in your case it a `except: "after-single-line-comment"` option you're after. `except` because you want to *enforce* [the inverse of the primary option](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#determine-options). And `"after-single-line-comment`" as you want

[2016-05-21 18:12] jeddy3 commented on #1309
Closed in #1333

[2016-05-21 18:12] #1309 closed

[2016-05-21 18:13] jeddy3 commented on #1308
Done in https://github.com/stylelint/stylelint/pull/1353

[2016-05-21 18:13] #1308 closed

[2016-05-22 01:59] ntwb commented on #1351
Agreed, potential conflicting rules is not good, even with ~20,000+ tests, contradictions are never far away 😏

Agreed 😄

Yes, this will work perfectly, thanks for helping flesh this out 👍

[2016-05-22 02:07] ntwb commented on #1351
Going to take a stab at adding this option myself 😱

[2016-05-22 04:56] ntwb commented on #1352
I think this should _not_ cause a warning due to the continued widespread use of `hgroup`, as stated in the ref _"unlikely to go away"_, it is also still supported in [TinyMCE](https://github.com/tinymce/tinymce), there's [~1,000 plugins](https://github.com/search?q=user%3Awp-plugins+hgroup&type=Code) using `hgroup` to some degree, sadly I don't have available a way to grep the usage of `hgroup` f

[2016-05-22 06:22] jeddy3 commented on #1351
Excellent!

I think an example of everything you need [is here](https://github.com/stylelint/stylelint/blob/master/src/rules/rule-non-nested-empty-line-before/index.js#L56-L68) i.e. getting the previous node, checking if something is a single line string and working with the `except` options. Good luck :)

[2016-05-22 07:27] ntwb opened #1356 "Selector ID and Class case naming"
Using the `"selector-type-case": "lower",` I expected `.fooBar { color: pink; }` to throw a warning.

Related to  `selector-type-case`

A few quick examples off the top of my head:
[code]

[code]

`6.5.0`

CLI with `stylelint --config myconfig *.css`

No

Warnings to be flagged for the use of snake_case and camelCase selector names

No warnings were flagged

[2016-05-22 07:51] jeddy3 commented on #1352
FYI: https://github.com/stylelint/stylelint/pull/1357 is a pending PR to patch-up `isStandardTypeSelector`.

I've had a change of heart. All these tags, with the exception of `<submit>`, are *"known" in the specs* (even if they are labelled as obsolete etc)  and I think they shouldn't warning.

Otherwise this rule will *never be "finished"* i.e. we'll have to track the *HTML* specs and add breakin

[2016-05-22 07:54] jeddy3 commented on #1356
Those are *class* and *id* selectors, not *type* selectors ([ref](https://drafts.csswg.org/selectors-4/))

You'll want to use `selector-class-pattern` and `selector-id-pattern` if you want enforce to lowercase *id* and *class* selectors.

[2016-05-22 08:49] jeddy3 commented on #1347
@kevinkorngut Thanks for the detailed report. This bug was actually related to the formatter.

Without the trailing semicolon PostCSS doesn't parse the following as a declaration followed by a rule, [but rather](https://astexplorer.net/#/nmyFjMlrWB) a single rule with `max-width: 95vw\n\n & div` as its selector:

[code]

And that information is normally passed to the formatter. But a bug in the fo

[2016-05-22 08:51] jeddy3 commented on #1346
As discovered in https://github.com/stylelint/stylelint/issues/1347, PostCSS parses the declaration (with the missing semicolon) as part of the succeeding rule selector.

Anyone got any ideas how we should go about addressing this?

[2016-05-22 09:36] ntwb commented on #1356
Ah, thanks @jeddy3, I'll go test some regex's  👍

[2016-05-22 09:36] #1356 closed

[2016-05-22 09:38] jeddy3 opened #1359 "Add formatter tests"
Similar to [this](https://github.com/jeddy3/stylelint-formatter-yhw/tree/master/__tests__)? To avoid issues like https://github.com/stylelint/stylelint/issues/1347

[2016-05-22 09:40] ntwb commented on #1352
👍

Did you mean `<hgroup>` here rather than `<submit>`?

Agreed 👍

[2016-05-22 10:15] jeddy3 commented on #1352
Nope, `<submit>` isn't known in the specs. Whereas `<hgroup>` is. So, we should only warn for `<submit>`. I probably could of worded that sentence a little bit though :)

[2016-05-22 11:09] jeddy3 commented on #1359
@evilebottnawi If you get the itch to work on stylelint over the next couple of weeks, feel free to take a stab at the [improving our test coverage and integration tests](https://github.com/stylelint/stylelint/issues?q=is%3Aissue+is%3Aopen+label%3A%22type%3A+tests%22).

[2016-05-22 13:29] jeddy3 commented on #1321
@edg2s Thanks for the detailed report. I've created [a pending PR](https://github.com/stylelint/stylelint/issues/1361) to ensure all Less mixins are ignored.

[2016-05-22 15:15] davidtheclark commented on #1346
Tough, one, because `95vw\n\n  & div` *could* be a selector, and we wouldn't want to penalize somebody if it *were* in their case.

@kevinkorngut How does that code compile? Into what you want, or what you don't want? (If it compiles as desired, maybe postcss-nested has a solution to this.)

[2016-05-22 15:17] davidtheclark commented on #1352
All the above SGTM

[2016-05-22 15:18] #1321 closed

[2016-05-22 15:28] #1347 closed

[2016-05-22 15:29] davidtheclark commented on #1331
Done in #1354 and #1355

[2016-05-22 15:29] #1331 closed

[2016-05-22 15:31] davidtheclark commented on #1352
Closed by #1360

[2016-05-22 15:31] #1352 closed

[2016-05-22 15:33] davidtheclark commented on #1359
Yep. I think our two biggest priorities at this point should be:

- Close out existing PRs.
- Create integration tests.

[2016-05-22 15:33] jeddy3 opened #1362 "Release 6.5.1"
@davidtheclark I think we're ready to release `6.5.1`. Are you OK if I go ahead and release?

[2016-05-22 15:34] jeddy3 commented on #1359
Agreed.

[2016-05-22 15:37] davidtheclark commented on #1362
Sure. I have to head off to do some things, but I should be able to check in periodically throughout the day.

[2016-05-22 15:40] jeddy3 commented on #1362
Good stuff. I'm going to cook a roast and then crash, and so I won't be doing much more on stylelint today.

Thanks for reviewing my PRs btw, it's much appreciated :)

[2016-05-22 16:12] jeddy3 commented on #1362
Done. 🎉  :)

Smoke tested locally, including testing the reference links in deprecation warnings.

Fingers crossed this release won't come with too many hiccups as I'm around for the next hours, but then I'm going to be without my laptop for a couple of weeks.

[2016-05-22 16:12] #1362 closed

[2016-05-22 17:00] davidtheclark commented on #569
It will take some creativity to figure out how to do effective and thorough integration tests. Essentially, we need to build stylelint, then run the `dist` version against all APIs: PostCSS plugin, Node, CLI.

We'll need sample CSS and configs to use. Ideally we could do this on a *range of representative* sample CSS and configs, but I don't know how feasible it is to do that systematically. I gue

[2016-05-23 04:08] kevinkorngut commented on #1346
@davidtheclark ok, so using the aforementioned css, missing the semicolon after 95vw, and the following versions:

  "devDependencies": {
    "postcss": "5.0.21",
    "postcss-cli": "2.5.2",
    "postcss-cssnext": "2.5.2",
    "postcss-nested": "1.0.0",
    "stylelint": "6.5.1"
  }

with `postcss-nested` it does not return what I would expect:

[code]
yields:

[code]

which although it grabs the p

[2016-05-23 08:50] evilebottnawi commented on #1359
@jeddy3 ok

[2016-05-23 10:52] evilebottnawi opened #1363 "`find` not working as excepted in lodash version `4.13.0`"
@stylelint/core need fast fix, unfortunately I have no time now! `master` build failing :cry:

[2016-05-23 17:21] woble opened #1364 "Add severity and message to property-*-white/blacklist rules"
Allow custom severity and message for property-*-white/blacklist rules.

`Unexpected value "X" for property "Y"`doesn't really explain what value is accepted. One would have to dig through internal rules and guidelines to figure out what is accepted.

For example `property-value-whitelist`

[code]

[code]

[2016-05-24 02:13] ntwb commented on #1295
Just noting the response from Microsoft here:

[2016-05-24 02:14] ntwb commented on #1295
The quotes rule could use `isSystemFontFamilyName()` to ensure system fonts are not quoted?

[2016-05-24 08:59] dryoma opened #1365 "Add note to Writing plugins doc about extracting out utils"
Right now only [some stylelint utils](http://stylelint.io/developer-guide/plugins/#stylelintutils) are accessible from plugins. Is it because utils tend to change often/dramatically thus breaking 3rd party code, or maybe there is some other reason?

Yet it would be convenient to have all this stuf in plugins rules.

[2016-05-24 09:16] evilebottnawi commented on #1295
@ntwb `isSystemFontFamilyName` return `true` or `false`, and in rule we return if `true`

[2016-05-24 09:17] evilebottnawi commented on #1364
@woble https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md

[2016-05-24 09:22] evilebottnawi commented on #1363
fixed in `v4.13.1` https://github.com/lodash/lodash-cli/wiki/Changelog

[2016-05-24 09:26] evilebottnawi commented on #1363
CI green https://travis-ci.org/stylelint/stylelint/builds/132110770. Close.

[2016-05-24 09:26] #1363 closed

[2016-05-24 09:31] evilebottnawi commented on #1365
@dryoma which utils are not accessible?

[2016-05-24 09:37] dryoma commented on #1365
Only `cssWordIsVariable`, `report`, `ruleMessages`, `styleSearch`, `validateOptions` [are imported by stylelint](https://github.com/stylelint/stylelint/blob/master/src/index.js#L5), as the docs state. And only those can be used in a plugin code by

[code]

And I was wondering if [the other methods](https://github.com/stylelint/stylelint/tree/master/src/utils) could be made accessible the same way.

[2016-05-24 09:51] evilebottnawi commented on #1365
@dryoma hm, maybe you're right, let's wait @davidtheclark and @jeddy3 , now you can copy code
needed utils and use, after discussion remove code and write `import`. Good?

[2016-05-24 09:57] dryoma commented on #1365
Yeah, for now I'll have to stick to that variant.

[2016-05-24 09:59] woble commented on #1364
@evilebottnawi, I am aware of custom messages for rules, but I can't seem to find anything in regards to defining custom message and/or severity for a property in array within a rule. Perhaps I am overlooking something?

[2016-05-24 10:07] evilebottnawi commented on #1364
@woble may be you mean https://github.com/stylelint/stylelint/pull/865?

[2016-05-24 11:04] woble commented on #1364
I suppose #865 is more about actual formatting of the messages. I don't see how it solves what I am proposing. I might be wrong though.

Let's say I have defined the `property-value-whitelist` rule as follows, how would I go about setting a custom message for `z-index`, `background-color` and/or `color` individually.

[code]

[2016-05-24 11:16] evilebottnawi commented on #1364
/cc @davidtheclark

[2016-05-25 07:38] jaydenseric opened #1366 "Add except: ["blockless-after-same-name-blockless"] option to at-rule-empty-line-before"
This config seems buggy:

[code]

With this CSS it will unexpectedly result in an error:

[code]

Reordering different atrule groups can also cause an error.

This has been an issue for some time and affects stylelint version v6.5.1.

Docs: [`at-rule-empty-line-before`](http://stylelint.io/user-guide/rules/at-rule-empty-line-before).

[2016-05-25 09:28] evilebottnawi commented on #1366
@jaydenseric Thanks.
/cc @davidtheclark @jeddy3 should we ignore `custom-media` in `at-rule-*` rules?

[2016-05-25 20:11] mshick opened #1368 "Unknown word error when SASS variables are interpolated using PostCSS plugin in Gulp"
A bug where the following lines generate `Unknown word` errors:

* `@lost gutter #{map-get(("gutter": $grid-gutter-width), "gutter")}`
* `.#{$sprite-name} {`

The error is `Unknown word` and it halts processing of the file. It must register as a syntax error.

e.g.

[code]

[code]

Any, seemingly. I just extend the standard config, but get it regardless.

[code]

e.g. `6.5.1`

through a custom gul

[2016-05-26 01:23] ntwb commented on #1352
Thanks 👍

[2016-05-26 02:16] ntwb commented on #1310
Is the plan to remove support but keep the notices?

Scenario: Someone is using stylelint `6.0.0` and with the release of `7.0.0` they update and start to update there stylelint configuration for `7.0.0` compatibility. As they had never tested against stylelint `6.5.1` they never saw the deprecation notices regarding _contextual quote rule options_ that in `6.5.1`. All they will see is:

[code]

I

[2016-05-26 02:55] ntwb commented on #1364
This seems a valid request to me, I've just dug around trying to determine if it's a bug or an enhancement, I think it's a bug so let's go with that 😏

[2016-05-26 03:24] ntwb commented on #1364
Just adding that example documention should be added for when using object confiuration in the docs:
• [/docs/user-guide/configuration.md#severities-error--warning](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#severities-error--warning)
• [/docs/user-guide/configuration.md#custom-messages](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/con

[2016-05-26 03:59] ntwb commented on #1368
Thanks for the detailed report @mshick

[2016-05-26 08:49] evilebottnawi commented on #1368
@mshick
`postcss` is `gulp-postcss`?

Try to use
[code]

[2016-05-26 16:02] mshick commented on #1368
@evilebottnawi yes. I didn't see this issue reported there though.

I created a gist that replicates the problem: https://gist.github.com/mshick/a26989bcf844e28722a52ad8e9be9abb

[2016-05-26 16:28] evilebottnawi commented on #1368
@mshick try to use my solution? `{ syntax: require('postcss-scss') }` after array `processors`

[2016-05-26 17:43] mshick commented on #1368
Ha! That worked...

Not sure why I have it that way. Pretty sure I followed an example verbatim. Maybe just a typo that got replicated.

@evilebottnawi thanks very much!

[2016-05-26 17:43] #1368 closed

[2016-05-27 07:39] ntwb commented on #1368
Nice :)

[2016-05-27 14:58] davidtheclark commented on #1366
@jaydenseric : I think it's actually not "buggy". You said with your config that groups of blockless at-rules should never have empty lines before them — and that's what you're receiving the warning about.

Would this problem be solved by adding a `ignore: ["blockless-group"]` option (rather than just an `except` one)?

[2016-05-27 15:23] davidtheclark commented on #1310
That would not be a trivial change ... I'd rather people read the changelog. Maybe we should add a little more to the standard Invalid Option message stating that it may be a typo, or it may be a feature that has been removed and you should check the changelog.

[2016-05-27 15:35] davidtheclark commented on #1364
Definitely not a bug, @ntwb :) It's a very significant feature request ... And I'm not sure how feasible this is yet, so I'm labeling it "discussion".

While I'm open to reviewing a PR implementing this idea, I don't think it's a high priority for the core team. Actually, @woble, I think this might be a really good case for a plugin. And if the plugin works and is stable, we'd consider pulling it

[2016-05-27 15:41] onigoetz opened #1370 "False positive for `function-whitespace-after` in a mixin"
When I use variable interpolation inside a mixin, `function-whitespace-after` returns a false positive.

Removing the parenthesis in `$(att)` breaks the feature. so that's not an option

`function-whitespace-after`

[code]

[code]

`5.2.1`

postcss plugin

Yes, postcss mixins with the `postcss-mixins` plugin (https://github.com/postcss/postcss-mixins)

No warnings to be flagged.

The following war

[2016-05-27 16:15] davidtheclark commented on #1370
This fix might be as easy as adding `:` to the list of characters that are ok after the closing parenthesis at https://github.com/stylelint/stylelint/blob/master/src/rules/function-whitespace-after/index.js#L43.

[2016-05-27 16:18] davidtheclark commented on #1370
Oh wait ... with postcss-simple-vars interpolation there could be a closing parentheses *anywhere*, e.g. `some$(thing)here`. So maybe we need to add an exception that say if the function name is `$` we ignore it — it's not a standard function. Probably this rule should use the newish `isStandardFunction` util, and that util should make sure to account for postcss-simple-vars.

[2016-05-27 20:35] davidtheclark commented on #1365
Yes, we have been selective about which utils are exposed so that we can better control releases and prevent even more releases, especially with breaking changes.

I'd say that the way to do this would be to create a separate package for stylelint-utils, which can be used by both stylelint and 3rd-party code and has its own releases. That way regular stylelint users will never have to bother upgra

[2016-05-27 21:24] ai opened #1371 "Create article about writing plugins"
I think we should write a article about writing a custom rules for Stylelint and send it to Smashing Magazine or CSS Trick.
1. What is Stylelint
2. Modular philosophy
3. Some examples with local company rules
4. Good advices about CI. Like “if you saw this issue twice in code review, create a tool to find it again” or “don’t use a code style rules, that can’t be checked by program”.
5. How to writ

[2016-05-27 22:03] evilebottnawi commented on #1371
@ai sounds great

[2016-05-28 02:02] clintonbloodworth opened #1372 "False positive for `shorthand-property-no-redundant-values`"
The `shorthand-property-no-redundant-values` incorrectly warns when using the three-value syntax.

`shorthand-property-no-redundant-values`

[code]

[code]

`6.5.1`.

[Sublime Linter plugin](https://packagecontrol.io/packages/SublimeLinter-contrib-stylelint).

No.

No warnings to be flagged.

The following warnings were flagged:
[code]

[2016-05-28 02:09] davidtheclark commented on #1372
This is correct. You can shorten that declaration to `margin: 1px;` to accomplish the same thing.

I will close the issue because it seems that the rule is working as intended, but feel free to continue the discussion if you have questions or concerns..

[2016-05-28 02:09] #1372 closed

[2016-05-28 06:20] hudochenkov commented on #1371
I can't help with that, because I never wrote a custom rule for stylelint, and never faced 4th problem :(

[2016-05-28 11:43] ntwb commented on #1310
Right 👍

Sounds good.

[2016-05-28 16:13] #1133 closed

[2016-05-28 17:50] davidtheclark opened #1374 "Ensure clarity and consistency in "newline" expectations"
Re: https://github.com/stylelint/stylelint/pull/1258/files#r63021519

It may be that we just have to refresh our memories — but I wonder if this is a generally undocumented detail: rules that check for a newline often seem to expect a *single newline only*, complaining about multiple newlines (empty lines). For examples, just check a bunch of `*-newline-*` rules.

We need to make sure that this de

[2016-05-28 18:13] davidtheclark commented on #1282
I've been thinking about this and I've come to believe that warnings from `declaration-block-semicolon-newline-after` and `declaration-block-semicolon-space-after` are not actually bugs. The rules are doing exactly what they're supposed to, which is ensure that semicolons are followed by some whitespace.

I don't think it really matters whether those semicolons are "extra" or not. I don't think we

[2016-05-28 18:53] davidtheclark commented on #1342
Closed by #1344.

[2016-05-28 18:53] #1342 closed

[2016-05-28 19:02] davidtheclark commented on #1096
Both rules have been added to master.

[2016-05-28 19:02] #1096 closed

[2016-05-28 20:08] davidtheclark commented on #1271
Closing because I believe the [Quick Start](http://stylelint.io/#quick-start) section of the README already addresses this: it provides all the suggestions and links needed.

[2016-05-28 20:08] #1271 closed

[2016-05-29 00:30] ntwb commented on #1282
Yes, I'm fine with that having re-read the original issue, closing :+1

[2016-05-29 00:30] #1282 closed

[2016-05-29 00:44] ntwb commented on #1374
SGTM

[2016-05-30 07:04] pikilon commented on #1370
the problem occurs too using postcss variables like this:

[code]
So there is no workaround.

[2016-05-30 12:01] dikmax opened #1377 "Add ignoreAtRules: [] option to at-rule-empty-line-before"
A new options for `at-rule-empty-line-before` rule is needed. Like `ignoreAtRules` in `block-closing-brace-newline-after` and `block-opening-brace-space-before`. (See #561)

it will allow to lint scss `@if...@else` like:

[code]

Config used:

[code]

Stylelint version: 6.5.1

Run with CLI: `stylelint ./**/*.scss --syntax scss`

Warnings:

[code]

Expected result:

Configuration option `ignoreAtRu

[2016-05-30 12:58] evilebottnawi commented on #1377
@dikmax please format you issue as template

[2016-05-30 14:07] davidtheclark commented on #1370
Didn't know you could do that with `var()` functions. I know you can't *interpolate* those, so this should be addressed if we do all of the above: add `:` to the list of characters that are acceptable after closing parenthesis, and register as non-standard functions whose name is `$`.

Not sure what this means. If you're looking for a way to stop getting warnings, you could always insert a space a

[2016-05-30 14:08] davidtheclark commented on #1377
Also please search the issues. This has come up before.

[2016-05-30 14:16] #1127 closed

[2016-05-30 14:48] dikmax commented on #1377
@davidtheclark I've searched prior creating an issue. None was found.

[2016-05-30 14:50] davidtheclark commented on #1377
See #798 and #561. Might help give concrete ideas for what options to add.

[2016-05-31 05:34] woble commented on #962
Out of curiosity, would this new proposed rule propagate to `selector-class-pattern` when `resolveNestedSelectors` is set to `true`?

[2016-05-31 07:14] pikilon commented on #1370
The company I work for has this linter to commit/push any css, so the only thing I can do is compile scss and restyle the result.

[2016-05-31 19:14] evilebottnawi commented on #1377
@dikmax Feel free to PR

[2016-06-01 03:54] robcolburn commented on #1096
Thanks! These are great!

[2016-06-01 09:35] s10wen opened #1379 "Allow double slash comments"
I'm new to stylelint and have it up and running for `.scss` files with `gulp-stylelint`.

When I run the gulp task I'm getting `CssSyntaxError` errors, due to `//` comments.

I noticed there's a `no-invalid-double-slash-comments` rule.

My questions are;
1) Is there somewhere I should set that I'm using `.scss` files rather that `.css` and then this will allow double slash comments.
2) or is it po

[2016-06-01 09:53] m-allanson commented on #1379
1) Yes, have a look at the docs here: https://github.com/stylelint/stylelint/blob/master/docs/user-guide/css-processors.md#parsing-non-standard-syntax

2) All rules are disabled by default, so the `no-invalid-double-slash-comments` will only be run if you've specifically enabled it.

(Note that Stack Overflow is the preferred place for questions: http://stackoverflow.com/questions/tagged/stylelint

[2016-06-01 10:04] s10wen commented on #1379
@m-allanson thanks for the reply, I'll take a look.

@fephil was able to point me in the right direction by setting my syntax to `scss` in the stylelint config:

[code]

[2016-06-01 10:04] #1379 closed

[2016-06-01 10:08] m-allanson commented on #1379
👍

[2016-06-01 15:25] s10wen opened #1380 "Add Options: true to each no- rule's README"
https://github.com/stylelint/stylelint/blob/master/src/rules/color-no-invalid-hex/README.md

I'm guessing this should be `"color-no-invalid-hex": true,`?

Would be nice if all the rules showed an example value? If so I can create a PR for this.

[2016-06-01 15:25] s10wen commented on #1380
or is there another place where all the rules / values are that I've missed?

[2016-06-01 20:13] epmatsw opened #1382 "no-extra-semicolons line number is incorrect"
With stylelint 6.5.1 and stylelint-config-standard 8.0.0, the `no-extra-semicolons` rule appears to return the wrong line number for errors.

The following styles:
[code]
triggers an error at line 2, column 15, when the error is at line 6 column 15 (or maybe 14?).

[2016-06-01 20:20] epmatsw opened #1383 "selector-type-no-unknown returns false positives for keyframe selectors in mixins"
With stylelint 6.5.1 and stylelint-config-standard 8.0.0, the `selector-type-no-unknown` appears to trigger a false-positive on keyframe % selectors inside of mixins. Admittedly, this is a super edge case.

Example code:
[code]

This triggers 3 errors, when I would expect 0.

[2016-06-01 20:30] m-allanson commented on #1380
Hey @s10wen, yes that's correct. There's a small example config in the [config section of the docs](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md) that might be useful.

And you can find some more comprehensive config examples below:

- an [example config that includes every rule](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/example-confi

[2016-06-01 20:36] m-allanson commented on #1382
I can replicate this issue, marking as a bug.

[2016-06-01 22:21] s10wen commented on #1380
I missed the 'every rule example' that's perfect, thanks 👌🏻

[2016-06-02 09:51] s10wen opened #1386 "Error with scss nested property syntax"
With the following code (using `gulp-stylelint` and `syntax: 'scss'`):
[code]

I get the error:
[code]

Wondering if anyone can point me in the right direction, of why this might be happening.

[2016-06-02 10:57] doberkofler commented on #1383
We have the same problem.

[2016-06-02 11:33] m-allanson commented on #1386
Is `margin: {` valid scss?

[2016-06-02 11:42] s10wen commented on #1386
I'm not a fan of doing this, but I believe it is:
http://codepen.io/s10wen/pen/OXPGVE

Compiles to:
.test {
  margin: {
    left: auto;
    right: auto;
  }
}

[2016-06-02 11:47] m-allanson commented on #1386
Ah ok...

It looks like it's an issue with postcss-selector-parser: https://github.com/postcss/postcss-selector-parser/issues/64

[2016-06-02 11:57] s10wen commented on #1386
yup, looks like the same issue, I'm not sure of the correct terminology for code like:
[code]

but it would be nice to have a rule, that would check for this, as I'd like to avoid it in the codebase I'm working on.

[2016-06-02 12:05] s10wen commented on #1386
or another suggestion, if possible, that would be useful, is if the error code stated the filename / line / character where the error occurred.

[2016-06-02 12:05] m-allanson commented on #1386
Rule requests I will leave to @davidtheclark or @jeddy3 to comment on. Although I think recently they're aiming to encourage community members to create _stylelint plugins_ for rules that handle non-standard css syntax.

[2016-06-02 12:12] s10wen commented on #1386
ok, thanks for the feedback, yeah, appreciate this isn't a `css` issue.

[2016-06-02 12:16] s10wen commented on #1386
In case it helps anyone else that ends up here, there's an issue for this on Stack Overflow as well:
http://stackoverflow.com/questions/35798373/posibility-for-nested-properties-in-stylelint-in-gulp

[2016-06-02 12:57] davidtheclark commented on #1386
At some point recently (6.4.0, I believe) we tried to catch errors thrown by `postcss-selector-parser` and present them as a PostCSS warning that would say `Cannot parse selector` along with the position of the error.

It looks from your error like the stylehacks rule, `no-browser-hacks`, has not yet conformed to the new order and needs to be modified to provide the same UX. So I'm going to re-ope

[2016-06-02 12:59] davidtheclark commented on #1386
In fact, this raises another issue with the use of stylehacks: Our internal utils would help us ignore nonstandard selectors like this (ending in a `:`), but stylehacks doesn't have the same safeguards. We might need to figure out a way to make stylehacks ignore this selector altogether ...

[2016-06-02 18:14] nathanjessen opened #1388 "Features list for no-unsupported-browser-features"
For the rule, no-unsupported-browser-features, the documentation should be updated to link to the features.js file in the doiuse repo. Or the warning for this rule should output the feature name needed in the ignore array.

Replicating the issue:
The warning says something like:
"Unexpected browser feature CSS Appearance not supported by: ... (no-unsupported-browser-features)"

So I would put "CSS

[2016-06-02 23:00] ntwb commented on #1341
Via https://github.com/codeclimate/codeclimate-eslint/issues/80#issuecomment-223386512

👍
***

A slight caveat on the use of stylelint shared plugins and configs with Code Climate:

[2016-06-03 15:50] cyberkatze opened #1389 "Erroneous no-extra-semicolons warnings"
Bug

`no-extra-semicolons`

[code]

[code]

[code]

from CLI with `stylelint -c stylelint.config.js *.less`  and with Gulp-Task:

[code]

LESS

"No warnings to be flagged."

[code]

[2016-06-03 17:17] davidtheclark commented on #1389
@cyberkatze Failing tests or PR greatly appreciated.

[2016-06-04 15:13] davidtheclark commented on #1389
I think this is an upstream issue caused by https://github.com/webschik/postcss-less/issues/45

[2016-06-04 15:25] davidtheclark commented on #1386
Looked into this some. Probably a huge pain, so I'm just going to suggest that you disable that rule for that line, and move on. If somebody finds this issue later and wants to really tackle the problem, go for it.

[2016-06-04 15:25] #1386 closed

[2016-06-04 16:47] davidtheclark commented on #1341
Thanks for filling us in, @ntwb.

[2016-06-04 21:12] Linxflasher opened #1393 "Set indentation to 2 tabs"
Hello,

I cant' understand how to set "indentation" rule  to 2 tabs.

This works:

`"indentation": "tab"`

But it's only 1 tab.

I need 2 tabs indentation. I've checked the docs and tried many variants, but always got errors like:

I'm using Atom stylelint package, the latest version available.

Please, guide me how to set this rule properly. Thanks in advance!

[2016-06-05 00:50] #1370 closed

[2016-06-05 01:18] jeddy3 opened #1394 "Add ignoreFunctions: [] option to function-name-case"
Ref: https://github.com/stylelint/stylelint/pull/1083#issuecomment-221518308

Similar how [`value-keyword-case` does it](https://github.com/stylelint/stylelint/blob/master/src/rules/value-keyword-case/README.md#ignorekeywords-regex-non-regex).

@cehter Feel free to contribute this feature.

[2016-06-05 01:31] jeddy3 commented on #962
Nope. `resolveNestedSelectors` is a secondary option set on per-rule basis. It doesn't make sense for this rule to have that option.

You'd use this rule to enforce, for example, that all nested selectors (whether they are classes, id or pseudos etc) need to be preceded by a `&`. You'd then use the likes of `selector-id-pattern` and `selector-id-pattern` (with their `resolveNestedSelectors` second

[2016-06-05 01:41] jeddy3 commented on #1377
@dikmax This is very much a legitimate request and I find it kind of odd that it has not come up before. I guess no one else is using the `at-rule-empty-line-before` rule alongside the `ignoreAtRules: []` option for the `block-*` rules.

Anyhow, as @evilebottnawi said, feel free to contribute this feature. [This PR](https://github.com/stylelint/stylelint/pull/803/files) should give you everything

[2016-06-05 01:54] jeddy3 commented on #1386
For anyone wishing to tackle this *upstream* in `stylehacks`, perhaps start with adding [this safeguard](https://github.com/ben-eb/postcss-minify-selectors/blob/master/src/index.js#L15-L19) to each of `stylehacks`'s plugin. And then seeing what mileage that gets you.

@s10wen That's a great suggestion for the [`stylelint-scss`](https://github.com/kristerkari/stylelint-scss) plugin pack developers.

[2016-06-05 01:56] jeddy3 commented on #1393
*2* tabs isn't supported.

I've not heard of such a thing before. Is there a CSS styleguide somewhere that uses two tabs that I can look at? I'm curious to see how it works.

[2016-06-05 02:00] jeddy3 commented on #1388
Yep, that's exactly what we should be aiming for here.

[2016-06-05 02:06] jeddy3 commented on #1374
Ouch. We should definitely double-check things for consistency and sanity. In my head I thought *all* the `*-newline-*` rules check for *one or more* newlines, as it's the responsibility of the `*-empty-line-before*` and `*-max-empty-lines` rules to control empty lines.

[2016-06-05 02:12] jeddy3 commented on #1371
Perhaps the [`stylelint-scss`](https://github.com/kristerkari/stylelint-scss) developers fancy giving it a shot as they've been nailing plenty of plugins recently. Either way, perhaps we can close this issue as such a guide will probably come around naturally (like @hudochenkov's smashing magazine one did) when their is a will for it. (We're trying to reduce the burden of triaging issues).

In the

[2016-06-05 02:22] jeddy3 commented on #1366
Yep, I think it would. However, I think there's an option that would allow @jaydenseric to *enforce* (rather than just *ignore*) his chosen convention: `except: ["matching-name-blockless-group"]`.

Which would enforce this:

[code]

Whereas `except: ["blockless-group"]` would enforce this:

[code]

Is there a better name for the option than `"matching-name-blockless-group"`?

@jaydenseric Is this

[2016-06-05 02:38] jeddy3 commented on #1365
Perhaps we should continue down the path forged by [`postcss-resolve-nested-selector`](https://github.com/davidtheclark/postcss-resolve-nested-selector) i.e. pull applicable utilities into their own plugins and/or npm modules. e.g.

PostCSS based:

- `postcss-is-standard-syntax-rule`
- `postcss-find-font-family`
- `postcss-block-string`
- `postcss-at-rule-param-index`
- etc...

Non-PostCSS based:

[2016-06-05 02:46] jeddy3 commented on #1364
Agreed.

Agreed.

I think only *one* severity *per rule* is needed to keep things like maintaining the formatters manageable. @woble If you want a different severity consider breaking this rule into separate plugins for your needs e.g. `declaration-z-index-var: ["always", { "severity": "warning", "message": "Use a variable for z-index property within a declaration" }]`.

Labeling as "plugin" and c

[2016-06-05 02:46] #1364 closed

[2016-06-05 02:48] jeddy3 commented on #1341
Agreed. Thanks for digging into this.

Unfortunately, does that mean stylelint support is moot until their systems allow "arbitrary execution of customer code"?

[2016-06-05 02:49] jeddy3 commented on #1295
Done in #1295

[2016-06-05 02:49] #1295 closed

[2016-06-05 02:50] jeddy3 commented on #1312
Closing this in favour of this functionality being covered by a `block-structure` plugin.

[2016-06-05 02:50] #1312 closed

[2016-06-05 03:11] jeddy3 commented on #1255
How's about?:

- `selector-pseudo-colon-no-invalid-space` - as we use "invalid" when checking for invalid code. Without the word "invalid" we're normally specifying a preference between two "valid" alternatives e.g. `selector-no-type`.
- `selector-pseudo-no-unqualified` - as we've used "qualified" to mean "prefixed" with a simple selector else where.

The latter rule is weird to me though as they'

[2016-06-05 04:34] jeddy3 commented on #1380
I'm going to reopen this as it's a legitimate documentation issue.

I think each of the `no-*` rules documentation should explicitly state that their primary option is `true`. I think that the missing primary option is a legacy of the old numeric severity system, where rules could be "turned on" using a severity. Whereas now they must be configured with a primary option.

[2016-06-05 04:55] reintroducing opened #1395 "TypeError: vars.includes is not a function"
I'm trying to lint my codebase and I'm running into an issue from one of my files that has nothing but sass variables in it.  I've dumbed down the file to just one variable declaration and its still causing the following error:

[code]

My file consists of just this:
[code]

There was a bunch of other stuff in there but I took it out for demo purposes. The command I'm running is this:

[code]

Am

[2016-06-05 04:57] reintroducing commented on #1395
Ugh, literally right after I wrote this I looked at this closer and realized the scss rule causing this. Sorry for wasting anyone's time :)

[2016-06-05 04:57] #1395 closed

[2016-06-05 06:53] Linxflasher commented on #1393
Thanks for your reply!

It's my bad. I thought that indentation in my editor was set to tabs, while it's set to spaces, where tab equals two spaces.

Though, if I check "indentation" rule page

(https://github.com/stylelint/stylelint/tree/master/src/rules/indentation)

there  is line there, which states:

I thought that if I put a number like 2 instead of "int",  that would mean something like:

C

[2016-06-05 07:15] Linxflasher commented on #1393
I've read stylelint user guide and now understand what this line means. Thanks for your help!

[2016-06-05 07:15] #1393 closed

[2016-06-05 12:18] ai commented on #1371
@jeddy3 this issue is not about docs, but about promotion

[2016-06-05 13:14] davidtheclark commented on #1366
That'd be good, too.

[2016-06-05 13:16] davidtheclark commented on #1365
Yeah, this is probably the most robust solution. Lots of overhead, but may be worth it.

[2016-06-05 13:25] davidtheclark commented on #1255
Sure those rule names SGTM.

[2016-06-05 13:26] davidtheclark commented on #1371
Haha, @ai is just a better marketer than us, @jeddy3!

[2016-06-05 13:32] jeddy3 commented on #1255
- Name: `selector-pseudo-colon-no-invalid-space`
- Primary options: `true`
- Secondary options: none
- Message: `Unexpected invalid space `
- Section: "Selector"

[2016-06-05 13:49] jeddy3 commented on #1365
I think we can do this as a gradual process. E.g. add a note to the "Writing plugins" doc that says have a look through the built-in utils and if there's something you want to use then consider helping us extract it out. Once it's extracted out, we add it list on that page.

We might find that the `stylelint-scss` guys cherry-pick a few to start. Whereas something like styleSearch or the whitespac

[2016-06-05 13:52] davidtheclark commented on #1365
Sure!

[2016-06-05 13:58] jeddy3 opened #1396 "Deprecate the exposure of styleSearch"
- [x] Deprecate in `master`
- [x] Remove in `v7` branch.

Include suggestion to extract `styleSearch` into its own npm module if you currently use it within deprecation warning.

Ref: https://github.com/stylelint/stylelint/issues/1365#issuecomment-223814080

[2016-06-05 14:16] davidtheclark commented on #1310
Closed by #1385.

[2016-06-05 14:16] #1310 closed

[2016-06-05 14:16] davidtheclark commented on #1311
Closed by #1385.

[2016-06-05 14:16] #1311 closed

[2016-06-05 14:17] davidtheclark commented on #1144
Closed by #1384.

[2016-06-05 14:17] #1144 closed

[2016-06-05 14:17] davidtheclark commented on #1154
Closed by #1154.

[2016-06-05 14:17] #1154 closed

[2016-06-05 14:38] #1383 closed

[2016-06-05 17:23] jeddy3 opened #1397 "Rename isStandard* utils"
To `isStandardSyntax*`.

Ref: https://github.com/stylelint/stylelint/pull/1390#issuecomment-223786452

[2016-06-06 09:38] evilebottnawi opened #1398 "font-family-name-quotes should check font property"
I think it is breaking change and shoukd completed in v7.

Sorry guys, I am placed in other town now and start helping at 9 june.

[2016-06-06 10:07] s10wen commented on #1386
@jeddy3 cheers, done https://github.com/kristerkari/stylelint-scss/issues/44

For anyone else who happens to end up here, another solution is to simply update the code:

Before:
[code]

After:
[code]

I personally much prefer the `After` approach.

[2016-06-06 12:50] #1382 closed

[2016-06-06 16:04] ntwb commented on #1341
Pretty much I believe this to be the case, the original code climate issue linked above was a request to whitelist our `eslint-config-stylelint` shared ESLint configuration, this request was denied:

If we were to create a stylelint code climate engine we'd probably be able to get `stylelint-config-standard` included and maybe a couple of others in the stylelint engine, any other shared configs, o

[2016-06-07 11:41] edg2s opened #1401 "Differentiate between full and partial support in no-unsupported-browser-features"
'background-size: contain;' is flagged as unsupported by Chrome 4-14 and Android Browser 4-4.3. According to caniuse these browsers support background image properties fine (e.g. background-clip, background-origin, background-size), just not background-size when using the background shorthand: http://caniuse.com/#search=background-image

no-unsupported-browser-features

[code]

[code]

6.3.3

Node

[2016-06-07 12:46] davidtheclark commented on #1401
You are using `background-size: contain`, which is not as widely supported as `background-image`: http://caniuse.com/#feat=object-fit

[2016-06-07 12:49] davidtheclark commented on #1401
Please modify the issue to clarify you usage of `background-size` vs. `background-image` —— I think you are using them interchangeably?

[2016-06-07 23:01] edg2s commented on #1401
Done.

[2016-06-07 23:03] edg2s commented on #1401
@ntwb Why is this blocked?

[2016-06-07 23:33] davidtheclark commented on #1401
@edg2s: This will need to be filed upstream with doiuse, which is the tool that this rule uses.

[2016-06-08 12:55] ai opened #1402 "Help the Bootstrap team try out stylelint"
It will be huge affect for Stylelint marketing if Bootstrap will migrate from scss-lint to Stylelint.

We should collect Stylelint over scss-lint benefits:

1. Useful rules for Bootstrap.
2. Easy way to write a new rules to cover Bootstrap specifil cases.
3. Stylelint is more popular than scss-lint. Also we should show big users like 18F (who else?).
4. `stylefmt`
5. Stylelint don’t lock you on on

[2016-06-08 21:23] Nirazul commented on #1377
I also though about this some time ago. To me, it seems that also an option like `ignore: ["blockless-group"]` is missing.
I'd like to enforce an empty line for at-rules with blocks but I don't care for, say lists of `@import` statements.

[2016-06-08 23:17] ntwb commented on #1402
🙋  I'd be happy to take this on, I've contributed a handful of PR's to and used Bootstrap for years

[2016-06-09 00:20] davidtheclark commented on #1402
@ntwb Fantastic! Let me know if you need any help.

Another huge benefit, I think, is that the stylelint codebase is JavaScript, instead of Ruby, which will be more familiar to most Bootstrap users and contributors. If they want to contribute to stylelint or write some Bootstrap-specific plugins, JavaScript should be easier for them to deal with.

[2016-06-09 08:26] s10wen opened #1404 "no-empty-source"
Specifically, in my case, I found an empty partial file, in a code base of `.scss` files.

Wondering if it would be useful to be able to check for empty files, `.css` or otherwise.

[2016-06-09 09:15] xPaw opened #1405 ""Error: Column width must be greater than 0." on OSX"
I've enabled OSX testing on Travis on one of our projects, and the builds just fail with the following stacktrace:
[code]

This error only happens on OSX (travis), but not on Windows or Linux.

Build log: https://travis-ci.org/thelounge/lounge/jobs/136374638
Stylelint config: https://github.com/thelounge/lounge/blob/master/.stylelintrc

[2016-06-09 09:31] wizardfrag commented on #1405
This test appears to work fine on my local OS X machine (10.11.4)

[code]

[2016-06-09 12:28] evilebottnawi commented on #1404
@s10wen sounds good

[2016-06-09 12:29] evilebottnawi commented on #1405
@xPaw please format your issue as template

[2016-06-09 12:35] evilebottnawi commented on #1405
@xPaw update stylelint to last version, may be in https://github.com/stylelint/stylelint/issues/1198 was fixed.

[2016-06-09 18:04] xPaw commented on #1405
@evilebottnawi stylelint 6.5.1 does not fix this issue.

[2016-06-09 23:20] ntwb commented on #1405
I've just created a pull request to see if there any differences between stylelint 6.2.1 and 6.5.1 in the Travis CI job logs

[2016-06-09 23:21] ntwb commented on #1405
@xPaw All tests passed using stylelint 6.5.1

[2016-06-10 06:02] alan-agius4 opened #1406 "indentation in nested Sass Maps"
"A bug where the indentation rule warning is being firing when it is not suppose to in nested sass maps"

e.g. `indentation`

e.g.

[code]

e.g.

[code]

`6.5.1`

"gulp"

"Yes, it's related to SCSS maps.

"No warnings to be flagged."

"The following warnings were flagged:"

[code]

[2016-06-10 08:13] KeironLowe92 opened #1407 "Escaping + triggers selector-combinator-space-before"
You can escape + symbols so that they can be used as class names, but this triggers the `selector-combinator-space-before` rule.

Rule: `selector-combinator-space-before`
Selector: `.u-mb\+ { margin-bottom: 40px; }`

Config:
[code]

Version: `6.5.1`
Running: `Node API` via gulp-stylelint
Does your issue relate to non-standard syntax: No
What did you expect to happen?: "No warnings to be flagged."

[2016-06-10 08:31] KeironLowe92 commented on #742
This error still occurs when using nested brackets for calculations, such as:

[code]

Still fails if I replace the variable with a number, passes if I remove the spaces around the `+`.

[2016-06-10 08:32] evilebottnawi commented on #742
@KeironLowe92 be good if you PR tests failed

[2016-06-10 08:40] KeironLowe92 commented on #742
@evilebottnawi Happy to submit one, got any examples of PR tests? Not sure how they should be done

[2016-06-10 08:48] evilebottnawi commented on #742
@KeironLowe92 https://github.com/stylelint/stylelint/pull/1047

[2016-06-10 08:56] xPaw commented on #1405
@ntwb Your PR tests passed cause `master` does not have a config to run OSX builds. I was testing it in a branch: https://github.com/thelounge/lounge/compare/xpaw/travis

[2016-06-10 09:03] evilebottnawi commented on #1405
@ntwb That do you think it is good add `osx` os to travis build?

[2016-06-10 09:19] Nicasso opened #1408 "New rule: Vendor prefix fallback"
So far you have the "value-no-vendor-prefix" rule, that simply disallows the use of vendor specific properties. Which is good, since bad use of vendor prefixed properties should be considered a code smell. However, vendor specific properties are only a real code smell when they are not used in combination with their original property.

Let me give an example of bad use of vendor specific propertie

[2016-06-10 09:29] evilebottnawi commented on #1408
/cc @jeddy3 @davidtheclark

[2016-06-10 09:29] evilebottnawi commented on #1408
@Nicasso thanks for feedback

[2016-06-10 12:15] davidtheclark commented on #1408
Certainly it's usually a mistake to user vendor properties without the standard property. I think, though, that the main motivation for the existing `value-no-vendor-prefix` is so that people using Autoprefixer — or some other tool to handle prefixes, instead of handling them manually — can ensure they leave prefixes entirely to the tool.

What you're proposing, @Nicasso, sounds like a good new ru

[2016-06-10 12:27] Nicasso commented on #1408
@davidtheclark, good point you made there. This rule would indeed only be a contribution to developers who manually manage vendor prefixes. Developers using specific tools for this will most likely not be helped by this rule.

Now for the name, I guess something like `no-vendor-fallback-provided`, or `value-no-vendor-fallback-provided` when you want to create this same rule for at-rules and other

[2016-06-10 14:42] kachkaev opened #1409 "Column start (x) greater than line length (y) error in Atom"
Looks like the coordinates for errors are not always correct (value for `col` is greater than expected). Here's an example (`client/main.less`):

[code]

[code]

Instead of `2:13` and `3:12`, I was expecting to see `2:12` and `3:11` (or even `2:11` and `3:12`?). Because there are no characters at `2:13` and `3:12`, Atom fires an exception:

[code]

`.stylelintrc`:
[code]
Stylelint v6.5.1

[2016-06-10 14:46] evilebottnawi commented on #1409
@kachkaev maybe duplicate https://github.com/stylelint/stylelint/issues/1389

[2016-06-10 14:48] evilebottnawi commented on #1407
@KeironLowe92 Thank for feed back, be good if you PR failed tests.

[2016-06-10 18:03] jeddy3 opened #1411 "at-rule-blacklist/whitelist"
Ref: https://github.com/kristerkari/stylelint-scss/issues/30#issuecomment-223780830

- Names: `at-rule-blacklist/whitelist`
- Primary options: `[ ]`
- Secondary options: none
- Message: `Unexpected at-rule ${name} `
- Section: "At-rules"

[2016-06-10 18:35] jeddy3 opened #1412 "Ensure array/string options are consistent across blacklist/whitelist rules"
Ref: https://github.com/stylelint/stylelint/pull/1410#discussion_r66658516

[2016-06-10 18:54] jeddy3 commented on #1408
One of the criteria for new rules is [that they](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md#rules) "aim to be valuable to the majority of users". I think the majority of users use autoprefixer, but I see how such a rule could be useful to smaller number users. Therefore, I think this would make a great plugin.

If we agree, then I'll label this up as a plugin and c

[2016-06-10 19:27] jeddy3 commented on #1402
I think something that's pretty unique to stylelint is our rules that allow a team to ["Specify acceptable selector types, units, properties, functions and words in comments"](https://github.com/stylelint/stylelint-config-standard#suggested-additions). Being able to whitelist/blacklist these things can really help keep a codebase consistent.

[2016-06-10 19:35] evilebottnawi commented on #1402
/cc @mdo @fat

[2016-06-10 19:35] jeddy3 commented on #1404
I guess this is something that we can include in `config-standard` as a harmless rule that catches the occasional empty file.

@davidtheclark Any qualms about including this and opening it out to contribution?

[2016-06-10 19:42] ai commented on #1402
@evilebottnawi we didn’t prepare a good review. Why you asked Bootstrap team already? ;)

[2016-06-10 19:47] evilebottnawi commented on #1402
@ai may be they add good point to our discussion

[2016-06-10 19:48] evilebottnawi commented on #1402
@ai It can guide us on the right path

[2016-06-10 20:05] mdo commented on #1402
:wave: No pressure y'all! We switched to Stylelint at GitHub (shoutout @jonrohan) and it seems to be going over well. Anything we can do to speed up our builds is super important and high priority to me with Bootstrap. We've seen great improvements on GitHub's builds, so I'm interested in trying it out.

[2016-06-10 20:11] evilebottnawi commented on #1402
@mdo it is super good, perhaps there are some rules that would be nice to add, we are interested in it.

[2016-06-10 20:11] ai commented on #1402
@mdo so GitHub uses Stylelint? =^_^=

[2016-06-10 20:17] mdo commented on #1402
Yup! One of our designers switched us over just a few weeks ago.

[2016-06-10 20:20] evilebottnawi commented on #1402
@mdo It would be cool if we had a link to us, it would increase the number of contribution. I do not hope so, but it's true it would be cool.

[2016-06-10 23:30] davidtheclark commented on #1404
No qualms.

[2016-06-11 07:46] jeddy3 opened #1413 "Add ignore: "blockless-group" option to at-rule-empty-line-before"
Ref: https://github.com/stylelint/stylelint/issues/1377 & https://github.com/stylelint/stylelint/issues/1366

[2016-06-11 07:46] jeddy3 commented on #1377
@Nirazul I think your request is more related to https://github.com/stylelint/stylelint/issues/1366. Either way, it's a valid request and complimentary to https://github.com/stylelint/stylelint/issues/1366. I've created [a new issue](https://github.com/stylelint/stylelint/issues/1413) for it. Please feel free to contribute this option.

[2016-06-11 07:55] jeddy3 commented on #1404
@s10wen Please consider contributing this feature. It should be easy to do as examples of everything (docs, tests, 99% of the code etc) you need has already been done in the [`no-missing-eof-newline`](https://github.com/stylelint/stylelint/tree/master/src/rules/no-missing-eof-newline). A [typical new rule PR](https://github.com/stylelint/stylelint/pull/1410) contains additions/edits to 7 files. An

[2016-06-11 07:56] jeddy3 commented on #1413
@Nirazul Please consider contributing this option if you require it for your code style.

[2016-06-11 09:21] Nirazul commented on #1413
Thx, I will look into it!

[2016-06-11 10:03] dryoma commented on #1412
Should I already reflect this ("either `string` or `array`") in the readme to a rule from the PR or is it's form yet to be finalized?

[2016-06-11 11:24] Nicasso commented on #1408
Sure, seems like a fair solution.

[2016-06-11 14:31] Nirazul commented on #1413
@jeddy3
When testing against following option: `[ "never", { ignore: ["blockless-group"] } ]` I've come across the following code example which is accepted but should be rejected:

[code]

Is this considered a non-empty line?

[2016-06-11 14:41] jeddy3 commented on #1412
I think keep it as you have it, as that's consistent with the other rules. We can then adapt the README's wholesale of all the black/whitelist rules in another PR.

[2016-06-11 14:48] jeddy3 commented on #1413
Yes, I think so. We consider an empty line to be [a sequence of 2 newlines characters](https://github.com/stylelint/stylelint/blob/master/src/rules/at-rule-empty-line-before/index.js#L45-L49).

So, a single whitespace char should trigger a warning if the option is `"never"`. If this isn't the case, can you open a new issue for it?

[2016-06-11 14:52] evilebottnawi commented on #1405
@jeddy3 that do you think about add `osx` to travis build?

[2016-06-11 14:52] Nirazul commented on #1413
As the used option is formulated as following on the stylelint page:

The rule works as desired. A line with one whitespace character on it is not considered an empty line.

[2016-06-11 15:04] jeddy3 commented on #1405
I think we need to weigh-up if the extra build time is worth it. And to do that I think we need to get to the bottom of what's causing this crash.

@xPaw It looks like something is causing the string formatter to crash. It's likely one of the rules in your config interacting with a particular line in your CSS. It would be very helpful if you could narrow this down to a small reproducible test case

[2016-06-11 15:06] xPaw commented on #1405
@jeddy3 It's not really feasible to test 70 unique rules when you have to let Travis build them individually.

[2016-06-11 15:06] jeddy3 commented on #1413
Oops, my bad. I got myself confused as I was thinking of the `"always"` option.

Yep, you're right.

[2016-06-11 15:10] jeddy3 commented on #1405
Good point.

Any ideas how, and in what way, the travis' `osx` environment differs from @wizardfrag's local osx environment?

[2016-06-11 15:10] xPaw commented on #1405
I really don't know, @astorije said it builds fine for him on OSX too.

[2016-06-11 15:22] jeddy3 commented on #1405
That's possible. Do you want to play around with your [travis settings](https://docs.travis-ci.com/user/osx-ci-environment/)? Perhaps ensuring the latest `xcode` is used?

[2016-06-11 15:28] xPaw commented on #1405
I added `osx_image: xcode7.3`, it still fails with same error.

https://travis-ci.org/thelounge/lounge/jobs/136932515

[2016-06-11 15:38] xPaw commented on #1405
Uh oh, this issue does not happen on a new repository with 4 lines of CSS and using `stylelint-config-standard` rules.

https://github.com/xPaw/stylelint-travis-osx-bug
https://travis-ci.org/xPaw/stylelint-travis-osx-bug/jobs/136933689

[2016-06-11 16:52] jeddy3 commented on #1405
@xPaw Very nice. Thank you for putting in the legwork on this one!

[2016-06-11 16:54] davidtheclark opened #1418 "Create rule testing guide & checklist"
I think we should try to create a checklist to guide us creating tests for rules. We have a lot of knowledge floating around about best practices (e.g. ensure you're testing errors in multiple positions, not the same place every time), common consideration (e.g. vendor prefixes and variables), and edge-cases (e.g. ensure you're accounting for alternate capitalization). I think we've figured out en

[2016-06-11 17:08] #1407 closed

[2016-06-11 17:56] jeddy3 commented on #1418
Very true!

Agreed. We can revise [this section](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#write-tests) of the developer guide.

[2016-06-11 18:59] #1413 closed

[2016-06-11 19:13] #1405 closed

[2016-06-11 19:23] davidtheclark commented on #1411
Closed by #1410.

[2016-06-11 19:23] #1411 closed

[2016-06-11 19:31] jeddy3 opened #1421 "Align last few rule names with conventions"
As part of looking through the docs with fresh eyes last week (and for the first time since we started this project), I also got the opportunity to step-back and review all the rule names. They seem remarkable coherent, but I did notice a couple that were wrong (i.e. wrongly *scoped*). I think getting these into `7.0` would be a nice touch as stylelint is starting to feel "finished" (i.e. I think

[2016-06-11 23:44] jeddy3 commented on #1396
@davidtheclark I could do with your advice on this one. Is is possible to add a deprecation notice to styleSearch only when it's used via a plugin and not internally?

[2016-06-11 23:58] jeddy3 commented on #1101
@evilebottnawi Is there anything left to do on this, or can we close?

[2016-06-12 00:12] davidtheclark commented on #1396
I have an idea that will be more effective to try out in code than to write out in sentences, so I'll give it a go ...

[2016-06-12 00:19] davidtheclark commented on #1396
Well ... I actually don't have an idea that will be reported well, like the other deprecations, without a huge pain (because it is not passed the PostCSS Result to attach warnings to). I think that it's probably fine to just *document* this deprecation and its existence as an external module, and then document its removal in the changelog. Do you disagree?

Aren't we going to do that ourselves, an

[2016-06-12 00:23] jeddy3 commented on #1396
That's what I figured. Just documenting it SGTM.

Well, I was hoping the first person in the community that needs it does the work of extracting it out (and changing stylelint's code to use the new module).

[2016-06-12 00:24] davidtheclark commented on #1408
Good idea, @jeddy3.

[2016-06-12 00:28] davidtheclark commented on #1396
Oh, I see. Eh, I might just pull it out myself to ensure its done right, since it's kind of complex.

[2016-06-12 00:31] jeddy3 commented on #1408
@Nicasso Feel free to develop this as a plugin. There's a [guide to writing plugins](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md). We also recommend adhering to all of [stylelint's rule conventions](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#come-up-with-a-name) to ensure a consistent user experience.

[2016-06-12 00:31] #1408 closed

[2016-06-12 00:32] jeddy3 commented on #1396
Coolio. Would probably be good to have an example for the community to follow too.

[2016-06-12 02:12] davidtheclark commented on #1396
@jeddy3 While looking at the code I decided to refactor the options some. What do you think of https://github.com/davidtheclark/style-search? (Not yet released, just WIP)

[2016-06-12 08:14] jeddy3 commented on #1396
Much cleaner!

Good thinking taking this opportunity to refactor the options, the previous one had become less intuitive as the module had grown and grown in scope.

[2016-06-12 09:05] evilebottnawi commented on #1101
@jeddy3 i am working on this issue, tomorrow i PR and we can close issue.

[2016-06-12 09:06] evilebottnawi commented on #1101
@jeddy3 last util `findAnimationName`

[2016-06-12 10:35] jeddy3 commented on #1101
Excellent.

[2016-06-12 15:36] #1388 closed

[2016-06-12 15:37] #1397 closed

[2016-06-12 15:45] davidtheclark commented on #1396
@jeddy3 Want to do a release after these PRs are finished and the feature is deprecated? We have a big chunk of changelog.

[2016-06-12 15:53] jeddy3 commented on #1396
Yep, I was thinking the same and was just going to open a issue about that.

I wouldn't mind discussing https://github.com/stylelint/stylelint/issues/1421 first, as I'd like to roll those deprecation warning in with the next release.

And there's https://github.com/stylelint/stylelint/issues/1101, which @evilebottnawi hopes to get done later.

There are the only two from the [`6.next` milestone](h

[2016-06-12 15:56] davidtheclark commented on #1421
Yes, good analysis. I agree with your suggested changes.

[2016-06-12 16:35] jeddy3 commented on #1396
Done in #1426

[2016-06-12 16:35] #1396 closed

[2016-06-12 16:39] jeddy3 opened #1429 "Release 6.next"
Once [milestone issues](https://github.com/stylelint/stylelint/milestones/6.next) are done.

[2016-06-12 16:53] jeddy3 commented on #1211
Docs done in https://github.com/stylelint/stylelint/commit/967d480888e066e6ad3e74b74070ab8d0f67e582

Audit looks good.

[2016-06-12 16:53] #1211 closed

[2016-06-12 17:22] evilebottnawi commented on #1255
@jeddy3 can you give example code for this rules with comments? I'm a little confused.

[2016-06-12 17:35] davidtheclark commented on #346
@evilebottnawi Is there any reason to leave this issue open? Or is it entirely in the hands of JetBrains?

[2016-06-12 17:37] davidtheclark commented on #1265
@blake-newman Any progress on this?

[2016-06-12 17:50] jeddy3 commented on #1255
[code]

[2016-06-12 17:55] jeddy3 opened #1431 "comment-word-blacklist should only ignore sourcemap comments"
Ref: https://github.com/stylelint/stylelint/pull/1428#discussion_r66724370

[2016-06-12 18:14] evilebottnawi commented on #346
@davidtheclark New users can start creating related issues. I think we can close, after we get the plugin, as there are references to vote for implementation.

[2016-06-12 18:15] evilebottnawi commented on #1255
@jeddy3 thanks, how about add rule allow disable `a ::before` lonely pseudo-elements?

[2016-06-12 18:38] davidtheclark commented on #1409
Yes, I think this is the same fundamental issue as https://github.com/stylelint/stylelint/issues/1389, so I'll mark it blocked (by less parser changes).

[2016-06-12 19:28] jeddy3 commented on #1255
Sure, but lets talk about that in a separate issue.

[2016-06-12 19:30] #1406 closed

[2016-06-12 19:32] jeddy3 commented on #1409
@kachkaev Please consider helping upstream in `postcss-less` if you'd like to see this issue resolved.

[2016-06-12 20:19] jeddy3 commented on #1359
[This is how eslint](https://github.com/eslint/eslint/blob/master/tests/lib/formatters/stylish.js) tests their string formatter.

[2016-06-12 20:36] evilebottnawi commented on #1404
Ref: https://github.com/stylelint/stylelint/pull/1436

[2016-06-12 21:12] evilebottnawi opened #1437 "Support prefixed property and at-rules in all rules."
Two step:
- [x] Add tests to some rules for check they support vendor prefix value (merge in master)
- [x] Add support prefixed property, value and etc in all rules (merge in v7)
  - keyframe-declaration-no-important
  - no-unknown-animations
  - time-no-imperceptible

For other issue and PR:
 - [x] Recheck on support case insensitivity
  - number-max-precision (import)
  - function-linear-gradien

[2016-06-12 21:14] jeddy3 commented on #1437
This issue is for the work started in https://github.com/stylelint/stylelint/pull/1278, right?

[2016-06-12 21:17] evilebottnawi commented on #1437
@jeddy3 right, in order not to forget and put v7 milestone.

[2016-06-12 21:18] jeddy3 commented on #1437
Agreed.

[2016-06-12 21:23] evilebottnawi opened #1438 "Add short `-h` for `--help` in cli"
Almost all tools have this, why we do not do?

[2016-06-12 23:03] jeddy3 commented on #1402
@ntwb It's great you'd like to head-up this initiative!

You might already be aware of these, but here's a few pointers that could help you on your way:

1. Here's a rather handy guide to [migrating from scss-lint to stylelint](https://github.com/PhilippBaschke/convert-to-stylelint/blob/master/docs/conversion-tables/scss-lint.md).
2. I highly recommend *extend*ing [`stylelint-config-standard`](htt

[2016-06-12 23:03] jeddy3 commented on #1401
@edg2s As @ohskylab points out, this is a current limitation of `doiuse`. If you need this feature, then please consider contributing it to the `doiuse` repo.

[2016-06-12 23:12] jeddy3 opened #1439 "Use -v as an alias for --version (instead of --verbose) in the CLI"
And move `--verbose` into `-f`/`--formatter` options.

This latter change will align the CLI with the [Node API](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/node-api.md#formatter).

This would be for `v7`, although the deprecation would happen in `6.next`.

Related to https://github.com/stylelint/stylelint/issues/1438

[2016-06-12 23:21] jeddy3 commented on #1389
@cyberkatze Please consider helping upstream in [`postcss-less`](https://github.com/webschik/postcss-less/issues/45) if you'd like to see this issue resolved.

[2016-06-12 23:24] jeddy3 commented on #1377
Done in https://github.com/stylelint/stylelint/issues/1423 by @Nirazul.

[2016-06-12 23:24] #1377 closed

[2016-06-13 00:13] jeddy3 commented on #1346
@davidtheclark I'm beginning to think resolving this isn't feasible. Shall we close this issue by adding a note to the rule's README?

[2016-06-13 00:16] davidtheclark commented on #1346
@jeddy3 Yes.

If any Future Person runs across this issue, we're open to a PR fixing it, if you can figure out a good way.

[2016-06-13 00:17] jeddy3 commented on #1341
Thanks for writing this up!

I agree with this assessment.

Lets keep this issue open for now in case someone comes along willing to champion this integrating and to put in the legwork.

[2016-06-13 00:59] jeddy3 commented on #1255
After looking through the specs more closely, I've a few misgivings about this rule now.

1. "pseudo" isn't really a *thing*. There are *pseudo-classes* and *pseudo-elements*, but not "pseudos". We've only targeted the latter two elsewhere.
2. I'm not entirely convinced we're right about where space is valid or invalid.  There's *a lot* going on in [this spec](https://www.w3.org/TR/selectors4/#the

[2016-06-13 01:36] jeddy3 commented on #1339
Closing. Ref: https://github.com/stylelint/stylelint/pull/1343#issuecomment-225473367

[2016-06-13 01:36] #1339 closed

[2016-06-13 07:01] blake-newman commented on #1265
@davidtheclark

Just came back from holiday, it's near the top of my priority list. So will be starting it, most scenarios should be fixable. Any that are not I'll just add some documentation.

Once started shouldn't take me long. Sorry for the delay.

[2016-06-13 11:21] evilebottnawi commented on #1101
https://github.com/stylelint/stylelint/pull/1445

[2016-06-13 11:43] onigoetz commented on #1370
Thank you very much for the fix, do you have an Idea when it will be released ?

I see it's in the v7 branch

[2016-06-13 11:51] jeddy3 commented on #1370
We hope to get `6.6` out in the next day or two. We then intend to focus on `v7`. There's a [small backlog of issues](https://github.com/stylelint/stylelint/milestones/7.0.0) for `v7` though, so any help knocking these off will help get the `v7` release out sooner.

[2016-06-13 13:30] #1374 closed

[2016-06-13 13:39] jeddy3 commented on #1429
@davidtheclark Once my [pending PRs](https://github.com/stylelint/stylelint/pulls?q=is%3Apr+is%3Aopen+label%3A%22PR%3A+review+needed%22+author%3Ajeddy3) are in. I think we can release `6.6`. I'll need to clean-up the changelog once the PRs are merged, but other than that I think things are looking pretty ship-shape.

Sound good?

[2016-06-13 13:48] #1365 closed

[2016-06-13 13:53] evilebottnawi commented on #1101
Close https://github.com/stylelint/stylelint/pull/1445

[2016-06-13 13:53] #1101 closed

[2016-06-13 13:56] #1346 closed

[2016-06-13 13:57] #1380 closed

[2016-06-13 14:00] evilebottnawi commented on #1429
We can do release :tada:

[2016-06-13 14:02] #1418 closed

[2016-06-13 14:04] jeddy3 commented on #1429
@davidtheclark Actually, can I get your thoughts on https://github.com/stylelint/stylelint/issues/1439 first. As that will require a deprecation warning that I'd like to include in `6.6`.

[2016-06-13 14:06] #1421 closed

[2016-06-13 14:06] evilebottnawi commented on #1429
@jeddy3 https://github.com/stylelint/stylelint/issues/1438 made too?

[2016-06-13 14:26] davidtheclark commented on #1439
Common practice I've seen is to use `-v` as alias for `--verbose` and `-V` as alias for `--version`.

Do you mean creating a new `--formatter` keyword like `string-verbose`?

[2016-06-13 14:31] jeddy3 commented on #1439
Yep, in the [Node API](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/node-api.md#formatter) we have the following options: "string", "json" and "verbose".

In the CLI we have the following `--formatter` options: "string" and "json". Whereas "verbose" is available under a separate flag. So, I was suggesting creating a new `--formatter` keyword as `verbose`.

You're more well-ve

[2016-06-13 14:42] davidtheclark commented on #1439
Ok, let's
- [ ] deprecate the `--verbose` flag
- [ ] add a `verbose` option for `--formatter`

That SGTM

[2016-06-13 14:46] davidtheclark commented on #1438
I'm fine with this.

[2016-06-13 15:05] jeddy3 commented on #1429
@davidtheclark and @evilebottnawi Shall I release once the CLI changes are in?

[2016-06-13 15:05] davidtheclark commented on #1429
Yes. This is plenty for one release :) We can still do another release before v7 if needed.

[2016-06-13 15:08] evilebottnawi commented on #1429
@jeddy3 yes

[2016-06-13 15:15] #1438 closed

[2016-06-13 16:00] #1439 closed

[2016-06-13 16:01] jeddy3 opened #1450 "Use -v flag for version"
Remove `--verbose` flag

[2016-06-13 16:09] jeddy3 commented on #1429
🎉

Congrats everyone! Thanks for all your hard work on this release :)

- [stylelint@6.6.0](https://github.com/stylelint/stylelint/releases/tag/6.6.0)
- [stylelint-config-standard@9.0.0](https://github.com/stylelint/stylelint-config-standard/releases/tag/9.0.0)
- http://stylelint.io/ updated

[2016-06-13 16:10] davidtheclark commented on #1429
Thanks for doing the release @jeddy3 !

[2016-06-13 16:11] #1429 closed

[2016-06-13 16:18] evilebottnawi opened #1451 "False positives for indented parens when the indentInsideParens option is used"
Incorrect indentation

`indentation`

e.g.

[code]

e.g.

[code]

`6.6.0`

PostCSS

SCSS

No error

e.g. "The following warnings were flagged:"

[code]

[2016-06-13 16:37] evilebottnawi opened #1452 "support `--ignore-path` to load all ignored from `.gitignore`"

[2016-06-13 16:47] jeddy3 commented on #1451
Was this fine prior to `6.6`?

[2016-06-13 17:06] jeddy3 commented on #1451
The following does not flag any warnings:

[code]

So, I think this is triggered when the `indentInsideParens` option is used and the actual parens are indented too.

[2016-06-13 17:12] jeddy3 opened #1454 "Remove deprecated rules"
- [x] `number-zero-length-no-unit`
- [x] `property-unit-blacklist`
- [x] `property-unit-whitelist`
- [x] `property-value-blacklist`
- [x] `property-value-whitelist`

[2016-06-13 17:20] evilebottnawi commented on #1451
@jeddy3 yep in 6.5 and lower this issue reproduced

[2016-06-13 17:29] jeddy3 commented on #1451
Phew, for a moment there I thought we had celebrated the release a bit prematurely. I've very much got my figures crossed that this release doesn't come with too many hiccups :)

So this style of indenting (i.e. indenting the value below the property):

[code]

combined with the `indentInsideParens` option mustn't be used very much in the wild, as we've not had this bug reported for the whole time

[2016-06-13 17:42] jeddy3 commented on #1452
You can do that already, right?

[code]

I tried it locally (with `-f verbose`) and it worked fine.

[2016-06-13 17:51] evilebottnawi commented on #1452
@jeddy3
[code]
and in .gitignore
[code]
But i get error in in files inside build directory, strange, Tomorrow i investigation this.

[2016-06-14 02:15] davidtheclark commented on #1454
Closed by #1456.

[2016-06-14 02:15] #1454 closed

[2016-06-14 02:15] davidtheclark commented on #1450
Closed by #1453

[2016-06-14 02:15] #1450 closed

[2016-06-14 06:17] alan-agius4 opened #1458 "Indentation in Sass Maps"
"A bug where the indentation rule warning is being firing when it is not suppose to in nested sass maps". The fix for https://github.com/stylelint/stylelint/issues/1406 seems to cause more issues even when not nesting maps. (which before worked fine)

e.g. `indentation`

e.g.

[code]

e.g.

[code]

`6.6.0`

"gulp"

"Yes, it's related to SCSS maps.

"No warnings to be flagged."

"The following warn

[2016-06-14 07:25] ntwb commented on #1458
Related: #1149, #1451

[2016-06-14 07:25] ntwb commented on #1149
Related: #1451, #1458

[2016-06-14 07:26] ntwb commented on #1451
Related: #1149, #1458

[2016-06-14 08:57] ntwb opened #1459 "Quote style missing from `font-family-name-quotes` messages"
A bug where the quote style required is not included in the error message

`font-family-name-quotes`

[code]

[code]

 `6.6.0`

CLI with `stylelint src/test.css --config .stylelintrc `"

No

Expected the message to include `double` as the expected quote style:

[code]

The following warnings were flagged:"

[code]

Note, there are two spaces between these two words `Expected  quotes`

[2016-06-14 09:52] ntwb opened #1460 "Multiple rule `ignore` clauses in rules fails producing false positives"
A bug where multiple `ignore` clauses in `comment-empty-line-before"` fails producing false positives.

`comment-empty-line-before`

[code]

In `index.js`:
[code]

`6.6.0`

CLI with `stylelint src/test.css --config index.js`"

No

No warnings to be flagged.

The following warnings were flagged:

[code]

[2016-06-14 10:13] Nirazul commented on #1460
I don't think that it is valid to add two keys with the same value in JS and JSON. All information I've found points in this direction.

[JS](http://stackoverflow.com/questions/12561482/javascript-how-to-iterate-object-with-two-the-same-keys-and-get-two-values)

[JSON](http://stackoverflow.com/questions/5306741/do-json-keys-need-to-be-unique)

[2016-06-14 10:14] ntwb commented on #1460
A JS configuration workaround is to reverse the `ignore` clauses configuration:
[code]
This results in no errors

----

Another JS configuration:
[code]
This results in no errors

----

A  `.stylelintrc` file configuration
[code]
This results in no errors

----

Another `.stylelintrc` file configuration

[code]

Running `stylelint test.css --config .stylelintrc` results in:
[code]

This looks like

[2016-06-14 10:16] Nirazul commented on #1460
Adding this here as your second comment came directly after me responding :)

I don't think that it is valid to add two keys with the same value in JS and JSON. All information I've found points in this direction.

[Is it valid in JS?](http://stackoverflow.com/questions/12561482/javascript-how-to-iterate-object-with-two-the-same-keys-and-get-two-values)
[Is it valid in JSON?](http://stackoverflow.