[2017-05-20 07:32] hudochenkov commented on #2585
I don't see a need for watch mode in the stylelint core because most users already have it when using their build tools or in code editors.

[2017-05-20 07:49] hudochenkov commented on #2581
@jeddy3 I did a research. `url()` is valid. Also some [`filter` functions](https://www.w3.org/TR/filter-effects-1/#FilterProperty) could have no parameters.

[2017-05-20 08:16] hudochenkov commented on #2573
Would you mind update this issue with new plan discovered in https://github.com/stylelint/stylelint/issues/2532, please?

[2017-05-23 09:44] gucong3000 opened #2589 "New feature: use `postcss-html` to parse HTML for CLI"
- New feature for CLI, support `*.vue` & HTML file.
- `stylelint-processor-html` Incompatible with autofixes, and don't match `lang` attribute of  `<style>` tag.

I'd like to push an PR for this.

CSS in `*.vue` file

[code]

any

any

stylelint: CLI

Yes, any non-standard syntax in `*.vue` file

e.g. "No warnings to be flagged."

e.g. "The following warnings were flagged:"

[code]

[2017-05-23 09:45] evilebottnawi commented on #2589
@gucong3000 we don't use `processors` in core, this complicates the maintenance of the project, it is better to do it in a separate repository.

[2017-05-23 12:41] jeddy3 commented on #2585
@chrisregner-com Thanks for the suggestion.

It looks like the team is in agreement with David's sentiment:

Feel free to create a separate tool and add it to the list of [complementary tools](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/complementary-tools.md).

[2017-05-23 12:41] #2585 closed

[2017-05-23 13:44] jeddy3 commented on #2581
Thanks for doing the research!

[2017-05-23 13:50] jeddy3 commented on #2589
@gucong3000 Thanks for the suggestion.

Feel free to [create a new processor](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/processors.md) with these capabilities. Perhaps call it `stylelint-processor-style-tags`. Also, feel free to create a PR that adds the new processor to [the list in the docs](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/processo

[2017-05-23 13:50] #2589 closed

[2017-05-23 15:31] evilebottnawi commented on #2586
@hudochenkov from spec:
[code]
Seems it is valid and stylelint do it right.

[2017-05-24 02:03] gucong3000 opened #2592 "Add default support for HTML, Markdown, Vue component"
The existing [processors API](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/processors.md) is not compatible with __autofixes__.

I suggest to use [opts.syntax](http://api.postcss.org/global.html#syntax)

[2017-05-24 02:50] ntwb commented on #2061
I'm going to reopen this for consideration as I think Yarn has matured as has the ecosystem surrounding it now. With the launch of NPM 5, NPM will use _lockfiles_ by default, @Greenkeeper has also [added support](https://github.com/greenkeeperio/greenkeeper-lockfile) for lockfiles for both Yarn and NPM.

I'll invest some time over the coming days to dig around and take a closer look at what is req

[2017-05-24 09:22] mwawrysz opened #2593 "Feature request: no-trim-semicolon for sass"
Is there any way to have option like no-trim-semicolon - I can't find that in rules?

[2017-05-24 09:23] hudochenkov commented on #2593
Could you explain, please, what you want to check?

[2017-05-24 09:36] mwawrysz commented on #2593
For sass is useful for me to don't use ';' at the end of line

Example:
[code]
It always require semicolon at the end -> I am looking for the rule to disable this.

[2017-05-24 09:38] hudochenkov commented on #2593
Could you, please, use issue template? We need that information.

Also we doesn't support Sass (indented based syntax).

[2017-05-24 09:48] mwawrysz commented on #2593
If there is no Sass support I don't know if that will make any sense now :)

But thank you anyway

[2017-05-24 10:39] ntwb commented on #2593
@mwawrysz, there is a proposal open to add SASS in #2486 and #2503

If there is any way you could help out in those issues that would I'm sure help us help you 😄

The reason we ask people to use the issue template is because we've a diverse set of contributors from all around the world and whose first language is not necessarily English, as such adding code examples per the issue template is more

[2017-05-24 13:29] mwawrysz commented on #2593
Thank you very much for that info :+1:

I have to dive deeper in that :)

[2017-05-24 18:46] TrevorSayre opened #2594 "Allow `false` for some rules as an override for extended rulesets"
https://stylelint.io/user-guide/rules/shorthand-property-no-redundant-values/

In our project we are using `stylelint-config-standard` but would like to override one of the rules.

The rule `shorthand-property-no-redundant-values` only has an option for `true`.

Since there is no option for `false`, we cannot override the rule.

The following `.stylelintrc` will throw an error.

[code]

[2017-05-24 19:02] jeddy3 commented on #2594
Are you trying to _enforce_ redundant values? That's a use case we've not accounted for. What's your reasoning, so we can better consider the request?

If you just want to turn off the rule,  [use `null`](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md#how-do-i-disable-a-rule).

[2017-05-25 13:15] hudochenkov commented on #2581
@PhilippSoehnlein thank you for reporting!

Fixed by https://github.com/stylelint/stylelint/pull/2587.

[2017-05-25 13:15] #2581 closed

[2017-05-25 14:29] hudochenkov commented on #2573
I think we could postpone [`rule.dependsOn`](https://github.com/stylelint/stylelint/issues/2532#issuecomment-302109499) feature until 7.12. Because autofixing is in good shape for the first release, and making `dependsOn` quick, but [“dumb”](https://github.com/stylelint/stylelint/issues/2532#issuecomment-302140569) may not worth effort and 7.11 delay.

There few PRs I think we should merge for 7.1

[2017-05-26 03:37] sergesemashko commented on #2592
@gucong3000, [processors API](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/processors.md) doesn't mean to be compatible with postCSS syntax api, as per documentation:

I'm curious, tho, what are the use cases and why is it necessary? To introduce a breaking change there should be cases and benefits that worth it.

[2017-05-26 09:24] jeddy3 commented on #2573
Is `--fix` for the `*-empty-line-before` rules dependent on the `indentation` rule always running _afterwards_? Or does it not matter for these rules?

[2017-05-26 09:33] hudochenkov commented on #2573
It's not depends, but recommended to run for better results. The only situation when `indentation`  is better be run after `*-empty-line-before` rules when node for `*-empty-line-before` rule is not on it's own line.

Given:

[code]

Before:

[code]

After:

[code]

Given:

[code]

Before:

[code]

After:

[code]

[2017-05-26 09:36] hudochenkov commented on #2573
As a temporary solution `indentation` is [placed](https://github.com/stylelint/stylelint/pull/2529/files#diff-1b5afd6b670c8bdd40102c599cbc9697) as the very last rule.

[2017-05-26 11:06] jeddy3 commented on #2573
Thanks for the examples. It's clearer to me now.

I missed that somehow! Thanks for pointing it out.

Agreed. Let's get those in and release.

[2017-05-26 14:49] sergesemashko commented on #2592
It looks like this issue is not going to be resolved, let's let it sit in the issue queue for maybe couple of days, and if there are no additional clarifications, we'll close it.

[2017-05-26 15:45] TrevorSayre commented on #2594
We're trying to allow redundant, not enforce. Using `null` solves our problem, thank you :)

[2017-05-26 15:45] #2594 closed

[2017-05-29 09:44] jitendravyas opened #2598 "Undefined rule at-rule-semicolon-space-before"
OSX
stylelint -v 7.8.0
https://github.com/wikimedia/grunt-stylelint/releases/tag/v0.8.0

[code]

[2017-05-29 09:48] hudochenkov commented on #2598
Please update your stylelint to the latest version. These rule was added in [7.10.0](https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#7100).

[2017-05-29 10:28] jeddy3 commented on #2586
The following looks like valid code _and a valid use case_ to me:

[code]

I can see myself using that more than I use the following:

[code]

I think providing an option, `ignore: ["custom-properties"]`, to make the rule more lenient would be in line with our approach elsewhere in stylelint.

@jethrolarson Would you like to [contribute this option](https://github.com/stylelint/stylelint/blob/mast

[2017-05-29 10:30] #2598 closed

[2017-05-29 10:30] #2593 closed

[2017-05-29 10:35] jeddy3 commented on #2580
Closing for now. I believe stylelint's behaviour is consistent with eslint's i.e just using the command of both (`eslint` and `stylelint`) will display their respective CLI help.

[2017-05-29 10:35] #2580 closed

[2017-05-29 13:56] jitendravyas opened #2599 "What is the difference between Head and 7.10.1"
Head https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#head
7.10.1 https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#7101

[2017-05-29 14:49] evilebottnawi commented on #2599
@jitendravyas This is what will be in the next version

[2017-05-29 22:53] ntwb commented on #2599
Indeed, most of what is in HEAD will be released as part of stylelint 7.11.0

[2017-05-29 22:53] #2599 closed

[2017-05-30 07:09] sourav-kumar opened #2600 "Mixin-name-pattern is not working for postcss-mixins"
e.g. "A bug where..."

Mixin-name-pattern

[code]

e.g.

using stylelint-scss
[code]

[2017-05-30 09:43] jitendravyas opened #2601 "Unclosed bracket error"
I'm getting an error when I run stylelint 2nd time on the same file

Not sure if it is a bug for stylelint or intended error but for me it's a bug.

I guess this [string quotes](https://stylelint.io/user-guide/rules/string-quotes/) . we can't have double quotes inside double quotes.

[code]

		`"string-quotes": "double",`

7.8.0 via grunt plugin

Via Stylefmt CLI

`stylefmt -r '/Users/jitendravyas

[2017-05-30 09:55] hudochenkov commented on #2601
Thanks for creating this issue but issues need to follow our issue template, so that we can clearly understand your particular circumstances.

[2017-05-30 10:20] jitendravyas commented on #2601
@hudochenkov updated it.

[2017-05-30 10:33] evilebottnawi commented on #2600
@sourav-kumar Please update stylelint to latest version

[2017-05-30 11:40] hudochenkov commented on #2601
@jitendravyas Thanks.

I see you're using `stylefmt`, and not `stylelint`. I can't reproduce an error in stylelint. Most likely it's a problem in stylefmt and you should report in their repository.

[2017-05-30 12:34] jitendravyas commented on #2601
@hudochenkov I think the error is simple. My code has single quotes and double quotes both and `"string-quotes": "double"` find all instances of single quotes and convert into double quotes so we don't get an error when I run stylefmt CLI first time. But when I run it the second time stylelint find double quotes inside double quotes and gives the error I posted

[2017-05-30 12:36] hudochenkov commented on #2601
@jitendravyas your explanation make sense!

But I have to repeat, that it's a stylefmt error, not stylelint's. Please open an issue in stylefmt repository.

[2017-05-30 12:36] #2601 closed

[2017-05-30 13:15] sourav-kumar commented on #2600
@evilebottnawi , this is a stylelint-scss rule, so i am using updated version of stylelint and stylelint-scss. But when I am going to validate postcss mixin syntax ,
[code]
its throwing error for rule 'mixin-name-pattern.

Please check once, if you get chance.

Thank You,
Sourav

[2017-05-30 19:11] jeddy3 commented on #2600
Dupe of https://github.com/kristerkari/stylelint-scss/issues/121

@sourav-kumar [`at-mixin-pattern`](https://github.com/kristerkari/stylelint-scss/tree/master/src/rules/at-mixin-pattern) comes from the 3rd party `stylelint-scss` plugin. stylelint itself is only focused on standard CSS syntax.

As an aside, enforcing a pattern of `@define-mixin` might not be the domain of `stylelint-scss` either, a

[2017-05-30 19:11] #2600 closed

[2017-05-31 02:54] sourav-kumar commented on #2600
@jeddy3 , thank you for your response.

[2017-05-31 06:48] tgdev opened #2602 "Cache option not generating .stylelintcache file"
A bug where the cache option doesn't seem to be applied and therefore lints entire project every time a change is made.

NA

I'm using Scss files imported into a single stylesheet (styles.scss) that I'm passing in to stylelint

[code]

4.2.0

Node API with `npm run stylelint`

No

A .stylelintcache file be created in my project directory. Once file is created the linting process should speed up wh

[2017-05-31 06:53] tgdev commented on #2602
Apologies. Realised the Cache option was introduced inversion 7.10.0 and I had an older version. Have updated my project to 7.10.0 and it works as expected

[2017-05-31 06:53] #2602 closed

[2017-05-31 08:23] jitendravyas commented on #2601
@hudochenkov it looks like Stylelint error. I have Stylelint plugin installed in my VS Code. And I just saw the same error in code editor too. See below screenshot.

![unnamed](https://cloud.githubusercontent.com/assets/77309/26622582/7e769b88-4608-11e7-9d42-26f833682b94.jpg)

[2017-05-31 08:30] hudochenkov commented on #2601
It's not a stylelint error. It's error in your code. stylelint can't parse invalid CSS.

I suppose your code was valid, but then you run stylefmt and it made your code invalid. Report this problem to stylefmt, please, because it breaks your code.

[2017-05-31 10:02] evilebottnawi commented on #2601
@jitendravyas seems your svg in url is incorrect (no `'`,`"` characters in url)

[2017-05-31 15:10] mdavidmorton commented on #1914
I ran into this error while setting up stylelint and postcss as well. Changing stylelint versions didn't fix it. However, moving stylelint to the top of my postcss plugins did.

[2017-05-31 15:13] hudochenkov commented on #1914
@mdavidmorton Could you create a [new issue](https://github.com/stylelint/stylelint/issues/new) using issue template, please?

[2017-05-31 15:19] mdavidmorton commented on #1914
@hudochenkov Yep. It'll take me a little bit to get all the info together.

[2017-05-31 16:01] mdavidmorton opened #2603 "Postcss + TypeError: Cannot read property 'length' of undefined"
TypeError thrown when using stylelint with postcss (and Gulp)

[code]

`7.10.1`

As a postcss plugin via gulp task. See above configuration

No exceptions. Reporter should have identified any style issues.

[code]

Other issues (e.g. #1914) suggest using previous versions of stylelint. Those versions gave me the same error as that above.

However, moving stylelint to the top of my postcss plugin l

[2017-05-31 16:11] jeddy3 commented on #2603
We recommend having stylelint as the first plugin in the PostCSS pipeline, otherwise stylelint is linting the output of the transformation plugins rather than your actual source code.

As an aside, it looks like either `precss`, `cssnext`, `autoprefixer` or `cssnano` is transforming your CSS code into something that breaks stylelint. It would be useful to investigate what that might be. Are you ab

[2017-05-31 16:35] mdavidmorton commented on #2603
@jeddy3 I initially glossed over the documentation's reference to [plugin order](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/postcss-plugin.md#usage-examples). I submitted this issue at the request of @hudochenkov.

The problem appears to stem from the postcss-import module. This CSS will throw the error **if** the plugin order is wrong:

[code]

And in _partial.css:

[code]

[2017-05-31 16:55] jeddy3 commented on #2603
Thanks for digging deeper!

It's good to know it's related to `postcss-import`, as I think we've [already address that](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/postcss-plugin.md#example-b) in the docs. In the example, we recommend using `postcss-imports`'s [plugins option](https://github.com/postcss/postcss-import#plugins). As such, I think we can close this issue.

No w

[2017-05-31 16:55] #2603 closed

[2017-05-31 17:02] hudochenkov commented on #2603
Also we recommend use [gulp-stylelint](https://github.com/olegskl/gulp-stylelint) for better reporting instead of using stylelint as PostCSS plugin.

[2017-06-01 00:11] TheSisb opened #2605 "Selector-no-type complains about double slash comments"
A bug in `selector-no-type` that complains on double slash comments.

`selector-no-type`

e.g.

[code]

e.g.

[code]

`7.10.1`

CLI with `stylelint --config myconfig *.css`

Yes, we use postcss to allow inline comments (https://www.npmjs.com/package/postcss-comment)

No warnings to be flagged

The following warnings were flagged:

[code]

[2017-06-01 06:00] hudochenkov commented on #2605
Thank you for reporting and using template!

It will be helpful if error message was for example stylesheet you provided :)

The problem is in `// comments`. It's not a standard CSS, but you're using `.css` file extensions. stylelint can't parse it correctly. I think if you set syntax to `scss` it will fix your problem. stylelint will use SCSS parser instead, and this parser will correctly parse y

[2017-06-01 18:00] TheSisb commented on #2605
That fixes the issue, thanks!

Is there a way to set the syntax from the `stylint.config.js` file?  I couldn't find it in the docs.

[2017-06-01 18:02] hudochenkov commented on #2605
No, it isn't possible.

[2017-06-01 18:14] TheSisb commented on #2605
That's kind of problematic.  Webpack and my IDE now still complain about the issue.  :/

[2017-06-01 18:26] jeddy3 commented on #2605
Can you change the extension of your files to `.scss`? If your writing SCSS rather than CSS, then you ought to use the corresponding file extension. I believe both your IDE and webpack will then detect the`.scss` extension and set the syntax to SCSS.

[2017-06-01 18:29] TheSisb commented on #2605
We're currently using postcss with css modules to parse our stylesheets.  Most of our css is true to the original css, but we really wanted to use inline comments `//` because we migrated from less and they're simply convenient.

Our extensions are `filename.module.css`, which I *think* is the current lead for naming conventions when using css modules.

[2017-06-01 18:42] hudochenkov commented on #2605
For webpack you can configure syntax: https://github.com/JaKXz/stylelint-webpack-plugin#options

[2017-06-01 20:54] jeddy3 commented on #2605
The standard PostCSS parser [will parse](https://astexplorer.net/#/gist/f7a97f59fcda7a5a87448f178b8021b3/5c6277307c10f9124ca7fb8ba5cc2b57b68d0154) `// test` as part of the selector, as SCSS-like comments are a non-standard construct that require a special parser to be understood.

At some point in the configuration of your tools (be it webpack or your IDE) you'll need to specify that a [special Po

[2017-06-01 21:09] TheSisb commented on #2605
Thank you very much for the clarification and help!

[2017-06-01 21:09] #2605 closed

[2017-06-02 02:17] gucong3000 commented on #2592
In #2596, I use postcss syntax `postcss-html` to support `*.md`, `*.vue`, It is compatible with autofixes.

[2017-06-02 12:01] jitendravyas opened #2606 "How to get error reports in CLI grouped by type of errors rather than error on files?"

[2017-06-02 16:18] lydell commented on #2532
[Prettier 1.4.0](https://github.com/prettier/prettier/releases/tag/1.4.0) just shipped with support for CSS, LESS and SCSS!

[2017-06-02 17:08] lydell commented on #2532
Is it possible to create `stylelint-plugin-prettier` just like [eslint-plugin-prettier](https://github.com/prettier/eslint-plugin-prettier)? In projects already using ESLint I find it super convenient to just pop in Prettier into that already existing infrastructure. I always want to run ESLint and Prettier on the same files, and I want CI integration and editor support. This way I could just add

[2017-06-02 18:14] evilebottnawi commented on #2532
@lydell yep, let's start with `stylelint-plugin-prettier`
@vjeux can we create `stylelint-plugin-prettier` in `prettier` repo? as eslint

[2017-06-02 18:18] vjeux commented on #2532
@evilebottnawi  https://github.com/vjeux/stylelint-plugin-prettier, just added you as an admin.

[2017-06-02 18:19] evilebottnawi commented on #2532
@vjeux awesome
@stylelint/core I will be happy if anyone wants to help me

[2017-06-02 19:10] jeddy3 commented on #2606
You'll need to [write a custom formatter](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/formatters.md) to do that.

As per the issue template, please use stackoverflow for any further questions.

[2017-06-02 19:10] #2606 closed

[2017-06-04 20:05] hudochenkov opened #2607 "Latest master branch doesn't work in Node 4"
I was testing `stylelint-order` on latest stylelint `master` and seems like stylelint doesn't work in Node 4.

Installed locally (using [`n`](https://github.com/tj/n)) and in Travis:

[code]

If I clone stylelint repository locally, then do `npm install` and `npm test`, then no problems. That what Travis do for us as well.

In different scenarious, when stylelint is dependency, things are getting

[2017-06-05 08:24] jitendravyas commented on #1241
I'm getting same error when I try to use https://github.com/ccbikai/stylelint-formatter-table

[2017-06-05 09:04] hudochenkov commented on #2573
One more issue is important to be resolved for 7.11 https://github.com/stylelint/stylelint/issues/2607

[2017-06-05 09:09] hudochenkov commented on #2573
I have a good news as well. I've been working on the new `stylelint-order` version, and it has autofixing! Will publish it as soon as 7.11 released.

I've tried stylelint `master` branch and new `stylelint-order` on two big projects and they work very well. They fix what they can fix, and don't add new errors :)

[2017-06-06 13:32] lukedar opened #2608 "Fix errors when running flow on stylelint as a dependency"
A bug where running flow against version 7.10.1 causes 40 errors.

install 'flow-bin' and run npm run flow without excluding node_module

7.10.1

[code]

I have added stylelint under [ignore] in .flowconfig but projects should not have to exclude node modules if not when imports of modules need to be stubbed,

[2017-06-07 11:07] damianobarbati opened #2609 "support for stylelint in package.json [feature request]"
`stylelint` supports the property in package.json but the loader is not reading from it. :)

[2017-06-07 11:08] evilebottnawi commented on #2609
@damianobarbati not related to `stylelint`, seems `loader` don't support configuration for stylelint

[2017-06-07 11:11] damianobarbati commented on #2609
Yes I noticed! `the loader is not reading from it`
Any plan to support this?

[2017-06-07 11:12] sergesemashko commented on #2609
@damianobarbati, seems like [stylelint-loader](https://www.npmjs.com/package/stylelint-loader) is deprecated, you might want to check out [https://github.com/JaKXz/stylelint-webpack-plugin](stylelint-webpack-plugin)

[2017-06-07 11:13] damianobarbati commented on #2609
no wait: I'm not using the loader but postcss plugin:

[code]

[2017-06-07 11:17] sergesemashko commented on #2609
most likely `postcss-loader` is not reading the properties from package.json. As it was mentioned above, this is not related to `stylelint`

[2017-06-07 16:31] jeddy3 commented on #2609
👍

[2017-06-07 16:31] #2609 closed

[2017-06-07 20:55] damianobarbati opened #2611 ""off" to turn off rule [feature request]"
Please add an option to disable a rule, like:
[code]
This way we can have defaults but override (or better remove) rules which we don't want to apply at all (when no available option match the needs).

[2017-06-07 20:56] evilebottnawi commented on #2611
@damianobarbati use `null` for this purpose

[2017-06-07 20:57] damianobarbati commented on #2611
doh! I did try `false`... thanks!

[2017-06-07 20:57] #2611 closed

[2017-06-07 21:14] damianobarbati opened #2612 "stylelint + postcss running on processed css instead of original .scss"
How can we have `stylelint` lint just original sources in webpack? Because processing the final output throws every error possible of course!
Also: it's processing files multiple times, how come?

[code]

[2017-06-07 21:23] evilebottnawi commented on #2612
@damianobarbati use plugin for webpack https://github.com/JaKXz/stylelint-webpack-plugin or move `stylelint` on top of postcss plugins

[2017-06-07 21:28] damianobarbati commented on #2612
- I tried to move stylelint on tops of plugins but same errors, same file processing multiple times and errors on processed files
- I tried using stylelint-webpack-plugin, no errors but it's still processing multiple times css!
- I'd really rather use the postcss plugins method for sake of consistence

Here a repro => https://github.com/damianobarbati/react-simple-app

@evilebottnawi thanks so muc

[2017-06-07 21:28] damianobarbati commented on #2612
@evilebottnawi with top you mean first or last? just to be sure, not working either way.. :(

[2017-06-07 21:42] evilebottnawi commented on #2612
@damianobarbati I am not familiar with linting on loaders and plugins. I don't use `lint` in `webpack` assembly, on large project it is very increases assembly time. For linting i use `npm` commands and `lint-staged`.

[2017-06-08 01:25] ntwb commented on #2612
Here's a couple of links to what's mentioned above:
https://github.com/okonet/lint-staged
https://github.com/awebdeveloper/pre-commit-stylelint

[2017-06-08 06:57] jeddy3 commented on #2612
Also, this and [stylelint-webpack-plugin](https://github.com/JaKXz/stylelint-webpack-plugin) allow you to use stylelint's [built-in](https://github.com/stylelint/stylelint/tree/master/lib/formatters) formatter.

Closing as I believe this is a toolchain issue, rather than a stylelint core one.

[2017-06-08 06:57] #2612 closed

[2017-06-08 06:58] jeddy3 commented on #2608
@lukedar Thanks for the report and for using the template.

Can you try `master`, i.e. `npm i stylelint/stylelint`, and see you still get the same errors?

[2017-06-08 12:31] lukedar commented on #2608
@jeddy3 Thanks for your response. Unfortunately the same errors output with master.
Ive attached all the errors.

[errors.txt](https://github.com/stylelint/stylelint/files/1060957/errors.txt)

[2017-06-09 05:55] hudochenkov commented on #2573
Only one issue left to solve for 7.11 release! But it's a tricky one #2607

[2017-06-09 08:48] jitendravyas commented on #2586
Any conclusion on this?

[2017-06-09 08:59] hudochenkov commented on #2586
@jitendravyas add [disable comments](https://stylelint.io/user-guide/configuration/#turning-rules-off-from-within-your-css) to disable rule on particular line. Or consider contributing a new option, as per [comment above](https://github.com/stylelint/stylelint/issues/2586#issuecomment-304629118).

[2017-06-09 09:17] jitendravyas opened #2615 "-webkit-appearance and property-no-vendor-prefix rule"
Bug I guess

property-no-vendor-prefix

[code]

`"property-no-vendor-prefix": true
`

7.10.1

Stylelint Grunt plugin

I guess no.

As mentioned [here](https://stylelint.io/user-guide/rules/property-no-vendor-prefix/)

I think it should ignore these but I guess it's an issue with Autoprefixer cc: @ai

`Unexpected vendor-prefix "-webkit-appearance"`

[2017-06-09 09:21] hudochenkov commented on #2615
Rule works like expected. You're using prefixed property. Autoprefixer can prefix `appearance` property since [6.1](https://github.com/postcss/autoprefixer/releases/tag/6.1.0) version.

[2017-06-09 09:21] #2615 closed

[2017-06-09 09:41] hudochenkov commented on #2607
Fixed in #2614.

[2017-06-09 09:41] #2607 closed

[2017-06-09 09:51] hudochenkov commented on #2573
Well. Everything is merged and fixed for this release. @stylelint/core shall we make a release?

[2017-06-09 10:05] evilebottnawi commented on #2573
@hudochenkov yep

[2017-06-09 10:12] jeddy3 commented on #2573
Fantastic!

Yep. I can cut a release later today.

(Reminder to self to document the release process!)

[2017-06-09 13:19] jeddy3 commented on #2573
🎉 Released 🎉

Thanks everyone for your contributions!

[2017-06-09 13:20] #2573 closed

[2017-06-09 13:22] m-allanson commented on #2573
🚂🚋🚋🚋💨 Version 8 here we come!

[2017-06-09 13:24] hudochenkov commented on #2573
Yeah! I'm so happy we've released it :)

@m-allanson there is also [7.12](https://github.com/stylelint/stylelint/issues/2574) :)

[2017-06-09 13:33] jeddy3 commented on #2532
`7.11.0` has [just been released](https://github.com/stylelint/stylelint/releases/tag/7.11.0) with experimental `--fix` support. This should help with the creation of autofixing plugins like `stylelint-plugin-prettier` and [`stylelint-order`](https://twitter.com/xwoody/status/873168389539233793).

[2017-06-09 13:35] jitendravyas commented on #2518
Are we talking about removing only those formatting rules from stylelint which can be auto fixed by Prettier?

[2017-06-09 13:46] jitendravyas commented on #2518
@evilebottnawi ok. By the way just wanted to share that I have actually removed all formatting related rules from my `.stylelintrc` I use at work. I think devs should not waste the time of formatting code manually. I have made my own list of stylelint rules and marked them all rule which I think are purely formatting related and have removed them. For autoformatting, I will be either using **Prett

[2017-06-09 13:56] evilebottnawi commented on #2518
@jitendravyas in near future I will try to implement `stylelint-config-prettier` then `stylelint-plugin-prettier` and your can use `stylelint` as one tool and `prettier` as plugin `stylelint`, it is allow using formatter and linter together.

[2017-06-10 17:53] abdonrd opened #2617 "Add processors support to autofix"
When I run `stylelint '**/*.{css,html}' --fix`, all the .html files are emptied (if the `.html` file doesn't have CSS) or only with the CSS code (if the `.html` file has CSS in a <style> tag).

Any CSS code in a `.html` file.

 The [stylelint-processor-html](https://github.com/ccbikai/stylelint-processor-html) without plugins.

`7.11.0`

CLI with `stylelint '**/*.{css,html}' --fix`.

No.

Keep the

[2017-06-10 18:48] hudochenkov commented on #2617
Thank you for reporting! What stylelint configuration (config, plugins, processors) is needed to reproduce this issue?

[2017-06-10 18:55] abdonrd commented on #2617
Oops! Sorry, the https://github.com/ccbikai/stylelint-processor-html without plugins.

(when I get home, I add the config)

[2017-06-10 20:17] jitendravyas commented on #2611
@evilebottnawi like this?

`"selector-list-comma-newline-after": null`

[2017-06-10 20:29] hudochenkov commented on #2611
@jitendravyas yes.

[2017-06-10 20:38] hudochenkov commented on #2617
As autofixing is experimental feature, we haven't investigated extra configurations. We need to make further investigation about using autofixing with processors.

Is it possible at all to use autofixing with them? If it is, then do we need to make changes to stylelint core or changes should be made to processors themselves.

For now you can only use autofixing only if you don't use any processors

[2017-06-10 20:40] hudochenkov commented on #2617
There is also an [issue](https://github.com/stylelint/stylelint/issues/2592) and [PR](https://github.com/stylelint/stylelint/pull/2596) on this topic.

[2017-06-11 07:42] ShayDavidson opened #2618 "LESS's `extend` is not ignored in 7.11"
I've upgrade to 7.11 and suddenly I get this error in my LESS files:
`Unexpected unknown pseudo-class selector ":extend"`.

It happens for this declaration.
[code]

On 7.10.x it simply worked.

[2017-06-11 07:47] ShayDavidson opened #2619 "Autofix strips semicolons from mixins"
I've run this command: `stylelint \'./client/**/*.less\' --fix --syntax less`, and stylelint ended up stripping all semicolons from my mixins.

For example:
`alert-help();` became `alert-help()` without the semicolon.

[2017-06-11 09:22] hudochenkov commented on #2618
Thank you for reporting! What your configuration?

[2017-06-11 09:25] hudochenkov commented on #2619
Thank you for reporting!

It's probably we're using old and unstable Less parser. Related to https://github.com/stylelint/stylelint/pull/2547

[2017-06-11 12:26] ShayDavidson commented on #2618
That's what I run: `'stylelint \'./client/**/*.less\' --syntax less'`

[2017-06-11 12:34] hudochenkov commented on #2618
What is your config?

[2017-06-11 12:41] ShayDavidson commented on #2618
[code]

[2017-06-11 12:56] abdonrd commented on #2617
Got it, thanks @hudochenkov!

[2017-06-11 14:27] ShayDavidson commented on #2619
Thanks - I'll ignore the problem for now with `disable-line` :)

[2017-06-11 15:14] hudochenkov commented on #2618
@evilebottnawi could you look into this issue, please? This commit caused regression https://github.com/stylelint/stylelint/commit/669ca6b69c7c13aecccec5e489d2301bfaa17ce1.

Is it possible to put back:

[code]

[2017-06-11 22:31] uharbachou opened #2621 "[FR?]Override rules of stylelint in file"
Hello,
i think it more feature request

For example i have two scss/less files. And its common practice to write brand colors in separate files. In one file i want all colors will be written as hex variables, but for other files support only variables. SCSS is more comfortable for that. btw i want for file variables turned on options for hex variables and for others turned off.

I have trying rese

[2017-06-12 04:21] alexilyaev opened #2622 "Add rules metadata to include if it's deprecated or not"
Hi guys, I'm working on [stylelint-find-rules](https://github.com/alexilyaev/stylelint-find-rules).
I found myself wondering if I've set all rules that Stylelint offers or not, so I"ve created a package that lists rules available by Stylelint but not set in the user config.

This is similar to [eslint-find-rules](https://github.com/sarbbottam/eslint-find-rules).

One thing that pops out is the dep

[2017-06-12 08:24] jitendravyas opened #2623 "How the team is deciding that which rules should gets auto-fix --fix first?"
As a request, I would like if this can be taken as priority https://stylelint.io/user-guide/rules/selector-pseudo-element-colon-notation/

[2017-06-12 10:28] jitendravyas opened #2624 "TypeError: Cannot read property 'syntax' of undefined with --fix"
[code]

[code]

Latest Stylelint `7.11.0` on Latest OSX and node/v6.10.0

[2017-06-12 13:08] evilebottnawi commented on #2624
@jitendravyas can your provide minimal reproducible test repo?

[2017-06-12 13:10] evilebottnawi commented on #2622
/cc @stylelint/core

[2017-06-12 13:12] evilebottnawi commented on #2623
@jitendravyas We do not have a specific list, but if your can help us with this, it will be just fine

[2017-06-12 13:39] jitendravyas commented on #2624
I'm just using CLI to auto-fix .scss files

[2017-06-12 15:08] evilebottnawi commented on #2618
@hudochenkov `Unexpected unknown pseudo-class selector ":extend"` related to `selector-pseudo-class-no-unknown` rule and other

[2017-06-12 15:37] jeddy3 commented on #2621
Stylelint is configurable with [configuration objects](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md). I suggest creating separate configurations objects/files for each of your use cases, then run stylelint for each use case, update your input glob accordingly `stylelint "*.less" --config stylelint-config-mylessone`. Use [`"extends"`](https://github.com/stylel

[2017-06-12 15:37] #2621 closed

[2017-06-12 15:40] jeddy3 commented on #2622
SGTM.

[2017-06-12 15:43] uharbachou commented on #2621
Great, thanks

[2017-06-12 15:43] jeddy3 commented on #2623
It's an open source project. So, I believe it'll be whatever rules scratch our own personal itches.

@jitendravyas If `selector-pseudo-element-colon-notation` is your itch, then please consider contributing a PR for it.

[2017-06-12 15:43] #2623 closed

[2017-06-12 15:44] jeddy3 commented on #2624
Thanks for creating this issue but we are closing it as issues need to follow our issue template, so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new) using the template.

[2017-06-12 15:44] #2624 closed

[2017-06-12 16:04] timbru31 commented on #2611
What about supporting `false` for boolean rules, too? It's not obvious to use `null` over `false` for  a simple toggle on/off rule. Yes the documentation states that null turns off a rule, but I find it confusing.

[2017-06-12 18:12] hudochenkov commented on #2622
I don't think it's a good idea. Of course, it's a small thing, and it's easy to add. But it's for one plugin only. And it's one more thing to keep in mind. We have a lot of things to keep in mind already.

Cool plugin, though.

[2017-06-12 18:21] evilebottnawi commented on #2622
@hudochenkov these plugins is very important for who have own rules, it is allow to caught rules which your missed, my opinion is it very usefully feature.

[2017-06-12 18:28] hudochenkov commented on #2611
I found only [this explanation](https://github.com/stylelint/stylelint/issues/1922#issuecomment-249160716), why there is no support for `false`.

@stylelint/core as I remember no core rule has `false` as primary option. What do you think? Maybe it's time reconsider. We could add `false` to disable a rule in the next major version, as it is breaking change. `false` indeed is a more intuitive way to

[2017-06-12 18:48] evilebottnawi commented on #2611
@hudochenkov `false` is semantic value, example:
- `space-before-something`: `true` - mean your should add space before something
- `space-before-something`: `false` - mean your should not add space before something

[2017-06-12 19:20] dptoot opened #2627 "TypeError: Cannot read property 'syntax' of undefined with --fix"
A bug where if the --fix flag is used as a CLI argument then the following error results

[code]

Removal of the --fix flag causes stylelint to work as expected

n/a

n/a

[code]

└── stylelint@7.11.0

"lint:css": "stylelint \"packages/**/*.scss\" --syntax scss --fix",

I am linting SCSS but I don't feel it is the issue

No errors :)

e.g. "The following warnings were flagged:"

[code]

[2017-06-12 19:40] evilebottnawi commented on #2528
`selector-max-attribute` wip

[2017-06-12 19:46] evilebottnawi commented on #2627
Seems related to https://github.com/stylelint/stylelint/issues/2619

[2017-06-12 20:22] m-allanson commented on #2611
@stylelint/core This is probably the most common support request on stylelint. Maybe we could add something to `validateOptions()` that detects people using `false` and advises them to use `null` instead? e.g.

[code]

This would not be a breaking change, and still leaves us open to using `false` is a primary option if we really want.

[2017-06-12 20:25] evilebottnawi commented on #2627
@dptoot weird, locally all work fine, can your provide test minimal reproducible repo?

[2017-06-12 20:32] evilebottnawi commented on #2611
@m-allanson sounds good

[2017-06-12 21:00] ntwb commented on #2623
I've spent the past few days adding stylelint to an existing project, I've got a ~20,000 line patch in progress, I've been saving all the regex's I used so I'm hoping these will help me to create _fixes_ for the rules I found the most annoying to have to update manually, scratching an itch as @jeddy3 said

[2017-06-12 21:02] evilebottnawi commented on #2528
`selector-max-universal` wip

[2017-06-12 21:04] jitendravyas opened #2629 "TypeError: Cannot read property 'syntax' of undefined"
Not sure if it's a Bug or something else

Not specific rule I guess but I tried with `--fix` with CLI and my stylelint has this rule only `"color-hex-length": "short",`

I'm not sure. I have lots of css in lots of files

[code]

7.11.0

`stylelint "app/styles/**/*.scss" --fix` and I assume it will automatically detect my `.stylelintrc` which is in same folder where I'm running the command

Not sur

[2017-06-12 21:04] hudochenkov commented on #2622
@evilebottnawi no doubts. But seems like @alexilyaev found a workaround, and no one else needs this functionality.

[2017-06-12 21:10] hudochenkov commented on #2629
Sorry you had to recreate this issue, but it was reported using template 2 hours ago.

Duplicates #2627.

[2017-06-12 21:10] #2629 closed

[2017-06-12 21:12] hudochenkov commented on #2611
@m-allanson good idea! But how to do it? We have to add this check and message for every rule?

[2017-06-12 21:25] m-allanson commented on #2611
@hudochenkov I think we can add it to [lib/utils/validateOptions.js](https://github.com/stylelint/stylelint/blob/d229a67723d7dfda0ca1ad605d43b92eadb62c77/lib/utils/validateOptions.js)?

[2017-06-12 21:26] hudochenkov commented on #2611
@m-allanson if we will show message for every rule, that has `false` option, how rule accept it without showing a message?

[2017-06-12 21:27] hudochenkov commented on #2627
I can't reproduce it either with fresh stylelint install.

@dptoot @jitendravyas could you, please, show us your installed modules? Run `npm list` in directory where stylelint is installed and copy at least stylelint part (with all its dependencies).

And test minimal reproducible repo would be also much appreciated.

[2017-06-12 21:36] jitendravyas commented on #2627
I have three question before.

When we use Stylelint CLI do we need to specificy the path of stylelintrc in cli command?

Can we auto-fix a rule using cli without stylelintrc?

When we use CLI do I need to give absolute path of folder of my scss files or relative path will do?

[2017-06-12 21:36] jeddy3 commented on #2611
I think we can be more explicit in what we pass into the `validateOption` function from each of the `no-` rules i.e. they only accept a boolean value _set to true_. Plugins, or a future rule, might accept a boolean set to false or true, and it should be explicit about that.

[2017-06-12 23:35] ntwb opened #2630 "Document ignoring urls within comments in max-line-length"
A feature request to ignore URLs in `max-line-length` rule comments

 `max-line-length`

[code]

[code]

`7.11.0`

CLI with `stylelint --config .stylelintrc *.css`"

Yes, would need to include support for other non-standard syntaxes

URLs to not be counted in the line length

The character length of the URL *is* included in the length count

[code]

[2017-06-13 01:10] alexilyaev commented on #2622
@hudochenkov Logic says that most things ESLint encounters in terms of ecosystem, Stylelint will encounter in some way or another.

So ESLint exposes rules as an Object with `meta` (which has `deprecated`, see [example](https://github.com/eslint/eslint/blob/master/lib/rules/no-native-reassign.js#L22)), and `create` function. They even added an API for getting all rules <https://github.com/eslint/e

[2017-06-13 08:07] web-padawan opened #2631 "CSS custom property set regression in selector-* rules - "cannot parse selector""
A bug related to parsing of custom property sets like this appeared in 7.11.0.

I'm not able to identify, sorry.

[code]

[code]

`7.11.0`

npm script. See [Glitch App](https://glitch.com/edit/#!/join/97898c1c-3eaa-4add-b470-8dad122af4cc) (press Logs button above the files list).

Yes, related to CSS mixins which are not yet standardized and [abandoned](http://www.xanthir.com/b4o00) by Tab Atkins.

[2017-06-13 09:21] jeddy3 commented on #2630
We currently collapse all types of urls (e.g. schemeless, path relative etc...) in non-comments by hooking into `url()` function.

I guess in comments we can [just look for](https://github.com/sindresorhus/linkify-urls/blob/master/index.js#L5) just `http(s)` urls and collapse them. This could be done with an option, say `collapseUrlsInComments: true`.

The decision is whether we add this option (a

[2017-06-13 09:50] jeddy3 commented on #2631
@web-padawan Thanks for reporting and for using the template.

I can reproduce this regression. I believe it's caused by two things:

1. [We now throw](https://github.com/stylelint/stylelint/pull/1268/files) when `postcss-selector-parser` fails to parse a selector in the `selector-*` rules.
2. The CSS custom property set is being mistaken as a rule and `--dot:` is mistakenly parsed as a selector.

[2017-06-13 10:06] jeddy3 commented on #2627
These are all answered in the docs:

[Loading the configuration object](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#loading-the-configuration-object).

[Configuration](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#configuration) - "The linter _expects a configuration object_. You can either craft your own config or exten

[2017-06-13 11:29] evilebottnawi commented on #2630
@jeddy3 why do not add `ignoreUrl` option?

[2017-06-13 11:30] evilebottnawi commented on #2622
@alexilyaev can your do PR? This is be great!

[2017-06-13 11:34] evilebottnawi commented on #2631
@jeddy3 i think be best just add `isCustom*` utils now, because `postcss` v6 handle them to another way.

[2017-06-13 11:40] evilebottnawi commented on #2110
Done in https://github.com/stylelint/stylelint/pull/2557

[2017-06-13 11:40] #2110 closed

[2017-06-13 11:48] evilebottnawi commented on #2404
Done in https://github.com/stylelint/stylelint/pull/2558

[2017-06-13 11:48] #2404 closed

[2017-06-13 12:07] evilebottnawi commented on #2453
Seems bug in `postcss-resolve-nested-selector`

[2017-06-13 12:37] jeddy3 commented on #2630
`ignore*` options tend to target contructs of the language e.g. comments, at-rules, values, functions etc. In this instance, the request to discount urls within comment strings. For me, `ignoreUrl` implies ignoring the `url()` construct.

[2017-06-13 12:40] jeddy3 commented on #2622
Historically we've always sided in favour of adding means to extend stylelint (plugins, custom syntaxes, processors etc...). I think exporting some meta data is in tune with that.

This SGTM.

[2017-06-13 12:42] evilebottnawi commented on #2630
@jeddy3 hm, your are right, maybe `ignorePattern` is best solution for this? We can add example in docs how ignore urls  using `ignorePattern`.

[2017-06-13 12:53] jeddy3 commented on #2630
I was just thinking about that too :) SGTM.

@ntwb Do you want to draw up a regex that spots urls within comment blocks? We can then add it as a second example to the [`ignorePattern: ["/regex/"]`](https://github.com/stylelint/stylelint/tree/master/lib/rules/max-line-length#ignorepattern-regex) option.

[2017-06-13 12:57] jeddy3 commented on #2631
Sounds good. Let's make use of `isStandardSyntaxRule`, rather than `isCustomPropertySet`, as that's consistent with how we do it in other `selector-*` rules like `selector-descendant-combinator-no-non-space`.

[2017-06-13 12:59] evilebottnawi commented on #2618
Done in https://github.com/stylelint/stylelint/pull/2625

[2017-06-13 12:59] #2618 closed

[2017-06-13 13:05] evilebottnawi commented on #2631
@web-padawan seems it is not valid use `custom properties sets` in `body`.

I try to add tests to `selector-attribute-brackets-space-inside` and works fine, seems it is buggy only one rule.

[2017-06-13 13:26] web-padawan commented on #2631
@evilebottnawi I just updated [Glitch app](https://glitch.com/edit/#!/join/97898c1c-3eaa-4add-b470-8dad122af4cc) above for more evidence.
In our Polymer project we have quite a lot of mixins and it does not seem to depend on outer selector.

[2017-06-13 13:27] jeddy3 commented on #2631
@evilebottnawi Does using `isStandardSyntaxRule` resolve the issue regardless of the outer selector? If so, then I think we're fine going with `isStandardSyntaxRule`. I think all the selector rules should be using `isStandardSyntaxRule` - I think it was just an oversight that they don't already.

[2017-06-13 13:33] evilebottnawi commented on #2631
@web-padawan
Your right, from spec
[code]
https://drafts.csswg.org/css-variables/#syntax

[2017-06-13 13:34] evilebottnawi commented on #2631
@jeddy3 i am working on this now, seems `isStandardSyntaxRule` is misleading, because `custom properties` and `custom property sets` are standard for css.

[2017-06-13 14:03] jeddy3 commented on #2631
The `isStandardSyntax*` utils are there to ignore constructs that PostCSS parses as a _particular_ CSS construct but aren't e.g.

[code]

Is [parsed as a _rule_](https://astexplorer.net/#/gist/25eb06fae1f040ae94b434ca9204b1d8/1d3ded17b9608c0f5652e48d49bab4d7c257f981) by PostCSS, but it's not a rule - it's a custom property set. And `--dot:` isn't a _selector_, it's the _name of a custom property s

[2017-06-13 14:05] web-padawan commented on #2631
@evilebottnawi let me emphasize that, while `custom properties` ARE standard, `custom property sets` are NOT. Tab Atkins, who was a maintainer, of that [https://tabatkins.github.io/specs/css-apply-rule/](draft) now works on `::part()` spec as a replacement, which should specially target Shadow DOM,  as it is mentioned in the link I submitted above.

[2017-06-13 14:21] evilebottnawi commented on #2631
@jeddy3 do your think best place to solve `isStandardSyntaxRule`?

[2017-06-13 14:25] evilebottnawi commented on #2631
Also we don't ignore all rule
[code]
For me best solution is `isStandardSyntaxSelector` for this place

[2017-06-13 14:49] jeddy3 commented on #2631
Yes. I think I've tracked down the problem to `selector-pseudo-class-no-unknown`.

If [the node](https://github.com/stylelint/stylelint/blob/master/lib/rules/selector-pseudo-class-no-unknown/index.js#L101-L103) is a `rule` one then we should check it is standard, with `isStandardSyntaxRule`, before continuing. Likewise, if the node is an `atRule` node then we should use `isStandardSyntaxAtRule`.

[2017-06-13 14:53] evilebottnawi commented on #2631
@jeddy3 good solution, do it

[2017-06-13 18:36] alexilyaev commented on #2622
@evilebottnawi Updating all rules to export an Object instead of a Function would be pretty big change :-). Also not familiar with the project code, not sure what it affects.

If you'd guys agree on the change and direct me to what files would be affected by changing all rules export, I could do it.
Guess it would require a codemod 🤖

[2017-06-13 20:35] jeddy3 commented on #2622
The [stylelint rules are exposed](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md#stylelintrules) as part of the public API.

Would simply adding a `meta` object onto each of the deprecated rules suffice? e.g.

For [`block-no-single-line`](https://github.com/stylelint/stylelint/blob/master/lib/rules/block-no-single-line/index.js#L60):

[code]

[code]

[2017-06-13 22:53] alexilyaev commented on #2622
@jeddy3 I see.
In that case changing the export to an Object will break all plugins since they depend in the export being a function.

Adding stuff to the function properties feels weird, but then again, a function is an object, so...

Your suggestion is easy to add and won't break anything, so I'll go with it.

Any place we should add documentation for it?

[2017-06-14 06:12] ntwb commented on #2630
Sounds good to me, thanks for spearheading the conversion

Let's go with a relative simple regex:  `ignorePattern: ["/https?:\/\/[0-9,a-z]*.*/"]`, there far more complex regex's out there for URLs but let's keep it simple.

I've added it to the docs in a new example in #2635

[2017-06-14 06:45] ntwb commented on #2630
I've just added a test for the example in #2636

[2017-06-14 07:54] jeddy3 commented on #2622
Having said all that, I suggest we hold off until after `8.0.0` is out soon. It's going to remove all the deprecated rules. There's a fair bit of reconciling of the `master` and `v8` branches to do, and minimising conflicts is going to make that process easier.

If we deprecate any rules after `8.0.0` we can add meta data to them.

[2017-06-14 19:57] mmase opened #2639 "is there any way to provide a processor via command line?"
I am interested in using stylelint with both `.scss` files and `.vue` files. I am able to get `.vue` to work nicely with `stylelint-processor-html`, but then the `.scss` files don't wory.

Is there a way to provide a separate processor for only `.vue` files or would this require entirely separate configs?

[2017-06-14 22:38] bardware opened #2640 "Error: Cannot find module 'table'"
I use stylelint on the command line; Windows 10 box; Node 8.1.1.
I call `node_modules\.bin\stylelint my.scss --fix` and get error `Error: Cannot find module 'table'`.
I manually install `npm i table -D`, call my command again and the error is gone.

[2017-06-14 23:46] evilebottnawi commented on #2640
@bardware your use `npm@5`? If yes, please don't use in production and in work, now they are very unstable

[2017-06-15 00:06] ntwb commented on #2640
Our Travis CI test suite is passing 100% perfect with Node.js 8.x and npm 5.x

Via https://travis-ci.org/stylelint/stylelint/jobs/242710531
[code]

I've also just tested this locally and I don't get any errors.

@bardware If you've just recently switched to Node.js 8 & npm 5 I'd suggest cleaning your npm cache via `npm cache clean --force` and removing your `node_modules` folder and reinstalling v

[2017-06-15 00:31] clarcharr opened #2641 "Poor linting of `@if` in SCSS"
The code:

[code]

Gets linted such that it should be changed to this:

[code]

This seems like a poor suggestion IMO.

[2017-06-15 00:32] clarcharr opened #2642 "Poor linting of nested properties in SCSS"
The below code messes with the parser:

[code]

This is valid in SCSS, so, the parser shouldn't emit parsing errors here.

[2017-06-15 00:39] ntwb commented on #2642
You'll need to use [stylelint-scss](https://github.com/kristerkari/stylelint-scss)

Also GitHub issues are for stylelint bugs and enhancements, if you're looking for help or support with stylelint then stackoverflow is our preferred question and answer forum - http://stackoverflow.com/questions/tagged/stylelint

[2017-06-15 00:39] #2642 closed

[2017-06-15 00:39] ntwb commented on #2641
You'll need to use [stylelint-scss](https://github.com/kristerkari/stylelint-scss)

Also GitHub issues are for stylelint bugs and enhancements, if you're looking for help or support with stylelint then stackoverflow is our preferred question and answer forum - http://stackoverflow.com/questions/tagged/stylelint

[2017-06-15 00:39] #2641 closed

[2017-06-15 09:13] jeddy3 commented on #2639
Can you please clarify in what way it doesn't work? Do you get an error etc?

Not currently. You can use [`extends`](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#extends) to make using separate configs pretty effortless:

[code]

[code]

[code]

[2017-06-15 10:34] dan-gamble opened #2643 "Add stylelint-disable commands support to autofix"
I have a file that has `/* stylelint-disable */` `/* stylelint-enable */` wrapped around it but when using `--fix` it tries to format this file and breaks it quite bad.

`--fix`

[Before](https://gist.github.com/dan-gamble/1505b0d34c7a30d3ce4c45f98530b8c6)
[After](https://gist.github.com/dan-gamble/0ae41752b61627538372c9e536084fdb)

A few of the issues:

* Double `;;` on `L38`
* No `;` on `L92` (I

[2017-06-15 11:42] evilebottnawi commented on #2643
I think it is bug, should be respected by default.

[2017-06-15 11:43] dan-gamble commented on #2643
I think it also ignore `ignoreFiles` too fwiw.

[2017-06-15 13:37] bardware commented on #2640
I actually like to believe I did the first `npm install` on that project using node 8, but I would not want to vow.
I have no problem trusting your tests.

[2017-06-15 13:37] #2640 closed

[2017-06-15 21:56] jeddy3 opened #2644 "Release 7.11.1"
- [x] stylelint release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

[2017-06-15 22:34] jeddy3 commented on #2631
Done in https://github.com/stylelint/stylelint/issues/2634

[2017-06-15 22:34] #2631 closed

[2017-06-15 22:34] jeddy3 commented on #2630
Done in #2636 & #2635

[2017-06-15 22:34] #2630 closed

[2017-06-15 22:35] jeddy3 commented on #2627
Closing. Please feel free to reopen when you're able to create a reproducible test case.

[2017-06-15 22:46] jeddy3 commented on #2644
Done.

🎉 Thanks everyone!

[2017-06-15 22:46] #2644 closed

[2017-06-16 01:23] alexilyaev commented on #2622
@jeddy3 Sounds good.

U can close this if u want, or keep open if it helps.

[2017-06-16 06:13] hudochenkov commented on #2536
Done in #2632.

[2017-06-16 06:13] #2536 closed

[2017-06-16 18:29] ravinggenius opened #2646 "Expected indentation of 2 spaces"
I believe this is a bug. When linting [styled-components](https://www.styled-components.com/) styles inside a helper function, indentation is reported incorrectly.

`indentation`

[code]

[code]

`7.11.1`

`yarn run lint` which calls `stylelint 'src/**/*.js?(x)'`

Yes. Both styled-components and SCSS look for `&` as a placeholder when expanding nested rules.

No errors to be reported. An error onl

[2017-06-16 18:49] jeddy3 commented on #2646
@ravinggenius Thank you for using template. However, this looks to be an issue with a 3rd party processor. I recommend opening an issue in [`stylelint-processor-styled-components` issue tracker](https://github.com/styled-components/stylelint-processor-styled-components/issues).

[2017-06-16 18:49] #2646 closed

[2017-06-17 05:06] ntwb opened #2647 "Case of line should be respected by `ignorePattern` in max-line-length"
A bug where trying to ignore multiple patterns using `ignorePattern` in the `max-line-length` rule

This is a follow up to #2630

`max-line-length`

[code]

[code]

`7.11.0`

CLI via `stylelint test.css --config index.js`

No

No warnings to be flagged on lines 3, 6, and 10

The following warnings were flagged:

[code]

Here's what a test of this I think should look like:
[code]

I've tried variou

[2017-06-17 12:14] ravinggenius commented on #2646
Of course it is. Thanks anyway. I'll check over there.

[2017-06-17 13:35] greenkeeper[bot] opened #2648 "An in-range update of remark-validate-links is breaking the build 🚨"
## Version **6.1.0** of [remark-validate-links](https://github.com/wooorm/remark-validate-links) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/stylelint/stylelint/compare/greenkeeper%2Fremark-validate-links-6.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      remark-validate-links

[2017-06-18 17:28] jitendravyas opened #2650 "[New rule Idea] Rule to remind to add :focus selector to every :hover for keyboard accessibility."
For this purpose https://github.com/postcss/postcss-focus

[2017-06-18 18:58] hudochenkov commented on #2648
I can't reproduce the problem locally. I'm using npm@3.10.10. Maybe it's reproducible on npm@5.

[2017-06-18 21:44] hudochenkov commented on #2643
I know why `stylelint-disable` doesn't work with `--fix`. stylelint [creates `disabledRanges`](https://github.com/stylelint/stylelint/blob/ba0cf50784366a23a46398c4ff60ebb67c69a12e/lib/lintSource.js#L94) while processing style sheet. While linting, stylelint doesn't care about this ranges. They only matter, when stylelint [generates report](https://github.com/stylelint/stylelint/blob/ba0cf50784366a

[2017-06-18 23:45] alexilyaev opened #2651 "Add --max-warnings <number> flag"
A common use case among teams I've worked with is to show warnings in development, but fail the build if there are leftovers.

This was essential since minor stylistic glitches in code happen all the time and having them as errors really blocks the flow of the developer.
Now with `defaultSeverity` we can set everything to `warning` and the devs are happy, dealing with them when they're comfortable

[2017-06-19 07:22] jeddy3 commented on #2650
I think this is a best handled as a plugin as it's a specific and shifting best practise, rather than configurable rule.

@jitendravyas Perhaps you would like to create your own plugin _pack_ called `stylelint-a11y`, which would group together accessibility plugins?

[2017-06-19 07:22] #2650 closed

[2017-06-19 07:24] jitendravyas commented on #2650
I would really like to start developing stylelint plugins and formatter but current docs are not very clear to me and I'm JS noob too.

[2017-06-19 07:26] jeddy3 commented on #2648
Fine with `node v8.1.2 (npm v5.0.3)`.

[2017-06-19 07:26] #2648 closed

[2017-06-19 07:27] hudochenkov commented on #2648
I restarted job in Travis, and got an error again. Cache problems?

[2017-06-19 09:39] jitendravyas commented on #706
Do you mean
`screen and (min-device-pixel-ratio: 2),`
should be
 `screen and (min-resolution: 2),` ?

[2017-06-19 11:01] evilebottnawi commented on #2643
@hudochenkov maybe create util `isStylelintDisable` and check on this before `fix` in rule?

[2017-06-19 15:43] subzey commented on #2627
@jeddy3 I have no test case, but instead I have a stack trace, hope it's fine too.

Please look at the https://github.com/stylelint/stylelint/blob/master/lib/standalone.js#L147-L156. `_lintSource` is called and then `.opts.syntax` is read from the Promise resolution.

![2017-06-19-184138_1280x1024_scrot](https://user-images.githubusercontent.com/810582/27293409-01971e50-551f-11e7-931b-6d9d41790038

[2017-06-19 15:54] subzey commented on #2627
Here's a setup that reproduces the error:

**stylelint v7.11.1**

.stylelintrc.js
[code]
.stylelintignore
[code]
style.css
[code]

Running `$(npm bin)/stylelint *.css --fix` throws.

[2017-06-19 16:02] hudochenkov commented on #2627
@subzey thank you for digging into the problem and doing research!

[2017-06-20 08:42] jeddy3 commented on #2650
I'd recommend looking at some of the existing plugin (packs). [`stylelint-order`](https://github.com/hudochenkov/stylelint-order/) is a good place to start.

Within stylelint, [`selector-pseudo-class-case`](https://github.com/stylelint/stylelint/blob/master/lib/rules/selector-pseudo-class-case/index.js) is a fairly simple rule that deals with pseudo-classes. You could use that as a foundation for

[2017-06-20 09:27] jitendravyas commented on #2650
Thanks for the direction.

[2017-06-20 09:39] jeddy3 commented on #2651
Sounds like a valid use case to me, and one that we could accept a PR for.

[2017-06-20 09:40] jeddy3 commented on #2639
Closing for now. Feel free to reopen with a clarification if using two configs isn't an acceptable solution.

[2017-06-20 09:40] #2639 closed

[2017-06-20 16:44] jeddy3 opened #2655 "Handle plurals in the messages of max rules consistently"
Ref: https://github.com/stylelint/stylelint/pull/2628/files#diff-ddae2a0dcded445b4a162fc34c63748b

[2017-06-20 16:46] evilebottnawi commented on #2655
@jeddy3 let's do it before v8 release.

[2017-06-20 16:50] evilebottnawi commented on #2528
`selector-max-combinators` wip

[2017-06-20 16:55] evilebottnawi commented on #2544
@jeddy3 It is required to be `owner`, can your found time for this (registration and adding infromation to README and on site)

[2017-06-20 18:12] hudochenkov commented on #2643
I came up to another problem. Disabled ranges assigned before file linted/fixed. For rules which altered lines (change empty lines, add line endings), disabled ranges might be incorrect after few fixes. Even after fixes within one rule.

This problem affects every rule. Because if user has rule with fixing which changes lines, then every rule after this rule will have incorrect disabled ranges.

[2017-06-20 19:56] jeddy3 commented on #2643
@hudochenkov Thanks for digging deeper. I suspect there are going to be some significant hurdles to overcome with this issue. As such, I suggest we push on with `8.0.0` and revisit this later. The autofix feature is marked as experimental and support for disable-ranges can be seen as a feature we'd like add, rather than a showstopping bug.

[2017-06-20 19:57] evilebottnawi opened #2657 "Add support for all logical combinations (:matches, :has) in selector-*"
Investigate `:matches()`, `:not()` and `:has()` for `selector-*` rules.

Now we support only `not:()`, but we can add also other, it should not be a long time or we can add `9.0`milestone for this.

Spec: https://drafts.csswg.org/selectors-4/#logical-combination

[2017-06-20 20:11] evilebottnawi commented on #2528
:tada: `selector-no-type` wip

[2017-06-20 20:19] evilebottnawi commented on #2528
@stylelint/core before close this issue, after all will be merged, please twice check code, docs and tests, I did it quickly and we could have missed something

[2017-06-20 20:23] jeddy3 commented on #2528
Good stuff.

Remember that `selector-no-type` has, unlike the other `selector-no-*` rules, [optional secondary options](https://github.com/stylelint/stylelint/tree/c85372c07239e2d0688abcda1eb1b390e649bfba/lib/rules/selector-no-type#optional-secondary-options). If these options are set then the corresponding type selector _should not be included in the count_.

[2017-06-20 20:30] jeddy3 opened #2659 "Add regex support to function-url-scheme-whitelist"
Ref: https://github.com/stylelint/stylelint/pull/2626#issuecomment-309861380

- Use `matchesStringOrRegExp`.
- Probably a good time to extract `isSchemeLessUrl` into a util.

[2017-06-20 20:32] jeddy3 opened #2660 "Ensure consistent case sensitivity across *-list rules and ignore* options"
Ref: https://github.com/stylelint/stylelint/pull/2626#issuecomment-309861380

[2017-06-20 20:39] evilebottnawi commented on #2660
@jeddy3 i think it should be case insensitivity, because protocol scheme case insensitivity https://tools.ietf.org/html/rfc3986#section-3.1.

[2017-06-20 21:12] hudochenkov commented on #2643
Agree. We should not close this issue, to not forget about this problem.

I think we should add a note somewhere about this caveat. And suggested strategy: if user is using `stylelint --fix` and `stylelint-disable*` comments, then stylelint should be run twice. First run there might be false violations (or ignored violations), because of shifted disable ranges. On second run all results would be c

[2017-06-20 21:30] hudochenkov commented on #2660
It isn't clear what this issue about. Would you mind adding more description, please?

[2017-06-20 21:44] evilebottnawi commented on #2643
@hudochenkov can we learn how it does `eslint`?

[2017-06-20 21:50] jeddy3 commented on #2660
Currently, all `*-*list` rules require their primary options to be lowercase. All the rules are case-insensitive when checking _for matches_, though. For example, `function-url-scheme-blacklist: "http"` will disallow both `http://g.co/x.jpg` and `HTTP://g.co/x.jpg`.

We can either document this limitation or address it.

I suggest we address it as `function-blacklist` currently requires lowercase

[2017-06-20 21:58] evilebottnawi commented on #2660
@jeddy3 Am i right what `function-blacklist` and other case sensitivity rules should have documentation about this (also be good add tests), other case insensitivity rules (like `function-url-scheme-blacklist`) should be documented too and have tests?

[2017-06-20 22:35] jeddy3 commented on #2660
As we have the `*-case`rules, e.g. [`function-name-case`](https://github.com/stylelint/stylelint/tree/master/lib/rules/function-name-case) I think it'll be fine to standardise on case insensitive _primary options_ across all the `*-list*` rules.

For example, the any of the following configurations would all disallow `a { transform: translateX(10px); }`:

- `function-blacklist: "translateX"`
- `fu

[2017-06-20 23:36] evilebottnawi commented on #2660
@jeddy3 all css functions case insensitivity, hist try in browser `transform: TRANSLATEX(20px);`

[2017-06-20 23:39] jeddy3 commented on #2660
Good stuff, thanks for checking that. It [supports my proposal](https://github.com/stylelint/stylelint/issues/2660#issuecomment-309911294) to have case insensitive primary options.

[2017-06-21 09:21] evilebottnawi commented on #2660
@jeddy3 good, let's do this

[2017-06-21 10:35] evilebottnawi commented on #2528
@jeddy3 also we should improve perf new rules, i known how it do, let's do it after merge.

[2017-06-21 11:04] jeddy3 commented on #2528
Good idea. Let's create a separate issue for that. Unlike deprecating the old rules, it's no neccesary for the `7.12` release.

[2017-06-21 11:05] #2655 closed

[2017-06-21 19:24] hudochenkov commented on #2643
@evilebottnawi of course we can. But I have a feeling that it won't help us, because of differences in architecture and approaches. Also I remember something from discussions, when we were discussing how to do autofixing. ESLint make multiple runs until everything is fixed and violations verified. And it also has some ranges for autofixing or something, that recalculated constantly. I might be mis

[2017-06-21 20:13] hudochenkov opened #2668 "Improve docs navigation"
I'm not sure if this issue should be open here or in stylelint.io repository.

Our docs are huge and thorough, but they are hard to navigate and search. Even for experienced users. I suggest adding Table of Content (ToC) at the beginning of every page (maybe except every rule page). It would immediately tell a user what content this page has, what might be enough for a user to decide if a page con

[2017-06-21 23:14] ntwb opened #2669 "Add the word "ignore" to "disable rules" docs"
In stylelint to turn off a rule we use various "disable" comments to disable rules.

It was pointed out to me that stylelint was unable to "ignore" certain rules as when searching the docs on stylelint.io they found no mention of "ignore" in this context.

Once I pointed out they should be searching for "disable" they were up and running 😄

I'm thinking we should sneak the word "ignore" into some

[2017-06-22 07:46] jeddy3 commented on #2668
I think so. Let's open up an issue in stylelint.io instead. We might be able to make use of something like [remark-toc](https://github.com/wooorm/remark-toc) to autogenerate.

[2017-06-23 12:03] Bigdragon13th commented on #2454
I experience this issue as well, I'm using styelint with gulp and it's very slow. You can see my time from time-require here
[code]

As you can see, Stylelint is top of the list here.

[2017-06-23 12:28] evilebottnawi commented on #2454
@Bigdragon13th maybe your don't ignore some files (tests, examples, build directory and etc stuff)?

[2017-06-24 04:50] Bigdragon13th commented on #2454
@evilebottnawi It's not runtime that is slow, it's the loading time stylelint use when we do `require("stylelint")` that is very slow.

[2017-06-24 17:53] damianobarbati opened #2676 "Document how to use negation in globs to ignore files in a CLI command"
Can you please add the following argument to stylelint (like we have on eslint)?

Great work guys!

Syntax:
`--ignore-pattern [String]    Pattern of files to ignore (in addition to those in .stylelintignore)`

[2017-06-24 18:08] hudochenkov commented on #2676
You can ignore files from CLI like so:

[code]

We should improve docs with these examples.

[2017-06-25 01:05] ntwb commented on #2676
Here's the docs that should document this:
• https://stylelint.io/user-guide/cli/
• Sourced for the above https://github.com/stylelint/stylelint/blob/master/docs/user-guide/cli.md

[2017-06-25 20:13] alexilyaev commented on #2651
@jeddy3 Can you direct me to which files should be changed and maybe suggest a way to implement? :-)

[2017-06-26 07:00] PhilippeProulx opened #2677 "Cannot parse selector warning for mixins with 2 or more parameters in selector-max-specificity"
A bug where using the less & operator with nested classes within a mixin that has more than one parameter causes a parsing error.

It seems to be related to `selector-max-specificity` since the error will not show up when this rule is not used in the config file.

[code]
Note: The error does not occur when one parameter or less is used in the mixin.

[code]

`7.11.1`

CLI with `stylelint foo.less`

[2017-06-26 07:03] hudochenkov commented on #2677
Please, use issue template, and provide your config.

[2017-06-26 08:45] PhilippeProulx commented on #2677
Thanks for the quick reply, I updated my issue to comply with the template and added more information.

[2017-06-26 09:07] #2659 closed

[2017-06-26 09:17] Bigdragon13th opened #2678 "False negatives for semicolons followed by two comments in no-extra-semicolons"
`"no-extra-semicolons": true` is not error if the issue code is followed by 2 or more lines of comment. It's error if only followed by 1 comment line or none.

`no-extra-semicolons`

This code not throw error.

[code]

This one does.

[code]

[code]

`7.11.1`

I'm using it with gulp. CLI is having the same issue.

LESS files.

It should throw an error.

It's not.

[2017-06-26 09:59] jeddy3 commented on #2528
FYI, I'm WIP on deprecating the old `no` rules.

[2017-06-26 10:00] jeddy3 commented on #2513
FYI, I'm WIP on deprecating the old `function-url-data-uris` rule.

[2017-06-26 10:24] jeddy3 commented on #2678
@Bigdragon13th Thanks for creating the issue and for using the template.

I can reproduce this with standard syntax too.

The following _will_ warn:

[code]

Whereas the following _will not_:

[code]

Labelling as a bug and help wanted. @Bigdragon13th Feel free to [contribute a fix](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#fixing-a-bug-in-an-existing-rule) i

[2017-06-26 10:43] jeddy3 commented on #2574
Once https://github.com/stylelint/stylelint/pull/2679, https://github.com/stylelint/stylelint/pull/2665 and https://github.com/stylelint/stylelint/pull/2658 are in I'll release `7.12`.

[2017-06-26 11:11] jeddy3 commented on #2677
Can we add a heuristic to [`isStandardSyntaxSelector`](https://github.com/stylelint/stylelint/blob/master/lib/utils/isStandardSyntaxSelector.js) that ignores something like `.myMixin(@a, @b).bar`?

@PhilippeProulx Non-standard syntax support isn't a priority for the core team. Please consider contributing a fix if you'd like to see this issue resolved.

[2017-06-26 13:11] #2668 closed

[2017-06-26 13:23] jeddy3 commented on #2651
@alexilyaev Try [`/lib/cli.js`](https://github.com/stylelint/stylelint/blob/master/lib/cli.js#L243-L259). Here's how [eslint does it](https://github.com/eslint/eslint/blob/master/lib/cli.js#L182-L189).

[2017-06-26 14:35] jeddy3 commented on #2622
I'll close for now.

[2017-06-26 14:54] jeddy3 commented on #2647
Use `/(https?:\/\/[0-9,a-z]*.*)|(description\\:.+)|(tags\\:.+)/`. The line is lowercased before checking. We should change that behaviour in `8.0.0`

[2017-06-26 16:46] hudochenkov commented on #2574
We should also include #2652.

[2017-06-26 17:01] #2676 closed

[2017-06-26 17:01] #2669 closed

[2017-06-26 17:10] jeddy3 commented on #2647
Done in #2683

[2017-06-26 17:10] #2647 closed

[2017-06-26 18:31] hudochenkov commented on #2627
Done in https://github.com/stylelint/stylelint/pull/2652

[2017-06-26 18:31] #2627 closed

[2017-06-26 18:35] jeddy3 commented on #2627
@subzey Thanks for your help! This will be released in `7.12`.

[2017-06-26 18:39] jeddy3 commented on #2263
Done in #2520

[2017-06-26 18:39] #2263 closed

[2017-06-26 18:42] jitendravyas commented on #2627
I hope finally I will be able to use `--fix`. Thanks.

[2017-06-26 19:44] damianobarbati commented on #2676
Is this correct?
`stylelint '**/*.css **/*.scss !**/*.min.css'  --ignore-path .gitignore`

Any chance to be symmetric to eslint adding the ignore-pattern? 🙇🏻
[code]

[2017-06-26 19:48] hudochenkov commented on #2676
@damianobarbati you forgot a comma:

[code]

BTW, you can replace `./node_modules/eslint/bin/eslint.js` with just `eslint`, and `./node_modules/stylelint/bin/stylelint.js` with `stylelint`.

[2017-06-26 19:51] damianobarbati commented on #2676
Thanks @hudochenkov but I always keep everything scoped to project, no globals but yarn and pm2.

Same with commas? =>
[code]

[2017-06-26 19:56] hudochenkov commented on #2676
Could you create minimal reproducible test case repository, please?

[code]

`stylelint .` here is the same as `./node_modules/.bin/stylelint`. It runs locally installed stylelint. Same with other tools. https://docs.npmjs.com/misc/scripts#path

[2017-06-26 19:59] damianobarbati commented on #2676
oh great, I had already observed this behaviour but never found the relevant part on npm documentation so I tried to not rely on it: thanks so much @hudochenkov, a lot less chatting in my package.json then!

[2017-06-26 20:23] #2513 closed

[2017-06-26 20:23] #2528 closed

[2017-06-26 21:48] jeddy3 commented on #2574
Done! 🎉

[2017-06-26 21:48] #2574 closed

[2017-06-26 22:26] hudochenkov commented on #2574
@jeddy3 You're on fire today!

[2017-06-26 22:30] hudochenkov commented on #2575
What our plans for 8.0 development? Should we merge `v8` into `master` now? What to do if we need to release a patch for 7.12?

[2017-06-26 23:24] jeddy3 commented on #2575
I think we should continue to work in the `v8` branch until we're about to release `8.0.0`. No new features in `7.0.`, though.

I'm currently in the process of merging `master` into `v8`, so it's up to date. It's as big a task as I thought it would be. I'm down to about 30 failing tests. Mainly around the `empty-line` before rules - in `master` we added `--fix` support and in `v8` we rewrote share

[2017-06-26 23:44] ntwb commented on #2574
Woot, thanks everyone who helped contribute to this release 😄

[2017-06-27 00:17] jeddy3 commented on #2575
Ok, I've merged everything. Caching and autofixing were added to `master` since the last merge into `v8`, so it was a fairly drawn-out process. I've patched up everything (linting, tests, snapshots etc), except for the `*-empty-line-before` tests:

[code]

The five suites are the 5 `*-empty-line-before` rules. It's likely the same problem across all the suites, so hopefully, it'll just be the case

[2017-06-27 06:02] hudochenkov commented on #2575
Thanks, @jeddy3! I'll look into these tests at sometime today.

[2017-06-27 19:15] bronzehedwick opened #2684 "Cannot parse selector error for at-each and nested variable interpolation in selector-max-specificity"
Bug where parser fails at interpolated SCSS as a class name.

No specific rule, produces `Cannot parse selector` error.

[code]

Seemingly any configuration, but using this:

[code]

`7.8.0`

Grunt with
[code]

Yes, it's related to SCSS maps.

No errors to be flagged.

e.g. "The following warnings were flagged:"

[code]

[2017-06-27 19:17] hudochenkov commented on #2684
Thank you for using issue template!

Could you, please, try latest stylelint version and check if you still have an error?

[2017-06-27 19:20] bronzehedwick commented on #2684
Hi @hudochenkov, thanks for replying so quickly!

I upgraded my CLI stylelint to `7.12.0` and got the same error.

[2017-06-27 19:26] jeddy3 commented on #2684
@bronzehedwick Can you try removing the `selector-max-specificity: "1,3,1"` rule and try again for us?

[2017-06-27 19:29] bronzehedwick commented on #2684
@jeddy3 that fixed the error!

[2017-06-27 19:36] jeddy3 commented on #2684
It was a hunch.

Technically the rule is behaving correctly as the library we use to calculate the specificity is, understandably, only compatible with standard CSS syntax. If the library fails to parse the selector, we catch the error.

I think we've two choices:

1. Investigate if we can ignore non-standard syntax selectors _before_ passing them over the library.
2. If not, document this limitat

[2017-06-27 19:41] hudochenkov commented on #2684
I can't reproduce this issue with clean stylelint 7.12.0 installation. I just got 4 normal lint errors for provided example.

[2017-06-27 19:45] jeddy3 commented on #2684
@hudochenkov I think the example is missing an inner rule. Can you confirm @bronzehedwick ?

The following test fails:

[code]

`c` is resolved to `.#{ map-get($a, b) } c`.

[2017-06-27 19:47] jeddy3 commented on #2684
Returning early if the _resolved_ selector is not standard fixes the issue.

[2017-06-27 19:47] hudochenkov commented on #2684
@jeddy3 indeed, if I add a rule inside, then I have an error.

[2017-06-27 19:49] bronzehedwick commented on #2684
@jeddy3 My apologies, I did not put a rule in my example. I'll be more explicit and update to add a rule.

[2017-06-27 19:55] jeddy3 commented on #2684
@bronzehedwick No worries. Is that updated example definitely correct? Is there definitely no nested _rule_, and only a declaration? e.g.

[code]

[2017-06-27 20:04] bronzehedwick commented on #2684
@jeddy3 Gah, you're right. It fails with a nested rule, not with a nested property. Must get better at duplicating my environments. Updating again.

[2017-06-27 20:04] hudochenkov commented on #2575
In `v8` it's so much easier to find which test is failing!

![image](https://user-images.githubusercontent.com/654597/27607520-cd48b90a-5b8c-11e7-9d39-66fa8325915b.png)

Thanks, @davidtheclark, for [making this improvement](https://github.com/stylelint/stylelint/pull/2262/files#diff-1f69085782be126b5bbc8cedfb05c700)!

[2017-06-27 20:09] jeddy3 commented on #2684
Good to know. This will be fixed in https://github.com/stylelint/stylelint/issues/2685.

[2017-06-27 20:09] bronzehedwick commented on #2684
Perfect, thanks!

[2017-06-27 21:42] hudochenkov commented on #2575
After updating tests that miss `fixed` property, I can see that they are all different problems. There are common issue, but mostly they are different.

I'm working on fixes for these rules.

[2017-06-27 21:48] evilebottnawi commented on #2521
@jeddy3 also we should remove all deprecated rules from https://stylelint.io/user-guide/rules/

[2017-06-28 02:25] ntwb commented on #2532
Prettier 1.5.0 is out with a few _opinions_ on CSS formatting:

[2017-06-28 10:07] evilebottnawi commented on #2532
@ntwb i think in first we release 8.0.0 and fix problem with `--fix` then we can create `stylelint-plugin-prettier` and `stylelint-config-prettier`.

[2017-06-28 12:55] lukedar opened #2686 ":export pseudo selector not supported."
This selector will fail :export
Exports are useful when padding variables to from a css module to a js component.
e.g. "A bug where..."

selector-pseudo-class-no-unknown

e.g.

[code]

e.g.

[code]

e.g. `3.10.10`

[2017-06-28 13:03] evilebottnawi commented on #2686
@lukedar your are use ICSS?

[2017-06-28 13:56] jeddy3 commented on #2686
As per the docs:

Use the [`ignorePseudoClasses: []` secondary option](https://github.com/stylelint/stylelint/tree/master/lib/rules/selector-pseudo-class-no-unknown#optional-secondary-options) if you wish to ignore `:export`.

[2017-06-28 13:56] #2686 closed

[2017-06-28 13:56] evilebottnawi commented on #2686
@jeddy3 seems ICSS in near future gain popularity, maybe we should ignore this by default.

[2017-06-28 14:04] jeddy3 commented on #2686
The ` ignorePseudoClasses` option is specifically there for methodologies and/or supersets. It's trival to make use of the option in a configuration object. Additionally, we have a _consistent_ definition for "unknown" at the moment that we should maintain.

[2017-06-28 14:06] lukedar commented on #2686
@evilebottnawi and @jeddy3 Thanks for this information.

[2017-06-28 15:45] hudochenkov commented on #2575
Why [this test](https://github.com/stylelint/stylelint/blob/36bc35cb162c33cc519c0703473c5e92d2eda09f/lib/rules/at-rule-empty-line-before/__tests__/index.js#L215-L217) pass for v7?!

[2017-06-28 15:47] evilebottnawi commented on #2575
@hudochenkov why not? :smile: We can remove incompatibility tests

[2017-06-28 15:48] hudochenkov commented on #2575
I should not pass, because `@media {}` has block. Well, at least `v8` get it right :)

[2017-06-29 12:57] jitendravyas opened #2692 "How to use two stylelint config an and used them different folders in same project?"
How to use two stylelint configs an and used them different folders in the same project?

In a project, I have two kinds of CSS

1) CSS files are written from scratch by our developers.
2) Third party CSS files which are slightly modified by our developer

I can't use same stylelint config for both because some part of third party code I won't be able to change. But I want to use few rules on thir

[2017-06-29 13:45] jeddy3 commented on #2692
See: [Loading the configuration object](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#loading-the-configuration-object).

"Once one of these is found [a config file] and parsed, the _search will stop and that object will be used_.

"The configuration search can be short-circuited by using either the config or configFile options".

Have two configs, and use `--

[2017-06-29 13:45] #2692 closed

[2017-06-29 21:54] jitendravyas opened #2694 "Cannot find module 'postcss-scss'"
Not sure

Not rule specific I guess

NA

NA

7.11.0 and I use stylelint-scss plugin too

on CLI with lint-staged as a pre-commit hook

[code]

NA

No error

![2017-06-30 03-18-29](https://user-images.githubusercontent.com/77309/27712188-7c18e286-5d43-11e7-96fe-7743006cc236.jpg)

[2017-06-29 22:43] evilebottnawi commented on #2694
@jitendravyas which npm version your use?

[2017-06-30 02:48] ntwb commented on #2692
The above is how I've got stylelint setup to lint CSS with one config, and SCSS with another 👍

On a related subject, ESLint just added _"glob based configuration" for overriding files, interesting concept that I've not fully explored yet, still think it's neat all the same 👌

[2017-06-30 04:12] jitendravyas commented on #2694
@evilebottnawi npm `5.0.4` and node `6.10.0`

[2017-06-30 05:12] jitendravyas commented on #2692
@ntwb do you lint css and scss in same project? Would like to know, why are linting css too while you use scss

[2017-06-30 05:16] jitendravyas commented on #2694
After i installed https://www.npmjs.com/package/postcss-scss this error is gone

[2017-06-30 06:13] hudochenkov commented on #2694
@jitendravyas it might be a problem with npm@5: npm install sometimes fails to install some dependencies on a fresh install (npm/npm#16902).

[2017-06-30 06:32] ntwb commented on #2692
The project I use that in includes some external SCSS assets that I lint as a safeguard "just in case", the rest of the project is written in pure CSS.

[2017-06-30 07:00] ntwb commented on #2694
I'm finding lots of issues with updating dependencies with npm 5, my workaround:

• Delete `package-lock.json`
• Delete `node_modules`
• Run `npm install`

😢

[2017-06-30 09:46] evilebottnawi commented on #2692
@ntwb we can solve this more easier, when i use `stylelint.config.js` and return function, just pass file path. Example:
[code]

[2017-06-30 09:47] evilebottnawi commented on #2692
@stylelint/core what do your about example above?

[2017-06-30 10:04] nirazul opened #2696 "Add ignoreRules: [] to max-nesting-depth"
**Feature request:**
Add: `ignoreSelectors: [".my-custom-selector"]` for `max-nesting-depth`
I often find myself using `& {}` as a means to visually encapsulate some rules. As this counts towards the limit of `max-nesting-depth` I sometimes need to disable this rule, which is a bit annoying.
This could also be useful to exclude `::after` and `::before` elements as these need to be nested (except y

[2017-06-30 10:14] ntwb commented on #2692
That's one way sure 👍

The repo I'm using for this particular configuration uses Grunt, so a condensed version is roughly:

[code]

[2017-06-30 12:19] gael-boyenval opened #2698 "feature : implement a BEMIT compatible customisable syntax checker"
## Feature : a customizable BEMIT selector syntax checker
the BEM linter is great but it doesn't allow to customize enough to enforce BEMIT @csswizardry (Harry Roberts) proposal.

[a great article about BEMIT here](https://csswizardry.com/2015/08/bemit-taking-the-bem-naming-convention-a-step-further/) or for the lazy ones : [ BEMIT Cheatsheet ](https://gist.github.com/stephenway/a6145d9b4430e8c55a

[2017-06-30 14:15] #2684 closed

[2017-06-30 14:22] jeddy3 opened #2699 "Change ignore options for `selector-max-type`"
Replicate the changes made to `selector-no-type` in `selector-max-type`:

Ref: https://github.com/stylelint/stylelint/pull/2693#issuecomment-312122449

[2017-06-30 14:24] jeddy3 commented on #2694
Closing as this is unlikely a problem with stylelint itself

[2017-06-30 14:24] #2694 closed

[2017-06-30 14:27] jeddy3 opened #2700 "Document release process"
Ref: https://github.com/stylelint/stylelint/pull/2661#issuecomment-311780010

[2017-06-30 14:41] jeddy3 commented on #2696
This seems like a valid use case. It'd be in line with the existing [`ignoreAtRules` option](https://github.com/stylelint/stylelint/tree/master/lib/rules/max-nesting-depth#ignoreatrules-regex-string).

I believe it'd be the first rule to ignore _rules based on their selector_. So, we don't have a precedent for the name. Choices include:

- `ignoreSelectors: []`
- `ignoreRules: []`
- `ignoreRulesBy

[2017-06-30 14:54] jeddy3 commented on #2698
@gael-boyenval Thanks for writing up this request. It looks like you've a great outline for [a plugin](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md). Supporting a particular methology was one of the reasons the plugin system was built:

I don't believe a plugin for BEMIT exists yet. At least no one has submitted one to [the list of plugins](https://github.com/

[2017-06-30 14:54] #2698 closed

[2017-06-30 17:10] gael-boyenval commented on #2698
@jeddy3 : thank's for your guidance !

[2017-06-30 21:17] jeddy3 commented on #2521
Done in https://github.com/stylelint/stylelint/issues/2693

[2017-06-30 21:17] #2521 closed

[2017-06-30 21:18] jeddy3 commented on #2576
Done in #2561

[2017-06-30 21:18] #2576 closed

[2017-06-30 21:20] jeddy3 commented on #1871
With the semantic versioning change in `8.0.0`, I think this can be done in an `8.x`.

@evilebottnawi Feel free to get it in `8.0.0`, but I don't think it's a prerequisite for the `8.0.0` release.

[2017-06-30 21:25] jeddy3 commented on #2545
@stylelint/core Anyone got any ideas about how this could be implemented?

I believe the `Cannot parse selector` warning in produced in [`parseSelector.js`](https://github.com/stylelint/stylelint/blob/master/lib/utils/parseSelector.js) and [`selector-max-specificity`](https://github.com/stylelint/stylelint/blob/master/lib/rules/selector-max-specificity/index.js#L67).

[2017-07-01 01:57] barraponto commented on #2518
I don't think this issue should hold 8.0.0 back. Can we move it to 9.x?

[2017-07-01 07:06] jeddy3 commented on #2518
I agree. I believe it's a small issue that won't take long, though. However, if it does prove to be the final blocking issue then we can consider postponing it.

It's an internal code change and not related to semver. It's a change that will likely conflict with all the pending PRs. As such, it was added to the `8.0.0` milestone because we anticipate this will be the time when there will be _the l

[2017-07-01 12:28] jwilsson opened #2703 "Document that Less at-import will be ignored in at-rule-*"
A bug which will occur in the future.

Most (if not all) `at-rule-*` rules and probably other ones where `walkAtRules()` is used.

[code]

[code]

`v8` branch

`./bin/stylelint.js --config config.json file.less`

Yes, it's related to Less.

`at-rule-name-case` to flag the uppercase `@IMPORT`.

No issue was flagged because `@import` nodes in `.less`-files aren't checked anymore. This is because the

[2017-07-01 17:17] jeddy3 commented on #2544
I've applied for opencollective. If we are accepted I'll update the `README.md`.

[2017-07-01 21:59] jeddy3 commented on #2369
@evilebottnawi Is this issue something you'll be able to look into for `8.0.0`?

[2017-07-02 06:18] jitendravyas commented on #2627
I get this error now with `7.12.0`

[code]

[2017-07-02 06:25] jitendravyas opened #2708 "Add support for disableFix to built-in rules"
In this update Stylelint enabled experimental `--fix` support for some rule https://github.com/stylelint/stylelint/releases/tag/7.11.0

Will all rule be fixed together?

What if I want to auto fix only `color-hex-case` in my codebase?

[2017-07-02 09:12] jeddy3 commented on #2708
Yes, if you turn on rules in the config and use the `--fix` option stylelint will try to automatically fix the errors for those rules.

@stylelint/core Should we add [`disableFix`](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md#the-anatomy-of-a-plugin) to the built-in rules?

[2017-07-02 09:52] ntwb commented on #2708
If you have rules configured to `error` then why would you not want them to be fixed?

For example, if your config has 20 rules configured to `error` and you only want to fix a single rule such as `color-hex-case` then adding `disableFix` to the remaining 19 rules to your config doesn't seem like an ideal workflow 🤔

[2017-07-02 10:03] jeddy3 commented on #2708
Good point. @jitendravyas Can you please tell us more about your use case?

[2017-07-02 14:30] jeddy3 commented on #2660
On further my investigation, I believe my [initial suggestion](https://github.com/stylelint/stylelint/issues/2660#issuecomment-309911294) was wrong. Having whitelist, blacklists and `ignore*: []` secondary options be case insensitive by default is too much magic. It leads to problems like https://github.com/stylelint/stylelint/issues/2647. Users should _explicitly_ opt into case insensitivity by u

[2017-07-02 15:29] olegskl opened #2710 "Added non-file inputs support to autofix"
Feature request: return autofixed code in stylelint results.

Currently it seems that only configurations containing `files` option are autofixed because of early return in [standalone.js#L76](https://github.com/stylelint/stylelint/blob/master/lib/standalone.js#L76).

All autofixable rules.

e.g.

[code]

e.g.

[code]

e.g. `7.12.0`

Node API

No.

I expect stylelint to return a string containing

[2017-07-02 16:57] jeddy3 commented on #2545
Unless this issue is a personal itch that one of the core team wishes to implement, I'm happy bumping this to the next `future-major` milestone. I think it's OK to have feature requests labelled as "help wanted" in the issue tracker until it becomes an personal itch a contributors wants to fix themselves.

Going forward, I also think we can do a major release whenever a bug fix or feature demands

[2017-07-03 00:20] bedney opened #2711 "False positives for CSS3 namespaces in selector-combinator-space-*"
A bug where this rule, which is perfectly valid CSS3 with a namespace prefix, is being marked as having an issue:

`sherpa|tile#StyleSummary_Tile > .body {...}`

This reports the following error:

`76:31  ✖  Expected single space after ">"    selector-combinator-space-after`

There is, indeed, a space after the `>` (I checked to make sure it wasn't a Tab)

`selector-combinator-space-after`

e.g.

[2017-07-03 00:23] bedney commented on #2711
One last thing: You can see that the bug with this rule goes away if you remove either the `sherpa|tile` or the `#StyleSummary_Tile` portion of the selector.

To avoid fixing these piecemeal, I would make a suggestion to add at selector that has a CSS3 namespace prefix to least one test case per style lint rule. I have a feeling that this issue is due to this particular rule not anticipating the `

[2017-07-03 06:45] Nirazul commented on #2696
Personally I favour `ignoreSelectors` as it is the most intuitive, but I have no problem with `ignoreRules` as your reasoning makes totally sense and it's in line with `ignoreAtRules`.

What ran through my head just now: Why make the difference between rules and at-rules? Does it make a difference when writing ignore statements for it? From the user perspective, I'd say no. Probably, when it comes

[2017-07-03 07:10] jeddy3 commented on #2696
Do you mean why have separate options for at-rules and rules? From a user's perspective, I think it's helpful to have the consistency across rules of explicitly tying `ignore*` options to specific constructs (or type of construct) e.g. `ignoreNamespaces` and `ignoreTypes` in [`selector-no-unknown`](https://github.com/stylelint/stylelint/tree/master/lib/rules/selector-type-no-unknown#ignorenamespac

[2017-07-03 07:30] jeddy3 commented on #2711
@bedney Thank you for the report and for using the issue template.

I can replicate this for both the `selector-combinator-space-*` rules. Fortunately, the 2 other `*-combinator(s)` rules are fine.

The bug is likely in [`selectorCombinatorSpaceChecker.js`](https://github.com/stylelint/stylelint/blob/master/lib/rules/selectorCombinatorSpaceChecker.js).

Labeling as `help wanted` and `bug`. @bedney

[2017-07-03 07:35] jeddy3 commented on #2710
@olegskl Thanks for the report and for using the template. I'm going to label this as "help wanted". It's early days for the autofix feature, and any help shoring it up would be much appreciated.

[2017-07-03 07:48] jeddy3 commented on #2703
@jwilsson Thanks again for working on this! There might not be anything to do here, other than updating the applicable rule docs, as the built-in rules only contain code for parsing and checking standard CSS. A series of `isSyntaxSyntax*` utils _whitelist_ standard CSS syntax and features before any checks are run. Support for non-standard parsing and/or features is done in plugins (see [stylelint

[2017-07-03 08:19] jwilsson commented on #2703
Alright, I can take a stab at the docs when the `postcss-less@1.0` work is done.

[2017-07-03 10:12] evilebottnawi commented on #2369
@jeddy3 try to find solution in near future

[2017-07-03 10:14] evilebottnawi commented on #2708
Also we can add /*stylelint-fix-enable [rule] */ and  /*stylelint-fix-disable [rule] */.

[2017-07-03 12:12] bedney commented on #2711
Yea, it's almost like these rules aren't recognizing that `|` can be a valid character in a CSS selector. I'm not sure I'm going to be of much help... I wish I was more of a parser guy... sigh.

Thanks for taking a look.

[2017-07-04 14:00] gamtiq opened #2716 "Correctly document extends behaviour"
In [extends section of configuration documentation](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#extends) there is the following statement:

After that there is an example:

[code]
According to the phrase it seems that configs inside `extends` section should be swapped:
[code]
Or did I misunderstand the phrase and the example?

[2017-07-04 14:34] jeddy3 commented on #2716
@gamtiq Thanks for raising the issue!

You're right. The description and the example do not match. It is the example that is right, and the description that is wrong. See:

- https://github.com/stylelint/stylelint/blob/master/lib/__tests__/extends.test.js#L37-L45
- https://github.com/stylelint/stylelint/blob/master/lib/__tests__/fixtures/config-extending-three-with-override.json

Would you like to

[2017-07-04 20:47] gamtiq commented on #2716
Thank you for the clarification!

I can make a PR to fix the documentation.
What do you think about the following statement?

If it is not proper I will use your sentence.

[2017-07-04 21:05] jeddy3 commented on #2716
Perfect. It's nice and clear. Let's go with that.

[2017-07-04 22:06] #2716 closed

[2017-07-05 16:32] gamtiq opened #2718 "Fix missing closing brace in example inside max-nesting-depth documentation"
A closing brace is missing in the first example inside [max-nesting-depth documentation](https://github.com/stylelint/stylelint/blob/master/lib/rules/max-nesting-depth/README.md):
[code]

[2017-07-05 16:35] jeddy3 commented on #2718
Thanks for spotting this.

Feel free to submit PRs directly for small documentation fixes like this. No need to create an issue :)

[2017-07-05 19:27] #2718 closed

[2017-07-06 11:09] ondrejs2 commented on #2708
@jeddy3 Hello, I have same/similar problem -> my **use case**:

I'm using **LESS**. In the **.stylelintrc** config file I extends "**stylelint-config-standard**" and in plugins I have only "**stylelint-order**". Everything works fine, stylelint is linting and via **--fix** feature and thanks to the "**stylelint-order**" plugin it's autofixing the order of properties (which is most important thing

[2017-07-06 12:01] jeddy3 commented on #2708
@ondrejs2 Thanks for offering to help out.

The core contributors are just a handful of people who contribute to stylelint in their spare time.  Also, it seems to be a non-trivial feature, so any help moving that issue forward would be appreciated (ref #2643).

I suggest we only revisit this once the existing disabling comments work, as we might discover that it has become a redundant request.

I

[2017-07-06 12:01] #2708 closed

[2017-07-07 07:50] jitendravyas opened #2723 "Can I fork Stylelint website and customize it to use it within an organization?"

[2017-07-07 10:58] evilebottnawi commented on #2723
@stylelint/core our site use `MIT`?

[2017-07-07 12:02] jitendravyas commented on #2723
Yes I guess https://raw.githubusercontent.com/stylelint/stylelint/master/LICENSE but I don't know what does it mean in simple english

[2017-07-07 12:06] evilebottnawi commented on #2723
@jitendravyas MIT allow to fork and contribute for own goal. But i don't see license for stylelint site, i think we use everywhere MIT license for all `stylelint` org repos, but need clarify this.

[2017-07-07 13:01] jeddy3 commented on #2723
Yes.

Added.

As @evilebottnawi  said, MIT allow to fork and contribute for own goal _as long as the license remains intact_:

[code]

Having said that, if there are improvements you think could be made to the site, please open issues in the [stylelint.io issue tracker](https://github.com/stylelint/stylelint.io/issues) so those improvements can benefit all stylelint users rather than just those in

[2017-07-07 13:01] #2723 closed

[2017-07-07 13:12] #2711 closed

[2017-07-07 13:27] jeddy3 commented on #2711
This is fixed. The issue uncovered a bug in `postcss-selector-parser` [that'll be fixed in `3.0`](https://github.com/postcss/postcss-selector-parser/issues/111). However, a slight change in stylelint code means we no longer make use of that feature in this instance. So, we don't need to wait for that release.

Me too... :) stylelint itself consumes various parsers and most of working with stylelin

[2017-07-07 14:15] irina-paxlife commented on #2608
Hi all, I have the same issue on stylelint 7.12.0 and flow-bin 0.49.1. The errors are the same.
[stylelint errors.txt](https://github.com/stylelint/stylelint/files/1131223/stylelint.errors.txt)

[2017-07-07 19:23] Hypnosphi opened #2724 "Add `ignorePath` as a config option"
My usecase is to use `.eslintignore` for ignoring paths that shouldn't be linted by either stylelint or eslint. Now i have to pass `--ignore-path .eslintignore` everywhere I use stylelint

[2017-07-07 20:18] bedney commented on #2711
Wow! Thanks for the bug fix! And thank you for reporting it so that it could be fixed upstream.

I could help by adding to your tests to include CSS3 namespace constructs where appropriate (both element-level and attribute-level). Does that sound helpful?

Thanks again! This is the most responsive open source project I ever seen :-).

[2017-07-08 04:51] ntwb commented on #2711
It would be better than helpful, it would be awesome @bedney, the more coverage the better 😄

[2017-07-09 02:08] ntwb commented on #2486
postcss-sass v0.2.0 has been released 🎉

https://github.com/AleshaOleg/postcss-sass/releases/tag/0.2.0

[2017-07-09 15:27] jitendravyas commented on #2723
My aim is not an improvement to the existing site but I just want to use a reference withing organisation. I want to remove everything except the rules list and details, which we use in our `.stylelintrc`

[2017-07-10 20:44] jeddy3 commented on #2532
Closed by https://github.com/stylelint/stylelint/pull/2704.

Using the new `stylelint-config-recommended` should work.

Remember to send a PR adding it to the [list of plugins](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/plugins.md) when you're done.

[2017-07-10 20:44] #2532 closed

[2017-07-10 20:45] jeddy3 commented on #2418
Closed by https://github.com/stylelint/stylelint/pull/2704

[2017-07-10 20:45] #2418 closed

[2017-07-10 21:00] jeddy3 commented on #2700
Done in https://github.com/stylelint/stylelint/pull/2705

[2017-07-10 21:00] #2700 closed

[2017-07-10 21:01] jeddy3 commented on #2699
Done in https://github.com/stylelint/stylelint/pull/2701

[2017-07-10 21:01] #2699 closed

[2017-07-10 21:33] jeddy3 commented on #2575
@stylelint/core When do we think is a good time to release `8.0.0`? I'm going to be mostly off-line for a month from the 20th of July and @hudochenkov is busy with his [recent move](https://github.com/stylelint/stylelint/pull/2704#issuecomment-312745594) (enjoy the Netherlands btw! 😄). So, it's likely to be a skeleton crew until mid-August. Do we delay `8.0.0` until then, or do I do a release befo

[2017-07-10 21:53] ntwb commented on #2575
I think the v8 branch has had a fair bit of _scope creep_ in the ~8 months of its life...

Per the above, I think we release v8 ASAP 😄

Those of us who are around can triage issues, and if needed we can cut a new release (see #2705), and anything else can wait until late August IMHO.

[2017-07-10 21:56] ntwb commented on #2723
I would have thought linking to the relevant sections of stylelint's existing documentation would be easier, it would also mean there was no maintenance on your behalf either /shrug

[2017-07-10 22:07] jeddy3 commented on #2575
Yes, totally! As I mentioned in https://github.com/stylelint/stylelint/issues/2545#issuecomment-312503532, I think we can do a major release whenever a bug fix or feature demands it, rather than grouping issues into one prelonged release.

Sounds good. I'll do a release once those PRs are in.

[2017-07-10 22:43] hudochenkov commented on #2575
The bigger release, the more likely there are problems :) Let's release often.

What about new ESLint and Prettier: https://github.com/stylelint/stylelint/pull/2673, https://github.com/stylelint/stylelint/pull/2706? Are they holding 8.0.0? @ntwb, @jeddy3 can you finish them before July 20th?

[2017-07-10 22:46] jeddy3 commented on #2575
Yes, they're ready to go. Just need to run prettier on the command line once the other PRs are in.

[2017-07-11 02:03] ntwb commented on #2575
Approved #2713 and #2709
Will review #2702 once existing requested changes are added

[2017-07-11 06:43] farazshuja opened #2729 "Expected a trailing semicolon (declaration-block-trailing-semicolon)"
Trying to use nesting rules via postcss, but getting warnings below. What rules I need to add in stylelint file to fix these warnings?
CSS:
[code]

Warnings:

[2017-07-11 06:51] ntwb commented on #2729
Thanks for creating this issue but we are closing it as issues need to follow our issue template, so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new) using the template.

[2017-07-11 06:51] #2729 closed

[2017-07-11 10:36] jeddy3 commented on #2660
Done in https://github.com/stylelint/stylelint/pull/2709

[2017-07-11 10:36] #2660 closed

[2017-07-11 10:36] jeddy3 commented on #2545
Done in https://github.com/stylelint/stylelint/issues/2713

[2017-07-11 10:36] #2545 closed

[2017-07-11 14:32] evilebottnawi commented on #2575
Need wait `postcss-less` with support postcss `v6` and we can release 8.0.0, right?

[2017-07-11 17:05] jwilsson commented on #2575
I don't know if it's necessary, we've been using `postcss@6` and `postcss-less@1` in `lesshint` for a couple of weeks and we haven't had any issues reported.

[2017-07-11 17:17] evilebottnawi commented on #2575
@jwilsson We will have an extra `postcss` v5 package, it is not good

[2017-07-11 17:50] jeddy3 commented on #2575
It sounds like it _isn't required_ for the release though and is something that can be addressed afterwards. Is that a fair conclusion?

[2017-07-11 18:20] jwilsson commented on #2575
I just wanted to let everyone know that we haven't seen any issues between the two libraries.

I agree that two different `postcss` packages is bad but it's all up to you!

[2017-07-11 19:55] jeddy3 commented on #2696
Oops, I forgot about this in all the `8.0.0` action.

I'll label up as "help wanted". Let's go with `ignoreRules: []`.

[2017-07-11 20:07] jeddy3 commented on #2724
I'm not sure this use case warrants an additional config option. Adding `--ignore-path .eslintignore` is a minor inconvenience and is explicit.

[2017-07-11 20:15] jeddy3 commented on #1749
Closed by https://github.com/stylelint/stylelint/pull/2704

[2017-07-11 20:15] #1749 closed

[2017-07-11 20:17] jeddy3 commented on #2061
Is this a route we want to go down, or can we close this for now?

[2017-07-12 01:46] ntwb commented on #2575
I don't think it will be an issue, that said, I just created a PR bumping PostCSS to 6.x

https://github.com/shellscape/postcss-less/pull/83

If all is good with that PR would cutting a new release of postcss-less 2.0.0 be the go?

[2017-07-12 01:56] ntwb commented on #2575
If we merge v8 into master and spend a couple of days testing I think would reassure us?

[2017-07-12 02:02] ntwb commented on #2061
Let's close this for now, npm 5 has some great improvements, so lets do that everywhere 😏

[2017-07-12 02:02] #2061 closed

[2017-07-12 07:52] ntwb opened #2734 "chore: Use npm 5.x for all Node.js Travis CI jobs"
Historically we've kept the installed version of npm to be that of what is shipped with the Node.js version, this is partially incorrect and has been pointed out by npm that we should use the latest release of npm, the latest release of npm is `5.2.0`, npm does not maintain any LTS releases. npm will push security releases to previous 4.x and 3.x branches as required but no bug fixes.

More here:

[2017-07-12 08:17] jeddy3 commented on #2734
SGTM

[2017-07-12 09:57] evilebottnawi commented on #2734
SGTM

[2017-07-12 12:53] jeddy3 commented on #2575
SGTM. Shall I merge `v8` into `master` now?

[2017-07-13 00:37] ntwb commented on #2575
Why not, looks good to me 👍

[2017-07-14 06:57] jwilsson commented on #2619
I just tested this on the `v8` branch and it's working properly now (i.e. the semicolon is still there).

[2017-07-14 06:59] jwilsson commented on #1741
I just tested this on the `v8` branch and it's working properly now (i.e. no warnings were reported).

[2017-07-14 08:20] #2619 closed

[2017-07-14 08:21] jeddy3 commented on #1741
Fantastic!

[2017-07-14 08:21] #1741 closed

[2017-07-14 08:23] jeddy3 commented on #2724
Closing for now. We can always reopen if there are further requests for such a feature.

[2017-07-14 08:23] #2724 closed

[2017-07-14 09:07] jeddy3 commented on #2617
Closing in favour of https://github.com/stylelint/stylelint/issues/2592

[2017-07-14 09:07] #2617 closed

[2017-07-14 12:14] #2703 closed

[2017-07-14 12:16] jeddy3 commented on #2734
@ntwb Do you have a moment to do this in this repo, or shall I?

[2017-07-14 13:11] jeddy3 commented on #2575
Just the https://github.com/stylelint/stylelint/pull/2706 & https://github.com/stylelint/stylelint/pull/2743 PRs in need of a review, and then I think we're ready to give `master` a test.

After that, we can release! Hopefully later today or tomorrow :)

[2017-07-14 23:13] ntwb commented on #2734
Thanks @jeddy3

Rather than opening another issue, a couple of greenkeeper tasks are required (I think)

1. Via https://github.com/stylelint/stylelint/pull/2743#discussion_r127471267

2. Add https://github.com/greenkeeperio/greenkeeper-lockfile

I need to research these changes a little, have only quickly glanced at this issues so not fully understood here at my end yet :)

[2017-07-14 23:28] ntwb commented on #2734
I didn't notice that PR hadn't been merged, I've added both the above changes in https://github.com/stylelint/stylelint/pull/2743/commits/916ae50e068bc69b017911823eb23589b141588b

[2017-07-14 23:32] ntwb commented on #2575
Both thumbs up from me, I've reviewed, approved, and updated as needed ✅

Excited for this release 😄

[2017-07-15 11:14] #2518 closed

[2017-07-15 16:54] webOS101 commented on #2271
I have created a patch for this that fixes all the less mixin false positives in our code base.  Be interested if it also fixes your use cases.

[2017-07-15 18:39] jeddy3 commented on #2575
All merged.

@stylelint/core When you get a moment, can you try out `master` and if things look good I'll do a release! (FYI, I've tried it against the codebase I'm currently working on and it was fine)

[2017-07-15 22:43] hudochenkov commented on #2575
On my current project `master` works fine either. I lint `*.scss` and use `stylelint-order@0.5.0` and `stylelint-scss@1.5.1`.

[2017-07-15 22:45] ntwb commented on #2575
Just sipping my first coffee of the day now, will test _all the things_ in the next couple of hours 😄

[2017-07-16 02:22] webOS101 opened #2748 "selector-max-empty-lines false positive in less mixin"
False positive where `:global()` is used

selector-max-empty-lines

[code]

[code]

7.13.0

stylelint test.less

Yes, LESS mixin

No lines flagged for warning

The following error was given (note wrong line #, which I think may have an open issue)

[code]

[2017-07-16 02:30] ntwb commented on #2748
Thanks @webOS101 for using the template, makes it easy to understand the issue perfectly 😄

Did you want to create a pull request for this? For now I've labelled it up as _help wanted_

[2017-07-16 02:42] webOS101 commented on #2748
I may, I haven't taken a look at that module yet to see what's involved.

[2017-07-16 03:18] webOS101 commented on #2748
Taking a quick look, the parser is returning this in rule:
[code]
Clearly, that's not right.  Is this an upstream issue or is this something you want to work around in the rule itself?

[2017-07-16 09:18] emilgoldsmith opened #2754 "standalone.js ignores formatter (and it seems quite a few other) option(s) from configOverrides"
The changing of the implementation of `configOverrides` in `standalone.js`. Specifically, personally, I would love to be able to specify the formatter in the `configOverrides` key in the node.js API

N/A

N/A

[code]
or you at least get the gist of it, it'll return json formatted instead.

`7.13.0`

Node API

I am running it with scss syntax and `stylelint-processor-styled-components` but that sho

[2017-07-16 09:22] emilgoldsmith commented on #2754
I could easily submit a PR for this, but in the PR you said to open an issue first so I'll await your answer :).

[2017-07-16 09:29] emilgoldsmith commented on #2754
Nvm, finally figured it out, your config makes sense now, configOverrides is for what you'd put in your stylelintrc and you wouldn't put formatter there, soz.

[2017-07-16 09:29] #2754 closed

[2017-07-16 09:29] emilgoldsmith commented on #2754
If anyone else comes across this, you simply put formatter one level higher in the json, it's not supposed to go in the `config` or `configOverrides` key.

[2017-07-16 09:33] jeddy3 commented on #2754
Yep, that's right. The `configOverrides` property is for [overriding](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/node-api.md#configoverrides) [the configuration object](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#the-configuration-object). The configuration object has the following top-level properties:

- `rules`
- `extends`
- `plugi

[2017-07-16 09:41] jeddy3 commented on #2575
@ntwb Excellent. Let us know how you get on. Other than that, I think we're good to go as I believe what PR can be merged have been merged, and what dependencies can be updated have been updated.

[2017-07-16 10:42] ntwb commented on #2575
Just testing it now... Will reply back shortly...

[2017-07-16 11:11] ntwb commented on #2575
Go for it... LGTM

[2017-07-16 12:31] ntwb commented on #2575
@jeddy Looking at commit https://github.com/stylelint/stylelint-config-recommended/commit/347bdd2060535ea97c24f2455895cb631e6fa04a and `"stylelint": "^8.0.0"` has been used, should we now per the updated semver guidelines use `"stylelint": "~8.0.0"`, i.e. `~` tilde rather than `^` caret?

[2017-07-16 12:38] jeddy3 commented on #2575
@ntwb I think it's fine. `~` is for users of the stylelint in their builds. I think `^` is still correct for sharable config authors.

[2017-07-16 12:39] ntwb commented on #2575
Cool, just checking for my own sanity 😏

[2017-07-16 13:25] jeddy3 commented on #2575
🎉 Done! 🎉

Congrats everyone! :)

[2017-07-16 13:25] #2575 closed

[2017-07-16 13:26] ntwb commented on #2575
Woot, thanks for packaging it all up @jeddy3 and a huge thanks to everyone who contributed  🎉 💯

[2017-07-16 15:37] hudochenkov commented on #2575
Fantastic! Yay!

[2017-07-16 18:30] webOS101 commented on #2748
A quick and dirty solution is to remove parameters from selector string so they won't be considered.  However, this would mean the parameters themselves never got checked.  I suspect that a lot of other rules may be similarly affected.  What may be necessary is to extract all the parameter bodies and have each body validated separately from the surrounding code.

[2017-07-16 18:51] jeddy3 commented on #2748
@webOS101 Thanks for reporting the issue. The built-in rules [ignore non-standard](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#write-the-rule) non-standard constructs, where possible, by the use of the [`isStandardSyntax*`](https://github.com/stylelint/stylelint/tree/master/lib/utils) whitelisting utils.

In this instance, it looks like `selector-max-empty-line

[2017-07-16 20:13] webOS101 commented on #2748
I was thinking more holistically...  The body of all those less mixins should have every (enabled) rule applied to them, not just the selector empty lines rule.  I'll take a look at the plugin pack and see what's available there and how it may work.

[2017-07-16 23:10] jeddy3 commented on #2748
Good point. Is this the behaviour of `postcss-less@1.1.0`? `stylelint@8.0.0` was released earlier today and it includes `postcss-less@1.1.0`.

[2017-07-17 02:27] webOS101 commented on #2748
I will pull the latest code and retest.

[2017-07-17 02:45] webOS101 commented on #2748
Appears to be the same.  I'll check out `postcss-less` and see if there are any clues there.

[2017-07-17 03:20] webOS101 commented on #2748
I have filed https://github.com/shellscape/postcss-less/issues/86

[2017-07-17 04:18] jwilsson commented on #2677
I'll take a look at this one.

[2017-07-17 07:01] MattDiMu opened #2756 "New semver policy"
The new semver policy according to the release notes (recommendation to use ~ instead of ^) is imho confusing: In semantic versioning minor releases should [not break the build](https://docs.npmjs.com/getting-started/semantic-versioning#semver-for-publishers) ( see [semver.org](http://semver.org/) as well).

Package Managers like npm or yarn rely and on this and by default add the dependency using

[2017-07-17 13:44] ntwb commented on #2756
The issue here is striking a balance in stylelint being able to release _patch_, _minor_, and _major_ releases in a sane manner that works for both stylelint, the stylelint team and the people and packages that depend upon it.

The stylelint policy is a slight adaptation of the existing ESLint policy [here](https://github.com/eslint/eslint#semantic-versioning-policy), it to has the same recommenda

[2017-07-17 14:21] jeddy3 commented on #2271
Done in https://github.com/stylelint/stylelint/issues/2744

[2017-07-17 14:21] #2271 closed

[2017-07-17 14:21] jeddy3 commented on #2677
Done in https://github.com/stylelint/stylelint/issues/2755

[2017-07-17 14:21] #2677 closed

[2017-07-17 14:42] timbru31 commented on #2271
I can confirm the fix, thanks! 🎉

[2017-07-17 16:12] ben-eb opened #2757 "Update to postcss-selector-parser 3"
Feature request (dependency upgrade). I've done a [pre-release of the new 3.x code](https://github.com/postcss/postcss-selector-parser/releases/tag/v3.0.0-rc.0) and as it is breaking a few things I wanted to get some feedback before I land 3.0.0 for real. In my use case it performs well if not better than expected, but stylelint uses postcss-selector-parser much more extensively.

Note that we now

[2017-07-17 18:15] ArmorDarks opened #2758 "`declaration-empty-line-before` `ignore` and `except` issue"
A bug.

For some strange reason, when I specify `except` after `ignore`, rules defined in `except` does not work at all, like they do not exist.

If I specify `ignore` after `except`, for some reason `ignore` rules stops to apply.

Maybe I'm missing something and simply do not understand how exactly should Stylelint `except` and `ignore` rules work.

`declaration-empty-line-before`

[code]

[code]

[2017-07-17 18:17] Arcanemagus commented on #2756
To think about it another way, this policy is a balance between the strict interpretation of [Semver](http://semver.org/) which _only_ applies to the exposed API, and how people actually use the linter.

The way package managers install packages assumes that you are utilizing the package directly in your code, in which case `^` is the correct range, for tools though you should probably be a bit st

[2017-07-17 18:39] ArmorDarks opened #2759 "No way to force newline between block closing brace only for specific entities"
Feature request.

It seems that there is no way to enforce newline between block closing brace and ruleset or directive, but disallow it for regular CSS properties.

Note, that there is an issue with directives like `@include`. We can't know, does it contain whole new ruleset or something else, and depending on it author might print it differently:

[code]

Because of that, ability to make newline

[2017-07-17 18:49] MattDiMu commented on #2756
@ntwb Thx for the rapid response and the explanation! While I understand the reasons for this and eslint's decision, I still feel like this is not a good practice, as it differentiates from the well known and established semver policy.

There is always the possibility of a change to break the build, even a bugfix. To have certainty, that two different environments (developers or CI) create the sam

[2017-07-17 19:06] ArmorDarks opened #2760 "`always-multi-line` allows newline even for non-multi-line values"
A bug.

It seems that when `declaration-colon-newline-after` set to `always-multi-line`, it suddenly allows to write in multiline style even properties with single value, without a list.

Refer to example below.

`declaration-colon-newline-after` with `always-multi-line` as value

[code]

[code]

`8.0.0`

CLI with `stylelint --config myconfig *.scss`

Nope

Ability to disallow newline after colon

[2017-07-18 00:55] ntwb commented on #2756
@MattDiMu As @Arcanemagus has mentioned, technically as we're not breaking the API _most_ releases of stylelint should have been _patch_ versions, <sarcasm>oh the joy that would have generated</sarcasm>

I don't see _major_ versions as a sign of an _actively developed_ project, as I stated we've 111 releases thus far that include _major_, _minor_, and _patch_ releases.

_I'm going to close this is

[2017-07-18 00:55] #2756 closed

[2017-07-18 14:09] jeddy3 commented on #2757
@ben-eb Firstly, thanks for your continued work on `postcss-selector-parser`. Your selector parser invaluable to stylelint.

An initial test run using the pre-release gives:

[code]

Those failing suites are for:

- `"selector-attribute-brackets-space-inside"`
- `"selector-attribute-operator-blacklist"`
- `"selector-attribute-operator-space-after"`
- `"selector-attribute-operator-space-before"`
-

[2017-07-18 14:22] jeddy3 commented on #2758
@ArmorDarks Thank for your using the template and for the in-depth report.

I think this is simply because your YAML is incorrectly structured.

[code]

Is equilvant to:

[code]

Whereas your example is equivalent to the following three value array, which is not what stylelint expects:

[code]

[2017-07-18 14:35] jeddy3 commented on #2759
@ArmorDarks Thanks again for using the issue template and for your thorough write-ups.

I believe this is a duplicate of https://github.com/stylelint/stylelint/issues/2090. That issue has been around for a while and hasn't been picked up by anyone yet. So, feel free to [contribute the option](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#adding-an-option-to-an-ex

[2017-07-18 15:23] jeddy3 commented on #2760
I believe this rule is behaving as intended. It has a [very narrow](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#criteria-for-inclusion) scope. If a declaration spans multi-line lines, then a newline should always follow the colon.

For example, the following is allowed:

[code]

But not this:

[code]

I think what you're after is a new rule that limits when a d

[2017-07-18 15:57] ArmorDarks opened #2761 "Fix false positives for multi-line selectors with comments in block-*-brace-*-*"
A bug.

For some reasons some comments affecting listed below rules and forces them to report false errors.

`block-opening-brace-newline-after`, `block-closing-brace-newline-before` and `block-opening-brace-space-after`

[code]

[code]

 `8.0.0`

CLI with `stylelint *.scss`"

Partially. Both Sass and regular CSS comments affects behavior.

No warnings to be flagged.

The following warnings were f

[2017-07-18 16:27] jeddy3 commented on #2761
@ArmorDarks Thanks for the report.

I can replicate this. It is triggered whenever a comment exists anywhere, except on the last line, within a multi-line selector.

This will trigger it:

[code]

So will this:

[code]

This won't:

[code]

Labelling as `help wanted` and `bug`. All three rules make sure of the [`whitespaceChecker`](https://github.com/stylelint/stylelint/blob/master/lib/utils/white

[2017-07-18 17:50] krhubert opened #2762 "No webview electron tag in selector-type-no-unknown rule"
Feature requests

selector-type-no-unknown

[code]

any

8.0.0

`stylelint "*css" --syntax scss`

no

No warnings to be flagged.

Unexpected unknown type selector "webview".

[2017-07-18 18:10] jeddy3 commented on #2762
@krhubert Thanks for using the template.

As [per the docs](https://github.com/stylelint/stylelint/blob/master/lib/rules/selector-type-no-unknown/README.md):

Use the [`ignoreTypes: ["/regex/", "string"]` optional secondary option](https://github.com/stylelint/stylelint/blob/master/lib/rules/selector-type-no-unknown/README.md#ignoretypes-regex-string) to ignore further tags.

[2017-07-18 18:10] #2762 closed

[2017-07-18 18:12] #2760 closed

[2017-07-18 18:13] jeddy3 commented on #2758
Closing. Feel free to continue the discussion if this doesn't resolve the issue.

[2017-07-18 18:13] #2758 closed

[2017-07-18 18:15] jeddy3 commented on #2759
Labelling as `plugin` for the second request. Feel free to continue the discussion if my triaging doesn't resolve the issue.

[2017-07-18 18:15] #2759 closed

[2017-07-18 18:51] ArmorDarks commented on #2758
Oh my, so stupid error from my side! Thanks for pointing it out, I never knew that `ignore` should actually be nested under `except`.

To be honest, it was quite hard to figure it out, since documentation in no way states that `ignore` is actually a property of `except`, if I'm not missing anything.

[2017-07-18 19:26] hudochenkov commented on #2758
@ArmorDarks It's not. `except` and `ignore` are properties of a secondary option object. Try to convert correct JSON config to YAML using https://www.json2yaml.com/ (@jeddy3 posted correct config and correct YAML).

[2017-07-18 19:35] ArmorDarks commented on #2758
Yeap, now I see. Thanks for clarification.

It just sounded to my mind more logical that rule will accept array of rules, not array with more complex structure like string and array with objects. Approach with array of rules seemed to be more accurate, since it implies flatter structure. Though, it doesn't affect functionality, so nothing to worry about.

Yeap, already used it. Worked like a charm

[2017-07-19 08:51] rudywaltz opened #2764 "False positives for first-nested preceded by a shared-line comment in *-empty-line-before"
A bug where i combine comment and sass extend.

e.g. `at-rule-empty-line-before`

e.g.

[code]

e.g.

[code]

`8.0.0`

CLI with `stylelint app/components/**/**/*.scss`

No, it Can be reproduced with normal css comment.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2017-07-19 09:18] jeddy3 commented on #2764
@rudywaltz Thanks for the report and for using the template.

This is reproducible with:

[code]

And:

[code]

The at-rule, rather than the _shared-line_ comment, should be considered the "first-nested" node.

Labelling as `help wanted` and `bug`. @rudywaltz Feel free to [contribute a fix](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#fixing-a-bug-in-an-existing

[2017-07-19 15:26] ArmorDarks commented on #2759
Ah, indeed it seems to be a duplicate of #2090, thanks for pointing it out. I didn't notice it.

[2017-07-19 15:30] ArmorDarks commented on #2090
Maybe we need even more generic approach, which could be used almost with any Stylelint rule?

For instance, we can determinate interface, which will allow to target within ignore _any_ recognized by Stylelint CSS entity and whenever needed, to specify which exactly instance of entity should it be?

For instance, it could be something like

[code]

[2017-07-19 20:54] ArmorDarks commented on #2760
You are right, it indeed seems like intended but quite unexpected behavior, those this issue should be qualified as a feature request.

Well, that is unexpected thinking, but theoretically should allow even more precise configuration. Though, I'd stick with additional `declaration-colon-newline-after` option, which will forbid newlines for single-valued properties, that way it would be easier to u

[2017-07-19 21:20] ntwb opened #2766 "Add Greenkeeper support for package-lock.json"
It looks like we need to add a GitHub token to the repo for Greenkeeper to be able to push to branches from within Travis CI

https://github.com/greenkeeperio/greenkeeper-lockfile#setup

Noticed as part of #2765: https://travis-ci.org/stylelint/stylelint/jobs/255347993#L1879
[code]

[2017-07-21 14:53] jvguillen opened #2768 "Unable to parse .stylelintrc properly"
The modules does't seem to be able to parse the .stylelintrc file properly generating an error like this one:

[code]

7.6.0

Through an npm script that looks like this : ` "stylelint": "stylelint \"includes/**/*.scss\" --syntax scss"`

[2017-07-21 14:57] peter-mouland opened #2769 "StyleLint returns 'Invalid Option' for all rules."
There seems to be a bug in that all rules seem to be returning 'invalid option'.

for example:

Running `echo "a { color: pink }" | stylelint` with the following `.stylelintrc`:

<details>
  <summary>`.stylelintrc`</summary>

[code]
</details>

<details>
  <summary>Result:</summary>
[code]
</details>

I installed the latest stylelint globally and executed the code (above) in a new project and seem

[2017-07-21 14:58] alallier commented on #2768
Similar problem.

Command Line Output:

[code]

JSON config file:

[code]

This config was working in 7.11.1, but now it anything greater I get the invalid option problem

[2017-07-21 15:00] alallier commented on #2769
Looks similar to #2768, maybe provide input there. This seems like a duplicate

[2017-07-21 15:02] peter-mouland commented on #2769
ha ha - looks like i took too long to work out how to hide the code and someone beat me too it!

[2017-07-21 15:02] #2769 closed

[2017-07-21 15:02] peter-mouland commented on #2768
I'm having a similar problem, there seems to be a bug in that all rules seem to be returning 'invalid option'.

for example:

Running `echo "a { color: pink }" | stylelint` with the following `.stylelintrc`:

<details>
  <summary>`.stylelintrc`</summary>

[code]
</details>

<details>
  <summary>Result:</summary>
[code]
</details>

I installed the latest stylelint globally and executed the code (ab

[2017-07-21 15:03] alallier commented on #2769
No worries just figured it might help to bring to your attention!

[2017-07-21 18:18] AndersDJohnson commented on #2215
We'd like this as well.

[2017-07-22 00:05] imrekoszo opened #2771 "Add autofixing for end-of-source newlines"
In a codebase I'm working on right now, this is one of the most common errors. It would be very helpful if stylelint could append newlines to source files that don't have a trailing one. I will create a pull request as it appears this would be a simple code change.

`no-missing-end-of-source-newline`

e.g.

[code]

e.g.

[code]

`8.0.0`

yarn stylelint ...

[2017-07-22 08:28] XhmikosR opened #2774 "TypeError: Path must be a string. Received undefined"
A bug or a config question

isAutoprefixable

[code]

[code]

`8.0.0`

PostCSS plugin with Gulp:

[code]

No

Stylelint should run

[code]

This isn't a bug (probably), but I keep getting the aforementioned TypeError with v8.0.0. I tried adding a `.browserslistrc` file but I still get the same. Does stylelint need a path to the `.browserslistrc` file?

Going back to v7.11.1 works but I guess it's

[2017-07-22 08:39] XhmikosR commented on #2774
Nevermind, I get this regardless of the stylelint version so I guess it's autoprefixer itself that's causing this.

[2017-07-22 08:39] #2774 closed

[2017-07-22 09:07] silverwind opened #2775 "'TypeError: Path must be a string' related to autoprefixer"
I'm tracing a error that seems to only occur when stylelint is run via a npm script (works standalone):

[code]

When I try the reduced code from [the throwing line](https://github.com/stylelint/stylelint/blob/1631199ff3a35a155510ea936fbfda1f8414d28c/lib/utils/isAutoprefixable.js#L19), I can reproduce the throw in the node REPL:

[code]

[code]

Anyone able to reproduce?

[2017-07-22 09:45] xPaw commented on #2775
I am getting the same error on my CIs, but not locally.

I checked the local version and I have `browserslist@2.1.5` which does not have this problem.

[2017-07-22 09:45] bjankord commented on #2775
I'm seeing this error as well in one of our projects. Details below.

A bug or a config question

isAutoprefixable

[code]

[code]

e.g. `8.0.0`

We run it from an npm-script inside a monorepo

`"lint:scss": "$(cd ..; npm bin)/stylelint src/**/*.scss",`

We use SCSS, but I don't think this issue is related to SCSS. Not sure though.

No errors to be thrown.

The following TypeError is thrown:

[cod

[2017-07-22 10:12] Ladsgroup commented on #2775
I'm getting this in local machine and travis too: https://travis-ci.org/wiki-ai/wikilabels/builds/256334402?utm_source=github_status&utm_medium=notification

[2017-07-22 10:25] silverwind commented on #2775
I think this maybe because of this line:

https://github.com/ai/browserslist/commit/9d3e5de995a5f560452c6f9457f41e25b5634924#diff-168726dbe96b3ce427e7fedce31bb0bcR81

`getStat` previously always returned a string from that loop, can now return `undefined`. cc: @ai

[2017-07-22 13:57] silverwind commented on #2775
Closing, see https://github.com/ai/browserslist/issues/158

[2017-07-22 13:57] #2775 closed

[2017-07-22 16:48] bjankord commented on #2775
For those tracking on this issue, there is a PR which fixes the issue in browserslist here: https://github.com/ai/browserslist/pull/161

[2017-07-22 16:56] ai commented on #2775
Fixed in Browserslist 2.2.2

[2017-07-22 17:22] XhmikosR opened #2776 "Stylelint with postcss-scss"
I'm not even sure this is an issue with stylelint itself so please bear with me.

So, I'm using gulp-postcss with stylelint and postcss-scss like this:

[code]

My `.stylelintrc`:

[code]

Now this works fine with stylelint v7.x, but with v8.0.0 it's like Sass is no longer recognized. For example I'm getting:

[code]

I'm using node.js v8.2.1 on Windows 7 64-bit. If it's a config issue please poin

[2017-07-22 19:33] mixmastamyk opened #2777 "Add rule to validate value types"
feature request

8.0.0

CLI

e.g. "CLI with `stylelint --config myconfig *.css`"

Yes, with rc.yaml file

No

Hi, my media query (responsive css) wasn't working, couldn't figure out why, wasted almost an hour when finally figured out the number I pasted into it didn't have units.  Grrr.  This is what brought me to csslint, then stylelint.

Can't seem to find a rule that requires them.  Might be a

[2017-07-23 00:03] ntwb commented on #2777
Thanks for creating this issue @mixmastamyk but could you supply some example code and explain the behaviour of what results you currently get versus what you expect to get.

(There are sections for adding these in the new issue template)

[2017-07-23 00:17] ntwb commented on #2776
Ensure you've using the latest `stylelint-config-standard`, there was some shuffling around of some rules in stylelint v8 including `at-rule-no-unknown` and I think that might be what's tripping you up here.

Aside 1: You might also want to consider including the new [stylelint-config-recommended-scss](https://github.com/kristerkari/stylelint-config-recommended-scss) in addition to `stylelint-conf

[2017-07-23 00:21] ntwb commented on #2775
Thanks everyone for helping document the issue :)

Thanks for the quick turnaround on shipping a fix @ai :)

[2017-07-23 04:55] XhmikosR commented on #2776
Thanks for the reply!

1. I made sure all deps are up to date, nothing changes
2. I added `stylelint-config-recommended-scss` but I can't make stylelint to pick it up.

[code]

[code]

I'll look into gulp-stylelint later, thanks. The reason I didn't want to use it is because I'm trying to depend to as few as possible third-party stuff and use the libraries directly.

[2017-07-23 05:03] XhmikosR commented on #2776
So that scss config is broken with Node.js v8.x; it doesn't install `stylelint-scss`. It's probably the peerDependencies they have. IMO they should drop those since they are obsolete.

What works for me is explicitly disabling at rules `"at-rule-no-unknown": null,` but that beats the point :/

[2017-07-23 05:04] XhmikosR commented on #2776
Ah, nvm, the problem with `stylelint-scss` is that they have it specified it in devDependencies and not dependencies.

[2017-07-24 07:05] hudochenkov commented on #2768
Can you try reinstall stylelint, please? It should be fixed now.

[2017-07-24 08:12] sinedied opened #2779 "NPM warning on install: postcss-reporter@4.0.0 requires a peer of postcss@^6.0.0 but none was installed"
When installing `stylelint` with `npm@4` a warning is issued:
[code]
[code]

N/A

N/A

N/A

`8.0.0`

CLI with `stylelint "src/**/*.scss" --syntax scss`

N/A

Install without warnings.

The following warnings were issued with NPM (does not happen with `yarn`)

[code]

[2017-07-24 08:41] ntwb commented on #2779
Please update npm to the latest 5.x release, it is fixed with npm 5

Previously with npm 3.x and 4.x was and idiosyncratic issue with how npm installs modules, if you were to run `npm install postcss-reporter postcss` then this warning would not appear.

Aside: You should also update from Node.js 7.x to the latest 8.x

[2017-07-24 08:44] peter-mouland commented on #2768
@hudochenkov i didn't see a new release... having said that, it does seem to be working now!

_magic!_ Thanks 👍

[2017-07-24 08:48] hudochenkov commented on #2768
@peter-mouland the problem was in a release of one of our dependencies, which handles config parsing. It's fixed now with a new patch release https://github.com/davidtheclark/cosmiconfig/issues/72

[2017-07-24 09:02] peter-mouland commented on #2768
@hudochenkov are you guys using package-lock or shrinkwrap?
they're a pain, but might be worth starting to commit this file to npm to help prevent this from happening again in the future?   Up to you guys.  cheers

[2017-07-24 10:14] imrekoszo opened #2780 "Add autofixing for color-hex-length"
In a codebase I'm working on right now, this is one of the most common errors. It would be very helpful if stylelint could autofix them. I will create a pull request as it appears this would be a simple code change.

`color-hex-length`

e.g.

[code]

n/a

`8.0.0`

yarn stylelint...

[2017-07-24 13:18] jvguillen commented on #2768
@hudochenkov I have the same doubt as @peter-mouland Would you be able to elaborate on this issue? is there an issue already opened or should we create one?

[2017-07-24 13:20] hudochenkov commented on #2768
@jvguillen what npm version do you use?

[2017-07-24 13:23] jvguillen commented on #2768
@hudochenkov 3.10.8

[2017-07-24 13:31] hudochenkov commented on #2768
Our dependency `cosmiconfig` was updated to `2.2.0` recently. On our `package.json` we have it like [`"cosmiconfig": "^2.1.3"`](https://github.com/stylelint/stylelint/blob/1631199ff3a35a155510ea936fbfda1f8414d28c/package.json#L43). So `2.2.0` in a semver range. Based on this semver range npm <5 will install `2.2.0`. If you use `npm@5`, then you won't have this unexpected updates, because we're usi

[2017-07-24 13:36] hudochenkov commented on #2766
@ntwb can you take care of this problem, please? You're the best of us who understand in npm@5 and Greenkeeper things. We've already missed some dependencies updates, which breaks stylelint for npm <5 users.

https://github.com/stylelint/stylelint/issues/2775
https://github.com/stylelint/stylelint/issues/2768

[2017-07-24 16:09] willdavidow opened #2782 "Cannot find module specificity, postcss-less, postcss-scss"
I just installed stylelint and the stylelint-scss plugin, and have a very simple rules file set up... Upon running stylelint against my source directory I have a few 'cannot find module errors:

I have `stylelint` installed globally, and `stylelint-config-recommend`, `stylelint-scss` and `stylelint-selector-bem-pattern` installed as dev dependencies within my `package.json`

Here is my `.stylelint

[2017-07-24 16:24] hudochenkov commented on #2782
The best way of using stylelint is have it installed as devDependency of your project. I would suggest you to install it that way. You won't have problem with missing dependencies anymore.

[2017-07-24 18:28] sinedied commented on #2779
@ntwb Same issue occurs with `node@8.2.1` and `npm@5.3.0`, see this log on Travis: https://travis-ci.org/ngx-rocket/generator-ngx-rocket/jobs/256998435

[2017-07-24 19:54] #2768 closed

[2017-07-25 01:33] mixmastamyk commented on #2777
Yes, had css where I added a new value to a media query:

[code]

For what seemed like an hour I poked around at this and that, it just didn't work no matter what I did.

Finally I went to a website cut and pasted the syntax again and studied the two intensly until I found the discrepancy:  the media query won't work at all until you add a unit, say 768**px** to the end of the value.  The browser

[2017-07-25 07:42] XhmikosR commented on #2776
Closing this since I managed to get things working.

Thanks for the help!

[2017-07-25 07:42] #2776 closed

[2017-07-25 11:10] ntwb commented on #2782
+1'ing @hudochenkov advice here @willdavidow, as you've already given the thumbs up I'm going to close this

[2017-07-25 11:10] #2782 closed

[2017-07-25 21:43] jonathantneal opened #2783 "Fix parseError in selector-max-id"
After recently updating Stylelint, I’ve started seeing errors from nested selectors within property sets. The errors look like this:

[code]

The CSS looks like this:

[code]

Here is a test case with a test.css and package.json so that you can replicate the issue. Run `npm test` or `npm run test:scss` to see the error (in either syntax):

https://github.com/jonathantneal/postcss-tests/tree/master

[2017-07-26 00:31] gussyboy commented on #2779
@ntwb you're solution isn't ideal for people who are using the LTS version of node, which ships with npm 3.x

I guess for the time being we'll just have to install `postcss` as a package

[2017-07-26 07:07] hudochenkov commented on #2779
@gussyboy npm is not tied to Node version, and `npm@5` could be installed and used on Node 4+.

[2017-07-26 12:36] evilebottnawi commented on #2777
Perhaps concentration on validation rules will give a fresh breath of air for stylelint (prettier now solves many problems with newlines and spaces).
@stylelint/core what do your think about future of stylelint and rules?

[2017-07-26 15:44] Arcanemagus commented on #2779
@hudochenkov @gussyboy Not only _can_ NPM be installed on Node.js 4+, as far as the NPM team is concerned _anything_ other than the latest NPM version is outdated software and shouldn't be used.

[2017-07-27 01:30] ntwb commented on #2779
The latest npm 5.x should be installed and used for all Node.js releases. npm clarified this recently in the following blog post http://blog.npmjs.org/post/162451604515/the-npm-clis-long-term-support-lts-policy

[2017-07-27 01:46] ntwb commented on #2779
To the core of the issue here at hand though:

https://github.com/postcss/postcss-reporter/blob/master/package.json#L42-L44

This is an issue with the `postcss-reporter` module and not stylelint.

The state of `peerDependencies` is ¯\\_(ツ)_/¯ for me at the moment, I believe they were going to be deprecated, but not entirely sure and can't find a reference to that right now.

Closing this as not a

[2017-07-27 01:46] #2779 closed

[2017-07-27 15:01] sinedied commented on #2779
@ntwb I reported the issue on `postcss-reporter`, but the real issue still lies here with stylelint in my opinion: if you decide to include package `X` and package `X` says it needs package `Y` to be installed along, your dependencies should be both on `X` and `Y`.

To solve this, `stylelint` would need to add a dependency on `postcss`, since you use `postcss-reporter`.

[2017-07-27 15:03] hudochenkov commented on #2779
@sinedied we [have](https://github.com/stylelint/stylelint/blob/55bfb4d81db96e637f827d7d87fdbdccec230615/package.json#L61-L64) `postcss@6` as a dependency. It's some npm bug.

[2017-07-27 15:10] sinedied commented on #2779
Ouch :/ But apart from using `yarn`, how can I resolve this since using `npm@5` does not solve the issue for the CI?

[2017-07-27 15:14] hudochenkov commented on #2779
@sinedied it's just a warning. It's annoying, but at least it doesn't break a build.

[2017-07-27 15:29] sinedied commented on #2779
@hudochenkov actually, it does! When using Cordova, if npm emits warning or errors it breaks the cordova build :/

[2017-07-27 15:57] Arcanemagus commented on #2779
@ntwb Maybe you were thinking of the `prepublish` changes? `peerDependencies` is a _critical_ part of many package's ecosystem (including `stylelint`!) so I highly doubt it's going anywhere.

[2017-07-28 20:09] ZachTRice opened #2785 "Add ignoreUnits: [] to number-max-precision"
Feature request:

Add `ignore: ["%", "ch", "cm", "em", "ex", "in", "mm", "pc", "pt", "px", "rem", "vh", "vmin", "vmax", "vw" ]`

number-max-precision

[code]

[code]

8.0.0

grunt-postcss stylelint plugin; also tested with grunt-stylelint

No

I would like to constrain all units except for % based units to 1 number-max-precision. What I am suggesting is adding an option to ignore specific units, s

[2017-07-30 08:38] LiHaoTan opened #2788 "Fix false positives for at-charset and single quotes in string-quotes"
When specifying the rule `string-quotes: "single"`, then specifying the encoding through `@charset` single quotes is required as well, e.g. `@charset 'UTF-8';`.

However, this is incorrect as per the specification double quotes are always required:

40 63 68 61 72 73 65 74 20 22 XX* 22 3B
where each XX byte is a value between 016 and 2116 inclusive or a value between 2316 and 7F16 inclusive, then

[2017-07-30 16:01] sinedied commented on #2779
@ntwb an update of `postcss-reporter` was pushed that changed `postcss` as a dependency, not a peer dependency. Can you reflect the change in `stylelint` to fix this nom issue?

[2017-07-30 20:25] Dromin opened #2789 "Add ignoreAtRules: [] to at-rule-name-newline-after and block-opening-brace-newline-before"
Feature request: currently there is an inconsistency in the available options of the group of rules of the types: `block-*-newline-*`, `block-*-space-*`, `block-*-empty-line-*` and similar `at-rule-*` rules. Some of these have an option `ignoreAtRules` which allows users to specify a list of at-rules to which the rule should not apply, while others do not have this option. I think the `ignoreAtRul

[2017-07-31 02:09] copiali opened #2790 "Rule shorthand-property-no-redundant-values not working when have variables for value in sass"
When I have variable in value rule not working for rule shorthand-property-no-redundant-values in sass.

shorthand-property-no-redundant-values

[code]

e.g.

[code]

`7.10.1`

CLI with `stylelint *.scss --syntax scss`

Yes, it's related to SCSS maps.

Throw warnings.

No warning.

[2017-07-31 09:16] evilebottnawi commented on #2790
@copiali yep, stylelint by default doesn't support non standard syntax(variables, interpolation and etc). Please create issue in `stylelint-scss` https://github.com/kristerkari/stylelint-scss (they create rule for sass/scss syntax).

[2017-08-01 03:46] ntwb commented on #2788
Thanks @LiHaoTan, I've marked this issue up as a bug and help wanted, would you be interested in creating a pull request to fix this?

From the cited source above: (emphasis mine)

[2017-08-01 20:57] benbrandt opened #2791 "Fix false positives for attribute selectors in indentation"
A bug where stylelint throws an indentation for rules with [attribute] selectors

`indentation`

Wants this:
[code]
to become:
[code]

e.g.

[code]

e.g. `8.0.0`

CLI with `stylelint \"**/*.css\"`

No

No indentation on the second line of the selector

Expected indentation of 2 spaces (indentation)

[2017-08-02 10:12] evilebottnawi commented on #2791
@benbrandt why your expected 2 space indentation? Each selector should be start with newline and have 0 spaces? Seems it is non standard indentation.

[2017-08-02 15:28] benbrandt commented on #2791
@evilebottnawi sorry I may have made it unclear. I do want a newline with 0 spaces, but stylelint is telling me I have to do a newline and 2 spaces. But only on selectors that include [disabled] or something similar.

I realize the normal selector is `:disabled` but this was for overriding some library code. Wasn't sure if this bug also applies to other selectors, but figured I'd bring it up just

[2017-08-03 09:43] dyf19118 opened #2794 "rule declaration-colon-newline-after is not proper when colon followed by function call"
New option needed i think.
For example, provide an except option for function call.

declaration-colon-newline-after

with postcss-cssnext syntax.

[code]

[code]

`^8.0.0`

as a PostCSS plugin

No

After adding a new option(except option), No warnings to be flagged.

The following warnings were flagged:

[code]

[2017-08-03 12:16] anlexN opened #2795 "hope feature added: can use .gitignore like eslint, not just .stylelintignore! what do you think so?"
e.g. "A bug where..."

e.g. `number-leading-zero`

e.g.

[code]

e.g.

[code]

e.g. `6.7.1`

e.g. "CLI with `stylelint --config myconfig *.css`"

e.g. "Yes, it's related to SCSS maps."

e.g. "No warnings to be flagged."

e.g. "The following warnings were flagged:"

[code]

[2017-08-03 12:22] Vinnl opened #2796 "Fix false positives for escaped slashes in string-no-newline"
A bug. Foundation 6.4 added the new setting `$breadcrumbs-item-separator-item-rtl: '\\';`. This appears to trip up stylelint, which emits a warning for that line and what appears to be every line after it saying:

Ignoring the line as follows didn't help:

    $breadcrumbs-item-separator-item-rtl: '\\'; /* stylelint-disable-line string-no-newline */

I guess `string-no-newline`?

[code]

e.g.

[co

[2017-08-03 12:27] evilebottnawi commented on #2795
@anlexN your can use `stylelint **/*.css --ignore-path .gitignore`

[2017-08-03 12:28] #2795 closed

[2017-08-03 12:31] evilebottnawi commented on #2794
@dyf19118 rule `declaration-colon-newline-after` works as expected, your have multi line declaration. Seems your want to use inconsistent stylistics:
1. Basic:
[code]
2. For `image-set` other:
[code]
Right?

[2017-08-03 12:34] #2790 closed

[2017-08-03 12:57] Vinnl commented on #2796
I tried to my [a fork](https://github.com/Vinnl/stylelint/tree/2796-testcase) with a failing test case (see https://github.com/Vinnl/stylelint/commit/b045bf9f5878d80c0785ed4e0f244d7cf857974f), and it did fail, but unfortunately not on the error I'm trying to show:

[code]

[2017-08-03 13:05] evilebottnawi commented on #2796
@Vinnl very instresting, thanks for issue, in near future i investigate this

[2017-08-04 01:27] anlexN commented on #2795
@evilebottnawi , because i use visual studio code stylelint extention, i hope this feature to be added. It is convienent!
i don't like use stylelint command every time , further more stylelint don't have command the same as --watch.

[2017-08-04 02:04] dyf19118 commented on #2794
@evilebottnawi Um. I just think function call is a special case for this rule, since function parameters are split into multiple lines for readability. And is not the same like multi-line properties. Anyway, thanks for your suggestion.

[2017-08-04 02:04] #2794 closed

[2017-08-04 11:51] evilebottnawi commented on #2795
@anlexN we support this feature not only for command line, seems your should craete issue in `stylelint` extension repo for support this feature, thanks!

[2017-08-07 11:41] plantain-00 commented on #2791
I got this error too(I expect 0 space, but --fix give me 2 spaces)
it works great with the same code on https://stylelint.io/demo/ , the online demo is not v8.0.0?

@benbrandt

you should change your first post here

[2017-08-08 03:34] gucong3000 opened #2798 "`no-empty-source` performance optimization"
A bug when lint CSS in HTML about `no-empty-source`

`no-empty-source`

html file without css.
https://github.com/vuejs-templates/webpack/blob/master/template/index.html

[code]

stylelint@8.0.0

CLI with `stylelint "**/*.{vue,html,css,sss,less,scss,sass}" --custom-syntax postcss-html`

Yes, it's related to HTML.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2017-08-10 22:24] alexilyaev commented on #2622
@jeddy3 I'd like to ask to reconsider adding some meta-data, at least for `deprecated`.

### Reason

I just had a false-positive in stylelint-find-rules, the tool said `max-nesting-depth` is deprecated.

So, it works by looking up the word "deprecated" in the README file of each rule, and turns out the README for `max-nesting-depth` has that word, but it's not deprecated:
https://github.com/stylel

[2017-08-11 01:58] ntwb commented on #2622
Reopening now that stylelint `8.0.0` is out

As outlined above in https://github.com/stylelint/stylelint/issues/2622#issuecomment-308240445 sounds like a good approach, currently there are no rules pending to be deprecated though.

For now probably documenting how to _deprecate a rule_ in [docs/developer-guide/rules.md](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.

[2017-08-11 04:28] #2798 closed

[2017-08-11 10:15] deivid-rodriguez opened #2804 "Broken deprecation links"
I'm going through some deprecation warnings, but the links (which would be very useful otherwise) are broken.

[code]

I guess this is because the rules have already been removed in the current version.

Possible solutions:

* Allow browsing the documentation per version, and when deprecating rules, point to the documentation to the last version where the rule was present, where I guess the deprec

[2017-08-11 10:47] evilebottnawi opened #2805 "Add selector-max-pseudo-class"
New rule

e.g. `selector-max-pseudo-class`

e.g.

[code]

e.g.

[code]

e.g. `8.0.0`

Not required

Not required

Error

Nothing

[code]

[2017-08-11 12:40] bobbor opened #2806 "False positive for SVG fragment identifiers in color-hex-length"
when using svg fragment identifiers in an background url, stylelint would suggest long/short color-variations on this identifer

`color-hex-length`

[code]

[code]

`7.6.0`

CLI with `stylelint  *./src/**/*.pcss`

Nope

No warnings to be flagged. Fragment identifiers should be ignored

The following warnings were flagged:

[code]

[2017-08-11 12:45] bobbor commented on #2806
maybe it should also be noted, that `#view` (of course) is not a color.
the regexp's in the `color` rules could be adjusted to `[0-9A-Fa-f]` to not give wrong feedback and/or a new rule could be introduced which lints invalid-hex-colors

[2017-08-12 02:54] ntwb commented on #2806
Fixed via https://github.com/stylelint/stylelint/commit/4412f8365e5757cbe1fca9d17edc5259a1a993ae

[2017-08-12 02:54] #2806 closed

[2017-08-12 05:24] ntwb commented on #2780
Fixed via #2781

[2017-08-12 05:24] #2780 closed

[2017-08-12 05:50] ntwb commented on #2771
Fixed via #2772

[2017-08-12 05:50] #2771 closed

[2017-08-13 13:45] Mottie opened #2810 "Fix false positives for multiple pseudo-class in selector-pseudo-class-no-unknown"
When multiple pseudoclasses (chained) are added to the webkit scrollbar selector, we see a "selector-pseudo-class-no-unknown" error. In this example css:

[code]

The first two selectors show the error:

    1:38 error Unexpected unknown pseudo-class selector ":decrement" (selector-pseudo-class-no-unknown)
    5:37 error Unexpected unknown pseudo-class selector ":horizontal" (selector-pseudo-class

[2017-08-13 14:37] Mottie opened #2811 "False negatives on "property-no-unknown""
Using the [online stylelint demo](https://stylelint.io/demo/), I can enter the following css which does not provide any errors or warnings:

[code]

Also, the property values can be changed to almost anything and remain valid:

[code]

`property-no-unknown`

See above

Default provided by the online demo.

`8.0.0`

Online demo.

Yes, entering the same css into [w3c css validation service](https://

[2017-08-14 02:55] ybiquitous opened #2812 "Add 'peerDependencies' guideline to plugin writing documentation"
I propose to add guideline which plugin authors should declare *stylelint* as `peerDependencies`
to [stylelint plugin writing documentation](https://stylelint.io/developer-guide/plugins/) such as [ESLint](http://eslint.org).

[ESLint documentation](http://eslint.org/docs/developer-guide/working-with-plugins#peer-dependency) says:

And [npm documentation](https://docs.npmjs.com/files/package.json#p

[2017-08-14 03:41] DanielRuf commented on #2572
I have the same issue but I use postcss-loader with webpack 3 and want to keep postcss(-loader), is there a solution for this?

[2017-08-14 08:23] evilebottnawi commented on #2810
@Mottie thanks for issue, seems it is bug

[2017-08-14 08:56] evilebottnawi commented on #2788
@stylelint/core what do your think about this, should we ignore `@charset` or output error if your use `single` for `@charset`?

[2017-08-14 14:16] tirli commented on #2515
I'm getting 46 errors in stylelint package using "stylelint": "^8.0.0" and "flow-bin": "^0.52.0",

[2017-08-14 22:14] ben-eb commented on #2757
Any joy?

[2017-08-14 23:02] hudochenkov commented on #2757
@ben-eb Sorry, Ben. It's a vacation/relocation period. I'm afraid no-one had a chance to look at it.

[2017-08-14 23:47] ntwb commented on #2788
Generally I think this should throw an error:

[code]

What about a new rule, `no-invalid-charset-quotes` in the "Possible errors" rule category?

Message `Expected double quotes, @charset encoding declarations must use double quotes`

The `string-quotes` rule would then _ignore_ instances of `@charset`

[2017-08-15 00:23] ntwb commented on #2757
I've just tried looking at this but I can't seem to get `v3.0.0-rc.0` working at all

To test I'm using:
[code]

It appears as if `v3.0.0-rc.0` is installed correctly:
[code]

Then running `npm test` results in:
[code]

[2017-08-15 00:38] ntwb commented on #2678
Fixed via #2814

[2017-08-15 00:38] #2678 closed

[2017-08-15 01:59] ntwb commented on #2515
@tirli I didn't get any errors when I updated `flow-bin` to `0.52.0` in #2793

Ensure your npm modules are all up to date and you are using the latest 5.x release of npm please

Here's my test just now:
[code]

If you still see errors please open a new issue rather than commenting on this old issue please 😄

[2017-08-15 08:47] evilebottnawi commented on #2788
@ntwb sgtm, I would like to hear one more opinion :smile:

[2017-08-15 16:55] Mottie opened #2816 "Add rule to validate color functions"
RGB(A) and HSL(A) color definition warnings are missing.

A new rule is required.

[code]

Default configuration used by the [online demo](https://stylelint.io/demo/).

`8.0.0`

Online demo.

No, this is standard syntax.

For RGB(A) colors:
* WARNING/ERROR: There must be 3 rgb and 4 rgba definitions.
* WARNING?: RGB colors can be either an integer or a percentage. Out of bound values do not cause

[2017-08-15 16:59] evilebottnawi commented on #2816
@Mottie thanks for issue!

[2017-08-15 17:02] evilebottnawi commented on #2816
I think best name `color-function-no-invalid`.
@Mottie Maybe we can include in this rule other color function? Can your to keep in mind and examine their?

[2017-08-15 17:25] Mottie commented on #2816
I was going to leave the rule name up to you all... I just updated the issue with more valid examples [according to MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#Examples).

[2017-08-15 22:36] jamiedust opened #2817 "CLI not exiting with non-zero error code"
When running stylelint via the CLI errors do not cause the process to exit with a non-zero error code, this is required for adding to pipelines.

n/a

[code]

[code]

8.0.0

./node_modules/stylelint/bin/stylelint.js /path/to/css.less

It is not related to syntax.

When an error is found or a syntax error the process should exit with a non-zero exit code.

The process does not exit with a non-zero

[2017-08-16 11:14] evilebottnawi commented on #2817
@jamiedust don't reproduce, can your try to reinstall `node_modules`, if error still exists please create minimum reproducible test repo, thanks!

[2017-08-16 19:19] jamiedust commented on #2817
My mistake, on further investigation I see that it is indeed returning a non-zero exit code. I am used to seeing eslint throw an error on failures but have realised that this was npm throwing the error.

[2017-08-16 19:19] #2817 closed

[2017-08-18 04:35] ntwb commented on #2816
Thanks for the detailed issue @Mottie, sounds good to me, I've updated the labels for this issue 👍

Would you be interested in taking a shot at creating this new `color-function-no-invalid` rule?

[2017-08-18 10:20] BannerCoe commented on #2544
Hello I'm beginner. I want to contribute this project. But I don't know where to start. Please help me.

[2017-08-18 10:27] evilebottnawi commented on #2544
@BannerCoe It is great! Thanks! In near future we will complete integration with `opencollective` and update `README.md`. Thanks again!

[2017-08-20 17:41] nwoltman opened #2824 "False positive in "declaration-empty-line-before" caused by shared-line comments"
A bug where shared-line comments cause `declaration-empty-line-before` to report errors where it shouldn't.

[`declaration-empty-line-before`](https://stylelint.io/user-guide/rules/declaration-empty-line-before/)

[code]

[code]

`8.0.0`

grunt-stylelint

No

No warnings to be flagged.

The following warnings were flagged:

[code]
---

Related to #2764.
Issue probably introduced in #2262.

[2017-08-20 19:38] ben-eb commented on #2757
@ntwb Strange, we use it in cssnano v4.0.0-rc.2. 😕

[2017-08-21 01:54] syakuis opened #2825 "By default, all node_modules and bower_components are ignored?"
By default, all node_modules and bower_components are ignored?

![2017-08-21 10 48 27](https://user-images.githubusercontent.com/6147878/29500763-8a99b094-865e-11e7-82b3-43a26a9bab5c.png)

.stylelintrc

[code]

.stylelintignore

[code]

Why is this? :(  sorry, I speak a little English.

[2017-08-21 07:59] jeddy3 commented on #2791
@benbrandt Thanks for reporting this.

I'm unable to reproduce the behaviour with `8.0.0`, though.

Both linting and autofixing give:

[code]

For

[code]

Are you able to make a reproducible test repo for us?

[2017-08-21 08:06] jeddy3 commented on #2622
SGTM.

@alexilyaev You can assume any rules deprecated in the future will come with `rule.meta = { deprecated: true }`.

[2017-08-21 08:17] jeddy3 commented on #2804
@deivid-rodriguez Thanks for reporting this and for the thorough write-up.

That's correct. We made a mistake here and didn't anticipate this.

This sounds like the best approach going forward  (thanks for the suggestion), as adding documentation for each version of stylelint to the website is significantly more work.

This does mean that the problem won't be remedied for users updating to `8.0.0`

[2017-08-21 08:20] catearcher commented on #2791
@jeddy3 I think you tested it with a CSS file while @benbrandt *probably* used a LESS file.

Autofixing a LESS file containing
[code]

gives me
[code]

while autofixing a CSS file with the same content (correctly) does not change a thing.

[2017-08-21 08:23] jeddy3 commented on #2805
@evilebottnawi Are you thinking maximum for the whole selector or for each compound selector? The other `selector-max-*` rules are scoped to the whole selector. So, ideally this rule would be consistent with that, but does that address your use case?

[2017-08-21 08:38] jeddy3 commented on #2811
@Mottie Thanks for the report.

I believe this rule is behaving correctly as `d`, `r,`, `x` and `y` are properties found within [the SVG spec](https://github.com/betit/known-css-properties/blob/master/data/all.json).

In the [rule docs](https://github.com/stylelint/stylelint/tree/master/lib/rules/property-no-unknown):

Which links to [this list](https://github.com/betit/known-css-properties/blob/m

[2017-08-21 08:38] #2811 closed

[2017-08-21 09:44] evilebottnawi commented on #2805
@jeddy3 yep, scoped to the whole selector

[2017-08-21 10:33] jeddy3 commented on #2788
SGTM

[2017-08-21 10:40] jeddy3 commented on #2816
In the [VISON.md](https://github.com/stylelint/stylelint/blob/master/VISION.md) we have:

I'm not sure this is the "simplest of cases". Perhaps it's better to add this type of validation to a tool like `csstree`?

[2017-08-21 10:46] jeddy3 commented on #2544
@BannerCoe Thanks for offering to help. There is a [list of things](https://github.com/stylelint/stylelint/blob/master/README.md#help-out) you can help with. Some issues are labelled as ["beginner friendly"](https://github.com/stylelint/stylelint/issues?q=is%3Aissue+is%3Aopen+label%3Abeginner-friendly) - addressing one of these would be a good first contribution. Lastly, [here is a guide](https://

[2017-08-21 10:51] jeddy3 commented on #2764
This is [seemingly applicable](https://github.com/stylelint/stylelint/issues/2824) to all `*-empty-line-before` rules.

[2017-08-21 10:57] jeddy3 commented on #2824
@nwoltman Thanks for the report.

Yes, you're right. It looks like the bug is applicable to more than just the `at-rule-empty-line-before` rule. I've updated the title of the other issue accordingly so we can merge this into that one. The fix will be the same across all `*-empty-line-before` rules. @nwoltman Please consider [contributing a fix](https://github.com/stylelint/stylelint/blob/master/do

[2017-08-21 10:57] #2824 closed

[2017-08-21 11:01] jeddy3 commented on #2825
Yes. However, the [`ignoreFiles` option](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#ignorefiles) can be used to change this behaviour.

[2017-08-21 11:01] #2825 closed

[2017-08-21 11:08] jeddy3 commented on #2812
@ybiquitous Thanks for writing this up.

Doing as [eslint does](https://github.com/yannickcr/eslint-plugin-react/blob/master/package.json#L39-L41) here SGTM. It would address this issue.

[2017-08-21 11:12] jeddy3 commented on #2791
@catearcher Thanks for the info! Labelling the issue accordingly. This is likely caused by the interplay between stylelint and the [postcss-less](https://github.com/shellscape/postcss-less) parser, and will require some digging by someone who uses Less. Please consider helping out if you can.

[2017-08-21 11:16] jeddy3 commented on #2805
SGTM.

- Name: `selector-max-pseudo-class`
- Primary option: `int`
- Secondary options: none
- Message: "Expected "${selector}" to have no more than ${max} pseudo ${max === 1 ? "class" : "classes"}"
- Section: "Limit language features -> Selector"

[2017-08-21 11:34] jeddy3 commented on #2608
@lukedar & @irina-paxlife This this still a problem with `master` and `flowbin@0.53.0`?

[2017-08-21 15:26] mahboob-awan opened #2826 "Fix Less mixins with !important and shared-line comment autofix"
stylelint's --fix mess with LESS mixins's comment & !important

No idea but none of the _(Autofixable)_ is part of stylelint rules

Following change will explain before/after state:

[code]

e.g.

[code]

`8.0.0`

Node API

Yes, It's related LESS mixin.

LESS should not mess-up or at least avoid from transforming into invalid LESS code.

No warning

Please ask, if more detail required. Thanks

[2017-08-21 16:17] Mottie commented on #2811
So there's no validation? I could understand if I used a selector, but these properties are inside a `body` tag.

I also see this in Vision.md:

So do I need to open this issue as needing a new rule then?

[2017-08-21 23:59] #2450 closed

[2017-08-22 05:54] ntwb commented on #2757
So today it decided to work for me /shrug

Anyways, #2828 is a WIP branch to look at and investigate any issues

[2017-08-22 12:23] lukaw3d commented on #2777
+1; In my example this passed linter
[code]

[2017-08-22 18:09] modosc opened #2829 "Add autofix to rules for parity with stylefmt"
feature request: start merging in fix code from https://github.com/morishitter/stylefmt

(see also https://github.com/morishitter/stylefmt/issues/291)

the `stylefmt` repo has been very quiet for a while, the [last commit](https://github.com/morishitter/stylefmt#notice-consider-other-tools-before-adopting-stylefmt) recommends people use `stylint --fix` instead.

i've written some fixes there and b

[2017-08-23 07:55] chhavi-khandelwal opened #2831 "Unexpected unknown animation name with `no-unknown-animations: true`"
On running `grunt stylelint` task with rule no-unknown-animations: true, it gives an error:
**Unexpected unknown animation name "modal-slide"   no-unknown-animations**

SCSS Code:
[code]

Stylelint version **8.0.0**

Can't figure out what is wrong with the code?

[2017-08-23 21:42] satazor opened #2832 "Consider adding --ignore-pattern option"
Add support for `--ignore-pattern` in the CLI, similar to the one from eslint:

[code]

None

None

None

`7.13.0`

CLI

No

Doesn't apply.

Doesn't apply.

[2017-08-24 00:01] benbrandt commented on #2791
Yes sorry all, thanks for debugging. It is in a less file

[2017-08-24 10:40] proProbe opened #2833 "Fix isPathIgnored regression for .stylelintignore files"
There is a bug where the API apparently doesnt read .stylelintignore-files. CLI works fine but not the API.

no rule

No actual css

doesnt matter

^8.0.0

In vscode with
https://github.com/shinnn/vscode-stylelint

Nope

That the API adheres to the stylelintignore

All my files gets linted through the API even though they do not get linted in the CLI

I created an issue on the vscode-stylelint rep

[2017-08-24 11:03] evilebottnawi commented on #2833
@proProbe `--ignore-path .gitignore`, default ignore files have name `.stylelintignore` (without `-files`)

[2017-08-24 11:18] proProbe commented on #2833
@evilebottnawi Oh Im sorry, I incorrectly wrote .gitignore instead of .stylelintignore in the title. Changed that now

[2017-08-24 12:22] evilebottnawi commented on #2833
@proProbe for api you can use `ignorePath` option (https://stylelint.io/user-guide/node-api/#ignorepath and https://github.com/stylelint/stylelint/blob/master/lib/standalone.js#L59).
[code]

[2017-08-24 14:14] proProbe commented on #2833
@shinnn I'm kinda new to this. Any of the above suggestions that can be used?

[2017-08-24 14:22] satazor commented on #2832
I've made a PR adding this feature on #2834

[2017-08-24 15:49] Arcanemagus commented on #2833
@proProbe The easiest way to handle this is to ask stylelint to tell you whether the file is ignored before attempting to run a lint:

https://github.com/AtomLinter/linter-stylelint/blob/91879a162a5c2ecea0ca1f3ef481f5f96eefc8f6/lib/index.js#L164-L168

Note that in our usage we have already asked for the configuration and handled any errors that would throw, otherwise you need to handle that here.

[2017-08-24 17:33] shinnn commented on #2833
I won't.

[2017-08-24 19:05] proProbe commented on #2833
@shinnn ? So the stylelint API isnt broken? The code just need to be fixed?

[2017-08-25 01:31] shinnn commented on #2833
That's my line.

It *is* broken but stylelint team doesn't seem to understand it because of your poor explanation.

Yes, the code of stylelint should be fixed.

[2017-08-25 03:01] ntwb commented on #2766
@jeddy3 Now that you're back from 🏖  (which I hope was awesome) could you take a look at this please? 😄

Following the details here: https://github.com/greenkeeperio/greenkeeper-lockfile#setup

1. We need a GitHub token created for each the stylelint repos that use Greenkeeper
2. For each repo the token added as environment variable `GH_TOKEN` to e.g https://travis-ci.org/stylelint/stylelint/setti

[2017-08-25 04:18] doxiaodong commented on #674
How about this?

[2017-08-25 05:11] proProbe commented on #2833
@shinnn I guess I dont understand the problem well enough :) maybe you could help improving the ticket so we might solve this? it seems like the atom linter works so why shouldnt the vscode?

[2017-08-25 08:00] shinnn commented on #2833
No. https://github.com/AtomLinter/linter-stylelint/issues/251#issuecomment-324850333

[2017-08-25 15:56] Arcanemagus commented on #2833
Okay, there are two things going on here.

----

@evilebottnawi it seems that they are unintentionally correct: `isPathIgnored` has stopped working for `.stylelintignore` files. It seems the specs in `linter-stylelint` still only tested `ignoreFiles` in a config instead of the separate `.stylelintignore` file so I didn't see this earlier.

Back when https://github.com/AtomLinter/linter-stylelint/i

[2017-08-26 13:27] evilebottnawi commented on #2833
@Arcanemagus thanks!

[2017-08-27 01:24] ntwb opened #2835 "Fix false positives for selector lists and shared-line comments in comment-empty-line-before"
A bug where multiple shared-line comments using the `comment-empty-line-before` rule returns false results.

via https://github.com/stylelint/stylelint/tree/master/lib/rules/comment-empty-line-before

`comment-empty-line-before`

[code]

[code]

`8.0.0`

n/a

No

No warnings to be flagged.

The following warnings were flagged:
[code]

[2017-08-27 16:39] BannerCoe commented on #2544
Thanks @jeddy3 and @evilebottnawi

[2017-08-29 01:14] Mottie commented on #2454
Has anyone successfully bundled Stylelint using rollup? I created a [stylelint-bundler repo](https://github.com/Mottie/stylelint-bundler) reporting my attempts, work-arounds and failure. Maybe someone with more experience with rollup can help? Paging @bfred-it 😉.

[2017-08-29 02:33] Mottie opened #2837 "No error on undefined variables"
Undefined variables should report an error. Enter the following into the online demo and it reports "No warnings"

[code]

When the browser evaluates these variables, it sets the color to `rgba(0, 0, 0, 0);` for the first entry, the other two fallback to red.

A new rule would be required.

See above

Using the [online demo](https://stylelint.io/demo/) default settings

`8.0.0`

Online demo

Nope

[2017-08-29 04:00] bfred-it commented on #2454
@Mottie I gave up on rollup for complex tasks. Try webpack or backpack https://github.com/jaredpalmer/backpack/

[2017-08-29 12:31] sinedied commented on #2779
@ntwb bump! Could you please update to the latest `postcss-reporter` version that fix the issue?

The warning can be reproduced with `npm@5`, and it breaks cordova builds 😞

[2017-08-30 07:07] ntwb commented on #2831
Thanks for creating this issue but we are closing it as issues need to follow our issue template, so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new) using the template.

[2017-08-30 07:07] #2831 closed

[2017-08-30 07:26] ntwb opened #2838 "Release 8.1.0"
@stylelint/core How do we feel about releasing `8.1.0` in a couple of days?

The full changelog: https://github.com/stylelint/stylelint/compare/8.0.0...master

There's currently 5 rules fixes, new autofixing for 2 rules, and a [peer dependency](https://github.com/stylelint/stylelint/issues/2779#issuecomment-325648915) fix.

It'd be good to get a thumbs up for everyone once they're tried `master` a

[2017-08-30 07:28] ntwb commented on #2779
@sinedied No need for a PR, `postcss-reporter` was updated to `5.0.0` in #2786

Per above, we'll look to releasing stylelint 8.1.0 that contains this change in the coming days

[2017-08-30 18:25] rebornix commented on #2580
@jeddy3 not sure if you can see this as this issue is already closed. I'm looking forward to similar feature to guard CSS usage in VSCode.

TSLint allows you to specify layers and restrict which components you can use in a specific folder/component, for example, we only allow references to CSS/Common/Browser related code in `**/vs/base/browser/**` by setting layer restriction https://github.com/Mi

[2017-08-30 21:48] hudochenkov commented on #2580
@rebornix I'm not sure I understood your question.

If I understood correctly you want to have stylelint config for a whole project, but for some folder you want specify some rules differently than for the rest of project.

Lets say you have your main config in `src/.stylelintrc.json`:

[code]

For all `*.css` files anywhere deep inside `src/vs/editor` you want enable new rule in addition to your

[2017-08-31 08:11] chaucerbao opened #2840 "Add ability for --fix to output results to STDOUT"
Just wanted to see what you thought about adding an option for `--fix` to output the results to STDOUT.  It would allow integration into an IDE.

[2017-08-31 09:18] jeddy3 commented on #2838
LGTM. I can roll out this release once #2834 is in.

[2017-08-31 09:30] jeddy3 commented on #2766
Thanks :)

I've created a token and added it as the `GH_TOKEN` environment variable on Travis to:

- `stylelint`
- `stylelint-demo`
- `stylelint-config-standard`
- `stylelint-config-standard`
- `eslint-config-stylelint`

Anything else to do?

[2017-08-31 10:03] jeddy3 commented on #2831
`no-unknown-animations`, like all of the built-in rules within stylelint, only understands standard CSS syntax e.g.

[code]

In your code snippet you are _defining_ the keyframe using SCSS constructs like variables and mixins. As such, the rule can not determine that the `modal-slide` animation exists.

Either use standard constructs and continue using the `no-unknown-animations` rule, or turn off

[2017-08-31 10:20] crisu83 commented on #2515
@ntwb @tirli I still get four Flow errors using **stylelint** ^8.0.0 and **flow-bin** 0.52.0:

[code]

[2017-08-31 22:34] rebornix commented on #2580
@hudochenkov thanks for the info, the config override is a good solution.

[2017-08-31 22:41] agordeev-zz opened #2841 "declaration-empty-line-before"
8.0.0
`declaration-empty-line-before`

[code]
[code]
[code]

The problem appeared in 8.0.0 (was 7.12.0). All errors are equal, there is a comment on the same line with selector.

[2017-08-31 22:52] hudochenkov commented on #2841
Thanks for creating this issue but we are closing it as issues need to follow our issue template, so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new) using the template.

[2017-08-31 22:52] #2841 closed

[2017-09-01 02:06] ntwb commented on #2840
Sounds like a great idea, looping @Arcanemagus in as the maintainer of [AtomLinter/linter-stylelint/](https://github.com/AtomLinter/linter-stylelint/) I'm sure he's thought about supporting fixable rules in Atom 😄

[2017-09-01 02:11] #2832 closed

[2017-09-01 02:19] ntwb commented on #2838
Done

[2017-09-01 03:35] ntwb commented on #2838
We should merge #2843 and the majority of #2842 before shipping 8.1.0

_The majority being all but the 1 change that causes an error in `lib/postcssPlugin.js`_

[2017-09-01 03:54] ntwb commented on #2766
- `stylelint` Changes required added previously ✅
- `stylelint-demo` Changes required added previously ✅
- `stylelint-config-recommended` https://github.com/stylelint/stylelint-config-recommended/pull/8
- `stylelint-config-standard` https://github.com/stylelint/stylelint-config-standard/pull/91
- `eslint-config-stylelint` https://github.com/stylelint/eslint-config-stylelint/pull/33

Thanks @jeddy3

[2017-09-01 04:17] ntwb commented on #2835
Here's a couple of failing tests that should pass:
[code]

[2017-09-01 04:57] ntwb commented on #2515
@crisu83 Those four erros are *not* for stylelint, 2 of each for `stylefmt` and `stylelint-order` in the `node_modules` folder, if you run `npm run flow` it will correctly ignore the `node_modules` folder 😄

[2017-09-01 08:24] crisu83 commented on #2515
AFAIK Flow errors are meant to be fixed instead of being ignored. :)

[2017-09-01 09:45] ntwb commented on #2515
The errors you see @crisu83 have nothing to do with stylelint as I said above.

[2017-09-01 09:48] hudochenkov commented on #2515
`stylelint-order` doesn't use flow at all, BTW.

[2017-09-01 09:49] ntwb commented on #2766
I would have expected the fresh PR #2844 to have worked per what has already been implemented here, sadly that's not the case 😞

All 4 jobs of the build fail with the same error:
[code]

Per the docs at https://github.com/greenkeeperio/greenkeeper-lockfile#testing-multiple-node-versions this should fail at best for only one job and not all 4 😞

Friday night here, I'm out for the night but will inv

[2017-09-01 10:26] crisu83 commented on #2515
@ntwb So this isn't a bug then in the function definition? Or are you in some kind of transition period?

Usage: https://github.com/stylelint/stylelint/blob/14163e0373b13c95bf7a5f2879ae4d392f4a3085/lib/utils/getUnitFromValueNode.js#L19

Definitions: https://github.com/stylelint/stylelint/blob/14163e0373b13c95bf7a5f2879ae4d392f4a3085/lib/utils/blurInterpolation.js#L4

[2017-09-01 11:56] hudochenkov commented on #2515
@crisu83 would you mind helping us to fix these errors, please? Currently we don't available maintainers, who know Flow.

[2017-09-02 01:54] ntwb commented on #2515
What @hudochenkov said, I've very little knowledge of Flow @crisu83 so if this is something stylelint should fix then we're more than happy to fix it, I personally just don't know how 😄

[2017-09-02 11:27] hudochenkov commented on #2766
@ntwb Flow is weird. It fails on current master https://travis-ci.org/stylelint/stylelint/builds/271133000

[2017-09-02 14:49] satazor commented on #2838
I don't want to be that kind of person that keeps annoying everyone else, but I really need the feature that was merged onhttps://github.com/stylelint/stylelint/pull/2834 to complete a task on my job. Could you please speed make this happen? ❤️

[2017-09-02 16:04] #2764 closed

[2017-09-02 16:09] jeddy3 commented on #2841
@agordeev-zz Should [be fixed](https://github.com/stylelint/stylelint/pull/2827) in the upcoming `8.1.0` release.

[2017-09-02 16:28] jeddy3 commented on #2840
Is this a dupe of https://github.com/stylelint/stylelint/issues/2710?

[2017-09-02 16:33] jeddy3 commented on #2837
@Mottie Thanks for the suggestion. Labeling as `plugin`. Feel free to [create](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md) `no-unknown-custom-properties` as a plugin). See https://github.com/stylelint/stylelint/issues/2220#issuecomment-284677340.

[2017-09-02 16:33] #2837 closed

[2017-09-02 16:36] jeddy3 commented on #2835
Will this be fixed by https://github.com/stylelint/stylelint/pull/2827?

Neither of the additional tests above contain _shared-line_ comments. So, I'm not sure those tests should pass.

[2017-09-03 19:15] agordeev-zz opened #2847 "declaration-empty-line-before doesn't ignores shared-line comments"
Now, declaration-empty-line-before  doesn't ignores shared-line comments if it's in a selector. Probably relates to #2237.

`declaration-empty-line-before`
except: ["after-declaration", "first-nested"]
ignore: ["after-comment']

[code]

e.g.

[code]

`8.0.0`

CLI

No.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2017-09-04 06:30] ybiquitous commented on #2812
@jeddy3 Can I write documentation?

Or should core committers write documentation about this?
(Because the documentation may be important on the `stylelint` community)

[2017-09-04 06:49] ntwb commented on #2812
@ybiquitous That would be fantastic if you could please 😄

[2017-09-04 07:01] ybiquitous commented on #2812
@ntwb Thanks a lot! Anyway I will try 😉

[2017-09-04 07:13] ntwb commented on #2838
@satazor We'll get to it as soon as we can, if you need that functionality now you can checkout `master` and use that until we release `8.1.0`

[2017-09-04 07:15] ntwb commented on #2766
@hudochenkov The Flow error is caused by npm 5.4.0, I've _pinned_ npm 5.3.0 for Travis CI for now, see #2849 for more details and links 😄

[2017-09-04 09:47] jeddy3 commented on #2838
@ntwb Shall I release now?

[2017-09-04 09:50] jeddy3 commented on #2847
@agordeev-zz Thanks for using the template. This should [be fixed](https://github.com/stylelint/stylelint/pull/2827) in the upcoming `8.1.0` release.

[2017-09-04 09:50] #2847 closed

[2017-09-04 13:26] ntwb commented on #2838
Yeah, go for it @jeddy3 👍

(I'm off for the night)

[2017-09-04 14:18] jeddy3 commented on #2838
🎉 Done! Thanks everyone who contributed.

@ntwb Thanks for pushing this release along and for dealing with the infrastructure and dependency troubles!

[2017-09-04 14:18] #2838 closed

[2017-09-05 03:35] gucong3000 opened #2853 "Fix false positives for CSS in HTML in *-empty-line-before"
`*-empty-line-before` not support for HTML

`rule-empty-line-before`, `at-rule-empty-line-before`

It is CSS in HTML.

[code]

[code]

`8.1.0`

[code]

no.

"No warnings to be flagged."

"The following errors were flagged:"
https://circleci.com/gh/gucong3000/webpack/16#artifacts/containers/0

[code]

[2017-09-05 11:34] jeddy3 opened #2856 "Release 8.1.1"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

[2017-09-05 11:53] #2856 closed

[2017-09-06 00:43] mishelen commented on #2796
Confirm that I have same issue (`$breadcrumbs-item-separator-item-rtl: '\\';`) with foundation:

[code]

[2017-09-06 01:43] Hypnosphi opened #2857 "Add support for evaluation contexts pseudo-classes in selector-max-specificity"
False positive when using CSS modules

`selector-max-specificity`

[code]

[code]

`8.0.0`

CLI with `stylelint --ignore-path .eslintignore '**/*.css'`

Yes, it's related to CSS modules

No warnings to be flagged.

The following warnings were flagged:

[code]

Ignore `:local` and `:global`, as it's done with `:not` and `:matches`

[2017-09-06 04:15] ntwb commented on #2857
Thanks for the detailed issue and using our issue template @Hypnosphi 😄

I've marked this up as a bug and I'll submit a PR for this momentarily 🎉

[2017-09-06 10:04] TrejGun opened #2859 "path with mask works inconsistent"
i'm trying to run same command from npm scripts
[code]
and directly from command line
[code]

it works perfect from command line but skips all files in subfolders when invoked from npm

8.0.0

CLI, config is in .stylelintrc

no

all files from all subfolder are checked in both cases

no warnings or errors

[2017-09-06 10:15] evilebottnawi commented on #2859
@TrejGun `stylelint "client/**/*.less" --syntax less` (use quotes around glob), thanks!

[2017-09-06 10:15] #2859 closed

[2017-09-06 10:42] TrejGun commented on #2859
thanks

[2017-09-06 16:54] modosc commented on #2829
fwiw here's a list of the rules that `stylefmt` currently handles which currently can't automatically be fixed:

- [ ] [at-rule-semicolon-newline-after](https://github.com/stylelint/stylelint/tree/master/lib/rules/at-rule-semicolon-newline-after)
- [ ] [block-closing-brace-newline-after](https://github.com/stylelint/stylelint/tree/master/lib/rules/block-closing-brace-newline-after)
- [ ]  [block-c

[2017-09-06 19:05] klimashkin opened #2860 "Add ignore values in declaration-property-unit-blacklist"
**Feature request**

In our project we follow [Fluid Typography](https://css-tricks.com/snippets/css/fluid-typography/) pattern, thus we don't use `px` in font-size, margins, padding etc. Instead we have bunch of variables that contain `rem` unit for specific viewport width.

For instance,
[code]
And use this variables, so font/margin/padding grow/shrink when window size changes.

`declaration-pro

[2017-09-06 20:59] klimashkin opened #2862 "Add ignoreCustomProperties: [] to value-keyword-case"
**Feature request**

In most cases `value-keyword-case` should be `'lower'` in our project, but since we use css modules and camelCase class names, we compose that class names:
[code]

Also, we would like to keep some font family names in natural capitalized notation:
[code]

Rule could look like:
[code]

[2017-09-07 05:21] aviram83 opened #2863 "Any exit code generate a npm error message using npm run"
setting script line in package.json and then run it will generate error list and in the end it will also generate a npm error

none

[code]

[code]

8.1.1

inside package.json
[code]

no

no npm error

[code]

[2017-09-07 05:30] gucong3000 commented on #2863
@aviram83 It is not a bug. See:
https://stylelint.io/user-guide/cli/#exit-codes

[2017-09-07 05:33] gucong3000 commented on #2863
if you actually exit code 0, you can config inside package.json
{
  "scripts": {
    "stylelint": "stylelint src/**/*.less || echo \"lint faild for some file(s).\""
  }
}

[2017-09-07 05:36] aviram83 commented on #2863
Your answer is great solution, maybe it's should be documented

[2017-09-07 05:37] gucong3000 commented on #2863
Already in the document, the link I'm giving you is.

[2017-09-07 05:41] aviram83 commented on #2863
your solution I mean, I have saw the error list before but didn't how to get rid of the npm error  message

[2017-09-07 06:10] gucong3000 commented on #2863
I understand now.

[2017-09-07 08:15] evilebottnawi commented on #2862
@stylelint/core i think we should **always** ignore `font-family` and `font-family` in ``font` properties

[2017-09-07 22:04] billybonks commented on #2833
Pre 8 when I called lint it would ignore my file if the path was matched, now it does not. this issue seems to be related to my problem. I have negotiated the issue temporarily by ignoring it manually.

https://github.com/billybonks/broccoli-stylelint/pull/34

it seems a potential fix would be to add `ignore.ignores(codeFileName)` before calculating the absolute path.

[2017-09-08 13:55] ConduciveMammal opened #2865 "Can I add an exception for Shopify liquid?"
I just installed your extension and found that it, quite naturally, shows an error message when Shopify liquid is used within styles. Is there a way to disable liquid errors?

`$color-primary: {{ settings.color_primary }};`

[2017-09-08 15:28] gucong3000 commented on #2865
Your description isn't detailed enough, hard to read what you have to say. Use template please.

[2017-09-08 19:15] jeddy3 opened #2866 "Growing the stylelint team"
I think we should try to grow the stylelint team. Over the past two years, the number of stylelint users has grown significantly. The number of active stylelint team members has, however, remained pretty constant. Also, for most of the team, myself included, we don't have as much time as we used to to give to the project. There simply isn't enough time amongst us to review all the PRs and triage a

[2017-09-08 19:16] modosc commented on #2866
i'd be happy to help

[2017-09-08 20:45] hudochenkov commented on #2866
It's a good idea! Candidates are also good.

We could ask @Arcanemagus also. He's helping us with discussions on issues, and he's [AtomLinter/linter-stylelint](https://github.com/AtomLinter/linter-stylelint/) maintainer.

When I started as a stylelint maintainer you gave me these instructions:

* https://github.com/stylelint/stylelint/issues/1663#issuecomment-274260021
* https://github.com/styleli

[2017-09-08 23:44] Arcanemagus commented on #2866
Thanks for the offer @hudochenkov, but I barely have time to try to keep up with all the repos in the AtomLinter org 😉. (Nevermind the fact that I know virtually nothing about CSS / PostCSS).

Feel free to tag me in issues or hit me up on [Atom's Slack](https://discuss.atom.io/t/join-us-on-slack/16638) if there's something you would like input on from the perspective of an API consumer 😉.

[2017-09-09 00:15] gucong3000 commented on #2866
stylelint is cool, I like it. I'd be happy to join.

[2017-09-09 02:02] CAYdenberg commented on #2866
I'd like to join as well, if the team agrees that all three of us are needed/wanted. No pressure either way :smiley:

My one question would be that if stylelint is growing to now 12(?) people with write access is there a need to discuss if specific people should be in charge of watching issues, providing code reviews etc..

[2017-09-09 03:12] ntwb commented on #2865
Thanks for creating this issue @ConduciveMammal but as @gucong3000 has noted we are closing it as issues need to follow our issue template, so that we can clearly understand your particular circumstances.

Please **_help us_** to **_help you_** by [recreating the issue](https://github.com/stylelint/stylelint/issues/new) using the template.

[2017-09-09 03:12] #2865 closed

[2017-09-09 16:11] jeddy3 commented on #2857
@Hypnosphi This can be resolved by adding a new `ignorePsuedoClasses: []` secondary option to the rule. Please consider contributing this option if you have time. There's [a section in the Developer Guide](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#adding-an-option-to-an-existing-rule) on how to do it. There's also a similar option in `selector-pseudo-class-no

[2017-09-09 21:21] Hypnosphi commented on #2857
Why any selector containing `:not` or `:matches` is completely ignored? This leads to false negatives when you have a selector like `.a.b.c.d.e.f:not(.g)`.

BTW, looks like `specificity` knows how to handle `:not`: https://github.com/keeganstreet/specificity/blob/master/specificity.js#L105-L111
At the same time, `:matches` isn't supported there (they only support CSS Selectors Level 3)

[2017-09-09 22:23] jeddy3 commented on #2857
Yes, you're right. In, https://github.com/stylelint/stylelint/issues/1504 it looks like we underestimated specificity's support for `:not()`. We should have only ignored `:not()` [when it contains anything more complex than a _simple selector_](https://www.w3.org/TR/css3-selectors/#negation). I'll create a new issue for that so this issue can stay focused on the new option.

Yes, until specificity

[2017-09-09 22:36] jeddy3 opened #2870 "Fix false negatives for level 3 not() psuedo-classes in selector-max-specificity"
A false negatives bug for [level 3 `:not()` psuedo-classes](https://www.w3.org/TR/css3-selectors/#negation). The selector [is ignored outright](https://github.com/stylelint/stylelint/blob/master/lib/rules/selector-max-specificity/index.js#L46), when it should only be ignored if it's a level 4 `:not()` selector i.e. contains anything other than a _simple selector_.

Ref: https://github.com/stylelin

[2017-09-09 22:40] jeddy3 commented on #2863
@gucong3000 Thanks for helping with this.

The solution is applicable to all npm run-scripts, rather than stylelint itself and so I don't think we need to document it here. If it comes up again though we can consider adding it to the FAQ.

[2017-09-09 22:40] #2863 closed

[2017-09-09 22:56] jeddy3 commented on #2862
Yes, that's the appropriate solution here. @klimashkin Please consider contributing this option if you have time. There's [a section in the Developer Guide](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#adding-an-option-to-an-existing-rule) on how to get started.

It would be `ignoreProperties: []`, rathe than `ignoreProps`, for consistency with other rules e.g.

[2017-09-09 23:00] jeddy3 commented on #2860
@klimashkin Thanks for the request and suggestion. The plugin system was designed for such specific use cases. [You could build your own plugin](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md) for this functionality (by converting the existing `declaration-property-unit-blacklist` rule to a plugin and building on it).

[2017-09-09 23:00] #2860 closed

[2017-09-09 23:04] #2840 closed

[2017-09-09 23:07] jeddy3 commented on #2840
Closing for now as I think its a dupe. @chaucerbao autofix is a new feature that needs contribution to improve. Please consider helping out with https://github.com/stylelint/stylelint/issues/2710 and bringing autofix to non-files.

[2017-09-09 23:13] jeddy3 commented on #2835
I can replicate this with `8.1.1`. Very strange bug.

The following:

[code]

Will produce a violation:

[code]

Whereas the following two produce no violations:

[code]

[code]

[2017-09-09 23:15] jeddy3 commented on #2833
@billybonks Thanks for digging deeper! If you find time, would you be able to contribute such a fix?

[2017-09-09 23:25] Hypnosphi commented on #2857
In fact, `:local` and `:global` selectors should work exactly like `:not`, i.e. they shouldn't count when calculating specificity, but their content should. So looks like we have to do some parsing here

[2017-09-09 23:34] jeddy3 commented on #2829
@modosc Thanks again for offering (and starting) to help out! And thanks for compiling the list of rules that need autofix for stylelint to achieve parity with stylefmt.

I'm helping triage issues in the backlog (after holidays and what not), so I'm going to be brief here and just say let's work from this issue for now, using your list above (which I've bumped into your top comment so we can see t

[2017-09-09 23:35] klimashkin commented on #2862
@jeddy3 You are right, if I put font names into `font`/`font-family` properties it is fine, by I use custom property (sorry didn't point it out), and in that case I get an error

[code]

[2017-09-09 23:44] jeddy3 commented on #2826
@mahboob-awan Thanks for the report and for using the template. This _could_ be an issue with either the parser or stringifier of [`postcss-less`](https://github.com/shellscape/postcss-less). Please consider digging deeper and contributing a fix if you'd like to see this issue closed, as the stylelint team is currently focused on standard CSS syntax.

[2017-09-09 23:58] jeddy3 commented on #2862
Yep.

It looks like another option might be needed: `ignoreCustomProperties: []`.  Can you please create a  new issue for that, so that this issue can just be about the `ignoreProperties: []` option?

[2017-09-10 00:05] jeddy3 commented on #2862
Scratch that... I just spotted that this issue is a dupe of https://github.com/stylelint/stylelint/issues/2424.

I'll simply convert this issue to `ignoreCustomProperties: []` to save time.

@klimashkin Feel free to contribute both options, if you like.

[2017-09-10 07:35] jeddy3 commented on #2857
True.

I think this is worth pursuing (and in the rule itself, rather than as a plugin, as it should bring Level 4 `not()` support too).

Is this something you're willing to explore further and contribute?

[2017-09-10 07:43] jeddy3 commented on #2870
No longer relevant due to approach in #2857

[2017-09-10 07:43] #2870 closed