[2016-07-25 09:35] jeddy3 commented on #1696
@cyril-lamotte Thanks for producing the test repo!

Umm, no dice I'm afraid though. I was able to run `gulp lint-css` *without errors*.

I tweaked `style.scss` to:

[code]

And correctly got:

[code]

So, I know the tools in your test repo are working correctly.

I tried on node `v6.3.0` and `v5.9.0`.

`npm ls --depth=1` gives me:

[code]

Can you see anything above that's different from your mach

[2016-07-25 09:55] evilebottnawi opened #1703 "Integrate `https://greenkeeper.io`"
/cc @stylelint/core
It allows you to conveniently update the dependencies, and not to forget about them.

[2016-07-25 10:12] jeddy3 commented on #1703
Sgtm.

[2016-07-25 10:37] TrySound commented on #1703
It reacts on every patch and minor which is sucks https://github.com/TrySound/case/pulls

[2016-07-25 10:45] evilebottnawi commented on #1703
@TrySound and options to change the behavior is not, as I understand it?

[2016-07-25 10:48] TrySound commented on #1703
Wasn't. And I don't see any mention in docs now.

[2016-07-25 11:48] ntwb commented on #1703
@TrySound The reason Greenkeeper keeps on opening pull requests is because there is an update to a package not covered by semantic versioning in your `package.json`

Example [in your](https://github.com/TrySound/case/blob/master/package.json#L47) `package.json` you have `"stylelint": "^5.0.1",`, Greenkeeper will create a new pull request for each new release of stylelint. You should close each of

[2016-07-25 11:54] ntwb commented on #1703
I use Greenkeeper on [one of my repo's](https://github.com/ntwb/eslint-plugin-wordpress/pulls?q=is%3Apr+is%3Aclosed+label%3Agreenkeeper) which I've testing for a couple of months, no problem adding here from my perspective, does its job quite well, so sgtm 👍

I just tried to enable Greenkeeper but repo admin access is required.

Below are the instructions on activating Greenkeeper, they are pretty

[2016-07-25 14:10] jeddy3 commented on #1703
Sounds solid enough for me.

@davidtheclark Any objections if I enable this?

[2016-07-25 14:13] davidtheclark commented on #1703
Sure let's give it a try.

[2016-07-25 14:31] jeddy3 commented on #1703
Done

[2016-07-25 14:31] #1703 closed

[2016-07-25 14:42] cyril-lamotte commented on #1696
I'm on windows 7, with node 5.5.0/, these are the only differences. I'm going to update node.

[2016-07-25 14:43] sendilkumarn commented on #1402
great work guys 👍

[2016-07-25 14:52] cyril-lamotte commented on #1696
After updating, deleting node_module & doing the cache clean the problem is still here !
I do not understand but I'll try with an another environnement at home.

[2016-07-25 15:02] evilebottnawi commented on #1696
@cyril-lamotte you can testing with https://github.com/coreybutler/nvm-windows, it allow fast change node and npm version, also see where modules loaded.

[2016-07-25 15:20] jeddy3 commented on #1696
Good plan. Please report back and we'll go from there.

[2016-07-25 15:27] #1680 closed

[2016-07-25 15:50] aaronbushnell opened #1705 "Add ignoreAtRules: [] option to max-nesting-depth"
I'd like to ignore nested media queries when using `max-nesting-depth`.

Given:
[code]

I expect:
[code]

What I got:
[code]

- **Stylelint version:** 7.0.3
- **Running via:** PostCSS + Atom plugin
- **Related to non-standard syntax?**: Yes, nesting.

[2016-07-25 15:57] jeddy3 commented on #1705
@stylelint/core Any objections to adding an `ignoreAtRules: []` secondary option to this rule? If not, I can point @aaronbushnell in the direction of how to add it.

[2016-07-25 16:38] hudochenkov commented on #1680
Thank you, @sendilkumarn!

[2016-07-25 16:42] sendilkumarn commented on #1615
@ntwb  how about ignoring the comment length if it is in between ?

[2016-07-25 17:07] Arcanemagus commented on #1703
Since it was never explicitly stated here Greenkeeper checks against _every_ new version of your dependencies, it will then open a PR updating to that version if _any_ of the following conditions are met:

* One of the CI builds fails (the update broke it, or something else changed that broke it)
* The update is outside the currently allowed range
* No CI is configured (@TrySound this is where you

[2016-07-25 17:57] Garbee opened #1706 "Add ignoreTypes: [] option to selector-no-type"
This is a feature request for `selector-no-type` to be allowed a whitelist of types to be used.

`selector-no-type`

e.g.

[code]

e.g.

[code]

`7.0.3`

Automated through webpack.

Not initially, but we are using Scss so our source looks more like `fieldset:disabled &` over having the selector directly behind the type.

I expect a configuration option to allow us to specifically allow `fieldset`

[2016-07-25 18:03] evilebottnawi commented on #1706
sgtm add options `ignoreTypes`

[2016-07-25 18:05] jeddy3 commented on #1706
@stylelint/core Any objections to, as @evilebottnawi suggests, adding an `ignoreTypes: []` secondary option?

[2016-07-25 20:38] Garbee commented on #1706
It will be a recurring thing with the library I'm working on. As we are building multiple components and a few form-related pieces (checkbox, radio, button, etc.) will all need to have this in them. It would be far better if we have some global way of saying `fieldset` is allowed so we don't need to remember to do an inline comment each time.

[2016-07-25 20:50] davidtheclark commented on #1706
`ignoreTypes: []` seems fine to me.

[2016-07-25 21:39] jeddy3 commented on #1706
Thanks for the explanation. It looks like everyone is fine with a new secondary option. So, I'll label this up as "help wanted".

@Garbee Would you like to contribute this option? We recently added an `ignoreTypes: []` secondary option to [`selector-type-no-unknown`](https://github.com/stylelint/stylelint/tree/master/src/rules/selector-type-no-unknown). You'll find everything you need there: [code

[2016-07-25 21:42] Garbee commented on #1706
Sure, I'll take a look at making a PR tomorrow for this.

[2016-07-25 22:21] ntwb commented on #1703
Here's an example from overnight for NYC 7.1.0:

![screen shot 2016-07-26 at 8 17 37 am](https://cloud.githubusercontent.com/assets/1016458/17119493/9c27fb6a-5309-11e6-842f-da897932935c.png)

So even though the `7.1.0` is covered by the semantic version `"nyc": "^7.0.0",` a new branch is created for the CI tests to run against, if all returns "green OK" then the branch is deleted, if any CI job fa

[2016-07-25 22:29] ntwb commented on #1703
Ah, that same NYC `7.1.0` release did the exact same thing for stylelint:
• https://travis-ci.org/stylelint/stylelint/builds/147230247
• https://coveralls.io/github/stylelint/stylelint?branch=greenkeeper-nyc-7.1.0

As NYC `7.1.0` is covered by stylelint's semantic version `"nyc": "^7.0.0"` no action is requiried.

The next merge to `master` will update `master` to use NYC 7.1.0 as part of `npm upd

[2016-07-25 22:31] ntwb commented on #1705
SGTM

[2016-07-26 01:29] #1628 closed

[2016-07-26 01:29] #1700 closed

[2016-07-26 01:31] #1573 closed

[2016-07-26 01:33] davidtheclark commented on #1699
Both the PRs @evilebottnawi mentioned are now merged. @jeddy3 you've really been hammering away!

As far as I'm concerned, @jeddy3 you can release patch/minor versions whenever you feel like it as we merge PRs, as long as tests are passing.

[2016-07-26 07:27] jeddy3 commented on #1705
It looks like no one is raising any objections to a new secondary option. So, I'll label this up as "help wanted".

@aaronbushnell Would you like to contribute this option? We recently added an `ignoreAtRules: []` secondary option to [`at-rule-no-unknown`](https://github.com/stylelint/stylelint/blob/master/src/rules/at-rule-no-unknown). You'll find ideas for everything you need there: [code](https

[2016-07-26 08:53] Nirazul commented on #1705
That's a feature I could definitely use!

[2016-07-26 09:07] VPenkov opened #1708 "In some Windows environments the indentation rule wrongly warns for SCSS maps"
I'm experiencing a bug where the Indentation plugin reports incorrect expectations.

The bug only seems to affect Windows. It was observed on multiple Windows 10 environments by myself, and sometimes on Windows 7 by @cyril-lamotte.

Observed on Node v5.5.0, v5.10.1, and v6.3.1 by both of us.

**Which rule, if any, is this issue related to?**
Indentation

**What CSS is needed to reproduce this issu

[2016-07-26 09:09] evilebottnawi commented on #1708
@VPenkov Thanks for feedback

[2016-07-26 09:32] evilebottnawi commented on #1708
@VPenkov can't reproduce on window 10, can you create repo with reproduced error and information about node, npm, os and etc

[2016-07-26 11:00] s10wen opened #1710 "no-browser-hacks showing $ and !default as errors"
Regarding:
https://github.com/stylelint/stylelint/blob/master/src/rules/no-browser-hacks/README.md

I'm getting errors for `$colour-alpha` and `!default` which is valid Sass code.

Appreciate this is a Sass specific question, but wondering if there's a way to whitelist `$` and `!default` for this rule please?

[2016-07-26 11:03] VPenkov commented on #1708
Thanks for the quick response.
Here's a demo repo: https://github.com/VPenkov/stylelint-demo

And here's a screenshot of my error:
![image](https://cloud.githubusercontent.com/assets/1693651/17135663/8e2e0470-5339-11e6-89fc-38aa54c878e5.png)

Here's my system information:
![image](https://cloud.githubusercontent.com/assets/1693651/17135698/b8107fc0-5339-11e6-8f89-abe1067a0b4d.png)

[2016-07-26 11:09] evilebottnawi commented on #1708
@VPenkov thanks, in the near future I will try to reproduce

[2016-07-26 11:10] VPenkov commented on #1708
Thanks. Let me know if I can assist with anything else.

The issue was reproduced on a second machine with similar specs (and again Windows 10 x64) but we were unable to reproduce on Ubuntu and Windows 7.

[2016-07-26 11:12] evilebottnawi commented on #1710
@s10wen

This rule now works only with standard css, not working with `scss`, `less` and etc, maybe in future major release if I have time, maybe I'll think about this decision issue.

[2016-07-26 11:14] s10wen commented on #1710
Moved over to: https://github.com/kristerkari/stylelint-scss/issues/60

[2016-07-26 11:14] #1710 closed

[2016-07-26 11:43] evilebottnawi commented on #1708
@VPenkov only from repo? not npm?

[2016-07-26 11:58] jeddy3 commented on #1708
@VPenkov Thanks for producing the test repo.

They're the worst kind of bugs.

@VPenkov Can you do us a favour and try the test repo in https://github.com/stylelint/stylelint/issues/1696#issuecomment-234887104? Can you try it on the Windows 10 machine where you were about to reproduce *your* issue and on the third Windows 10 machine where you weren't. Knowing if these two issues are related will r

[2016-07-26 12:11] ViLPy opened #1712 "Incorrect behavior if font-family is also a color name"
Incorrect behavior if `font-family` is also a color name and `font-family-name-quotes` enforces using no quotes for font-family. With quoted font-family name (`"font-family-name-quotes": "always-unless-keyword"`) I have no exceptions

`color-named` with certain cases of `font-family-name-quotes`

[code]

[code]

`7.0.3`

PostCSS plugin

no

no color name checks for font-family

`color-named` rule

[2016-07-26 13:36] evilebottnawi opened #1713 "value-list-max-empty-lines"
Limit the number of adjacent empty lines within value list.
Example:
With `0` valid:
[code]
Invalid:
[code]

[2016-07-26 13:44] evilebottnawi opened #1714 "New rule `value-list-no-single-line`"
Disable single line value list with multiple value list.
Valid
[code]

[code]

With one value list we ignore:
[code]

[code]
Invalid:

[code]

[2016-07-26 14:54] davidtheclark opened #1715 "Synthesize optionsHaveIgnored utils"
I don't think we should be mass producing `optionHaveIgnored*` util functions the way we are. They are much too simple to justify the additional code and tests. Instead, how about a single function, `optionsHave`, that just does this: `optionsHave('ignore', 'walrus')`, `optionsHave('except', 'kendo')`, `optionsHave('ignoreProperties', 'color')`?

[2016-07-26 14:57] davidtheclark opened #1716 "Create `hasInterpolation` util"
Right now this line is being repeated throughout the `isStandardSyntax*` utils: https://github.com/stylelint/stylelint/blob/master/src/utils/isStandardSyntaxSelector.js#L10.

The repetition indicates that that should be taken out into its own util that gets re-used by the others. Additionally, it might be useful on its own. We pretty much always want to ignore interpolated strings, after all.

Ope

[2016-07-26 16:20] sendilkumarn commented on #1716
how about `isInterpolation` ?

[2016-07-26 17:01] jeddy3 commented on #1713
SGTM.

[2016-07-26 17:03] jeddy3 commented on #1712
@ViLPy Thanks for writing up a detailed report.

We can ignore `font` and `font-family` declarations within `color-named` [just after here](https://github.com/stylelint/stylelint/blob/master/src/rules/color-named/index.js#L39).

[2016-07-26 17:06] jeddy3 commented on #1714
Isn't this already achievable using the `value-list-comma-newline-after` rule?

[2016-07-26 17:18] cyril-lamotte commented on #1696
Hi,

I confirm that it's working on an other environment (macOS X).
So maybe it's windows...

[2016-07-26 17:34] evilebottnawi commented on #1714
@jeddy3 i use
[code]

[code]

And disable:
[code]

[code]

If i set `declaration-colon-newline-after` - `always`, `box-shadow: inset 0 2px 0 #dcffa6;` (with one value list) throw errors, if i set `value-list-comma-newline-after` - `always` both:
[code]

and

[code]
was valid, but i don't want that first example is valid, only two example valid.

[2016-07-26 22:01] davidtheclark commented on #1714
I don't understand. If you change your config to:

[code]

... that doesn't meet your expectation?

[code]
box-shadow: inset 0 2px 0 #dcffa6, 0 2px 5px #000;
[code]

[2016-07-27 04:27] VPenkov commented on #1708
I was able to reproduce the bug on my personal PC as well (again Win10 x64). So 3 bugs, 1 no bug.
@evilebottnawi I was referring to the repo I've created. Otherwise we use NPM of course :)

@jeddy3 you might be onto something.
![image](https://cloud.githubusercontent.com/assets/1693651/17163833/811de0b0-53cb-11e6-91e7-3540d7600dfc.png)

[2016-07-27 04:49] VPenkov opened #1719 "New rule: `no-missing-comment`"
Can we get a rule where there *has* to be a comment at the beginning in each file?

Valid result:
[code]

Invalid result:
[code]

[2016-07-27 04:50] VPenkov opened #1720 "New rule: `comment-pattern`"
Can we get a regex pattern rule for comments? That way we can enforce doc blocks for styleguides.

[2016-07-27 07:22] alan-agius4 opened #1721 "colon-space-after"
Would be nice to have linting on SASS variables as well
example code:

`$navbar-link-text-color:#f0f !default;
`

Such as: "declaration-colon-space-after": "always-single-line", as at the moment these are not being linted.

Not sure if this is a bug or intended to be liked this.

[2016-07-27 07:45] #1706 closed

[2016-07-27 07:53] jeddy3 commented on #1708
@VPenkov Thanks for testing the other repo! It's good to know the issues are related.

I think the next step is to update the node version on your personal PC to `6` and try again.

Not to worry, I think the ruling out the node version is the next priority.

[2016-07-27 07:56] jeddy3 commented on #1696
Consolidating this discussion into https://github.com/stylelint/stylelint/issues/1708 as it appears to be the same issue.

@cyril-lamotte Help resolving this problem in that issue would be greatly appreciated. Our next step is to rule out the node version being a factor. Can you update your version of node to `6` and report back in the other issue please?

[2016-07-27 07:56] #1696 closed

[2016-07-27 07:58] jeddy3 commented on #1716
`hasInterpolation`? We've [used `has`](https://github.com/stylelint/stylelint/blob/master/src/utils/index.js#L16-L18) in similar contexts before.

[2016-07-27 08:04] jeddy3 commented on #1719
I think this is a [great](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md#what-is-the-difference-between-a-plugin-and-a-rule) [candidate](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#let-everyone-know) for a plugin as, I assume, [it's tied](https://github.com/stylelint/stylelint/issues/1720) into a methodology of creating styleguides. Y

[2016-07-27 08:08] evilebottnawi commented on #1719
@jeddy3 yep, plugin

[2016-07-27 08:09] ntwb opened #1722 "Add media-feature-name-*list rules"
- [ ] `media-feature-name-blacklist`
- [ ] `media-feature-name-whitelist`

This proposal comes via a [Stack Overflow support request](http://stackoverflow.com/questions/38572426/how-to-use-stylelint-to-prevent-use-of-max-width-in-media-queries) that I found no other way to solve.

Two new rules `media-feature-blacklist` & `media-feature-whitelist`

Specify a blacklist/whitelist of disallowed/allow

[2016-07-27 08:10] evilebottnawi commented on #1722
sgtm

[2016-07-27 08:11] evilebottnawi commented on #1720
@VPenkov can you give example? Be better format issue as template

[2016-07-27 08:11] jeddy3 commented on #1720
Can we get some examples of how this would work? I'm curious how'd you'd differentiate between doc blocks and, say, shared end of line single line comments e.g.

[code]

Perhaps calling this `comment-multi-line-pattern` would help?

Once we know a few more details we can work out whether this should be a plugin or a rule.

[2016-07-27 08:12] evilebottnawi commented on #1714
@davidtheclark oh sorry, it was late and I was tired :disappointed:

[2016-07-27 08:12] #1714 closed

[2016-07-27 08:12] cyril-lamotte commented on #1708
I updated to v6.3.1 the other day, it didn't solve the problem.
Note : I'm on "Windows 7".

[2016-07-27 08:14] evilebottnawi commented on #1708
@cyril-lamotte now i try reproduce, do not worry we will eliminate the problem :smile:

[2016-07-27 08:16] jeddy3 commented on #1721
It's intended. Non-standard constructs and syntax are ignored in core rules. They can then be targeted in plugins.

Rather serendipitously, the `stylelint-scss` added these exact rules to their plugin pack [two days ago](https://github.com/kristerkari/stylelint-scss/releases/tag/1.3.0).

In the future, please use the issue template. We deal with quite a few new issue every day and having a consist

[2016-07-27 08:16] #1721 closed

[2016-07-27 08:17] alan-agius4 commented on #1721
thanks

[2016-07-27 08:17] jeddy3 commented on #1722
SGTM. Writing this proposal up was on my list of things todo this morning :)

[2016-07-27 08:20] ntwb commented on #1722
Related:  #1711 introduces `mediaFeatureNames` and `deprecatedMediaFeatureNames` keyword sets

[2016-07-27 08:21] VPenkov commented on #1720
I'm pretty much unable to provide a clear template and wanted to get a discussion out of my suggestion.

Many of our files begin with ``/*doc`` which gets picked up by Hologram. Here's a sample:
[code]

I'm also not the best one out there with regular expressions which is why I didn't provide a concrete rule example. I suppose having ``^[/* ]*doc`` as a rule would be helpful in those cases.

Somet

[2016-07-27 08:24] jeddy3 commented on #1722
- Names:
  - `media-feature-name-blacklist`
  - `media-feature-name-whitelist`
- Primary options: `["string", "/regex/"]`
- Secondary options: none
- Messages: Unexpected media feature name "${name}"`
- Section: "Media feature"

[2016-07-27 08:29] ntwb commented on #1713
Nope, sounds good 👍

[2016-07-27 08:31] jeddy3 commented on #1722
@aaronbushnell Would you consider adding these rules?

I recently created the equivalent rules for pseudo classes, as such there are solid PR blueprints for each rule in https://github.com/stylelint/stylelint/pull/1695 and https://github.com/stylelint/stylelint/pull/1667. Instead of using the selector parser, like I did, you'll just need to swap it out for the media parser. There's [an example](ht

[2016-07-27 08:33] VPenkov commented on #1708
Since @cyril-lamotte's issue got closed, I've updated the title and the first post to do a better job to provide details for the issue. I'll update again and write another comment when I test with a newer Node version.

[2016-07-27 08:34] ntwb commented on #1716
Nice, @sendilkumarn as you've done it already except the name change marking this `status: wip`

[2016-07-27 08:44] ntwb commented on #1719
Agreed, a plugin I think is the best idea here.

----

Related, but not I'm not sure this is 100% relevent to @VPenkov issues:

There used to be a thing called [CSSDoc (Archive.org)](http://web.archive.org/web/20130701121035/http://cssdoc.net/), the domain is still registered but no content exists, this [article](http://www.devlounge.net/code/getting-started-with-cssdoc-commenting) however still e

[2016-07-27 08:47] VPenkov commented on #1708
Since @cyril-lamotte's issue got closed, I've updated the title and the first post to do a better job at providing details for the issue. I can confirm the issue with Node 6.3.1.

[2016-07-27 09:10] sendilkumarn commented on #1716
Thanks @ntwb

[2016-07-27 09:29] evilebottnawi commented on #1722
@ntwb good idea, use `media-feature-blacklist` to disable use `deprecated` `media feature name`

[2016-07-27 09:59] jeddy3 commented on #1708
Thank you for that.

As we've ruled out this being related to a:

- particular node version.
- particular windows version.

Does anyone have any ideas what the next step should be?

[2016-07-27 10:02] evilebottnawi commented on #1708
@jeddy3 can we test on `appveyor` difference window version?

[2016-07-27 10:12] evilebottnawi commented on #1708
I am working on found problem

[2016-07-27 10:13] jeddy3 commented on #1720
The existing `*-pattern` rules target *things* that only have one use e.g. an *class selector*, an *id selector*, a *custom property* etc. As comments can have multiple uses e.g. docs blocks for styleguides, shared lined comments for author hints, `stylelint-disable` commands etc. The usefulness of a generic `comment-pattern` rule is questionable.

However, I can totally see the usefulness of a fo

[2016-07-27 10:13] #1720 closed

[2016-07-27 10:13] #1719 closed

[2016-07-27 10:23] jeddy3 commented on #1708
I'm not sure. @ntwb Might know as he's the resident CI expert.

[2016-07-27 10:57] jeddy3 commented on #1715
I agree that they can be synthesised. I experimented with this when working on https://github.com/stylelint/stylelint/pull/1697, but it wasn't obvious what the best solution was.

In https://github.com/stylelint/stylelint/pull/1711#discussion_r72264874 is the suggestion of testing the string, rather than the node. I think the origins of the first `ignores*` rule was [`block-closing-brace-newline-a

[2016-07-27 11:29] ntwb commented on #1708
No, everything is `Windows Server 2012 R2` either x64 or x86, lots of Windows based SDK's but a single platform.

[2016-07-27 11:34] evilebottnawi commented on #1708
@ntwb bad, no CI services for testing on difference window platform?

[2016-07-27 11:42] ntwb commented on #1708
I doubt it is a matter on different platforms, I'm running some tests now here myself.

My Windows Server experience of just over 20 years should be able to help with this issue 😏

[2016-07-27 12:18] ntwb commented on #1708
Testing with @VPenkov repo on Windows 10 x64 NodeJS v5.10.1 NPM 3.8.6

Adding `test.css` and testing the config `"indentation": "tab"` works as expected:
• If the indent is 4 spaces, the warning `Expected indentation of 1 tab (indentation)` is displayed
• If the indent is 1 tab no warning is displayed

Adding `test.scss` and testing the config `"indentation": "tab"` works as expected:
• If the ind

[2016-07-27 12:35] ntwb commented on #1708
Running `npm test` on a full stylelint checkout now...

• NodeJS v5.10.1 NPM 3.8.6: All tests pass: `# pass  22563`
• NodeJS v6.3.1 NPM v3.10.6: All tests pass: `# pass  22563`
• `npm cache clean`, `npm install`, `npm test`: All tests pass: `# pass  22563`

-----

@VPenkov @cyril-lamotte Can you both please delete your `node_modules` folder, then run `npm cache clean`, `npm install` and try your t

[2016-07-27 12:55] ntwb commented on #1708
Confirming that rule config: `"indentation": 4`

Using this CSS: (Indented 4 spaces)
[code]
Results in: `stylelint: F:\tmp\stylelint1708\stylelint-demo\scss\_b.font.bse_icons.scss:2:5: Expected indentation of 0 spaces (indentation)` which is incorrect

This appears to be a SCSS syntax issue, #1726 adds the first SCSS syntax test thus far for the `indentation` rule, I'm quite sure we should add som

[2016-07-27 12:58] cyril-lamotte commented on #1708
npm test doesn't seem to work, I don't know how tests work :

[code]

@ntwb Good night !

[2016-07-27 13:00] ntwb commented on #1708
@cyril-lamotte Sorry, `npm test` is for the stylelint repo

You should run `Gulp` ;)

Goodnight 😄

[2016-07-27 13:07] cyril-lamotte commented on #1708
Same thing :

[code]

[2016-07-27 14:34] #1712 closed

[2016-07-27 16:08] woble commented on #1722
This wouldn't work if media features are writting in a range context, e.g. `@media (width <= 50em)`, unless stylelint transpiles and then checks. But that could be confusing if what is speficied in the configuration does not correspond with how CSS is written.

[2016-07-27 18:25] m-allanson commented on #1708
I've been able to replicate the issue on a Windows 10 machine with freshly installed node, git and stylelint.

I've made a slimmed down version of @cyril-lamotte's repo to remove the gulp dependency and a few characters from the scss: https://github.com/m-allanson/stylelint-indentation-issue. Running `npm test` on that repo will trigger stylelint warnings on my Windows 10 machine, but not on my OS

[2016-07-27 18:33] jeddy3 opened #1728 "media-feature-name-case needs to account (and have tests) for range context"
Ref: https://github.com/stylelint/stylelint/issues/1722#issuecomment-235635385

[postcss-media-query-parser](https://github.com/dryoma/postcss-media-query-parser) does not support media feature in a range context. We should probably ignore media features in a range context for `7.1` and then, possibly, add support in `future-major` if the spec matures.

Ignoring range context within these rules mi

[2016-07-27 18:41] jeddy3 commented on #1708
@m-allanson Can you please rename `style.scss` to `style.css` (to trigger the use of the standard PostCSS parser) and try again on your Windows 10 machine? Lets rule out `postcss-scss` next.

P.S. Remember to update your npm run-scripts command too.

[2016-07-27 18:53] m-allanson commented on #1708
@jeddy3 After [these changes](https://github.com/m-allanson/stylelint-indentation-issue/commit/ead376c2b4a810783a8b1d9038a37e367df4615d) the bug is still triggered:

![lint](https://cloud.githubusercontent.com/assets/381801/17188036/7b479286-5433-11e6-9696-3e50878c2952.png)

[2016-07-27 19:30] m-allanson commented on #1708
I can trigger the bug using http://stylelint.io/demo from the Windows machine, but not from the OSX machine.

Windows:
(to be edited in)

OSX:
![demo-osx](https://cloud.githubusercontent.com/assets/381801/17189338/ec3f3804-5438-11e6-84f4-dc4994f887e8.png)

[2016-07-27 20:29] m-allanson commented on #1708
I've added [a failing test](https://github.com/stylelint/stylelint/issues/1729) for this issue that should work on Windows and OSX.

I don't have any more time to look at this today. If anyone else wants to have a look, it seems like the extra `\r` characters are throwing off the `expectedIndentLevel`. The fix _might_ be [somewhere around here](https://github.com/stylelint/stylelint/blob/master/sr

[2016-07-28 00:09] jacobmischka commented on #1693
I seem to be having this problem as well.

[code]

[2016-07-28 00:15] davidtheclark commented on #1693
Please tell us about the directory structure involved: where the config is, where the files are, where `process.cwd()` is. All this stuff works in relation to each other, so we need to know about each part to debug. And the simpler the test case the better!

[2016-07-28 00:20] jacobmischka commented on #1693
[code]

[2016-07-28 00:35] jacobmischka commented on #1693
For the record, I tried with `.stylelintignore` and using the `--ignore-path` argument as well, none seemed to work.

[2016-07-28 03:21] davidtheclark commented on #1693
@jacobmischka I think your issue might be different than the one above. I'm going to open another issue for it and mention you.

[2016-07-28 03:26] davidtheclark opened #1730 "standalone.js should deal with ignored files"
Right now we decide whether to ignore a file or not after PostCSS has parsed it: https://github.com/stylelint/stylelint/blob/master/src/postcssPlugin.js#L37. There are two problems with this:

1. We don't want to parse files we don't need to parse. That slows things down.
2. The user might not use a special syntax, thinking that her ignore pattern can be used to just ignore scattered SCSS files, f

[2016-07-28 03:31] jacobmischka commented on #1693
Ah, I feared the problem might be that ignored files are still being parsed. Thanks for helping get to the bottom of it.

Unfortunately, the syntax that's breaking postcss I don't have much control over, it's required for jekyll's sass compiling. I guess I could compile my sass using a separate build step instead, but I'd rather not.

Thanks again!

[2016-07-28 04:26] davidtheclark commented on #1693
@jacobmischka can you just change your input file glob?

[2016-07-28 04:44] jacobmischka commented on #1693
Well, I'm using an editor plugin that lints the file that's currently open, so not really without adding file ignoring functionality to that, as far as I'm aware. I don't really see much point in doing that when it should probably be ignored directly in stylelint anyway, right?

[2016-07-28 06:48] VPenkov commented on #1708
I've added @m-allanson's repo to the first post. Seems like I can't possibly contribute more to the issue but I'll hang around and watch if I can help with any more testing.

[2016-07-28 15:00] davidtheclark commented on #1693
Yes, I was just suggesting a stopgap measure until the bug is fixed.

[2016-07-28 15:04] evilebottnawi commented on #1713
/cc @davidtheclark any objections?

[2016-07-28 15:09] jacobmischka commented on #1693
Ah, yeah it's not really a huge deal until it's fixed, I can deal with the extra error. Thanks though.

[2016-07-28 15:29] davidtheclark commented on #1713
No, none.

[2016-07-28 19:29] jeddy3 commented on #1713
- Name: `value-list-max-empty-lines`
- Primary option: `int`
- Secondary options: none
- Message: `Expected no more than ${max} empty line(s)`
- Section: "Value list"

[2016-07-28 19:37] sormy opened #1733 "selector-type-no-unknown regexp rules doesn't work"
A bug with `selector-type-no-unknown` rule, option `ignoreTypes` based on docs accepts regexps but it doesn't work. It accepts only strings, so it is either bug in documentation or not implemented functionality in the code.

example css:

[code]

example configuration:

[code]

stylelint: v7.0.3

How are you running stylelint:  vs code plugin with .stylelintrc in the project root

no

it should us

[2016-07-28 19:39] evilebottnawi commented on #1733
@sormy please format you issue as template

[2016-07-28 19:40] evilebottnawi commented on #1733
@sormy for disable rules use `null`, example `"selector-type-no-unknown": null`

[2016-07-28 19:41] sormy commented on #1733
null works, thanks, may be that will be good to note in documentation

[2016-07-28 19:43] evilebottnawi commented on #1733
@sormy this note exist in docs https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#rules

[2016-07-28 19:43] evilebottnawi commented on #1733
@sormy can i close issue?

[2016-07-28 19:44] sormy commented on #1733
RegExp rules doesn't work anyway

[2016-07-28 19:46] evilebottnawi commented on #1733
@sormy format issue as template with example configuration and code, it will simplify the task to help you

[2016-07-28 20:10] evilebottnawi commented on #1733
@sormy Thanks for feedback, confirmed.
Ref: https://github.com/stylelint/stylelint/blob/master/src/rules/selector-type-no-unknown/index.js#L82

[2016-07-28 20:12] evilebottnawi commented on #1733
@sormy oh sorry, we already fixed it, i next release in 7.1.0 it is work fine

[2016-07-28 20:13] evilebottnawi commented on #1733
@jeddy3 why we need this line https://github.com/stylelint/stylelint/blob/master/src/rules/selector-type-no-unknown/index.js#L82 if above we have https://github.com/stylelint/stylelint/blob/master/src/rules/selector-type-no-unknown/index.js#L70

[2016-07-28 20:45] evilebottnawi opened #1735 "declaration-block-no-redundant-longhand-properties"
Ref: https://github.com/CSSLint/csslint/wiki/Require-shorthand-properties
Ref: https://github.com/CSSLint/csslint/issues/668

I don't know best name for rule :smile:

Throw error if we use all 4 values, also throw errors if we use top and left, top and left and right.
Example:
[code]

[code]

[code]
Also add option `minProperties`(maybe rename) to control how many properties throw errors.

[2016-07-28 22:27] maraisr opened #1736 "Add ignore: ["inside-function"] option to color-named"
Error with rule `color-named` and `-s scss` cli option where by if i have it send to `"color-named": "never"` and in my scss file have `map-get($colours, red)` this is failing where it should be passing, becuase its pulling a "redish" colour from that map.

`color-named`

e.g.

[code]

e.g.

[code]

`7.0.3`

`stylelint $(find ./src/assets/sass -name *.scss) --colour -s scss`

SCSS

No warnings/err

[2016-07-28 22:35] Arcanemagus commented on #1735
Might want to create a label or milestone to track these "CSSLint compatibility" issues.

[2016-07-28 23:27] davidtheclark commented on #1735
Milestone sounds good. Just created one.

[2016-07-28 23:38] #1716 closed

[2016-07-28 23:44] #1708 closed

[2016-07-29 04:36] ntwb commented on #1402
I've merged that propert order into `stylelint-config-bootstrap` and cut a new release 0.1.0

I've just submitted a pull request that switches from the `.stylelintrc` to `stylelint-config-bootstrap` change, quite a minor change in the scheme of things for the original tooling changes in my opinion: https://github.com/twbs/bootstrap/pull/20402

Agreed, I've added @mdo to the `stylelint-config-boots

[2016-07-29 05:41] gucong3000 opened #1737 "Documentation needs to be supplemented"
There is no options use case.

http://stylelint.io/user-guide/rules/function-linear-gradient-no-nonstandard-direction/
http://stylelint.io/user-guide/rules/no-empty-source/

[2016-07-29 07:08] jeddy3 commented on #1736
@maraisr Thanks for the detailed report.

@stylelint/core I'm not sure there's anything we can (or want to) do about this, other than more clearly document that the rule simply checks for the named colours everywhere. For example, I'd argue that I'd expect this rule to checked for named colours within the `color()` function e.g. `color: color(red a(50%))`.

[2016-07-29 07:14] jeddy3 commented on #1735
Lets only check for when *all four* longhand properties are used. Warning when there are only *three* or *two* longhand properties will lead to second guessing the author's intent e.g.

[code]

I assume that's why the CSSLint rule only checks for *all four* properties too.

[2016-07-29 07:22] #1728 closed

[2016-07-29 07:26] ntwb commented on #1708
Thanks everyone for your reports, testing and patience, the fix will ship as part of sylelelint 7.1

[2016-07-29 07:40] jeddy3 commented on #1737
@gucong3000 Thanks for the report. Resolved in #1738.

[2016-07-29 08:23] evilebottnawi commented on #1735
@jeddy3 example without `top` and no throw errors, only if you have all 4 options, or (top and right and bottom), or (top and right)

[2016-07-29 08:51] evilebottnawi opened #1739 "CSSLint compat"
# All rules

## Possible Errors

- [ ] [box-model](https://github.com/CSSLint/csslint/wiki/Beware-of-box-model-size)
- [ ] [display-property-grouping](https://github.com/CSSLint/csslint/wiki/Require-properties-appropriate-for-display) -> `"declaration-block-no-ignored-properties": true`, but we have more properties than in `CSSLint` maybe write plugin for this based on this rule and remove all che

[2016-07-29 09:32] jeddy3 commented on #1735
I'm strugglingly to understand this bit. Can you explain it again?

Doesn't:

[code]

Equal:

[code]

[2016-07-29 09:37] evilebottnawi commented on #1735
@jeddy3
if i use
[code]
I can short to `padding: 1px 2px 3px`, but only if i use `top`, `right` and `bottom`, if i have no `top` or `right` not throw error.

[2016-07-29 09:55] jeddy3 commented on #1500
Closing this here as any further work and/or discussion should happen in the plugin's repo.

@hudochenkov When you have something to show, or if you just create a holding repo, please can you add a note here pointing in that direction so people know where to go.

[2016-07-29 09:55] #1500 closed

[2016-07-29 09:57] jeddy3 commented on #1575
If someone wants to experiment with this plugin, then please feel free to create a repo and have a a go. Also, feel free to at-mention me from there if you'd like to continue the discussion further.

[2016-07-29 09:57] #1575 closed

[2016-07-29 10:06] jeddy3 commented on #1739
What is the purpose of this issue?

As the next step is to decide which of these should be rules and which should be plugins, I assume it's to track that a discussion and decision has be made for each of them?

[2016-07-29 10:20] evilebottnawi commented on #1739
@jeddy3 tracking the overall process, `eslint` is doing the same and it is convenient :smile:

[2016-07-29 10:23] evilebottnawi commented on #1739
@jeddy3 here it is possible to gather configuration with references to plugins and issue

[2016-07-29 10:26] evilebottnawi commented on #1739
@jeddy3 and many developers `CSSLint` are have poor knowledge `stylelint`, so it would be better to postpone the discussion here

[2016-07-29 10:30] jeddy3 commented on #1402
Excellent work @ntwb!

It looks like any further discussion will be happening in the `bootstrap` and `stylelint-config-bootstrap` repos themselves. So, I'll close this issue.

[2016-07-29 10:30] #1402 closed

[2016-07-29 10:41] jeddy3 commented on #1733
@sormy As @evilebottnawi mentioned, the regex support for `ignoreTypes` [is coming](https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#head) in the next release. For future reference, [the website](http://stylelint.io/) docs are reflective of what the *latest release* is, whereas the [repo docs](https://github.com/stylelint/stylelint/tree/master/docs) are reflective of the current sta

[2016-07-29 13:15] maraisr commented on #1736
@jeddy3 so then - my best bet would be to clone the rule, and extend the `stylelint-scss` plugin and hope for a merged PR?

[2016-07-29 13:27] jeddy3 commented on #1736
It's labelled as discussion at the moment, so everyone usually throws in their thoughts and we try to pick the best path forward.

Perhaps there is something we can do in core that'll help in your case; a secondary `ignore` option i.e. `ignore: ["inside-function"]`?

[2016-07-29 14:33] davidtheclark commented on #1735
I'll try to help clarify. I think the rule looks for `padding-[side]` declarations, and then if all of them are used suggests that you use the `padding` shorthand.

[2016-07-29 14:33] davidtheclark commented on #1735
I don't see this in the CSSLint rule so let's not consider clarifying and creating it essential for now.

[2016-07-29 14:39] davidtheclark commented on #1736
The idea to add an `ignore` option for `inside-function` or `inside-parentheses` sounds good to me.

[2016-07-29 14:41] evilebottnawi commented on #1735
@davidtheclark i thinkw e should throw errors on all variants:
[code]

[code]

[code]
But `CSSLint` throw error only on 4 properties, `"minProperties": 4` allow throw error only on first example (need for csslint-compat).

[2016-07-29 14:45] davidtheclark commented on #1735
I disagree. A major problem with shorthands is that they actually *always set all the properties*, even if you only *want* to specify some. So `padding: 5px 0;` is *not* equivalent to `padding-top: 5px; padding-bottom: 5px` because it also sets left and right padding, which you may not want to do (probably don't). I think maybe the only way for the rule to avoid forcing you to change your code in

[2016-07-29 14:46] #1733 closed

[2016-07-29 14:47] #1737 closed

[2016-07-29 14:50] evilebottnawi commented on #1735
@davidtheclark yep, i agree only throw errors on 4 properties, sorry, tired :sob:

[2016-07-29 14:51] davidtheclark commented on #1735
Ha, no problem! I think that quality of shorthand properties stands out to me because it's bitten me so many times.

[2016-07-29 14:56] evilebottnawi commented on #1735
@davidtheclark we need name for rule :smile:

[2016-07-29 15:03] davidtheclark commented on #1735
Thinking about this more, I even wonder if there should be a `declaration-no-shorthand-property` rule. I'd use it.

[2016-07-29 15:50] jeddy3 commented on #1735
Phew, I'm glad we got there in the end :) @davidtheclark Thanks for helping to clarify!

`declaration-block-no-redundant-longhand-properties`?

- `declaration-block` because, like `declaration-block-no-duplicate-properties`,
`declaration-block-no-ignored-properties` and
`declaration-block-no-shorthand-property-override`, it's *scoped to* declaration blocks.
- `redundant` because that's aligned wit

[2016-07-29 15:58] jeddy3 commented on #1736
Good stuff. `color-named` uses `postcss-value-parser` and so I think `"inside-function"` will be the easier of the two to implement. It's also an identifiable standard css construct. We've tended to use them, with the exception of `indentation` (where we have a `"inside-parens"` secondary option), for secondary options.

Anyone else have any thoughts on this issue, or shall I label it up as "help

[2016-07-29 16:01] evilebottnawi commented on #1735
it is a good rule for the core
@jeddy3 sound good, i started today this rule, late we can rename
@davidtheclark any objectives?

[2016-07-29 18:55] EliRobinson opened #1741 "False positives for multi-line selector lists containing functional pseudo-classes in indentation"
A bug, when I use the code:

[code]

Stylelint complains that line 2 `.foo textarea {` needs to be indented

`indentation`

e.g.

[code]

e.g.

[code]

`6.9.0`

With `grunt-stylelint`
`stylelint: {
            development: {
                options: {
                    //format: 'less'
                    syntax: 'less'
                },
                src: 'src/public/less/**/*.less'

[2016-07-29 19:07] evilebottnawi commented on #1741
@EliRobinson it is valid css `.foo input:not('[type=checkbox]'):not('[type=radio]'),`?

[2016-07-29 19:08] evilebottnawi commented on #1741
@EliRobinson https://jigsaw.w3.org/css-validator/validator
[code]

[2016-07-30 13:26] jeddy3 commented on #1722
@woble As per #1728, we'll ignore media features in a range context for now. Adding support in `future-major`. I don't see any incompatibility in the rule signature itself, we just currently lack the means to reliably extract the media feature names from media features in a range context.

Feel free to create a new issue to discuss that.

[2016-07-30 13:50] jeddy3 commented on #1741
I think this is being caused by [this reported issue](https://github.com/webschik/postcss-less/issues/56) within the *experimental* `postcss-less` parser.

The following code also triggers the warning.

[code]

@EliRobinson If you'd like to see this issue resolved, please consider helping with `postcss-less` and addressing the problem there.

[2016-07-30 13:57] jeddy3 commented on #1736
@maraisr Would you like to contribute this option? Step-by-step instructions are in the [developer guide](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#adding-options-to-existing-rules).

[2016-07-30 14:04] jeddy3 commented on #1735
- Name: `declaration-block-no-redundant-longhand-properties`
- Primary option: `true`
- Secondary options: none
- Message: `Unexpected longhand properties "${props}"`\*
- Section: "Declaration block"

\*e.g. `Unexpected longhand properties "border-*-width"` if there is all four border width props i.e. `border-top-width`, `border-bottom-width` etc...

[2016-07-30 14:13] evilebottnawi commented on #1735
@jeddy3 for compat with `csslint` we should add option `ignoreProperties`, because `csslint` support this only for `padding` and `margin`

[2016-07-30 14:16] EliRobinson commented on #1741
@evilebottnawi - You're right, I'll double check my code, there shouldn't be a single quote in the `:not` statements.

[2016-07-30 14:17] EliRobinson commented on #1741
@jeddy3 - Good catch, I thought I searched for the right things to find dupes, apparently not. I fully understood that it was experimental, but still a bug either way. 😄

[2016-07-30 14:31] jeddy3 opened #1744 "Add range context support to media-feature-name-* rules"
Ref: https://github.com/stylelint/stylelint/pull/1732#issuecomment-235888292

[code]

Is dependent on the creation of a [range context](https://www.w3.org/TR/mediaqueries-4/#mq-range-context) parser.

[2016-07-30 19:24] davidtheclark commented on #1062
@wroughtec Any interest in following up on this?

[2016-07-30 23:07] #1273 closed

[2016-07-30 23:18] #962 closed

[2016-07-31 00:09] davidtheclark opened #1748 "Improve test globs and fixtures to reduce fragility"
Right now we have a little test fragility problem. Several tests that use globs rely on the exact number of stylesheets that we currently have in `src/__tests__/fixtures/`. This means that if we ever want to add another fixture stylesheet, we need to modify all those tests. That's not ideal.

What we should be doing is either making the globs specify the exact fixtures they depend on, or make them

[2016-07-31 02:12] maraisr commented on #1736
@jeddy3 yeah for sure - ill make this mod.

[2016-07-31 08:33] jeddy3 opened #1749 "Move parser choice to config"
I think we might of missed an opportunity in `7.0` to handle parsers in a more extensible way. I think we should fix this in `8.0`.

Sharable configs, plugins and (in `7.0`) processors are all part of our design philosophy to keep development on stylelint sustainable by putting systems in place that allow the community to extend a robust core, rather than have us bolt more things onto core.

I thi

[2016-07-31 17:56] davidtheclark commented on #1749
I worry that if we open the door to *any* parser, we open the door to a confusing, possibly unanswerable set of questions and "bugs" related to what stylelint "supports". I worry that that would actually cause *more* headaches than the setup we currently have, with a finite, controlled list of support syntaxes.

PostCSS provides an AST that stylelint starts with; but there are no guarantees about

[2016-07-31 18:25] wroughtec commented on #1062
@davidtheclark to be honest real life got in the way so have not had a chance to sit down and actually look at this. Definetly a rule I still need If anyone else has the time please feel free to go ahead and build it I am probably at least a couple of months away from having any real free time :(

[2016-07-31 23:18] igoradamenko opened #1751 "Order of non-standard vendor-prefixed properties within declaration-block-properties-order"
A bug with a rule `-webkit-overflow-scrolling`. If I use `declaration-block-properties-order` linter want to put it after `overflow`. Quote from [doc](http://stylelint.io/user-guide/rules/declaration-block-properties-order/#options):

"If an (**unprefixed**) property name is not included in your array and it contains a hyphen (e.g. padding-left), this rule will look for the string before that firs

[2016-08-01 00:59] davidtheclark commented on #836
Closing because it's been a long time since anyone showed enough interest in this to work on it.

[2016-08-01 00:59] #836 closed

[2016-08-01 07:02] jeddy3 commented on #1751
@igoradamenko Thanks for using the issue template and for the detailed report.

I think the current behaviour, i.e. expecting `-webkit-overflow-scrolling` to be grouped with the other `overflow-*` properties, makes the most sense. I think the documentation can improved to explain this behaviour more clearly though, as at the moment the use of the word "unprefixed" in brackets in a little ambiguous

[2016-08-01 07:40] igoradamenko commented on #1751
@jeddy3 It sounds good for me.

But what if I want to place `-webkit-overflow-scrolling` in another place? For instance to the bottom of properties block. If I understand right (and right now it works that way) I should use unprefixed property names in `declaration-block-properties-order` array. If so I think it would be good to add one more example or some description of this situation to the doc

[2016-08-01 07:50] ntwb commented on #1749
Reading @jeddy3's issue I thought that sounds reasonable, then I read the @davidtheclark's reply and I think there are some important concerns there, if stylelint has a free-for-all approach in allowing any parser then as pointed out a greater burden will be placed on stylelint core whether it's warranted or not.

[2016-08-01 08:02] ntwb commented on #1735
Agreed, for whatever reasoning allowing an array of properties to be ignored should be included 👍

[2016-08-01 08:07] ai commented on #1739
I think step 2 should be sort plugins to 2 categories:

1. We should write this plugin as core Stylelint rule.
2. We should create third-party rule.

[2016-08-01 08:08] ai commented on #1739
I think we should create `stylelint-oocss` for `qualified-headings` and `unique-headings`.

[2016-08-01 08:24] ai commented on #1739
I think this rules should be in `stylelint-csslint`:

* `font-size` — too unclear what is too often `font-size`, also this recommendation is not popular
* `floats` — not popular recommendation
* `box-model` — CSSLint rule will not work `* { box-siting: border-box }`
* `display-property-grouping` — because our rule is better
* `adjoining-classes` — not popular practice
* `compatible-vendor-prefixes

[2016-08-01 08:33] jeddy3 commented on #1751
You'd put `overflow-scrolling` as the last item in the array. We can clarify the docs around that too as part of this issue.

[2016-08-01 08:37] igoradamenko commented on #1751
Yeah, I meant exactly that. Let's do it! :koala:

[2016-08-01 08:53] delorge commented on #1739
as @evilebottnawi said, we should probably make a plugin for
`font-size`, `floats `, `font-faces` because they are similar. I guess this plugin could be flexible and set to track any properties' repetitions

[2016-08-01 08:56] delorge commented on #1739
I'd like to take a stab at this

[2016-08-01 08:56] evilebottnawi commented on #1739
@delorge i think about rule allow set max usage `at-rules`, `properties` and etc, i think it is be good into core, example usage disable use many animation, it is good for performance

[2016-08-01 08:58] evilebottnawi commented on #1739
/cc @jeddy3 what do you think about rules `max-at-rules`, `max-declaration-properties`, example option: `[{"font-face": 5, "media": 10}]`?

[2016-08-01 13:33] jeddy3 commented on #1749
@davidtheclark All good points. And @ntwb, I agree they are important concerns. However, I'm going to try to argue that my proposal will mitigate this concerns, rather than exacerbate them.

The door is already open. When stylelint is [used](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/postcss-plugin.md#example-a) as a PostCSS plugin, whether via the PostCSS JS API or via its

[2016-08-01 14:02] evilebottnawi commented on #1749
@jeddy3 what about if you have two syntax, right now we migrate from scss to cssnext, but have many code on scss and unfortunately hard to make the transition quickly :disappointed: . Be good, if we was allowed setting array of parsers.

[2016-08-01 14:53] davidtheclark commented on #1749
@evilebottnawi You could always run two stylelint tasks, one for SCSS and one for CSS.

@jeddy3 I'm afraid I still don't see the concrete benefit of this; it still looks like added confusion to me.

This is what I understand our position to be right now: stylelint core rules target standard CSS constructs. stylelint can *run* on stylesheets using the non-standard syntaxes SCSS, Less, SugarSS, but

[2016-08-01 14:57] timkraut opened #1752 "declaration-colon-space-after"
Feature request for declaration-colon-space-after: Aligned property values are reported as errors. There should be an option to allow 1+ spaces after the colon.

Example:
[code]

Stylelint configuration:
[code]

Stylelint version: `7.0.0` used via gulp-stylelint (`v3.0.0`)

[2016-08-01 15:36] evilebottnawi commented on #1752
@timkraut duplicate https://github.com/stylelint/stylelint/issues/769?

[2016-08-01 16:29] timkraut commented on #1752
@evilebottnawi Yes, it's a duplicate. I did a search but unfortunately, I haven't found this issue. Sorry. I'm gonna close this one.

[2016-08-01 16:29] #1752 closed

[2016-08-01 17:22] woble commented on #1751
I do believe stylelint should handle this in a similar fashion as [`property-no-vendor-prefix`](http://stylelint.io/user-guide/rules/property-no-vendor-prefix/) rule does because there's no such property as `overflow-scrolling`. `-webkit-overflow-scrolling` is a non-standard vendor-prefixed property.

[2016-08-01 18:14] EliRobinson commented on #1741
@evilebottnawi - I did have that wrong (though, the browser correctly handled it, weird), however, the issue I mentioned above is still broken. I'll update my original comment to match valid code.

[2016-08-02 12:31] jaydenseric commented on #1366
I'm confused, it looks like this has been prematurely closed? The commits add `ignore: ["blockless-after-same-name-blockless"]` without `except: ["blockless-after-same-name-blockless"]`.

I was originally confused what "blockless-group" meant, thinking it meant same-name at-rule groups for some reason. https://github.com/stylelint/stylelint/issues/1366#issuecomment-223789231 describes the requirem

[2016-08-02 12:52] jeddy3 commented on #1366
Yes, you're right. Reopening.

[2016-08-02 14:44] #1366 closed

[2016-08-02 15:50] jeddy3 commented on #1699
I'm moving back to London in a few days and I figured I'd get as much done as possible before I do :)

Release is done. 🎉

- `stylelint@7.1`
- `stylelint-config-standard@12.0.0`
- stylelint.io updated
- stylelint.io/demo updated

[2016-08-02 15:50] #1699 closed

[2016-08-03 00:13] igoradamenko opened #1754 "False positives for SCSS operators in media-feature-no-missing-punctuation"
A bug with `@media` queries in SCSS when value of `max-width` (or other property) is not in parentheses.

`media-feature-no-missing-punctuation`.

[code]

[code]

`7.1.0`

gulp-stylelint.

SCSS.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2016-08-03 06:59] sendilkumarn commented on #1749
valid points 👍

IMO, we should start with what is stylelint's compatible AST. And with that we can have a layer in between which handles these non-standard
So the core remains intact and this layer takes non-standard syntax and does any parsing / validating that is required before checking the rule with the core.
![untitled diagram](https://cloud.githubusercontent.com/assets/12471122/17356508/672a

[2016-08-03 11:28] evilebottnawi opened #1755 "Add option `first-nested-before-at-rule` in `except` to `at-rule-empty-line-before`"
Configuration:
[code]
Allow use construction with (if you using `always`):
[code]

[2016-08-03 11:29] evilebottnawi commented on #1754
@igoradamenko thanks for feed

[2016-08-03 14:38] jeddy3 commented on #1749
This is exactly the crux of what I'm trying to achieve with this proposal. I think I muddied the waters somewhat with unclear writing (especially within that documentation suggestion). @davidtheclark I'm not suggesting a regime change. Like you, I think what we have now is a clear and limited goal, and I agree that it expands our potential user-base tremendously. I also think how issues are curren

[2016-08-03 14:42] jeddy3 commented on #1755
Can't this already be achieved with?:

[code]

[2016-08-03 14:49] jeddy3 commented on #1754
@evilebottnawi Would refactoring this rule to make use of `postcss-media-query-parser` help resolve this?

[2016-08-03 15:02] jeddy3 commented on #1751
As people might already be relying on this behaviour, i.e. using something like `overflow-scrolling` in their array, and that vendor prefixes are supposedly going away in favour of browser flags, I think we just document this idiosyncrasy and move on. Anyone have any objections to this?

[2016-08-03 15:14] evilebottnawi commented on #1754
@jeddy3 today i try :smile:

[2016-08-03 15:16] evilebottnawi commented on #1755
@jeddy3 Thanks, we have so many options that I'm forgetting some :smile:

[2016-08-03 15:16] #1755 closed

[2016-08-03 15:30] jeddy3 commented on #1739
I think the usefulness of such a rule is questionable. If there is a desire to build this then I think it'll need to be a plugin.

- Only really makes sense for compiled stylesheets.
- The number of these things (e.g. font-face) in terms of performance is kind of arbitrary.

See [this discussion](https://github.com/stylelint/stylelint/issues/964).

[2016-08-03 16:35] davidtheclark commented on #1749
@sendilkumarn The proposal is a fine idea, but a huge amount of work, a very significant layer of additional abstraction, for problems we're not sure we have — right? I guess I'd be a lot more interested in the idea, too, if I could be convinced by some code implementing it.

What exactly are the problems we're anticipating? That another preprocessor with all kinds of wacky new non-standard syntax

[2016-08-03 17:11] jeddy3 opened #1758 "declaration-block-no-outline-without-alternative"
Ref: https://github.com/CSSLint/csslint/wiki/Disallow-outline%3Anone

Does it adhere to our [criteria](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#let-everyone-know) for inclusion in core, or should it be a plugin?

[2016-08-03 17:15] jeddy3 opened #1759 "Add ignore: ["consecutive-duplicates-with-different-values"] option to declaration-block-no-duplicate-properties"
Ref: https://github.com/CSSLint/csslint/wiki/Disallow-duplicate-properties

Proposal to add an option similar to [`"consecutive-duplicates"`](https://github.com/stylelint/stylelint/blob/master/src/rules/declaration-block-no-duplicate-properties/README.md#ignore-consecutive-duplicates), but less permissive.

[2016-08-03 17:29] jeddy3 opened #1760 "Add checkPrefixed: true option to property-no-unknown"
Change the default behaviour to ignore vendor prefixed properties, making the rule:

- Consistent with `at-rule-no-unknown`.
- More permissive (therefore a non-breaking change).

Add `checkPrefixed: true` secondary option to reenabled old behaviour.

[2016-08-03 17:49] jeddy3 commented on #1739
I think all the rules you've suggested go in `stylelint-csslint` are correctly classified.

I've created [new issues](https://github.com/stylelint/stylelint/milestone/22) to discuss:

* `outline` — important a11n rule
* `duplicate-properties` — I think extra option is fine
* `known-properties` — we already have it, need extra option.
* `shorthand` — useful too to every project

I'm think the follo

[2016-08-03 18:03] evilebottnawi commented on #1759
sgtm, vote for this option

[2016-08-03 18:06] evilebottnawi commented on #1760
@jeddy3 I suggested to do it already :smile:
sgtm, my opinion is all rules `*-no-unknown` should ignore vendor prefixed by default

[2016-08-03 18:11] #1739 closed

[2016-08-03 18:16] sendilkumarn commented on #1749
Something like this.

`comments-newline-after`
`value-list-comma-newline-after`  -->  consider this two for example. _[ just for example ]_

we can merge this into *newline-after rule which will be in `stylelint core`

But comments / value - list  should be checked / validated in the middle layer `css/scss/non-standard syntax`

I will try to create a PR for this. If my understanding is correct

[2016-08-03 18:19] sendilkumarn commented on #1759
👍 it is essential now

[2016-08-03 18:23] jeddy3 commented on #1760
I know. These new issues as based on your thoughts in https://github.com/stylelint/stylelint/issues/1739.

Ok, in addition to `property-no-unknown`, we currently have the following `*-no-unknown` rules:

- `at-rule-no-unknown`
- `selector-pseudo-class-no-unknown`
- `selector-pseudo-element-no-unknown`
- `selector-type-no-unknown`
- `unit-no-unknown`

Seemingly, only `at-rule-no-unknown` currently

[2016-08-03 18:24] #1713 closed

[2016-08-03 18:26] jeddy3 commented on #1749
Yes please, as I'm now a little confused by what you're proposing.

[2016-08-03 18:39] jeddy3 commented on #1760
Nope, these changes will make the rules more permissive.

[2016-08-03 19:11] davidtheclark commented on #1739
@jeddy3 I agree with your suggestions.

[2016-08-03 19:28] evilebottnawi commented on #1739
@jeddy3 agree

Perhaps in the future if we get a request, we can add an option for this

[2016-08-03 22:02] christianvuerings opened #1762 "Add ignoreProperties: [] option to color-named"
When you add a color name (which is a CSS class) in `composes`, it triggers a warning.

`color-named`

[code]

[code]

`7.1.0`

"CLI with `./node_modules/stylelint/dist/cli.js ./src/**/*.css`"

"Yes, it's related to CSS modules."

"No warnings to be flagged."

"The following warnings were flagged:"

[code]

Relates to #1724 #1712
Ideally, we would be able to have a similar fix by adding `composes`

[2016-08-04 01:43] davidtheclark commented on #1758
I don't think it does. There are an infinite number of accessible ways that you could style a focus state: the default outline is just one. The linter can't possibly know whether you've done a great job styling that focus state or not. And depending on your focus style, it might be a very good idea to turn off the default outline.

So I'd suggest that this be left to a plugin.

[2016-08-04 01:45] davidtheclark commented on #1760
SGTM

[2016-08-04 05:33] woble commented on #1751
Can you provide some source for that? I know that Chrome uses browser flags to enable some exprimental features, but there are still plenty of prefixed proprietary properties in browsers like Firefox and Safari that will be there indefinitely.

How does this apply when rules are being deprecated and/or renamed? People have to change their behaviour accordingly, don't they?

I'm happy with either w

[2016-08-04 07:26] jeddy3 commented on #1758
Agreed.

[2016-08-04 07:26] #1758 closed

[2016-08-04 09:55] jeddy3 commented on #1760
It turns out there are [plenty of](https://github.com/postcss/autoprefixer/releases) prefixed pseudo classes too, not just pseudo elements.

I guess me not realising this is testament to autoprefixers usefulness. We don't really have to think about prefixes anymore.

Anyhow, lets ignore prefixes by default for *all* of the `*-no-unknown` rules.

[2016-08-04 09:58] ai commented on #1758
I think the CSSLint rule cover others focus states. It raise on

[code]

But not raise on:

[code]

[2016-08-04 11:22] gaidarenko commented on #1760
Guys let me fix this issue. Assign it to me.

[2016-08-04 12:49] evilebottnawi commented on #1760
@gaidarenko let's rock

[2016-08-04 13:32] jeddy3 commented on #1758
@ai It's this ambiguity that makes the rule a good candidate for a plugin.

[2016-08-04 13:34] jeddy3 commented on #1760
@gaidarenko Good luck and thanks for helping out. You'll find plenty of information in the [developer guide](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md) to help you get started.

[2016-08-05 08:23] ntwb commented on #1749
I've not got much to add to the core issue here, and no strong opinion either way, much of the work that would be involved I'd say is technically over my head.

That said a couple of concerns in regard to some of the non-technical issues raised:

Currently stylelint is attracting SCSS, LESS, SugarSS, and Stylus users, sadly Stylus users are turned away as there is no `postcss-stylus` parser at thi

[2016-08-05 09:35] benfrain opened #1768 "value-list-max-empty-lines no worky"
Bug with message: Undefined rule "value-list-max-empty-lines" as described here: https://github.com/stylelint/stylelint/blob/master/src/rules/value-list-max-empty-lines/README.md

**EDIT:** Wondering if this is described in the docs but the rule is not actually in current release?

"value-list-max-empty-lines": 0,

Just won't run with this config present

e.g.

[code]

7.1.0

PostCSS plugin

Not r

[2016-08-05 09:43] m-allanson commented on #1768
Hi @benfrain, thanks for the detailed report. You're right that `value-list-max-empty-lines` [hasn't been released yet](https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md).

The docs here on GitHub represent the state of the master branch, the docs for the latest published release of stylelint can be found at http://stylelint.io.

I think this is an issue that's come up before, maybe

[2016-08-05 09:46] evilebottnawi commented on #1768
@m-allanson maybe add to `ISSUE_TEMPLATE.md` first note about this?

[2016-08-05 09:54] m-allanson commented on #1768
@evilebottnawi That's probably the most visible place to put it, but I wonder if we should only add things to `ISSUE_TEMPLATE.md` if it applies to the majority of issues?

We could add an item to the FAQs, although that is less visible than the issue template.

[2016-08-05 11:04] evilebottnawi commented on #1768
@m-allanson maybe add `FAQs` and add link in `ISSUE_TEMPLATE.md` ( and write `Before creating issue please read FAQs` or something like that).

[2016-08-05 11:30] jaydenseric opened #1769 "CLI input and ignoreFiles glob weirdness"
A bug where CLI input globs only work as expected when wrapped in quotes.

With this directory structure (`test.css` files contain deliberate errors):

[code]

With the following stylelint config in `package.json`:

[code]

Running:

[code]

Does not find all errors.

Running:

[code]

Does.

This sort of weirdness has been happening for some time and is present in `v7.1.0`.

Removing the `ignoreF

[2016-08-05 11:39] evilebottnawi commented on #1769
/cc @davidtheclark @jeddy3 Had the same error with `animated.css`, we need add option `nodir` to `globby`

[2016-08-05 12:14] m-allanson commented on #1768
@evilebottnawi That sounds good to me.

[2016-08-05 13:15] ntwb commented on #1759
SGTM

[2016-08-05 14:25] davidtheclark commented on #1184
Closed by #1750.

[2016-08-05 14:25] #1184 closed

[2016-08-05 14:30] davidtheclark commented on #1769
This is not a bug. It's a documented part of the CLI. The online CLI documention just points you to `stylelint --help`, where it is mentioned.

@evilebottnawi sounds like you have a different issue?

[2016-08-05 14:30] #1769 closed

[2016-08-05 14:41] benfrain opened #1771 "'false positive' on no-unknown-animations"
The is a bug in the **no-unknown-animations** rule

e.g.

[code]

e.g.

[code]

7.1.0

PostCSS plugin

no

not to receive a warning

The following warnings were flagged:

[code]

[2016-08-05 14:42] davidtheclark commented on #1768
Yep, diagnosis sounds right.

[2016-08-05 14:42] #1768 closed

[2016-08-05 15:11] evilebottnawi commented on #1769
@danieldiekmeier hm, need testing if i found error, create issue

[2016-08-05 21:38] alunny opened #1773 "unit-blacklist ignores values between one and zero without leading-zero"
A bug: false-positive for the unit-blacklist rule.

`unit-blacklist`

e.g.

[code]

e.g.

[code]

e.g. `7.1.0`

CLI

No

Warning should be flagged.

No warnings.

[2016-08-05 22:12] jeddy3 commented on #1773
@alunny Thanks for the report. I can reproduce this.

@stylelint/core This is likely an issue with `getUnitFromNodeValue()` and related to https://github.com/stylelint/stylelint/issues/1771.

[2016-08-06 04:03] aaronbushnell commented on #1722
Sorry all, I'm unfortunately too tied up to dig into this more and get something going. I'm hoping I can get to this eventually.

I did just wanted to say I appreciate everyone being really proactive and taking a Stack Overflow question all the way up here! Thanks for doing all that! 😃

[2016-08-06 10:01] delorge commented on #1759
I'd like to implement this option. Please assign this to me.

[2016-08-06 15:25] evilebottnawi commented on #1773
@jeddy3 fixed in https://github.com/stylelint/stylelint/pull/1772

[2016-08-06 15:26] evilebottnawi commented on #1759
@delorge let's go :+1:

[2016-08-06 19:37] jeddy3 commented on #1759
@delorge  Good luck and thanks for helping out. You'll find plenty of information in the [developer guide](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md) to help you get started.

[2016-08-07 20:16] delorge commented on #1759
Before I commit any further changes, I want to make things clear: is it necessarily for 'consecutive-duplicates-with-different-values' to check if duplicates are consecutive as it get tested in "consecutive-duplicates"? I assume that these options are independent and any of them should warn user about incorrect duplicates order.

Having this behavior given, I've provided appropriate tests, but as

[2016-08-08 01:47] aaronbushnell commented on #1705
Thanks, @jeddy3! I'm a tad tied up, but I'd love to take a peek at some point. Thanks for the helpful information here!

[2016-08-08 09:18] jegtnes opened #1776 "Docs: Clarify how to use optional properties?"
Hey there folks,

Thanks for the great tool; discovered it today and I'm loving it. One thing I noticed upon trying to configure it to my project needs is that the docs aren't clear on how to use the optional properties where they exist, so I attempted to use optional rule options as a top-level configuration key-value pair instead of placing it in an object alongside the main rule option in an ar

[2016-08-08 14:38] silverwind opened #1777 "Add selector-no-empty rule"
Are syntax error in scope of this linter? I'd imagine a rule that catches trailing commas in selector lists like

[code]
would be quite useful. Here's a [recent case](https://github.com/StylishThemes/GitHub-Dark/commit/e5bf405f2af578c5feed849893c56dc575deb37d).

[2016-08-08 14:44] jeddy3 commented on #1776
@jegtnes Thanks for offering to help.

Did you see the ["Configuration Object" section](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#the-configuration-object) of the [User guide](https://github.com/stylelint/stylelint/blob/master/docs/user-guide.md)?

By looking into this, I noticed we call them "Secondary" options in the config guide (and within the [develop

[2016-08-08 16:49] #1771 closed

[2016-08-08 21:42] ArmorDarks commented on #871
What about ability to ignore some hacks? For example something like `ignore: [^\$.*$]` should allow to use it with Sass variables. Yes, some hacks might not be covered with such ignore, but it's better than nothing. Especially considering that most IE hacks using `*` or `_`, but not `$`

[2016-08-08 21:50] ben-eb commented on #871
I've got an open issue for adding optional Sass support to stylehacks. I'm more than happy if someone wants to maintain this support, but I don't use Sass these days so it's not something that I'm going to add myself.

https://github.com/ben-eb/stylehacks/issues/21

[2016-08-08 22:40] #1715 closed

[2016-08-09 06:48] maraisr commented on #1736
You guys write way too advanced JavaScript for me, and the lack of documentation, i've found it next-to impossible to figure out how to get a simple prop added, and to test my file without running everything and so on...

If you guys don't mind - can you please take a look at adding it? If not, feel free to close the issue, and ill put up with it.

[2016-08-09 08:54] m-allanson commented on #1777
I think this meets [the criteria for new rules](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#let-everyone-know) and sounds like a useful addition. Let's see if stylelint/core have any thoughts on this.

[2016-08-09 09:04] evilebottnawi commented on #1777
@silverwind it is valid css?

[2016-08-09 09:46] evilebottnawi commented on #1777
Not valid syntax, mayba create `selector-no-invalid` and check on permitted characters in selector and commas, ignoring nonstandard css

[2016-08-09 10:18] evilebottnawi opened #1779 "Rule idea: function-no-unknown"
Valid:
[code]

Invalid:
[code]

[2016-08-09 11:01] evilebottnawi opened #1780 "False negatives for some properties in declaration-block-no-redundant-longhand-properties and declaration-block-no-shorthand-property-overrides"
New shothand:
- `animation`
- `border-block-end`
- `border-block-start`
- `border-image`
- `border-inline-end`
- `border-inline-start`
- `column-rule`
- `columns`
- `flex`
- `flex-flow`
- `grid`
- `grid-area`
- `grid-column`
- `grid-gap`
- `grid-row`
- `grid-template`
- `mask`
- `outline`
- `text-decoration`
- `text-emphasis`
- `transition`

This can do breaking changes.

[2016-08-09 11:16] evilebottnawi opened #1781 "Rule idea: no-tabs"
Why? I don't see tab anywhere in my code:
Valid, but i wan't to invalid:
[code]
Or in nonstandard syntax(SCSS)
[code]

[2016-08-09 11:19] #1773 closed

[2016-08-09 16:59] jeddy3 commented on #1736
We're trying to make contributing to stylelint as accessible as possible (as it's a large project and all help is greatly appreciated). Clearly there areas we can improve though. Can you help us improve the documentation by providing us with a few more details about where you got stuck?

Hopefully we can work together to improve the documentation and guidance, which will hopefully make it easier f

[2016-08-09 17:02] jeddy3 commented on #1777
SGTM. We've used `no-invalid` else where for syntax errors *that PostCSS can parse*.

[2016-08-09 17:07] jeddy3 commented on #1779
[`css-values`](https://github.com/ben-eb/css-values) is gathering momentum and I believe it'll make these `*-no-unknown` rules redundant.

Perhaps best to draw a line under what we have at the moment and focus on contributing to `css-values`?

I'm easy on this one though.

[2016-08-09 17:09] evilebottnawi commented on #1779
@jeddy3 By creating a rule we get feedback from users and accelerate the development of the project

[2016-08-09 17:35] jeddy3 commented on #1780
Is there a definitive resource where we can be sure we've got these shorthand properties?

What about upcoming specs like grid?

[2016-08-09 17:37] evilebottnawi commented on #1780
@jeddy3 tomorrow i'll look at all the properties in the specification. Label `need investigation`?

[2016-08-09 17:43] jeddy3 commented on #1781
[code]

Is that a dupe of https://github.com/stylelint/stylelint/issues/1592?

So, it's tabs within comments and content strings you wish to disallow? I'm wary of adding a wide-reaching rule to do this, one that could conflict with things like https://github.com/stylelint/stylelint/issues/1592 or `indentation`.

Is there another approach here? Smaller, more focused rules perhaps? Or we could push

[2016-08-09 17:46] evilebottnawi commented on #1781
@jeddy3 no, this is non-standard syntax, we ignore this selectors

[2016-08-09 17:48] evilebottnawi commented on #1781
@jeddy3 It is also possible we'll meet another place where there is no check whitespaces, `no-tabs` be good

[2016-08-09 18:22] silverwind commented on #1777
`selector-no-invalid` sounds good. It could also catch empty selector list elements anywhere:

[code]
(Those are all invalid)

[2016-08-09 20:22] ryanheathers opened #1786 "False positives for Replaced Elements (img, button etc) in declaration-block-no-ignored-properties"
`button` elements respect `width` properties at all times, counter-intuitively even when the `button` is set to `display: inline`. See this [Stack Overflow](http://stackoverflow.com/questions/27764122/html-button-is-a-inline-element-but).

The issue is that Stylelint's `declaration-block-no-ignored-properties` throws a warning for `width` (including min & max variants) **for any selector** that al

[2016-08-10 08:39] evilebottnawi commented on #1777
@silverwind Also need check on all invalid characters, sgtm

[2016-08-10 08:59] evilebottnawi commented on #1786
@ryanheathers you are right. Can you collect all replaced elements or find url with list their? I can add array of replaced element and ignore this as `type` selector, but it is forever be false position for this:
[code]
For above example i propose to add `ignoreSelector` (support string and regex). What do you think?

[2016-08-10 10:10] gaidarenko commented on #1615
May I fix this issue?

[2016-08-10 11:54] evilebottnawi commented on #1615
@giladgray let's go

[2016-08-10 14:28] yisibl opened #1787 "False positives when the underscore hack is used with indentation"
I found out that there was only hack for *.

https://github.com/stylelint/stylelint/blob/master/src/rules/indentation/index.js#L63

[code]

[2016-08-10 14:34] evilebottnawi commented on #1787
@yisibl we use https://github.com/ben-eb/stylehacks inside rule, please create issue in this repo, not here

[2016-08-10 16:20] kevinSuttle commented on #1786
Here's one for you.

[code]

Even though that 2nd `display` declaration overrides the first, this stylelint rule still triggers because I set a `height` and `width`.

What would be nice would be if stylelint saw the overridden declaration and warned me.

[2016-08-10 16:43] kevinSuttle opened #1789 "False positives for @apply mixins with root-no-standard-properties"
Allowing mixin definitions (for later use with `@apply`) inside of `:root` triggers a warning.

`root-no-standard-properties`

[code]

[code]

`7.1.0`

Visual Studio Code plugin

Maybe?

 "No warnings to be flagged."

"The following warnings were flagged:"

[code]

[2016-08-10 17:40] jeddy3 commented on #1787
I can reproduce this.

@evilebottnawi This is a bug with the `indentation` rule and I don't think it's related to `stylehacks`. @yisibl Would you like to contribute a fix (and corresponding test)?. It looks to be a be a simple one.

[2016-08-10 17:45] jeddy3 commented on #1789
@kevinSuttle Thank you for the detailed report.

I think the issue is [here](https://github.com/stylelint/stylelint/blob/master/src/rules/root-no-standard-properties/index.js#L28) i.e. we use `walkDecls` which is a deep iterator. Swapping this to `each` should resolve the issue. Would you like to contribute a fix?

[2016-08-10 18:02] jeddy3 commented on #1786
@kevinSuttle Can you open a separate issue for that please. It's definitely a short coming we should address.

SGTM.

Should we just document this limitation and then rely on the `stylelint-disable` commands, rather than adding an `ignoreSelector` option? That is what the `stylelint-disable` commands are there for, and this has the advantage of keeping the ignore command together with the specific

[2016-08-10 18:44] kevinSuttle opened #1790 "False positives when triggering property is overriden in declaration-block-no-ignored-properties"
Without `declaration-block-no-duplicate-properties`, `declaration-block-no-ignored-properties`  triggers because I set a `height` and `width` after a duplicate display property.

`declaration-block-no-ignored-properties`

[code]

Even though that 2nd `display` declaration overrides the first, this stylelint rule still triggers because I set a `height` and `width`.

[code]

`7.1.0`

CLI

No.

What

[2016-08-10 18:44] kevinSuttle commented on #1786
@jeddy3 Done. https://github.com/stylelint/stylelint/issues/1790

[2016-08-10 18:45] kevinSuttle commented on #1789
Swapping `rule.walkDecls(function (decl)` to `rule.each(function (decl) {` ?

[2016-08-10 18:52] kevinSuttle opened #1791 "False positives with CSS Custom Properties in selector-type-no-unknown"
Bug where `selector-type-no-unknown` doesn't understand CSS Custom Property syntax by default.

`selector-type-no-unknown`

[code]

[code]

`7.1.0`

CLI

Maybe?

"No warnings to be flagged."

e.g. "The following warnings were flagged:"

[code]

[code]

[2016-08-11 03:02] yisibl commented on #1787
@jeddy3 No problem!
This really should not be handed over to stylehacks.

I can fix the underscore hack problem, but should we consider more full CSS hackers?

* https://swordair.com/tools/css-hack-table/
* http://browserhacks.com/

[2016-08-11 08:58] KatiRasanen opened #1793 "Add 'never' option to 'block-opening-brace-newline-before' rule"
'Block-opening-brace-newline-before' has option 'always' but not option 'never'. I don't want to have the newline before the opening brace at all, but with current options I need to choose either 'never-single-line' or 'never-multiline'.

Why this rule also effects to whitespace before the opening brace? I'm using 'block-opening-brace-space-before' rule with option 'always' and this is a bit again

[2016-08-11 09:03] evilebottnawi commented on #1791
@kevinSuttle by default we should ignore this, why we should allow CSS Custom Properties?

[2016-08-11 09:05] evilebottnawi commented on #1787
@jeddy3 oh sorry

[2016-08-11 10:54] evilebottnawi commented on #1787
@jeddy3 what do you if we drop `stylehacks` and rewrite rule with https://swordair.com/tools/css-hack-table/, also rule can support `SCSS`, `Less` and etc. I can do this.

[2016-08-11 11:25] jeddy3 commented on #1790
@kevinSuttle Thanks for creating a new issue for this and writing it up.

I think we should enhance `declaration-block-no-ignored-properties` so that the last occurrence of a property is used. I'll mark this up as help wanted.

That's a separate issue for the `stylelint-config-standard` repo. Can you raise it there please?

[2016-08-11 11:29] jeddy3 commented on #1789
Yes, I think [that'll do it](http://api.postcss.org/AtRule.html#each).

[2016-08-11 11:40] jeddy3 commented on #1793
@KatiRasanen Thanks for the report.

If you're using `block-opening-brace-space-before: "always"` then you shouldn't use the `block-opening-brace-newline-before` rule.  `block-opening-brace-space-before: "always"` will ensure that there is always a single space before the open brace i.e. it'll disallow multiple spaces and newlines.

There's [a section](https://github.com/stylelint/stylelint/blob/m

[2016-08-11 11:40] #1793 closed

[2016-08-11 11:45] jeddy3 commented on #1791
@evilebottnawi I think this issue is that custom property sets (e.g.  `--ThemeAnimationStyles`) are being misclassified as *type selectors* in the `selector-type-no-unknown` rule.

I think we need a `isCustomPropertySet` util (like our preexisting `isCustomProperty` util), which this rule can use to ignore custom property sets outright.

[2016-08-11 12:15] evilebottnawi commented on #1791
@jeddy3 agree

[2016-08-11 12:53] evilebottnawi commented on #1780
@jeddy3 i refresh all shorthand properties in first message, feel free to edit and discussion.

[2016-08-11 13:04] davidtheclark commented on #1791
I'm a little confused here. Is this syntax in a spec?

[code]

[2016-08-11 13:07] davidtheclark commented on #1787
@evilebottnawi I'm really not interested in putting work into CSS hacks.

[2016-08-11 13:33] evilebottnawi commented on #1791
@davidtheclark not correct, not found in spec https://drafts.csswg.org/css-variables/
@kevinSuttle what are you using for this construction? `postcss` plugin?

[2016-08-11 13:34] evilebottnawi commented on #1787
@davidtheclark what about add `hasHack` to `stylehack` and rewrite rule on `walkDecl` and `walkAtRules`?

[2016-08-11 13:36] davidtheclark commented on #1787
@evilebottnawi Yeah, if you want to work on `stylehack`, then take advantage of that in `stylelint`, that's great. I just feel like we shouldn't add significant code to `stylelint` dealing with hacks.

[2016-08-11 13:41] evilebottnawi commented on #1787
@davidtheclark `stylehack` have little hacks and not support non-standard syntax, i can will work on this.
- `stylehack` ignore non standard syntax (it will be not simple)
- `stylelint` rewrite rule on `hasHack` and `walkDecl`, `walkAtRule` and etc (it will be simple)

[2016-08-11 13:46] kevinSuttle commented on #1791
https://github.com/postcss/postcss-custom-properties - which is to W3C spec as much as it can be.

[2016-08-11 13:49] davidtheclark commented on #1791
@kevinSuttle Quickly scanning the postcss-custom-properties README and the W3C spec draft it's trying to support, I do not see anything suggesting that your syntax is valid — that is, I don't see anything suggesting a custom property can define a *block*: it's always a single *declaration*, right? Or can you link to something that shows the block is ok?

[2016-08-11 13:51] kevinSuttle commented on #1791
Sorry, meant to post this one: https://github.com/pascalduez/postcss-apply

[2016-08-11 17:42] kevinSuttle commented on #1789
Opened PR: https://github.com/stylelint/stylelint/pull/1794

[2016-08-12 06:42] rgrjoh opened #1796 "Unable to load stylelint plugin (eg. stylelint-selector-bem-pattern)"
I’m running stylelint via the PostCSS plugin and it works fine.

However I am unable to load stylelint plugins. I’m mainly interested in using stylelint-selector-bem-pattern instead of postcss-bem-linter, but when I test another stylelint plugin the same problem occurs so I’m posting this here instead of in the stylelint-selector-bem-pattern repo since the problem doesn’t seem to be specific to th

[2016-08-12 18:10] davidtheclark commented on #1796
@rgrjoh Could you please tell us about your directory structure: where your config is, where your node_modules are, where you run the command from, etc.?

[2016-08-13 02:04] davidtheclark commented on #1791
@kevinSuttle According to the README of that it looks like you should have a colon in your declaration. What happens if you add one?

[2016-08-13 02:06] davidtheclark commented on #1790
I'm not sure this is really a bug. The `display: inline` declaration is still *ignored* — it's just ignored for two different reasons in this case.

[2016-08-13 02:08] davidtheclark commented on #1789
@kevinSuttle What happens if you use a colon after the property in the declaration, as it seems you're supposed to from the spec & plugin README?

[2016-08-13 02:10] davidtheclark commented on #1787
I don't really understand what you mean by this, but ok, will look at PR.

[2016-08-13 09:30] dryoma commented on #1386
Hey guys,

There is a discussion right now in a [PR to postcss-scss](https://github.com/postcss/postcss-scss/pull/40) about supporting nested properties. I believe stylelint would benefit from that as well, so I'd really like to hear your opinions on how exactly this should be implemented.

As a breif intro into the discussion: at the moment nested props groups are treated as Rules and are not dis

[2016-08-13 09:36] davidtheclark commented on #1386
I think probably the easiest thing for stylelint would be if the nested declarations were exploded into a set of regular declaration nodes with selectors matching what the compiled selector should be. No idea if that's good for other tools, though!

[2016-08-13 10:10] dryoma commented on #1386
@davidtheclark thanks! would you mind leaving a comment in the PR thread? The thing is I agree that it should be a Declaration being extended, and the author doesn't, so I was hoping other devs could give some pros or cons from their points of view.

[2016-08-13 10:52] m-allanson commented on #1796
@rgrjoh A stripped-down example repo that demonstrates the problem could also be useful.

[2016-08-13 13:43] gaidarenko commented on #1705
Let me add this option.

[2016-08-15 06:13] rgrjoh commented on #1796
See the attached minimised example for the directory structure. I run the grunt commands (in the example ”grunt postcss”) from inside the grunt directory.
[stylelint-selector-bem-pattern-test.zip](https://github.com/stylelint/stylelint/files/417591/stylelint-selector-bem-pattern-test.zip)

[2016-08-15 10:47] m-allanson commented on #1796
Thanks @rgrjoh, that's useful for investigation.

As a temporary workaround you should be able to move your `.stylelintrc` into the `grunt` folder, or write it as a `stylelint` property of your `package.json`. The [configuration docs](http://stylelint.io/user-guide/configuration/) have more information.

[2016-08-15 12:35] rgrjoh commented on #1796
@m-allanson I tried moving things around and it looks like `.stylelintrc` and `node_modules` need to be on the same level or stylelint won’t find its plugins.

I’d rather avoid moving either of them though. Any idea if it’s possible to get the configuration for that right, or does stylelint need changes for that?

[2016-08-15 14:08] davidtheclark commented on #1796
This makes sense. For the same reasons, you couldn't `require('some-module')` from a folder that is a parent to the `node_modules`, right? Because of this, it is common practice to always have `node_modules` at the root of the project. So I do not think this is a problem with stylelint.

If you can think of a way to improve documentation so others are not confused in the same way in the future, pl

[2016-08-15 14:08] #1796 closed

[2016-08-15 14:36] m-allanson commented on #1796
@davidtheclark This might be a bug with `configBasedir` not being respected.

My understanding is that with a directory stucture of:

[code]

where `.stylelintrc` is like:

[code]

and `lint.js` is like:

[code]

Then stylelint should load the plugin at `config/node_modules/stylelint-selector-bem-pattern`, but that doesn't appear to be happening. I'll open a new issue if I can nail this down with

[2016-08-15 16:52] evilebottnawi opened #1800 "Allow `plugins` have multiple bundles."
I have some projects based on pure `css`, `less` and `scss`. Be good have multiple bundles in `plugin`. Useful example this https://github.com/itgalaxy/eslint-plugin-itgalaxy. Example (`eslint` support this http://eslint.org/docs/user-guide/configuring#using-the-configuration-from-a-plugin):
[code]
or
[code]
It is allowed configure which need lint, quickly and easily add or remove plugins. Also it

[2016-08-16 05:41] rgrjoh commented on #1796
@m-allanson Right, that is the feeling I get as well, that changing `configBasedir` doesn’t do anything. Thanks for looking into it.

[2016-08-16 10:59] m-allanson opened #1801 "Using `buildConfig` with `options.configFile` causes `options.configBaseDir` to be ignored."
A bug where the `configFile` parameter is ignored by `buildConfig`. This happens when passing an options object containing both `configFile` and `configBasedir` properties to `buildConfig`.

e.g.
[code]

7.1.0

CLI, PostCSS plugin or Node API

No.

If `configBasedir` is specified, the paths in `configFile` should be treated as being relative to `configBasedir`.

The paths in `configFile` are alway

[2016-08-16 12:44] jeddy3 commented on #1790
Given:

[code]

I think it is the `width: 100px` declaration that is ignored, rather than the `display: inline` one.

In following example the second `display` declaration sets the property to `inline-block`, and so the `width: 100px` is *no longer* ignored. However, stylelint will currently warn that it is:

[code]

[code]

It's an odd edge-case though and I'm unsure whether we should bother addr

[2016-08-16 12:52] jeddy3 commented on #1705
Sgtm.

[2016-08-16 12:54] evilebottnawi commented on #1790
@jeddy3 i think be good add option `latestDecl` (need best name) for this behaviour.

[2016-08-16 13:05] #1698 closed

[2016-08-16 13:31] jeddy3 commented on #1800
Are we talking about plugins here or sharable configs?

Eslint bundles a config within core, so it makes sense that they would allow plugins to bundle their own configs too. We take a different approach with core and `stylelint-config-standard`, and with our plugins (and packs).

I think whether configs are *published* as separate packages or bundled into a single package is a config author decisi

[2016-08-16 13:36] ntwb opened #1804 "Publish Semantic Version Policy"
This stems from [a conversation](https://github.com/stylelint/eslint-config-stylelint/commit/e8ac8ffe761345771f69ef21e1c3cce309b6070a) just had regarding the release of `eslint-config-stylelint`, the conversation is primarily about whether it should have been released as a minor i.e. `3.1.0` release or a major i.e. `4.0.0`.

stylelint should document and adopt an organisation wide semantic version

[2016-08-16 13:45] evilebottnawi commented on #1800
@jeddy3 oh thanks, I have long tried to understand how to do it, it was nice to add documentation

[2016-08-16 13:45] evilebottnawi commented on #1800
@jeddy3 about second solution

[2016-08-16 14:42] web-padawan opened #1806 "Allow a trailing semicolon after the closing brace of a block in block-closing-brace-*-after"
CSS [custom property set](https://tabatkins.github.io/specs/css-apply-rule/#defining)  (used by `@apply` rules) is recognized as nested block due to its syntax, and so  triggers `block-closing-brace-newline-after` rule.

This should be configurable by some extra option, e.g. `ignoreCustomPropertySets`.

`block-closing-brace-newline-after`

[code]

[code]

`7.1.0`

CLI

Yes, it's related to a [Tab

[2016-08-16 14:49] davidtheclark commented on #1801
Thanks for tracking this down, @m-allanson. We'll just have to write a few tests to make sure we're 100% clear on the intended outcome, then make those pass.

[2016-08-16 14:51] davidtheclark commented on #1790
I don't think it's worth addressing. I can't think of any situation in which `display: inline; display: inline-block;` is not a mistake. @evilebottnawi if you want to show it can be done in a simple PR, though, go for it.

[2016-08-16 14:58] davidtheclark commented on #1804
@ntwb The ESLint semver policy looks good to me, looks like it will work for us.

I'm not particularly interested in a commit message policy. My impression is that ESLint does that mostly because they auto-generate a changelog from the messages. I think the way we've been working with the changelog has been ok, without the additional burden of commit format enforcement.

[2016-08-16 15:05] m-allanson commented on #1801
Sounds good. I've amended this issue to indicate that it's a bug and not a docs problem.

[2016-08-16 15:27] evilebottnawi commented on #1790
@davidtheclark soon see how to solve

[2016-08-16 17:44] jeddy3 commented on #1804
Sgtm. I think the only change to how we currently do things is:

We've tended to treat those as breaking. Happy to see them consistently treated a minor though.

The policy of major release for config changes e.g.

Is what we do at the moment with `stylelint-config-standard`.

Also sgtm.

[2016-08-16 21:43] m-allanson commented on #1806
I'd not heard of `@apply` before. Here's some info about it's current and possible future implementation status: https://www.chromestatus.com/feature/5753701012602880

[2016-08-16 23:05] ntwb commented on #1806
It would help if the CSS example actually included `@apply`, @web-padawan could you please update your example code.

[2016-08-16 23:27] ntwb commented on #1804
We may need to give the community a bit of a heads up that we are going to change/tweak our semantic versioning policy, even as much as we don't actually change our current policy until the `next-major` milestone, i.e. `8.0.0`

Agreed, I suppose that's our policy and it works quite well I think 👍

[2016-08-17 00:22] ntwb commented on #1804
Researching a couple of past issues we've had or had reported regarding stylelint's semver policy:

The above was released in a _patch_ release `6.3.3`, based on the proposed semver policy this would be a _minor_ release per `A bug fix in a rule that results in ESLint reporting more errors.` We acknowledged that this shouldn't have been a _patch_ release in the original report.

In this case with

[2016-08-17 08:07] lichenbuliren opened #1808 "Only the first type selector in a selector list is ignored when ignore: ["descendant"] is used in selector-no-type"
e.g. "A bug when multiple el selector with comma separated"

e.g. `selector-no-type`

e.g.

[code]

e.g. default config

e.g. `7.0.3`

e.g. "CLI with `stylelint --config myconfig *.css`"

e.g. "Yes, it's related to SCSS maps."

e.g. "No warnings to be flagged."

e.g. `Unexpected type selector   selector-no-type`

[2016-08-17 08:14] jeddy3 commented on #1804
Sgtm. I'll label and milestone this up accordingly.

Thanks for doing that. It all looks good to me.

Agreed.

Agreed.

[2016-08-17 08:27] jeddy3 commented on #1808
@lichenbuliren Thanks for writing up the report.

The `selector-no-type` rules seems to be behaving as expected i.e your code snippet gives the following warnings:

[code]

There are three instances of *type* selectors (2x `dt` and `dd`) in your code snippet and each is correctly flagged at the correct line and column.

Can you help us by explaining a little more about why you weren't expecting th

[2016-08-17 08:31] web-padawan commented on #1806
@ntwb I updated the CSS example.
The usage of `@apply` is [shimmed](https://github.com/Polymer/polymer/blob/master/src/lib/apply-shim.html) by Polymer library, for the specific use case of [theming](https://www.polymer-project.org/1.0/docs/devguide/styling#custom-css-mixins) custom elements.

[2016-08-17 08:38] lichenbuliren commented on #1808
if i change code like this:
[code]

[2016-08-17 08:41] lichenbuliren commented on #1808
if i change my code like this, it's works well:
[code]
my .stylelintrc.yaml is :

[code]

[2016-08-17 08:54] jeddy3 commented on #1808
@lichenbuliren Thanks. I understand now. You're using the `"ignore": ["descendant"]` optional secondary option.

Yes, there appears to be a bug.

Given:

[code]

And:

[code]

The following warning is erroneously flagged:

[code]

I'm going to flag this as a bug and label is as "help wanted". Would you like to [contribute](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rul

[2016-08-17 09:05] #1791 closed

[2016-08-17 12:06] gaidarenko commented on #1062
Let me implement this option. Mark this issue as a `wip`.

[2016-08-17 12:15] evilebottnawi commented on #1062
@gaidarenko fire :smile:

[2016-08-17 15:08] davidtheclark commented on #1804
👍

[2016-08-17 19:22] m-allanson commented on #1806
Thanks @web-padawan. I can see how this would be useful for working with Polymer. I think there's two approaches for this:

1. implement this functionality in a [plugin](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md)
1. add a new secondary option `ignoreSelector` (or similar) that accepts a string or regex pattern of selectors to ignore

Option 1 would probably

[2016-08-17 19:40] m-allanson commented on #1800
Should we close this or add some docs about publishing packages that bundle multiple stylelint configs?

[2016-08-17 20:12] rygine opened #1810 "Extended config path can only be in the config file path"
`7.1.0`

CLI with `stylelint *.css`

No

# Setup

Example folder structure

[code]

`.stylelintrc` is at the root level of the repository. My example button component is 2 levels deep.

Example `.stylelintrc`

[code]

I'm using the CLI inside of the `/button` folder with the following command:

[code]

This results in the following error:

[code]

stylelint looks for `stylelint-config-example` in

[2016-08-18 08:26] evilebottnawi commented on #1800
@m-allanson be good if we add docs and we can close this.

[2016-08-18 09:53] eviltwin opened #1811 "Do not compare selectors ending in pseudo classes to selectors ending in pseudo elements in no-descending-specificity"
With the following CSS:

[code]

and the following `.stylelintrc` in the same directory:

[code]

When I run the command: `stylelint Button.css`

I get the warning:

[code]

but, since `.Button::-moz-focus-inner` is actually selecting a pseudo element within the `.Button`, the rules don't conflict and I wouldn't expect to get a warning about specificity. (Unless my understanding of the CSS is flaw

[2016-08-18 14:06] davidtheclark commented on #1806
I'm not sure an option needs to be added to the existing rule ... we *could* just allow for a `;` before the expected newline, right? I think that would be simple and reasonable.

[2016-08-18 14:07] #1730 closed

[2016-08-18 14:11] web-padawan commented on #1806
@davidtheclark That makes sense. In fact, a {}-wrapped block of properties is one value, and so must be followed by ';' (which by default can only be omitted for the last declaration).

[2016-08-18 14:20] evilebottnawi commented on #1806
@stylelint/core I think it is good reason create `stylelint-cssnext`, which have rules for newest stuff. After some time, some rules may include in core. We support all specs, include `draft`, right @davidtheclark ? But some newest stuff sometimes only in discussion, but many already use this. `stylelint-cssnext` repo be good solution.

[2016-08-18 14:57] davidtheclark commented on #1806
@evilebottnawi A `stylelint-cssnext` repo would be a solution for creating rules that are specifically about these `@apply` blocks. I totally agree. But the request here is about making the core rule not deliver false positives on `@apply` blocks, not about creating a new, `@apply`-specific rule. So I think we should treat it like other issues with SCSS or Less syntax: we just avoid messing up on

[2016-08-18 15:04] evilebottnawi commented on #1806
@davidtheclark agree

[2016-08-18 15:56] #1705 closed

[2016-08-18 16:05] aaronbushnell commented on #1705
Thanks so much, @gaidarenko and @jeddy3!

[2016-08-18 16:19] jeddy3 commented on #1806
Sgtm.

[2016-08-18 16:28] #1615 closed

[2016-08-18 17:06] evilebottnawi opened #1813 "Rule idea: `selector-pseudo-class-order`"
Given:
[code]

Valid:
[code]

Invalid:
[code]

[2016-08-18 17:23] evilebottnawi opened #1814 "Add stylelint-disable-no-empty rule"
Disable empty `stylelint-disable` in files.
Invalid:

[code]

[code]

Valid:

[code]

[code]

Some people in the team think that turning off `stylelint`, review will be faster accepted. Be good if CI down for this bad guys :smiling_imp:

[2016-08-18 18:06] web-padawan commented on #1806
@jeddy3 One thing I'd like to say is that not only do we check for semicolon, but also for assignment.
Not any block should be allowed to have a `;`. See the difference:

This example below is valid:
[code]
And this one is not:
[code]
Actually I think this should be implemented as a plugin.

[2016-08-19 08:35] jeddy3 commented on #1806
I think the plan is just ignore/remove any trailing semi-colons from after the closing brace *before* checking for the newline or space. Doing a simple patch like this doesn't seem to have a negative effect on the responsibility of this rule i.e. checking for spaces or newlines after the closing brace. I think that's the path forward to close this issue.

We have a `no-extra-semicolons` rule, perh

[2016-08-19 09:11] jeddy3 commented on #1760
Done in #1770

[2016-08-19 09:11] #1760 closed

[2016-08-19 10:19] jeddy3 commented on #1814
`stylelint-disable-no-empty` sgtm as a core rule.

`stylelint-disable-no-abusive` as a plugin as `abusive` is [ambiguous](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#creating-new-rules).

[2016-08-19 10:19] jeddy3 commented on #1813
Sgtm.

[2016-08-19 10:23] evilebottnawi commented on #1814
@jeddy3 right, `stylelint-disable-no-empty` sgtm

[2016-08-19 10:28] jeddy3 commented on #1777
Any objections to labelling this up as "help wanted"?

[2016-08-19 10:31] evilebottnawi commented on #1777
sgtm

[2016-08-19 10:35] jeddy3 commented on #1781
Any objections if I label this as a plugin. Like [the eslint issue](https://github.com/eslint/eslint/issues/3521#issuecomment-135182643) I think this too broad for a core rule and doesn't adhere to our ["no overlapping functionality" criteria](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#let-everyone-know).

[2016-08-19 10:35] #1781 closed

[2016-08-19 10:36] jeddy3 commented on #1780
Sgtm.

[2016-08-19 10:37] evilebottnawi commented on #1781
@jeddy3 maybe good rule for `file-system-lint`

[2016-08-19 10:54] jeddy3 commented on #1786
I'm going to label as "help wanted". Lets just patch the `button` *type selector* behaviour and add caveat to the README saying use disable commands to work around other "Replaced Elements".

[2016-08-19 11:06] jeddy3 commented on #1813
Actually, this assumes a *selector list* of *compound selectors*.

It falls down when their are *complex selectors* and in the *selector list* e.g.

[code]

So, on second thoughts, this isn't a clear-cut as our current implementation of `declaration-block-properties-order` (which has one axis), as this has two axis. As such, it no longer meets our rule criteria.

Any objections if I mark this as a

[2016-08-19 11:14] jeddy3 commented on #1811
The [purpose](https://github.com/stylelint/stylelint/tree/master/src/rules/no-descending-specificity#no-descending-specificity) of this rule is to remove confusion, rather than conflict, by *aligning the source order and specificity*.

As `.Button:not(.disabled):active` has a specificity of `0,3,0` and `.Button::-moz-focus-inner` of `0,1,1` it makes sense that this rule recommends having `.Button:

[2016-08-19 11:21] jeddy3 commented on #1790
Agreed. @evilebottnawi I don't think an option is needed though. Just make checking the last occurrence of a property the default behaviour as it makes the rule more permissive my default.

Same. Although, maybe there's an argument for `display: inline; display: flex` fallback situation. Either way, if @evilebottnawi can easily patch it, then fine with me.

[2016-08-19 11:25] jeddy3 commented on #1779
Is that our goal?

Slowly helping out with `css-values` project means it could be ready in time for `8.0.0` - making our existing `no-unknown` rules redundant. Combining forces, rather than accelerating the development of stylelint, feels like a better trajectory to me.

[2016-08-19 11:29] evilebottnawi commented on #1779
@jeddy3 yep, you are right

[2016-08-19 11:29] #1779 closed

[2016-08-19 11:31] jeddy3 commented on #1813
That's a decision for the plugin.

Either way, such a rule isn't "finishable" and should be a plugin.

[2016-08-19 11:34] evilebottnawi commented on #1813
@jeddy3 How about to look for the order only for identical `selectors`.
Example above not trigger, because we see only for `.selector`. And the rule will be "finishable".

[2016-08-19 11:36] evilebottnawi commented on #1813
I've seen a few plugins to solve this problem, if there are several plugins, which means that it takes several people and it is logical to create a more general rule to help them.

[2016-08-19 11:43] evilebottnawi commented on #1813
Eslint ignore the message is full of community and this is not good, because of this there are many plugins, making about the same. I agree that the plugins is good, but should be the "golden section", they have to solve only individual problems, not to expand the core deficiencies. And so I believe that we should study in more detail questions with regards to the rules. Example good plugin `style

[2016-08-19 11:55] eviltwin commented on #1811
from the rule description:

To me, this strongly implies that the purpose of the rule is to align the source order and specificity of rules _that are likely to target the same element_. I'd argue that the last compound selector of `.Button::-moz-focus-inner` is actually `-moz-focus-inner` since the pseudo-element selector is targeting a child of `.Button`.

[2016-08-19 12:17] eviltwin commented on #1811
(also it seems that I don't have the appropriate permissions to reopen this issue, so could you please do so if my argument is persuasive enough?)

[2016-08-19 15:01] davidtheclark commented on #1811
@eviltwin I think your argument here would be better illustrated with a PR showing some test cases.

[2016-08-19 15:07] #1789 closed

[2016-08-19 15:07] #1776 closed

[2016-08-19 16:52] #1800 closed

[2016-08-19 16:56] richtong opened #1822 "Stylelint CLI produces invisible text with certain color schemes need a way to defect "colorization""
Ugh this is a tricky one, so I don't know if you should document or not, but with certain Ubuntu 14.04 color schemes (like solarized), the line number and column positions are invisible. The color scheme chosen for style lint's output is completely black

Is there a way to turn off the coloring of output

Add the following into a file

[code]

And here is the output:

[code]

But if you go to Ubun

[2016-08-19 16:57] evilebottnawi commented on #1759
@davidtheclark close?

[2016-08-19 16:57] evilebottnawi commented on #1822
@richtong use `--no-color`

[2016-08-19 18:27] richtong commented on #1822
Got it thanks. Would be great to document on the rradme page.

Thanks,
Rich

No! Try not. Do, or do not. There is no try. Master Yoda. Star Wars Episode V: The Empire Strikes Back

http://tongfamily.com | @richtong | http://fb.me/richtong1 | +1-206-963-9029

Sent from my iPhone

[2016-08-19 18:56] evilebottnawi commented on #1822
@richtong we have `--help` arguments in CLI.

[2016-08-19 19:34] #1759 closed

[2016-08-19 19:34] jeddy3 commented on #1759
Done in https://github.com/stylelint/stylelint/issues/1775

[2016-08-19 19:42] jeddy3 commented on #1822
Which is, in turn, mentioned in the [CLI userguide](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/cli.md).

I think we've got this one covered, so I'll close the issue.

[2016-08-19 19:42] #1822 closed

[2016-08-19 20:49] richtong commented on #1822
Thanks yes.

Thanks,
Rich

No! Try not. Do, or do not. There is no try. Master Yoda. Star Wars Episode V: The Empire Strikes Back

http://tongfamily.com | @richtong | http://fb.me/richtong1 | +1-206-963-9029

Sent from my iPhone

[2016-08-19 21:28] m-allanson commented on #1693
@laytong I'm unable to replicate this issue. Are you still running into this problem?

If you are, a slimmed down repo that demonstrates the problem would allow us to investigate further.

Here's a quick example repo you could use as a starter: https://github.com/m-allanson/stylelint-issue-1693

[2016-08-20 08:34] jeddy3 commented on #1813
I think I understand what you're saying.

However, I think we've mitigated the problem already by having a three layer system:

1. Core rules.
2. Blessed community plugins that appear on our curated plugin list.
3. Other community plugins.

Having the curated plugin list is key, as it allows us to draw a consistent line between rules and plugins without the fear that classifying something as a plu

[2016-08-21 12:21] slavanga commented on #1754
Another case of false positives occurs when using Sass functions (e.g round) in a media query:

[code]

[2016-08-21 20:20] evilebottnawi commented on #1813
@jeddy3 what do you think about check order only on the same `selector`?
We have `["hover", "active", "not"]`.
In example above:
[code]
We check order for `.selector` and `.child` separately and all valid.
Also valid:
[code]
All algorithm:
1. If we have first some equals selectors (`.selector`) with pseudo classes, check order.
2. If we have second equals selectors (`.child`) with pseudo classes,

[2016-08-22 15:56] evilebottnawi commented on #1516
@jeddy3 can give example with `always-shared-line` option?

[2016-08-22 19:40] VincentSmedinga commented on #1612
@jeddy3 I hadn’t noticed your further reply until now, thanks for clarifying.

[2016-08-22 22:06] nicothin opened #1828 "Ignore empty blocks in block-no-single-line"
new option

block-no-single-line

[code]

e.g.

[code]

7.1.0

CLI with `.stylelintrc`

Yes, it's related to LESS, Sass ect.

Add ignore option for selectors with `{}` (empty)

[2016-08-22 22:17] nicothin opened #1829 "max-nesting-depth: add ignore pseudoclasses, pseudoselectors and pseudoelements"
new option

`max-nesting-depth`

e.g.

[code]

e.g.

[code]

`7.1.0`

CLI with `.stylelintrc`

Yes, it's related to LESS, SCSS ect.

add option for ignore pseudoclasses, pseudoselectors and pseudoelements for calculate level nesting depth.

[2016-08-23 16:57] kevinSuttle opened #1830 "Ignore trailing semicolon after closing brace of custom property set block in no-extra-semicolons"
bug where `no-extra-semicolons` and `block-closing-brace-newline-after` are triggered on an `@apply` block nested in `:root`.

`no-extra-semicolons`, `block-closing-brace-newline-after`

[code]

[code]

`7.1.0`

Sublime plugin

Not that I know of.

"No warnings to be flagged."

`no-extra-semicolons`
`block-closing-brace-newline-after` triggered

[2016-08-24 03:32] #1808 closed

[2016-08-24 12:36] paazmaya opened #1831 "Rule idea: disallow nesting inside a mixin"
A new rule that would disallow using nesting inside a mixin.

Might be quite specific but as more and more preprosessors are being supported, why not.

For example this kind of CSS would trigger warning:

[code]

[2016-08-24 12:38] gaidarenko commented on #1736
Let me add this option. Label this issue as `wip`.

[2016-08-24 12:48] jaydenseric commented on #1693
I have configured `.stylintignore` to ignore `/bundle`, and this works when running `stylelint '**/*.css'` from the project root.

For some reason, opening `/bundle/bundle.css` in Atom with [steelbrain/linter](https://github.com/steelbrain/linter) and [AtomLinter/linter-stylelint](https://github.com/AtomLinter/linter-stylelint) installed it lints the file. Is it because of the cwd issue, perhaps t

[2016-08-24 13:19] m-allanson commented on #1736
@gaidarenko 👍

[2016-08-24 13:22] evilebottnawi commented on #1831
@paazmaya we create rules only for standard `css` and future standard `css`, not `less`, `scss` and etc. Use plugin for this feature or we can create `stylelint-less` as https://github.com/kristerkari/stylelint-scss

[2016-08-24 14:17] paazmaya commented on #1831
Thank you for the clarification.

[2016-08-24 14:17] #1831 closed

[2016-08-25 09:37] daviddiasfront opened #1833 "LESS variables are parsed as rules and not variables"
I'm using stylelint on LESS files, and it seems not recognize variables in LESS. I have a warning when I parse a LESS file with variables:

[code]
My terminal prints:

[code]

[2016-08-25 10:46] m-allanson commented on #1833
@daviddiasfront You'll need to tell stylelint to parse your CSS files as Less. You can do this by naming the files with`.less` or specifying the syntax in the stylelint options. See the [CSS processors section of the docs](http://stylelint.io/user-guide/css-processors/#parsing-non-standard-syntax) for more info.

If that doesn't fix the problem can you please format your issue using the GitHub iss

[2016-08-25 21:33] ideadapt opened #1834 "Create CSSLint to styleling migration guide"
Because of https://github.com/CSSLint/csslint/issues/668 I think its best to have a document that explains end users how to migrate. I started with a markdown sketch. Maybe we can create a wiki page based on it, so that we can continuously update it while the [implementation](https://github.com/stylelint/stylelint/milestone/22) is in progress.

What do you think?

Here it goes:

---

# Migrating f

[2016-08-26 00:18] in-in opened #1835 "Newline after the semicolons of declaration blocks not work if only one declaration exist"
Bug
[code]
I expected warning: `Expected newline after ";"`

`"declaration-block-semicolon-newline-after": "always"`

[code]

[code]

stylelint@7.1.0

"node scripts with PostCss"

No

I expected warning: `Expected newline after ";"`

No warnings

[2016-08-26 06:47] daviddiasfront commented on #1833
Thanks @m-allanson, indeed, I forgot I need to add the postcss-less parser before putting using stylelint. Here is my code working in my environment, where I added ```{ syntax: less }``` at the end of postcss([]).

[code]

Thanks again!

[2016-08-26 06:47] #1833 closed

[2016-08-26 08:10] m-allanson commented on #1828
Maybe this could be the default behaviour for the rule?  There's similar behaviour for some other rules, which was discussed here: https://github.com/stylelint/stylelint/issues/160. It wouldn't be a breaking change as it makes the rule more permissive.

Otherwise adding this as an option also sounds good.

[2016-08-26 08:56] jeddy3 commented on #1829
@nicothin Thank for your suggestion.

Unlike the [recent addition](https://github.com/stylelint/stylelint/pull/1805/files) of `ignoreAtRules`, where the use case was things like `@print` and `@supports`, this request seems to be more about specificity. As such, I'm closing this in favour of advocating the use of `selector-max-specificity` and/or `selector-max-compound-selectors`.

I think inspecti

[2016-08-26 08:56] #1829 closed

[2016-08-26 09:17] nicothin commented on #1829
@jeddy3
use of `selector-max-specificity` and/or `selector-max-compound-selectors` to resolve
[code]
but to prohibit the
[code]
how?

I think this is a job for `max-nesting-depth` )

[2016-08-26 09:23] jeddy3 commented on #1834
@ideadapt Thanks for writing this up.

We've already created separated issues [to track](https://github.com/stylelint/stylelint/milestone/22) the changes to core. The rest of the work needs to happened outside of the stylelint org, likely in a plugin called `stylelint-csslint`. I think the migration guide your propose it a great idea and it belongs there.

@ideadapt If you'd like to lead this init

[2016-08-26 09:23] #1834 closed

[2016-08-26 09:43] jeddy3 commented on #1835
@in-in Thanks for the report.

I can confirm this behaviour.

@stylelint/core I'm thinking this might be a documentation thing.

If we change the behaviour of `declaration-block-semicolon-newline-after` to also check *the last semicolon* in a declaration block then it's going to tread on the toes of the `block-closing-brace-*-before` rules.

Way way back, I recall we resolved another issue this wa

[2016-08-26 09:46] jeddy3 commented on #1833
@daviddiasfront FYI, we [recommend](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md#how-do-i-lint-using-my-task-runner-of-choice) using [`gulp-stylelint`](https://github.com/olegskl/gulp-stylelint) for better reporting.

[2016-08-26 09:51] jeddy3 commented on #1828
Sgtm.

How odd that you dug up #160... I was just recalling that issue over in https://github.com/stylelint/stylelint/issues/1835 :) Nice to see an old three digit issue number pop up.

[2016-08-26 09:59] jeddy3 commented on #1829
I don't understand. If you ignore the pseudo class, isn't the depth of `.bar` the same for those two examples?

[2016-08-26 10:22] #1762 closed

[2016-08-26 10:43] jeddy3 commented on #1830
The `block-closing-brace-newline-after` stuff is a dupe of https://github.com/stylelint/stylelint/issues/1806. Lets makes this issue about `no-extra-semicolons`.

@stylelint/core We should probably update `no-extra-semicolons` so that it doesn't flag a single semicolon following a closing brace *of a custom property set block*. @evilebottnawi As you're closest to this rule, do you think this is ca

[2016-08-26 10:46] jeddy3 commented on #1813
Yes, but as a plugin.

[2016-08-26 10:53] ArmorDarks opened #1837 "Add support of `font-display` property"
[code]

returns

[code]

That property still in draft, but already supported by Chrome.

[Details](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display).

[2016-08-26 10:57] ArmorDarks opened #1838 "Add support of `text-size-adjust` property"
[code]

returns

[code]

I agree that it's non-standard property, but it's used by mobile browsers.

[Details](https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust).

[2016-08-26 11:35] evilebottnawi commented on #1813
@jeddy3 okey :sob:

[2016-08-26 11:35] #1813 closed

[2016-08-26 11:40] evilebottnawi commented on #1830
@jeddy3 let's create `isCustomSetsOfProperties` util(may be best name) and not trigger if it is?

[2016-08-26 11:43] evilebottnawi commented on #1837
@ArmorDarks `property-no-unknown` use https://github.com/betit/known-css-properties, please not create issue here, create this in https://github.com/betit/known-css-properties repo. Thanks for helping us! :smile:

[2016-08-26 11:43] #1837 closed

[2016-08-26 11:43] evilebottnawi commented on #1838
@ArmorDarks https://github.com/stylelint/stylelint/issues/1837#issuecomment-242711853

[2016-08-26 11:43] #1838 closed

[2016-08-26 11:53] ArmorDarks commented on #1837
My bad, thanks for pointing to proper repository.

[2016-08-26 13:21] daviddiasfront commented on #1833
Thanks @jeddy3 for your advice, it exist any particular reason? Performance, maintainability... ?

[2016-08-26 15:31] jeddy3 commented on #1830
Sgtm to me.

`isCustomPropertySet(rule)`

[2016-08-26 15:34] jeddy3 commented on #1833
Better reporting i.e. access to stylelint's built-in reporters which handle things like invalid options and deprecation warnings better.

[2016-08-26 17:28] kevinSuttle commented on #1830
:thumbsup:

[2016-08-26 18:45] in-in opened #1842 "block-closing-brace-newline-after does not flag when the space after brace"
Bug
`block-closing-brace-newline-after` does not flag when the space after brace

`"block-closing-brace-newline-after": "always"`

[code]

or

[code]

[code]

stylelint@7.1.0

node scripts with PostCss

No

I expected warning

No warning

[2016-08-26 18:50] jeddy3 opened #1843 "Use remark presets"
Ref: https://github.com/stylelint/stylelint/pull/1826#issuecomment-241642138

[2016-08-26 19:43] jeddy3 commented on #1842
@in-in I can't replicate this one I'm afraid. We also [have tests](https://github.com/stylelint/stylelint/blob/master/src/rules/block-closing-brace-newline-after/__tests__/index.js#L45-L55) for your two examples.

Can you paste your config and code snippet into the [demo](http://stylelint.io/demo/) and try there. If you don't get any warnings can you create a PR with failing tests please, as it'd

[2016-08-26 20:44] in-in commented on #1842
Yes, you're right
Into demo it works ok
But same css and json do not work on my machine
Sorry for this false issue

[2016-08-26 20:44] #1842 closed

[2016-08-27 08:37] jeddy3 opened #1845 "Add shadow DOM pseudo classes and elements to selector-pseudo-*-no-unknown"
Spec ref: https://drafts.csswg.org/css-scoping-1/#shadow-dom
SO ref: https://stackoverflow.com/questions/38997310/angualar2-stylelint-unexpected-unknown-pseudo-class-selector-host

[2016-08-27 09:00] movie4 opened #1847 "Expected indentation of spaces"
Hello!

How to remove 'Expected indentation spaces" warning?

See code and warning below

Thanks

[code]

.stylelintrc
[code]
![screen shot 2016-08-27 at 13 57 38](https://cloud.githubusercontent.com/assets/1005998/18026385/66c6161e-6c5e-11e6-89ac-3d4c5bc1af36.png)

[2016-08-27 09:15] jeddy3 commented on #1847
@movie4 Use `null` to turn off the indentation rule i.e. `indentation: null`. See: [configuration guide](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#rules).

The `hierarchicalSelectors` option was removed in `7.0.0`. See: [release planning](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/release-planning.md).

If you wish to use that style

[2016-08-27 09:15] #1847 closed

[2016-08-27 09:36] movie4 commented on #1847
@jeddy3
Thanks for quick response!

[2016-08-27 09:44] heatwaveo8 opened #1848 "Add ignore: ["after-declaration"] option to declaration-empty-line-before"
We have the `block-closing-brace-empty-line-before` rule already available to us to detect empty lines at the end of multi-line blocks. I haven't found a related rule to detect empty lines specifically at the top of multi-line code blocks.

For this, we'd detect the first newline of the block and, if not allowed, throw an error if the next line is empty.

As it pertains to this request, the follow

[2016-08-27 11:48] nicothin commented on #1829
@jeddy3 exactly!
I want to calculate the depth of nesting without the influence of pseudoclasses, pseudoselectors and pseudoelements.
In the two examples I would like to have the same count the nesting.

[2016-08-27 12:00] evilebottnawi commented on #1848
@heatwaveo8 please format you issue as template, thanks :smile:

[2016-08-27 15:06] jeddy3 commented on #1848
@heatwaveo8 You can achieve your desired code style with the likes of `declaration-empty-line-before`. Don't worry, it's not just you and other people have be caught out by this before. As such, I've [a pending PR](https://github.com/stylelint/stylelint/pull/1850) to update our documentation to explain things a bit more. Have a look through that PR and hopefully things will be clearer.

As @evileb

[2016-08-27 15:14] jeddy3 opened #1851 "Stricter enforcement of issue template (for non core members)"
We're still getting (non-core member) issues that don't use the template.

Do we want to be a bit stricter in our enforcement of using the template? e.g. update the beginning of the template to read:

[code]

Then we close non-conforming issues with a stock response e.g. `Please use the issue template".

Parsing issue using the template is so much easier than those that don't, so I'd be in favour

[2016-08-27 15:36] jeddy3 commented on #1777
@silverwind Would you like to contribute this rule?

[2016-08-27 15:43] silverwind commented on #1777
I'll try.

[2016-08-27 16:12] m-allanson commented on #1851
SGTM, I agree it'd be useful to try and improve the quality of submitted issues.

There's a long discussion about triaging issues at https://github.com/eslint/eslint/issues/5205, I thought one of the most interesting responses was this one: https://github.com/eslint/eslint/issues/5205#issuecomment-183212765.

While stylelint has far fewer issues to deal with there are two ideas from that discussio

[2016-08-27 16:50] jeddy3 commented on #1851
That discussion is a great read! Thanks for pointing me in its direction.

I agree that one response was particular interesting.

This is a great idea!

This sounds good to me. Any ideas if there's a bot we can plug in, or would we have to write something ourselves?

---

Adding a section the README definitely feels like a great first step. I think the bot thing now feels like a nice-to-have, and

[2016-08-27 17:52] heatwaveo8 commented on #1848
Thanks @jeddy3 for your help. I am still having trouble finding the right solution for this. You can take a look at my revised comment above and see a better code snippet that clarifies my expectations.

At this URL:
http://stylelint.io/user-guide/rules/declaration-empty-line-before/#first-nested

I have found an example that seemed to cover this, but since it is dependent on an "always" or "never

[2016-08-27 19:01] #1843 closed

[2016-08-27 19:13] davidtheclark commented on #1851
If you'd like to look into writing a bot, that seems fine to me. I'd be happy with the initial idea, too, of just manually closing issues with a request to please use the template.

I agree that it's an interesting comment. However, I think that guy is a little too forgiving of users. If a user is not going to bother reading a clearly marked and linked CONTRIBUTING document, why would an extra sec

[2016-08-27 19:14] davidtheclark commented on #1835
@jeddy3 Your suggestion sounds fine to me.

[2016-08-27 19:20] davidtheclark commented on #1811
On thinking about this a little I believe I'm probably in agreement with @eviltwin. Maybe we should make the compound selector include any pseudo-elements in the selector.

I think that this would make the rule *more lenient* so would not require a major version bump. That's nice.

I will label this issue as help wanted. @eviltwin if you'd like to see this feature soon, please consider contributin

[2016-08-27 19:25] davidtheclark commented on #1751
@woble Can you be specific about what you'd like the rule to do?

Meanwhile, I'm going to label this as a documentation issue.

[2016-08-27 19:32] davidtheclark opened #1853 "Add `--config-base-dir` option to CLI"
I'm not sure why we don't have this option implemented in the CLI yet. Probably just an oversight?

[2016-08-27 19:34] davidtheclark commented on #1810
@rygine Thanks for the thorough explanation.

Yes, this is. I believe you should be able to accomplish what you want by using the `configBaseDir` option, as the prompt suggested. Unfortunately, it looks like that option is not available in the CLI! I opened an issue for that: #1853.

Awesome that you offered to submit a PR for this. I would be open to the change if the implementation is relatively

[2016-08-27 21:26] davidtheclark commented on #1777
`selector-no-invalid` seems like a super general name. I think we might want to limit the scope of the rule by saying precisely what invalid pattern is being caught — otherwise it's kind of implied that the rule should catch any form of invalidity.

[2016-08-27 22:46] in-in commented on #613
How to use it with postcss-cli?
I get `stylelint is not a PostCSS plugin [postcss-import]`
[code]

[2016-08-28 04:30] jeddy3 commented on #1848
Oh, I see... you *sometimes* separate your declarations with an empty line:

[code]

What we need is an option to ignore declarations that *come after* other declarations e.g.

[code]

Would allow things like:

[code]

But disallow theses:

[code]

@heatwaveo8 Would you like to contribute this option? It would be a great first contribution as it's a small self-contained piece of work. There is alr

[2016-08-28 04:41] #1845 closed

[2016-08-28 05:08] jeddy3 commented on #1851
SGTM.

Lets go with the README update and manually closing issues (with a pre-warning in the issue template) for now.

We can always revisit the bot idea if these changes aren't effective.

[2016-08-28 05:30] jeddy3 commented on #1811
Sgtm.

Pseudo-elements [seem to be a bit special](https://drafts.csswg.org/selectors-4/#pseudo-element-attachment). I think treating them in the way your described makes sense.

[2016-08-28 05:37] jeddy3 commented on #1777
Agreed. I had the same thought myself and I was going to come back to this today :)

`selector-no-invalid-commas` or `selector-no-extra-commas`?

[2016-08-28 05:52] jeddy3 opened #1857 "Release 7.2.0"
Any objections to releasing 7.2 at the end of this weekend?

[2016-08-28 06:32] heatwaveo8 commented on #1848
Right, that's exactly the use case. I think having ignore options for the custom property and custom rule (and others?) would be good as well if they're not already there, to provide flexibility.

Sure I'd be happy to give it a go. Thanks for the references, I'll go through them.

[2016-08-28 06:56] woble commented on #1751
My understanding of the current behaviour, correct me if I am wrong, is that the rule ...
1. ... ignores vendor prefixed properties and makes own decision of where that property should be, and ...
2. ... makes assumption that for example if `mask` is specified in the rule and `mask-image` is not, `mask-image` should come after `mask` when declared. Same incorrect behaviour applies to when a random

[2016-08-28 07:00] jeddy3 commented on #1848
Fantastic! Good luck.

We tend to only add functionality after there has been a real-world request for it. Sometimes adding empty lines between *custom properties* seems like an unusual use-case compared to between declarations. So, I reckon we just focus on adding the option to `declaration-empty-line-before` for now.

[2016-08-28 08:08] perrin4869 opened #1858 "Minus operator spacing issue with function-calc-no-unspaced-operator"
In the `calc` function, there is an error when using the minus operator to negate a variable, i.e., `calc(-var(--foo))` instead of `calc(-1 * var(--foo))`

function-calc-no-unspaced-operator

[code]

e.g.

[code]

7.1.0

Using `gulp-stylelint`:

[code]

Pass with no problem

Get the following error:

[code]

Not sure what the best way to solve this issue is however...

[2016-08-28 08:49] jeddy3 commented on #1858
@perrin4869 Thanks for writing up the issue using the template.

Is `calc(-var(--foo))` valid syntax? I couldn't find any examples of it in the specs?

As an aside, is the explicitness of `calc(var(--foo) * -1)` not preferred?

[2016-08-28 08:53] perrin4869 commented on #1858
@jeddy3 Really not sure if it's valid sytax, but it compiles with `cssnext` postcss plugin like you'd expect, so I am using it.

That being said, `-var(--foo)` is explicit enough in my opinion. You wouldn't write `3 * (-1)` instead of `-3`. I guess it's more declarative and cleaner in my opinion...

[2016-08-28 11:18] silverwind commented on #1777
I don't think "commas" should really be in the name. Ideally, I'd also like it to catch a empty selector like

[code]
Maybe `selector-no-empty`?

[2016-08-28 12:06] perrin4869 commented on #1858
hm... I could put together a PR soon enough. Maybe the best way to proceed is to check if after a `minus` or a `plus` there is a `var` function, and if so, set `afterOk` and `beforeOk` to `true`?

[2016-08-28 17:13] davidtheclark commented on #1751
@woble Thanks for the explanation, but I think it would be made significantly more concrete and clear if you provide some example code with expected warnings. I'm still not totally sure what you *do* want the rule to do.

[2016-08-28 17:26] davidtheclark commented on #1858
@perrin4869 @jeddy3 I do not believe it is valid syntax, and I think if a PostCSS plugin compiles it that is a mistake on the plugin's part. Let us know if you find evidence in the spec that this is in fact valid.

[2016-08-28 17:26] #1858 closed

[2016-08-28 17:27] davidtheclark commented on #1857
Sure. I think I'm going try to close out an issue or two today, so maybe hold off the release until Monday morining

[2016-08-28 17:50] davidtheclark commented on #1801
Closed by #1821.

[2016-08-28 17:50] #1801 closed

[2016-08-28 18:18] #1851 closed

[2016-08-28 18:18] #1835 closed

[2016-08-28 18:24] davidtheclark commented on #1804
@jeddy3 Why did you mark this as v8? Why not implement it now?

[2016-08-28 18:27] davidtheclark commented on #1693
I'm going to close this for now. The issue has become confused with side issues and I think we still don't have very exact clarity on what's going on. If anyone would like to pursue the issue further, please create a more focused issue *and some failing test cases* to illustrate that the issue is not specific to the setup of your project.

[2016-08-28 18:27] #1693 closed

[2016-08-28 18:29] davidtheclark commented on #1777
I don't think there is enough clarity in what exactly this rule is intended to enforce. We need to articulate that before anybody starts trying to build it. What are the failing cases, what are the passing cases, and what is the logic that distinguishes between them?

[2016-08-28 18:35] #1748 closed

[2016-08-28 18:37] jeddy3 commented on #1857
Cool with me. It's a Bank Holiday weekend here, so Monday works :)

[2016-08-28 18:40] #1853 closed

[2016-08-28 18:48] davidtheclark commented on #1857
These PRs are all I really plan to do today, so once we've merged everything we can, let's release.

BTW, I will be offline for a couple of weeks for a vacation (it's been a while!). So apologies in advance for delayed reaction time.

[2016-08-28 18:49] jeddy3 commented on #1804
@ntwb [said](https://github.com/stylelint/stylelint/issues/1804#issuecomment-240270369):

I think the rationale is that tweaking our policy before `8.0.0` could lead to *unexpected* broken builds. We can use the `8.0.0` release to *notify everyone* of the change in policy, and the recommendation that update their version range to a tilde.

I guess the validity of that approach is up for discussion

[2016-08-28 18:50] davidtheclark commented on #1804
Sounds good. I forgot about that rationale, my mistake.

[2016-08-28 19:02] jeddy3 commented on #1777
Agreed.

I think @silverwind's suggestion of `selector-no-empty` is perhaps on the right path.

- Name: `selector-no-empty`
- Description: "Disallow empty selectors"
- Extended description/logic: "Empty selectors (by themselves or within a selector list) invalidate a rule. This rule splits the selector list on `,` and anything part of zero length or contains only whitespace is consider empty. Ever

[2016-08-28 19:07] jeddy3 commented on #1857
Sgtm.

Fantastic! Have an awesome time :)

I'm starting a new contract on Tuesday and so I'll likely have a couple of quiet weeks on stylelint too.

[2016-08-28 19:18] silverwind commented on #1777
That looks great, @jeddy3, just what I imagined. The intention is to catch the common error of empty selectors (which are often introduced by extra commas).

A possible future `selector-no-invalid` could supersede and replace `selector-no-empty` eventually, but I estimate that determining if a selector is valid is a **major** undertaking.

[2016-08-28 19:19] davidtheclark commented on #1777
Great, thanks! I'll setup the labels.

[2016-08-28 19:20] jeddy3 commented on #1814
- Name: `stylelint-disable-no-empty`
- Description: "Disallow empty `stylelint-disable` comments"
- Extended description: "When `stylelint-disable` comments are empty they disable *all* the rules in the disable range. This rule encourages disabling *individual* rules."
- Primary options: `true`
- Secondary options: none
- Message: `Unexpected empty `stylelint-disable` comment`
- Section: "`styleli

[2016-08-28 19:41] #1811 closed

[2016-08-28 20:09] #1735 closed

[2016-08-28 20:18] jeddy3 commented on #1592
Done in https://github.com/stylelint/stylelint/issues/1784

[2016-08-28 20:18] #1592 closed

[2016-08-28 20:19] jeddy3 commented on #1062
Done in e0b1d22daa08fcdfd4a722a73a5f7ccc5cd1de16 and e0b1d22daa08fcdfd4a722a73a5f7ccc5cd1de16.

[2016-08-28 20:19] #1062 closed

[2016-08-28 20:37] jeddy3 commented on #1857
@davidtheclark Right, I think we're looking good. Anything else you want to get in or shall I release?

[2016-08-28 20:37] davidtheclark commented on #1857
Seems great to me. Release away.

[2016-08-28 21:34] jeddy3 commented on #1857
Done! 🎉

- [x] released `stylelint@7.2.0`
- [x] released `stylelint-config-standard@13.0.0`
- [x] updated stylelint.io
- [x] updated stylelint.io/demo

@davidtheclark Would you mind tweeting the release?

Thank you to everyone who contributed to this release!

[2016-08-28 21:34] #1857 closed

[2016-08-29 08:16] ntwb commented on #1851
This is great, as I read the PR before this issue, see also https://github.com/stylelint/stylelint/pull/1855#issuecomment-243052498, this gist of that is I've now created a ["saved reply"](https://help.github.com/articles/working-with-saved-replies/) with the following content:

[code]

[2016-08-29 08:24] jeddy3 commented on #1749
@ntwb Thanks for sharing your thoughts!

Yep, that was my bad. I knew I was heading back to London for work and so I tried to get as much done before I did. I think the last couple of weeks have been at a far more sustainable pace, and I think the pace will continue to slow.

The positive aspects you highlight of slowing the pace are great. A number of first-time contributors tackled issues for `7

[2016-08-29 08:51] evilebottnawi commented on #1592
@jeddy3 Thanks for assistance in completing PR :smile:

[2016-08-29 09:56] ntwb commented on #1857
p.s. Thanks y'all, and as I have been this past couple of weeks, I expect to be quite busy the next few weeks also as I've lots of WordPress work on my plate.

Enjoy your holiday David, enjoy your new contract Richard 🎉

[2016-08-29 13:40] daviddiasfront commented on #1833
Thank you very much @jeddy3!

[2016-08-29 14:54] evilebottnawi opened #1867 "Error: `TypeError: Cannot convert undefined or null to object` use `--report-needless-disables`"
With CLI argument `--report-needless-disables`.

does not matter

Need investigation

does not matter

e.g. `7.2.0`

CLI

SCSS

No warnings to be flagged

[code]

[2016-08-29 15:10] evilebottnawi commented on #1867
Bugs here https://github.com/stylelint/stylelint/blob/master/src/needlessDisables.js#L8, some files can not have `disabledRanges` and `rangeData` is `undefined`.

[2016-08-29 15:39] evilebottnawi commented on #1867
`rangeData` is `undefined` only for ignored files https://github.com/stylelint/stylelint/blob/master/src/standalone.js#L140

[2016-08-29 16:44] evilebottnawi commented on #1830
@jeddy3 @kevinSuttle not resolve, `postcss` parser invalid:
[code]
to
[code]
`--foo: { margin: 0; }`
to
[code]
`--bar: { padding: 0; }`
to
[code]
Problems in `raws`, `root` have `after` - `; `. But first `custom set` not have semicolon in `raws`, second have semicolon in `raws.before`.

If we use
[code]
Second `custom set` will be have semicolon in `raws.after`.
I don't know is this normal behavio

[2016-08-29 19:03] epmatsw opened #1870 "False positives with SCSS Nested Properties in property-no-unknown"
A bug where valid CSS is being reported as an issue.

`property-no-unknown`

e.g.

[code]

stylelint-config-standard 13.0.0

7.2.0

Scripted via npm (`stylelint -q -s 'scss' "src/**/*.css"`)

Yes, SCSS nested properties.

No errors raised.

The following errors were flagged:

[code]

[2016-08-30 04:25] perrin4869 commented on #1858
ok yeah, looking at the document you are probably right. If `calc(var(--foo)em)` doesn't work as opposed to `calc(var(--foo) * 1em)`, I guess the same applies to `-var(--foo)`. Maybe I should raise an issue with `cssnext`. Thanks!

[2016-08-30 06:34] evilebottnawi commented on #1870
I think we should ignore this construction, `stylelint-scss` can write rule for check this.

[2016-08-30 07:23] #1867 closed

[2016-08-30 07:34] jeddy3 commented on #1870
@epmatsw Thanks for report and for using the template.

@evilebottnawi Yes. Unlike nested selectors, I don't think we should resolve nested properties in core as it's a non-standard language extension.

As always, lets work out a way to ignore this construct so this rule doesn't trip up on it.

Shall we add a conditional to [`isStandardSyntaxProperty`](https://github.com/stylelint/stylelint/blob/m

[2016-08-30 07:40] evilebottnawi commented on #1870
@jeddy3 sgtm

[2016-08-30 07:58] #1787 closed

[2016-08-30 08:32] alexander-akait opened #1871 "Apply selector-pseudo-class-*-list rules to at-page"
- [x] `selector-pseudo-class-no-unknown`
- [x] `selector-pseudo-class-disallowed-list`
- [ ] `selector-pseudo-class-allowed-list`

https://developer.mozilla.org/en-US/docs/Web/CSS/:first
https://developer.mozilla.org/en-US/docs/Web/CSS/:right
https://developer.mozilla.org/en-US/docs/Web/CSS/:left
https://developer.mozilla.org/en-US/docs/Web/CSS/:blank

cf https://github.com/stylelint/stylelint/blo

[2016-08-30 16:41] octoxan opened #1873 "selector-descendant-combinator-no-non-space lags in Atom plugin"
A bug where Atom lags like mad while selector-descendant-combinator-no-non-space is not set to null.

selector-descendant-combinator-no-non-space

The rule files on every keypress until a {, so the following would all throw the error and lag like crazy.

[code]

[code]

7.2.0

Atom plugin

No

The editor to not lag like crazy.

The editor lags like crazy (and no other rules ever did this, computer

[2016-08-30 16:59] Arcanemagus commented on #1873
Just as an FYI, I'm unable to reproduce this, when typing the above all I get is a "Unknown word (CSSSyntaxError)" message.

[2016-08-30 17:05] evilebottnawi commented on #1873
@octoxan atom plugin give setup delay?

[2016-08-30 17:09] Arcanemagus commented on #1873
@evilebottnawi Only the first lint run should have a delay (as it is loading `stylelint` for the first time then), all subsequent calls should be just the lint time.

[2016-08-30 17:12] evilebottnawi commented on #1873
@Arcanemagus maybe add option to `delay`, i am not use `atom`, use `ItelliJ Idea`, here all linters have some delay.

[2016-08-30 17:17] Arcanemagus commented on #1873
@evilebottnawi I'm not sure what you mean... do you mean delay between typing and running the linter? That's handled in the `linter` package, and isn't really relevant to this issue as @octoxan is saying it runs fine if `selector-descendant-combinator-no-non-space` is disabled, but lags horribly if it is enabled.

[2016-08-30 17:35] octoxan commented on #1873
Actually... it seems to only lag in some of my projects but not in others. Same exact stylelintrc file and same exact settings. Both in an scss file...

[2016-08-30 17:39] evilebottnawi commented on #1873
@octoxan can you create testing repo?

[2016-08-30 18:55] Arcanemagus commented on #1873
Just pushed out v3.2.1 of the Atom plugin, it adds timing instrumentation!

If you launch Atom from a terminal with the `--dev` option, then it will show exactly how long `stylelint` took to run, see https://github.com/AtomLinter/linter-stylelint/pull/259 for an example.

Hopefully that helps in tracking this down 😉.

[2016-08-30 19:04] evilebottnawi commented on #1873
@Arcanemagus As I understand it is a long time(in second? each run takes so long)? it is related only to this rule?

[2016-08-30 19:25] Arcanemagus commented on #1873
No, that's in ms and the "Stylelint" time is the time it takes to call `stylelint.lint(options)`.

[2016-08-30 19:28] evilebottnawi commented on #1873
@Arcanemagus thanks for helping

[2016-08-31 20:56] ben-eb commented on #1284
Just FYI, this rule should not affect `monospace, monospace`, as specifying this twice corrects rendering issues across browsers. http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/

[2016-08-31 21:04] evilebottnawi commented on #1284
@ben-eb Thanks for link, but i think it is browser bug and fixed now, btw in chrome 52 not reproduced.

[2016-08-31 21:12] ben-eb commented on #1284
Some nice details here too. 😄

https://github.com/necolas/normalize.css/issues/519#issuecomment-197131966

[2016-08-31 23:51] ntwb commented on #1284
One of the many reasons I dislike SEO and their practices, this said post has no date, no comments and makes it impossible to determine if this was posted 10 years ago or yesterday. Hence I place next to zero value on content of this manner.

[2016-09-01 04:59] OmgImAlexis opened #1875 "declaration-block-no-ignored-properties doc typo"
There's a typo in the docs for `declaration-block-no-ignored-properties`.

Ref: https://github.com/stylelint/stylelint.github.io/pull/6

[2016-09-01 05:27] ntwb commented on #1875
Thanks @OmgImAlexis, did you want to create a pull request with the fix for this?

[2016-09-01 05:29] OmgImAlexis commented on #1875
Not entirely sure which file I need to edit but sure.

[2016-09-01 05:32] ntwb commented on #1875
@OmgImAlexis Awesome, it's in this file: https://github.com/stylelint/stylelint/blob/master/src/rules/declaration-block-no-ignored-properties/README.md

[2016-09-01 09:16] evilebottnawi commented on #1284
@ntwb very old post, now it is normalize handle, this rule is good, if you want have two `monospace` fonts, you can used `stylelint-disable` and i think it is right

[2016-09-02 15:18] ilyavolodin opened #1878 "False positives for hyphenated function names in function-calc-no-unspaced-operator"
A bug where `function-calc-no-unspaced-operator` is incorrectly triggers on valid `calc` call.

`function-calc-no-unspaced-operator`

[code]

e.g.

[code]

`7.1.0`

CLI with `stylelint --syntax scss *.css`

Yes, it's related to SCSS maps.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2016-09-02 17:15] evilebottnawi commented on #1878
@ilyavolodin Thanks for reporting, confirm bug.

[2016-09-03 22:02] ideadapt commented on #1780
@jeddy3 I recently found https://drafts.csswg.org/indexes/#properties. Its looks quite interesting too me.
So, I started to scrape that page, see https://github.com/a-axton/css-properties-values/pull/1. In the end you have a list of properties filterable by e.g. css version, css module, name, values etc.

[2016-09-04 14:54] woble commented on #1751
I've read the documentation on the rule again and it seems I might have been somewhat incorrect in regards to properties with hyphens, i.e. `mask-image`; it makes sense to have them in relative position to the parent, i.e. `mask`. Sorry for any confusion in my last post.

I still do believe that prefixed vendor proprietary properties, i.e. `-webkit-overflow-scrolling`, should be handled differentl

[2016-09-05 02:25] gucong3000 opened #1881 "Can't load configuration file by css file's path"
My project files
[code]

[code]

When I Change the current working directory to `~/myproject/`, then executed `eslint js/*`, `stylelint` will throw a error: `No configuration found`.

In same case, `ESLint` is work fine.
I hope that, when I didn't set `--config`, stylelint can find configuration file by file path. Just like `ESLint`

[2016-09-05 02:56] gucong3000 commented on #1881
When I use postcss plugin, I have same problem. my build tool use stylelint to lint other multiple projects.
Each project has its own configuration file. So I created a pr: #1836

[2016-09-05 05:31] gucong3000 opened #1882 "API for configuration file"
[stylefmt](https://github.com/morishitter/stylefmt) is a tool that automatically formats stylesheets.
[stylefmt](https://github.com/morishitter/stylefmt) can understand the formatting rules specified in your stylelint configuration file (.stylelintrc).
stylelint should provides api to load its configuration (e.g. stylelint.buildConfig).

@morishitter will use this to load configuration.

[2016-09-05 10:43] evilebottnawi commented on #1882
@gucong3000 why? it is separate tools. All configuration can found in `config`.

[2016-09-05 10:44] evilebottnawi commented on #1870
@stylelint/core any objections?

[2016-09-05 11:03] gucong3000 commented on #1882
[code]

`require('stylelint/dist/buildConfig')` is too dirty.

[2016-09-05 11:26] gucong3000 commented on #1882
@evilebottnawi `stylefmt` has another configuration file loading mode, if stylelint can open API, stylefmt can be simple

[2016-09-06 02:35] morishitter commented on #1882
@gucong3000

Is this your PR https://github.com/morishitter/stylefmt/pull/192 ? I don't want to have original configuration file in stylefmt.

[2016-09-06 04:58] gucong3000 commented on #1882
@morishitter Yes, it is my PR.
If you don't need original configuration file, I will use it for merge [editorconfig](http://editorconfig.org/) configuration file,

[2016-09-06 05:10] gucong3000 commented on #1881
Many project are used file‘s’ path to lookup configuration file, not lookup by `process.cwd()`.
like: [eslint](https://www.npmjs.com/package/eslint), [jshint](https://www.npmjs.com/package/jshint), [editorconfig](https://www.npmjs.com/package/editorconfig), [babeljs](https://babeljs.io/).

When multiple CSS files are executed in parallel with stylelint, and these CSS files belong to different proj

[2016-09-06 08:40] evilebottnawi commented on #1882
@gucong3000 can you give example usage?

[2016-09-06 10:06] esseb commented on #714
For other people coming to this issue from Google in the future, this was implemented in https://github.com/stylelint/stylelint/issues/763:

[code]

See https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md

[2016-09-06 10:35] evilebottnawi commented on #714
@esseb i can help us, resolved https://github.com/stylelint/stylelint/issues/1614 and use
[code]
:smile:

[2016-09-06 18:20] Arcanemagus commented on #1882
@evilebottnawi This would be somewhat nice in the Atom `linter-stylelint` package. Currently we are also running `cosmiconfig` and then just passing the results into Stylelint.

If Stylelint provided an API to return the configuration for a given path, this would mean that all of the third party utilities that run Stylelint can have a single source of getting a configuration, that is the same sour

[2016-09-07 01:14] gucong3000 commented on #1882
@Arcanemagus

Not yet. I'am doing this job.
#1881 #1886

Can you help me to convince @evilebottnawi? English is not my native language.

[2016-09-07 05:23] gucong3000 commented on #1882
@evilebottnawi

In Atom `linter-stylelint`, we can lookup configuration file like this:
[code]

see #1884

[2016-09-07 09:24] danieldiekmeier commented on #1769
@evilebottnawi Please stop mentioning me. You want davidtheclark, not me.

[2016-09-07 17:44] Arcanemagus opened #1889 "Wrong column reported in block-no-empty"
A bug where `block-no-empty` reports the wrong column for certain SugarSS files.

`block-no-empty`

[code]

[code]

Note: A collection of files that reproduces this is available here: [linter-stylelint_GH260.zip](https://github.com/AtomLinter/linter-stylelint/files/457552/linter-stylelint_GH260.zip)

`stylelint@7.2.0` and `linter-stylelint@3.2.1`.

CLI with `stylelint foo.sss --syntax sugarss`, an

[2016-09-07 17:47] Arcanemagus commented on #1889
Hmmm, looks like I _already_ reported this once before 😛.

It was reported in https://github.com/stylelint/stylelint/issues/1544, and suppoedly fixed in https://github.com/stylelint/stylelint/pull/1547, but it looks like the issue is back.

[2016-09-07 19:10] evilebottnawi commented on #1889
@Arcanemagus accepted, thanks for reporting

[2016-09-07 21:18] davidtheclark commented on #1882
This is an interesting discussion. I will be able to think more about it and chime in when I'm back from vacation in a couple of weeks. Sorry for the delay.

[2016-09-07 23:15] #1828 closed

[2016-09-07 23:16] #1875 closed

[2016-09-07 23:38] davidtheclark commented on #1881
@gucong3000 Thanks for writing up the issue. I'm afraid I'm vacation for another week and a half. I just dropped in for a short time to check up on things. So I will have to give this more thought after I get back.

In the meantime, I can say that you accomplish what you want in a pretty straightforward way by adding `.stylelintrc` files in your sub-projects that `extend` the main `.stylelintrc`.

[2016-09-07 23:42] davidtheclark commented on #1882
A few quick words, in case more discussion happens before I check in again:

I agree with @gucong3000 and @Arcanemagus that it would make sense for stylelint to expose a way to lookup the config file that it will use when it runs. This point is especially good:

The API that I imagine right off the top of my head is a specialized exposed function, something like `stylelint.lookupConfigFrom(startin

[2016-09-07 23:45] davidtheclark commented on #1873
Should this be closed as it's not an issue with stylelint? Or *is* it?

If we want to keep this open, let's get some benchmarks for that rule and see if we can improve the speed.

[2016-09-07 23:46] davidtheclark commented on #1870
Sounds great.

[2016-09-08 02:41] edwardfhsiao commented on #1693
im using webpack with it, same problem occured.
my config looks like this
[code]
it just wont ignore no matter what path I specifed

[2016-09-08 03:19] edwardfhsiao commented on #1693
ok, my temporary solution is separate node_modules and my assets(working directory)
[code]

[2016-09-08 03:29] Arcanemagus commented on #1882
That's exactly what I suggested here: https://github.com/stylelint/stylelint/pull/1884#issuecomment-245357293 😛

[2016-09-08 08:13] gucong3000 opened #1890 "New features: work with `editorconfig`"
I usually use `stylelint` and `editorconfig` together, So I need a option property for these rules, let them use configuration of `editorconfig`
- indentation
- no-eol-whitespace
- no-missing-end-of-source-newline

I hope this option property is enabled by default, If configuration property of `editorconfig` is missing, please use the same logic as before.

see https://www.npmjs.com/package/editor

[2016-09-08 08:57] evilebottnawi commented on #1890
@gucong3000 not related to `stylelint`, you can create own package, which created config file from `editorconfig` to `stylelint` rules.

[2016-09-08 09:07] evilebottnawi commented on #1890
@gucong3000 also you can created plugin for this

[2016-09-08 10:40] gucong3000 commented on #1890
Stylelint plugin can not get other rules configuration information and modify.
I need a hook to modify configuration object when configuration file load by style file's path.
I need some help.

[2016-09-08 15:55] jeddy3 commented on #1804
Done in https://github.com/stylelint/stylelint/issues/1865

[2016-09-08 15:55] #1804 closed

[2016-09-08 16:01] jeddy3 commented on #1870
@epmatsw Would you like to [contribute this](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#fixing-bugs) fix?

[2016-09-08 16:04] jeddy3 commented on #1871
Have you run into a real world need for this?

[2016-09-08 16:05] epmatsw commented on #1870
@jeddy3 yeah, I can take a stab at it this afternoon

[2016-09-08 16:06] jeddy3 commented on #1878
@ilyavolodin Feel free to [contribute](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#fixing-bugs) a fix for this.

[2016-09-08 16:07] evilebottnawi commented on #1871
@jeddy3 yep, for print styles, also this include in spec 2.1, https://developer.mozilla.org/ru/docs/Web/CSS/@page

[2016-09-08 16:17] jeddy3 commented on #1871
Oh wow, I had in mind that this was something new. In fact, it's spec 2.1 and [with excellent browser support](https://developer.mozilla.org/en/docs/Web/CSS/@page#Browser_compatibility).

LGTM for `future-major`.

[2016-09-08 16:24] jeddy3 commented on #1830
@evilebottnawi Have you posted your parser findings to the postcss issue tracker?

[2016-09-08 16:35] evilebottnawi commented on #1830
@jeddy3 no, i mentioned @ai, but not received reply :smile: , tomorrow i will create issue and begin to deal with this problem, I'm interested in supporting `@apply` and all features in `stylelint`, especially new css features.

[2016-09-08 21:26] jeddy3 opened #1891 "Add pull request template?"
On a few occasions we've had Pull requests that should probably be discussed as issues first. Keeping the initial discussions in the issue tracker and the work in the pull request tracker makes it a bit easier to keep track of what's going on.

As such, how do we feel about adding a pull request template to that effect (for non core members)?

I think doing so will also cut down on the number of t

[2016-09-08 21:30] Arcanemagus opened #1892 "Wrong column reported in no-missing-end-of-source-newline"
A bug where `no-missing-end-of-source-newline` returns an invalid column for a SugarSS file.

`no-missing-end-of-source-newline`

[code]

_stylelint.config.js_:

[code]

Note, example files can be found here: [no-missing-end-of-source-newline_linter-stylelint_GH264.zip](https://github.com/stylelint/stylelint/files/462741/no-missing-end-of-source-newline.zip)

`7.2.0`

CLI with `stylelint foo.sss -

[2016-09-08 21:34] Arcanemagus commented on #1892
Looks like this might be "always 2 characters more", the second error in the GIF in the linked bug report is also this bug, but instead it's reporting an error on `3:1` on a file where `2:12` is the last possible column.

[2016-09-08 21:41] Arcanemagus commented on #1889
Looks like another case is the following:

[code]

It reports an error on `4:4`, when `4:1` is the last column of the file.

[2016-09-09 00:19] ai commented on #1830
Hi. I changed raws parser in 5.2. Could you test it again?

[2016-09-09 01:48] epmatsw commented on #1870
@jeddy3 Yeah, I'm not sure I'm gonna be able to figure this one out. Having trouble going from the `decl` to figuring out if that declaration is inside a nested property. I'm not super familiar with the syntax tree used by stylelint, so that's probably just inexperience on my part.

[2016-09-09 05:16] gucong3000 commented on #1890
I'm trying to on local.
`.stylelintrc.json`:
[code]

`stylelint-editconfig.js`:

[code]

It is work well, but I need to modify `buildConfig.js` basis on PR #1888.

[code]

[2016-09-09 05:48] gucong3000 commented on #1890
I can publish a package, the name is called `stylelint-config-editorconfig`, when #1888 is merged.

[2016-09-09 07:54] Nazin opened #1893 "False positive for -ms-high-contrast (selector-no-vendor-prefix)"
Linter throws an error for the following code:
@media print and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  21:23  error  Vendor prefixes should not be used  no-vendor-prefixes

While it shouldn't. -ms-high-contrast is specific to IE and exists only there.

[2016-09-09 09:10] jeddy3 commented on #1893
Thanks for creating this issue but we are closing it as issues need to follow our issue template, so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new) using the template.

[2016-09-09 09:10] #1893 closed

[2016-09-09 09:24] evilebottnawi commented on #1891
@jeddy3 sgtm, we needed template :+1:

[2016-09-09 09:25] evilebottnawi commented on #1830
@ai thanks, today i will try

[2016-09-09 09:33] jeddy3 commented on #1870
@epmatsw Thanks for giving it a go.

It's actually my bad. I now think it should be a change to [`isStandardSyntaxDeclaration`](https://github.com/stylelint/stylelint/blob/master/src/utils/isStandardSyntaxDeclaration.js), rather than `isStandardSyntaxProperty`. In `isStandardSyntaxDeclaration` we have access to the `decl` _node_, whereas we just check the property _string_  in `isStandardSyntaxPro

[2016-09-10 10:32] ntwb commented on #1891
SGTM, added a PR per the suggested verbiage to see how it looks and renders.

[2016-09-12 17:45] tinovyatkin opened #1898 "False positives for numbers within strings in number-*"
Bug with erroneously recognising leading zero inside variable value definition.

`number-leading-zero` set to `never`

`$flagsImagePath: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.9/img/";`

[code]

`7.2.0`

"VSCode plugin"

"Yes, it's related to SCSS variables."

"No warnings to be flagged."

"The following warnings were flagged:"

[code]

[2016-09-13 02:24] gucong3000 commented on #1881
@davidtheclark
#1888
It is works good.

[2016-09-13 08:54] evilebottnawi commented on #1898
@tinovyatkin Thanks, confirm

[2016-09-13 14:26] web-padawan commented on #1830
Any updates?

[2016-09-13 15:08] evilebottnawi commented on #1830
@web-padawan in the coming days I will try to solve this problem :smile: little free time

[2016-09-13 16:06] web-padawan commented on #1830
@evilebottnawi could you please take a look at #1806 as well? That issue is also related to CSS mixins.

[2016-09-13 16:09] evilebottnawi commented on #1830
@web-padawan alread in PR https://github.com/stylelint/stylelint/pull/1885, need review second eyes and then we will can merge, wait :smile:

[2016-09-13 16:14] evilebottnawi commented on #1830
@ai
[code]
Have js:
[code]
Output:
[code]
It is normal have `;` in `before`, not `after`?
Also first `custom-property-set` not have `;` in `before`, this semicolon in `after` into `root` node (`raws: { before: '', between: ' ', semicolon: false, after: '; ' }`).

[2016-09-13 17:12] ai commented on #1830
@evilebottnawi `Node#raws.after` is not about symbols after this node. It is a symbols before `}`:

[code]

[2016-09-13 17:15] evilebottnawi commented on #1892
@ai Strange behaviour
My code
[code]
Result: `{ line: 6, column: 9 }`
Though actually be `{ line: 5, column: 15 }`. Maybe related to `sugarss`.

[2016-09-13 17:24] evilebottnawi commented on #1830
@ai thanks, then this is the correct behavior as I understand it?

[2016-09-13 17:26] ai commented on #1830
@evilebottnawi yeap `; ` should be in next rule `before` :)

[2016-09-14 16:01] gajus opened #1901 "Integrate stylefmt into stylelint"
There is no value in asking users to install two separate packages, `stylelint` and `stylefmt`. I would go as far as to say that there is no value to maintain these two as separate projects, but this question is outside of the scope of this issue.

It would be nice if an agreement was made where @stylelint efforts are combined with @morishitter and "stylefmt" became a direct dependency of "styleli

[2016-09-15 06:03] ntwb commented on #1901
Paraphrasing:

This still stands true IMHO, _stylelint_ development has been relatively quiet the past couple of weeks as much of the _stylelint_ team have other priorities right now (holidays, new jobs, existing jobs etc).

Adding another significant facet such as _stylefmt_ to _stylelint_ would add to an already stretched team (in my honest opinion) even more.

With more people actively contribu

[2016-09-15 06:07] ntwb commented on #1881
Thanks @gucong3000, as David is still on holiday it will take some more time before being reviewed further 😄

[2016-09-15 06:33] gajus commented on #1901
I agree with everything said by @ntwb. Maintaining a solid core is more important than scaling horizontally.

However, I'd like to just add that the relative size of https://github.com/morishitter/stylefmt is tiny compared to stylelint. Meanwhile, combining the two tools would make this tool vastly more useful and potentially attract more contributors.

[2016-09-15 11:03] ntwb commented on #1901
Thanks @gajus, for further context see #330 and in particular from this comment https://github.com/stylelint/stylelint/issues/330#issuecomment-189886805

[2016-09-15 11:51] thykka opened #1902 "False positive when a list of animations is used in no-unknown-animations"
If `animation-name` contains more than one identifier, the subsequent identifiers are incorrectly detected as `no-unknown-animations`, regardless of whether the animations are actually defined.

`no-unknown-animations`

[code]

[code]

`6.0.3`

PostCSS/CSSNext via Gulp

no.

No warnings to be flagged.

The following warning was flagged:

[code]

[2016-09-15 11:55] ntwb commented on #1902
I'm pretty sure this was fixed in stylelint 7.2 @thykka, could you please update to the latest version

https://github.com/stylelint/stylelint/releases/tag/7.2.0

[2016-09-15 12:04] thykka commented on #1902
Indeed, the problem does not persist after upgrading to 7.2.0. Thanks for pointing this out @ntwb!

[2016-09-15 12:06] mradke opened #1903 "Add custom properties to be recognized"
This issue is probably a feature request. I want to be able to specify custom properties without deactivating "property-no-unknown" completely.

Given the following post-css (I am using https://github.com/peterramsing/lost) declaration:
[code]

and this stylelint config
[code]

Running Version `7.2.0` through Webpack and Atom plugin should not result in a warning or error.

However I am issued wit

[2016-09-15 12:09] thykka commented on #1902
Oops, I might've been too fast with this.. Some deprecated stylelint-rules were throwing an error, hiding the actual linting errors, which still appear on 7.2.0;

[code]
[code]

[2016-09-15 12:13] evilebottnawi commented on #1903
@mradke `property-no-unknown` and `custom-property-pattern` is independent rules, you should add `ignoreProperties` option for excluded `lost-utility` http://stylelint.io/user-guide/rules/property-no-unknown/#ignoreproperties-regex-string

[2016-09-15 12:30] tinovyatkin opened #1904 "media-feature-no-missing-punctuation broken in SCSS"
`media-feature-no-missing-punctuation` seems to not recognize SCSS variables manipulation syntax and erroneously warning on following correct code:
`@media only screen and (max-width: $tablet-width - 1) { .. }`

[2016-09-15 12:32] tinovyatkin commented on #1904
Sorry, didn't seen it duplicates #1754

[2016-09-15 12:32] #1904 closed

[2016-09-15 13:26] mradke commented on #1903
Ah thanks for the heads up! I was completely missing the secondary options of the rule - sorry.

[2016-09-15 13:26] #1903 closed

[2016-09-15 14:01] killanaca opened #1905 "declaration-bang-space-after issue"
A bug where

`declaration-bang-space-after`

[code]

[code]

but also
[code]

`7.2.0`

like PostCSS plugin

no

"No warnings to be flagged."

[code]

[2016-09-15 14:52] evilebottnawi commented on #1905
@killanaca very strange behaviour, can you create repo with reproduced errors?
BTW, node version?

[2016-09-15 15:26] killanaca commented on #1905
node version is 6.5.0
the problem could be relative to some postcss plugins?
I use stylelint in a [project](https://github.com/killanaca/deployment-tools) as [postcss plugins](https://github.com/killanaca/deployment-tools/blob/master/src/utils/css.js#L93) with some others postcss plugins

[2016-09-16 04:07] ntwb commented on #1904
Please also remember to use our issue template, issues will be closed if the required information is not included when submitting an issue.

[2016-09-18 00:00] #1736 closed

[2016-09-18 00:38] davidtheclark commented on #1901
@gajus It's hardly any trouble to ask users to install two separate packages, though, so that doesn't concern me much. I agree that it would be *nice* if we could support a `--fix` flag like ESLint's, it's not feasible with the amount and style of contribution that we have on this project.

There was some pretty thorough discussion of all this over in https://github.com/stylelint/stylelint/issues/

[2016-09-18 00:38] #1901 closed

[2016-09-18 00:41] davidtheclark commented on #1902
Yep, looks like the rule does not account for this case yet (no tests involved it).

@thykka, if you'd like to contribute to stylelint, go for it!

[2016-09-18 00:46] davidtheclark commented on #1905
@killanaca Please stylelint *before* other PostCSS plugins. Preferably, run it via the CLI or Node API rather than as a Gulp plugin. I believe your issue is certainly related to that.

If it still doesn't work for you, please open an issue with a test case that demonstrates the bug. Thanks!

[2016-09-18 00:46] #1905 closed

[2016-09-18 00:47] davidtheclark commented on #1898
Is this related only to SCSS? Or will it also happen with this?

[code]

[2016-09-18 00:49] davidtheclark commented on #1890
@gucong3000 looks like you've got a good solution for this in your separate package. We'll work on #1888 independently.

[2016-09-18 00:49] #1890 closed

[2016-09-18 00:51] davidtheclark commented on #1882
I think this is a good idea that does not need to modify or get in the way of any existing behavior. So I labeled the issue to suggest that it's ready to be worked on.

[2016-09-18 00:52] davidtheclark commented on #1810
This and #1881 are duplicates. Since #1881 has a corresponding PR, I'll close this one and discussion should continue over there.

[2016-09-18 01:29] gajus commented on #1901
How about at least considering to have a test case that checks compatibility with stylefmt?

[2016-09-18 04:37] davidtheclark commented on #1901
What are you considering "compatibility with stylefmt"?

[2016-09-18 10:13] alexilyaev opened #1908 "Support regex for selector-no-qualifying-type"
Missing regex option for `selector-no-qualifying-type`

`selector-no-qualifying-type`

[code]

[code]

`7.2.0`

CLI with `stylelint --syntax scss 'app/**/*.scss'`

no

Would like to disallow qualifying but allow nested rules in SCSS using `&`

No regex option

[2016-09-18 10:19] jeddy3 commented on #1902
@thykka You'll find information on fixing bugs [in the developer guide](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#fixing-bugs). Thanks for the nice and clear original issue btw :) I hadn't realised, until now, it's possible to have [lists of animations](https://developer.mozilla.org/en/docs/Web/CSS/animation-name)...

[2016-09-18 10:33] gajus commented on #1901
Well, actually these tests would belong in the stylefmt... but basically formatting CSS using a specific rule and then using stylelint to ensure that it is passing the validation.

However, stylelint could do this check too, just to track incompatible rules.

[2016-09-18 15:23] #1790 closed

[2016-09-18 15:44] jeddy3 commented on #1898
Yes, apparently so. I've updated the issue title and labels accordingly.

`number-no-trailing-zeros`, as well as `number-leading-zero`, also erroneously checks "numbers" within strings.

Would adapting these rules to use [style-search](https://github.com/davidtheclark/style-search#strings) help here?  Or is this not the right tool to reach for in this instance?

[2016-09-18 15:57] jeddy3 commented on #1908
@alexilyaev Thanks for using the issue template.

I don't think I understand your request though. There is no *qualifying type selector* in your CSS snippet:

[code]

It is resolved to `.foo.bar`, which is two *class* selectors. As such, it currently doesn't warn and the rules behaves as you describe.

Can you expand on your original request please.

[2016-09-18 16:02] jeddy3 commented on #1873
Ditto.

[2016-09-18 16:02] #1873 closed

[2016-09-18 17:00] davidtheclark commented on #1901
@gajus Yeah, it seems like these are just issues for stylefmt. Sounds like stylefmt has a bug about `declaration-block-properties-order`. And stylefmt needs to have tests to ensure that it understands stylelint configuration correctly. I still don't think there's anything to be done in stylelint unless somebody wants to champion (i.e. do a lot of work on) the `--fix` flag cause.

[2016-09-18 17:06] davidtheclark commented on #1898
Absolutely.

[2016-09-18 19:34] jeddy3 commented on #1898
@tinovyatkin Would you like to [contribute a fix](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md#fixing-bugs)?

[2016-09-18 19:48] davidtheclark commented on #632
I'm going to close this one, for a few reasons:

- There hasn't been any action here for a good long while.
- I can't find any existing npm modules implementing the algorithm we'd need to do this accurately.
- Following the above, ESLint doesn't do this.
- This rule will stumble a lot around people's personal preferences about adding extra parentheses to improve legibility.

[2016-09-18 19:48] #632 closed

[2016-09-18 19:57] jeddy3 opened #1910 "Add curated list of processors to docs"
I believe there are 3 processors out there:

- https://github.com/mapbox/stylelint-processor-markdown
- https://github.com/mapbox/stylelint-processor-jekyll
- https://github.com/ccbikai/stylelint-processor-html

Shall we add, like we do for *plugins*, a list of processors within the docs?

[2016-09-18 20:21] evilebottnawi commented on #632
@davidtheclark yep

[2016-09-18 20:23] evilebottnawi commented on #1910
@jeddy3 sgtm

[2016-09-18 21:56] alexilyaev commented on #1908
@jeddy3 You are right, it actually does what it says and I didn't understand it correctly :-).
Closing.

Btw, I'm really glad so many options have been added, makes my life much easier now.
Thanks!

[2016-09-18 21:56] #1908 closed

[2016-09-19 14:30] Tom910 opened #1911 "Wrong triggering rules declaration-empty-line-before in less"
It a bug, incorrectly triggered a rule in LESS

declaration-empty-line-before

LESS

[code]

e.g.

[code]

stylelint@7.2.0
stylelint-config-standard@13.0.0

CLI with stylelint test.less --syntax=less

Yes, it's related to LESS mixins.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2016-09-19 17:43] Arcanemagus opened #1912 "table sub-dependency Ajv breaking Stylelint in environments with blocked eval"
It seems that in `table@3.7.10` a dependency on [`ajv`](https://github.com/epoberezkin/ajv) was brought in from https://github.com/gajus/table/pull/16. Unfortunately it seems this library uses `eval` to compile the JSON it is asked to validate. `table@3.7.9` looks like it should still be safe to run in environments where that is blocked like Atom.

There are a few ways to move forward here:

* Hav

[2016-09-19 19:05] #1870 closed

[2016-09-19 19:07] #1806 closed

[2016-09-19 19:12] davidtheclark opened #1913 "Proposal for different changelog management"
The changelog is almost the only merge conflict we have, and we have it all the time. It's especially annoying when we have a few pull requests, one merges, and then all the others have to rebase. It's also annoying to need to remind people to add changelog notes, and to nitpick about their changelog notes not quite fitting the format, etc.

I propose that we no longer include changelog notes in P

[2016-09-19 19:16] davidtheclark commented on #1910
Yep, sounds good.

The two that I'm working on, though, the mapbox ones, should not be added yet, because they're not quite finished.

[2016-09-19 19:42] epoberezkin commented on #1912
Eval is replaced in Ajv version 4.7.2 (that is within the range) - should be picked up next time you npm install. Please let me know if it's still an issue.

[2016-09-19 19:51] MoOx opened #1914 "Fresh install throw me "Cannot read property 'length' of undefined""
[code]

To reproduce:

[code]

Maybe it's related to recent change for #1870 ?

[2016-09-19 20:27] Arcanemagus commented on #1912
v4.7.2 still has the exact same issue, it looks like you are using `Function()` which still is the same thing as `eval()` on the code, and as such is blocked in environments where that is blocked.

[2016-09-19 20:29] paulyoung commented on #1914
Perhaps it's this line: https://github.com/stylelint/stylelint/pull/1894/files#diff-a70d9fa5a4645b7792581f70b486141bR21

[2016-09-19 20:39] epoberezkin commented on #1912
How do I reproduce it? npm test seems to run ok.

[2016-09-19 20:46] Arcanemagus commented on #1912
@epoberezkin You need to be running in an environment where `eval` is prohibited, in this case the way to reproduce that exactly is to install [Atom](https://atom.io/), then install v3.2.1 or below of `linter-stylelint` (`apm install linter-stylelint@3.2.1`, note `apm` not `npm`), and then open any CSS file. Or go into the package directory (`cd ~/.atom/packages/linter-eslint`) and run `apm test`.

[2016-09-19 21:05] EvanLovely commented on #1914
Yep, I'm getting it too; this commit, 0d28164, introduced it. I'm getting it on sass mixins that have child selectors such as:

[code]

[2016-09-19 21:13] kylecesmat commented on #1914
Receiving the same error outlined above. Locking to `stylelint@7.2.0` in my package.json fixes the problem for now

[2016-09-19 21:47] epoberezkin commented on #1912
@Arcanemagus thank you, I understand the issue now.

One of the solutions, in addition to those listed, would be to relax content security policy in Atom to [allow evaluated JavaScript](http://www.html5rocks.com/en/tutorials/security/content-security-policy/#eval-too). Not sure how likely it is to happen, also not sure whether it is intentionally prohibited or it is just so by default. Allowing ev

[2016-09-19 22:10] Arcanemagus commented on #1912
`eval` is purposely disabled in Atom by the CSP in place, however if the `stylelint` developers decide it's not worth their development time to keep supporting when dependencies of dependencies run afoul of the policy then there are options such as [atom/loophole](https://github.com/atom/loophole) to work around that. I'd rather not have to use that myself as avoiding `eval` should be done if at a

[2016-09-19 22:29] epoberezkin commented on #1912
@Arcanemagus thank you, that's one more solution. Works for me ;)

[2016-09-19 22:55] Arcanemagus commented on #1912
Just to be clear, that's a last resort solution for things that are running in environments where `eval` is blocked, like `linter-stylelint`, and was already mentioned as the 4th option in the issue. It's definitely _not_ something that should be done in Ajv as it will only work in Electron based environments.

[2016-09-19 23:11] ntwb commented on #1910
sgtm

[2016-09-19 23:34] gneatgeek commented on #1914
Locking to 7.2.0 has also resolved the issue for me.

[2016-09-19 23:52] ntwb commented on #1913
I agree, rebasing is not great.

ESLint have a tool [eslint-release](https://github.com/eslint/eslint-release#what-it-does), it's very similar to the [npmpub](https://github.com/MoOx/npmpub) we use here for stylelint, the main difference is it includes automatically creating and adding the changelog:

Maybe we could look into automating it rather than manually wiki'ing it?

[2016-09-20 00:36] davidtheclark commented on #1913
@ntwb Personally I might rather manually do it, to avoid having to bug people about gettign the changelog format correct. Open to others desires, though.

[2016-09-20 01:53] phihag commented on #1914
Simpler example file:
[code]

[2016-09-20 06:53] ipinak commented on #1914
The problem doesn't seem to be fixed on 7.3.0.

[2016-09-20 06:53] MoOx commented on #1914
It has been introduced by 7.3.0. A fix is pending in #1916

[2016-09-20 07:31] ntwb commented on #1914
cc @stylelint/core

[2016-09-20 08:00] ntwb commented on #1912
Added to 7.3.1 milestone

[2016-09-20 08:18] epoberezkin commented on #1912
I will resolve the issue in ajv/table, so whether you allow eval is another question...

[2016-09-20 09:22] evilebottnawi opened #1917 "False negative when using stylelint-enable on already enabled rule"
When you use `stylelint-enable` on enabled rule twice.
Ref: https://github.com/stylelint/stylelint/pull/1874#r79310366

No matter

e.g.

[code]

No matter

e.g. `7.3.0`

No matter

No matter

No warnings to be flagged.

Throw error `rule has already been enabled`

[2016-09-20 10:32] gajus commented on #1912
Does Atom allow to *require* other scripts?

If you look into Node.js source code, you will learn that require is using [vm to run all the code](https://github.com/nodejs/node/blob/e57ff455e25d61555298cacbb0ff964e197ace10/lib/module.js#L532-L536). VM = eval.

I don't see it as an issue to depend on `eval` code.

As a short term solution, just restrict table version to `table@3.7.9` in your package

[2016-09-20 11:29] turnbullm commented on #1914
Quick fix, thanks @MoOx!

Any ETA on 7.3.1? Can't use 7.3.0 because of this

[2016-09-20 11:49] mik01aj commented on #1914
Thanks for the report! For now I downgraded to `7.2.0` because of this.

[2016-09-20 11:52] evilebottnawi commented on #1914
@turnbullm we need wait @davidtheclark or @jeddy3 , i think today we release `7.3.1`. Thanks to all!

[2016-09-20 15:10] #1914 closed

[2016-09-20 15:18] davidtheclark commented on #1914
Released as 7.3.1. Thanks again.

[2016-09-20 15:56] davidtheclark commented on #1912
@epoberezkin I'm a little unclear on the direction here: are you going to fix this on the dependency side, or should we still change something about stylelint?

[2016-09-20 16:10] Arcanemagus commented on #1913
Maybe instead of forcing a specific format, use labels to determine how it shows in the log? I've seen "semver-{major|minor|patch" labels on other projects, and if that alone wasn't enough I'm sure it could be expanded with more labels. With that you would just need to ensure each PR has the appropriate label, as well as a commit title that looks good enough to be in the change log.

[2016-09-20 16:14] epoberezkin commented on #1912
I am definitely going to implement pre-compiling schemas into functions - it was an old plan anyway and there are other reasons to do it (browser bundle size, also see epoberezkin/ajv#156). Table package will be able to use precompiled schemas so there will be no dynamic code evaluation there. I will make a PR within 2-4 weeks.

If you want it resolved quicker, using the loophole can be a temporar

[2016-09-20 16:18] Arcanemagus commented on #1912
@gajus This isn't really the place to get into the huge philosophical discussion around where and when `eval` might be appropriate. `vm.runInThis Context` isn't exactly the same as `eval` as can be seen in the description of the atom/loophole package [here](https://github.com/atom/loophole#how).

For the moment I've pushed out an update of `linter-stylelint` that lists `table@2.7.9` as a hard depe

[2016-09-20 16:20] davidtheclark commented on #1912
Maybe there is a library simpler than `table` that we can use in stylelint, since we hardly use any of `table`'s real capabilities. I don't think ajv has to be involved to accomplish the simple layout that we need.

[2016-09-20 16:27] evilebottnawi commented on #1912
@davidtheclark maybe release `7.3.2` with `table@3.7.9` as a hard dependency for avoid this issue (many developers works with `atom`) and before next release explore alternatives and found solution.

[2016-09-20 16:57] Arcanemagus commented on #1912
@evilebottnawi I've already worked around this in the `linter-stylelint` Atom package, so updates and new installs won't be broken. You might think about that for _other_ environments though, as I don't know all the places Stylelint is integrated and what their CSP policies are.

[2016-09-20 17:23] evilebottnawi commented on #1912
@Arcanemagus :+1:

[2016-09-20 22:40] jeddy3 commented on #1913
I'd be up for trialling that approach. We can always try something else if it doesn't work out.

[2016-09-20 22:52] jeddy3 commented on #1891
Done in https://github.com/stylelint/stylelint/issues/1896

[2016-09-20 22:52] #1891 closed

[2016-09-20 23:31] ntwb commented on #1913
Agreed, go the wiki road and see how that goes

[2016-09-21 02:48] davidtheclark commented on #1881
I'm think this would be a fine feature. However, I think it will require a change to cosmiconfig, because we'll want cosmiconfig to cache across all the different calls. If, for example, there are 500 CSS files being linted, we don't want cosmiconfig to run its full check for each of those files. We'd want, I think, to create a cosmiconfig instance that can be repeatedly invoked, and will cache wh

[2016-09-21 05:24] Arcanemagus commented on #1881
A `cosmiconfig` cache sounds awesome, in my experience watching the timings in `linter-stylelint` the time it takes to run `cosmiconfig` is usually at least half the total time of the entire run.

[2016-09-21 08:50] #1913 closed

[2016-09-21 09:00] evilebottnawi commented on #1830
Done in https://github.com/stylelint/stylelint/pull/1900

[2016-09-21 09:00] #1830 closed

[2016-09-21 13:17] gaidarenko commented on #1898
Don't you mind if I fix this bug?

[2016-09-21 13:25] evilebottnawi commented on #1898
@gaidarenko let's go

[2016-09-21 18:53] davidtheclark commented on #1910
https://github.com/mapbox/stylelint-processor-markdown is ready to be shared, I think.

I depreacted stylelint-processor-jekyll in favor of https://github.com/mapbox/stylelint-processor-arbitrary-tags, which is also ready to be shared now.

[2016-09-21 22:21] jeddy3 commented on #1911
@Tom910 Thank you for using the issue template.

I think the rule is behaving as expected.

[code]

Line *7* is a declaration without an empty line before it. None of the `ignore` or `except` optional secondary options are applicable here i.e. it's not the first nested, after a declaration, after a comment nor inside a single line block. Therefore it should warn about the missing empty line.

You

[2016-09-21 22:34] jeddy3 commented on #1912
Sgtm.

eslint appears to use [text-table](https://github.com/eslint/eslint/blob/master/lib/formatters/stylish.js#L8), which has no dependencies.

Shall we focus (rename and label) this issue to seeing if adopting a similar library for our string reporter is viable?

[2016-09-21 22:36] gajus commented on #1912
https://github.com/eslint/eslint/blob/0a361387ee180713c6f69adeb86a2a80400de3b5/package.json#L67

[2016-09-21 22:42] jeddy3 commented on #1912
Oh, thanks for the heads up @gajus.

It looks like they use `table` for the ["table"](http://eslint.org/docs/user-guide/formatters/#table) formatter and `text-table` for the ["stylish"](http://eslint.org/docs/user-guide/formatters/#stylish) formatter.

The stylish formatter output looks most like our "string"  one.

[2016-09-22 01:16] #1614 closed

[2016-09-22 04:42] davidtheclark commented on #1881
@Arcanemagus and @stylelint/core: I'm preparing a new (major) version of cosmiconfig with caching. To enable the caching, the API changed a little, such that you create cosmiconfig instances, rather than the module just exporting a single function. I would appreciate it if you could find some time in the next few days to check out the master branch on https://github.com/davidtheclark/cosmiconfig a

[2016-09-22 04:45] davidtheclark commented on #1881
Also, about the caching: you should be able to see how it's intended to work [in the cache tests](https://github.com/davidtheclark/cosmiconfig/blob/master/test/caches.test.js) — but they are kind of long. The main idea is that any search path you'd already provided, directory that's already been visited, or file that's already been read & parsed will be cached, so that the next time a search is in

[2016-09-22 09:45] giladgray commented on #1614
🎆  thanks @davidtheclark! much appreciated.

[2016-09-22 15:19] davidtheclark commented on #1848
Closed by 5710a4a09ee0d3da3954701c5702a8ebcfbcba4b.

[2016-09-22 15:19] #1848 closed

[2016-09-22 16:34] Arcanemagus commented on #1881
The only potential issue I see with the caching (just by looking at what the specs are testing) would be the following scenario:

* User opens up Atom and loads a CSS file
* First time run of the lint, `cosmiconfig` caches the config
* The user sees that a rule is enabled that they don't like, so they edit the configuration and disable it
* Another lint is triggered with the same `cosmiconfig` ins

[2016-09-22 16:37] davidtheclark commented on #1881
Hmm ...

That would nullify the file cache but not the directory cache, right? So you wouldn't pick up whether they create a *new* config that should be loaded instead, but only if they modified an *existing* config? If that's the case, then at least there'd be some caching that might help. If, however, you'd also want to pick up on new configs, then I think you'd need to turn off the cache comple

[2016-09-22 16:42] evilebottnawi commented on #1881
@davidtheclark This gave me the idea, but why not speedup `stylelint` itself (save last linted files and compare modification time), as it does `eslint`, it is speedup then you use on `watch` files.

[2016-09-22 17:36] silverwind commented on #1777
I don't think I'll have time to work on this rule in the coming weeks, so if anyone wants to take it on, please go ahead.

[2016-09-22 17:40] Arcanemagus commented on #1881
@evilebottnawi `eslint` uses a `.eslintcache` file to track their cache, that's something you have to be very careful not to cache too much.

@davidtheclark Ideally the cache should be transparent, working when nothing has changed, and updating if there is any change. If I was doing it I think I would make it:

* Not cache a "not found" result, this can hurt performance (down to the current state)

[2016-09-22 17:50] evilebottnawi commented on #1777
@silverwind okey

[2016-09-22 18:40] Arcanemagus commented on #1881
I was just trying to think of a way the cache could be useful in the way `cosmiconfig` is being used there, and still utilizing the caching. If the caching is meant for a single process run over many files, that isn't really what `linter-stylelint` does, as it's more of many different runs on an individual process, that just happens to use a single `cosmiconfig`. As it only takes ~20 ms to run (on

[2016-09-23 01:44] davidtheclark opened #1922 "Add "How do I disable a rule" to FAQ"
This question comes up all the time (e.g. [just now](https://twitter.com/andreysitnik/status/778911556872667136)). We should maybe even put it at the top of FAQ.

[2016-09-23 02:51] davidtheclark commented on #1881
@Arcanemagus: Seems like the *most* useful for linter-stylelint and related packages might be if cosmiconfig could have a watching mode ... sounds interesting. I'll look into it.

[2016-09-23 09:19] evilebottnawi commented on #1922
@davidtheclark sgtm, @stylelint/core maybe sometimes it seems to me would have been perfect to enter aliases as` eslint`: `off`, `warning`, `error`. It is more readable for human. What do all think?

[2016-09-23 10:15] jeddy3 commented on #1922
Rules in stylelint are turned on by specifying a primary option. I don't those those aliases are applicable here.

[2016-09-23 10:32] evilebottnawi commented on #1922
@jeddy3 some people often write `false` and think what rule will be disable, but if we use `off`, it would not have introduced confusion

[2016-09-23 10:49] jeddy3 commented on #1922
I see where you're coming from. However, the string `"off"` could be a primary option (which would turn a rule on). That's why `null`, and only `null`, is used to turn rules off.

Likewise, we have severities as part of the optional secondary options so that users can define their own severities levels e.g. *advice*, *info* etc...

I think adding just an `"off"` alias for `null` would make things

[2016-09-23 10:58] evilebottnawi commented on #1922
@jeddy3 okey, let's add `How do I disable a rule?` in FAQ on top.

[2016-09-23 10:59] evilebottnawi commented on #1917
@davidtheclark @jeddy3 i think it is breaking changes and should have `major` milestone

[2016-09-23 14:26] Nirazul opened #1924 "Add Webstorm to complementary tools doc"
Just wanted to spread the good news 👍
Seems that the countless +1 in the jetbrains forum were successful :)

https://blog.jetbrains.com/webstorm/2016/09/webstorm-2016-3-eap-163-4830-stylelint-usages-for-default-exports-and-more/

[2016-09-23 14:37] davidtheclark commented on #1917
@evilebottnawi Eh ... I think it's a bug and should just be a patch.

[2016-09-23 14:43] davidtheclark commented on #1924
Thanks @Nirazul! I'll transform this issue so it's about adding a note to the documentation at http://stylelint.io/user-guide/complementary-tools/

[2016-09-23 14:50] evilebottnawi commented on #1924
Wow Finally, I waited for this

[2016-09-23 14:51] evilebottnawi commented on #1917
@davidtheclark if some have this line in files, it is broke CI build

[2016-09-23 14:52] evilebottnawi commented on #1924
Related: https://github.com/stylelint/stylelint/issues/346 (we can close)
I do not know what happens when a problem is closed, which transferred money? :smile:

[2016-09-23 14:56] davidtheclark commented on #1917
@evilebottnawi Yes, but that will always happens if somebody has relied on a bug. This is clearly buggy behavior, I think, so if we get it to work properly, that's no different from fixing other bugs in semver. It might mean people have *fewer* errors reported — not sure.

Look at the new semver policy, and according to that this should be a "minor release": "A bug fix in a rule that results in st

[2016-09-23 14:59] evilebottnawi commented on #1917
@davidtheclark Thanks for clarifying

[2016-09-24 07:49] #1924 closed

[2016-09-24 09:11] #1911 closed

[2016-09-24 09:13] jeddy3 commented on #1892
Can you raise this in the SugarSS issue tracker?

[2016-09-24 09:14] ai commented on #1892
Does this issue is related? https://github.com/postcss/sugarss/issues/49

[2016-09-24 09:20] jeddy3 commented on #1892
Looks like it!

[2016-09-24 09:22] ai commented on #1892
@jeddy3 :D I reported a issue to other project, but this error happens because of my project :). Karma :).

I will fix it.

What do you think about more bullet-proof Stylelint plugins? I think it is wierd, that Stylelint fails on wrong source maps. Honestly, source maps is tricky thing and I am sure that there are many mistakes in other source map implementations.

[2016-09-24 14:07] #1922 closed

[2016-09-24 14:39] davidtheclark commented on #1892
@Arcanemagus @ai Yeah ... so there will be no problem as long as the mistaken column is not past the end of the line. If it's at the end of the line, the plugin breaks, huh. Is there no way around that?

Not that we shouldn't fix the issues that come up — just hoping such an insignificant issue doesn't have to break UX.

[2016-09-25 19:50] Arcanemagus commented on #1892
Throttling of the display of the error definitely needs to be added, it's just not something I've dedicated time to yet.

[2016-09-26 14:54] davidtheclark commented on #1881
@gucong3000 @Arcanemagus I'm working on this issue over in https://github.com/stylelint/stylelint/pull/1930.

[2016-09-26 14:56] davidtheclark commented on #1882
Working on this in PR #1930.

[2016-09-26 16:25] #1910 closed

[2016-09-27 13:38] davidtheclark commented on #1810
@rygine I'm considering this as a part of #1930. However, I'm not sure I understand the rationale. In your example, why would `.stylelintrc` want to extend the config in `button/node_modules/`? Why does `button/node_modules/stylelint-config-example` exist? I might need some more explanation to know what we'd be aiming at.

[2016-09-27 15:20] hudochenkov commented on #1500
I finally started to work on this plugin :) I have a problem with development, though. I want to use Chrome Dev Tools to debug my plugin (`node --inspect run.js` in Node 6.3.0+), because `console.log()` isn't enough. But I don't know how to teach stylelint that current folder is a plugin and use it. I have this `run.js`:

[code]

P. S. Developing stylelint plugin is not a straightforward task 😥

[2016-09-27 15:55] jeddy3 commented on #1500
That's great news!

Plugins are [configured as an array](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/configuration.md#plugins), and not as an object.

If your plugin is at `index.js`, then changing your configuration to the following should suffice:

[code]

Be sure to [define](https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md#the-anatomy-of-

[2016-09-27 16:03] hudochenkov commented on #1500
@jeddy3 thank you! Working like a charm :)

[2016-09-28 00:35] charlieschwabacher commented on #566
@davidtheclark I am running into the same issue w/ stylelint 7.3.1

[code]

[2016-09-28 01:45] gucong3000 opened #1934 "extend `editorconfig`"
new feature for extend api

indentation, no-eol-whitespace, no-missing-end-of-source-newline

[code]

`6.7.1`

Node API

No

I want indentation's primary option extend from `EditorConfig`, and secondary options set by `.eslintrc` file.

`stylelint` not compatible with this package named `stylelint-config-editorconfig`:

https://github.com/gucong3000/stylelint/blob/rclookup/src/__tests__/fixtures/l

[2016-09-28 01:47] gucong3000 commented on #1934
It is need some changes:

- Configuration that can extend, should compatible a function, better able to be compatible with asynchronous function. file path of source must pass to this function.
- When we merge a extend configuration, we should merge array of rules's value, not just overwrite.
- For rules, we need a keyword, such as "inherit", so that the final results to use the value of the inher

[2016-09-28 02:19] gucong3000 opened #1935 "Suggestion for package path lookup"
new feature

[code]

my file list
[code]

[code]

next

Node API

No

When extend or plugin name is a NPM package ID, not a relative path, and no longer find it the project path, we should try to find from the process current directory.

`Could not find "${lookup}". Do you need a \`configBasedir\`?`

[2016-09-28 02:24] gucong3000 commented on #1935
#1930
if extend or plugin name is NPM package ID, we should not only try file path of source.

[2016-09-28 09:14] evilebottnawi commented on #566
@charlieschwabacher you have folder with `*.css` (example animated.css)

[2016-09-29 10:29] dan-gamble commented on #346
https://blog.jetbrains.com/webstorm/2016/09/webstorm-2016-3-eap-163-4830-stylelint-usages-for-default-exports-and-more/

Thank you can mark this as closed now :)

[2016-09-29 11:11] evilebottnawi commented on #346
@dan-gamble waiting for release, because it is EAP, they can do anything (example delete this feature :smile: )

[2016-09-29 11:23] baivong commented on #1741
My code has the same warning.

[code]

[2016-09-29 11:40] evilebottnawi commented on #1741
@baivong `status: blocked` bug in `postcss-less`, you can help their to resolve this issue

[2016-09-29 11:57] DanielaValero opened #1936 "False positive for interpolated selector containing a colon in declaration-colon-space-after and declaration-block-trailing-semicolon"
After updating to the version 7.3.1, stylelint is failing on the rules:
 * declaration-colon-space-after and
 * declaration-block-trailing-semicolon

In a Sass file doing:

[code]

Stylelint now believes that this is a CSS property.

 * declaration-colon-space-after and
 * declaration-block-trailing-semicolon

[code]

[code]

7.3.1

Pure stylelint

yes, scss.

That it does not fail, as it did in t

[2016-09-29 13:26] dan-gamble commented on #346
That's a fair point, just got a bit giddy they finally release PyCharm EAP so i can utilise it :D