[2019-05-08 09:55] evilebottnawi commented on #4073
Please use issue template

[2019-05-08 09:55] #4073 closed

[2019-05-08 10:32] hudochenkov commented on #4065
Correct. If rule enforce keywords, then it won't be possible to use percentages without warnings or disabling a rule. And it doesn't matter what option name it would be.

[2019-05-08 10:41] evilebottnawi commented on #4065
Maybe `keyframe-selector-style: 'percentrage' | 'keyword'`?

[2019-05-08 14:57] AlexWayfer opened #4074 "Exclude complex `transition` for `declaration-block-no-redundant-longhand-properties`"
I want to write complex transitions with multiple properties.

I think, this is valid case for `declaration-block-no-redundant-longhand-properties`:

[code]

Because the shorthand variant is OK:

[code]

But this should not be offensed by Stylelint:

[code]

Because the shorthand variant is ugly:

[code]

[2019-05-08 14:59] evilebottnawi commented on #4074
Just disable rule, or use `/* stylelint-disable-next-line */`

[2019-05-08 14:59] evilebottnawi commented on #4074
For other developers it can be not ugly

[2019-05-08 15:04] AlexWayfer commented on #4074
Yes, I've done this.

OK, you can close this issue, if you think, that this is OK and work-around like inline disabling is OK too.

[2019-05-08 15:09] evilebottnawi commented on #4074
You can enable other rules and use this style:
[code]

or this:
[code]

As you prefer :+1:

[2019-05-08 15:17] AlexWayfer commented on #4074
OK, thanks. I'll close it for now.

[2019-05-08 15:17] #4074 closed

[2019-05-09 10:01] fiskhandlarn commented on #3111
@jeddy3 ? X)

[2019-05-10 01:14] geekox86 opened #4075 "Stylelint throws CssSyntaxError on JSON files"
Stylelint includes JSON files for linting and throws CssSyntaxError.

This bug is not related to any specific rule.

The existent of `package.json` and `tsconfig.json` in root project directory can reproduce the bug.

[code]

`10.0.1`

Using CLI with `yarn stylelint .`

No.

I expected Stylelint *not* to include JSON files as it contains no styles.

[code]

Here is a [reproduction repo](https://gi

[2019-05-10 02:23] geekox86 opened #4076 "Report Needless Disables with Rule Errors and Warnings"
Currently, I have to run `stylelint` twice to get all errors and warnings that I need: once with `--report-needless-disables` and another time without it. I should only need to run it once for both.

I would like to change the behavior of `--report-needless-disables` so that such needless disables get reported *with* rule errors/warnings in one shot.

[2019-05-10 06:44] hudochenkov commented on #4075
Thanks for the report and for using the template.

stylelint doesn't support `stylelint .` at the moment, but we [want](https://github.com/stylelint/stylelint/issues/3411) to support it. Currently, you have to specify all extensions. For your project you might want to use:

[code]

[2019-05-10 10:09] niksy commented on #3527
Is there any progress on this issue? We’re experiencing similar issue when using Dockerized environment.

[2019-05-13 13:23] dartess opened #4077 "Wrong example cli except files"
https://github.com/stylelint/stylelint/blob/master/docs/user-guide/cli.md wrong example except files?

stylelint 10.0.1:
[code]
Error: No files matching the pattern <...> were found.
[code]
Works correct

[2019-05-13 13:25] dartess commented on #2643
Still relevant 😞

[2019-05-14 13:10] DavidVaness opened #4079 "Declare seperate rules for different filetypes in 1 .stylelintrc"
Hey guys, first of all thank you for creating this valuable tool.

I would like to be able to have 1 .stylelintrc in my project and declare a specific set of rules for each filetype. e.g.: a ruleset for scss files and a specific ruleset for .vue files.

I know it is possible to have 2 seperete .stylelintrcs and declare different filetypes for each and run them with seperate cli commands. However i

[2019-05-14 14:31] lkraav opened #4080 "selector-pseudo-class-no-unknown: support `:defined`"
https://html.spec.whatwg.org/multipage/semantics-other.html#selector-defined

Best practice for eliminating FOUC when using custom elements https://developers.google.com/web/fundamentals/web-components/customelements#prestyle

Example:

[code]

selector-pseudo-class-no-unknown: should probably natively support `:defined`, as it's already shipped in modern browsers.

Your thoughts?

[2019-05-14 14:33] evilebottnawi commented on #4080
PR welcome, it is easy

[2019-05-14 14:59] lkraav commented on #4080
Maybe for someone with stylelint core experience. I'm poking around, but can't tell whether I should patch the rule ignore list, or there's some other mechanism I need to familiarize myself with.

https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rules.md is also pretty massive. This looks like a bigger bite than I can chew right now.

[2019-05-14 15:03] evilebottnawi commented on #4080
@lkraav https://github.com/stylelint/stylelint/blob/master/lib/reference/keywordSets.js#L324 and add test to `selector-pseudo-class-no-unknown` rule

[2019-05-15 08:35] mishanga commented on #3586
Output redirection is not useful in CI. Here is an example of using stylelint with lint-staged:
[code]

[2019-05-15 08:36] evilebottnawi commented on #3586
PR welcome :+1:

[2019-05-16 13:15] evilebottnawi opened #4083 "improve CLI usage"
Want to use `stylelint . -i .gitignore` without any additional configurations.

Now we parse all files and throw error on non styles files, like:

[code]

I find it is inconvenient. When I use the dot (`.`), I want to stylelint lint only known extensions. Writing glob is very inconvenient too. eslint supports dot (`.`).

I think we should change this behavior in future major release.

I suggest (o

[2019-05-16 13:20] hudochenkov commented on #4083
Looks like duplicate of your own issue :) https://github.com/stylelint/stylelint/issues/3411

[2019-05-16 13:21] evilebottnawi commented on #4083
@hudochenkov oh, my bad memory :smile:

[2019-05-16 13:21] #4083 closed

[2019-05-16 13:22] evilebottnawi commented on #4075
@hudochenkov i think we can close this in favor https://github.com/stylelint/stylelint/issues/3411

[2019-05-16 13:31] #4075 closed

[2019-05-17 16:13] dbendaou opened #4084 "Rules to avoid using overflow scroll but auto"
I would like to avoid using `overflow: scroll` as it cause the scroll bar to appear on Microsoft even if there's nothing to scroll.

I would like to have a rule who will forbidden the usage of `overflow: scroll` in favor of `overflow: auto` as auto doesn't show any scroll bar if there's nothing to scroll.

[2019-05-17 16:14] evilebottnawi commented on #4084
https://stylelint.io/user-guide/rules/declaration-property-value-blacklist/ ?

[2019-05-17 16:16] dbendaou commented on #4084
Well, that's exactly what I was looking for ! Thanks and sorry for the noise 🙈

[2019-05-17 16:16] #4084 closed

[2019-05-23 15:05] greenkeeper[bot] opened #4086 "An in-range update of table is breaking the build 🚨"
## The dependency [table](https://github.com/gajus/table) was updated from `5.3.3` to `5.4.0`.

🚨 [View failing branch](https://github.com/stylelint/stylelint/compare/master...stylelint:greenkeeper%2Ftable-5.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

table is a direct dependency of this project, and **it is very

[2019-05-23 15:32] evilebottnawi opened #4087 "Sponsor button"
No template :smile:

Add `Sponsor` button https://help.github.com/en/articles/displaying-a-sponsor-button-in-your-repository.

Don't have rights on this.

[2019-05-23 20:12] hudochenkov commented on #4086
Looks like package was unpublished and republished.

[2019-05-23 20:12] #4086 closed

[2019-05-23 23:14] hudochenkov commented on #4087
I've created https://github.com/stylelint/.github/blob/master/FUNDING.yml which will be used for every repository automatically, when sponsorship is enabled.

I enabled it for:

- [stylelint](https://github.com/stylelint/stylelint)
- [stylelint-config-standard](https://github.com/stylelint/stylelint-config-standard)
- [stylelint-config-recommended](https://github.com/stylelint/stylelint-config-rec

[2019-05-23 23:14] #4087 closed

[2019-05-24 09:32] ntwb commented on #4087
Nice, thanks Aleks 💯

[2019-05-25 05:41] sindresorhus opened #4088 "Support linter rules working across files"
Some rules needs to know about all the imported files to work effectively. For example, the [`no-unknown-animations`](https://stylelint.io/user-guide/rules/no-unknown-animations/) (Related issue https://github.com/stylelint/stylelint/issues/2363) rule is not very useful as it currently only works for animations defined in the same file, but it's common to define animations in a separate file. This

[2019-05-26 22:09] evilebottnawi commented on #4088
I think it is not easy due difference resolution logic

[2019-05-28 22:54] DesignByOnyx commented on #1227
It would be great because, like other linters, you could keep all of your config... in a config file. This enables the following:

- with an `include` option you could:
    - provide a single place to define files which should be linted
    - define multiple glob patterns within a single config
    - dynamically build the includes (with .stylelintrc.js only)
- the `include` option gives way to an

[2019-05-30 09:53] rsteyn86 commented on #4063
Would having something a bit more flexible/robust not make sense?

[code]

[2019-05-30 15:05] #4066 closed

[2019-05-30 15:43] hudochenkov commented on #4069
Thanks for the report and for using the template.

I can't reproduce the issue. Could you create a repository with a reproducible issue, please?

[2019-05-30 15:56] hudochenkov commented on #4077
Thank you for spotting this! Would you mind [sending a PR with the fix](https://github.com/stylelint/stylelint/edit/master/docs/user-guide/cli.md)?

[2019-05-30 15:59] hudochenkov commented on #4079
This is a good idea! Solution for it is described in https://github.com/stylelint/stylelint/issues/3128 but it's not implemented yet.

[2019-05-30 15:59] #4079 closed

[2019-05-30 18:40] trainiac commented on #4018
@hudochenkov how is your setup different such that you are able to make things work?  I'm seeing the same issue with a `stylelint.config.js` and `babel.config.js` in the root of my project.

[2019-05-30 19:45] trainiac commented on #3264
Linking this issue in case it helps anyone identify whey their CSS-in-JS stylelint configuration isnt working. https://github.com/stylelint/stylelint/issues/4018

[2019-05-30 21:37] hudochenkov commented on #4018
I figured out the issue.

`babel.config.js` is [project-wide configuration](https://babeljs.io/docs/en/config-files#project-wide-configuration). It interferes with Babel in [`postcss-jsx`](https://github.com/gucong3000/postcss-jsx), package that we use to work with CSS-in-JS.

I use `.babelrc.js`, that's why CSS-in-JS works for me. So if you don't need features of `babel.config.js`, convert it to

[2019-05-30 22:29] trainiac commented on #4018
Thanks @hudochenkov. I changed the filename from `babel.config.js` to `.babelrc.js` and I still had the problem.  The only way I can workaround it is to put all of my work in its own parallel folder to node_modules.

[code]

[2019-05-31 11:53] romulof commented on #3937
Any news?

[2019-05-31 12:05] hudochenkov commented on #3937
I'm afraid there are no news. @gucong3000, author of `postcss-html`, is not active on Github currently.

[2019-05-31 20:27] hudochenkov opened #4094 "Add description for every CLI argument"
All CLI arguments descriptions are scattered all over documentation. There is no single place to find them.

Add description of every CLI argument similar to what `stylelint --help` does.

[2019-06-01 21:06] #4080 closed

[2019-06-01 21:11] #3586 closed

[2019-06-01 21:55] hudochenkov opened #4095 "Release 10.1.0"
- [x] stylelint release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

I'm thinking of releasing at the beginning of the next week.

cc @stylelint/core

[2019-06-01 23:47] ntwb commented on #4094
Sounds good to me, I got caught out by this recently looking for a CLI reference, it was due to a v10 feature that I was looking for in a v9 install.

Having this centrally documented would indeed be great IMHO

[2019-06-02 01:01] ntwb commented on #1227
@DesignByOnyx stylelint has changed significantly since this issue was created, could you please create a new issue outlining your request please?

Please also follow the template and give us examples of the configuration you currently use and the configuration you would like to use please.

stylelint supports "nested" configurations which should cover your monorepo requirements so including that

[2019-06-03 09:42] hudochenkov commented on #4095
Waiting for https://github.com/gucong3000/postcss-jsx/pull/51 to be merged and published.

[2019-06-04 13:18] vilchik-elena opened #4098 "Fix false positives unspaced operator in unit-no-unknown"
There are false positives when no spaces around `+` operator

Rule `unit-no-unknown`

[code]

e.g.

[code]

I used Demo to reproduce

No warnings to be flagged.

e.g. "The following warnings were flagged:"

[code]
I suppose there is a problem when parsing such code without spaces.

[2019-06-04 13:28] evilebottnawi commented on #4098
I think it is impossible to fix due parser problem :disappointed:

[2019-06-04 14:14] vilchik-elena commented on #4098
@evilebottnawi which parser is responsible for that? [postcss-scss](https://github.com/postcss/postcss-scss)?
I could report there

[2019-06-04 21:55] mpelzsherman commented on #3612
How is this coming along?

[2019-06-05 12:55] sobolevn opened #4100 "--rd flag makes stylelint not to report any violations at all"
Reproduction:

[code]

Running `npx stylelint index.css`:

[code]

Then, let's add an unused ignore:

[code]

And run `npx stylelint --rd index.css`. No output will be received. It just passes.

Expected output:
1. `block-no-empty` violation
2. Unused `property-no-unknown` comment violation

[code]

latest: 9.10.1

[2019-06-05 13:20] sobolevn commented on #4100
Original issue: https://github.com/wemake-services/wemake-vue-template/issues/608

[2019-06-05 13:46] MrVladevoit opened #4101 "Hyphens in less variables names call error in function-calc-no-invalid"
**function-calc-no-invalid  / "stylelint": "^9.10.1"**

After adding less variables to calc function i have error in  function-calc-no-invalid. It expects me to put space on each side of the "-:

[code]

Stylelint prints the errors:

[code]

[2019-06-05 13:46] evilebottnawi commented on #4101
Please use issue template

[2019-06-05 13:54] MrVladevoit opened #4102 "Hyphens in less variables names call error in function-calc-no-invalid"
**function-calc-no-invalid / "stylelint": "^9.10.1"**

After adding less variables to calc function i have error in function-calc-no-invalid. It expects me to put space on each side of the "-:

[code]
Stylelint prints the errors:

[code]

[2019-06-05 13:55] MrVladevoit commented on #4101
@evilebottnawi delete p

[2019-06-05 13:55] #4101 closed

[2019-06-05 14:02] hudochenkov commented on #4102
Please, update your issue [using a template](https://github.com/stylelint/stylelint/issues/new?template=REPORT_A_BUG.md). No need to close and create again with the same text. Edit current issue.

[2019-06-07 06:52] ota-meshi commented on #4102
@MrVladevoit Hello!
I think you can write as follows.

[code]

[2019-06-07 06:57] ota-meshi commented on #4102
I gave a misinformation.
#4046 has not been released, so changing the syntax may not solve it.

[2019-06-07 12:46] Licoti opened #4105 "Max Specificity Selector with Regex :not()"
I have a problem with Style Lint. I have set the selector-max-specificity at **0,2,0** with some ignored rules : `ignoreSelectors: [":focus", ":hover", etc..]`

Now, I want to ignore the `:not(.myClass)` selector but this doesn't work :(

For example i have my class with this name : **`.track a:not(.track-visual)`**
I have tried with regex selector `"/:not\\(.*\\)/"` or even with `"/.*:not\\(.*\\)

[2019-06-07 12:49] evilebottnawi commented on #4105
Please use issue template

[2019-06-07 12:50] evilebottnawi commented on #4105
Put your selector here https://specificity.keegan.st/ and you can find what specify is 0,2,1

[2019-06-07 12:54] Licoti commented on #4105
The ":not", ":not()", ":not(.x)" doesn't work :'(

[2019-06-07 12:56] evilebottnawi commented on #4105
Maybe: `ignoreSelectors: [":focus", ":hover", "(.*):not"]` ?

[2019-06-07 12:58] hudochenkov commented on #4105
Also, try `"/.*:not\(.*\)/"`.

It's the matter of finding correct RegExp, which is out of scope for stylelint. I'm closing the issue.

[2019-06-07 12:59] evilebottnawi commented on #4105
It is good problem about DX, maybe we should support `ignoreSelectors` in other way, i.e. using `:not` means ignore all selectors with not?

[2019-06-07 13:04] hudochenkov commented on #4105
This change would affect every rule which accept RegExp as option.

We can update an example for `selector-max-specificity` to include `:not`.

[2019-06-07 13:08] Licoti commented on #4105
Thank you :)

(Btw, i have also tested `":not(.*)"`, `"/.*:not\\(.*\\)/"`, `"(.*):not"`)

[2019-06-07 13:10] hudochenkov commented on #4105
Did you find the answer?

If you want to use RegExp, then it's always should be surrounded by `/`, e. g. `"/.*/"`.

[2019-06-07 13:17] Licoti commented on #4105
No sorry, none of the regex works for the **:not()** even with `":not(/.*/)"`, `"/.*:not\\(.*\\)/"`, `"(/.*/):not"``

Actually i'm ignoring the attribute selector with this : "/\\[.*\\]/" and this work

[2019-06-07 14:25] Troncoso opened #4106 "Can't get --fix working for indentation"
I'm attempting to integrate stylelint with a vue project. I would like to use the --fix flag to auto address anything fixable. I know that this list is limited, but I know for sure that the indent rule is supported, but it is not getting fixed.

indentation

[code]

[code]

`^10.0.1`

My initial script in my package.json looks like this:

`vue-cli-service lint && stylelint --fix **/*.{vue,scss} --

[2019-06-07 14:37] Troncoso commented on #4106
I apologize. With all the input on the screen, I missed this message:
`Autofix is incompatible with processors and will be disabled. Are you sure you need a processor?`

Since I would like to use this for .vue files, is there anyway around needing the stylelint-processor-html processor?

[2019-06-07 16:18] hudochenkov commented on #4095
Released! Thank you to everyone who contributed to this release!

[2019-06-07 16:18] #4095 closed

[2019-06-07 16:20] hudochenkov commented on #4106
Thanks for the report and for using the template.

Remove ` --syntax scss` from npm scripts, and `processors: ['stylelint-processor-html'],` from config. stylelint automatically detects syntax. Also it supports Vue components out of the box.

[2019-06-07 16:21] hudochenkov commented on #4102
Could you try the latest release `stylelint@10.1.0`, please?

[2019-06-07 16:26] Troncoso commented on #4106
Thank you very much! That worked as expected

[2019-06-07 16:26] #4106 closed

[2019-06-08 19:38] #4077 closed

[2019-06-10 21:24] hudochenkov commented on #4100
Thanks for the report and for using the template.

When `--report-needless-disables` stylelint reports only needless disables, and no other violations. We have an [open issue](https://github.com/stylelint/stylelint/issues/4076) to change that.

I can't reproduce it. With `stylelint@10.1.0` I see the report:

[code]

[2019-06-10 21:31] hudochenkov commented on #4098
@vilchik-elena we use [`postcss-value-parser`](https://github.com/TrySound/postcss-value-parser) to parse values of the property for this rule. @evilebottnawi one of developers of this parser.

[2019-06-10 21:39] hudochenkov commented on #4088
Thanks for the report and for using the template.

I think it's bundlers territory to make dependency graphs. Or dedicated plugins.

One of solutions I described in the mentioned issue:

I don't think this issue would be solved in stylelint itself.

[2019-06-10 22:25] ghiculescu opened #4109 "`block-no-empty` should allow `@import` statements"
`block-no-empty` should allow `@import` statements, but it's currently crashing with error "Cannot read property 'every' of undefined"

`block-no-empty`

[code]

e.g.

[code]

e.g. `10.1.0`

CLI

No

No crash, no lint error.

e.g. "The following warnings were flagged:"

[code]

[2019-06-11 04:37] sindresorhus commented on #4088
That's fair. It's not an easy problem to solve. But we all know if Stylelint doesn't handle this itself, it's not going to be handled. Proposing hacks is just a nice way to decline. I use Stylelint a lot and just want to see its rules become better. There are just so many rules that will stay inherently faulty because of lack of import graph knowledge, or new rules that will be impossible to do be

[2019-06-11 09:20] evilebottnawi commented on #4098
I think we should search way to ignore this on stylelint side and stylelint-scss should has rule for this stuff (maybe already has)

[2019-06-11 10:17] evilebottnawi commented on #4088
In theory we can provide implement `resolver` function in configuration, example eslint-plugin-import support same for node and webpack, maybe we can do same

[2019-06-11 17:40] rosinfotech opened #4112 "Not working: "block-closing-brace-empty-line-before": ["never", { except: ["after-closing-brace"] }]"
.stylelintrc:

{
…
   "rules": {
…
      "block-closing-brace-empty-line-before": ["never", { except: ["after-closing-brace"] }],
…
}

and my less:

@front: #fafafa;
@background: #e339a4;

li {
   background: @background;
   border: 1px solid darken(@background, 25%);
   color: @front;
   display: inline-block;
   min-width: 200px;
   padding: 10px;

      color: @front;
   }}

and this result of

[2019-06-11 18:38] hudochenkov commented on #4112
Thanks for creating this issue but we are closing it as issues need to follow our issue template so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new/choose) using the template.

[2019-06-11 18:38] #4112 closed

[2019-06-12 12:03] MrVladevoit commented on #4102
@hudochenkov , i am updated stylelint to 10.1.0, but this version have same problem

Code less for example: https://codepen.io/mrvladevoit/pen/xobMJj?editors=0100

Screenshots of this error:

![image](https://user-images.githubusercontent.com/12032655/59349756-1956c700-8d23-11e9-8fbe-c301a16abecc.png)

![image](https://user-images.githubusercontent.com/12032655/59349760-1bb92100-8d23-11e9-91ff-f54

[2019-06-13 09:55] ssivanatarajan opened #4113 "False positive in no-duplicate-selector"
`Stylelint marks all the selectors as duplicated. Actually, one selector is duplicate`

`no-duplicate-selector`

[code]

[code]

 `10.0.1`

`Node API`

`NO`

`Only one warning should be reported.`

[code]

[code]

[2019-06-13 17:27] pburkindine commented on #3808
@jeddy3 @Maxim-Mazurok @cahamilton any update here?

[2019-06-13 17:28] evilebottnawi commented on #3808
PR welcome, it is open source

[2019-06-13 17:54] Maxim-Mazurok commented on #3808
No, @pburkindine sorry, I'm not using stylelint currently. Hopefully, @cahamilton will take care of it in #4021

[2019-06-14 12:06] vilchik-elena opened #4114 "Fix false positives for variables in function-calc-no-invalid"
There are false positives for less and scss variables containing `-`

`function-calc-no-invalid`

for less

[code]
for scss
[code]

[code]

`10.1.0`

CLI with `stylelint file.less --config myconfig.json`

Yes, it's related to less and scss variables

No warnings to be flagged

The following warnings were flagged (for less case), a pair of issues per dash in a variable name

[code]

There was a bug

[2019-06-14 15:09] Meekohi opened #4115 "--fix removes all media queries despite no errors?"
I might be just super lost but... example file:

[code]

`stylelint --syntax sass "test.sass"` -- no output.
`stylelint --syntax sass "test.sass" --fix` edits the file anyway:

[code]

am I missing something?

[2019-06-14 15:10] Meekohi commented on #4115
[code]

[2019-06-14 15:17] Meekohi commented on #4115
[code]

[2019-06-14 15:19] Meekohi commented on #4115
Doesn't seem like it depends on the `.stylelintrc` -- does `--fix` try to fix things that aren't in `.stylelintrc`?
[code]

[2019-06-14 15:21] Meekohi commented on #4115
Maybe related to https://github.com/stylelint/stylelint/issues/3274?

[2019-06-15 16:39] ntwb opened #4116 "Migrate Travis CI to `.com` from `.org`"
This issue is for tracking the migration from Travis CI `.org` to `.com`

More details: https://docs.travis-ci.com/user/migrate/open-source-repository-migration/

The following stylelint repos require migration:

- [x] stylelint
- [x] stylelint-demo
- [x] stylelint.io
- [x] stylelint-config-recommended
- [x] stylelint-config-standard
- [x] eslint-config-stylelint
- [x] jest-preset-stylelint

(Suce

[2019-06-15 17:26] ntwb commented on #4116
All repos have now been migrated to Travis CI `.com`

All repos are passing ✅

They can be seen at https://travis-ci.com/stylelint/

[2019-06-15 17:26] #4116 closed

[2019-06-15 17:34] hudochenkov commented on #4116
We probably need to remove Travis service at the bottom of the https://github.com/stylelint/stylelint/settings/installations

[2019-06-15 17:46] ntwb commented on #4116
Done, removed from all affected repos

[2019-06-17 08:11] amk221 opened #4117 "Add support for functional custom messages"
I would like to inform developers better when their code fails linting.

Currently, I can provide a custom message but:

1. This loses the ability to reference the _value_ that caused the failure. For example:
   * Before: `Unexpected hex color "#fff"`
   * After `Unexpected hex color. Please refer to the brand colours in the Styleguide`
<br><br>
2. The blacklisted values are a great way to preven

[2019-06-17 19:59] brandonkal opened #4118 "Document Custom Syntax API"
The custom syntax API such as "css-in-js" is not documented.

I see in another issue that there is talk of depreciating the custom processor API. That cannot take place until the new API is documented on the website.

[2019-06-17 20:02] hudochenkov commented on #4118
What exactly is the problem you're facing? stylelint automatically detects syntax, so `--syntax` option is the last resort. `css-in-js` supported out of the box.

[2019-06-17 20:13] brandonkal commented on #4118
@hudochenkov

The problem I am seeing is that the out of the box "css-in-js" support does not appear to understand interpolations. See [my comment here](https://github.com/callstack/linaria/issues/440#issuecomment-502822722). From what I can tell, getting things to work properly would require either fixing postcss-jsx or writing another syntax processor.

For instance, I am looking into a modifier

[2019-06-17 21:30] hudochenkov opened #4119 "Fix autofix for nested tagged template literals"
Incorrect output with `--fix` when CSS-in-JS has tagged template literal inside tagged template literal. It's a bug with `postcss-jsx`. I've [opened](https://github.com/gucong3000/postcss-jsx/issues/53) issue in related repository. But it won't be fixed any time soon, because @gucong3000 currently is not available, and the fix will require a lot of time invested.

None.

[code]

Any config as it's

[2019-06-17 21:43] hudochenkov commented on #4118
It does understand them. I'll response on this topic in mentioned issue.

Stylelint could use any PostCSS syntax. Here is the documentation how to [make one](https://github.com/postcss/postcss/blob/master/docs/syntax.md). But it's better to improve current [CSS-in-JS syntax](https://github.com/gucong3000/postcss-jsx), instead of creating a new one.

I don't see any problem with this code. You can

[2019-06-17 22:30] brandonkal commented on #4118
Thanks for the link to the PostCSS syntax documentation! That was what I was looking for. So this issue could be resolved with a link to that documentation in the [Stylelint Ecosystem Guides](https://stylelint.io/developer-guide/#ecosystem-guides).

Improving the current CSS-in-JS syntax is preferred but pre-evaluation would only make sense for linaria currently.

This is interesting. So it looks

[2019-06-18 07:03] fa93hws opened #4120 "Why there is a `nextTick` in createRuleTester?"
Hi, I am currently looking for having a custom jest rule tester.
However, the `nextTick` at https://github.com/stylelint/stylelint/blob/master/lib/testUtils/createRuleTester.js#L120 block my implementation.
Does anyone know what's the reason why it is necessary here?

In jest
[code]
Doesn't work😰
Jest will be terminated as it can't find anything to test..

[2019-06-18 09:19] evilebottnawi commented on #4120
How it is break, please provide example

[2019-06-18 14:22] fa93hws commented on #4120
Currently I implemented it as
[code]

Any test actually fails because of the `nextTick` in https://github.com/stylelint/stylelint/blob/master/lib/testUtils/createRuleTester.js#L120
It would be the same as having
[code]
only in a test file to jest

[2019-06-18 14:38] Airkro opened #4122 "prevent non css syntax in pure css file"
strict syntax check for scss/sass/less/css

when using scss/sass/less syntax in a '.*css' file, stylelint should report error

[2019-06-18 19:01] stevefulghum opened #4123 "Rule Idea: Option for rule-empty-line-before"
I have a rule with many properties, followed by a number of sub-rules. For better legibility, and to see where the properties end and the sub-rules begin, I'd like to require a line of white space.

I have "rule-empty-line-before" set to "never-multi-line", so adding an empty line between the properties and my first nested selector throws an error.

While there are a few options through "except" a

[2019-06-19 14:15] evilebottnawi commented on #4122
Out of scope for stylelint you can create own rule for this

[2019-06-19 23:02] DesignByOnyx opened #4125 "Add `include` and `exclude` options to stylelintrc config"
This was first brought up in #1227

It would be nice if `.stylelintrc` file could support an "include" (and "exclude" or "ignore") option directly - which is something done by other tools like tsc/tslint and jest. Right now, you have to pass a _single_ glob pattern to the CLI and use a separate `.stylelintignore` file, which is slightly tedious (not complaining... just sayin). Furthermore, this fe

[2019-06-21 04:04] Airkro commented on #4122
I don't this can be solved by a rule. It might be a doomsday breaking change.

Stylelint is powerful, but as a linter, why stylelint allow non-css syntax in a pure css file?

![image](https://user-images.githubusercontent.com/12206891/59896587-b7314c80-941b-11e9-8426-f007ae2fdcfd.png)

[2019-06-21 11:19] fpuga opened #4126 "Config options for ignorePath and ignorePattern are being ignored"
Config options for `ignorePath` and `ignorePattern` are being ignored but `--ignore-path` and `--ignore-pattern` work in cli.

None`

None. I attach an example project

[stylelinttest.zip](https://github.com/stylelint/stylelint/files/3314213/stylelinttest.zip)

[code]

$ stylelint -v
10.1.0

[code]

No

*.css files in .gitignore and 'vendor' are being ignored

*.css files in .gitignore and 'vendor

[2019-06-21 16:07] fpuga opened #4127 "New rule: selector-pseudo-class-no-unspaced-operator"
I'm reviewing _stylelint_ and _prettier_ to standardize a css formatting tool in our team. We are going to use _stylelint_ but prefer an output as much closer to _prettier_ as possible in many aspects.

One of the things that _prettier_ does is introduce a whitespace around operators in the pseudo class `nth-child`

As example, prettier converts this css:

[code]
to this:

[code]

but there is not

[2019-06-21 17:55] evilebottnawi commented on #4122
Can you provide example of problem, can't understand you

[2019-06-22 07:56] #4109 closed

[2019-06-22 08:12] hudochenkov commented on #4114
Thanks for the report and for using the template.

Looks like it's the same problem as https://github.com/stylelint/stylelint/issues/4102. @ota-meshi could you take a look, please?

[2019-06-22 08:25] hudochenkov commented on #4113
Thanks for the report and for using the template.

I can reproduce it.

[2019-06-22 08:40] hudochenkov commented on #4115
Thank you for the report!

I can reproduce this bug. Even with no rules applied. Looks like it's a problem with [postcss-sass](https://github.com/AleshaOleg/postcss-sass) parser we use to work with .sass files. It ignores nested `@media` rules.

cc @AleshaOleg

[2019-06-22 09:08] hudochenkov commented on #4117
This are two different suggestions.

1. Allow custom message to be a function. It's a nice idea, but could be rather complex. As every rule has different values it's provides to default message. Most rules has zero or one, but there are some rules which expose two or more. How to communicate how many and what values could be in custom message is a big problem.

2. Allow extra description to each v

[2019-06-22 09:09] hudochenkov commented on #4118
@brandonkal Would you mind contributing a fix, please?

[2019-06-22 09:34] hudochenkov commented on #4120
I'm not sure why we have `createRuleTester` API and if anyone uses it, to be honest.

You can take a look at https://github.com/stylelint/jest-preset-stylelint. It's the same [Jest configuration](https://github.com/stylelint/stylelint/blob/master/jest-setup.js) we use in our repository, but extracted into separate package.

[2019-06-22 09:37] hudochenkov commented on #4122
Stylelint doesn't validate syntax. We can't know if syntax incorrect or now based on content of a file and extension. I'm afraid you have to verify yourself that files are named correctly.

[2019-06-22 09:37] #4122 closed

[2019-06-22 09:42] hudochenkov commented on #4123
Try the following:

[code]

[2019-06-22 09:54] hudochenkov commented on #4125
I think it's a good idea.

[2019-06-22 13:54] fa93hws commented on #4120
Thanks! Will have a look.
I remember `createRuleTester` is used in the tape binding of the rule tester, which is the only tester listed in the official document..

[2019-06-22 19:45] evilebottnawi commented on #4125
Interesting, how it is solve eslint

[2019-06-22 19:46] evilebottnawi commented on #4125
Only overrides allow to setup in config, maybe we should support this also

[2019-06-22 19:52] evilebottnawi commented on #4127
Sound good, maybe better name like selector-pseudo-class-an-plus-b-spaces with always and never value?

[2019-06-23 00:30] fa93hws commented on #4120
Hey wait... `createRuleTester` API is the one that was written on the document...
https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/rule-testers.md

[2019-06-23 03:01] ota-meshi commented on #4114
Hello!

I checked about `SCSS`.
In the case of `SCSS`, I think that there is no problem in the current behavior.

When I tried [here](https://www.sassmeister.com/), the following `SCSS` syntax seems to be invalid:

[code]

The following SCSS syntax is valid:

[code]

In this syntax, there is no problem with the `function-calc-no-invalid` rule.

I checked about `less`.
In the case of `less`, as som

[2019-06-24 08:41] evilebottnawi commented on #4126
We don't provide setup ignore in configuration and we don't have docs about this, what is use case to using this option in configuration?

[2019-06-24 14:11] Jamiewarb opened #4129 "Fix false negatives for except: ["after-closing-brace"] in block-closing-brace-empty-line-before"
The `"block-closing-brace-empty-line-before"` rule with the `"except": "after-closing-brace"` does not seem to be working any longer. Rather, the behaviour seems to be identical, whether or not the except is added.

It is specifically relating to the single exception, `"after-closing-brace"` that can be added to `"block-closing-brace-empty-line-before"`.

e.g.

[code]

[code]

9.3.0 and 10.1.0 - O

[2019-06-24 14:12] Jamiewarb commented on #4129
It seems this was also reported 13 days ago, but closed as the issue didn't follow the template:
#4112

I believe the original addition of the "except" for this rule was discussed here #2090

[2019-06-24 14:32] evilebottnawi commented on #4129
StyleLintPlugin uses very old version of stylelint, can you reproduce problem using CLI?

[2019-06-25 09:02] Jamiewarb commented on #4129
Yes I am able to reproduce in CLI with both versions mentioned above:
`Via CLI: yarn stylelint 'resources/**/*.(s?(a|c)ss|vue)' --syntax scss`

[2019-06-25 10:14] evilebottnawi commented on #3527
/cc @kevinsawicki can you create minimum reproducible test repo? Maybey we can find other way to fix it, thanks

[2019-06-25 13:28] cyw3 opened #4130 "RangeError: Invalid string length"
when scan a big project
[code]

[2019-06-25 13:31] hudochenkov commented on #4130
Thanks for creating this issue but we are closing it as issues need to follow our issue template so that we can clearly understand your particular circumstances.

Please help us to help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new/choose) using the template.

[2019-06-25 13:31] #4130 closed

[2019-06-25 17:04] Arcanemagus commented on #4126
Actually it's documented as [`ignoreFiles`](https://stylelint.io/user-guide/configuration/#ignorefiles).

@fpuga If you want those files to be ignored _automatically_, you either need use the above option to specify the same globs as in your `.gitignore`, or a [`.stylelintignore` file](https://stylelint.io/user-guide/configuration/#stylelintignore).

[2019-06-25 17:06] evilebottnawi commented on #4126
@Arcanemagus oh, forgot about this, sorry

[2019-06-26 02:02] cyw3 opened #4133 "RangeError: Invalid string length"
when scan a big project, has 340M
[code]
output error:
[code]

No rule related.

[code]

9.3.0

CLI with `node --max-old-space-size=8192 /data/tools/node-v8.9.1/lib/node_modules/stylelint/bin/stylelint.js --allow-empty-input --ignore-disables --config /data/xxx/.stylelintrc.json "**/*.{css, less, scss, sass, sss}"`

No

stylelint run successfully.

[code]

[2019-06-26 02:58] joe223 opened #4134 "Fix PostCSS plugin ignoring .stylelintignore"
This is an exist issue，although it was closed. https://github.com/stylelint/stylelint/issues/2949

For example, in postcss configuration:

[code]
stylelint did not resolve ignore file.

```"stylelint": "^9.2.0",```

Use `stylelint` Programmatically. PostCSS plugin and Gulp plugin.

No.

Stylelint should resolve ignore file.

Ignore configuration in `.stylelintignore` did not works.

[2019-06-26 09:40] evilebottnawi commented on #4134
Please create minimum reproducible test repo

[2019-06-26 09:41] evilebottnawi commented on #4133
Can you provide more information? Configuration, reproducible test repo or other related information, it is hard to find problem without with infromation

[2019-06-26 13:43] niksajanjic commented on #3391
I'm using these 2 rules to fix the problem:

[code]

This ignores variables starting with `$`.

[2019-06-26 20:15] brandonkal opened #4135 "Add option to disable autofix on specific lines."
There needs to be a way to disable lines from being allowed to be auto-fixed. There are cases where it is useful to still have stylelint enabled but not allowed to touch specific lines of code.

An option should be added to specify line numbers that should not be included in autofix.

## Example
Input:
[code]
Pre-Processed (evaluation)
[code]
After Autofix (stylelint-order alphabetical)
[code]
Fin

[2019-06-26 20:26] evilebottnawi commented on #4135
Not sure it is good idea, we should fix problems with `--fix` and not create workarounds/hacks/weird things, so :-1: on this, also it is very hard implement and maintenance. Also `--fix` is experimental so you need manually review files after fixing and report about all bugs in our repo.

[2019-06-26 20:49] shawnbot opened #4136 "Fix custom formatters access to needless disables results"
I'm using a custom formatter to output logs so that our CI system can automatically create [check annotations](https://github.blog/2018-12-14-introducing-check-runs-and-annotations/#annotations-in-pull-requests) on GitHub. This works great for linting errors, but because the [needless disables results are generated after the formatter is called](https://github.com/stylelint/stylelint/blob/4ca75e78

[2019-06-26 20:56] evilebottnawi commented on #4136
Yep, looks like bad design, PR welcome

[2019-06-26 21:05] brandonkal commented on #4135
@evilebottnawi This may not be the right solution, but a solution must be found. I am not seeing any elegant way to get `--fix` to work as expected when pre-evaluation comes into play.

Currently `--fix` completely ignores `/* stylelint-disable */` comments.

Any rule fixer can only determine if it is safe to perform a fix based on its input. So if something is evaluated before being passed to a r

[2019-06-26 21:20] evilebottnawi commented on #4135
Yep, it should be fixed.

Can't understand you :confused:

Please open new issue for this requires.

It is unsafe, very unsafe and can create many problems (in you example property appears in other code block :confused: ).

Honestly you should not do `Pre-Processed (evaluation)` with stylelint:

It is invalid, stylelint should be run on raw content, we are `static analyzer` (not runtime). Anyway i

[2019-06-26 21:21] evilebottnawi commented on #4135
How you run stylelint on you code base?

[2019-06-26 22:11] brandonkal commented on #4135
I am fine contributing such a fix. What I see is something very close to what you originally suggested:

It would just be a util shouldFix that the plugin would check.

Then it would be as simple as:
[code]

Feed this into `stylelint --fix`:
[code]
The output will be this:
[code]
Without such a comment or line number as I suggested above, there is currently no way to inform the sorting rule (or an

[2019-06-27 10:50] evilebottnawi commented on #4135
@brandonkal

Let's open new issue for this and PR welcome :+1:

As said stylelint contributors, you shouldn't lint `Pre-Processed (evaluation)`, sorry **it can't be fixed**

Bad idea:
[code]

Fixer shouldn't fix code:
[code]

Also in you case you shouldn't not use fix, because it is unsafe and you can break code

[2019-06-27 11:46] snebjorn opened #4138 "Support schema.json for better editor support"
[Schema.json](https://json-schema.org/) will give editors auto-completion and schema validation support in .stylelintrc.json.

A schema.json file distributed with the npm package.

Then inside .stylelintrc.json it'll look like this

[code]

[2019-06-27 12:03] evilebottnawi commented on #4138
We don't disturb json schema, please open issue in your IDE

[2019-06-27 12:03] #4138 closed

[2019-06-27 12:47] snebjorn commented on #4138
Distributing the schema for a stylelint config with an IDE/plugin for IDE isn't the right solution.

For example Angular does it. So inside angular.json you have:

[code]

[2019-06-27 12:48] evilebottnawi commented on #4138
We don't disturb json schema

[2019-06-27 14:53] amk221 commented on #4117
Ok thanks for the info.

Would it be possible to make `message` a function?

[code]

Then the onus is on me to do the work, not Stylelint

Mind you, that gets us into custom formatter territory.

[2019-06-27 16:24] snebjorn commented on #4138
If others are looking for this. There's one available here: http://json.schemastore.org/stylelintrc.json

[2019-06-27 19:49] brandonkal commented on #4135
Linting of processed code is already being done, and I disagree it was a bad idea.

Displaying warnings on a line without autofix is still useful.

Take this for example:
[code]
That will never be safe to autofix. It would also be silly to not report such an error as this will result in broken CSS output. The information on what that compiles down to is already available in a cache for static anal

[2019-06-28 11:04] evilebottnawi commented on #4135
It can be implemented, problem not in idea, problem what it is unsafe and stylelint can't do unsafe things

[2019-06-28 20:20] brandonkal commented on #4135
How is this unsafe?
1. Stylelint would continue doing autofixes where it already is, not touching interpolations.
2. Stylelint would not by default evaluate interpolations. That would be a library-specific processor/syntax addition.
3. Stylelint would not attempt to autofix interpolations as the processor would add the no-fix-line comment in front of every interpolation.
So the only thing that has

[2019-06-30 00:29] brandonkal opened #4140 "Fix false positives for array literal expressions"
Stylelint is not giving special treatment for expressions inside styled components. This means that rules that use regex to locate css attribute brackets result in parseErrors.

There are many. For instance: 'selector-attribute-brackets-space-inside': 'never'

[code]

e.g.

[code]

10.1.0

CLI

css-in-js

Stylelint should not attempt to parse array literals inside expressions. No parse errors shou

[2019-06-30 00:47] brandonkal commented on #4140
Here is a list of rules with false positives because Stylelint is attempting to read inside template expressions:

- [ ] selector-attribute-brackets-space-inside
- [ ] selector-attribute-operator-space-before
- [ ] selector-attribute-operator-space-after
- [ ] function-whitespace-after
- [ ] declaration-bang-space-before
- [ ] function-name-case
- [ ] no-descending-specificity

[2019-07-01 09:36] evilebottnawi commented on #4135
We will not implement `no-fix-line` comment, we should:
1. Don't do unsafe fix.
2. `/* stylelint-disable */` and `/* stylelint-disable-next-line*/` should not fix rules with warnings/errors.

[2019-07-01 17:10] niksajanjic commented on #1829
It is possible to ignore pseudo-classes and blockless-at-rules, but not pseudo-elements for now.

[2019-07-01 20:55] billyvg commented on #4018
I've found that `--syntax css-in-js` is not compatible with `stylelint-processor-styled-components` - is there any overlap between the two? which one should we be using?

[2019-07-02 03:23] brandonkal commented on #4135
Okay.
@efedorenko ignored the question and failed to explain his claim that it is unsafe...
I'm going to close this as you are clearly not interested in a discussion.

[2019-07-02 10:18] fpuga commented on #4126
Thanks for the comment. I just believe that i can use `ignorePath` and `ignorePattern` in the config file.

My strategy actually is using the `--ignore-path .ignore` from the command line (or as an argument for [pre-commit](https://pre-commit.com/), and share the the `.ignore` file for different formatters like prettier.

I hope that in the future "all" the formatters allow to share a gitignore li

[2019-07-02 10:52] evilebottnawi commented on #4135
@brandonkal don't be child, it is my opinion, other developer can have other opinion, so do not need loud sayings

[2019-07-02 11:03] evilebottnawi commented on #4018
Your don't need `stylelint-processor-styled-components` anymore, stylelint support this format out of box

[2019-07-02 14:44] efedorenko commented on #4135
🤔

[2019-07-02 20:24] srawlins opened #4144 "Add ignoreBeforeAtRules: [] to block-closing-brace-newline-after"
The [block-closing-brace-newline-after](https://stylelint.io/user-guide/rules/block-closing-brace-newline-after/#optional-secondary-options) rule has a neat [ignoreAtRules](https://stylelint.io/user-guide/rules/block-closing-brace-newline-after/#optional-secondary-options) option, which allows non-newline characters after an at-rule-associated `}`. The examples given are:

[code]

[code]

This ign

[2019-07-03 09:42] Spanoudakhs opened #4145 "How am I supposed to make the linter locate this mistake ?"
![Screenshot from 2019-07-03 12-39-09](https://user-images.githubusercontent.com/45520375/60581690-02d6e500-9d90-11e9-9559-4a6369e1daa1.png)

[2019-07-03 10:16] evilebottnawi commented on #4145
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please use this plugin https://github.com/csstree/stylelint-validator

[2019-07-03 10:16] #4145 closed

[2019-07-04 07:28] joe223 commented on #4134
https://github.com/stylelint/stylelint/blob/0fb8b6d561ca59830cb6d66addf588cfe6169ff1/lib/postcssPlugin.js#L101

I think it's because stylelint postcss plugin did not resolve `.stylelintignore` file.

[2019-07-04 08:21] joe223 commented on #4134
This is a reproducible repo https://github.com/joe223/stylelint-ignore-issue

[2019-07-04 18:27] evilebottnawi commented on #4144
For specify sass/scss rules better open issue in stylelint-scss, think option ignore any newlines for `at-rules` in your list

[2019-07-05 18:54] dangreenisrael commented on #815
Any progress on this?

[2019-07-05 20:55] limonte opened #4146 "Getting some weird output ok ?? 36 ok ?? 36 ok ?? 36"
I'm getting some weird output when running `stylelint src/**/*.scss`:

[code]

Live demo: https://travis-ci.org/sweetalert2/sweetalert2/builds/554841887

https://github.com/sweetalert2/stylelint-config/blob/master/index.js

`10.1.0`

`stylelint src/**/*.scss`

No weird output.

### Steps to reproduce

1. `git clone https://github.com/sweetalert2/sweetalert2.git`
2. `cd sweetalert2`
2. `yarn instal

[2019-07-05 23:00] hudochenkov commented on #4146
Thanks for the report and for using the template.

I was narrowed down to single `calc`:

[code]

Output:

[code]

Input:

[code]

Output:

[code]

When I disabled [`stylelint-csstree-validator`](https://github.com/csstree/stylelint-validator) in [config](https://github.com/sweetalert2/stylelint-config/blob/11a64300c2fd381820d1fca47fd4e3a980e8590f/index.js#L7) strange output disappeared. I think i

[2019-07-05 23:23] limonte commented on #4146
Thank you so much @hudochenkov for the prompt investigation and reply, I opened the issue in `stylelint-csstree-validator`: https://github.com/csstree/stylelint-validator/issues/18

Feel free to close this one, or I'll close it when the root of the issue will be caught.

[2019-07-05 23:54] #4146 closed

[2019-07-06 03:59] fa93hws commented on #4120
Is there any update?

[2019-07-06 06:58] MaxMilton commented on #4076
This one caught me off guard. I expected it to work the same as ESLint's `--report-unused-disable-directives`, where it adds extra errors into the regular output. I'm embarrassed to say, I had a few projects essentially not being linting for a month because of this issue :sweat_smile:

I wonder how many other projects made the same assumption and haven't realised yet 🤔

[2019-07-06 22:12] AleshaOleg commented on #4115
I implemented basic support for media rules - https://github.com/AleshaOleg/postcss-sass/pull/98
Will write more tests, and will release new `postcss-sass` version

[2019-07-08 16:57] srawlins commented on #4144
Hi @evilebottnawi, I'm not sure what you are suggesting. block-closing-brace-newline-after is a stylelint rule, not a stylelint-scss rule. What is an example use case for the `ignoreAtRules` option that pertains to CSS?

I cannot think of a reason that a user would want the `ignoreAtRules` option to allow something other than an at-rule to follow a `}`.

[2019-07-08 20:02] kwokrobyn1 commented on #4117
Any updates on this? I noticed it was closed, but did not see any changes being made

[2019-07-09 11:52] evilebottnawi commented on #4144
@srawlins sometimes you just need ignore something

Good practice using `ignoreAtRules` for ignore non standard at-rules and implement rule in `stylelint-scss` for `if/else` style

[2019-07-09 14:28] dawidk92 commented on #2489
Any updates about this issue? It throws an error in my styled-components like mentioned -> [here](https://github.com/styled-components/stylelint-processor-styled-components/issues/201)

[2019-07-09 14:34] evilebottnawi commented on #2489
PR welcome

[2019-07-09 17:27] srawlins commented on #4144
@davidtheclark or @jeddy3, would you mind weighing in here on the purpose of the `ignoreAtRules` option? I see in https://github.com/stylelint/stylelint/issues/561 a lot of good discussion and back-and-forth on what this is designed for. It only ever seems to be to allow newlines before `{`, and more at-rules after `}`.

@evilebottnawi I still am not sure what you are suggesting. I would like a ru

[2019-07-09 17:33] evilebottnawi commented on #4144
stylelint doesn't report on any non standard(non css) stuff, so if you want get warnings/errors for sass/scss stuff you need create rule/open issue in `stylelint-scss`

[2019-07-10 14:31] nosilleg commented on #2489
@dawidk92 As discussed above, this isn't a bug, even though the ticket remains open and marked as a bug.

I'll comment on your specific issue on the linked page.

[2019-07-10 19:23] #4115 closed

[2019-07-10 19:26] hudochenkov commented on #4123
I'm closing the issue because of inactivity. Feel free to comment to continue discussion.

[2019-07-10 19:46] #4123 closed

[2019-07-10 20:57] hudochenkov commented on #4120
Have you seen [`createRuleTester.test.js`](https://github.com/stylelint/stylelint/blob/master/lib/testUtils/__tests__/createRuleTester.test.js)? There `createRuleTester` is used specifically with Jest.

[2019-07-10 21:00] #4126 closed

[2019-07-10 21:20] hudochenkov commented on #4127
Yeah, this rule could be in the core, I think. What name to choose is the hard question. Because it should support different cases.

This rule should support all of “simple cases”:

[code]

And not break the following (not add spaces around `-`):

[code]

And work with pseudo-classes inside pseudo-classes:

[code]

And work with new syntax like [`:has()`](https://developer.mozilla.org/en-US/docs/W

[2019-07-10 21:30] evilebottnawi commented on #4127
I think we should handle `h1:has(+ p) {}` and `h1:has(> p) {}` in https://stylelint.io/user-guide/rules/selector-combinator-space-after/ and https://stylelint.io/user-guide/rules/selector-combinator-space-before/, `selector-pseudo-class-an-plus-b-spaces` should handle only `an+b` grammar

[2019-07-10 21:34] nex3 commented on #4144
Hey @evilebottnawi! We could just update this within Google, but I'd really like to find a way to make this work for all Sass users. I hear you on not wanting to add Sass-specific logic to the general stylelint package, but this may even become relevant to all *CSS* users—there's discussion of adding something like `@else` in CSS itself (https://github.com/w3c/csswg-drafts/issues/112).

What if we

[2019-07-10 21:36] evilebottnawi commented on #4144
/cc @stylelint/contributors

[2019-07-10 23:06] hudochenkov commented on #4127
True. The only problem, no one knows what is `an+b` is :) I just found out in spec, but I will forget soon.

[2019-07-11 01:16] fa93hws commented on #4120
Hi! I think we are talking about the same thing.
This issue is about `process.nextTick` https://github.com/stylelint/stylelint/blob/master/lib/testUtils/createRuleTester.js#L120 which prevent it to be used in jest as I mentioned here https://github.com/stylelint/stylelint/issues/4120#issuecomment-503158028. The jest won't run anything because there is nothing to test at the first tick.

[2019-07-11 11:06] evilebottnawi commented on #4127
@hudochenkov we can clarify this in rule description :smile:

[2019-07-12 19:29] jeremyBanks commented on #2756
Your versioning policy makes sense for this product, but calling it semver and saying "We follow semantic versioning", is incorrect and misleading.

Semantic Versioning has a *specific meaning*, as defined in the document you reference. You are explicitly *not* using semantic versioning. You have good reasons, but it would be better if the documentation was precise about this: call it a "versionin

[2019-07-15 23:38] quetzaluz opened #4150 "Upgrade lodash from ^4.17.11"
- Per https://github.com/lodash/lodash/issues/4348, an upgrade is required to address a recent security vulnerability CVE-2019-10744
- https://github.com/stylelint/stylelint/blob/master/package.json#L59 -- dependency currently out of date.

10.1.0

[2019-07-16 00:49] thibaudcolas commented on #4076
I also was expecting this flag to work like ESLint’s equivalent, and was very close to start using it on all of my projects. Here is a PR to address this: #4151

[2019-07-16 06:44] josias-r commented on #4150
https://www.npmjs.com/advisories/1065

[2019-07-16 07:02] hudochenkov commented on #4150
PR is welcome!

[2019-07-16 13:18] BoruiGu opened #4152 "Support turn off rules with /*! comment"
We have multiple `scss` files that will be compiled into a single `css` file, and we'd like to run stylelint on both `scss` files and the compiled `css` file.

There're some places in the `scss` files that we turn off rules with `/* stylelint-disable */` comment and it works. However in the compiled `css` file, the comments are gone since we use `compressed` style, and the compiled `css` file will

[2019-07-16 13:30] hudochenkov commented on #4152
I'm afraid it won't be implemented. We're aim to create functionality which is generally useful and mostly target standard CSS. Your case is quite specific for your team needs.

I would recommend to [write a PostCSS plugin](https://github.com/postcss/postcss/blob/master/docs/writing-a-plugin.md) which will be run before SCSS compilation. It will replace `/* stylelint-disable` to `/*! stylelint-dis

[2019-07-16 13:30] #4152 closed

[2019-07-16 18:26] #4150 closed

[2019-07-16 22:56] bdpartridge opened #4154 "Fix false positives for interpolation and shorthand in font-family-name-quotes"
I'm getting false positives related to a Sass interpolation in a `font` shorthand declaration value. The SCSS looks something like:

[code]

The unexpected errors are:

[code]

And the related rules are configured as follows:

[code]

This is happening with stylelint 10.1.0, when running from CLI.

[2019-07-17 09:48] evilebottnawi commented on #4154
It is bug, feel free to send a PR, thanks for issue

[2019-07-17 18:52] ortigozamatias opened #4155 "Styled components - block-closing-brace-space-after"
This warning gets fired when I have more than one styled component in the same file. Linting is started via 'stylelint' command.

`
 Expected single space after "}" (block-closing-backtick-space-after)
`

The configuration linting file, .stylelintrc, is as follows:

[code]

Here is an example component:

[code]

Version: 10.1.0

[2019-07-17 18:54] evilebottnawi commented on #4155
Why do you use `stylelint-processor-styled-components`? `stylelint` support css-in-js out of box without `processor`

[2019-07-17 18:59] ortigozamatias commented on #4155
I was just following instructions on https://www.styled-components.com/docs/tooling#stylelint

[2019-07-17 19:02] evilebottnawi commented on #4155
Looks this instructions are invalid, try to remove `stylelint-processor-styled-components`

[2019-07-17 19:13] ortigozamatias commented on #4155
Warnings have disappeared yet other rules are highlighted like `no-empty-first-line`. I guess that's what the processor avoids.

[2019-07-17 19:44] evilebottnawi commented on #4155
@ortigozamatias please clarify, do you have other problems? Show how we can reproduce them, thanks

[2019-07-17 19:54] ortigozamatias commented on #4155
I have updated .stylelintrc file according to @evilebottnawi and added another rule, which is `no-empty-first-line`. Thankfully, the warning regarding `block-closing-brace-space-after` have disappeared but other ones have suddenly appeared, all of which are related to the added rule.

Updated .stylelintrc
[code]

Updated warnings on example component
[code]

Those last warnings do not appear when

[2019-07-17 20:06] evilebottnawi commented on #4155
hm, strange, should be no errors, /cc @hudochenkov

[2019-07-17 21:07] hudochenkov commented on #4155
This is correct `no-empty-first-line` is not intended to be used with CSS-in-JS, as it looks at the source. In case of CSS-in-JS every component considered source (everything between backticks).

@ortigozamatias Just disable this rule because it's not applicable here.

[2019-07-17 21:11] ortigozamatias commented on #4155
I get it. Thanks @evilebottnawi, @hudochenkov!.

[2019-07-17 21:11] #4155 closed

[2019-07-17 22:55] brandonkal commented on #4140
I have found some more broken rules:

- [ ] selector-combinator-space-after
- [ ] selector-combinator-space-before
- [ ] selector-descendant-combinator-no-non-space
- [ ] selector-pseudo-class-parentheses-space-inside

Here you can see my config. Note the long list of rules that had to be disabled due to this issue that remains:
[code]

Could someone please label this as a bug?

[2019-07-18 01:27] jackmcpickle opened #4156 "Improve --quiet flag wording in CLI help"
When using the `--quiet` flag in the stylelint cli should I expect the errors to be changed to warnings and the cli to exit with exit code 0 ? Currently the quiet option doesn't seem to do much at all.

Related to CLI tool. using `-q` or `--quiet`

[code]

default config or no config

10.1.0`

running inside as npm script
[code]

No

Errors to be converted to warnings and the cli to exit quietly i

[2019-07-18 09:54] evilebottnawi commented on #4155
@hudochenkov maybe we should disable this rule for css-in-js to avoid bad DX?

[2019-07-18 09:57] evilebottnawi commented on #4140
Can you provide example of code with bugs ruls?

[2019-07-18 10:46] brandonkal commented on #4140
See original post. Essentially any interpolation with an array literal inside.

[2019-07-18 10:54] evilebottnawi commented on #4140
Thanks for issue, PR welcome :+1:

[2019-07-18 16:06] bdpartridge commented on #4154
@evilebottnawi Thanks for confirming this is a bug. I'll try to find some time over the next several weeks to submit a PR.

[2019-07-18 16:10] Jamiewarb commented on #4129
Hey @evilebottnawi
Just a nudge to see if you're able to get round to this at all?

[2019-07-18 16:22] evilebottnawi commented on #4129
/cc @stylelint/core

[2019-07-19 11:18] hudochenkov commented on #4100
Closing because of no response from the author.

[2019-07-19 11:18] #4100 closed

[2019-07-19 11:41] sobolevn commented on #4100
I would say that this issue: https://github.com/stylelint/stylelint/issues/4076 tracks the feature I am interested in.

[2019-07-19 13:23] hudochenkov commented on #4156
Thanks for the report and for using the template.

Options is working as intended. Warnings are discarded, errors are reported. Though wording is confusing in option description. Now we use word “violation” instead of warning to not confuse with ”warning” severity.

https://github.com/stylelint/stylelint/blob/ae73c908c26ba800b1575991a558012e51fbb59b/lib/cli.js#L265-L268

It should say:

Would you

[2019-07-19 14:33] hudochenkov commented on #4144
I believe non of our rules looks for nodes (properties, rules, etc.) _after_ current node that is being checked. All rules looks at current node, and sometime at previous node.

Because of this add suggested `ignoreBeforeAtRules` won't be possible as it will require to look to the following. Well technically it would be possible, but it won't be done in stylelint core.

When it happen we can reeva

[2019-07-19 16:37] hudochenkov commented on #4134
Looks like you're right, @joe223. PR is welcome!

[2019-07-19 16:43] hudochenkov commented on #4133
You might have a lot of violations and Node.js just could handle the size of the output: https://github.com/nodejs/help/issues/1061#issuecomment-356714457. Try to lint fewer files. Does it helps? As soon as you fix violations, it should become better.

[2019-07-19 18:43] nex3 commented on #4144
Why is this a reason not to add it? PostCSS makes this information available, so why not use it?

[2019-07-19 19:06] hudochenkov commented on #4144
I can't say for sure. I was here from the beginning of the project. Probably to avoid rule conflicts. Like with CSS: it's easier to compose block when they have `margin-bottom` only, rather when some has `margin-top`, some `margin-bottom`.

[2019-07-19 20:11] hudochenkov commented on #4129
It never worked for rule inside another rule. It was always working for a rule inside at-rule.

https://github.com/stylelint/stylelint/blob/d1f07846ff6a1fce028b8db0b47f9aa8fa3c058d/lib/rules/block-closing-brace-empty-line-before/index.js#L72

Because CSS doesn't have rules inside another rules yet.

[2019-07-19 21:43] nex3 commented on #4144
If there's not a concrete use-case that this breaks, can you add an exception here? It would be very useful for many users of this package.

[2019-07-19 22:13] hudochenkov commented on #4144
I wouldn't say adding this is a bad idea, but the value is almost non-existent. I would expect that only few people once in many month do something like:

[code]

[2019-07-20 09:55] joe223 commented on #4134
@hudochenkov I'll give it a try.

[2019-07-22 13:19] laysent opened #4162 "`no-unit-unknown` should ignore less variable"
`@56789a` is considered as a number with unknown unit in less, instead of a valid variable name in less.

`no-unit-unknown`

[code]

[code]

10.1.0

CLI

Yes, it's related to LESS variable usage

No warning should be reported.

The following warnings were flagged:

[code]

[2019-07-22 21:16] laras126 commented on #815
@dangreenisrael It looks like there is some related conversation here: https://github.com/stylelint/stylelint/issues/3982

[2019-07-23 07:13] #4162 closed

[2019-07-23 10:25] hassam7 commented on #4156
@hudochenkov may I create PR for this?

[2019-07-23 20:29] laras126 commented on #815
Perhaps helpful for those arriving on this thread:

At the time of my research, Stylelint itself is not using `stylelint.createRuleTester` for its internal Jest tests - the documentation is a bit misleading and out of date. It has a different `testRule` implementation here: https://github.com/stylelint/stylelint/blob/master/jest-setup.js

This is a separate example of using the Stylelint methods i

[2019-07-24 02:07] ntwb commented on #815
I'd be more than happy to see this updated, I started but have had little time recently to progress this further is to create a _shared_ Jest configuration for stylelint at https://github.com/stylelint/jest-preset-stylelint

[2019-07-24 06:36] #4018 closed

[2019-07-24 06:38] hudochenkov commented on #4018
We've updated dependency, the issue should be resolved. Until we release new version of stylelint you can reinstall stylelint to have `postcss-jsx` updated to the latest version. Run `npm ls postcss-jsx` to check version. It should be 0.36.2.

[2019-07-24 06:59] hudochenkov opened #4166 "Simplify CHANGELOG format"
I propose to remove compare tags links from changelog. They not really useful. We create changelog manually for users to read, there is no need to provide “alternative changelog” consists of list of commits. If someone would need to check for some reason it would possible to do from Github.

[code]

It would solve two issues:

1. It's a little bit annoying when releasing stylelint to rename Head t

[2019-07-24 07:38] jeddy3 commented on #4166
SGTM

That's good to hear!

[2019-07-24 09:30] jeddy3 commented on #4144
Yep, no problem. I'm just back from my hols and can chime in now.

@nex3 and @srawlins, am I right in thinking that a `ignoreBeforeAtRules` option will nicely complement the [`@if`](https://github.com/kristerkari/stylelint-scss#-if) and [`@else`](https://github.com/kristerkari/stylelint-scss#-else) rules in [stylelint-scss](https://github.com/kristerkari/stylelint-scss)? And it will allow a user t

[2019-07-24 09:40] #4166 closed

[2019-07-24 09:51] jeddy3 commented on #4140
For anyone picking this up, you can see if this can be fixed in the [postcss-jsx parser](https://www.npmjs.com/package/postcss-jsx) or whether it's best to add array literal expressions heuristics to the`isStandardSyntax*` utils (e.g. [isStandardSyntaxSelector](https://github.com/stylelint/stylelint/blob/master/lib/utils/isStandardSyntaxSelector.js)) here in stylelint.

[2019-07-24 11:07] jackmcpickle commented on #4156
Ok will. I get it now. My use case is slightly different, I'm wanting to validate my rules via tests so I can my own preset rules reliably across upgrades. Is there an way to do this? Or something people might be interested in?

[2019-07-24 11:41] jeddy3 commented on #4156
Nothing springs to mind. Can you expand on this use case in a new "Request a feature" issue so that we can look into it, and we'll keep this one around for the documentation tweak?

[2019-07-24 12:21] vankop commented on #4059
Could I take this issue?

[2019-07-24 12:22] hudochenkov commented on #4059
@vankop Yes, please!

[2019-07-24 12:24] vankop commented on #4059
@hudochenkov As I understand #4057 has same problem, but with other rule?

[2019-07-24 12:26] hudochenkov commented on #4059
They might be related, because both have multi-line URLs.

[2019-07-24 17:22] vankop commented on #4059
@hudochenkov looks like it is postcss problem or problem how we use it 😁since it skip AST node if there is some not url encoded symbols (not all escaping is required)

Small repo with reproduction: https://github.com/vankop/stylelint-url-bug/tree/master

[2019-07-24 19:12] hudochenkov commented on #4059
PostCSS parses it. Check AST explorer https://astexplorer.net/#/gist/0914863cec899d3aa0b8063916d35c1e/c560f4a108e5b3c7803b88dfc4a293be3187cf5d. Issue in this RegExp:

https://github.com/stylelint/stylelint/blob/1178f2d2d4c7d83d12ad4ec55b686a7bf7e28995/lib/rules/max-line-length/index.js#L85

It doesn't match new line symbols.

[2019-07-24 19:26] vankop commented on #4059
we have test cases on it, see
https://github.com/stylelint/stylelint/blob/1178f2d2d4c7d83d12ad4ec55b686a7bf7e28995/lib/rules/max-line-length/__tests__/index.js#L34
code above checks new line symbols, see https://github.com/stylelint/stylelint/blob/1178f2d2d4c7d83d12ad4ec55b686a7bf7e28995/lib/rules/max-line-length/index.js#L66

I found out problem in debugging tests, I tried astexplorer and it work

[2019-07-24 19:36] iliyaZelenko opened #4168 "Invalid Option: Invalid option value "null," for rule"
CLI command `stylelint "./src/styles/**/*.sass" --fix --syntax sass` gives errors:

[code]

Even when I put a valid value, for examplen `"block-closing-brace-empty-line-before": never,` then the error still remains:

[code]

Even an empty scs

`.stylelintrc.yaml`:

[code]

 `10.1.0`

CLI with `stylelint "./src/styles/**/*.sass" --fix --syntax sass`

Yes, it's related to SASS.

No errors.

Errors.

[2019-07-24 19:37] evilebottnawi commented on #4168
Because `null` is invalid for option?

[2019-07-24 19:46] vankop commented on #4059
@hudochenkov Steps to reproduce bug:
1. __lib/rules/max-line-length/__tests__/index.js__
[code]
2. run ` node --inspect-brk node_modules/jest/bin/jest.js  --runInBand lib/rules/max-line-length/__tests__/index.js`
3. In debugger add breakpoint/`debugger;` here
https://github.com/stylelint/stylelint/blob/master/lib/getPostcssResult.js#L134

In first run `nodes: []`, in second run `nodes: [Node]`

[2019-07-24 19:54] iliyaZelenko commented on #4168
This works if the config is in json format:

[code]

This bug only happens with yaml. `null` in yaml means `null`, not `"null"` (string): https://yaml.org/refcard.html

[2019-07-24 19:56] evilebottnawi commented on #4168
@iliyaZelenko

Looks extra `,`, you don't need this in yaml

[2019-07-24 19:57] evilebottnawi commented on #4168
Also you can see what github doesn't parse yaml in you issue too due using `,`

[2019-07-24 19:58] iliyaZelenko commented on #4168
@evilebottnawi Just saw it myself. I am not attentive)) Thanks anyway.

I see 😄

[2019-07-24 19:58] #4168 closed

[2019-07-24 19:59] iliyaZelenko commented on #4168
I need to go to sleep, today I code a lot))

[2019-07-24 20:19] vankop commented on #4059
You are totally right, there is an issue with RegExp too. Current tests with newline in url works because of https://github.com/stylelint/stylelint/blob/master/lib/rules/max-line-length/index.js#L150

[2019-07-24 21:19] nex3 commented on #4144
@jeddy3 Sounds good to me!

[2019-07-25 10:13] pavlyukpetr opened #4170 "Quick fix feature is not working in VS Code"
Hello, the Quick Fix feature is not working for me.
![2019-07-25_13-08-27](https://user-images.githubusercontent.com/11602610/61866456-d66d3f00-aedd-11e9-8d90-d5ae5016054d.jpg)
It says "No code actions available".

Can you, please, tell me maybe there is a way to add the code actions?

Thank you.

[2019-07-25 10:14] hudochenkov commented on #4170
Please open issue in your editors plugin repository: https://github.com/shinnn/vscode-stylelint.

[2019-07-25 10:14] #4170 closed

[2019-07-25 10:48] jeddy3 commented on #4144
I've now labelled the issue as "help wanted". @nex3 and @srawlins Feel free to contribute a PR, thanks.

[2019-07-25 13:27] glen-84 opened #4171 "Print absolute paths with the string formatter"
The ability to Ctrl+click on a path in the output of the string formatter, to open the file in a code editor.

With ESLint, the absolute path is printed, and can be used to navigate to the file:

![image](https://user-images.githubusercontent.com/261509/61877332-1557c080-aeef-11e9-8b73-02427242abd7.png)

In fact, if you append the line and column number, it should use that as well:

`D:/Programmin

[2019-07-25 13:37] vankop commented on #4057
@hudochenkov Same problem #4059, postcss does not parse data url node:
Steps to reproduce:

1. __lib/rules/max-line-length/tests/index.js__
[code]

2. run `node --inspect-brk node_modules/jest/bin/jest.js --runInBand lib/rules/string-no-newline/__tests__/index.js`

3. In debugger add breakpoint/`debugger;` here
https://github.com/stylelint/stylelint/blob/master/lib/getPostcssResult.js#L134
In firs

[2019-07-25 13:40] vankop commented on #4057
For CLI it parses 🙈, but failing after on `https://github.com/stylelint/stylelint/blob/master/lib/rules/string-no-newline/index.js#L83` parser returns source string instead of removing `\` and newline symbols

[2019-07-25 13:45] glen-84 commented on #3288
@puggan,

https://lists.w3.org/Archives/Public/www-style/ (probably)

[2019-07-25 19:58] squalrus commented on #456
Not trying to reopen this by any means, but I found this thread while searching: I noticed this happening when I had `reportNeedlessDisables: true` set in https://www.npmjs.com/package/grunt-stylelint

[2019-07-25 21:56] nex3 commented on #4144
@rambleraptor can you look into this?

[2019-07-26 09:22] vankop commented on #4113
I take this

[2019-07-26 09:28] glen-84 commented on #4171
For some reason, the relative paths are now clickable in VS Code. 😕

Closing.

[2019-07-26 09:28] #4171 closed

[2019-07-26 10:03] vankop opened #4172 "Add support to test for several warnings"
Currently it not possible to detect several warnings in tests, see
https://github.com/stylelint/stylelint/blob/master/jest-setup.js#L92

However, sometimes it is necessary for tests to detect such cases, see https://github.com/stylelint/stylelint/issues/4113

My suggestion is to rework reject object syntax.

Typescript defintion:
[code]

[2019-07-26 10:03] vankop commented on #4172
cc @stylelint/contributors

[2019-07-26 10:19] evilebottnawi commented on #4172
I have nothing against it :+1:

[2019-07-26 10:24] vankop commented on #4172
I think this discussion is mostly about API since it important to support current behavior + Will we enable strict warnings array length check? or we will check it length only when warnings descriptions presented as array

[2019-07-27 13:26] #4113 closed

[2019-07-27 14:47] #3041 closed

[2019-07-29 07:58] darshanbacancy opened #4178 "No files matching the pattern "'src/**/*.scss'" were found."
I have a bug: when I run the command stylelint src/**/*.scss --syntax scss, it gives error
 No files matching the pattern "'src/**/*.scss'" were found.
                 at globby.then.filePaths .

It's related to the CLI not a specific rule

No specific css needs

No specific conf needed

^10.0.1

CLI with stylelint src/**/*.scss --syntax scss

Yes it targets SCSS files

All SCSS files contained i

[2019-07-29 07:59] hudochenkov commented on #4178
Use double quotes to wrap glob pattern:

[code]

Also, no need to specify syntax, because stylelint detects it.

[2019-07-29 08:03] darshanbacancy commented on #4178
It gives error like "Comments are not permitted in JSON."

[2019-07-29 08:32] hudochenkov commented on #4178
Well, remove comments from your stylelintrc, because JSON doesn't support comments.

[2019-07-29 08:58] #4178 closed

[2019-07-29 09:29] vankop commented on #4020
I take this

[2019-07-29 10:49] vankop commented on #4020
@gucong3000 @hudochenkov review please ⬆

[2019-07-29 15:02] evilebottnawi commented on #4020
@vankop can we add test for this case to avoid regressions in future?

[2019-07-30 10:41] iliyaZelenko opened #4180 "Fix false positives for mixins in max-empty-lines"
Strange error: "Expected no more than 1 empty line (max-empty-lines)"

`max-empty-lines`

[code]

[code]

`10.1.0`

CLI with `stylelint ./src/styles/**/*.sass` and error in my IDE.

Yes, it's related to SASS.

No errors.

"Expected no more than 1 empty line (max-empty-lines)"

![image](https://user-images.githubusercontent.com/13103045/62123015-a8b63a80-b2cf-11e9-901e-1ac35b0ba5ad.png)

Note: with

[2019-07-31 05:03] soundasleep commented on #2489
This warning can occur if you are mixing up pseudo-classes (such as `:hover`) and pseudo-elements (such as `::before`). Try changing any `:before` to `::before` etc.

[2019-07-31 06:57] caribou-code opened #4182 "parser.parse is not a function"
I have a recurring issue with my file `components/Label/index.style.ts` below:

[code]

Running `stylelint 'components/Label/index.style.ts'` on this file throws the following error:

[code]

My project uses Styled Components, React and Typescript and the `.stylelintrc` looks like this:

[code]

I can consistently replicate the issue with this file, but other files that looks almost identical (usi

[2019-07-31 08:42] #4059 closed

[2019-07-31 08:47] #4076 closed

[2019-07-31 08:49] hudochenkov commented on #2369
Done in https://github.com/stylelint/stylelint/pull/4151

[2019-07-31 08:49] #2369 closed

[2019-07-31 09:05] #3196 closed

[2019-07-31 09:10] #4056 closed

[2019-07-31 09:16] #2657 closed

[2019-07-31 09:35] hudochenkov commented on #4182
Could you create a repository with this problem, please?

[2019-07-31 10:18] #3612 closed

[2019-07-31 12:38] jeddy3 commented on #4180
Thanks for the report and for using the template. I can replicate this.

I suspect the problem lies within the interplay of stylelint and the postcss-sass parser. I'll label up the issue as "help wanted" as I don't believe any of the core team uses the sass syntax.

[2019-07-31 12:48] jeddy3 commented on #2489
What is needed to close this issue? A while back I suggested:

Is this a valid solution? The rule is very useful if users write shallow nesting, which arguably users should be doing anyway. We can add a caveat about turning the rule off for those users who don't.

[2019-07-31 13:05] jeddy3 commented on #4172
What is the complexity overhead of this feature? I ask as because #4113 was the first time we've needed the feature. If it's a lot then it might not be worth it. If it's not much though, then I suggest we go ahead.

Am I right in thinking that the latter would support the current behaviour? If so, I suggest we take that approach if we added the feature.

[2019-07-31 19:45] vankop commented on #4172
decided to create a draft ☝

Yes

[2019-07-31 20:12] vankop commented on #4172
If enable strict warnings count check, getting result of:
`132 failed, 14747 passed`

errors in:
[code]
and more..

Obviously, most warnings are expected, but I think we need to cover this cases as well

[2019-07-31 20:19] hudochenkov commented on #4172
We should not break tests for now. I propose to create a new issue when related PR is merged to track tests which need to be improved (add all missed warnings). When all tests are improved we could enable strict check for warnings count.

[2019-08-02 08:57] ivancuric commented on #4018
Thanks!

[2019-08-02 12:37] vankop commented on #3401
did not find out how to determine that stdin is result of [process substitution](https://en.wikipedia.org/wiki/Process_substitution)

[2019-08-03 10:25] nosilleg commented on #2489
@jeddy3 I agree.

I've created a PR. I'm limited in my Dev capacity for the next week, but should be able to check email every couple of days.

[2019-08-04 12:20] joe223 commented on #4134
Fix PR https://github.com/stylelint/stylelint/pull/4186

[2019-08-06 11:06] golopot opened #4188 "Rule proposal: prefer placing media query in rules"
In sass, media queries can be placed inside of rules, some authors prefers doing so instead of the opposite, because it keep codes for a rule in one place, in other words, avoid scattering related codes.

### Pass
Declarations for the class `.aaa` are concentrated in on place.

[code]
### Fail
Declarations for the class `.aaa` are scattered.

[code]

A new rule to forbid media queries containing r

[2019-08-07 02:17] soundasleep commented on #2489
Here's a fascinating scenario:

[code]

If you put `> tfoot > tr:first-child` first, stylelint complains that it expected `&.expand-last-column` first; but if you put `&.expand-last-column` first, then stylelint complains it expected `> tfoot > tr:first-child` first. Extremely inconsistent!

[2019-08-07 05:34] nosilleg commented on #2489
@soundasleep

CSS specificity is complex, which is why this rule exists. There is no inconsistency in the errors you are seeing.  There are 6 selectors mentioned in your error messages and when considered together the correct specificity order for the 3 `th` is:

[code]

The same applies for the `td` selectors.

This can be confirmed with any CSS specificity calculator.

The way that you are nesti

[2019-08-07 07:45] Zirak opened #4189 "no-descending-specificity trips up on pseudo-elements"
When choosing a selector to compare specificity to, `no-descending-specificity` discards any pseudo-classes like `last-child` before finding a selector to compare to. This seems sort of related to #2489, but from what I can tell that issue talks about more complex selectors where relationships may be tricky to define, while this has a more straightforward repro (see below).

If the pseudo-class wa

[2019-08-07 09:06] stephenliu1944 commented on #3842
still won't fix this bug.

[2019-08-07 20:46] nosilleg commented on #4189
@zirak Thanks for the details in your issue, it makes things a lot easier to check.

The example you have provided works as intended. The specificity of those selectors is 0-2-1 and 0-1-1. Therefore the second is less specific and should come first.  The linting error is correct.

See https://www.codecaptain.io/tools/css-specificity-calculator for confirmation.

[2019-08-07 20:56] staghouse commented on #674
Any movement on this?

[2019-08-07 20:57] evilebottnawi commented on #674
@staghouse no, it is open source

[2019-08-07 21:16] Zirak commented on #4189
@nosilleg My pleasure, thank you for taking a look !

You're right that the selector with the pseudo-class has a higher specificity, however so does the selector with a regular class. My intuition was that they'd be treated similarly. To better elaborate on what I mean:

[code]

Currently, `no-descending-specificity` compares `A` and `C`, but does not compare `B` and `C`. It compares `A` and `C` b

[2019-08-08 04:42] saiichihashimoto opened #4190 "report-needless-disables ignores eslint-disable"
When using `--report-needless-disables`, it ignores all of my `eslint-disable`s.

all

[code]

e.g.

[code]

`d3a6cb47fc2d5c59e61f6fac618c6121b316b97c`

`stylelint --fix --color --allow-empty-input --report-needless-disables`

The problem applies to both

For it to disable the rules

They were not disabled

[2019-08-08 09:49] evilebottnawi commented on #4190
What is `d3a6cb47fc2d5c59e61f6fac618c6121b316b97c` version?

How `report-needless-disables` related to `eslint` comments?

[2019-08-08 09:53] hudochenkov commented on #4190
It's a known issue. `--fix` ignores `stylelint-disable` comments https://github.com/stylelint/stylelint/issues/2643.

[2019-08-08 09:53] #4190 closed

[2019-08-08 11:54] irstavr opened #4192 "Missing typescript version"
The description of the `pre-requisites` does not mention the compatiblity with Typescript version.
We installed the latest `stylelint` with typescript `2.7.2` and brought many typescript build errors. Upgrading typescript to `3.5.3` solved everything.
But, instead we decided to downgrade `stylelint` to 8.2.0 to fix our issues.

I suggest rewriting the documentation with referring the compatible ty

[2019-08-08 12:03] evilebottnawi commented on #4192
@irstavr stylelint doesn't have types in repo, you should open issue in `typed` repo

[2019-08-08 12:03] #4192 closed

[2019-08-08 14:40] saiichihashimoto commented on #4190
I meant stylelint-disable, but good to know.

[2019-08-08 14:53] Jamiewarb commented on #4129
Ahh yes that makes a lot of sense, thanks for the explanation. So I guess this is something I should bring up with the SCSS plugin for stylelint?

[2019-08-08 17:38] theodab opened #4193 "Allow to use full file path without converting it to glob"
I have been trying to add stylelint to a project. However, when our build bot runs our tests, it runs them in a directory path that happens to contain parentheses. This causes problems with globby, and leads to stylelint not actually linting anything. I tried running globby with `noext` set, but that just caused it to produce some arcane-looking errors.
I might have been configuring globby wrong,

[2019-08-08 18:42] hudochenkov commented on #4193
What is the exact command your build bot running for stylelint?

[2019-08-08 19:05] theodab commented on #4193
I'm just calling it via the CLI, providing the name of our config file and a list of CSS files.
An example invocation:
[code]
When I was experimenting with running globby in `noext` mode, I was just temporarily modifying my local version of stylelint to always use `noext` mode; as far as I can tell, there's no way in the cli to provide globby options. I've tried escaping the spaces, so that we don

[2019-08-08 19:13] hudochenkov commented on #4193
You can set [`globbyOptions`](https://stylelint.io/user-guide/node-api#globbyoptions) when using stylelint Node.js API.

[2019-08-08 19:47] theodab commented on #4193
Indeed, I can. But I'm using the CLI, and setting globby options does not (seem to?) help my problem.

[2019-08-09 09:27] Svish opened #4195 "stylelint property in package.json not working"
With a `stylelint` configuration file named `.stylelintrc.json` next to my `package.json` the following command works:
[code]

But if I add `"stylelint": "./.stylelintrc.json"` to my `package.json` I get the following:
[code]

Similar setup worked fine for prettier, so figured it would work here too (`"prettier": "./myconfig.json"`), but, seems like it doesn't...? 😕

**Version:** `10.1.0`
**Via:**

[2019-08-09 09:29] hudochenkov commented on #4195
This is correct. We don't support `"stylelint": "./.stylelintrc.json"` in package.json. There is no need, because `.stylelintrc.json` picked up automatically.

[2019-08-09 09:38] Svish commented on #4195
Well, in this project yes, but the goal was to publish this as a package to use for shared stylelint configuration. And the hope was to then be able to refer to it in other packages using `"stylelint": "@company/stylelint-config"` in `package.json` for less file clutter.

Seems I can add a `.stylelintrc.js` with `module.exports = require('@company/stylelint-config');`, but would really like to not

[2019-08-09 09:42] hudochenkov commented on #4195
You can use [`extends`](https://stylelint.io/user-guide/configuration#extends).

[code]

[2019-08-09 09:42] #4195 closed

[2019-08-09 10:18] Svish commented on #4195
Ah, cool, that works, thanks 🙂👍

[2019-08-09 15:56] cordis-dev opened #4200 "Fix false positives for Less variables in length-zero-no-unit"
Automatic fix (` --fix`) for `length-zero-no-unit` does nothing when working with Less variables.

`length-zero-no-unit`

[code]

[code]

`10.1.0`

Node.js

Yes, it's related to Less variables.

Input file to be fixed:
[code]

Input file did not change.

[2019-08-09 15:59] evilebottnawi commented on #4200
It is not safe, because we don't know how you will use variable, for example `line-height: 0` and `line-height: 0px` is difference values and means difference things

[2019-08-10 06:50] nwmcsween opened #4202 "Fix error for some CSS character escapes"
Stylelint cannot parse some CSS character escapes

None

[code]

Any

Any

Makefile stylelint-cli

No

Parse escape with spaces

Unexpected unknown type selector "25"

[2019-08-10 12:38] evilebottnawi commented on #4202
Bug in postcss-selector-parser, need update parser

[2019-08-10 21:01] saiichihashimoto opened #4203 "Make --report-needless-disables CLI flag respect stylelint-disable commands"
When using `--report-needless-disables`, it ignores all of my `stylelint-disable`s.

all

[code]

e.g.

[code]

Commit `d3a6cb47fc2d5c59e61f6fac618c6121b316b97c` (it comes with some `--report-needless-disables` fix that I need since the last release)

`stylelint --report-needless-disables`

The problem applies to both

For it to disable the rules

They were not disabled, receive these errors:
[cod

[2019-08-11 08:58] hudochenkov commented on #4203
Thank you for clarification!

[2019-08-11 09:38] hudochenkov commented on #4193
I would consider this as a bug. User should be able to use full paths without any extra CLI arguments required. For example, ESLint works with full paths without problems.

[2019-08-11 09:48] #4020 closed

[2019-08-11 10:26] hudochenkov commented on #4200
The rule reports violation, so it should fix as well. Marking this as “help wanted”.

[2019-08-11 10:29] hudochenkov commented on #4188
I think this rule should be a plugin or part of [stylelint-scss](https://github.com/kristerkari/stylelint-scss), because I can't come up with a use case for standard CSS.

[2019-08-11 11:15] vankop commented on #4200
@hudochenkov However @evilebottnawi  is right, this values will have different meaning. Don't we need to change rule behavior?

[2019-08-11 11:41] #3037 closed

[2019-08-11 11:43] #4156 closed

[2019-08-11 11:44] hudochenkov commented on #4200
I think we do need to change the rule and don't check non-standard properties.

[2019-08-11 12:17] brandonkal commented on #4020
Ran into this as well. Please push a stylelint update with these fixes.

[2019-08-11 12:54] vankop commented on #4203
`report-needless-disables` runs with`ignoreDisables = true` by design. See https://github.com/stylelint/stylelint/blob/master/lib/lintSource.js#L180

[2019-08-11 12:55] vankop commented on #4203
Right now it is required to clarify which rules are needless

[2019-08-11 13:02] vankop commented on #4020
@brandonkal I think you just need to reinstall stylelint since it was fixed in `postcss-jsx` patch version and stylelint does not use `lock` file

[2019-08-11 14:43] joeyparrish commented on #4193
I agree, this seems like a bug, if not in stylelint, then in globby.  It's very hard to tell which from our outsiders perspective as stylelint users.

Would it be acceptable to have an option to disable globby for now, until someone from stylelint or globby can assess and fix the underlying issue to support unusual characters in path names?

[2019-08-11 16:31] hudochenkov commented on #4020
True. Reinstalling stylelint should fix the problem. `npm ls postcss-jsx` should show 0.36.3 (version with the fix).

[2019-08-11 16:32] #2489 closed

[2019-08-11 19:06] saiichihashimoto commented on #4203
So, just to clarify, there's not a way to run stylelint normally (ie respecting disables) while also reporting disables that are needless?

[2019-08-12 10:29] brandonkal commented on #4020
Thanks guys! I had the latest version of `postcss-jsx`. Turns out I had to restart my editor to get the updated stylelint  to register in the problems panel.

[2019-08-12 10:55] evilebottnawi commented on #4200
I think we should mark this as bug :smile:

[2019-08-12 10:55] #4172 closed

[2019-08-12 19:32] tomayac opened #4206 "Add support for `color-scheme`"
https://drafts.csswg.org/css-color-adjust-1/#color-scheme-prop defines a CSS property `color-scheme` that lets pages express which color schemes they support. This is along the lines of https://github.com/stylelint/stylelint/pull/3951/files.

Currently using this property results in an ` Unexpected unknown property "color-scheme"   property-no-unknown` error. A new rule would fix this.

[2019-08-13 17:49] broomstick73 opened #4208 "stylelint doesn't flag quoted css values as errors"
the following css is invalid but not flagged by stylelint
.class { color: "blue"; }

there doesn't seem to be a rule for this? maybe string-quotes?

[code]

seems to be any configuration

10.1.0

VS Code plugin

no; basic css

expected a warning to be flagged

no warning was flagged; css is invalid and not applied; browser dev tools show it as invalid thus not applied.

[2019-08-13 19:52] lfender6445 commented on #3612
For anyone wondering how they might script something like this with the command line, you could do

[code]

[2019-08-13 21:25] hudochenkov commented on #4208
Stylelint doesn't check validity. Use [`stylelint-csstree-validator` plugin](https://github.com/csstree/stylelint-validator) for this.

[2019-08-13 21:25] #4208 closed

[2019-08-14 21:21] rambleraptor commented on #4144
yeah, I'm on it!

[2019-08-15 06:40] hudochenkov commented on #4120
There is another implementation for Jest https://github.com/keplersj/jest-runner-stylelint.

I'm inclining to close this issue.

[2019-08-16 01:40] andrewthauer opened #4211 "Fix file paths that contain the `+` character being ignored"
File paths that contain a `+` are either not linted or will fail with an error.

If the glob pattern itself contains a `+` itself it will throw this error even if it's quoted or escaped:

[code]

If the glob pattern does not contain a `+` but the pattern would match paths that do contain a `+` it will not error, but it also won't lint those files either. It seems to just ignore them.

n/a

n/a

n/

[2019-08-16 11:18] evilebottnawi commented on #4211
I.e. new version globby is work as expected?

[2019-08-16 13:24] andrewthauer commented on #4211
I tried switching to `globby@10.0.1` (latest version) and it still doesn't lint file paths containing `+`. It essentially just ignores any file paths that have a `+` in it somewhere. I can't be sure it's `globby` but feels like a possibility. I'll try and find some time to see if I can reproduce the issue with globby alone.

[2019-08-16 18:33] evilebottnawi commented on #4203
It is expected, because we will want other CLI arg for this https://github.com/stylelint/stylelint/issues/2291 and https://github.com/stylelint/stylelint/issues/2292, for me multiple flags look like as overloading in configuration, but maybe i am wrong

[2019-08-17 13:56] nosilleg commented on #4189
Hi @Zirak

Sorry for the delay in getting back to you.  Thankfully hudochenkov has added some labels anyway.

This does indeed look like a bug, with an linting error not being raised for:

[code]

Is this something that you think you can contribute to fixing?

[2019-08-19 03:46] sotayamashita commented on #674
I created a repository and registered module to NPM then I made it private and try to remove module from NPM. :cry:

[2019-08-19 08:43] tomayac commented on #4206
This got fixed in an external dependency, see https://github.com/known-css/known-css-properties/pull/98/files#diff-488eead074948aa18d9072d416c1f495R301, all good :-)

[2019-08-19 08:43] #4206 closed

[2019-08-19 15:01] glen-84 commented on #4117
@amk221 Can you please reopen this issue?

Not being able to specify a custom message for a blacklisted property value is a problem.

[2019-08-19 16:29] vankop commented on #1744
I have look only on tests and did not understand from them that this is not a part of the parser yet 🤦🏼‍♂️

[2019-08-20 09:56] vankop commented on #3310
@evilebottnawi works in latest postcss-selector-parser version https://github.com/postcss/postcss-selector-parser/pull/207

[2019-08-20 10:22] evilebottnawi commented on #1744
@vankop because parser is not maintainable :disappointed:

[2019-08-20 10:40] vankop commented on #4202
@hudochenkov can we label this and https://github.com/stylelint/stylelint/issues/3310 as issues that blocked by `postcss-selector-parser` update

[2019-08-20 10:42] hudochenkov commented on #4202
It's label as blocked, and your comments have the reason :)

[2019-08-20 12:08] vankop commented on #4202
I just suggested to optimize your work and update maintainer workflow in case of updating `postcss-*-parser`, for instance:

1. apply update
2. review, close or remove block status from issues dependent on this update

Plus it gives more information for contributors/community what will be fixed or could be done after update

[2019-08-20 13:55] ota-meshi commented on #674
I’m working on support for Stylus.
https://www.npmjs.com/package/postcss-styl

[2019-08-21 08:10] scsskid commented on #4105
any update?

[2019-08-21 10:28] lijianru opened #4217 "Fix TypeError: Cannot set property 'afterEnd' of undefined"
![image](https://user-images.githubusercontent.com/28643081/63424328-c4c97980-c440-11e9-84c4-5c2aa23b0425.png)

package.json
[code]

.stylelintrc.json
[code]

I always get this error when opening an HTML file.

[2019-08-21 10:30] evilebottnawi commented on #4217
Can you provide example of source code where error happens?

[2019-08-21 10:59] evilebottnawi commented on #4217
Oh, looks you use old version of `stylelint`, please update

[2019-08-21 16:38] vankop opened #4218 "Fix false negatives for last line without trailing EOL in no-eol-whitespace"
There is no warning on the last line, when I provide code without trailing EOL

`no-eol-whitespace`

any without trailing EOL, e.g.

[code]

No error on line 3 ☝🏼

[code]
error on line 3 ☝🏼

e.g.

[code]

latest on https://stylelint.io/demo

REPL

no

warning without trailing EOL too

no warning

May be related to #3842
Right now code runs` styleSearch` for EOL, so last line is skipped

[2019-08-22 01:37] lijianru commented on #4217
I tried to update to the latest version, but I still get this error. In fact, I get this error when I open every html file, and the word `afterEnd ` does not exist in my code.

[2019-08-22 01:43] lijianru commented on #4217
example:
[code]

[2019-08-22 08:40] limonte opened #4219 "Should complain about missing parent for the direct child > selector"
That's what I'm trying to figure out :)

[code]

`> .class-name` doesn't make sense becase `>` stand for direct child, but parent isn't provided.

### Reproduce

It's possible to reproduce the issue with the CSS code provided earlier in this issue-report: https://stylelint.io/demo

[2019-08-22 10:11] vankop commented on #4120
@fa93hws last commit is dated to 2016 =) my suggestion is to use runner provided by @hudochenkov  ☝️

@hudochenkov our tests can not find this problem due to run in `it` case already, see https://github.com/stylelint/stylelint/blob/master/lib/testUtils/__tests__/createRuleTester.test.js

[2019-08-22 10:16] fa93hws commented on #4120
Oh cool, thanks

[2019-08-22 10:16] #4120 closed

[2019-08-22 10:52] evilebottnawi commented on #4218
Hm, it is valid css?

[2019-08-22 10:53] evilebottnawi commented on #4217
@lijianru i can reproduce, can you create minimum reproducible test repo?

[2019-08-22 10:55] evilebottnawi commented on #4219
We doesn't check syntax because it is out of scope stylelint, you can write plugin for this, also it is very difficult because we support many preprocessors like sass/less and etc

[2019-08-22 11:39] limonte commented on #4219
Thank you @evilebottnawi! Do you maybe have some recommendation on css/scss validators? I'm unable to find anything which might help me to prevent such types of issues in future and any recommendation is very welcome.

[2019-08-22 11:43] hudochenkov commented on #4219
There is no such plugin yet :(

[2019-08-22 15:17] in-in opened #4220 "The rule `selector-pseudo-class-no-unknown` skips an unknown pseudo-class"
The rule `selector-pseudo-class-no-unknown` skips an unknown pseudo-class

`selector-pseudo-class-no-unknown`

[code]
or
[code]

[code]

`10.1.0`

CLI with `stylelint "**/*.css" --config myconfig.json`

No

Warnings to be flagged

✔ No warnings

![192341566487260](https://user-images.githubusercontent.com/8797432/63527384-abd8cb00-c509-11e9-8cdb-0285060f19de.png)

[2019-08-22 15:42] evilebottnawi commented on #4220
It is invalid CSS syntax,stylelint doesn't support invalid syntax (because we can't parse broken CSS), you can create plugin for validate syntax

[2019-08-22 15:42] #4220 closed

[2019-08-23 03:31] aladdin-add opened #4221 "security: potential redos"
https://github.com/stylelint/stylelint/blob/f8d7865eae73af0ecb7a21002e6bd5ef5b01fcfe/lib/rules/max-line-length/index.js#L13-L14

please do not use this kind of regex -- it can cause potential redos!
refs: https://en.wikipedia.org/wiki/ReDoS

btw, is there a better way to report security issues?(I don't think it's good to use GitHub for filing security issues.)

[2019-08-23 07:53] hudochenkov commented on #4221
Thank you! We have a fix https://github.com/stylelint/stylelint/pull/4213.

You can email to one of maintainers. I have email in my profile.

[2019-08-23 09:29] aladdin-add commented on #4221
closing, as it has been fixed by #4213

[2019-08-23 09:29] #4221 closed

[2019-08-23 11:36] jeddy3 commented on #4217
@lijianru Are you wanting to lint the styles in your HTML files? If not, you can turn off linting for them with:

[code]

Hopefully, the editor you use will respect this.

[2019-08-23 11:43] jeddy3 commented on #4218
I can replicate this. The last line isn't checked.

[2019-08-23 11:44] vankop commented on #4218
I will take a look on this

[2019-08-23 13:15] surgeboris opened #4223 "Stylelint CLI does NOT use custom processor when needed."
Stylelint CLI does NOT use custom processor when I'm passing file contents via stdin. However when I'm passing filename as a stylelint CLI argument - it uses custom processor correctly. I prepared [a repo with minimal reproduction](https://github.com/surgeboris/styleint-bug-repro).

[code]

 `10.1.0`

[code]
Problem is also reproduced without explicit `--config` flags.

I'm using styled-components

[2019-08-23 13:18] hudochenkov commented on #4223
There is no way to find out what syntax if you just pass stdin. Use `--syntax css-in-js` parameter:

[2019-08-23 13:21] surgeboris commented on #4223
@hudochenkov But I'm using "processors" property in the configuration file, and passing config argument explicitly. Isn't that enough to find out what syntax I'm using?

Anyway, I've tried `--syntax css-in-js` and it does not help, since built-in css-in-js parser does not handle more obscure typescript features (e.g. property-access on a type, non-null assertions) very well.

[2019-08-23 13:34] jeddy3 commented on #4211
@andrewthauer Thanks for digging deeper. I'll mark up as a bug needing help.

[2019-08-23 13:47] jeddy3 commented on #4200
It looks like we [already have a heuristic for Less variables](https://github.com/stylelint/stylelint/blob/master/lib/utils/isStandardSyntaxAtRule.js#L23), so it should just be the case of making use of this util in the rule.

[2019-08-23 14:03] jeddy3 commented on #4188
Agreed.

I think the [stylelint-use-nesting plugin](https://github.com/csstools/stylelint-use-nesting) supports this nested at-rule use case (because there was talk of supporting nested at-rules in the spec, although [this might change at some point](https://github.com/jonathantneal/postcss-nesting#postcss-nesting-).

Either way I'll close the issue as it's best handled in a plugin, like stylelint

[2019-08-23 14:03] #4188 closed

[2019-08-23 14:36] surgeboris commented on #4223
Passing additional `--stdin-filename ComponentWithError.tsx` parameter when passing file contents via stdin actually solves the problem.

Which makes me wonder why is it necessary to know the filename to use the custom processor that is in explicitly passed config...

I'm also struggling to understand the difference between `syntax` and `processor` concepts: IIUC `syntax` is some kind of a built-i

[2019-08-23 14:39] vankop commented on #4037
create issue in `stylelint-scss` https://github.com/kristerkari/stylelint-scss/issues/361

[2019-08-23 14:42] evilebottnawi commented on #4037
Let's close issue here

[2019-08-23 14:42] #4037 closed

[2019-08-23 22:45] hipstersmoothie commented on #456
@squalrus I can confirm that when using the node API and setting `reportNeedlessDisables` to true makes it so my disable comments don't work

[2019-08-27 09:18] MeisterTea opened #4226 "Add daemon support"
Stylelint takes around 1 second to parse a css file.
It can be quite heavy when you are using it frequently to lint your files

The same happens with eslint.
Eslint_d fixes this issue. Could the same be done with stylelint ?

This projects aims to fix that but is not maintained anymore
https://github.com/jo-sm/stylelint_d

[2019-08-27 09:21] hudochenkov commented on #4226
This won't be part of stylelint core. Same as eslint_d is not part of ESLint. It's open source, so you can maintain repository you mentioned.

[2019-08-27 09:21] #4226 closed

[2019-08-28 12:48] kud opened #4227 "Add CssSyntaxError description to FAQ"
I don't see the rule CssSyntaxError in the doc: https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md

Maybe it's not such a rule?

I'm telling you this because of https://github.com/styled-components/stylelint-processor-styled-components/issues/156

[code]

I'm using a js comment which is valid in style-components.

[2019-08-28 12:48] evilebottnawi commented on #4227
You have invalid css syntax so you got error

[2019-08-28 12:51] kud commented on #4227
@evilebottnawi Sorry, I posted before doing the whole comment.

So. Yeah I've got a csssyntaxerror but it's not totally right in the case of SC.

[2019-08-28 12:54] evilebottnawi commented on #4227
Don't use `stylelint-processor-styled-components`, it is deprecated, stylelint support css-in-js out of box

[2019-08-28 12:54] kud commented on #4227
Whaaaaaaaaaaaat. Alright. I've got a try so.

[2019-08-28 13:17] kud commented on #4227
I understand.

However, to come back on the issue itself, `CssSyntaxError` is a rule or not?

To add it to the doc.

[2019-08-28 13:21] evilebottnawi commented on #4227
It is error from parser

[2019-08-28 13:23] hudochenkov commented on #4227
We can add question about CssSyntaxError to [FAQ](https://github.com/stylelint/stylelint/blob/master/docs/user-guide/faq.md).

[2019-08-28 13:40] kud commented on #4227
(oops sorry :D)

[2019-08-28 20:43] vkrol opened #4228 "Fix autofix stripping BOM"
Autofix strips BOM

N/A.

N/A.

N/A.

`10.1.0`

CLI with `stylelint "**/*.css" --fix`.

No.

The BOM must remain in place.

N/A.

Minimal reproducible example: https://github.com/vkrol/stylelint-fix-bom-bug.
This is related to https://github.com/stylelint/stylelint/issues/3792 and https://github.com/stylelint/stylelint/pull/4225.

[2019-08-30 10:52] #4218 closed

[2019-08-30 10:52] #3842 closed

[2019-08-30 11:22] #4223 closed

[2019-08-30 13:03] vankop opened #4232 "Fix multiple violations in value-list-max-empty-lines and others"
rule creates report for each empty line

`value-list-max-empty-lines`

any violated

e.g.

[code]

latest

does not matter

no

one warning per selector

warning for each line

For reproduce in current tests run in repo root:
[code]

same problems:
-  `selector-max-universal` css: `:not(*)` config: `[0]`
-  ~~`selector-max-combinators` css: `foo, bar { & > baz ~ quux + bat {} }` config: `[2]` (loo

[2019-08-30 13:11] evilebottnawi commented on #4232
PR welcome

[2019-08-30 13:52] vankop commented on #4232
I created issue to understand is it a bug or it's fine

[2019-08-30 15:34] vankop opened #4233 "False negative in selector-max-universal"
`selector-max-universal` produce two warnings for `:not(*)`

`selector-max-universal`

e.g.

[code]

e.g.

[code]

latest

stylelint REPL

no

1 warning

2 warnings with same `line:column`

[2019-08-30 15:35] evilebottnawi commented on #4233
@vankop let's keep one issue for this problem instead create multiple issues

[2019-08-30 15:35] #4233 closed

[2019-08-30 15:40] evilebottnawi commented on #4232
/cc @vankop just update issue and keep all problems here :+1:

[2019-08-30 19:58] vankop commented on #3230
looks like it is fixed and we can close this

[2019-08-30 21:04] #3230 closed

[2019-08-30 22:38] paradox460 opened #4235 "at-rule-property-blacklist and whitelist"
Inefficient properties in keyframe animations cause jank and reflow.

Use of properties in keyframe animations, such as `top` and `width` can seriously impact CSS animation performance

https://css-tricks.com/tale-of-animation-performance/

A new set of rules for defining property blacklists (and whitelists) for defining what set of properties can be used within an at-rule. There is already the `a

[2019-08-30 22:41] hudochenkov commented on #4235
You might find this useful https://github.com/kristerkari/stylelint-high-performance-animation

[2019-08-30 22:43] paradox460 commented on #4235
Thanks! That does the trick perfectly.

[2019-08-31 10:48] silverwind opened #4236 "Fix false positives for :is selector in selector-pseudo-class-no-unknown"
[`:is`](https://developer.mozilla.org/en-US/docs/Web/CSS/:is) selector is not known by this rule.

`selector-pseudo-class-no-unknown`

e.g.

[code]

e.g.

[code]

`10.1.0`

CLI

No

`:is` to not trigger the rule

`:is` triggering the rule

[code]

[2019-08-31 10:52] hudochenkov commented on #4236
Thanks for the report and for using the template.

Consider contributing by updating this set https://github.com/stylelint/stylelint/blob/75326e9183e60be8141d4bef6f9dcfaeb2a2b777/lib/reference/keywordSets.js#L247

[2019-08-31 11:33] silverwind commented on #4236
Will send a PR later.

[2019-09-02 11:58] Chaoste opened #4238 "Compatible Indentation Rules to Prettier"
Hi all,

I am using stylelint and eslint with prettier. All configs are set to 2 spaces indentation. However, they appear to have different rules for template literals. In one of my styled-components, prettier uses the indentation similar to functions with parameters covering multiple lines:
The parameters are indented by four spaces while the function body is indented by two spaces.

`indentation

[2019-09-02 12:03] evilebottnawi commented on #4238
We should skip check `indentation` for `${}`, maybe hard to implement

[2019-09-02 12:04] evilebottnawi commented on #4238
Also we strongly recommend disable all stylistics rules when you use prettier

[2019-09-02 22:27] hudochenkov opened #4240 "Add tests for Markdown"
Looks like we don't have tests for Markdown. In https://github.com/stylelint/stylelint/pull/4239 markdown parser was removed and tests didn't fail, but they should have. Because we support Markdown out of the box.

[2019-09-02 22:31] hudochenkov commented on #4238
The best solution is to disable this rule. stylelint and Prettier will rarely match. That's why indentation rules disabled both in [stylelint-config-prettier](https://github.com/prettier/stylelint-config-prettier/blob/80a0b3fcf50c96c78c139774e6bbdf14dcd2c07d/src/index.js#L5) and [eslint-config-prettier](https://github.com/prettier/eslint-config-prettier/blob/793aa76f9045a1aa9237558c343e64e957b5698

[2019-09-02 22:31] #4238 closed

[2019-09-02 22:39] ntwb commented on #4238
Agreed, ensure you're Prettier config sets the tab-width

https://prettier.io/docs/en/options.html#tab-width

[2019-09-03 10:30] evilebottnawi commented on #4240
:+1:

[2019-09-03 12:22] vankop commented on #4235
@ntwb could we add this plugin to [stylelint-awesome](https://github.com/ntwb/awesome-stylelint) ?

[2019-09-03 14:38] jeddy3 commented on #4235
Closing for now as the current use case is best addressed with the available plugin. We can reopen this if other uses cases for built-in `at-rule-property-white/blacklist` rules come to light.

[2019-09-03 14:38] #4235 closed

[2019-09-03 14:48] jeddy3 commented on #4232
I think it's a bug as the better user experience is to see one violation. I suspect the rules have historical show more violations as it was simpler to implement at the time.

[2019-09-03 15:00] jeddy3 commented on #4217
Closing due to inactivity. Feel free to reopen this with a reproducible repo.

[2019-09-03 15:00] #4217 closed

[2019-09-03 15:35] jeddy3 opened #4242 "Release 11.0.0"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

It's been a while since our last release. I'm going to be around for 3 more weeks (until I'm offline again until Christmas) so I can help get the next release out.

Which PRs would everyone liked to see merged in

[2019-09-03 15:56] evilebottnawi commented on #4242
A lot of PR require review, we need do this before review, maybe some should be merged

[2019-09-03 16:04] hudochenkov commented on #4242
The next version should be 11.0.0 because we have few things changed which for some users could break builds.

[2019-09-03 16:06] jeddy3 commented on #4242
I just saw the "Changed" entries in the log now. I think you're right.

[2019-09-03 16:15] vankop commented on #4242
Could you review this please https://github.com/stylelint/stylelint/pull/4181

[2019-09-04 08:42] hudochenkov opened #4244 "Replace Greenkeeper"
Greenkeeper sends a lot of messages and PR. Most of the time they are not really usefull. There is no real need to update every single dependency to it's every version. Greenkeeper open new PRs even for minor versions, and creates more distraction, rather real help.

I propose to reconsider our choice and choose different tool for updating dependencies.

What I think are good features:

1. Create

[2019-09-04 09:27] jeddy3 commented on #4244
SGTM

[2019-09-04 09:32] jeddy3 opened #4245 "Replace Flow with TypeScript JSDoc"
In https://github.com/stylelint/stylelint/issues/4244#issue-489022754 @hudochenkov mentioned how looking after Flow is a bit of a pain.

I wonder whether it's worth investigating how much effort is involved in migrating away from Flow to [TypeScript JSDocs](https://www.typescriptlang.org/docs/handbook/type-checking-javascript-files.html#supported-jsdoc). Does anyone have experience with this? I be

[2019-09-04 09:50] ntwb commented on #4244
Likewise, SGTM, happy to give Depanabot a try.

Greenkeeper creates a new branch for each package release, it runs the CI tests and if the CI fails it creates a PR, or creates a PR if it is not covered by the SemVer range, otherwise it then deletes the branch.

I think we've been caught a little of guard recently by the above type PRs because for example the `flow-bin` PRs had not been resolved Gr

[2019-09-04 09:53] hudochenkov opened #4246 "Reconfigure Prettier and use tabs for indentation"
I would like to reconfigure Prettier. Main goals are increase readability, and cleaner diffs.

Proposed changes:

* [`printWidth: 100`](https://prettier.io/docs/en/options.html#print-width). We're dealing with a lot of nesting and long variables names. 80 symbols is too small, and often single expression is broken into multiple lines which leads to worse readability. I don't have an example on han

[2019-09-04 09:54] ntwb commented on #4245
I'd be interested in taking a closer look at this, I try to grok Flow but it just doesn't come easy to me, one of the projects I'm involved with [Gutenberg](https://github.com/wordpress/gutenberg) has recently started doing the same, switching to TypeScript JSDocs.

As for time to do it, I'll be quote limited, starting a new job next week 🎉

Nevertheless I like the sounds of this idea and thanks f

[2019-09-04 10:02] hudochenkov commented on #4245
I think it's a good idea. TypeScript is more reliable and future-proof.

Here is one more article on this topic https://ricostacruz.com/til/typescript-jsdoc

[2019-09-04 10:02] evilebottnawi commented on #4245
:+1: For typescript-jsdoc

[2019-09-04 10:05] evilebottnawi commented on #4246
Prettier has problem with ternary and literal templates when you use tabs, it is very ugly in many cases

[2019-09-04 10:07] ntwb commented on #4246
I'm fine with the first 4, even `trailingComma: "all"` if you'd like.

I'm also fine switching to _tabs_, they've been my personal preference ever since I started programming...

<img src="https://www.hanselman.com/blog/content/binary/tabsvsspaces.gif">

[2019-09-04 11:10] #3499 closed

[2019-09-04 11:27] ntwb commented on #4246
I've just read the Reddit post and it's not entirely accurate IMHO, using an `.editorconfig` file and your Editor/IDE settings you can set the same _view_ of 2 or 4 characters

### Indent 2 Characters

#### Spaces

`.editorconfig` file:
[code]

#### Tabs

`.editorconfig` file:
[code]

Editor/IDE "Tab Size" to `2` for example for VS Code: `"editor.tabSize": 2`

### Indent 4 Characters

#### Spaces

[2019-09-04 11:39] hudochenkov commented on #4246
@ntwb Correct, to have advantages of tabs we need to set `indent_style = tab`, remove `indent_size` and convert whole code base to tabs.

[2019-09-04 11:39] hudochenkov commented on #4246
@evilebottnawi After formatting our codebase I see few weird places, when part of ternary has nesting (function or objects):

[code]

These are related Prettier issues:

https://github.com/prettier/prettier/issues/5811
https://github.com/prettier/prettier/issues/5184

Doesn't look good. But it a small sacrifice to make the rest of the code look readable for more folks.

[2019-09-04 11:41] ntwb commented on #4246
And now after reading all the comments in the Reddit thread:

4 comments correctly cite that with a modern Editor/IDE it should not matter
![Screen Shot 2019-09-04 at 9 37 21 pm](https://user-images.githubusercontent.com/1016458/64251610-4a2e4d00-cf5c-11e9-991c-7f15f7873550.png)

In VS Code the setting is `"editor.detectIndentation": true`, or `false` to disable:

<img width="782" alt="Screen Shot

[2019-09-04 11:45] ntwb commented on #4246
Technically it doesn't, I think if you remove `indent_size` from the `.editorconfig` file @hudochenkov and change the Editor/IDE setting for tab width, which if you use VS Code that would be `"editor.tabSize": 4` you will see the results your expecting.

Granted, I think it is probably easier to change Prettier and Editorconfig to explicitly note the use of _tabs_ it shouldn't matter to a modern E

[2019-09-04 12:30] hudochenkov commented on #4246
I removed both `indent_` options from editor config. I have `"editor.tabSize": 4`. Tried both `"editor.detectIndentation": true` and `false`. No luck to change visual appearance.

With `detectIndentation: false` it renders two spaces as two spaces, but on Tab key inserts tab symbol. With `detectIndentation: true` two spaces are inserted on Tab press.

I don't think it's possible to render two spac

[2019-09-04 12:31] hudochenkov commented on #4246
Just for fun: origin of 80 characters line limit https://softwareengineering.stackexchange.com/questions/148677/why-is-80-characters-the-standard-limit-for-code-width/148678#148678

[2019-09-04 13:43] #3792 closed

[2019-09-04 13:57] aleissner opened #4247 "Support Vue-emotion syntax"
We want to apply stylelint on vue-emotion files without a processor.

Adjust the way css-in-js files are parsed. It already almost works.

The css-in-js files we use look like this:
[code]
It is possible to run stylelint with `stylelint-processor-styled-components` on them and get the desired result. However, without the processor stylelint will not report problems.

After reading that stylelint s

[2019-09-04 14:44] evilebottnawi commented on #4247
I thnik problem related to `postcss-syntax`

[2019-09-04 15:11] vankop commented on #4245
Typescript jsdoc is pain =) anyway it is better, then Flow (de facto TypeScript is only one optimal solution for types in JS, Flow was better for js before babel team implemented plugin for typescript)

Problem with `typescript-jsdoc` is that it is different from TypeScript in `ts` files and less documented.

Some guys in TypeScript gitter suggested me look on jsdoc tests to find usage example =(

[2019-09-04 15:14] vankop commented on #4245
Maybe we could find (or write) babel plugin to easy migrate on TypeScript

[2019-09-04 15:43] #4134 closed

[2019-09-04 15:49] #3147 closed

[2019-09-04 16:46] dw-buildit opened #4250 "False positive `length-zero-no-unit` on `fr` unit"
There is a false positive for `0fr` when used in multiple values for `grid-template-rows` or similar css-grid properties.

`0fr 1fr` behaves differently to `0 1fr` on this property. The `fr` unit refers to _remaining space_ in the grid. `0` (without a unit) is treated as no height at all.
Using `0 1fr` the second row will overlap the first. Using `0fr 1fr` the height of the first row will be taken

[2019-09-04 16:58] evilebottnawi commented on #4250
We should ignore some properties like `grid-template-rows`/`line-height`/etc

[2019-09-05 08:52] hudochenkov commented on #4244
Dependabot is cool. I closed PR and it [reacted](https://github.com/stylelint/stylelint/pull/4251#issuecomment-528267042):

[2019-09-05 09:06] hudochenkov commented on #4244
I uninstalled Greenkeeper and enabled Dependabot for the following repositories:

- eslint-config-stylelint
- stylelint
- stylelint-config-recommended
- stylelint-config-standard
- stylelint-demo
- stylelint.io

We'll get bunch of PR to all repos initially, but after that we should receive PR every month. Security updates will be instant.

[2019-09-05 10:06] niftylettuce commented on #2776
@XhmikosR just an FYI you don't need both extends, as the latter includes the former, see <https://github.com/kristerkari/stylelint-config-recommended-scss/blob/master/index.js#L4>

[2019-09-05 11:22] hudochenkov commented on #4244
One more nice feature. I was merging PRs Dependabot created, and after one merge I saw this in other PRs:

<img width="769" alt="Screenshot 2019-09-05 at 13 21 17" src="https://user-images.githubusercontent.com/654597/64337724-388e8900-cfe0-11e9-91e3-336e4acc8d5f.png">

[2019-09-05 11:38] vkrol commented on #4228
@jeddy3 `status: wip` is most likely confusing because I was only writing the test, but I am not fixing this bug at the moment.

[2019-09-05 11:39] evilebottnawi commented on #4228
I think we need option in postcss for this, becaue previously postcss always add BOM if it is exists in source file

[2019-09-05 11:58] hudochenkov commented on #4244
It's configured for all mentioned above repositories.

[2019-09-05 11:58] #4244 closed

[2019-09-05 17:41] vankop commented on #4232
@jeddy3 I created this issue not only for `value-list-max-empty-lines`.

After merging https://github.com/stylelint/stylelint/pull/4256 will be only 3 rules to fix:
- `value-list-max-empty-lines`
- `function-max-empty-lines`
- `selector-max-universal`

[2019-09-05 19:15] dependabot-preview[bot] opened #4257 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-05 19:19] hudochenkov commented on #4257
🤦‍♂

[2019-09-05 22:32] #4257 closed

[2019-09-07 06:02] ntwb commented on #4242
Also be aware of the _major_ semver bump/s for the `stylelint-config-*` configs:

https://github.com/stylelint/stylelint-config-recommended/pull/50#issuecomment-529077056

[2019-09-07 16:56] #3662 closed

[2019-09-07 16:59] hudochenkov commented on #4242
I think we could release as soon as https://github.com/stylelint/stylelint/pull/4181 merged.

[2019-09-07 22:22] hanakin opened #4261 "calc needs its own parentheses spacing control"
The current implementation of function-parentheses-space-inside is a catch all. Meaning all uses of () can or can not have spaces based on the settings. Our devs would like to have the ability to specify this independently for the calc(). For example urls and colors should not have spaces, but calc should allow for spaces to make it easier to read complex math formulas or match it to the scss sett

[2019-09-08 07:20] vankop commented on #2454
I don't think this issue still relevant.
<img width="1014" alt="Снимок экрана 2019-09-08 в 10 18 06" src="https://user-images.githubusercontent.com/10380560/64484948-3fa4d980-d222-11e9-8718-fee6f2ded146.png">

[2019-09-08 09:15] Goldziher commented on #1796
This issue is still occuring.

These are the current packages I have in my project:

[code]

specifying configBasedir doesn't matter. So the solution I have:

[code]

[2019-09-08 09:30] unikitty37 opened #4262 "Do not run scss/* rules on non-SCSS files"
I use SCSS, and the stylelint-scss rules at https://github.com/kristerkari/stylelint-scss. However, there are some plain CSS files in the project as well, and some stylelint-scss rules do not work well when run against plain CSS.

(Example: setting `scss/comment-no-loud` to `true` means no comments can be used in .css files, as it disallows `/* … */` and only permits `//` — but this is not valid i

[2019-09-08 09:40] vankop commented on #4262
As a workaround I can suggest run `stylelint` twice with different configs. I don't know good solution for IDE `stylelint` support.

[2019-09-08 10:15] chris-morgan commented on #2454
Nope, not fixed at all. On my Surface Book, using Node 8.10.0 on Ubuntu/WSL, I’m seeing best-case figures of 423ms in best-performance mode, and 1011ms in default mode (when on battery). eslint also shows poorly at 184ms and 422ms.

Even your figures of 257ms and 210ms I still consider to be *very* slow for importing things like this. It’s a big improvement over times more than a second, but as I

[2019-09-08 12:37] vankop commented on #2454
So lets deep dive:

For me on Node.js 10 LTS OSX running script below in repo root:
[code]

for me it results in (after several runs in loop):
[code]

[2019-09-08 13:10] vankop commented on #2454
`postcss-markdown` loading only if syntax set to `markdown`
`postcss-jsx` loading only if sytax set to `css-in-js`
`autoprefixer` loads only in rules
`globby` loads
`table` loads

[2019-09-08 14:23] vankop commented on #2454
Actually, I don't know what to do more =) Maybe we can use something instead of `globby` and load lazily `micromatch` then ( currently stylelint and `fast-glob` has dependency on it, `fast-glob` is dependency of `globby`)

[2019-09-08 14:37] vankop commented on #2454
Wow, looks like it is problem of `micromatch@3` https://github.com/micromatch/micromatch/issues/137

In version 4 it loads ~10ms

[2019-09-08 14:44] vankop commented on #2454
https://github.com/stylelint/stylelint/pull/4254 should solve problem with `micromatch`

[2019-09-08 16:49] hudochenkov commented on #4262
Some of stylelint-scss could be applied to non-SCSS syntaxes. E. g. if someone uses `$variables` in their style sheet with PostCSS plugin. Then they could use dollar-variables rules from stylelint-scss, while not using SCSS itself.

We have two solutions:

1. `overrides` object in configuration https://github.com/stylelint/stylelint/issues/3128 But it's not implemented yet :(
2. Use separate confi

[2019-09-08 16:53] hudochenkov commented on #4261
I'm afraid it won't be implemented. Because it doesn't pass our [criteria for inclusion](https://stylelint.io/developer-guide/rules#criteria-for-inclusion):

You could create a [plugin](https://stylelint.io/developer-guide/plugins) for your needs.

[2019-09-08 16:53] #4261 closed

[2019-09-08 18:18] hudochenkov opened #4267 "Remove createRuleTester"
Looks like `createRuleTester` is an abandoned piece of API. We stopped use it almost [three years ago](https://github.com/stylelint/stylelint/pull/2158).

I've checked all plugins from https://stylelint.io/user-guide/plugins. None of them is using `createRuleTester`.

I would consider `createRuleTester` even harmful to keep.

1. It's not using stylelint for tests. Instead it [creates PostCSS insta

[2019-09-08 18:45] vankop commented on #4267
I use only `stylelint`, so I don't know what impact will cause removing `createRuleTester`.
Maybe deprecate it and remove from public API will be enough for next release.

[2019-09-08 18:48] vankop commented on #4267
Also some developers trying to use it and getting problems with using it https://github.com/stylelint/stylelint/issues/4120

[2019-09-08 20:12] hudochenkov commented on #4267
Exactly, it's way behind stylelint development and cause more harm.

We're going to [release major version](https://github.com/stylelint/stylelint/issues/4242), so it's safe to remove. I'm thinking we could make `jest-preset-stylelint` to match current stylelint's jest configuration in the coming month. It won't be a big problem for any user of `createRuleTester` (I believe their number is close t

[2019-09-09 01:03] ntwb commented on #2454
If someone wants to help get the Windows issues fixed, we can merge it.

I've had a couple of go's at this and not got far myself.

[2019-09-09 08:20] #2291 closed

[2019-09-09 09:19] hudochenkov opened #4269 "Add initialization wizard"
Simplify getting started with stylelint.

Add initialization wizard `stylelint --init` similar to [`eslint --init`](https://eslint.org/docs/user-guide/command-line-interface#--init). User answers questions and gets `.stylelintrc` and all dependencies installed.

[2019-09-09 09:28] ybiquitous commented on #4269
I really really want this feature! 😄

[2019-09-09 12:34] ntwb commented on #4267
I'd like to see `createRuleTester` deprecated in the next release, and remove it in the following _major_ release if `jest-preset`stylelint` is ready to go 👌🏼

I quickly discovered lots of instances of `createRuleTester` in use, primarily my search results are copies of stylelint on GitHub:

But it also did not take long before I discovered legit uses of `createRuleTester` in:

[2019-09-09 12:43] vankop commented on #4267
last commit 3 years ago..

[2019-09-09 12:47] hudochenkov commented on #4267
Ben's project is 3 year without updates.

I found more alive projects:

https://github.com/alexlafroscia/stylelint-plugin-css-modules/blob/master/test/helpers/test-rule.js
https://github.com/niksy/stylelint-no-restricted-syntax/blob/master/test/util/index.js
https://github.com/liferay/liferay-frontend-source-formatter/blob/master/test/stylelint_rule_tester.js
https://github.com/jonathantneal/style

[2019-09-09 13:10] ntwb commented on #4267
This example is only ~5 weeks ago:

-----

Personally I think it is _poor form_ to deprecate anything without notice, we can follow up with another _major_ release immediately after releasing v11.0.0, theoretically we could release v12.0.0 one minute after releasing v11.0.0.

We can also make a note in the release notes that a v12 removing `createRuleTester` will be released shortly after v11 is r

[2019-09-09 13:14] vankop commented on #4267
If we follow #4265 we don't need to create release as fast as possible (we remove `createRuleTester` from public API so it does not matter much)

[2019-09-09 14:16] joe223 commented on #4269
 That’s would be really helpful. 

[2019-09-09 22:03] dprgarner opened #4270 "Add ignoreSelectors: [] to property-no-unknown"
My team and I use CSS Modules on our project and are trying to use the `property-no-unknown` rule, but every time we declare an exported variable in an `:export` block, we get warnings from this rule. This was raised in the stylelint-config-css-modules repo [here][issue1] and [here][issue2], but I think the workarounds given there miss the point: it doesn't make sense to compare properties in an `

[2019-09-09 22:50] hudochenkov commented on #4270
I think the best option here would be to contribute to [`stylelint-plugin-css-modules`](https://github.com/alexlafroscia/stylelint-plugin-css-modules) and add modified `property-no-unknown` there specifically for CSS Modules needs. Similarly how `stylelint-scss` has [`at-rule-no-unknown`](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/at-rule-no-unknown/README.md).

[2019-09-10 11:39] vankop commented on #2454
eslint uses `v8-compile-cache`, maybe try to use it in stylelint also
https://github.com/eslint/eslint/pull/11921

[2019-09-10 11:54] evilebottnawi commented on #2454
@vankop good idea, let's do it

[2019-09-10 13:26] jeddy3 commented on #4262
Yep, I think this is covered by the `overrides` feature that is present in other linters. @unikitty37 That issue is labeled as "help wanted", so feel free to contribute it if you've time.

---

Closing in favour of #3128

[2019-09-10 13:26] #4262 closed

[2019-09-10 13:33] iamdriz opened #4271 "no-descending-specificity ignores parent specificity"
So I initially raised this on Stack Overflow: https://stackoverflow.com/questions/57871075/no-descending-specificity-error-reported-on-two-different-classes as I believed to be some error on my side or a mis-configuration but after the comments... I believe this is weird behaviour and should/could work differently.

The issue is when you have CSS like so:

[code]

Which is perfectly valid CSS outp

[2019-09-10 13:58] jeddy3 commented on #4269
SGTM. Let's keep it super simps, though. At least in the beginning.

As per [Getting started](https://stylelint.io/#extend-a-shared-configuration]), I suggest we just build something that asks the user if they want to check for possible errors (by using stylelint-config-recommended) or stylistic stuff as well (by using stylelint-config-standard), what format they want their config in (json, yaml,

[2019-09-10 14:20] jeddy3 commented on #4270
The plugin [makes use](https://github.com/kristerkari/stylelint-scss/blob/master/src/rules/at-rule-no-unknown/index.js#L61) of the [`checkAgainstRule` util](https://stylelint.io/developer-guide/plugins#stylelintutilscheckagainstrule) and the [`property-no-unknown`](https://stylelint.io/user-guide/rules/property-no-unknown) rule's [`ignoreProperties` option](https://stylelint.io/user-guide/rules/pr

[2019-09-10 14:44] jeddy3 commented on #4271
@iamdriz Thanks for your query.

I believe the rule is behaving correctly. This was discussed in https://github.com/stylelint/stylelint/issues/2489 and concluded with https://github.com/stylelint/stylelint/issues/2489#issuecomment-518947126.

That isn't the intended use of stylelint. It's designed to be run against your source code and not your compiled output. If you have a legimate reason for do

[2019-09-10 14:44] #4271 closed

[2019-09-10 15:05] jeddy3 opened #4273 "Use GitHub Actions"
We've recently discussed (and implemented) a few changes to improve our experience maintaining stylelint: https://github.com/stylelint/stylelint/issues/4244, https://github.com/stylelint/stylelint/issues/3499, #4245 etc.

Another area of possible improvement is continuous integration, if only because Appveyor has been troublesome recently.

[GitHub Actions](https://github.com/features/actions) cou

[2019-09-10 15:19] ybiquitous commented on #4273
Recently I tried GitHub Actions. Very fast. 👍
(Perhaps the back-end may be Azure Pipelines)

[2019-09-10 15:30] jeddy3 commented on #4273
That's good to hear!

I believe GitHub Actions now use YAML. From the [blog post](https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/) mentioned [above](https://github.com/stylelint/stylelint/issues/4273#issue-491732753), this is all we need to test stylelint on 3 node version across 3 operating systems:

[code]

[2019-09-10 15:35] ybiquitous commented on #4273
Yes, this is super easy! 😄

[2019-09-10 15:51] iamdriz commented on #4271
It's actually the source code where I'm having this problem. Basically it's complaining when two different components (which have different classes) are not ordering based on their last selector which breaks the component hierarchy.

I'm effectively having to write this (extreme example but shows the issue):

[code]

as this:

[code]

or wrap my code like this:
[code]

[2019-09-10 16:00] vankop commented on #4271
@iamdriz could you provide your stylelint config please

[2019-09-10 16:02] jeddy3 commented on #4271
Thanks for the further explanation.

This was proposed in https://github.com/stylelint/stylelint/issues/2489#issuecomment-293851119, but I don't believe it was viable when it came to implementing it. So the recommendation is now to turn off the rule when writing component-like code.

[2019-09-10 16:05] iamdriz commented on #4271
I'm also confused why it's okay with this:

[code]

So seems it's only when you use a pseudo like: `:hover` the problem arises...

But I don't see how the anchors are seen as okay for this but not pseudo? There's an equal amount of conflict possible... but due to the class prefix there's no conflict possible.

[code]

[2019-09-10 16:08] vankop commented on #4271
In first example both selectors has same weight
In second example selector with `:hover` has more weight, so it must be defined later

[2019-09-10 16:09] iamdriz commented on #4271
Yeah I get that... but it has a class in front of it... so surely the weighting is different?

[2019-09-10 16:12] jeddy3 commented on #4271
You can use [this tool](https://specificity.keegan.st/) to calculate the specificity of a selector.

This rule is designed to marry the order of your source code with the specificity of the selectors. It is just one way of organising your code. If you prefer to use using a component-based approach then you can turn off the rule. Both approaches are valid, but they are ultimately incompatible.

[2019-09-10 16:15] vankop commented on #4271
@iamdriz I don't know exactly why there is no extra warning about class, but looks like rule implementation skip *nesting*.

So rule will run 2 selectors:
[code]

[2019-09-10 16:18] vankop commented on #4271
As @jeddy3 have described, rule designed not for component-based approach. =) You can create plugin for stylelint

[2019-09-10 16:21] iamdriz commented on #4271
Well :D it's more not designed if you declare pseudo for different classes... in short if this rule is turned on you need to group pseudo together regardless of their class.

[2019-09-10 16:37] vankop commented on #4271
Yes, it works exactly in this way 😁

[2019-09-10 16:40] jeddy3 commented on #4242
I'm available this weekend to assist with a release. After that I'll be offline.

Am I right in thinking the pending PRs we'd like in are:

- https://github.com/stylelint/stylelint/pull/4265 (major if breaking / minor if deprecationg)
- https://github.com/stylelint/stylelint/pull/4263 (patch)
- https://github.com/stylelint/stylelint/pull/4260 (patch)

As @hudochenkov pointed out else where, all th

[2019-09-10 16:44] vankop commented on #4242
this one? https://github.com/stylelint/stylelint/pull/4272

[2019-09-10 17:14] vankop commented on #2454
After all PR provided here (without `v8-compile-cache`) script provided [here](https://github.com/stylelint/stylelint/issues/2454#issuecomment-529201081) `~/lib/index` loads for me in 140ms 🥳 🚀
Using `v8-compile-cache` I hope will speed up `stylelint` to ~120ms maybe less

[2019-09-10 17:31] ssivanatarajan opened #4274 "False positive syntax error reporting for comment inside media query"
comment inside a media query cause a syntax error

Not a specific rule

e.g.

[code]

e.g.

[code]

e.g. `10.1.0`

e.g. "Node API"

e.g. "No"

 "No Syntax erros to be flagged."

e.g. "The following warnings were flagged:"

[code]

[2019-09-10 17:33] evilebottnawi commented on #4274
/cc @stylelint/core We should migrate from `postcss-media-query-parser` because it is abandoned, maybe we can use postcss-value-parser for this case

i can improve parser if we need something

[2019-09-10 20:54] eedwards-sk commented on #3111
Any updates on this? I cannot disable `string-quotes` unless I completely disable stylelint:

this works
[code]

this doesn't
[code]

and this doesn't
[code]

and this doesn't
[code]

[2019-09-10 21:07] eedwards-sk commented on #3111
even this doesn't work:

[code]

[code]

Does this feature work at all?

[2019-09-10 21:29] jeddy3 commented on #2454
@vankop Thanks for looking into this.

Yes, I think there is still work to do on this. If we compare three similar tools:

[code]

Prettier is striking just under 100ms. I think that should be our target too. Prettier has vastly more contributors and resources than us, but we can hopefully borrow from their approach to get us somewhere near their performance.

I suspect the next step is to bundle/

[2019-09-10 21:38] jeddy3 commented on #4274
I can't reproduce this. @ssivanatarajan Can you please provide a reduced configuration to trigger this error?

The parser hasn't proven problematic before and I'm unsure if it's even responsible for this error. Perhaps the most prudent course of action is to keep using it until it fails us and then fork and maintain it?

[2019-09-10 21:43] jeddy3 commented on #3111
The issue is labelled as "help wanted" and is looking for someone to champion it.

[2019-09-10 22:09] vankop commented on #2454
@jeddy3
After playing with bash calculated some interesting stats:
For stylelint command (i think OSX only):
`find  -E lib -type f -name "*.js" -not -regex '(.*\.test\.js)|(.*__tests__.*)' | xargs wc -l`
Results in 31126 LOCs
`find  -E lib -type f -regex 'lib/rules/.*/[^/]*\.js' -not -regex '.*__tests__.*' | xargs wc -l`
Results in 18092 LOCs
For prettier command:
`find src -name '*.js' | xargs wc

[2019-09-11 08:13] jeddy3 commented on #2454
What did you have in mind?

[2019-09-11 08:43] alexander-schranz opened #4276 "Extend selector-combinator-blacklist to ignore it for pseudo classes"
I want to use the following:

[code]

But want to allow it if the parent has a pseudo-class sector on it like :hover, :focus, ...

Example the following should not violate the rule

[code]

The following should:

[code]

Any additional configuration that allow ignoring the rule for pseudo-classes?

[2019-09-11 08:47] hudochenkov commented on #4276
It's a straight way to [write a plugin](https://stylelint.io/developer-guide/plugins), because it's not generally applied and tied to a specific methodology.

Side note: You probably are using BEM. You can't target element inside other element: `.block:hover .block__element .block__other_element`. You can do `.block:hover .block__element` or `.block:hover .block__other_element`.

[2019-09-11 09:07] jeddy3 commented on #4276
Agreed. It's a great candidate for a plugin and a good example of why the plugin system exists.

[2019-09-11 09:07] #4276 closed

[2019-09-11 09:15] alexander-schranz commented on #4276
@hudochenkov @jeddy3 will give it a try thank you for your really fast response :)

[2019-09-11 10:22] evilebottnawi commented on #4274
@jeddy3 we use this plugin in prettier and I find a lot of critical bugs, i can provide them with link, also he use regexp and in some cases it can do DDoS, better migrate from this solution. It is very easy, also we can implement supporting `>=`/`>=`/`>`/`<` in media queries and other good stuff

[2019-09-11 10:50] jeddy3 commented on #4274
OK. Let's migrate away from it. We might want a new issue for that as we've not sure if this particular `CssSyntaxError` error is connected to that parser.

[2019-09-11 18:46] vankop commented on #2454
I will create PR to `cosmiconfig` to load `js-yaml` lazily, too.

[2019-09-12 03:53] joe223 commented on #4269
@jeddy3 Maybe we should add another question before 2 ?

Which language does your project use?
❯ CSS
Less
Sass

[2019-09-12 05:50] ssivanatarajan commented on #4274
@jeddy3  I am able to reproduce this with below rule configuration

'''
{
    "rules": {
        "at-rule-no-unknown": true,
        "block-no-empty": true,
        "color-no-invalid-hex": true

    }
}
'''
Have you checked with Node API?

Note: For the same code snippet i didn't get any error in [https://stylelint.io/demo](stylelint demo)

[2019-09-13 14:39] digitaljohn commented on #4273
I'm willing help manage the GitHub Actions Pipeline. (CI Testing/Linting and NPM Publishing). Please let me know once you are though with the waiting list.

[2019-09-13 14:44] jeddy3 commented on #4273
I can vouch for @digitaljohn's proficiency with CI related things.

[2019-09-13 17:54] #4270 closed

[2019-09-13 17:57] hudochenkov commented on #4242
Only https://github.com/stylelint/stylelint/pull/4265 left to be merged (@vankop it needs small changes).

@jeddy3 would you be able to release this weekend?

[2019-09-13 18:16] vankop commented on #4242
Sorry, I can not do fixes (; I am out of computer on this weekends. Could you please make fixes yourself

[2019-09-13 20:47] hudochenkov commented on #4242
As soon https://github.com/stylelint/stylelint/pull/4279 merged we can release.

[2019-09-14 19:07] jeddy3 commented on #4242
I should have time tomorrow.

[2019-09-14 21:00] hudochenkov commented on #4242
@jeddy3 don't worry. You need time to prepare for your adventure.

I'll do release tomorrow or at the beginning of the next week.

[2019-09-15 11:07] vankop commented on #4232
all fixes done

[2019-09-15 11:07] #4232 closed

[2019-09-15 11:46] unikitty37 commented on #4262
Unfortunately, the workaround is no workaround for me, as I need IDE support :(

I wish I had time — and enough Node knowledge — to help on #3128…

[2019-09-15 13:42] jeddy3 commented on #4242
Thanks, that's very kind! I've got a couple of hours spare right now, though so I'll give it a shot. If only because I'm curious to see what using `np` is like!

[2019-09-15 13:44] hudochenkov commented on #4242
@jeddy3 go for it! :)

[2019-09-15 14:09] jeddy3 commented on #4242
I could do with a review on https://github.com/stylelint/stylelint-config-recommended/pull/51, if you have a mo?

[2019-09-15 15:22] jeddy3 commented on #4242
Done 🎉

Thank you to everyone who contributed to this release!

---

Notes:

1. Using `np` was a great experience!
2. https://github.com/stylelint/stylelint-demo/commit/783c1e66d06523043fdaa0151b6b386aa4589097 - updated one of the tests in stylelint-demo to reflect the new unknown rule behaviour.

[2019-09-15 15:22] #4242 closed

[2019-09-15 21:05] #4246 closed

[2019-09-15 21:10] hudochenkov commented on #4246
Thank you, everyone, for supporting (or being tolerant) these changes.

<img width="184" alt="Screenshot 2019-09-15 at 23 05 40" src="https://user-images.githubusercontent.com/654597/64927623-7b850380-d80d-11e9-8db1-2a5537a2b24e.png">

I don't like that it resulted in a little mess. But I believe it will lead to better future :)

After sometime we could apply same settings to the rest of repositor

[2019-09-16 04:00] brandonkal opened #4282 "Fix parse error for sourcemaps in JavaScript"
Stylelint misinterprets Javascript code that builds a source map comment as the source map for the Javascript file itself.

Parse error, so all rules.

[code]

Any

`9.10.1`

`stylelint broken.ts`"

CSS-inJS

No attempt to read the source map.

[code]

[2019-09-16 10:41] evilebottnawi commented on #4282
Looks like it is bug in postcss

[2019-09-16 11:02] caribou-code opened #4283 "Linter not running inside props function"
Stylelint does not lint CSS code inside a styled components props arrow function.

[code]

Note that in the above, the rule `rule-empty-line-before` should be triggered when runing the CLI stylelint command. The confirm this, the following code DOES work:

[code]

I need to use the syntax in my first example for components that use the props object 30+ times (e.g. creating 1 function to access pro

[2019-09-16 11:06] evilebottnawi commented on #4283
Please remove `stylelint-processor-styled-components`, it is deprecated, stylelint supports css-in-js out of box https://github.com/styled-components/stylelint-processor-styled-components/issues/278

[2019-09-16 12:06] caribou-code commented on #4283
Okay I think this is what was causing the issue. Thanks

[2019-09-16 13:52] louh opened #4284 "Is there a rule against unneccessary quotes?"
Just found a CSS rule that slipped through our codebase:

[code]

The value in this case does not need to be quoted.

I did my best to see if an existing rule could solve this problem, but it seems all the quote-related rules are to enforce the type of quotations marks when they're used, or its presence in CSS where they're expected (e.g. font names, URLs, the content value, etc). I didn't seem to

[2019-09-16 13:54] evilebottnawi commented on #4284
You can create own plugin for this, it is non standard css, so plugin is best solution https://github.com/stylelint/stylelint/blob/master/docs/developer-guide/plugins.md

[2019-09-16 13:54] #4284 closed

[2019-09-16 13:56] hudochenkov commented on #4284
You might want to use [stylelint-csstree-validator](https://github.com/csstree/stylelint-validator).

[2019-09-16 22:03] hudochenkov commented on #4273
We've just got Github Actions!

[2019-09-18 11:42] larsmunkholm opened #4287 "dollar-variable-empty-line-after AND dollar-variable-first-in-block"
Hi! I would like to have a new rule added :)

`dollar-variable-empty-line-after` ... to make sure there's always (or never) an empty line after variables.

`dollar-variable-first-in-block` ... to make sure variables are always written first in blocks.

[2019-09-18 11:43] hudochenkov commented on #4287
I think you wanted to open an issue in https://github.com/kristerkari/stylelint-scss

[2019-09-18 11:43] #4287 closed

[2019-09-18 11:43] larsmunkholm commented on #4287
sorry, you're right

[2019-09-18 14:20] vankop commented on #4245
should be closed after:
https://github.com/stylelint/stylelint/issues/2935

[2019-09-18 14:32] jeddy3 commented on #4287
@larsmunkholm You can achieve this already with existing rules and plugins.

From [the docs](https://stylelint.io/user-guide/about-rules#empty-line-before-and-max-empty-lines-rules):

Target the subsequent thing (likely a declaration) to ensure there's an empty line between it and the dollar variable like so:

[code]

You can use @hudochenkov's [stylelint-order/order](https://github.com/hudochenko

[2019-09-19 02:56] gaollard opened #4288 "add limit for selector nesting length"
I found in some program of my team the selector nesting length is more than 5, for example:

[code]

it is difficult for cover the span color. the better way is split css modules like BEM. so I want to make a limit of selector nesting length.

but there is not (or i don't find) an option to check this in stylelint.

A new rule that implements the proposed check.

sorry for my poor english.

[2019-09-19 08:25] jeddy3 commented on #4288
@gaollard Thank you for the suggestion.

You can achieve this in multiple ways already. You can use [`max-nesting-depth`](https://stylelint.io/user-guide/rules/max-nesting-depth) to limit the amount of nesting, [`selector-max-specificity`](https://stylelint.io/user-guide/rules/selector-max-specificity) to limit the overall  specificity of the (unnested selector), or you can use a combination of [`

[2019-09-19 08:25] #4288 closed

[2019-09-19 11:03] guchongxi opened #4289 "Fix unfixed errors not being reported"
when I was running `stylelint '**/*.scss'`, I got code error, like this

[code]

when I was running `stylelint '**/*.scss' --fix`, there is no code error

[code]

I think the error has been fixed, but I check code, the error is not be fixed and there is no report for them

.stylelintrc.js

[code]

`11.0.0`

report all unfixed errors.

Unfixed errors NOT be reported.

[2019-09-19 11:36] vankop commented on #4289
Thanks for report, could you provide css that you are using?

[2019-09-19 20:46] xavierfoucrier commented on #4114
Hi everyone,

This bug is still present with the latest **stylelint@11.0.0** release: you can fix it using `@{variable-name}` syntax.

Hope this help! :wink:

[2019-09-20 01:23] guchongxi commented on #4289
Here is my code in test.scss

[code]

[2019-09-20 07:11] hudochenkov commented on #4289
What stylelint-order version do you use? This problem was fixed in [stylelint-order@3.0.1](https://github.com/hudochenkov/stylelint-order/releases/tag/3.0.1).

[2019-09-20 13:57] jeddy3 commented on #4283
Closing as processor issue.

[2019-09-20 13:57] #4283 closed

[2019-09-20 13:59] jeddy3 commented on #4289
Hopefully resolved in stylelint-order@3.0.1.

Feel free to open a further issue in that [plugin's issue tracker](https://github.com/hudochenkov/stylelint-order/issues) if not.

[2019-09-20 14:12] guchongxi commented on #4289
Thank you for helping me.

But, It seems that this is not the plugin version problem.

My plugins version

[code]

[2019-09-20 14:15] hudochenkov commented on #4289
Please, create a minimum reproducible repository. Disable as much plugins as you can to still have issue reproduced.

[2019-09-21 08:32] #4273 closed

[2019-09-21 22:55] MaxMilton commented on #4203
`v11.0.0` was released with the `--report-needless-disables` CLI flag running both linting and reporting needless disables, which is really great. So now, wouldn't it make sense to respect `stylelint-disable` directives? Otherwise there's little value in report-needless-disables in real world projects (unless you run stylelint twice).

[2019-09-23 02:35] guchongxi commented on #4289
Sorry to see it a little late.

please checkout [guchongxi/test-stylelint](https://github.com/guchongxi/test-stylelint) to reproduce the issues

[2019-09-23 11:11] hudochenkov opened #4293 "Ghost Travis and Appveyor in new PRs"
Something strange happening. When we were setting up Github Actions, I revoke access to this repo for both Travis and Appveyor. Now I see Github still wants their statuses, while both CIs doesn't run build anymore.

Affected PR: https://github.com/stylelint/stylelint/pull/4292

<img width="755" alt="Screenshot 2019-09-23 at 13 11 03" src="https://user-images.githubusercontent.com/654597/65421269-a

[2019-09-23 11:48] hudochenkov commented on #4293
It was required in master branch protection settings.

<img width="719" alt="Screenshot 2019-09-23 at 13 44 38" src="https://user-images.githubusercontent.com/654597/65423235-d370cb00-de08-11e9-85fe-2386d6a9e23c.png">

[2019-09-23 11:48] #4293 closed

[2019-09-24 06:55] tingtien opened #4296 "Print absolute paths with the string formatter"
It don't print absolute path with string formatter in the terminal.

stringFormatter.js
[code]
to

[code]

[2019-09-24 06:56] tingtien opened #4297 "To print absolute paths with the string formatter"
It don't print absolute path with string formatter in the terminal.

stringFormatter.js
[code]
to

[code]

[2019-09-24 08:15] thybzi opened #4298 "Fix false positives for quoted comments inside constructs in string-quotes"
There are false positives of `string-quotes` inside single-line comments, if they are positioned inside curly brackets of style rule

`string-quotes`
(we set this rule to "single" value)

[code]

[code]

`11.0.0`

grunt-stylelint 0.11.0 (which uses Node.js API)

Yes, it's related to LESS single-line comments.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2019-09-24 08:33] hudochenkov commented on #4296
You can write [custom formatters](https://stylelint.io/developer-guide/formatters). And then use it with `--custom-formatter` CLI flag.

[2019-09-24 08:33] #4296 closed

[2019-09-24 08:33] hudochenkov commented on #4297
Duplicate of https://github.com/stylelint/stylelint/issues/4296

[2019-09-24 08:33] #4297 closed

[2019-09-24 08:42] thybzi opened #4299 "Fix false positives for mixin-as-function syntax in function-whitespace-after"
There are false positives when using LESS feature of "mixins as functions": http://lesscss.org/features/#mixins-feature-mixins-as-functions-feature

`function-whitespace-after`
(we set it to "always")

e.g.

[code]

e.g.

[code]

`11.0.0`

grunt-stylelint 0.11.0 (which uses Node.js API)

Yes, it's related to LESS "mixins as functions" feature: http://lesscss.org/features/#mixins-feature-mixins-as-

[2019-09-24 09:14] thybzi opened #4300 "Fix false positives for "never" in selector-attribute-quotes"
We try avoid any unnecessary quotes in selectors, so we use `"selector-attribute-quotes": "never"`.

But some selectors really require quotes to be valid.

[code]

And here is why:

According to the spec http://www.w3.org/TR/CSS2/selector.html#attribute-selectors:

Furthermore, according to the spec http://www.w3.org/TR/CSS2/syndata.html#value-def-identifier:

And, according to the spec http://www

[2019-09-24 09:59] thybzi opened #4301 "`rule-empty-line-before` doesn't work inside LESS detached rulesets"
We use LESS detached rulesets http://lesscss.org/features/#detached-rulesets-feature
and wish to require an empty line before every single rule inside the ruleset (as well as outside it)
But the `rule-empty-line-before` doesn't make any check inside the ruleset.

`rule-empty-line-before`

[code]

`11.0.0`

grunt-stylelint 0.11.0 (which uses Node.js API)

Yes, it's related to LESS detached rulesets

[2019-09-24 10:24] evilebottnawi commented on #4300
Mark as `enhancement`

[2019-09-24 10:25] evilebottnawi commented on #4298
Thanks for issue, PR welcome

[2019-09-24 10:27] evilebottnawi commented on #4301
I think it is expected (https://github.com/stylelint/stylelint/blob/master/lib/rules/rule-empty-line-before/index.js#L54), we avoid checking non standard css, for non standard css like less/sass/scss we recommend to create plugin (like `stylelint-scss`)

[2019-09-24 11:00] hudochenkov opened #4303 "Improve test stability"
There are some tests that fail occasionally on Windows. It doesn't happen every time and not the same tests (it's always one of mentioned below).

First let's gather what failing tests we get overtime, and then find the problem and fix it.

Below will be mentioned Node.js version where test failed, and a link to result if possible. I don't think failures depend on Node.js version, though.

Node.js

[2019-09-24 11:04] evilebottnawi commented on #4303
Maybe racing?

[2019-09-24 11:19] thybzi commented on #4301
okay, so this plugin doesn't exists for less? @evilebottnawi

[2019-09-24 11:27] evilebottnawi commented on #4301
@thybzi it seems no, you can be the first

[2019-09-24 11:38] thybzi commented on #4301
if we create this plugin, how should we publish it to be available for all users?

[2019-09-24 11:42] hudochenkov commented on #4301
https://stylelint.io/user-guide/plugins

[2019-09-24 11:56] evilebottnawi commented on #4301
Feel free to add the plugin in the list when it will be implemented

[2019-09-24 11:56] #4301 closed

[2019-09-24 11:57] evilebottnawi commented on #4299
We should skip non standard syntax

[2019-09-24 13:00] vankop commented on #4303
I think we need try to test without `ignoreFiles` (update test as well) https://github.com/stylelint/stylelint/blob/master/lib/__tests__/ignore.test.js#L291

[2019-09-25 20:14] evilebottnawi opened #4306 "new rule filename-case"
Enforces all linted files to have their names in a certain case style.

New rule, maybe better name

with option kebabCase, camelCase, snakeCase, pascalCase and custom regexp

Why not plugin? Because all projects try to use the same case style for files so this rule will be useful for everyone

Example rule for eslint https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/fil

[2019-09-26 08:22] stof opened #4307 "New API for applying fixes, to support comments disabling rules"
Comments disabling rules are processed after the rules have been applied (skipping the reporting of the error). But as rules are responsible for applying fixes themselves instead of reporting the error, they will fix things even in places where they were disabled, making the fixing mode unsuitable if there was a valid reason to disable the rule (for instance disabling a rule forcing to write `0` w

[2019-09-26 08:24] hudochenkov commented on #4307
Thank you for a suggestion. We can continue discussion in https://github.com/stylelint/stylelint/issues/2643.

Closing this one as a duplicate.

[2019-09-26 08:24] #4307 closed

[2019-09-26 08:49] stof commented on #2643
In https://github.com/stylelint/stylelint/issues/4307 I suggested changing the way rules implement fixing (directly inspired by the ESLint architecture): instead of mutating the AST immediately, they would report with their fixer included, and the runner would then call that callback after checking the disabled ranges.

[2019-09-26 11:03] vankop opened #4308 "Hacktoberfest 2019"
As I understand stylelint participated in 2018 hacktoberfest. New one is starting, see https://hacktoberfest.digitalocean.com/

[2019-09-26 11:37] hudochenkov commented on #4308
I don't recall if we had any new contributors, to be honest. But it's still nice to label all of “help wanted” issues for hacktoberfest.

[2019-09-26 11:43] ntwb commented on #4308
Issues labeled `Good First Issue` will be available to Hacktoberfest participants

We first participated in 2017 via #2913

[2019-09-26 19:13] vankop commented on #4308
@ntwb looks like only `Hacktoberfest` label counts, see 2nd question in [faq](https://hacktoberfest.digitalocean.com/faq)

[2019-09-27 02:23] RyanPWalker opened #4309 "Stylelint --fix gets stuck with React.js inline styles"
Error:
[code]

Node: 10.16.3
Stylelint npms:
[code]

.stylelintrc
[code]

Command run: `stylelint ./src --fix`

Inside the npm code under `stylelint/lib/rules/no-eol-whitespace/index.js:216:25` I logged out `root.raws` and instead of something like `{ semicolon: true, after: '\n' }` it would log out as
[code]

Looks like it got stuck on `style={` so I commented out that line and it got stuck on th

[2019-09-27 04:00] ntwb commented on #4309
Have you looked at https://github.com/kristerkari/stylelint-react-native and https://github.com/kristerkari/stylelint-config-react-native-css-modules

I've not looked at these myself, on my to do list, they or the docs there might be of help

[2019-09-27 05:52] jrnail23 opened #4310 "Multiple output formats?"
When running stylelint in our CI builds (we use CircleCI), I'd like to be able to generate a json file to be processed elsewhere (we upload it to SonarCloud), but I'd also like to see readable output in CircleCI so devs can easily see failure messages.

I'd like to be able to specify multiple output formats and targets (i.e., string format for console, json format for output file)

For reference,

[2019-09-27 06:04] vankop commented on #4309
I will do fix for that

[2019-09-27 06:06] vankop commented on #4310
Fast solution will be write your custom formatter that runs all formatters you wants.

[2019-09-27 06:26] ntwb commented on #4310
Or fork halkeye/eslint-formatter-multiple, for stylelint, looks relatively simple.

[2019-09-27 06:28] jrnail23 commented on #4310
yeah, @ntwb, I just realized that it is probably very similar.  At first I thought that stylelint formatters, by basically being serializers, wouldn't be appropriate for this, but it probably works the same.

[2019-09-27 08:37] soullivaneuh opened #4311 "Add config overrides option"
We are working on a global CS tool including stylelint for both `.css` and `.scss` file (with the scss plugin).

Some CSS rules does not have to apply on `.scss` file. Please see our issue for details: https://gitlab.com/nexylan/pretty/issues/23

Have the possibility to define a `overrides` section on the configuration file.

The way eslint does it seem pretty good: https://eslint.org/docs/user-gu

[2019-09-27 08:39] hudochenkov commented on #4311
Duplicates https://github.com/stylelint/stylelint/issues/3128

[2019-09-27 08:39] #4311 closed

[2019-09-27 08:41] soullivaneuh commented on #4311
Oh didn't see that one, thanks and sorry for the duplicate!

[2019-09-27 08:43] soullivaneuh commented on #3128
@jeddy3 proposition with file globing is the best for flexibility.

[2019-09-27 08:48] soullivaneuh commented on #3128
Well, maybe not. Syntax definition may be more suitable for special file like svelte template:

see: https://github.com/sveltejs/template/blob/4e3a4089b4f0275964eb10a432dc1c15526a0b4d/src/App.svelte

[2019-09-27 09:57] hudochenkov opened #4312 "Add value-no-empty rule"
Lately I've been noticing on website properties without values. Browser ignores them, but it could be a possible error.

 New rule to avoid missing values. The following patterns are considered violations:

[code]

I'm not sure about the name. Should it be `value-no-empty` or `declaration-property-value-no-empty`?

I would like to implement this rule myself.

[2019-09-27 11:11] evilebottnawi commented on #4312
It is valid css syntax?

[2019-09-27 11:20] hudochenkov commented on #4312
No.

[2019-09-27 11:22] evilebottnawi commented on #4312
@hudochenkov hm, i think it is out of scope stylelint, maybe in future we can create the rule no-invalid-syntax or something similar, but now better avoid this, my 2 cents

[2019-09-27 12:10] hudochenkov commented on #4312
I think it could fit styelint. https://stylelint.io/vision#possible-errors

[2019-09-27 12:18] evilebottnawi commented on #4312
@hudochenkov if we create rule we need other cases like `selector-no-empty`, `property-no-empty`, `media-feature-name-no-empty` and etc, it is out of scope stylelint, because it is syntax problems, better create plugin for this purpose

[2019-09-27 13:43] vankop commented on #4309
@RyanPWalker could you provide reproducible example (creating small repo or using [stylelint demo page](https://stylelint.io/demo)).
We need add tests to fix.

[2019-09-27 17:11] vankop commented on #4312
@hudochenkov  @evilebottnawi Looks like you are both right 🙈

I, personally, agree with @evilebottnawi suggestion

[2019-09-28 16:56] evilebottnawi commented on #4306
I think better name `filename-pattern` as we do for other rules in stylelint

[2019-09-29 01:40] ntwb commented on #4306
kebab-case, camelCase, snake_case, PascalCase 😏

[2019-09-29 01:43] ntwb commented on #4306
BTW, this was previously discussed in https://github.com/stylelint/stylelint/issues/1485, it was closed as it was determined that this should really be a "file linting" solution as it has nothing to do with CSS

[2019-09-29 01:57] ntwb commented on #4312
Does the `stylelint-csstree-validator` plugin detect missing values, I think it does and this is why we removed these types of rules from stylelint a while ago.

[2019-09-29 10:17] hudochenkov commented on #4306
It doesn't fit to our [vision areas](https://stylelint.io/vision#complete), because it has nothing to do with styles.

[2019-09-30 11:22] evilebottnawi commented on #4306
@hudochenkov hm, waht is problem, looks it is good rule for `Stylistic issues`, many style guides have recommendation for naming files

[2019-09-30 11:26] hudochenkov commented on #4306
It's about code style, not about file structure.

[2019-09-30 11:29] evilebottnawi commented on #4306
@hudochenkov for BEM (not only) file naming is part of code style, also this rule not for file structure, it is file naming

[2019-09-30 13:29] hudochenkov commented on #4245
[A sandbox project to testing VS Code and JavaScript + JSDoc type checking.](https://github.com/patoi/ultima-thule)

[2019-09-30 17:55] lf-jeremy opened #4314 "Cache linting results"
Stylelint is part of the critical path when processing stylesheets with webpack (for me at least). Unfortunately, the current caching strategy only allows unchanged files to be skipped from processing - the results themselves are not stored.

I'd like to see caching that works similar to eslint's - linting errors/warnings are cached for unchanged files. This is inspired by [this comment](https://g

[2019-09-30 18:18] evilebottnawi commented on #4314
We already support `cache` https://github.com/stylelint/stylelint/blob/master/docs/user-guide/node-api.md#cache what is problem? Can you clarify?

[2019-09-30 18:21] evilebottnawi commented on #4314
Are you sure it is right repo?

[2019-09-30 18:24] vankop commented on #4314
@evilebottnawi as I understand on second run we don't

As I understood we don't show errors on the later runs (that are in cache files and have warnings).

[2019-09-30 18:28] evilebottnawi commented on #4314
Looks like it works so by design.

hm, it is weird, i think it should be marked as bug

[2019-09-30 18:49] lf-jeremy commented on #4314
@evilebottnawi I am using [stylelint-webpack-plugin](https://github.com/webpack-contrib/stylelint-webpack-plugin) but this is an upstream issue in stylelint - the behavior is the way @vankop described above.

Looking at the metadata stored in the stylelint cache vs the eslint cache, stylelint just fingerprints the file and the stylelint config, while eslint will cache the linting warnings/errors w

[2019-09-30 18:57] evilebottnawi commented on #4314
hm, i think you are right
/cc @stylelint/core

[2019-09-30 19:03] lf-jeremy commented on #4314
Both packages use the same module for tracking the file changes: `file-entry-cache`

You can see that eslint adds an additional `results` property in the metadata, whereas stylelint doesn't add any custom meta related to the actual linting. It just utilizes the cache to skip reprocessing unchanged files.

Relevant files:

[eslint caching](https://github.com/eslint/eslint/blob/master/lib/cli-engine

[2019-09-30 19:08] evilebottnawi commented on #4314
Thanks for links, i think it will be easy to fix

[2019-09-30 19:29] lf-jeremy commented on #4314
The eslint result cache [test](https://github.com/eslint/eslint/blob/master/tests/lib/cli-engine/lint-result-cache.js) is pretty useful, too.

Saving the result of course is straightforward [there](https://github.com/eslint/eslint/blob/04b6adb7f1bcb2b6cb3fa377b1ca4cecd810630e/lib/cli-engine/cli-engine.js#L803) for eslint

Looks like it will be relatively straightforward for stylelint as well once

[2019-09-30 23:12] evilebottnawi commented on #4247
Mark as enhancement, because it is new support

[2019-09-30 23:20] hudochenkov commented on #4245
We have 123 files with Flow types. Not going to be easy to migrate.

The hardest part that almost no one has experience with Flow 🙈

I think we can start with small files (all `lib/utils`), and migrate tests last.

- Doesn't anyone has idea how to migrate it piece by piece without the need change everything in on go?
- Can we run Flow and TypeScript temporarily together?
- Could we replace Flow wi

[2019-10-01 05:09] fliang-solielcom commented on #3842
please review again.

[2019-10-01 06:24] vankop commented on #4245
I will take a look on automation this) I think we can use something lie https://github.com/bcherny/flow-to-typescript

[2019-10-01 06:34] ntwb commented on #4245
Nice, there's also https://www.npmjs.com/package/flow-to-ts

[2019-10-01 06:50] hudochenkov commented on #4245
I'm afraid these tools doesn't support Flow comments and TypeScript JSDoc.

[2019-10-01 07:08] vankop commented on #4245
looks like @hudochenkov https://github.com/bcherny/flow-to-typescript uses babylon, so I think it will not with comments

[2019-10-01 07:14] vankop commented on #4245
As I see all `utils` types depends on types in
[code]

So moving this files to correct ts types will allow us to use typescript. Then we need just move all `utils` to types(as I see mostly all utils are independent functions). In this case types coverage will decrease, but it will easy migration

[2019-10-01 13:32] hudochenkov commented on #4308
I labeled every “good first issue” and “help wanted” with “Hacktoberfest”.

[2019-10-02 11:43] #4303 closed

[2019-10-02 11:45] mastacheata opened #4319 "Output-File option is missing from CLI docs"
The docs are missing the --output-file / -o option added in #4085 / #3586

I suggest adding an explanation of that option to the docs and the README.md

[2019-10-02 11:50] hudochenkov commented on #4319
Thank you for the report!

I would say it's relevant to https://github.com/stylelint/stylelint/issues/4094.

[2019-10-02 13:51] #4319 closed

[2019-10-02 13:54] mastacheata commented on #4319
Wow, that was quick.
Thanks a lot.

[2019-10-02 15:34] bkinnamon opened #4322 "Windows Prettier Glob Error"
Windows 10 requires double quotes around the glob patterns in the prettier command line.

https://github.com/prettier/prettier/issues/4804

No rule

None

None

11.0.0

I am not running stylelint. I am running tests on the stylelint repo.

No

prettier to check/fix the **/*.js files

[error] No matching files. Patterns tried: '**/*.js' !**/node_modules/** !./node_modules/** !**/.{git,svn,hg}/** !.

[2019-10-02 15:35] evilebottnawi commented on #4322
Why it is created here? Use `"` quotes, what is problem?

[2019-10-02 15:39] bkinnamon commented on #4322
The package.json for stylelint keeps erroring out when I try to run tests (`npm test`).

I just submitted the PR that fixes it.

Should I have just submitted a PR without an issue?

[2019-10-02 17:28] #4322 closed

[2019-10-03 21:51] tmoffett-centrify commented on #4117
I also would like to be able to provide a custom message while still having the value, which caused the failure, reported, as stated by @amk221 for issue #1 in the original post.

[2019-10-04 14:15] orionrush opened #4324 "Fix clarity of CLI Docs"
The [CLI Docs](https://stylelint.io/user-guide/cli) instructs users to install stylelint with `npm install stylelint --save-dev`, and then suggests that, as a `devDependancy`, `stylelint --help` could be run.

Unless there's something wrong with my environment which is preventing the intended behaviour, I believe that for the CLI to work, users would either have to install stylelint with the `--gl

[2019-10-04 15:48] orionrush commented on #4324
I take your point that Stylelint's CLI can be invoked in a few different contexts. But when I read the [CLI documentation page](https://stylelint.io/user-guide/cli), it seems to imply that installing stylelint as a `devDependancy` would symlink the 'bare' `stylelint` command so it was available within the project directory.

I opened this issue because I couldn't tell if I was misunderstanding the

[2019-10-04 16:11] hudochenkov commented on #4324
Installing stylelint globally (or any other linter) is considered a bad practice. Because different projects could require different linter version installed.

I understand you confusion. I'm afraid teaching how to use npm is outside of scope of stylelint docs. Therefore, we could improve docs to avoid confusion for people new to tooling. For example, we could add a paragraph about `npx` and using

[2019-10-04 17:53] vankop commented on #4245
All welcome to participate on this ☝️

[2019-10-05 04:57] ntwb opened #4327 "Add support for `font-weight` ranges in `@font-face`"
There are false positives when using `font-weight` inside `@font-face`

https://github.com/stylelint/stylelint/tree/master/lib/rules/font-weight-notation

Reference:

https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face#Descriptors

`font-weight-notation`

[code]

[code]

11.0.0

CLI with `./node_modules/.bin/stylelint style.css --config=.stylelintrc.json`

No

"No warnings to be flagged."

[2019-10-05 06:05] vankop opened #4328 "Incorrect overlapping in disabled ranges"
During writing types in `~/lib/assignDisabledRanges` I found problem in types [here](https://github.com/stylelint/stylelint/blob/master/lib/assignDisabledRanges.js#L120) in `ranges.end` since ranges is array of disabled ranges it does not have property `end` of type array. If rewrite it to correct syntax `!!_.last(ranges).end`, getting errors in tests with incorrect overlapping in disable ranges [

[2019-10-05 11:18] orionrush commented on #4324
Agreed, the docs shouldn't become a tutorial on npm. Arguably though, the page already starts down that path by saying:

`npx` would be a great inclusion.
Would something like the following split the difference?

[2019-10-05 21:01] G-Rath commented on #4245
I've got a lot of exp w/ TypeScript, and Flow. I'd be happy to spearhead a conversion to pure TypeScript, but moving to JSDoc is a good middle ground. (I recently handled converting `eslint-plugin-jest` to TypeScript).

Since you've already gotten underway, and I have a bit on my plate, I won't try to dive in along side, but you're more than welcome to @ me w/ any questions, and I'm happy to revie

[2019-10-06 11:42] gxmzjxk opened #4330 "Fix autofix for max-empty-lines"
When I run `stylelint src/**/*.less`，I got the follow error:
[code]
After I run `stylelint src/**/*.less --fix`，then I run `stylelint src/**/*.less`，I still got the above error.

https://github.com/stylelint/stylelint/issues/4232

[code]

[code]

11.0.0

`stylelint src/style/variables/private_colors.less --fix`

none

After run stylelint --fix，stylelint can pass.

The following warnings were flagg

[2019-10-07 05:48] shawnbot opened #4331 "Add --rule and --no-stylelintrc CLI flags"
Stylelint autofixes turn out to be a really good way to refactor large codebases. However, it's painful having to modify your config by hand, and if you're extending an external config it's even trickier.

My proposal is a rule filter that could be enabled via the CLI, as in:

[code]

or via the Node API:

[code]

Ideally, rules would be matched against the fully loaded config. It could be as simp

[2019-10-07 15:43] RyanPWalker commented on #4309
@vankop sorry for the delayed response, I've been very busy.  I will try and set up a small repo for you later today

[2019-10-07 16:00] Grawl commented on #3128
The same for Vue SFC

[2019-10-08 03:41] guchongxi commented on #4289
Does anyone care about this?

[2019-10-08 04:08] RyanPWalker commented on #4309
I am having trouble reproducing the issue in a new repo at home... maybe it has something to do with my company's npmrc using a different package behind the scenes.  No idea which one or which version, but will continue to investigate...

[2019-10-08 07:20] ssivanatarajan commented on #4274
This error was thrown from the [cssstats](https://www.npmjs.com/package/cssstats) module. So no issue with style lint.

[2019-10-08 07:20] #4274 closed

[2019-10-08 12:55] MartijnCuppens opened #4332 "Fix regression error for `@import`"
We are trying to upgrade stylint from `10.1.0` to `11.0.0`, but there seems to be an issue with `.sass` files. `@import` statements always seem to fail.

- Checkout the `xmr-update-stylelint` of https://github.com/twbs/rfs
https://github.com/twbs/rfs/pull/168
- run `npm install`
- run `npm run stylelint`

or lint a `.sass` file with an `@import` statement.

CLI with `stylelint "**/*.{less,sass,scs

[2019-10-08 16:53] xavierfoucrier commented on #4114
Hi everyone,

This bug is still present with the latest **stylelint@11.0.0** release...

Hope this help! :wink:

[2019-10-08 17:22] hudochenkov opened #4333 "Release 11.1.0"
Going to release tomorrow.

- [x] stylelint release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

[2019-10-09 07:22] #4236 closed

[2019-10-09 12:10] #4309 closed

[2019-10-09 12:41] hudochenkov commented on #4333
No release for now. Out of blue [17 failed tests](https://github.com/stylelint/stylelint/runs/253528783) on Windows.

I the common theme:

[code]

Looks like path that known to stylelint and path which we get from Node.js `path` in tests, are different.

Maybe one of our dependencies had release in the past 5 hours and it broke something. 5 hours ago we had green CI.

[2019-10-09 12:43] hudochenkov commented on #4333
I wish we had `package-lock.json` to confirm this :(

[2019-10-09 12:52] evilebottnawi commented on #4333
@hudochenkov maybe it is time to lock file? I have been proposing to do this for a long time :smile:

[2019-10-09 12:53] vankop commented on #4333
It is dep of one of out dep as I see =) because I can not find any released one

[2019-10-09 12:55] vankop commented on #4333
As I understand current `11.0.0` also affected

[2019-10-09 13:00] hudochenkov commented on #4333
Does anyone has local stylelint repository with `node_modules` installed at least 7 hours ago? Could you remove `.npmrc` and run `npm i --package-lock-only` to create package-lock and then share it with me?

[2019-10-09 13:05] vankop commented on #4333
https://gist.github.com/vankop/07c4967f0d5abe3a22c764ab93ec5d81

[2019-10-09 13:06] vankop commented on #4333
oh sorry it is not master =(

[2019-10-09 13:07] vankop commented on #4333
latest changes for me
<img width="914" alt="Снимок экрана 2019-10-09 в 16 06 36" src="https://user-images.githubusercontent.com/10380560/66484040-e6dd9080-eaae-11e9-8792-e871ec4e2b03.png">

[2019-10-09 14:23] hudochenkov commented on #4333
It might be Github Actions fault. Failing are inconsistent. Sometimes they happen, sometimes — not. No restart for master latest commit fix the build. But restarts in #4334 fixed the build once.

What I noticed between successful runs and failed, that Github Actions setup environment with different paths!

On success it uses `D:\`, on fails it uses `d:\`.

<details>
<summary>Fail</summary>

[code]

[2019-10-09 14:32] vankop commented on #4333
I can not find this code in JS https://github.com/nodejs/node/blob/master/lib/fs.js#L1418 , but it possible that C/C++ already returns path with different cases

[2019-10-09 14:43] vankop commented on #4333
I have checked tests, this is very strange behavior. I think exact behavior is that:
- our code **always** path same absolute path
- node interprets path as correct, because in Windows path are case insensitive (normally).
- in expect case we check path as case sensitive (somehow we get correct path)

[2019-10-09 19:21] hudochenkov commented on #4333
I did a lot of investigation and the problem lies in two places.

First, Github Actions randomly use `d:` or `D:` as drive letter, at the same time they always have Node.js installed on `C:` drive.

Second, Node.js butchering file path:

[code]

What solution I see is to contact Github support and to ask make drive letter always uppercase. It's probably a bug, that it's sometimes lowercased. I'm g

[2019-10-09 19:44] vankop commented on #4333
As I mentioned above it does not make sense for Windows, because all paths in Windows are case insensitive (so it is our problem, if we check it as case sensitive or one of our dependency returns different path). Anyway it will be great, if github support will clarify this.

[2019-10-09 19:49] vankop commented on #4333
process.cwd making system call each time, so there is no Node.js stuff behind

[2019-10-10 13:22] hudochenkov commented on #4333
I contacted Github support. Hoping for the fast resolution.

[2019-10-10 13:24] hudochenkov commented on #4333
Because tests are actually ok, and things are breaking because of inconsistent Github Actions environment. I'm going to release stylelint.

[2019-10-10 13:52] hudochenkov commented on #4333
New version released, but I'm not going to tweet yet. Looks like I messed up a little bit (https://github.com/stylelint/stylelint-demo/pull/177#issuecomment-540594505).

[2019-10-10 15:09] AlexWayfer opened #4336 "Fix false positives interpolation in function-calc-no-invalid"
There are false positives for two complex SCSS/SASS expressions in `calc()`.

`function-calc-no-invalid`

[code]

e.g.

[code]

`11.1.0`

CLI with `stylelint test.scss`

Yes, it's related to SCSS variables, interpolation and ternary `if`.

No errors to be flagged.

The following errors were flagged:

[code]

[2019-10-10 15:44] evilebottnawi commented on #4336
Thanks for issue,

@stylelint/core i think we should rewrite rule, ignore any `calc` what contains non standard syntax, also latest `postcss-value-parser` parse calc according spec so we can drop parser

[2019-10-10 15:49] #4333 closed

[2019-10-11 01:29] antokara commented on #4336
I got the same false positive with styled components:

[code]

where `props.margin` equals `10em`.

AFAIK, this should be a valid calc...
It used to work in version `10.1.0` without issues.

[2019-10-11 16:13] RyanPWalker commented on #4309
Thanks, I can confirm that version `11.1.1` has fixed this.

[2019-10-11 16:48] hudochenkov opened #4337 "Fix failing Windows tests"
Following discussion started in https://github.com/stylelint/stylelint/issues/4333. Failing tests are caused by Github Actions inconsistent environment. I've contacted support and they told me to open an issue, which I did https://github.com/actions/virtual-environments/issues/33.

This issue is to have reference about status of tests.

[2019-10-12 10:06] EvgenyOrekhov opened #4339 "Fix false negatives for disallowInList: true no-duplicate-selectors"
There are false negatives in `no-duplicate-selectors` with `disallowInList: true`.

`no-duplicate-selectors`

[code]

[code]

`11.1.1`

CLI with `stylelint 'src/**/*.css'`.

Also this bug reproduces here: https://stylelint.io/demo#N4Igxg9gJgpiBcIAuMAeSCGAnGGAEwAOgHZ54BGEWsW8eAjAA6oDcJAviSQJbGMCuSADR4U6bLgIkylajFp4ATMzbFOxEEJABnAJ7FMqBOG3bN4CMQBm3AObGipPIRBZ+AGxjaXdR2TIuxBAAtFD8jO7cYBgowdownmBIVN4I

[2019-10-12 10:13] EvgenyOrekhov opened #4340 "Fix false positives with :not() and disallowInList: true in no-duplicate-selectors"
There are false positives in `no-duplicate-selectors` with `disallowInList: true` when using `:not()`.

`no-duplicate-selectors`

e.g.

[code]

e.g.

[code]

`11.1.1`

CLI with `stylelint 'src/**/*.css'`.

Also this bug reproduces here: https://stylelint.io/demo#N4Igxg9gJgpiBcICWA7ADgVwC7xRLAFANpYCeaMAvADogBG2WEKtAugJQAEw1KnndCACdYQ+JwBMaAB4BuXgF9evEuSq0GWJixCtuvfoJEwxnAIwz5KJShAAaEAGdSKLAENpCcI8f

[2019-10-12 11:40] hudochenkov commented on #4339
Thanks for the report and for using the template.

Strangely when these two rules in different order, then warning is shown: https://stylelint.io/demo#N4Igxg9gJgpiBcICWA7ADgVwC4BoAEWMAHlgIYBOMpewAOinngEYTmznx4BMaRA3PQC+9QiQpUa9RizYwOeAIy8BKYShA4QAZwCeKMkQTgtWjeAgoAZkgDmRugzy0Q5DABsYW55weNGzlAgAWigMNDckMFJCIK0YDzAsVi8EPABtLFcYfDoQKCQtUjc3CAB3AEkUABkCrG8CLMEAXSk8NUEQQSA

[2019-10-12 11:41] hudochenkov commented on #4340
Thanks for the report and for using the template.

[2019-10-12 21:30] hudochenkov commented on #4330
Thanks for the report and for using the template.

Marking as “help wanted”, consider contributing a fix.

[2019-10-12 21:35] hudochenkov commented on #4331
I don't understand the usefulness of this feature.

Isn't it the same as modifying CLI command?

[2019-10-12 21:42] hudochenkov commented on #4332
Thanks for the report and for using the template.

Consider contributing a fix.

[2019-10-13 06:50] XhmikosR commented on #4332
I updated the patch to use Stylelint 11.1.1, the error is still there BTW.

[2019-10-13 13:30] MartijnCuppens commented on #4332
It was introduced by https://github.com/stylelint/stylelint/pull/4148, I'll check what's going on upstream.

[2019-10-13 16:56] erasmuswill commented on #4324
I'll take a shot at rewording this!

[2019-10-14 09:32] ps011 opened #4346 "Linting errors are not shown on right lines in files starting with _"
Linting errors are not shown on the correct line number. This happens when the name of the file starts with `_`. For example, if the error is in line 274, it will show that the error is in line  number 260

Just rename a file and keep the name starting with _

9.3.0

CLI

"Yes, it's related to SCSS nested properties."

Errors to be shown in right line number

[2019-10-14 09:34] hudochenkov commented on #4346
Please, update to the latest version. And provide reproducible example on https://stylelint.io/demo (share with us resulting URL).

[2019-10-14 11:55] thibaudcolas opened #4347 "Missing documentation for --report-needless-disables CLI flag"
I couldn’t find any documentation for the `--report-needless-disables` CLI flag on the website, both by browsing the site manually and googling it. The only documentation for it seems to be in the `stylelint --help` output, and https://stylelint.io/user-guide/node-api#reportneedlessdisables for the Node API.

I think there should either be:

- A (small) section on https://stylelint.io/user-guide/c

[2019-10-14 11:58] hudochenkov commented on #4347
Thank you. Your ideas are good. But I'll close this one as a duplicate of https://github.com/stylelint/stylelint/issues/4094

[2019-10-14 11:58] #4347 closed

[2019-10-14 13:08] thibaudcolas commented on #4347
Ah thanks, I did look around but somehow didn’t find that issue 👌

[2019-10-15 08:12] selcet opened #4349 "Sass @use support in Stylelint"
Key changes [in the Sass](https://sass-lang.com/documentation/at-rules/use) - [`@use`](http://sass.logdown.com/posts/7858341-the-module-system-is-launched) has been [released in **Dart Sass 1.23.0**](https://github.com/sass/dart-sass/releases/tag/1.23.0).
I try to configure stylelintrc to handle this feature in manual mode, by adding `@use` into  `at-rule-no-unknown`

`at-rule-no-unknown`

[code]

[2019-10-15 09:41] hudochenkov commented on #4349
I can't reproduce it. https://stylelint.io/demo#N4Igxg9gJgpiBcIACBXAzjABAHRADwDow01cBubAOyoENNhIAbCAJ3kwGIAxHszAXyogANCDQBPSgBcaeBGOJoR4CJQBmASwDm84FUw4QLFIxikE9fQcM0pAWmOm7lCHZSUA1i4Du1CwG1MKWMYYUtKa0jDbRcWGABBKQAlEzNcdn9cdBhcAF0rSP58iIEqfhB+IA

[2019-10-15 10:47] evilebottnawi commented on #4349
Better open issue in stylelint-sass https://github.com/kristerkari/stylelint-scss/tree/master/src/rules/at-rule-no-unknown

[2019-10-15 11:05] hudochenkov commented on #4349
Correct, better to use `scss/at-rule-no-unknown`. This rule doesn't have support for `@use` yet, but it's a matter of time when it supported.

[2019-10-15 21:25] #4094 closed

[2019-10-16 15:04] vankop opened #4358 "Tool for updating tests cases"
Some times it is a pain to update test cases by hand, mostly it is related to reject test cases (update column and line)

Create a script that can run tests for rule and after run updates column and line.

Actually my idea is bigger, kind of cli for creating new rule / update tests for current rules, but I think it is enough to start from this point

[2019-10-16 17:15] lambert-velir opened #4359 "sass-lint declarations-before-nesting equivalent"
I'm migrating from sass-lint, and there is a rule that I want to enforce using stylelint: https://github.com/sasstools/sass-lint/blob/master/docs/rules/declarations-before-nesting.md
Does this already exist somehow?

A new rule that mimics https://github.com/sasstools/sass-lint/blob/master/docs/rules/declarations-before-nesting.md

[2019-10-16 17:37] hudochenkov commented on #4359
You can use [stylelint-order](https://github.com/hudochenkov/stylelint-order) plugin.

[2019-10-16 17:37] #4359 closed

[2019-10-16 19:11] hudochenkov commented on #2761
[Demo with an issue](https://stylelint.io/demo#N4Igxg9gJgpiBcICWA7ADgVwC4BoAEA9AXgIwA6KARtlhCnsHhAG4wBOAZgDYQDu8eZkgDOSSlxgBuPAF8KFYRgC2SgIZsAnviJ5VePFhjCsCmGCxI6DPFBFouqjQPEQwAa2lyUFVJlyEAKlI8AIIKaixaekYWdm4+ASFRcSlZeRRFFXUtQN19Q2MQsIyzCytGW2F7R2ced08QHBBhDRQsVQAPBGawYWFG8DoOJABzbuB5ExA2DAlhMgQGSbIpl3cAWgg0GBRUEfXKNlUwGHWUGF4uVFPVDkM2BYEF1S5eR2F1pVmLdavzhZwy1WdTc6zAPFEKH2h2Op3Ol2uBxgHAgbBgjzwz1e7

[2019-10-16 19:12] hudochenkov commented on #2835
[Demo with an issue](https://stylelint.io/demo#N4Igxg9gJgpiBcID0AqABJAtpmA7ALmikgDq4B0EA1msGqhhNnocWWowDYQBO8aABwCWuKgG4yAXzJkGWHASKkKAMwgQANPXTyWSsuQBGAQx61tjZora4Okbn0EjxUkBpABnAJ4FjADwRPMA8PN3AIXBUhAHNA4HY0EhAeAFdOGA8k-njbDkTwq3wAWhhMAXwvIs4RGCLDGDUeGCy0AG18404Ad2MvTLdaBLz8mNxeZoQ2pI8K9OqCIvljXCh+gF0htEk0DdzpXEkQSSA).

[2019-10-17 09:36] #2835 closed

[2019-10-17 15:06] joyzhong opened #4362 "Add `selector-class-pattern-blacklist` rule"
My team maintains a common component library within Google. Our components' classes are all prefixed with `mdc-`, and ideally only our CSS would style elements with these classes.

We would like to ban `mdc-` class selector usages outside of our code in order to prevent client teams from styling internal elements (and thus making it more difficult for us to roll out core updates in the monorepo).

[2019-10-17 15:31] hudochenkov commented on #4362
I believe you can use negative match to target everything except `mdc-`. Similar to https://www.regextester.com/15

[2019-10-17 18:42] AlexWayfer opened #4363 "False positive of `declaration-colon-space-after` for single line on a next line"
There are false positives for `declaration-colon-space-after` when the value on a next single line. I can't place the value on the line with property name due to line length restriction.

`declaration-colon-space-after`

[code]

[code]

`11.1.1`

CLI via `stylelint test.css`.

No.

No warnings to be flagged.

The following warnings were flagged:

[code]

[2019-10-17 21:11] hudochenkov commented on #4363
Thanks for the report and for using the template.

Technically it works as documented:

Value is a single line, so space is required.

But I understand, that it's not what you would want in this case.

Do you use Prettier on stylesheet that has this problem, by any chance?

[2019-10-18 00:18] ntwb commented on #4337
Related: Windows CI tests are switching to PowerShell by default next week

https://github.blog/changelog/2019-10-17-github-actions-default-shell-on-windows-runners-is-changing-to-powershell/

[code]

As we are not running any batch scripting, in my mind it should not break!

[2019-10-18 10:10] AlexWayfer commented on #4363
Yes. But I'm in clamp currently: I can't not violate rules.

Yes. Maybe, the option can be renamed from `always-single-line` to something like just `single-line`.

Sorry, I didn't understand. If you're talking about https://prettier.io/ — no.

[2019-10-19 08:31] #3204 closed

[2019-10-20 07:28] doochik opened #4366 "Add rule block-opening-brace-empty-line-after"
I want to have consistent code in this cases

[code]

Add rule `block-opening-brace-empty-line-after`. This is symmetric rule to `block-closing-brace-empty-line-before`

I can create PR with this rule.

[2019-10-20 07:50] hudochenkov commented on #4366
Both of these cases doesn't have an empty line after opening brace. If I understood correctly, you want [block-opening-brace-newline-after](https://stylelint.io/user-guide/rules/block-opening-brace-newline-after), but which doesn't ignore first comment on the same line as brace.

[2019-10-20 09:11] doochik commented on #4366
No, I insert comments to illustrate problem :)
I want to remove all empty lines after opening brace (no rule for this) and before closing brace (`block-closing-brace-empty-line-before`)

[code]

Examples for 'never'
[code]

[2019-10-21 05:22] ashfahan opened #4368 "`stylelint-disable-next-line` not working for `selector-pseudo-class-blacklist`"
`stylelint-disable-next-line` not ignoring `selector-pseudo-element-blacklist`

selector-pseudo-element-blacklist

e.g.

[code]

e.g.

[code]

[Stylelint Demo](https://stylelint.io/demo#N4Igxg9gJgpiBcIBGBXALmiA7ABMAOrjpADYQBO8OAxAGb0DchhOOA9GzgM5oCeJMEgEssaALRQhXAIZIBYrDAAe44Yu6CYYTOTEAHLjBRQIYzQFsYosXOlgA1sJ4scAMngALCADcY5PC6saMrisJDk0mhC2FRY2DBMRAC+zETukjJyMFABRKx6ECLBujC+olyx8YmsrBB6dkJ8VAB0AKz

[2019-10-21 05:35] ashfahan commented on #4368
Figured out it was the wrong style i was disabling

[2019-10-21 05:35] #4368 closed

[2019-10-21 08:03] Srilalitha1310 commented on #4332
Me and [@niranjanib](https://github.com/niranjanib) .. Are looking into this issue.

[2019-10-21 12:49] doochik commented on #4366
@hudochenkov what do you think about this rule?

[2019-10-21 14:22] hudochenkov commented on #4366
I think this rule has intersection with other rules. Check this [demo](https://stylelint.io/demo#N4Igxg9gJgpiBcICGACYAdAdllLIBsIAneFAYgDEqBuLAXyxABoQBnAT0wBckAPBcK1bNwETADMAlgHMBGTLnQgiAV3wxWS0vNyKQsMPiREkXSWIC0MALYAHLuwv5JmGBYBGMccRhaUAbRxdPSR8AHckdk1mIOCdYN0lGF4wGHs-QIUE4KUkcS4YIgsDIxMzMSUmWOyUJSkiVi4LV0aYKCVq4IBdKqzspRlMHwzOhNz8wotIa2sYbkrRnJAXVklYC1XMaXUnFzd3QjAAaw6+hK7RhjOLrKu6EDogA). Configu

[2019-10-21 14:37] hudochenkov commented on #3896
I can't reproduce the issue. @klh do you still experience an issue.

[2019-10-21 14:40] hudochenkov commented on #3806
You can use [function-calc-no-invalid](https://stylelint.io/user-guide/rules/function-calc-no-invalid) to catch invalid calc values.

[2019-10-21 14:40] #3806 closed

[2019-10-21 14:52] hudochenkov commented on #3370
We have micromatch updated to v4. This issue was probably resolved.

[2019-10-21 14:52] #3370 closed

[2019-10-21 15:11] doochik commented on #4366
`declaration-empty-line-before` has conflict with plugin `order/properties-order`.

config example:
[code]

code example
[code]

[2019-10-21 15:15] hudochenkov commented on #4366
`declaration-empty-line-before` should not be used if `emptyLineBefore` is used in `order/properties-order`. Issue related to your problem already opened in https://github.com/hudochenkov/stylelint-order/issues/95.

[2019-10-21 15:31] doochik commented on #4366
Yes, I there is not rule to prevent me to write like this

[code]

Empty line after opening brace is valid

[2019-10-21 19:14] gnarmedia commented on #2542
I think due to ignoring this rule negative values are also ignored? I am seeing this in my current stylesheet:
    margin: 0 -2% 0 -2%;
no error

[2019-10-21 21:03] hudochenkov commented on #2542
@gnarmedia please, create a new issue if you noticed problems with stylelint.

[2019-10-21 21:11] hudochenkov commented on #4366
Core rules could be conflicting with third-party rules, but core rules shouldn't be conflicting with core rules. We're trying to avoid conflicts between rules, so it won't be possible to create configurations, which will produce confusing results. That's why we have the following in our [Criteria for inclusion](https://stylelint.io/developer-guide/rules#criteria-for-inclusion):

I'm thinking that

[2019-10-21 22:51] hudochenkov commented on #3982
Closing this one. Because we're deprecated `createRuleTester` API.

[2019-10-21 22:51] #3982 closed

[2019-10-22 12:44] doochik commented on #4366
Ok, I'll create the plugin

[2019-10-22 12:44] #4366 closed

[2019-10-23 07:33] fanich37 commented on #4327
I would like to work on this issue if it's still relevant and available.

[2019-10-23 08:26] vankop commented on #4327
@fanich37 Yes, it is still relevant, PRs always welcome 🤗

[2019-10-23 18:10] akoidan opened #4373 "TypeError: Cannot read property 'start' of undefined for Sass for insude Vue"
The sass loops inside of **VUE** files cause linter to crash

not related to any rule

Any rule that has `@for` loop in sass

[code]

Any rule, is not rule specific. Put something to tigger the linter.

[code]

 11.1.1

  `./node_modules/.bin/stylelint Sass.vue`

 Yes, it's related to SASS loops

 stylelint would work instead of failing with an error

An error occured

[code]

To reproduce the iss

[2019-10-23 18:25] hudochenkov commented on #4373
Thanks for the report and for using the template.

It's a problem with `postcss-sass` parser. Here the [demo](https://stylelint.io/demo#N4Igxg9gJgpiBcIAkYA2BDAzpgtJ1ArgObwAEAZhAE6kCEs56BqALgDoB2nAApTUgEsKVCAFtSARlIsAFiOIzSAFk6lSAOgDEwFBmx5CRAL45tgo6rWkA7gKiyyANgAMABwAepANSlBltZCo1GQARhhgANYgADQgmACeHCzo7ghxWJgx4BAc5AJEacCWbCBUzDCYJWRFHFakJegsOGWoMDgcEDgEHBEd1lwI0mUw0f71IGEQke2dMKKuLPFVQwQjYyWB1DM4

[2019-10-23 18:25] #4373 closed

[2019-10-23 18:31] akoidan commented on #4373
Forwaded to https://github.com/AleshaOleg/postcss-sass/issues/120

[2019-10-23 22:37] shawnbot opened #4374 "Allow configOverrides to be a function"
This is a feature request for the Node API.

In #4331 I described the need to filter the loaded configuration by one or more rules from the CLI to ease refactoring efforts. One way to do this is to make the `configOverrides` option more powerful by allowing it to be a function that _modifies_ the loaded configuration. Filtering the rules would be as simple as:

[code]

Since there's no CLI option