[2022-05-27 00:19] ybiquitous commented on #6101
@binyamin @ntwb Thanks for clarifying the discussion.

It sounds better to me to continue the maintenance of `cosmiconfg`, instead of switching to another library.

I wish @davidtheclark would give someone (who has a passion for the maintenance of `cosmiconfg`) access to maintain and publish. If possible, it may be desirable to transfer the package repository to the [github.com/stylelint](https://

[2022-05-27 04:17] davidtheclark commented on #6101
👋 Cosmiconfig is a *stable* project, and I've been a little restrictive about the features in order to keep it that way. I am happy to merge PRs that adjust dependencies. And I have no attachment to any particular yaml library -- just trying to let users solve their problems with security warnings. Happy to merge and deploy a dependency change.

I'm also happy to give other people access to mainta

[2022-05-27 04:17] davidtheclark commented on #6101
👋 Cosmiconfig is a *stable* project, and I've been a little restrictive about the features in order to keep it that way. I am happy to merge PRs that adjust dependencies. And I have no attachment to any particular yaml library -- just trying to let users solve their problems with security warnings. Happy to merge and deploy a dependency change.

I'm also happy to give other people access to mainta

[2022-05-27 04:34] ybiquitous commented on #6101
@davidtheclark Good news! 🙌🏼

What do you think about updating the `yaml` dependency to v2 as @binyamin commented on https://github.com/stylelint/stylelint/issues/6101#issuecomment-1138744073?

[2022-05-27 07:47] #6117 closed, assigned to nobody

[2022-05-27 14:42] davidtheclark commented on #6101
See https://github.com/davidtheclark/cosmiconfig/pull/274: I prepped a v8 that switches back to js-yaml. I think there should be no effect on users. Please comment there if you have any concerns! I'll release tomorrow.

[2022-05-27 19:02] amarg26 opened #6119 "Add autofix to declaration-block-no-duplicate-properties"
### What is the problem you're trying to solve?

I have set the Stylelint config to remove duplicate CSS properties and values as below.

[code]
I want to remove the duplicate property values like on the fix lint command or on Ctrl+S but this is not happening at all.
Example as below.

[code]

Please let me know how I can achieve this?the

### What solution would you like to see?

I want to remove

[2022-05-28 07:38] nanxiaobei commented on #6027
still exists, if using pnpm

[2022-05-29 14:51] davidtheclark commented on #6101
Upgrading yaml means removing support for Node 10 and 12. Switching to js-yaml means only removing support for Node 10, but might have some parsing differences on some obscure, infrequently used YAML syntax. Either way, it would be a major version bump for cosmiconfig.

What do Stylelint folks prefer? Stick with yaml, or switch to js-yaml as suggested in this issue?

Also, if you're interested in

[2022-05-30 00:42] ybiquitous commented on #6101
I think Stylelint cannot bump to the major version immediately (e.g. dropping the Node.js 12 support or removing deprecated rules), so it seems better to me to switch to `js-yaml` instead of updating `yaml`.

Thanks for the proposal, @davidtheclark. I believe this is an excellent suggestion and it should be a unique opportunity to touch a famous and widely-used package of `cosmiconfig`. 🙌🏼

What i

[2022-05-30 01:17] ybiquitous commented on #6119
@amarg26 Thanks for using the template.

The [`declaration-block-no-duplicate-properties`](https://stylelint.io/user-guide/rules/list/declaration-block-no-duplicate-properties/) rule doesn't provide the *autofix* feature, but do you want autofix?

[2022-05-30 18:59] meriouma commented on #6100
I believe this should work with PnP without breaking the current behavior.

[2022-05-31 07:45] webistomin opened #6125 "Stylelint doesn't work inside vue custom blocks"
### What is the problem you're trying to solve?

Hi! I use [custom blocks](https://vue-loader.vuejs.org/guide/custom-blocks.html#example) in vue, but stylelint doesn't work in them. Is there some way to make this work? Thanks.

### What solution would you like to see?

**Works fine**

![image](https://user-images.githubusercontent.com/30475699/171119541-ca2549c6-e814-44f4-8e05-4add941e4209.png)

*

[2022-05-31 15:51] LuXDAmore commented on #2198
@hudochenkov , What do you think about this `.scss` file?

[code]

The error still in `&,` but i think should be something allowed, because i prefer to not duplicate code in that case.

[2022-06-01 00:21] ybiquitous commented on #6125
@webistomin Thanks for using the template.

I'm not familiar with Vue, but it seems related to `postcss-html`. The following code in `postcss-html` seems to support only `<style>` tags.

https://github.com/ota-meshi/postcss-html/blob/10539de0cc8ebf5469bd0938842a1cd695b20728/lib/html/extract-styles.js#L39-L42

[2022-06-01 05:48] webistomin commented on #6125
@ybiquitous thanks for the answer. I'll create an issue there. In the meantime, I tried using [patch-package](https://www.npmjs.com/package/patch-package). Everything works as it should.

[2022-06-01 05:48] #6125 closed

[2022-06-02 01:03] NoorImann opened #6126 "/"
README.md

[2022-06-02 02:45] ntwb commented on #6101
I've no strong opinions on this, as long as if and when required new cosmiconfig releases can happen timely, be that adding additional contributors to the current repo, or moving the repo here

100%, if it isn't broken don't fix it, Cosmiconfig is in (or near) the top 100 packages downloaded per month, so regardless of anything else this is very important to keep it this way.

If this will have (f

[2022-06-02 22:26] ybiquitous commented on #5065
@romainmenke Thanks, the [`@csstools/selector-specificity`](https://www.npmjs.com/package/@csstools/selector-specificity) package as you suggest looks great! It may prevent Stylelint from increasing its package size.

I'll open a new PR using it.

[2022-06-03 12:22] #6126 closed

[2022-06-04 17:08] davidtheclark commented on #6101
Over in cosmiconfig I posted a notice that I'm happy to completely hand over the keys to people interested in taking ownership:

I thought maybe I'd be interested in pushing through v8, but turns out I'm not really, and would rather hand it off at this point.

[2022-06-06 04:22] ybiquitous commented on #6101
@davidtheclark I'm interested in maintaining Cosmiconfig!

[2022-06-06 09:23] jeddy3 commented on #6082
SGTM. Labelled as ready to implement.

[2022-06-06 09:27] jeddy3 commented on #6092
You're welcome to port the rule to [a plugin](https://stylelint.io/developer-guide/plugins/) and fix the issue there, if you want to continue using it.

[2022-06-06 10:51] jeddy3 commented on #6119
Do we want to add autofix to a rule like this? I guess it'd be useful in combination with the autofix in the `no-vendor-prefix` rules.

[2022-06-06 10:53] jeddy3 commented on #6100
I've labelled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

[2022-06-06 12:08] Catalyst497 commented on #4585
I am willing to solve this issue. Could you assign it to me and show me how or where to get the hints?

[2022-06-06 12:39] ybiquitous commented on #6109
Considering consistency with the Node.js API, `--globby-options` is also a good option. 👍🏼

[2022-06-06 12:48] ybiquitous commented on #6119
We can fix the following case easily, and it seems useful to me:

[code]

But, can we fix the following case? Which should be removed: `pink` or `organge`?

[code]

[2022-06-06 12:52] jeddy3 commented on #6109
Let's an `--globby-options` flag.

It's great you want to help a new feature is generally implemented by the person who requested it or by someone who also needs it. The team working on Stylelint have time to review pull requests, but not time to implement features like this unless they need it themselves.

@silversonicaxel I've labelled the issue as ready to implement. Please consider [contributi

[2022-06-06 12:59] jeddy3 commented on #6119
Unless the `"ignore": ["consecutive-duplicates-with-different-values"]` option is set, I think we should fix this case so that the fix behaviour is complete.

We should keep the last option and remove all previous duplicates as that's how the browser is going to interpret it most of the time, e.g.

[code]

[2022-06-06 13:54] ybiquitous commented on #6119
Thanks for the explanation. That makes sense. 👍🏼

[2022-06-06 15:18] davidtheclark commented on #6101
@ybiquitous I sent you invites to be a GitHub and npm collaborator.

[2022-06-06 15:24] ybiquitous commented on #6101
@davidtheclark Thanks. I've accepted them. 👍

[2022-06-07 09:58] #4055 closed

[2022-06-07 10:18] jeddy3 opened #6137 "Release 14.9.0"
- [x] stylelint release
- [x] stylelint-config-recommended update
- [x] stylelint-config-standard update
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

Let's include:

- https://github.com/stylelint/stylelint/pull/6131

And get accompanying new releases of the configs out:

- https://github.com/stylelint/stylelint-config-recommended/issues/166
- https://github.com/stylelint/sty

[2022-06-07 10:30] #5065 closed

[2022-06-07 10:40] ybiquitous commented on #6137
I agree with all proposals for the configs. 👍🏼

[2022-06-07 20:37] xarety commented on #2908
Hey guys, any updates here?

[2022-06-08 03:06] ybiquitous commented on #2908
@xarety Nobody touches this issue now. Please consider [contributing](https://stylelint.io/contributing) if you have time!

[2022-06-08 11:22] jeddy3 commented on #6137
I'll release once I have a review for:

- https://github.com/stylelint/stylelint-config-recommended/pull/167
- https://github.com/stylelint/stylelint-config-standard/pull/253

[2022-06-08 14:32] jeddy3 commented on #6137
Done 🎉

Thanks to everyone who contributed!

[2022-06-08 14:32] #6137 closed

[2022-06-08 14:35] ybiquitous commented on #6137
@jeddy3 Thanks for all your hard work! 👏🏼

[2022-06-08 16:14] amarg26 commented on #6119
@jeddy3 Sure, Please let me know in what way I can contribute.

[2022-06-08 17:06] amarg26 opened #6138 "Configured rules that are no longer available to be removed or to be updated."
### What is the problem you're trying to solve?

Removing or updating the below rules which are no longer available.

1. at-each-key-value-single-line
2. at-function-named-arguments
3. at-import-partial-extension-blacklist
4. media-feature-value-dollar-variable
5. no-duplicate-dollar-variables
6. partial-no-import
7. selector-nest-combinators
8. selector-no-redundant-nesting-selector
9. selector-n

[2022-06-09 00:47] ybiquitous commented on #6138
@amarg26 Thanks for using the template.

I'm not sure about `stylelint-config-prettier-check` and `stylelint-find-new-rules`, but it seems they report for `stylelint-scss` rules instead of `stylelint` ones.

For example, `at-each-key-value-single-line` is a rule of `stylelint-scss`, not one of `stylelint`:
https://github.com/stylelint-scss/stylelint-scss/blob/1c65d3c0ce016a66b0c656ce153aa163625348

[2022-06-09 05:10] amarg26 commented on #6138
@ybiquitous  Yes, It is related to `stylelint-scss` . Will divert this same to them. Thanks for this. 😄

[2022-06-09 05:55] ybiquitous commented on #6138
@amarg26 OK. Then, could you please file an issue on the [stylelint-scss/stylelint-scss](https://github.com/stylelint-scss/stylelint-scss) repository?

In addition, I think `stylelint-scss` maintainers would feel helpful if you could provide a small reproduction repository for that issue.

[2022-06-09 05:55] #6138 closed

[2022-06-09 05:59] amarg26 commented on #6138
@ybiquitous I have filed the same issue to them referencing the same discussion.
[https://github.com/stylelint-scss/stylelint-scss/issues/611](url)

If I get time, I will create a reproduction repository for the issues.

[2022-06-09 13:23] ybiquitous commented on #3600
Does this error still occur? 🤔
I check two reproduction code snippets on the demo, but I cannot see the error:

- [snippet using `:root`](https://stylelint.io/demo/#N4Igxg9gJgpiBcCBOEIBcAEwA6A7DGAtIQGarxZ4EEBkGAdAEYCGSWGkANhEhY5wFcYAbgwBfKuLxiQAGhABnAJ640zAB4JFYBQrngIuEgEsA5lpz4M2EEgGcYCmxUvVrimA7BoehALYahMZQzhgADJISuDJiQA)
- [snippet using `map-deep-get`](https://stylelint.io/demo/#N4Igxg9gJgpiBc

[2022-06-09 13:36] #3600 closed

[2022-06-09 18:54] Hypnosphi opened #6139 "Fix TypeError regression for nth-child in selector-max-specificity"
### What steps are needed to reproduce the bug?

Reproduction repo: https://github.com/Hypnosphi/stylelint-nth-child

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

stylelint index.css

### Which version of Stylelint are you using?

`14.9.0`

### What did you expect to happen?

No errors

### What actually happened?

[code]

### Does the b

[2022-06-09 22:07] ybiquitous commented on #6139
@Hypnosphi @reintroducing Thanks for opening the issue and using the template. And thank you so much for providing the reproduction repository and demo.

I've labeled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

There are [steps on how to fix a bug in a rule](https://stylelint.io/developer-guide/rules#fix-a-bug-in-a-rule) in

[2022-06-09 22:09] ybiquitous commented on #6139
Maybe PR #6131 seems to be a cause.

[2022-06-09 23:08] ybiquitous commented on #6139
I find the error occurs in the [`@csstools/selector-specificity`](https://www.npmjs.com/package/@csstools/selector-specificity) code:

https://github.com/csstools/postcss-plugins/blob/b755ca7806b52d86276d825968832e957c5c2e8a/packages/selector-specificity/src/index.ts#L74

Reproduction:

[code]

I'll open an issue for `@csstools/selector-specificity` about the behavior.

[2022-06-10 08:00] ybiquitous commented on #6139
`@csstools/selector-specificity@2.0.1` has been released 🎉

I believe it should mitigate the problem.

[2022-06-10 11:27] DMShamonov opened #6145 "False positive for `function-whitespace-after` in a `var()`"
### What steps are needed to reproduce the bug?

If I use variable interpolation inside a `var()`, rule `function-whitespace-after` returns a false positive.

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

On `pre-commit` hook by `lint-staged` - `"**/*.pcss": "stylelint --fix"`

### Which version of Stylelint are you using?

`14.8.5`

###

[2022-06-10 12:40] ybiquitous commented on #6145
@DMShamonov Thank you for creating the detailed report and using the template.

Unfortunately, we have decided not to update or fix stylistic rules like `function-whitespace-after`. So please consider using a pretty printer like [Prettier](https://prettier.io/) instead.

For details, see also [this document](https://stylelint.io/user-guide/rules/list#stylistic-issues).

By the way, what syntax `$(

[2022-06-10 12:40] #6145 closed

[2022-06-10 12:41] #6139 closed

[2022-06-10 13:00] ybiquitous opened #6146 "Release 14.9.1"
- [x] stylelint release
- [x] stylelint-config-recommended update
- [x] stylelint-config-standard update
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

The next release will include a regression fix:

- #6140

[2022-06-10 13:03] ybiquitous commented on #6146
I'll perform releasing tomorrow.

[2022-06-10 15:08] ybiquitous commented on #6119
@amarg26 No one has touched this issue yet. PR welcome. 😃

If you could implement the auto-fix and it would be merged, the next minor version would include it.

[2022-06-10 15:24] reintroducing commented on #6139
Awesome @ybiquitous, thank you for fixing this so quickly. When is the next planned release of Stylelint with this update?

[2022-06-10 15:54] ybiquitous commented on #6139
@reintroducing I'll release the next patch version tomorrow (#6146). 😃

[2022-06-10 16:01] reintroducing commented on #6139
great, thank you @ybiquitous!

[2022-06-10 18:25] laverdet commented on #2430
It may be worth revisiting this now that nested patterns are officially supported in the CSS specification. `&` selectors are required and getting a stylelint configuration which works here is cumbersome. I landed on this configuration: `"selector-nested-pattern": "^((^|,)\\s*&([^,]+|[^,]*\\([^)]+\\)[^,]*))+$"` but it seems unreasonable that we need to go to such lengths.

The expression is annoyi

[2022-06-11 01:00] ybiquitous commented on #6146
I will now begin releasing it.

[2022-06-11 01:59] ybiquitous commented on #6146
All tasks are done! 🎉

Thanks to everyone who contributed!

[2022-06-11 01:59] #6146 closed

[2022-06-11 02:00] ybiquitous commented on #6139
14.9.1 is out! 🎉
https://github.com/stylelint/stylelint/releases/tag/14.9.1

[2022-06-11 17:05] reintroducing commented on #6139
@ybiquitous confirmed this is working as expected now, thank you very much for the quick turn around on this.

[2022-06-14 06:09] DMShamonov commented on #6145
@ybiquitous thanks for clarification! We are changing this part of our project soon 🙌

Syntax like `$(style)` adds `postcss-each` plugin 😃

[2022-06-14 07:07] ybiquitous commented on #6145
I didn't know that. Thanks for letting me know! 👍🏼

[2022-06-15 00:18] nex3 opened #6151 "Publicly expose reference data"
### What is the problem you're trying to solve?

I'm writing a custom lint that would like to have access to some of the data in `lib/reference` (specifically `shorthandData`). Currently that's not publicly available, although it is used by a number of internal lints which suggests that it's useful for implementing reasonable lints.

### What solution would you like to see?

Possibly a top-level `

[2022-06-15 01:01] ybiquitous commented on #6151
@nex3 Thanks for the suggestion. It sounds like a good idea. 👍🏼

I've labeled `needs discussion`. But I think this idea would be ready if there were no objections or concerns.

[2022-06-15 06:20] hazxy commented on #4010
same problem

[2022-06-15 12:25] ybiquitous commented on #4010
The `no-descending-specificity` rule's implementation has now changed and improved by using heavily the [`@csstools/selector-specificity`](https://www.npmjs.com/package/@csstools/selector-specificity) package. See #6131 and the following code for details.

https://github.com/stylelint/stylelint/blob/592b149a6225559cccada30d313814910439d170/lib/rules/no-descending-specificity/index.js#L4

The false

[2022-06-15 12:41] ybiquitous commented on #4637
Does this false positive occur still? It seems the rule works on the [demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcICGAaAOgOwEYFcAueEG6GANkljKQATCbXUBk8AZhGDgM4kPMAWEAG4wATrXoNqkUhBHxqAYgDMKgNwSGeGAA88AWliQRSPAEsi8jERjqMDAL6ZHGTBiSDxd6lFOcADuQAnvKmZKEwelgyYADWtgxInpLevgFIwdShpOGR0XESzs4gKCCcgRh4SNoIpWCcnMXgRCymAOY1dF5oICI4pDCc3fKdyd1WBgNgMBg+GK16-jBgpi3LeIFD1Hi9MAVOIPZAA).

[2022-06-16 22:56] ybiquitous commented on #2908
I tried looking into this problem a bit.

The `standalone()` function calculates a hash of a given config object here:

https://github.com/stylelint/stylelint/blob/592b149a6225559cccada30d313814910439d170/lib/standalone.js#L179-L182

When using directly `standalone()` (that is, the Node.js API), the `config` variable has a non-nullable value. On the other hand, when using CLI, `config` is nullable

[2022-06-17 19:51] ashleemboyer opened #6154 "Fix `validateOptions` to report when secondary option object is an empty object or null"
### What steps are needed to reproduce the bug?

First, set up a rule that requires via `validateOptions` that the secondary option object is defined. I have an example here: https://github.com/ashleemboyer/stylelint-validate-options-test/blob/main/disallow-variable-name.js#L28-L44.

Second, either with Jest tests or the CLI tool & a config file, try running Stylelint with an empty object as the s

[2022-06-19 23:55] ybiquitous commented on #6154
@ashleemboyer Thanks for writing the detailed report and using the template! Your proposal sounds good to me. 👍🏼

I've labeled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

[2022-06-20 00:53] ashleemboyer commented on #6154
@ybiquitous I’d be happy to help out with this one! ☺️

[2022-06-20 08:46] jeddy3 commented on #2430
@laverdet Thanks for chiming in. It does seem cumbersome, especially as we [recently turned on a rule in the standard config to encourage the use of the `:not(x, y)` pattern](https://github.com/stylelint/stylelint-config-standard/issues/243).

We can add an `splitList: bool (default: false)` option to apply the pattern against each selector in a list, rather than the whole selector. This will avoi

[2022-06-20 09:01] jeddy3 commented on #4010
I agree. Let's close.

[2022-06-20 09:01] jeddy3 commented on #4637
Let's close.

[2022-06-20 09:10] jeddy3 commented on #2908
@ybiquitous Thanks for digging into this issue!

Sounds like an appropriate change to me.

[2022-06-20 09:18] #4881 closed

[2022-06-20 10:08] #4698 closed

[2022-06-20 10:19] #5590 closed, assigned to nobody

[2022-06-20 10:43] leon-up9 opened #6160 "Fix `max-nesting-depth` error for at-rules in Sass syntax"
### What steps are needed to reproduce the bug?

 run npx stylelint "**/*.sass" with config

 while "customSyntax": require("postcss-s**a**ss")
 doesnt work

 "customSyntax": require("postcss-s**c**ss")
 works and display styles that dont stand in the rules

### What Stylelint configuration is needed to reproduce the bug?

stylelint.config.js

`module.exports = {
	"extends": "stylelint-config-sass

[2022-06-20 12:11] carlosjeurissen commented on #6119
Let's make sure fallback logic is not affected by this autofix. For example:
[code]

Same goes for calc, variables, and others:
[code]

[2022-06-20 12:15] ybiquitous commented on #6160
@leon-up9 Thanks for writing the report and using the template. The problem seems to be related to the `max-nesting-depth` rule.

Could you please provide your Sass code triggering the error or the minimum reproduction repository?

[2022-06-20 12:22] ybiquitous commented on #6119
@carlosjeurissen Thank you. That's a good point. 👍🏼

Indeed, can we easily distinguish if fallback or not...? 🤔

[2022-06-20 14:02] jeddy3 commented on #6151
@nex3 Thanks for the request. I think we should expose our reference data in our public API to help plugin authors.

Our public API is well-considered, especially [our conventions around rules](https://stylelint.io/user-guide/rules/about). In contrast, we haven't given much thought to our reference data. For example, [`keywordSets.js`](https://github.com/stylelint/stylelint/blob/main/lib/reference

[2022-06-20 14:46] carlosjeurissen opened #6161 "Add `media-feature-range-notation`"
### What is the problem you're trying to solve?

With the new syntax introduced in media queries level 4 (see https://drafts.csswg.org/mediaqueries/#mq-range-context), it makes sense to introduce a stylelint rule enforcing this new syntax.

This would companion https://github.com/postcss/postcss-media-minmax

### What solution would you like to see?

Having a rule which enforced the new syntax. Th

[2022-06-20 19:59] mattxwang commented on #5694
Question for `unit-no-unknown` (let me know if I should move this somewhere else):

My understanding of the current behaviour is `unit-no-unknown`'s start index is at the value, **not the unit**: for example,

[code]

My perspective says we should just be highlighting the unit, not the value (i.e. the start, end indices of the unit). The description in the rule also says:

[code]

Any thoughts on

[2022-06-21 00:56] ybiquitous commented on #6151
@jeddy3 Thank you for clearing considerations! Indeed, it's vital to examine APIs before publishing them. I agree with your suggestions. 👍🏼

[2022-06-21 05:37] ybiquitous commented on #5694
As you suggested, I think it seems to make sense to highlight *just a unit*.

[2022-06-21 09:48] jeddy3 commented on #6119
@ybiquitous That's correct. Adding autofix to a rule doesn't change what problems a rule detects, it just autofixes them rather than reporting them.

[We already do that for the consecutive option.](
https://stylelint.io/user-guide/rules/list/declaration-block-no-duplicate-properties/#ignore-consecutive-duplicates)

[2022-06-21 10:02] #4508 closed

[2022-06-21 10:15] jeddy3 commented on #6160
@leon-up9 Please provide a _minimum_ reproduction. We can only help you if you identify the specific code causing the problem. You should first identify the file (or files) causing the issue by running stylelint on subsets of your codebase. Once you've identified a problematic file, you should reduce down the code in it to the minimum amount of code to trigger the error.

If you like, you can then

[2022-06-21 15:56] jeddy3 commented on #6161
@carlosjeurissen Thanks for the request. It sounds like a good rule to me.

Outline:

- Name: `media-feature-range-notation`
- Primary option: `"prefix"|"context"`
- Secondary options: none
- Autofixable: Yes, but only for the `"context"` option
- Message: - `Expected ${primary} media feature range notation `
- Description: "Specify prefix or context notation for media feature ranges."
- Extended

[2022-06-21 16:00] jeddy3 commented on #6151
@ybiquitous The shorthand data is currently an object. Do you have any thoughts on whether we should continue to use that structure, or is there something else we can use that ties into the Sets of the other reference files?

[2022-06-22 02:19] ybiquitous commented on #6151
@jeddy3 I think it's more helpful to align data structures. Fortunately, `shorthandData` is used only in the two rules below, so changing the code to fit `Set` is easy.

- `declaration-block-no-redundant-longhand-properties`
- `declaration-block-no-shorthand-property-overrides`

[2022-06-22 05:19] leon-up9 commented on #6160
i Just provided the repo one comment above you

[2022-06-22 08:47] leon-up9 commented on #6160
how can i identify what file causing the problem?

[2022-06-22 09:03] jeddy3 commented on #6160
There may be a more eloquent way, but this approach usually works.

[2022-06-22 13:46] ybiquitous commented on #6151
I've created a refactoring PR #6167 before exposing the references.

[2022-06-23 00:31] ybiquitous commented on #6151
@jeddy3 I've tried creating PR #6168 to expose `shorthandData` following your proposal. Does the PR fit your idea? If so, I'll make the PR ready to review.

[2022-06-23 00:54] ybiquitous commented on #5669
I'm reconsidering this issue inspired by #6151. What if starting with the following changes?

- Expose only `is*()` functions. Because I'm still not confident with `assert*()` interfaces, but `is*()` interfaces seem more stable.
- Expose functions as flat forms, e.g.
[code]

[2022-06-23 01:33] ashleemboyer commented on #6154
Hey again @ybiquitous! I've started working on this, and began by adding some test cases for some of the behavior I expected above. Things aren't going how I expected, and I'm not sure if it's because I'm misunderstanding the existing code or not.

I have one question to start with. 😊

In `validate`, what is the purpose of immediately checking `actual === null` and `arrayEqual(actual, [null])`, an

[2022-06-23 01:59] ybiquitous commented on #6154
Hi @ashleemboyer, thanks for touching on this issue. 😊

`null` means to turn off a rule. See the doc below:

https://github.com/stylelint/stylelint/blob/bd8c7fd88172af93d8ae80b38256b5074ebee233/docs/user-guide/configure.md?plain=1#L40

[2022-06-23 09:46] kaorun343 opened #6170 "Add cacheStrategy option"
### What is the problem you're trying to solve?

It seems the current cache strategy of Stylelint is the same with ESLint and Prettier's `metadata` strategy. When running on CI, each file metadata can change at every single CI execution.

### What solution would you like to see?

ESLint and Prettier supports `content` cache strategy. This strategy doesn't depends on metadata but depends on each fi

[2022-06-23 13:21] jeddy3 commented on #5669
Adding only the `is*()` functions to the public API sounds good to me as they're the most commonly used alongside [`stylelint.utils.validateOptions`](https://stylelint.io/developer-guide/plugins#stylelintutilsvalidateoptions).

Having said that, I'm not 100% sure of the value of exposing these compared to the reference data which will change over time whereas the type checks won't. A person can, i

[2022-06-23 13:23] jeddy3 commented on #6161
As there are no objections, I'll label as ready to implement.

Please consider [contributing](https://stylelint.io/contributing) if you have time.

There are [steps on how to add a new rule](https://stylelint.io/developer-guide/rules#add-a-rule) in the Developer guide.

[2022-06-23 13:28] jeddy3 commented on #6170
@kaorun343 Thanks for the request and for using the template.

A new `cacheStrategy` [option](https://stylelint.io/user-guide/usage/options) (being `metadata` (default) or `content`) that is available via the [Node.js API](https://stylelint.io/user-guide/usage/node-api) and the [CLI](https://stylelint.io/user-guide/usage/cli) sounds good to me.

I've labelled the issue as ready to implement. Pleas

[2022-06-23 16:25] #4065 closed

[2022-06-24 00:17] #6082 closed

[2022-06-24 19:51] TD-DO opened #6171 "Disallow relative imports"
### What is the problem you're trying to solve?

Everything should be relative to src. For example, when I want something from Users/user/documents/code/project/src/components/A.js to be imported into Users/user/documents/code/project/src/components/B.js it should say 'import {something} from 'components/A' ' instead of 'import {something} from './A' '.

### What solution would you like to see?

I

[2022-06-24 19:59] alexander-akait commented on #6171
It is CSS linter, we don't handle `import { ... } from "..."l`

[2022-06-24 19:59] #6171 closed

[2022-06-24 20:23] stevancorre opened #6172 "Formatting issue with maps"
### What steps are needed to reproduce the bug?

This is simple, when you have a comment before a map declaration inside another map, the formatter get crazy
[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

CLI with `stylelint src --fix`

### Which version of Stylelint are you using?

`14.9.0`

### What did you expect to happen?

[co

[2022-06-25 11:56] jeddy3 commented on #6172
@stevancorre Thanks for the report and for using the template.

The stylistic rules are now frozen so that Stylelint is focused on helping you avoid errors and enforce non-stylistic conventions in your code, such as limiting what units can be used. [We now recommend](https://stylelint.io/user-guide/rules/list#stylistic-issues) using a pretty printer alongside Stylelint. Alternatively, if you wish

[2022-06-25 11:56] #6172 closed

[2022-06-26 07:29] mattxwang commented on #5694
Looking to knock as many of these out as possible so I can enable the vscode-stylelint team to add better warning support!

As I go through the list of rules, I have some questions on exactly *what* the start and end should be. Off the top of my head:

- `comment-no-empty` - should I include the comment delimiters (ex `/*` and `*/`), or not? if not, how would I handle an empty comment?
- `no-empty

[2022-06-26 12:31] junyiz commented on #6027
Consider trying to install stylelint in your project.

[2022-06-26 17:00] jeddy3 commented on #5694
Fantastic, thank you!

Let's include the markers.

Perhaps we skip this one as a start and endIndex doesn't make sense.

Yes, I think highlighting the entire string would be reasonable.

[2022-06-27 03:16] mattxwang commented on #4751
I think I can address this in lockstep with adding end positions to the rule; going to assign myself!

[2022-06-27 10:11] #5150 closed

[2022-06-27 10:19] #6151 closed

[2022-06-29 10:19] jeddy3 opened #6186 "Release 14.10.0"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

We've new features and fixes to go out. I can run a release this week.

Let's merge:
- https://github.com/stylelint/stylelint/pull/6183
- https://github.com/stylelint/stylelint/pull/6185 (after refactor suggestio

[2022-06-29 13:53] carlosjeurissen opened #6187 "declaration-property-value-*-list multiple matches are ignored"
### What steps are needed to reproduce the bug?

Have a property match multiple regex in `declaration-property-value-*-list`.

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

CLI

### Which version of Stylelint are you using?

`14.9.0`

### What did you expect to happen?

Either "none" is disallowed or both "rebeccapurple" and "none" are di

[2022-06-29 15:12] jeddy3 commented on #6187
@carlosjeurissen Thanks for the report and for using the template.

SGTM.

I've labelled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

There are [steps on how to fix a bug in a rule](https://stylelint.io/developer-guide/rules#fix-a-bug-in-a-rule) in the Developer guide.

[2022-06-30 00:24] ybiquitous commented on #6187
I've created PR #6188 to fix false negatives in `declaratioin-property-value-disallowed-list`.

---

On the other hand, are there false *positives* (not negatives) in `declaratioin-property-value-allowed-list`? We can see false positives in the [demo](https://stylelint.io/demo#N4Igxg9gJgpiBcICGACYAdAdilkA2EATvCoTAEYxhhIAOArobXjANxY7lJgDWA5oQj1MUALT4iJTBExssAXxAAaEAGcAnpgAuSAB4Jwq1cvAyAZgEs+BjNhToQ

[2022-06-30 02:58] johnemau commented on #4310
FWIW here is an inline script to build a custom formatter that writes to stdout and saves a json file by invoking the existing json and string formatters. JSON results are store in `r.json`.
[code]
Then invoke stylelint with `--custom-formatter f.js` and remember to clean up the temporary file (`f.js`) after your done.

[2022-06-30 12:00] vimplus opened #6189 "Running stylelint.lint in Node.js does not recognize the style rule in vue."
### What steps are needed to reproduce the bug?

[code]

### What Stylelint configuration is needed to reproduce the bug?

Any rule.

### How did you run Stylelint?

`Node.js`

### Which version of Stylelint are you using?

`14.9.1`

### What did you expect to happen?

Correctly identify style rules in vue file.

### What actually happened?

Regardless of whether the style conforms to the rule, it

[2022-06-30 13:14] jeddy3 opened #6191 "Add `percentage-unless-within-keyword-only-block` primary option to keyframe-selector-notation"
### What is the problem you're trying to solve?

I only want to disallow mixed keyframe selectors:

[code]

[code]

While allowing _either_ of the notations when not mixed:

[code]

[code]

Ref: https://github.com/stylelint/stylelint-config-standard/issues/255

### What solution would you like to see?

What's a good name for this option? Maybe:

[code]

We use `same` [else where](https://stylelint

[2022-06-30 13:41] ybiquitous commented on #6191
Indeed, a third primary option may be better, though I don’t have a good name for the option.

For example, `percentage-unless-keyword-only`? But I'm not sure... 🤔

[2022-06-30 14:23] jeddy3 commented on #6191
That's on the right track.

Is `percentage-unless-within-keyword-only-block` too verbose? The rule name is scoped to the keyframe selector, but we're basing the option on what's happening in the containing keyframe block. This name makes that explicit.

We use `within` [else where](https://stylelint.io/user-guide/rules/list/no-descending-specificity/#ignore-selectors-within-list) to show this rela

[2022-06-30 23:43] ybiquitous commented on #6191
`percentage-unless-within-keyword-only-block` is indeed long, but your rationale makes sense to me. 👍🏼

[2022-07-01 09:44] #5532 closed

[2022-07-04 04:03] Maleficentt commented on #5766
为什么我的不行

[2022-07-05 13:12] wayofwade commented on #5630
hello，How did you finally solve it?

[2022-07-06 14:04] #6191 closed

[2022-07-07 09:28] richex-cn commented on #4010
Same error for me, How should I fix it ?

[2022-07-07 09:32] ybiquitous commented on #4010
@richex-cn Could you reproduce an error on the [demo](https://stylelint.io/demo) and paste the demo URL here, please?

[2022-07-07 09:38] richex-cn commented on #4010
@ybiquitous Sure, It's [demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcIB0YCGAnKACYAdAdllkgM4DuAlgA4w4FFHwDmANhAEaosAUplN6ALQkWFWINRgALhQBuMAJQAaeg2ZtOPPtRhCRYmIKgBXKqLRTDkmfIV1CDIlPSp8JAGYR0AW3hYSaCww3ACMCgDcqkQAvqqx+PEESGyoUBT4TPaMrBxcvLKugilpGQD6pSRU6fi6dngORJRQUgAWfgAMSAAc6DDekQ7x0SBKICQAnvhSqAAeCOAkJCPgEPjuFEzz9US4IOjGQSS7ftsMu-gQRjABMPglTMI0YBTrz1Ljx1jOxjBxBMPRIA).

[2022-07-07 09:42] ybiquitous commented on #4010
@richex-cn Thanks. I'll look into it. 👍🏼

[2022-07-07 13:26] ybiquitous commented on #5694
Hi @mattxwang, I can take on parts of the remaining rules. If you've been starting some rules, could you tell me them?

[2022-07-07 15:13] jeddy3 commented on #6186
The week ran away from me. I'm offline for the next week, but I'm happy to pick this up when I'm back unless someone else finds time to do a release while I'm away.

[2022-07-07 15:31] ybiquitous commented on #6186
The next version 14.10.0 will include many new features and the release of the official sharable configs. For a safer approach (maybe regressions), I want to wait until you return. 😃

[2022-07-08 03:27] richex-cn opened #6196 "rule: base64 limit"
### What is the problem you're trying to solve?

I don't think it is recommended to record resources in CSS.

Maybe consider adding a Base64 limit rule. The purpose is to limit CSS size, avoid resources in CSS or limit resource size.

### What solution would you like to see?

Rule like this:

[code]

Example:

[code]

Maybe can also consider passing the MIME Type:

[code]

The above example is jud

[2022-07-09 00:39] mattxwang commented on #5694
Ah! I feel ridiculous, I must've just not been writing the test cases properly 🥲 . Feel free to check it off.

I think this weekend is probably going to be busy for me, so feel free to take whatever end positions you want. In most settings I'll "finish" a rule in one sitting, so it's unlikely you'll interrupt any in-progress work on my end!

[2022-07-10 13:58] Mouvedia commented on #6196
e.g.
IE8 had a 32kb limit.
IE9 had a 4kb limit on IFRAMEs.

[2022-07-12 01:22] shuta13 commented on #5792
@jeddy3 cc @ilyub

Can I work on this issue?

[2022-07-12 10:07] dkryaklin commented on #5905
FYI There is an open PR for OKLab support in `colord` library
https://github.com/omgovich/colord/pull/92

[2022-07-13 10:43] jdescelliers opened #6200 "Curly braces always on new line with 4 spaces indent"
Hi

Basically (and in advance, sorry for the folks that would only accept CSS with 2 spaces) I would like to apply the following on my scss files:

[code]

Here's my `stylelintrc.json` in the root directory:
[code]

here's the thing, apparently this this file is considered valid:

[code]

What am I missing here?

[2022-07-13 22:52] mattxwang opened #6202 "Add animation-require-prefers-reduced-motion (name pending)"
### What is the problem you're trying to solve?

Branching off of our discussion around accessibility features in @stylelint/contributors and a discussion with the FE accessibility team at @chanzuckerberg, one pattern we want to enforce is the use of `prefers-reduced-motion` in blocks that also define animations.

One positive use-case, taken from @chanzuckerberg's [design system](https://github.c

[2022-07-13 22:54] mattxwang commented on #6202
cc: @thibaudcolas (is this what you meant by correct use of `prefers-reduced-motion` and @dierat for the rule suggestion within CZI.

[2022-07-14 05:50] thibaudcolas commented on #6202
@mattxwang yup. See also [stylelint-a11y’s rule](https://github.com/YozhikM/stylelint-a11y/tree/master/src/rules/media-prefers-reduced-motion).

Another common way to implement `prefers-reduced-motion` is to remove all animations everywhere at once:

[code]

I don’t think this undermines the usefulness of the rule as you suggested it, but it’s worth keeping in mind – at least the appropriateness o

[2022-07-15 07:39] Chen-913 opened #6203 "Unexpected unknown pseudo-class selector ":deep" (selector-pseudo-class-no-unknown)"
### What steps are needed to reproduce the bug?

I use Vue3 and draw maps using mapboxgl, and the Stylelint prompts me for `Unexpected unknown pseudo-class selector ":deep" (selector-pseudo-class-no-unknown)` when I use Vue3's latest `.deep` for style piercing

I also used the Stylelint plugin from vscode, version `0.87.6`, but due to project constraints I had to choose this version over the lates

[2022-07-15 07:40] Chen-913 commented on #6203
The project still worked and the styles worked, but my vscode editor gave me an error

[2022-07-15 16:14] ybiquitous commented on #6203
@Chen-913 Thanks for filing the issue and using the template.

I tried to make the minimum reproduction on the [demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcDYwA4AoB0AzCECUABMAL4A6AdiADQgDOAnuQC4CGAHguLbdeBOVgCWAc07AKBAqRAAnAK4AbGLWnwiEyVLowlYJhBkBaFLRhyoEQ2AUtuh8pbnkA1g4Du5VQQDaGzQSZ5GCo-TXFyf39pEQcZGAAFU3MIAGEbbmUvXwjIqJBkFGlQ-wBdYoIyHMkynMriEGIgA), but I could not.

Could you please reproduce

[2022-07-15 16:54] ybiquitous commented on #6202
Thanks for the exciting proposal. The idea of requiring the `prefers-reduced-motion` media feature sounds good to me, but it seems we clarify the purpose of the rule.

The ["About rules"](https://stylelint.io/user-guide/rules/about) doc says that built-in rules "have a singular purpose", but what properties should the new rule be applied to?

- `animation`
- `animation-*` (e.g. `animation-duration

[2022-07-15 16:58] #6200 closed

[2022-07-15 17:42] mattxwang commented on #6202
Ah, I think I should've done a bit more homework before making this issue. It does seem like it fulfills the requirements that I'm suggesting (or at least - mostly. I'm not sure if I like the autofix). This is maybe part of the broader discussion about bringing either that plugin and/or @thibaudcolas's work into the main repo/namespace. @thibaudcolas, did you want to write up that issue based on o

[2022-07-15 20:31] nosilleg commented on #6202
If the rule is looking for the existence of `prefers-reduced-motion` then `*-no-unreduced-motion` might be reasonable.

If a11y is going to be a part of core then maybe `a11y-no-unreduced-motion` works?
Closer to implementation instead of intent would be `media-no-unreduced-motion`.

I haven't looked at how difficult it is to limit the errors to "motion" based styles, but limiting it to vestibular

[2022-07-15 20:51] Mouvedia commented on #6196
I would advise against it; the limits for an URL and data URI are different.
e.g. for IE8: 2083 characters vs 32000 characters

[2022-07-16 02:23] Chen-913 commented on #6203
@ybiquitous I tried to develop on another computer, and the same version of the vscode plug-in did not report an error. I think it should be my computer.

[2022-07-16 02:23] #6203 closed

[2022-07-16 11:48] richex-cn commented on #6196
I can't think of how to introduce Base64 resources without `url()`, It seems the parameter length can be restrict by 'url()'.

At present, I can't find a reason to limit the URL length except for the browser restrictions mentioned by @Mouvedia .

So I prefer to limit the size of Base64 only and ignore URL until I find a reason.

---

References the performance configuration of Webpack or Vite:
[RF

[2022-07-16 15:49] ybiquitous commented on #6196
Thanks. I understand the need well.

According to our [rule guideline](https://stylelint.io/user-guide/rules/about/#max-and-min-rules), I think the new rule is a kind of `*-max-*` rule like [`number-max-precision`](https://stylelint.io/user-guide/rules/list/number-max-precision/).

Considering the possibility of other formats than Base64, the name `data-url-max-length` sounds good to me (see also

[2022-07-16 16:51] richex-cn commented on #6196
I agree with the name `data-url-max-length`, It covers a wider range. So there seems to be no need to be too concerned about whether it is Base64:

[code]

And the string length of Base64 is usually proportional to the binary size, Therefore, it is not necessary to restrict by binary bytes I mentioned at the beginning, String length may be better. And It  is more in line with the rule name of 'len

[2022-07-19 00:25] ybiquitous commented on #6196
Sounds good. So, it seems the primary option type of this new rule should be a `number | Array<[string | regexp, number]>` as a TypeScript notation:

- allow `number` (considered as an integer)
- allow an array of tuples having members of a `string | regexp` and a number.

Also, it should not have a secondary option.

E.g.

[code]

[code]

[code]

[code]

[2022-07-19 08:44] Mouvedia commented on #6196
related: #4117

[2022-07-19 14:30] jeddy3 commented on #5792
@shuta13 Yes, please go ahead. If an issue is labelled "status: ready to implement" and doesn't have an open pull request against it, anyone can pick it up.

[2022-07-21 01:19] Chen-913 opened #6210 "When linting something other than CSS, you should install an appropriate syntax, e.g. "postcss-less", and use the "customSyntax" option"
### What steps are needed to reproduce the bug?

package.json：
[code]

color.less：
[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

Use vscode plug-in or run scripts to format

### Which version of Stylelint are you using?

14.19.1

### What did you expect to happen?

There are no warnings and the code is formatted normally

### What

[2022-07-21 06:10] ybiquitous commented on #6210
@Chen-913 Thanks for using the template.

Unfortunately, I cannot reproduce the error by the codes you provide.
Could you please provide a minimal reproduction repository or something?

[2022-07-21 09:03] Chen-913 commented on #6210
@ybiquitous I'd be happy to provide you with an example. Here's the code repository I just created:
https://github.com/Chen-913/bug-demo.git
By the way, the Stylelint plugin I have in VSCode is currently version `1.2.2`

I recorded a `GIF` of my process, thought it might be helpful for you to judge
![Animation](https://user-images.githubusercontent.com/72293244/180174185-7e132084-9cbd-4f13-b257-1c

[2022-07-21 09:56] ybiquitous commented on #6210
@Chen-913 Thanks for providing the reproduction repository. But I cannot reproduce the error still. See below:

[code]

[2022-07-21 10:01] ybiquitous commented on #6210
Sorry, I'm unfamiliar with VSCode and Vue. If it's a problem with the VSCode plugin, I recommend filing an issue on the [stylelint/vscode-stylelint](https://github.com/stylelint/vscode-stylelint) repository instead of here.

Also, we will not support stylistic rules in the future, so we recommend migration to a pretty printer like Prettier for code-formatting. Please see also our [document](https:

[2022-07-21 12:36] Chen-913 commented on #6210
@ybiquitous Thank you very much for your suggestions. I prefer the customization of stylelint's personalized rules, which is much freer than Prettier

Should I close this issue?

[2022-07-21 12:46] JounQin commented on #6210
The should be related to vscode-stylelint does not support pnpm well, you can try to use `public-hoist-pattern[]=*stylelint*` in you project level `.npmrc` and run `pnpm install` to install, then reload vscode.

[2022-07-21 12:46] #6210 closed

[2022-07-21 23:30] mattxwang opened #6211 "Core support for "wrapping" or "extending" rules"
### What is the problem you're trying to solve?

This issue continues [a conversation in the stylelint/contributors team](https://github.com/orgs/stylelint/teams/contributors/discussions/9/comments/4). In particular, there are several accessibility-focused rules that could be defined *based on other rules*. I'll copy what @thibaudcolas had written in the thread as motivation:

In addition, @jeddy3

[2022-07-21 23:38] mattxwang opened #6212 "Bringing accessibility rules into the core organization/repository"
### What is the problem you're trying to solve?

Following up on [a thread in the stylelint/contributors](https://github.com/orgs/stylelint/teams/contributors/discussions/9/comments/7) team.

There are several different plugins (with varying levels of maintenance) that focus on accessibility:

- https://github.com/YozhikM/stylelint-a11y
- https://github.com/ronilaukkarinen/stylelint-a11y
- https:/

[2022-07-22 08:10] thibaudcolas commented on #6211
@mattxwang 🤘on the three points you want to see:

That’s already supported! With the [`stylelint.utils.checkAgainstRule`](https://stylelint.io/developer-guide/plugins/#stylelintutilscheckagainstrule) API.

Not supported but people have already made the case for this in the past: #4117, #5170.

To me that would warrant either a higher-level API in Stylelint, or a separate package that makes this ki

[2022-07-22 08:30] thibaudcolas commented on #6212
To give a bit more context about my work-in-progress – it’s an attempt at replacing `stylelint-a11y` since it has become [unmaintained](https://github.com/YozhikM/stylelint-a11y/pull/66). I’m focusing on replacing the parts of that plugin that I think are the most useful, and adding more rules that are straightforward to reason about and maintain.

If we were bringing some of those rules into Styl

[2022-07-22 09:00] dumplingbao opened #6214 "Formatting and wrapping of inline styles"
### What is the problem you're trying to solve?

How to ignore inline styles when formatting inline styles and automatically wrapping lines frequently

<img width="400" alt="iShot2022-07-22 16 58 55" src="https://user-images.githubusercontent.com/32701202/180403862-38ad01b5-bfdc-4dfe-b47b-e42a2afaa772.png">

### What solution would you like to see?

Ignore or other methods.

[2022-07-22 14:10] ybiquitous commented on #6212
As an intermediate idea, what if creating a plugin for such a common a11y ruleset under the [github.com/stylelint](https://github.com) organization? (for example, `stylelint/stylelint-a11y` or `stylelint/stylelint-accessibility` etc.)

I don't think fatting the core more is a good idea.

It would be great if some people interested in a11y could maintain that plugin repository with ownership.

Of c

[2022-07-22 14:11] jeddy3 commented on #6212
@mattxwang Thanks for pulling the bits together and creating the issue.

I think a plugin pack (like stylelint-accessible) is best. We shouldn't shy away from the plugin system. We created it for precisely this type of problem; i.e. volatile rules that:

- try to align to shifting best practices (introducing breaking changes to a plugin is far easier than to the built-in rules)
- may trigger false

[2022-07-22 14:19] jeddy3 commented on #6211
@mattxwang Thanks for pulling out this part of the discussion too.

As @thibaudcolas said, we already have an API for using the logic of another rule and there are existing issues to improve messaging. It'd be great to complete those issues as we should do what we can to enable plugin authors.

I haven't quite grokked what you mean by this. Can you expand on it, please?

[2022-07-22 14:38] jeddy3 commented on #6212
We should enable plugin authors by adding:

- built-in rules that enable enforcing best-practise on the plugin and/or configuration level (so long as they meet our [criteria for inclusion](https://stylelint.io/user-guide/rules/about)), e.g. `media-feature-name-unit-allowed-list`
- options to the built-in rules to improve the usefulness of the [`stylelint.utils.checkAgainstRule`](https://stylelint.

[2022-07-22 14:39] jeddy3 commented on #6186
Time got away from me the last couple of weeks. I should hopefully have more time next week for Stylelint, and hopefully to do a release.

[2022-07-22 16:30] mattxwang commented on #6212
Thanks @jeddy3 especially for the context around Stylelint - it's definitely something I lack for this project. A plugin pack + better support for APIs that plugin authors use (ex custom messaging) seems like a great option to me.

@thibaudcolas, perhaps we should reach out to @[ronilaukkarinen](https://github.com/ronilaukkarinen) and try to unify all of the plugins then? And perhaps we can point

[2022-07-22 18:51] Mouvedia commented on #6212
That seems really extreme to me.

[2022-07-25 14:27] snebjorn commented on #5766
I have a guess as to what is going on.

So the problem is that the function `rangeBy` isn't defined. It's being called here
https://github.com/stylelint/stylelint/blob/main/lib/utils/report.js#L17
[code]
And it looks like the `problem` parameter is coming from a callback that plugins are responsible for.

I got to that conclusion because `createPlugin` is setting up the callback.
https://github.co

[2022-07-25 14:52] ybiquitous commented on #5766
@snebjorn Thanks for the detailed comment. Yes, this error is due to using the outdated PostCSS version.

Since Stylelint 14.7.0 requires PostCSS 8.4.12 as below, I think this error never happens if there are no problems in dependency resolutions:

https://github.com/stylelint/stylelint/blob/91c36013d5b904471f2f32adb307431e13d283c6/package.json#L136

I recommend re-checking project dependencies an

[2022-07-25 15:27] richardcollinsDkIT opened #6217 "TypeError: [files].flat is not a function"
### What steps are needed to reproduce the bug?

Run linting inside a docker container using sh and a script.

Linting works fine locally i.e. outside of the docker container. The script runs other linting, using "ng lint".
We have no issues running multiple libraries using docker containers in our CI/CD pipeline.

### What Stylelint configuration is needed to reproduce the bug?

{
  "extends": ["

[2022-07-25 15:38] JounQin commented on #6217
Can you confirm which Node is being used first?

[2022-07-25 20:59] Mouvedia commented on #6217
i.e. it must be ≥11

[2022-07-25 22:58] JounQin commented on #6217
Can you add some debug info in your docker container to confirm that again?

[2022-07-26 00:16] ybiquitous commented on #5766
I believe the simplest way to resolve the error is to install the latest versions of Stylelint and PostCSS.

I'm not sure if Stylelint should do something to address this problem. I wish anyone would provide a minimal reproduction repository to make investigation easier (for some package managers if possible)... 😓

[2022-07-26 08:34] richardcollinsDkIT commented on #6217
Node version is node:10.20.1-alpine but tried with 14-alpine and 14.20-alpine and having same issue

[2022-07-26 09:57] JounQin commented on #6217
`node:10.20.1-alpine` is definely not supported, sorry.

Please provide a minimal but runnable reproduction next time, close for now.

If you provide the reproduction correctly, I'll reopen it, thanks for your understanding.

[2022-07-26 09:57] #6217 closed

[2022-07-26 23:40] thibaudcolas commented on #6212
Those are indeed extreme! I’d expect discussion and research about those rules to be commensurate with how drastic the rules are.

@mattxwang I @-mentioned him on the relevant threads on `stylelint-a11y`. I’d be up for a `stylelint-accessible` org or similar, and either transfer my WIP plugin, or start with a clone of `stylelint-a11y`, or start over completely.

It doesn’t seem like there is anoth

[2022-07-27 07:56] ronilaukkarinen commented on #6212
While I agree that accessibility should always be default, in CSS it's really hard to automate. Most of the accessibility is achieved only with real testing rather than automation. That being said, we simply cannot disable some rules like display: none; or small font sizes since they may be perfectly fine especially in the use cases where arias are used and/or JavaScript does the heavy lifting or

[2022-07-27 10:49] OTL-WOOSOL commented on #4182
How did you solve this problem? I'm going crazy.

[2022-07-27 10:56] JounQin commented on #4182
https://antfu.me/posts/why-reproductions-are-required

[2022-07-27 11:03] richardcollinsDkIT commented on #6217
Node version was the issue. Currently using node image cypress/base:14.15.0, which has fixed the problem

[2022-07-28 08:44] #4010 closed

[2022-07-28 16:38] ybiquitous opened #6234 "Fix inaccurate end positions when `postcss-resolve-nested-selector` is used in `selector-*`"
### What steps are needed to reproduce the bug?

Because the [`postcss-resolve-nested-selector`](https://github.com/davidtheclark/postcss-resolve-nested-selector) package returns just a list of strings and loses a raw source position, there are some cases that we cannot calculate Stylelint problems' end positions accurately.

### What Stylelint configuration is needed to reproduce the bug?

[code]

[2022-07-29 00:03] #6100 closed

[2022-07-29 07:24] xyy94813 commented on #6027
https://github.com/stylelint/stylelint/blob/f77a0091c3171f30b2fed69309f218ea7d98b3a3/lib/getPostcssResult.js#L90-L140

[2022-07-29 07:25] xyy94813 commented on #6027
It seem work well in yarn v3.2.2.

🤔️🤔️🤔️🤔️🤔️

[2022-07-29 08:39] JounQin commented on #6027
Add `public-hoist-pattern[]=*stylelint*` in your own `.npmrc` file like pnpm does for `*eslint*` by default.

See also https://pnpm.io/npmrc#public-hoist-pattern

Or you can PR to add `*stylelint*` into the default list instead.

[2022-07-29 08:39] #6027 closed

[2022-07-29 08:41] JounQin commented on #6027
`yarn` v3 has its own hack of module resolving.

[2022-07-29 12:49] snebjorn commented on #5766
I think I have part of the answer.

Stylelint it self have a dependency on

I have a project where I updated stylelint from an older version.

[2022-07-29 13:11] snebjorn commented on #5766
I think I have part of the answer.

Stylelint it self have a dependency on `@csstools/selector-specificity`

https://github.com/stylelint/stylelint/blob/0d2c6cd98192b48d2cd5c8b305154aadd63a8a22/package.json#L111

`@csstools/selector-specificity` have a dependency on `postcss@^8.2`

https://github.com/csstools/postcss-plugins/blob/cb7490ed905947e6877fa7261dce8990ea24166f/packages/selector-specifici

[2022-07-29 13:57] jeddy3 commented on #6234
Nor do I. I've labelled the issue as ready to implement in case any has any ideas.

[2022-07-29 14:31] jeddy3 commented on #6196
I'm wondering whether this is a good candidate for [a plugin](https://stylelint.io/developer-guide/plugins) as I'm not sure its "[generally useful; not tied to idiosyncratic patterns](https://stylelint.io/user-guide/rules/about/)" as I suspect most users are using tools for this type of performance optimisation (and those tools can be configured to inline reference assets based on size).

[2022-07-29 14:32] #6189 closed

[2022-07-29 14:44] ybiquitous commented on #6196
@jeddy3 Thanks for the comment. According to the criteria of the guideline, as you pointed out, I’m also not sure whether we should implement this new rule as a built-in rule.

[2022-07-29 15:00] ybiquitous commented on #5766
@snebjorn Thanks for your time! It doesn’t seem that just updating Stylelint always leads to updating PostCSS together. It may be necessary to update PostCSS via an extra command like [`npm update`](https://docs.npmjs.com/cli/v8/commands/npm-update).

Anyway, I look forward to your subsequent investigation.

[2022-07-29 17:34] hamfastgamgee opened #6236 "Document `selector-not-notation` possible specificity change"
### Describe the documentation issue

CSS Selectors 4 defines the specificity of the "complex" form of :not() as being the highest specificity of the selectors inside.  This differs from the "simple" form where multiple specifications are additive in nature.

For example, **a:not([href]):not([class])** has a specificity score of 0-2-1, while **a:not([href], [class])** has a specificity score of 0-

[2022-07-29 20:37] mattxwang commented on #6234
Is one solution contributing upstream / having the package return the raw source positions? The [actual library code](https://github.com/davidtheclark/postcss-resolve-nested-selector/blob/master/index.js) is only 25 lines/rather small, so hopefully adjusting it wouldn't be too tricky?

[2022-07-30 06:02] wangrongding opened #6237 "Why does stylelint.io crash immediately when I open it in Chrome?"
### Describe the documentation issue

Why does stylelint.io crash immediately when I open it in Chrome?

This does not happen when I open any website, only stylelint.io has this problem
I don't know if anyone is like me.

![image](https://user-images.githubusercontent.com/42437658/181877027-fca9d60e-7eb2-4ec8-900b-f99965a08463.png)

### What solution would you like to see?

Can open documents norm

[2022-07-30 06:21] wangrongding commented on #6237
https://raw.githubusercontent.com/wangrongding/image-house/master/img/202207301415758.mp4

I tried zooming in and out of the window and was able to reproduce the problem.

[2022-07-30 10:58] ybiquitous commented on #6234
Porting the code of `postcss-resolve-nested-selector` may be a solution. If doing so, it may be helpful for plugin authors to expose the ported code as a utility. See below:

https://github.com/stylelint/stylelint/blob/1c386a67c072a6fe44720ce00f056c67cd8655a2/docs/developer-guide/plugins.md?plain=1#L314

[2022-07-30 11:18] ybiquitous commented on #6234
If possible, I’d like to rely on a PostCSS plugin that implements nesting well because I think maintaining ported code may be too much for us.

For example, [postcss-nesting](https://github.com/csstools/postcss-plugins/tree/main/plugins/postcss-nesting) seems to work for the [CSS Nesting spec](https://drafts.csswg.org/css-nesting-1/). If need to support non-standard syntaxes like Sass (e.g. `&_foo

[2022-07-30 11:33] ybiquitous commented on #6236
@hamfastgamgee Thanks for reporting the issue and using the template. Your suggestion sounds good to me. 👍🏼

I've labeled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

Like the following `max-nesting-depth` doc, it seems reasonable to add a note to the first section of the [`selector-not-notation` doc](https://github.com/style

[2022-07-31 15:08] jeddy3 commented on #6196
Let's go with a plugin for now as it's much easier to port plugins to be built-in rules than the other way around. We can move it to core if it proves popular.

@richex-cn You'll find guidance on writing plugins in the [developer guide](https://stylelint.io/developer-guide/plugins).

[2022-07-31 15:08] #6196 closed

[2022-07-31 19:21] snebjorn commented on #5766
I found it!
The issue is with the custom syntax parsers. Here Stylelint is handing over control to PostCSS and it's using the correct 8.4.14 version. The parser in this case is `postcss-less`.

![image](https://user-images.githubusercontent.com/1266245/182040319-e119bec8-1f36-44b3-9f45-8db8cdfdac20.png)
https://github.com/stylelint/stylelint/blob/9edf55135742be55fda8fac07566edf9c16241ba/lib/getPos

[2022-07-31 21:32] JounQin commented on #5766
Thanks for your efforts first.

But I don't think it's acceptable for stylelint.

In details, stylelint is a singleton cli tool without any peer dependencies, changing postcss as peer would be a breaking change and changes a lot for end users.

[2022-07-31 21:34] ai commented on #5766
@snebjorn thanks for very deep invastigation.

We have a special tool to normalize AST in PostCSS https://github.com/postcss/postcss/blob/main/lib/container.js#L318-L331

Why is it not helped here?

[2022-07-31 21:36] ai commented on #5766
I created an issue to update PostCSS in `postcss-less` as a quick fix

[2022-08-01 11:34] snebjorn commented on #5766
Now that I understand the issue I was able to make a repo to reproduce the error.
As requested here's the error showing up using [NPM](https://github.com/snebjorn/styelint-no-rangeBy/tree/npm) and here for [Yarn](https://github.com/snebjorn/styelint-no-rangeBy/tree/yarn)

That's unfortunate. Though NPM will automatically install peer dependencies since NPM v7. So it should have little impact.
Howe

[2022-08-03 13:46] jeddy3 commented on #6186
Pull requests for configs prepared and needing a review:

- https://github.com/stylelint/stylelint-config-recommended/pull/170
- https://github.com/stylelint/stylelint-config-standard/pull/256

[2022-08-04 01:50] ybiquitous commented on #6186
@jeddy3 Thanks for creating the PRs for the shared configs. Reviews done!

[2022-08-04 14:24] fwraymond opened #6240 "color-function-notation does not flag typos in color notation"
### What steps are needed to reproduce the bug?

Run the rule against this css (note the missing / before 70%)

`.foo { background: rgb(67 67 67 70% );}`

### What Stylelint configuration is needed to reproduce the bug?

any config with color-function-notation enabled

### How did you run Stylelint?

stylelint --fix --allow-empty-input

### Which version of Stylelint are you using?

14.7.1

### Wh

[2022-08-04 16:16] ybiquitous commented on #5766
@snebjorn Thank you so much for taking the time for this problem investigation! 😊

Based on your investigation and reproduction repository, I could create PR #6241, but I'm not confident whether the PR is a good solution.

I believe the best solution is to use only one version of PostCSS and keep PostCSS up-to-date in a dependency tree for now.

[2022-08-04 16:30] JounQin commented on #5766
@ybiquitous Or can we add a warning for users instead on `postcss`'s side?

And as @ai said at https://github.com/stylelint/stylelint/issues/5766#issuecomment-1200504530

It may still need investigation actually, the current hack is the not propose solution IMO.

[2022-08-04 16:42] ybiquitous commented on #5766
@JounQin Thanks for the comment. To be honest, I don't know how to apply the way on <https://github.com/stylelint/stylelint/issues/5766#issuecomment-1200504530>... 😓

If PostCSS would provide a more elegant solution, I'm glad to adopt it.

[2022-08-04 16:49] JounQin commented on #5766
Me too. 😅

@ai Can you help to explain how's your commented codes related to `node.rangeBy`?

[2022-08-04 16:57] ai commented on #5766
Of course, but I am not sure where and what I should check before showing the warning

[2022-08-04 17:02] ybiquitous commented on #6240
@fwraymond Thanks for filing the issue and using the template. We can reproduce the problem on the [demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcIB0AzCEAEwMCMCGYA1gOYBOEArgHZTwanE4AUAbAOwbucdsAMApBgCUAbgC+AHSogANCADOATyoAXPAA8E4efNngIVFAEtiW4FIwYJIUhQA2Medbrmqly9ch2IpALQpqMBUjA18qCDVgg2crEABbaBhSKmsLDEkqMRAxIA).

Unfortunately, the [`color-function-notation`](https://stylelint.io/user-guide/rule

[2022-08-04 17:37] ybiquitous commented on #5766
@ai Stylelint uses [`LazyResult`](https://postcss.org/api/#lazyresult) to get parsing results. For example, when a user specifies `customSyntax: 'postcss-less'`, the `postcss-less` syntax object is passed to `new LazyResult()`. See below:

https://github.com/stylelint/stylelint/blob/e424be5eca77c5532b13147c4a7dad14085a4276/lib/getPostcssResult.js#L40-L47

https://github.com/stylelint/stylelint/blo

[2022-08-04 23:36] JounQin commented on #5766
@ybiquitous So the key problem is `postcss@8.3.5` which is called later does not have `node.rangeBy` right? Then it seems to be a breaking change between patches of versions from `postcss`?

[2022-08-05 00:39] ybiquitous commented on #5766
@JounQin Yes, right. The `rangeBy` method has been added with PostCSS 8.4.0. See the changelog:

https://github.com/postcss/postcss/blob/main/CHANGELOG.md#84-president-camio

[2022-08-05 08:34] snebjorn commented on #5766
I think monkey patching is a dangerous path to take. When looking through the code of Stylelint it's not obvious that a different PostCSS version might be used at runtime. It's just a matter of time before the next thing needs to be monkey patched, and so on.

If PostCSS can somehow guarantee that the `postcssProcessor` passed to it is the version used then all is well. Though I think that'll be a

[2022-08-05 09:01] JounQin commented on #5766
I agree with this part. But it seems we only have this issue for `node.rangeBy` and we do rely on this prototype method to work correctly. Another solution would be that we just copy the `rangeBy` method into `stylelint`, but this has the same situation as you said.

You know that it is not acceptable for `yarn` or `pnpm` or `npm < 7`.

[2022-08-05 22:16] ai commented on #5766
I have an idea, give me a weekend.

Here is a plan:

1. Patch `postcss-less` to use PostCSS 8.4
2. Add extra check for different AST version from parser to PostCSS core

[2022-08-05 22:57] JounQin commented on #5766
This will not work when a user has installed a older version of `postcss` which is the key issue here.

[2022-08-05 23:06] ai commented on #5766
Yes, at least user will need fresh PostCSS version.

Good part: in a few month most of users will update their dependencies.

Or at least, we can ask them to update `postcss` by smoe npm tools.

[2022-08-05 23:17] JounQin commented on #5766
@ai

postcss is a peer dependency from `postcss-less`, so upgrading `postcss` in `postcss-less` does not help.

By patching `postcss` in `stylelint`, the users only need to upgrade `stylelint`.

I think we don't need to waste time on it. Patching is the best choice IMO.

[2022-08-06 12:48] ai commented on #5766
@JounQin hm, we already have a special code in PostCSS to rebuild AST if parser return old version

https://github.com/postcss/postcss/blob/main/lib/lazy-result.js#L139-L142

Can you check why it was not called in this case?

[2022-08-06 14:47] JounQin commented on #5766
@ai I'm not so familiar with the source codes from `postcss`, and I don't quite understand where `node.rangeBy` will be normalized back? Can you point it more specifically?

[2022-08-06 14:59] ai commented on #5766
@JounQin `Container.rebuild` replaces prototype of every nodes object of AST. So even if parse returned old AST, `rebuild` will update it to me version.

[2022-08-06 15:14] JounQin commented on #5766
It's still unclear where `node.rangeBy` would be patched by `Container.rebuild()` to me. 😅

[2022-08-06 16:21] snebjorn commented on #5766
@JounQin The assignment of the rangeBy function is done here https://github.com/postcss/postcss/blob/main/lib/container.js#L415-L423 via [Object.setPrototypeOf()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf)

However the node that is throwing the error is of type `root` which the function doesn't handle.
[code]
The function is being called

[2022-08-06 18:25] ai commented on #5766
@snebjorn exactly! I added the fix https://github.com/postcss/postcss/commit/f289e173b07bfb72265692662db94e5c49e5f583

I released a fix in PostCSS 8.4.15. Can we try it?

[2022-08-06 18:55] snebjorn commented on #5766
Not sure where `Container.registerRoot` is getting called from. But I'm getting `Root` as `undefined` when I update the postcss version inside stylelint.

[code]

[2022-08-06 19:00] ai commented on #5766
@snebjorn sorry, can you try again with PostCSS 8.4.16?

It was a small typo and we have not tests for AST migration hack.

[2022-08-06 19:03] snebjorn commented on #5766
Gentlemen, we have a winner!

[code]

[2022-08-06 19:06] ai commented on #5766
Now let’s bump Stylelint with the latest PostCSS version and ask every user just to update `stylelint` in their `package.json`.

[2022-08-06 19:33] snebjorn commented on #5766
Thanks for the quick responses. It kept me motivated :)
It's been a pleasure!

[2022-08-07 08:36] ybiquitous commented on #5766
@snebjorn @JounQin @ai
I appreciate your work very much! 👏🏼

[2022-08-07 14:35] a-falkonia commented on #5997
@jeddy3 Hi, I'd love to work on the issue if this is still relevant.

[2022-08-07 14:56] Reda011 opened #6245 "Fix URL metadata for plugins"
### What steps are needed to reproduce the bug?

I  reproduced the question in many Plugins Libraries, such as `stylelint-z-index-value-constraint`、`stylelint-scss` and so on.

Next, take `stylelint-scss` as an example：

step1:
`npm i stylelint-scss` in my project;

step2:
creat an test file called `test.less`;

fill it with：(from `stylelint-scss/ selector-no-redundant-nesting-selector`'s testFile

[2022-08-08 00:09] ybiquitous commented on #6245
@Reda011 Thanks for opening the issue and using the template.

This behavior seems to be due to the mismatch between our doc and code on exporting rules.

The doc instructs using multiple `module.exports`,

https://github.com/stylelint/stylelint/blob/e424be5eca77c5532b13147c4a7dad14085a4276/docs/developer-guide/plugins.md?plain=1#L53-L55

but the built-in rules are using a single `module.exports`:

[2022-08-08 01:41] #5766 closed

[2022-08-08 02:31] Reda011 commented on #6245
I checked these Plugins' Libraries, but it doesn't work even using a single module.exports:

[stylelint-scss/selector-no-redundant-nesting-selector](https://github.com/stylelint-scss/stylelint-scss/blob/master/src/rules/selector-no-redundant-nesting-selector/index.js#L88-L90)

Is there any other possibility?

[2022-08-08 02:41] ybiquitous commented on #6245
@Reda011 Umm..., it seems the `stylelint-scss` plugin works 🤔
(`verbose` formatter can show a link to `meta.url`)

[code]

<img width="528" alt="image" src="https://user-images.githubusercontent.com/473530/183327448-139bb3c1-c8f5-497d-add1-66d95ed78ac5.png">

[2022-08-08 08:15] Reda011 commented on #6245
uh, I created a new project to test this, looks like it still doesn't work:

<img width="1277" alt="image" src="https://user-images.githubusercontent.com/21105303/183369984-0eb275da-2de2-4daa-afe5-1a3ae9f2f611.png">

Is it related to my environment?

[2022-08-08 08:23] ybiquitous commented on #6245
Maybe, some IDEs like VSCode may not support terminal links. See the code of the `verbose` formatter:

https://github.com/stylelint/stylelint/blob/0bd6976fea7fa2a07c47672de424194716d31164/lib/formatters/verboseFormatter.js#L138-L144

https://github.com/stylelint/stylelint/blob/0bd6976fea7fa2a07c47672de424194716d31164/lib/formatters/terminalLink.js#L8-L15

See also [Hyperlinks in Terminal Emulators

[2022-08-08 08:51] Reda011 commented on #6245
Look this, I got these messages without terminal command but automatic verification：

[block-no-empty](https://stylelint.docschina.org/user-guide/rules/block-no-empty/) is a rule, it worked;

[selector-no-redundant-nesting-selector](https://github.com/stylelint-scss/stylelint-scss/blob/master/src/rules/selector-no-redundant-nesting-selector/index.js) and [at-rule-no-unknown](https://github.com/sty

[2022-08-08 08:57] ybiquitous commented on #6245
I'm not sure, but it seems a problem with the VSCode extension... 🤔

https://github.com/stylelint/vscode-stylelint/blob/d38b5db38debc59e4a00fdb73716202b4b43e38b/src/utils/stylelint/warning-to-diagnostic.ts#L51

[2022-08-08 20:27] DreamShaded commented on #5766
hi! so users have to wait stylelint v14.9.2, yep?)

[2022-08-10 00:24] Mouvedia commented on #4808
The initial issue is covered by #5091.

[2022-08-10 01:14] ybiquitous commented on #4808
I agree with @Mouvedia.

If PR #6250 is merged, users will receive a more helpful message, and we've already provided the [doc for turning off a rule](https://stylelint.io/user-guide/configure/#rules). I think these are sufficient.

[2022-08-10 04:01] ybiquitous commented on #6186
@jeddy3 If you are busy, can I perform releasing instead of you?

[2022-08-10 08:13] jeddy3 commented on #6186
@ybiquitous Yes, I've been away for a few days. (It's been glorious weather here in the UK and I've been limiting my screen time 🌞).

Please do! I hope to be around to dip into any issues that crop up over the next few days.

[2022-08-10 08:29] ybiquitous commented on #6186
@jeddy3 OK. I'll release it today or tomorrow. Enjoy your vacation! 😎

If anything happens after the release, our outstanding contributors would help. 😄

[2022-08-10 11:15] jeddy3 commented on #5997
@a-falkonia Yes [it's still relevant](https://stylelint.io/demo#N4Igxg9gJgpiBcIAkAzATgQwLYwM7wAIAKAHRAgDsYyAaAsgFwHcJb6QGALNGakASgDcJCiIACMDGE4EkFbDAIBLCrPQLcBYCIIExAaxgBPdTk2mYAWgDEwOQoC+WnboIB6AFQEAwgGVfBAB0wQQebi4OIg4gNCC4RhQMGAAeCHFguLgx4JQoSgDmadqq7GgArgA2eGSExa7shiaYZpbyOJYADhgMDDBooggEANou9WQAekRDGJYAXgC603MADJYAnPMe-ESWS7OrGwDU-B5ItKOudfWuZGa4GPl8hGQAoskdMGC9UASNFgRtRQMCAEABGikMoIwoMsYAwuD

[2022-08-10 11:20] jeddy3 commented on #6240
As @ybiquitous said, you'll want to use a validator alongside (or inside Stylelint via the csstree validator plugin) for this. The [CSSTree validator will catch this](https://csstree.github.io/docs/validator.html).

[2022-08-10 11:20] #6240 closed

[2022-08-10 11:43] jeddy3 commented on #6245
We only recently added the capability for plugins to include optional metadata and none of the ones listed above uses it, including the stylelint-scss plugin pack.

However, I locally tested a plugin that does and I saw the same behaviour. We will need to look into this more, perhaps adding the fix suggested in https://github.com/stylelint/stylelint/issues/6245#issuecomment-1207515758.

[2022-08-10 14:40] johnnybenson opened #6252 "PostCSS 8.4.15+ Breaks Stylelint customSyntax resolution"
### What steps are needed to reproduce the bug?

Yarn 1.22.19 with Workspaces
PostCSS 8.4.15+
@stylelint/postcss-css-in-js for custom syntax

Upgrading PostCSS causes Stylelint to fail to resolve the plugin in a workspace.

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

yarn stylelint --config ./stylelint.config.js './src/**/*.tsx'

### Wh

[2022-08-10 14:45] JounQin commented on #6252
https://antfu.me/posts/why-reproductions-are-required

Feel free to create a new issue or comment here with minimal but runnable reproduction.

[2022-08-10 14:45] #6252 closed

[2022-08-10 15:20] Reda011 commented on #6245
@jeddy3 Ok, thanks!

[2022-08-11 02:19] ybiquitous commented on #6186
I'll start releasing from now and include #6250 in the new release.

[2022-08-11 02:20] #5091 closed

[2022-08-11 02:25] ybiquitous commented on #4808
I've closed PR #6250, so I've also completed this issue. Feel free to reopen it if anyone has objections.

[2022-08-11 03:53] ybiquitous commented on #6186
All releasing tasks are done! 🎉

Many, many thanks for all the help and contributions! 😊 🙌🏼

[2022-08-11 03:53] #6186 closed

[2022-08-11 03:58] JounQin opened #6253 "Use automation for a changelog and release management"
### Describe the documentation issue

With https://github.com/changesets/changesets/tree/main/packages/changelog-github, we'll have `thanks` mentions for contributors in our changelog and releases.

### What solution would you like to see?

Enable [`changesets`](https://github.com/changesets/changesets)

---

Alternative, manage `thanks` mentions manually.

[2022-08-11 07:18] jeddy3 commented on #6186
@ybiquitous Thank you so much for doing the release (and for all the effort you put into writing and reviewing pull requests and triaging issues!)

[2022-08-11 07:59] hudochenkov commented on #4808
@ybiquitous I think this issue is not about disabling rules, but documentation of configuration in general.

ESLint for every example [shows](https://eslint.org/docs/latest/rules/multiline-comment-style) full config value for a rule. Stylelint docs show only part of a value. See my comment above for an example. https://github.com/stylelint/stylelint/issues/4808#issuecomment-634998634

[2022-08-11 11:53] ConduciveMammal opened #6254 "Rule conflict for `grid-template-areas`"
### What steps are needed to reproduce the bug?

Create a multi-line `grid-template-areas` rule.

[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

Sorry about the full block, I'm a little unsure about any of them having an effect in this instance.

### How did you run Stylelint?

VSCode plugin and Node

### Which version of Stylelint are you using?

14.10.0

### Wh

[2022-08-11 13:52] ybiquitous commented on #4808
Ah, I misunderstood it. Thanks for letting me know, @hudochenkov!

[2022-08-11 14:03] Mouvedia commented on #4808
That would require to edit many more markdown file other than this one.
e.g. alpha-value-notation, selector-pseudo-class-no-unknown, at-rule-no-unknown, selector-type-no-unknown, media-feature-name-no-unknown, annotation-no-unknown, etc.

I don't think this is necessary or the priority should be very low.

[2022-08-11 14:15] Mouvedia commented on #3853
Is this about rolling back to the state before the last fix—and skip that error—if a new error has been detected or is it about introducing a new flag (e.g. `--maximum-run-per-file`)?
These two features are completely different.

CON of the first one: you have to fix the skipped errors manually
CON of the second: run speed will greatly diminish (running it again to verify no errors were introduced

[2022-08-12 00:36] ybiquitous commented on #6254
@ConduciveMammal Thanks for using the template.

I'm not sure which shared configs set [`declaration-colon-newline-after](https://stylelint.io/user-guide/rules/list/declaration-colon-newline-after)` and https://stylelint.io/user-guide/rules/list/declaration-colon-space-after, but [this demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcICGACYAdAdilBzATgJZQC0ALjALYAOANkhSUvjEgM7wpY47rgSYKgvtx58kYMoQF8A

[2022-08-12 15:59] ybiquitous commented on #6253
@JounQin Thanks for the proposal. I have some questions.

1. We have the following workflow already for updating the `CHANGELOG.md` file, but will your proposed tool replace with it?

https://github.com/stylelint/stylelint/blob/4772851c0a1745db03f149ac35a2de6fe375c369/docs/maintainer-guide/pull-requests.md?plain=1#L27-L32

2. Can we keep the existing CHANGELOG format with this tool? Because the fo

[2022-08-12 21:32] atomicrobokid opened #6256 "getUnitFromValueNode removed in v14 - no alternative documented"
### Describe the documentation issue

Hi,

I have recently moved from v13 to v14, and I had a custom stylelint rule that was checking the values of a particular selector.

It essentially did this:

`const unit = getUnitFromValueNode(node);`

However I can see in v14 `stylelint/lib/utils/getUnitFromValueNode` does not exist

### What solution would you like to see?

There docs that give a clear alt

[2022-08-12 21:36] JounQin commented on #6256
`stylelint/lib/utils/*` seems not a public API at all. Should we use `exports` field in `package.json` to forbid this usage on `v15`? cc @ybiquitous

[2022-08-12 22:00] ybiquitous commented on #6256
@atomicrobokid Thanks for using the template.

Unfortunately, we don't support using private implementation like `require ('stylelint/lib/utils/...')`. Generally, please use the exposed API of [`stylelint.utils.*`](https://stylelint.io/developer-guide/plugins#stylelintutils).

If there are many needs for an internal utility, we'll consider exposing it as a public API. But then, please open an issu

[2022-08-12 22:27] JounQin opened #6258 "Use `exports` field in `package.json` to forbid unexpected API usage"
`stylelint/lib/utils/*` seems not a public API at all. Should we use `exports` field in `package.json` to forbid this usage on `v15`? cc @ybiquitous

_Originally posted by @JounQin in https://github.com/stylelint/stylelint/issues/6256#issuecomment-1213537779_

[2022-08-12 22:32] JounQin commented on #6253
It will.

Sure, we can define our own changelog format while keeping previous history changelog unmodified.

We only need to merge a PR like https://github.com/un-ts/prettier/pull/213 for releasing.

[2022-08-12 22:41] ybiquitous commented on #6253
@JounQin Thanks for the answers. Sounds good to me. 👍🏼

[2022-08-13 14:40] ybiquitous commented on #6245
@Reda011 I've opened PR #6264 to fix the plugin document. I think the document is incorrect, not the code.

Maybe, the new doc way as below should work for your plugin: 👇🏼

https://github.com/stylelint/stylelint/blob/121a34f8e9990ecde7202b4b44a7b30309855169/docs/developer-guide/plugins.md?plain=1#L16-L55

[2022-08-13 15:01] ConduciveMammal commented on #6254
Hey @ybiquitous! Thanks very much for that, that seemed to do the trick

[2022-08-13 15:01] #6254 closed

[2022-08-13 15:17] fpetrakov commented on #5905
Hey, I really want to work on this new rule and I want to clarify some things beforehand. Correct me if I'm wrong.

1. This rule should check colors declared with `lch(), lab(), oklch(), oklab()`.
2. If declared color is out of sRGB range, we check if it's wrapped in `@media (color-gamut: p3) {}`.
3. If it's not wrapped a media query then we should throw warning.

[2022-08-13 16:30] atomicrobokid commented on #6256
@ybiquitous thanks that did the trick!

One final question while i've got you, i'm trying to report the error for both the value with the unit, but i'm only getting the error under the value itself:

My rule looks like:
<img width="385" alt="Screenshot 2022-08-13 at 17 26 50" src="https://user-images.githubusercontent.com/72664200/184502715-f99f0f03-1f24-40a3-9bba-cfcdb4121502.png">

But i only ge

[2022-08-13 17:59] jeddy3 commented on #6245
My bad. I was looking at a local version of stylelint-scss that was out of date. I hadn't realised @ybiquitous [added URL metadata to the SCSS plugin back in May](https://github.com/stylelint-scss/stylelint-scss/pull/602).

I tried this way, but still no success. It may just be a local issue for me.

Shall we transfer this issue to the VS Code extension repo? (although it's currently unmaintained)

[2022-08-13 21:57] hudochenkov commented on #6253
We need to consider quality of a changelog before adding any automated tool.

Changelog is one of the most important parts of documentation of any open source project. As I consumer of many open source packages, I've seen lots of changelogs. In my experience automated changelogs usually provide not enough information to the user. Or changelog items are confusing and only make sense to package deve

[2022-08-13 22:13] JounQin commented on #6253
@hudochenkov

changesets uses user defined changelog, not automated.

And its content can always be changed before releasing.

[2022-08-13 22:41] hudochenkov commented on #6253
@JounQin Do you want to add `changesets` only for thank you notes?

[2022-08-13 22:43] JounQin commented on #6253
Not at all, It's just a smallest feature of changesets, with changesets we're going maintain CHANGELOG and releasing much easier.

[2022-08-13 22:54] hudochenkov commented on #6253
Could you write down what do you want to use `changesets` for?

How it will change current [release flow](https://github.com/stylelint/stylelint/blob/4772851c0a1745db03f149ac35a2de6fe375c369/docs/maintainer-guide/releases.md?plain=1#L7-L17)?

It is important for us to understand everything before time is spent on setting up and configuring new tool.

[2022-08-13 23:24] JounQin commented on #6253
@hudochenkov OK, let me explain in details.

1. We'll need to install https://github.com/apps/changeset-bot
2. We'll need to add https://github.com/changesets/action like https://github.com/un-ts/prettier/blob/master/.github/workflows/release.yml
3. `changesets` will handle all CHANGELOG and release related tasks
4. For instance, a user or maintainer can add a changeset for CHANGELOG via `changese

[2022-08-14 06:25] ybiquitous commented on #6256
@atomicrobokid Do you mean you want to show an error position like this?

[code]

If so, the following code may help you; specifying not only `index` but also `endIndex` to `report()` ⬇️

https://github.com/stylelint/stylelint/blob/4772851c0a1745db03f149ac35a2de6fe375c369/lib/rules/declaration-property-value-allowed-list/index.js#L51-L61

[2022-08-14 06:35] #4410 closed

[2022-08-14 06:35] #5020 closed

[2022-08-14 07:08] ybiquitous commented on #6245
Sounds good. 👍🏼

I previously changed the VSCode extension to use the rule metadata (https://github.com/stylelint/vscode-stylelint/pull/375), but it might be insufficient.

[2022-08-14 11:58] jeddy3 commented on #6256
I think we can close this issue was resolved by https://github.com/stylelint/stylelint/issues/6256#issuecomment-1213549891

[2022-08-14 11:58] #6256 closed

[2022-08-14 12:18] hudochenkov commented on #6253
Thank you for an explanation!

It might be something interesting to explore. Since I didn't only few releases in the past, I would like to hear from people, who did the most releases: @jeddy3 and @ybiquitous.

[2022-08-14 12:28] atomicrobokid commented on #6256
Hmmm, no joy on that, still only highlights the number, checked my versions of `postcss-value-parser` and `stylelint` to make sure they're up to date and they are.

Even took the above code as a base for my rule, would you mind seeing if you can spot anything obvious in the code?
[https://gist.github.com/atomicrobokid/7e8fc4e714a28ae6ad81ef81e0c1ea38](https://gist.github.com/atomicrobokid/7e8fc4e7

[2022-08-15 00:44] ybiquitous commented on #6256
@atomicrobokid Can you confirm if `endLine` and `endColumn` are correctly output via the CLI command with the JSON formatter like this?

[code]

If you cannot see the incorrect end positions only with VSCode, it may be a problem of the VSCode extension (see https://github.com/stylelint/vscode-stylelint/issues/336).

[2022-08-15 07:16] atomicrobokid commented on #6256
Hi @ybiquitous - I can see `column` and `endColumn` are different values in terminal:

[code]

This is using Webstorm, and from what I can see this doesn't use a plugin, it uses the `node_modules` stylelint package

[2022-08-16 00:13] #6245 closed

[2022-08-16 01:03] ybiquitous commented on #6245
I've opened the issue stylelint/vscode-stylelint#415.

[2022-08-16 01:21] ybiquitous commented on #6253
@JounQin @hudochenkov Thanks for clearing the details!

It seems good to start at a minimum to evaluate the new workflow:

- Install https://github.com/apps/changeset-bot
- Add https://github.com/changesets/action

We can update `CHANGELOG.md` automatically via the two things above, right? Additionally, do we need to write a custom formatter to keep the existing `CHANGELOG.md` format?

If auto-upd

[2022-08-16 01:27] JounQin commented on #6253
@ybiquitous

Let's make it work! Feel free to notice me when the GitHub App ready, and then I'm going to raise a PR to enable it in our workflow.

[2022-08-16 17:17] atomicrobokid commented on #6256
So are we thinking from the above output that's an issue with, Stylelint, or my code itself @ybiquitous ??

[2022-08-16 18:24] jeddy3 commented on #6256
@atomicrobokid It looks like the JSON output is showing that your plugin is working correctly (as the `column` and `endColumn` values look correct). We only recently added end positions to Stylelint ([as of version `14.7.0`](https://stylelint.io/CHANGELOG#1470)), so the Webstorm integration may not support them yet. I suggest opening an issue in their issue tracker.

[2022-08-16 18:26] jeddy3 commented on #6245
@Reda011 Resolved in latest version of the VS Code extension: https://github.com/stylelint/vscode-stylelint/pull/416

[2022-08-16 18:38] #5997 closed

[2022-08-16 19:05] jeddy3 commented on #6253
There's no harm in evaluating a new workflow. Considering we need to be in the terminal for the stylelint-demo and stylelint.io updates anyway, it may prove troublesome to have a different means for releasing Stylelint (and I assume the official configs, and possible all the other packages in the Stylelint org?).

@ybiquitous If you're in favour of evaluating of this workflow then I'm happy to giv

[2022-08-17 00:27] ybiquitous commented on #5694
I've completed all the tasks! 🎉
If we miss something else, let's create another issue or pull request!

@jeddy3 @mattxwang @Mouvedia
Thank you so much for writing or reviewing the code! 😊

[2022-08-17 00:27] #5694 closed

[2022-08-17 00:39] IanVS commented on #5694
Legendary effort y'all!  I'm really looking forward to this, it's a huge improvement.  Thanks a ton.

[2022-08-17 00:46] mattxwang commented on #5694
Great work wrapping this up @ybiquitous! Apologies for not being more of a help - work really has picked up recently 😓

@adalinesimonian, what else can we do to help support vscode-stylelint here? I recall a couple of comments about other work to enable error reporting similar to what ESLint provides, but I can't seem to find it now - is it [providing edit info per warning](https://github.com/styl

[2022-08-17 00:55] ybiquitous commented on #6253
@jeddy3 Thanks for the feedback. First, I'll try only the changelog automation. Then, if it doesn't fit, let's revert it.

@JounQin I've installed [changeset-bot](https://github.com/apps/changeset-bot). Could you please open a pull request if you have time?

[2022-08-17 01:11] JounQin commented on #6253
@ybiquitous I'll raise a PR ASAP.

[2022-08-17 02:09] Reda011 commented on #6245
Ok, I'll try it, thanks.

[2022-08-17 07:30] Reda011 commented on #6245
I updated stylelint's version to 14.10.0, and it worked in my custom plugins library.

Thank you(@ybiquitous @jeddy3 ).

[2022-08-17 08:46] atomicrobokid commented on #6256
Perfect @jeddy3 thank you for the response. I've raised it with them so i'll report back if they have any questions or they resolve the issue.

Thank you all again :)

[2022-08-17 11:25] crystalfp opened #6277 "function-comma-space-after flags multi-line attibute"
### What steps are needed to reproduce the bug?

I have the following formatted as stylelint asks for multi-line property:
[code]
the remaining error is: `Expected single space after ","  function-comma-space-after` that I cannot silence with the `function-comma-space-after: always` rule. This rule is needed and not set to `never` because in single line functions I want a space after the comma lik

[2022-08-17 13:51] Mouvedia commented on #5694
@ybiquitous FYI here's a list of the rules that were missing from the OP:

- `annotation-no-unknown`
- `keyframe-block-no-duplicate-selectors`
- `import-notation`
- `keyframe-selector-notation`
- `declaration-property-max-values`
- `no-irregular-whitespace`
- `unicode-bom`

I dunno if these rules were ignored on purpose though.

[2022-08-17 14:22] ybiquitous commented on #5694
@Mouvedia Thanks for finding what I missed! When I re-check them, the following rules need to be addressed:

- `no-irregular-whitespace`
- `declaration-property-max-values`

I think the other rules have been fixed already. 🤔

[2022-08-17 14:40] ybiquitous commented on #5694
I've opened the follow-up PR #6278.

[2022-08-17 14:51] ybiquitous commented on #6277
@crystalfp Thanks for using the template. We can reproduce the errors in the [demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcIB0AXAlgGxgZwLQYEMBPCAVxVwHMALCbCsQ7bAAmAB0A7FlgIwLABrSgCcynKPC48eGNJxgERVEQShoYnFAAppMnigh8IKQwFsANHv0jKvbQAYLLAIwB2ACzOATAFZfAJQsDgCkVtz6LLb2Ls4evs4AnIEsAMy+YdYy0dqxLPFJKQBsGeGRUXaOzu5eLH4pLg6hWQEA3FwAvlwgFiDYRFoEAB4I4Mw94BCcAGZolKMcEewgIqRY2MvwbFnL06ScYOhTuJBmZgS42AAOAjC4

[2022-08-17 14:51] #6277 closed

[2022-08-18 06:19] jeddy3 commented on #5905
Available as plugin: https://www.npmjs.com/package/stylelint-gamut

[2022-08-18 06:19] #5905 closed

[2022-08-18 06:39] jeddy3 commented on #3853
The latter. Although, it's less of an issue these days now that we're moving away from stylistic rules as the rules that avoid errors and enforce convention tend not to introduce new violations.

[2022-08-18 07:18] ybiquitous opened #6280 "Release 14.11.0"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

We've fixed some bugs and documents ([changelog](https://github.com/stylelint/stylelint/blob/main/CHANGELOG.md)). I can run releasing this weekend.

[2022-08-18 09:35] #5792 closed

[2022-08-18 09:38] ybiquitous commented on #6280
Since PR #6275 has been merged, I've changed `14.0.1` to `14.1.0`.

[2022-08-18 09:41] ybiquitous commented on #6280
I wish to include the changelog automation (#6274) if possible.

[2022-08-18 09:43] ota-meshi commented on #6280
Did you intend `v14.11.0`? The current latest is `v14.10.0`.
https://www.npmjs.com/package/stylelint/v/latest

[2022-08-18 09:46] ybiquitous commented on #6280
Thanks. I seem to be a bit tired. 😅

[2022-08-18 09:56] jeddy3 commented on #6280
Yes, let's get that in to trial.

[2022-08-18 10:06] Mouvedia commented on #3853
- indentation
  - value-list-comma-newline-after
  - function-comma-newline-after
  - declaration-colon-newline-after
  - declaration-block-semicolon-newline-after
  - block-opening-brace-newline-after
  - block-closing-brace-newline-after
  - selector-list-comma-newline-after
  - media-query-list-comma-newline-after
  - at-rule-name-newline-after
  - at-rule-semicolon-newline-after

 Are all the

[2022-08-19 07:14] yairEO commented on #2255
I also want to disallow top-level SASS selectors which are starting with `&`

[code]

SASS

[2022-08-20 10:19] fpetrakov commented on #5586
Hi, can you please explain what method should we make public to use swc css parser? I know a little bit of rust and I'm interested in the idea of using faster language for developing web tools. Also I have some knowledge of stylelint internals so maybe I can have a try on creating AST converter.

[2022-08-20 18:55] fpetrakov commented on #5586
There is also the parcel's css parcer written in rust

[2022-08-21 00:57] Mouvedia commented on #2255
@yairEO sounds like a job for https://github.com/stylelint-scss/stylelint-scss

[2022-08-21 01:29] Mouvedia opened #6286 "Add max-selectors"
### What is the problem you're trying to solve?

limit the number of selectors allowed per file
i.e. IE ≥9 had a 4095 hard limit

see https://github.com/BlessCSS/bless

### What solution would you like to see?

error out if it reaches the limit

* Name: `max-selectors` or `max-selectors-per-file`
* Primary option: `int`
* Secondary options: none
* Message: TBD
* Description: TBD
* Section: "Limit

[2022-08-21 02:43] ybiquitous commented on #6286
@Mouvedia Thanks for the proposal.

Umm... According to the [guideline for built-in rules](https://stylelint.io/user-guide/rules/about), I don't think the proposed rule is "generally useful; not tied to idiosyncratic patterns". 🤔

Without depending on specific environments like IE9, is there a case reasonable to add the new rule?

[2022-08-21 03:12] ybiquitous commented on #6280
I'll work on it today or tomorrow.

[2022-08-21 03:27] ybiquitous commented on #6253
Since there are some problems found in PR #6282, let's try the new workflow in the next iteration (after [14.11.0](https://github.com/stylelint/stylelint/issues/6280))!

[2022-08-21 07:13] fpetrakov opened #6291 "Refactor to use `isAtRule` typeguard util"
There many places in rules where instead of using existing util `isAtRule` we use `if (node.type === 'atrule')`. I suggest replace all `node.type === 'atrule'` with `isAtRule` because it makes code more readable and consistent.

[2022-08-21 07:20] yairEO commented on #2255
@Mouvedia -
No all CSS pre-processors are SASS. Also, the `&` is coming to native CSS. This is more of top-level selector `regex` thing than SASS-specific

[2022-08-21 10:54] Mouvedia commented on #6286
Chrome and Safari were also affected :
- 4096: https://bugs.chromium.org/p/chromium/issues/detail?id=312913
- 4096 to 65536: https://trac.webkit.org/changeset/228677/webkit/releases/WebKitGTK/webkit-2.20/Source/WebCore/css/RuleSet.h

[2022-08-21 11:48] jeddy3 commented on #2255
@yairEO Please open a new [feature request issue](https://github.com/stylelint/stylelint/issues/new?assignees=&labels=&template=REQUEST_A_FEATURE.yml) so that we can discuss.

[2022-08-21 11:54] jeddy3 commented on #6280
I've reviewed the draft pull requested.

[2022-08-21 11:56] #6291 closed

[2022-08-21 12:02] jeddy3 commented on #6286
@Mouvedia Thanks for the suggestion. Considering this hasn't been requested before I think we can assume it's not a limitation that the majority of our users have bumped into. However, we can leave the issue open to see if it garners any thumbs up. In the meantime, you can [write a plugin](https://stylelint.io/developer-guide/plugins). It'll be easy to port the plugin to be a built-in rule later d

[2022-08-21 13:08] ybiquitous commented on #6280
@jeddy3 Thank you so much! I'll release the new versions from now.

[2022-08-21 13:28] ybiquitous commented on #6280
Published! 🎉

- https://www.npmjs.com/package/stylelint
- https://github.com/stylelint/stylelint/releases/tag/14.11.0

[2022-08-21 13:52] ybiquitous commented on #6280
Published! 🎉

- https://www.npmjs.com/package/stylelint-config-standard
- https://github.com/stylelint/stylelint-config-standard/releases/tag/28.0.0

[2022-08-21 14:22] ybiquitous commented on #6280
The [website](https://stylelint.io/) has been updated, and a tweet has been posted! 🎉

I appreciate all the help, cooperation, and contribution! 😊 ❤️

[2022-08-21 14:22] #6280 closed

[2022-08-21 14:31] jeddy3 commented on #6280
@ybiquitous Huge thank you for doing all the release preparation and the release itself! ❤️

[2022-08-21 17:17] fpetrakov opened #6293 "Translation / article on creating new stylelint rules"
Hi there, what do you think about me writing an article / translation of your [guide for developing rules](https://stylelint.io/developer-guide/rules/) in russian? Will it be okay if then I publish it on my website? I think It will also include some details of how stylelint works internally, what is AST and etc. This way I can encourage more developers to contribute to stylelint and open source in

[2022-08-21 17:44] jeddy3 commented on #6293
You're more than welcome to write an article about developing Stylelint rules/plugins in Russian (or whatever language you like), and publish it on your website. It may be helpful to date your article so that people can work out how up-to-date the information in your article is. (A few years ago, someone translated many of the articles in [the guides](https://stylelint.io/#guides) into Chinese, bu

[2022-08-21 17:44] #6293 closed

[2022-08-21 18:36] yairEO opened #6294 "Add `ignore: ["inside-block"]` to selector-disallowed-list"
## What is the problem you're trying to solve?
I also want to disallow top-level selectors which are starting with `&` **because that's invalid CSS code**

[code]

(common to `SASS` precompiler language but is not restricted to it)

## What solution would you like to see?
either top-level flexible regex rule or an explicit rule for anything starting specifically with `&`

[2022-08-22 16:10] vijayhardaha commented on #1693
Do we have any solution to this? I am using the Stylelint VS code extension, my `.stylelintignore` is to ignore the folders that I want to be ignored. I am using extension version `1.2.3`

[2022-08-22 18:10] fpetrakov opened #6297 "Add contributors to release note"
Hi, I suggest adding 'Contributors' section to release note. I think this way more people will not only become but also stay as contributors to Stylelint. It's just a nice and a kind of warm feeling to see own nickname and profile picture in release note of the project.

![image](https://user-images.githubusercontent.com/34133492/185988856-01d384cb-7fe0-4c9f-9d2a-156a585129d1.png)

[2022-08-22 18:58] Mouvedia commented on #6119
I disagree. There are many cases where a value is ignored because it's not supported and it default to the last valid—in that browser—value. Hence it's very common to have the same property duplicated 2 or 3 times but with different values to cater for the different browsers. A fix that removes these would actually break many websites.
The fix needs to adapt to the different secondary options.

[2022-08-22 23:16] JounQin commented on #6297
It will be implemented in next iteration, we have some issues for inconsistent output for now, it will be fixed in next few days..

[2022-08-22 23:18] JounQin commented on #6297
Besides, @jeddy3 @ybiquitous Shall we enable "discussions" for such questions instead of issues?

[2022-08-22 23:47] ybiquitous commented on #6297
This issue sounds like a duplicate of #6253.

Yes, of course. Please see also the [Managing issues](https://stylelint.io/maintainer-guide/issues).

[2022-08-23 07:33] gaurav5430 commented on #6212
What is the current understanding on this, is there a way to use these rules from stylelint core already or should we be using the individual (possibly unmaintained) libraries for now ?

[2022-08-23 09:45] JounQin opened #6298 "maintenance: enable `packageManager` with `corepack`"
### What is the problem you're trying to solve?

I often use `yarn` in most projects, `stylelint` repository seems to want `npm` (`package-lock.json`). And then I other run `yarn` to install dependencies incorrectly.

Enabling `packageManager` with `corepack` would help.

### What solution would you like to see?

- enable `packageManager` with `corepack`
- remove `package-lock.json` from git, so t

[2022-08-23 10:06] ybiquitous commented on #6298
@JounQin Thanks for the interesting suggestion.

The [Node.js doc says](https://nodejs.org/api/corepack.html):

But can we stably use the tool?

---

We have discussed the necessity of `package-lock.json` many times in the past:

- #3895
- #4341

It seems to me that `package-lock.json` is still needed for stability on CI.

[2022-08-23 10:07] jeddy3 commented on #6297
@fpetrakov Thanks for the suggestion.

Issues and StackOverflow are working well for us, including [choosing a template](https://github.com/stylelint/stylelint/issues/new/choose). These types of questions are rare and could easily fall under the [request a new feature template](https://github.com/stylelint/stylelint/issues/new?assignees=&labels=&template=REQUEST_A_FEATURE.yml). I don't think it ma

[2022-08-23 10:07] #6297 closed

[2022-08-23 10:10] ybiquitous commented on #6297
Oh, I completely misunderstood it. Sorry for any confusion.

[2022-08-23 10:32] JounQin commented on #6298
It is `experimental`, but we can try it and feedback, that's purpose of `experimental`, right? A lot of node features like `native ESM`, `experimental-loader`, etc. are experimental previously and for now. But it will literally grow up.

And I'm personally always using this experimental feature for a long time, it is very comfortable experience IMO.

No `package-lock.json` helps us to guarantee `s

[2022-08-23 16:45] openmindculture opened #6300 "Stylelint: typeError: [configExtends].flat is not a function in the IDE (while stylelint works fine on the CLI)"
### What steps are needed to reproduce the bug?

Create a project in WebStorm / PHPStorm,
install Stylelint, stylelint-config-recommended,
add rules as described in the configuration plugin documentation,
open a .css file in the IDE.

### What Stylelint configuration is needed to reproduce the bug?

{
  "extends": "stylelint-config-recommended",
  "rules": {
    "alpha-value-notation": null,
    "

[2022-08-24 00:49] ybiquitous commented on #6300
@openmindculture Thanks for using the template and providing the details.

It seems older Node.js runtimes like v10 cause the error because [`Array.prototype.flat()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flat) has been added on Node.js v11.
(FYI, [Stylelint v14.0.0](https://github.com/stylelint/stylelint/releases/tag/14.0.0) has dropped the support

[2022-08-24 04:22] #6119 closed

[2022-08-24 06:32] openmindculture commented on #6300
Thanks for your reply! My node version is 16.10.0, both in my regular console, and in the terminal integrated in PHPStorm.
I should file a but at JetBrains YouTrack as it seems to be a PHPStorm problem then.

[2022-08-24 14:15] jeddy3 commented on #6300
Yes, if the issue isn't reproducible with the CLI it's likely a problem with the integration.

[2022-08-24 14:15] #6300 closed

[2022-08-24 14:34] jeddy3 commented on #6212
Probably https://github.com/stylelint/stylelint/issues/6212#issuecomment-1192616384 & https://github.com/stylelint/stylelint/issues/6212#issuecomment-1192621791

i.e., it's best that interested parties create an `stylelint-accessible` organisation where they can discuss and implement these rules within a plugin pack as they are likely to have false positives (unlike all the built-in rules). A plug

[2022-08-24 17:21] mattxwang commented on #6212
Yup, agreed with @jeddy3's summary! Apologies for not driving more of this conversation, ended up having less "free time" in the internship to work on Stylelint than I thought 😓 .

It seems like @thibaudcolas knows quite a few of the people in the intersection of Stylelint users and accessibility plugin developers / consumers, so maybe in conjunction with him we'll try to make an organization and

[2022-08-24 17:21] #6212 closed

[2022-08-24 17:23] jeddy3 commented on #6212
Yes, please. It'd be useful in its own right but also as a rule that the accessible plugin could use.

[2022-08-25 12:30] bennypowers opened #6303 "Package subpath plugins"
### What is the problem you're trying to solve?

Hello!

So I have a package called `@rhds/tokens`, which has a bunch of stuff in it, including:
- a `main` module that exports some js unrelated to stylelint at `./js/tokens.cjs`
- a stylelint plugin module at `./plugins/stylelint.cjs`

I don't want to mark the stylelint plugin as the `main` module, because its not, but I'd like users to be able to

[2022-08-26 00:26] ybiquitous commented on #6303
@bennypowers Thanks for the interesting suggestion.

Is this suggested feature related to [Community Conditions Definitions](https://github.com/nodejs/node/blob/HEAD/doc/api/packages.md#community-conditions-definitions) in the Node.js documentation?

[2022-08-26 00:40] ybiquitous opened #6304 "Fix false positives for container queries in `*-no-unknown`"
### What is the problem you're trying to solve?

CSS Container Queries will be shipped on Chrome 105 soon. See [Can I use](https://caniuse.com/css-container-query-units):

<img width="1340" alt="image" src="https://user-images.githubusercontent.com/473530/186792292-da88abb2-71fe-41a6-9006-1598b829fca0.png">

However, the `at-rule-no-unknown` rule doesn't support the new at-rule `@container` from t

[2022-08-26 05:45] bennypowers commented on #6303
Yes!

[2022-08-26 06:06] ybiquitous commented on #6303
If using the [`--conditions`](https://nodejs.org/api/cli.html#-ccondition---conditionscondition) flag with the `node` command, is `exports.stylelint` available for now?

[2022-08-26 08:33] bennypowers commented on #6303
i've used my own custom conditions in the past, and some tools like esbuild support them

[2022-08-27 06:02] fpetrakov commented on #6304
LGTM🗿

[2022-08-28 15:38] kawaguchi1102 commented on #4751
Hi @mattxwang .

Are you working on this issue ?
If not, I am ready to do this .

[2022-08-28 23:14] mattxwang commented on #4751
Ah - @kawaguchi1102, someone else ended up handling the end positions so I had not. Going to unassign myself, feel free to take this on!

[2022-08-29 13:52] ybiquitous opened #6311 "Remove Node.js 12 support"
Node.js 12 [reached End-of-Life on April 2022](https://github.com/nodejs/Release/#end-of-life-releases), and libraries removing the support have increased, e.g. Jest 29 (see #6308).

It seems reasonable that the next major version of Stylelint also would remove older Node.js versions.

[2022-08-29 15:04] kawaguchi1102 commented on #4751
@mattxwang
Thanks for the advice!

It seems that the problem has not been resolved even in the latest version.
So I will work on this issue.

[2022-08-30 07:47] jasalt commented on #3627
I was looking for this feature and found this open issue, however according to https://stylelint.io/user-guide/ignore-code/ you can add an `ignoreFiles` property within your configuration object, which in case of `package.json` looks like this and which works:

[code]

Is this issue relevant anymore at this point, or did I get something wrong?

[2022-08-30 12:58] ybiquitous commented on #6303
Currently, Stylelint imports a plugin module here:

https://github.com/stylelint/stylelint/blob/0967b9c3650812be83ae4c4dddb00e3958e4826d/lib/augmentConfig.js#L325

If we implement the feature, is it necessary to change the code above?

Also, do we need to add a CLI flag like `--conditions=stylelint` to the following shebang?
(`--conditions` seems experimental, though)

https://github.com/stylelint

[2022-08-30 14:29] ybiquitous commented on #4117
I've created PR #6312 as a PoC.

[2022-08-30 22:49] ericghpham opened #6313 "Add no-at-import or prefer-at-use"
### What is the problem you're trying to solve?

https://sass-lang.com/documentation/at-rules/import

The Sass team discourages the continued use of the `@import` rule. Sass will [gradually phase it out](https://github.com/sass/sass/blob/master/accepted/module-system.md#timeline) over the next few years, and eventually remove it from the language entirely. Prefer the [@use rule](https://sass-lang.

[2022-08-31 00:58] ybiquitous commented on #6313
@ericghpham Thanks for using the template.

A rule you suggest is related to the [`stylelint-scss`](https://github.com/stylelint-scss/stylelint-scss) plugin and should not be included in the Stylelint built-in rules, according to the [rule criteria](https://stylelint.io/user-guide/rules/about/).

Please consider opening a feature request issue to the `stylelint-scss` repository instead.

By the wa

[2022-08-31 00:58] #6313 closed

[2022-08-31 13:02] openmindculture commented on #6300
Follow-up issue at JetBrains YouTrack: https://youtrack.jetbrains.com/issue/WI-68577/Stylelint-typeError-configExtendsflat-is-not-a-function

[2022-09-01 22:17] AlexWayfer opened #6314 "Wrong position of `string-quotes` offenses with code comments"
### What steps are needed to reproduce the bug?

[code]

(with `//` the same offenses)

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

CLI or Atom Editor plugin.

### Which version of Stylelint are you using?

`14.11.0`

### What did you expect to happen?

No offenses about quotes inside comment.

### What actually happened?

[code]

![ima

[2022-09-01 22:20] AlexWayfer commented on #6314
Oh, I got it: it just calculates the wrong position (via CLI too):

![image](https://user-images.githubusercontent.com/6510020/188022748-928ee710-5cc5-49db-bfe9-44651929c85d.png)

[2022-09-01 22:28] Mouvedia commented on #6311
https://github.com/microsoft/TypeScript/wiki/Node-Target-Mapping#node-14
https://github.com/stylelint/stylelint/blob/main/.github/workflows/testing.yml#L29
[yaml upgrade](https://github.com/stylelint/stylelint/issues/6101#issuecomment-1140465191)

[2022-09-02 01:00] ybiquitous commented on #6314
@AlexWayfer Thanks for using the template and providing the details. We can reproduce the behavior on the [demo](https://stylelint.io/demo#N4Igxg9gJgpiBcIACBbAlgDzQOwAQGcUBDAGxIFojspySiAnAcxnJhJhRmwBd8AKADrYB3APQAqISIAK9CACMi8kgE9cACxj0YBdRACuJKLnk78ETt3U5GuEmgDWOgAYASOkxgB9Nhy7cvSB4iHC1nABopbgAzCHpcGAwiFAAHdnDcWPiAYTBIFHkIXBwU-W47Rx0rNHx4KPVubhTa0VFGNG46eQA6Zkb6KnwUuO5u-NF8DpgJqdFOTy9tAEd9GHxeUQA

[2022-09-02 01:00] #6314 closed

[2022-09-02 10:30] AlexWayfer commented on #6314
I don't want a formatter, I like linters, so it's not an alternative. OK, I'm gonna to disable the rule, thanks.

[2022-09-02 14:11] ybiquitous commented on #6304
I would like to move this issue "ready to implement" if there are no objections.

Please consider [contributing](https://stylelint.io/contributing) if you have time.

[2022-09-02 14:14] ybiquitous commented on #6304
FYI, Firefox seems to be in the process of [implementing CSS container queries](https://bugzilla.mozilla.org/show_bug.cgi?id=1744221).

[2022-09-02 14:22] ybiquitous commented on #6294
I've closed this issue because of not using the issue template. Please provide more details like background, reason, use cases, etc.

[2022-09-02 18:47] yairEO commented on #6294
@ybiquitous -edited. Please re-open to whoever is in charge here can save potentially millions of developers from a junior-coders catastrophic code-bombing such as described above.

[2022-09-03 09:35] ybiquitous commented on #6294
@yairEO Thanks for using the template. I understand your motivation.

Your request seems to be satisfied by validators like the [`stylelint-csstree-validator`](https://github.com/csstree/stylelint-validator) plugin, the direct use of [CSSTree](https://github.com/csstree/csstree), or Sass compiler, but is it correct?

[CSSTree](https://csstree.github.io/docs/validator.html):

<img width="713" alt="

[2022-09-03 10:47] #6304 closed

[2022-09-03 14:33] jeddy3 commented on #6294
This is an interesting one.

According to [the latest draft spec](https://drafts.csswg.org/css-nesting/#nest-selector) `&.foo {}` is a valid CSS:

I think the CSSTree validator is currently flagging it as doesn't parse nesting outright yet, e.g.:

<img width="275" alt="Screenshot 2022-09-03 at 15 14 23" src="https://user-images.githubusercontent.com/808227/188274391-120abf58-5431-4271-8720-a4782ce

[2022-09-03 14:56] jeddy3 commented on #3627
Thanks for pointing that out. Closing.

[2022-09-03 14:56] #3627 closed

[2022-09-03 19:57] yairEO commented on #6294
The spec will be implemented in new browser, while many of today's projects need to support older browsers, of probably 2+ years old, and in that case, even if the spec says something, it's irrelevant for those mentioned projects since that CSS results a bug, which a rule should prevent.

[2022-09-04 05:48] jeddy3 commented on #6214
@dumplingbao Thanks for the request and for using the template.

This is related to [custom syntaxes](https://stylelint.io/user-guide/usage/options#customsyntax) (in particular,  [postcss-html](https://github.com/ota-meshi/postcss-html)), rather than Stylelint itself.

I suggest opening an issue in the [postcss-html tracker](https://github.com/ota-meshi/postcss-html) to see if they can support dif

[2022-09-04 05:48] #6214 closed

[2022-09-04 06:02] jeddy3 commented on #6294
@yairEO I've labelled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

There are [steps on how to add a new option](https://stylelint.io/developer-guide/rules#add-an-option-to-a-rule) in the Developer guide.

[2022-09-04 07:19] yairEO commented on #6294
This is how you can do it in React. I think its better I will add some option to disable it, for an easier way

https://codesandbox.io/s/tagify-1114-disable-the-automatic-filtering-in-whitelist-6ekx7w?file=/src/index.js:982-1042

[2022-09-05 07:13] mattmanuel90 commented on #6294
@yairEO

Glad I found this. I was about to create this issue. Happy for you to raise the PR. Otherwise, I can do it if you don't mind as we'd like this fix for a different use case.

Ours is to disallow root level classes used in our UI lib, to be used at our application codebase to avoid global styling override issues.

The solution just involves disallowing selectors with a parent.type !== 'root

[2022-09-05 10:17] jeddy3 commented on #6294
That's correct. It'd just be the case of returning early if the `ignore: ["inside-block"]` option is set and the `ruleNode.parent.type !== 'root'` condition is true.

@mattmanuel90 as @yairEO hasn't indicated they're working on it, you're welcome to create a pull request yourself.

[2022-09-05 12:29] ybiquitous commented on #6311
@jeddy3 What can we include other changes with the next major release than dropping the Node.js 12 support? Have we discussed it?

[2022-09-05 18:56] yairEO commented on #6294
I'm a single person, not "they"..  I don't have the time capacity as I already am the author of dozens of open-source projects and have a fulltime job and also need to find the time watching funny cats YouTubes while eating watermelons and thus more busy than Elon Must

[2022-09-06 06:31] qwekelly commented on #6160
I have the same problem, is there a solution?

[2022-09-06 09:48] calebepaglioza opened #6324 "Specific file not capturing linting"
### What steps are needed to reproduce the bug?

Hello,

This looks like a very specific issue I've been experiencing where just one specific CSS file (apparently) out of a whole repo doesn't capture stylelint alerts in VS Code.

**First issue (my be related to the second)**
1. Run `npx stylelint path/to/file/src/style_1.css` or `stylelint path/to/file/src/style_1.css`
2. Get this output on VS Cod

[2022-09-06 12:29] ybiquitous commented on #6324
@calebepaglioza Thanks for using the template. Can you please provide a minimal reproduction repository so that we can look into the problem?

Also, can you reproduce it on the command-line, or only on VSCode?

[2022-09-06 12:36] bartoszmaka opened #6325 "Incorrect autofix for Sass indented mixins"
### What steps are needed to reproduce the bug?

1. Run stylelint on file containing mixin.
2. The mixin line is gone

Sample file:
[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

`yarn stylelint 'assets/stylesheets/*.sass' --fix --custom-syntax`

### Which version of Stylelint are you using?

`^14.11.0`

### What did you expect to

[2022-09-06 12:44] calebepaglioza commented on #6324
Hi @ybiquitous, thank you for responding.

Please, let me know if the screenshot below is enough to reproduce the error (I can't provide any zipped repo since it's too sensitive):
![image](https://user-images.githubusercontent.com/6879705/188636805-46cc5c15-141f-4f1f-9198-b9ec0ef5329a.png)

I can reproduce the same error on both the command-line and VSCode.

Also it might be good to know that I'm

[2022-09-06 13:15] ybiquitous commented on #6324
I'm afraid that I cannot reproduce the error. Can you reproduce and share it in your personal and public repository, including minimum dependencies and source files?

[2022-09-06 14:17] ybiquitous commented on #6325
@bartoszmaka Thanks for opening the issue and using the template.

We can reproduce the bug in the following minimal example:

`package.json`:

[code]

`test.sass`:

[code]

Run:

[code]

Output:

[code]

---

I'm not sure about a cause, but perhaps `postcss-sass` may be related.

I've labeled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you

[2022-09-06 14:28] ybiquitous commented on #6325
As I said, it seems to be a `postcss-sass` problem. There is a similar report on the `postcss-sass` repo: https://github.com/AleshaOleg/postcss-sass/issues/175

[2022-09-06 14:55] ybiquitous commented on #6325
Unfortunately, [`postcss-sass`](https://github.com/AleshaOleg/postcss-sass) and [`gonzales-pe`](https://github.com/tonyganch/gonzales-pe) internally used by `postcss-sass` seems not to be actively maintained. 😓

[2022-09-06 19:53] rehberbey opened #6329 "function-no-unknown property not working"
### What steps are needed to reproduce the bug?

Stylelint showed me an error when I opened the SCSS/CSS file and pressed any key.

### What Stylelint configuration is needed to reproduce the bug?

[code]
**I just activated the main rule and tried the CSS, and still got the error.**

### How did you run Stylelint?

I am using the VSCode extension.

### Which version of Stylelint are you using?

`1

[2022-09-06 20:08] jeddy3 commented on #6311
We haven't discussed it yet.

It's been a year since our last major release, so I think it's fine if we want to do another one.

Off the top of my head I can think of these other breaking changes:

- https://github.com/stylelint/stylelint/issues/5291 - Will dropping Node.js 12 support make this more viable?
- https://github.com/stylelint/stylelint/issues/3408 - The above will probably need to invo

[2022-09-06 20:14] #6325 closed

[2022-09-06 20:18] jeddy3 commented on #6329
@rehberbey Thanks for the report.

Can the issue be reproduced using the CLI?

[2022-09-06 20:39] Mouvedia commented on #6311
If you don't have a drop-in npm package ready to replace these rules, their removal shouldn't be part of the release.

[2022-09-06 20:47] rehberbey commented on #6329
@jeddy3 I didn't think to use the cli as I am using the [stylelint](https://marketplace.visualstudio.com/items?itemName=stylelint.vscode-stylelint) extension. So I don't know the answer to your question.

[2022-09-07 00:36] ybiquitous commented on #5523
I believe we've rewritten all the examples. If there is what we missed, please let us know or open a pull request.

[2022-09-07 00:36] #5523 closed

[2022-09-07 04:22] ybiquitous commented on #6311
@jeddy3 @Mouvedia Thanks for the feedback.

I agree with the following idea:

So I think it's ideal for shipping both dropping Node.js 12 and adding ESM support in the same version.  And, it doesn't seem there is a reason we need to hurry to drop Node.js 12 (as I know); it looks good timing that we revisit ESM support.

We've already declared the following statement about the stylistic rules:

htt

[2022-09-07 04:24] ybiquitous commented on #5291
Ref: ["Dual CommonJS/ES module packages" on the Node.js documentation](https://nodejs.org/api/packages.html#dual-commonjses-module-packages)

[2022-09-07 09:23] mintuz opened #6330 "Is it possible to prevent implicit shorthand overrides"
### What is the problem you're trying to solve?

Is it possible to create a rule that guards against the [anti-pattern described here](https://csswizardry.com/2016/12/css-shorthand-syntax-considered-an-anti-pattern/) by Harry Roberts

## Simple Example

[code]

## Exception

[code]

### What solution would you like to see?

I'm not sure if a solution is possible, I just want to open up a discussio

[2022-09-07 09:43] jeddy3 commented on #6329
You'll need to open an issue in the [extension issue tracker](https://github.com/stylelint/vscode-stylelint/issues/new?assignees=&labels=Bug&template=bug.yml&title=%5BBug%5D%3A+) rather than here as their tracker gathers more information related to the extension.

[2022-09-07 09:43] #6329 closed

[2022-09-07 10:02] jeddy3 commented on #6330
@mintuz Thanks for the clearly written request and for using the template.

We generally create rules that allow users to enforce practices at the configuration level as these can shift over time.

You may be able to disallow the patterns in that article using the combination of:

- [property-disallowed-list](https://stylelint.io/user-guide/rules/list/property-disallowed-list)
- [declaration-prope

[2022-09-07 12:44] Mouvedia commented on #6311
This is off-topic but Id say you would still need a plugin that cover all the other deprecated rules.
Even if it's just a copy-paste of the current stylelint rules without an appointed maintainer, it's better than dropping them and having ppl stuck on an old version.

[2022-09-07 16:49] ayushnix opened #6331 "stylelint 14.11.0 doesn't print any output"
### What steps are needed to reproduce the bug?

1. Install `stylelint` either from the [official repositories of Arch Linux](https://archlinux.org/packages/community/any/stylelint/) or from yarn using `yarn add -D stylelint`
2. Try to lint a file using either `stylelint --config /usr/lib/node_modules/stylelint-config-standard/index.js -f src/print.css` or using the version installed using yarn by

[2022-09-07 17:24] mattxwang commented on #6311
Dropping Node 12 + switching to ESM in lockstep seems good to me as well! There is the knock-on effect of this helping out vscode-stylelint as well!

What's the best way I can help out here? I definitely have less experience than most of the core maintainers with the codebase/ecosystem, but I can definitely do lots of bite-sized changes (especially if they're somewhat tedious)!

[2022-09-08 00:10] ybiquitous commented on #6331
@ayushnix Thanks for using the template. Probably, this problem is not related to Stylelint itself but to the Arch Linux package.

If you cannot reproduce the problem by using `npm install stylelint` or `yarn add stylelint`, I recommend reporting it not here but in the Arch Linux package issue tracker.

[2022-09-08 09:40] Yaswanth820 commented on #4585
Hey @jeddy3. I would like to work on this issue. Can I get started?

[2022-09-08 11:23] ayushnix commented on #6331
I've mentioned in the bug report that I'm facing the same issue using `stylelint` installed using `yarn add -D stylelint`.

[2022-09-08 11:30] JounQin commented on #6331
Can that be reproduced without Arch Linix?

[2022-09-08 13:32] ayushnix commented on #6331
It looks like I was using stylelint CLI incorrectly (`-f src/print.css`).

Sorry for the noise.

[2022-09-09 06:24] #4751 closed

[2022-09-09 06:27] jeddy3 commented on #4585
@Yaswanth820 That'd be great, thank you.

[2022-09-09 06:48] jeddy3 commented on #6311
I agree. The two dependencies requiring Node.js 14+ are dev ones. We can drop support for Node.js 12 at our leisure (unless a non-dev dependency puts out a Node.js 14+ release that addresses a security flaw).

This is an opportunity to revisit ESM support. So, the most helpful thing to do is to continue the investigation in https://github.com/stylelint/stylelint/issues/5291 to determine whether us

[2022-09-09 15:27] JounQin commented on #5766
@ismay No, only postcss needs to be upgraded.

[2022-09-09 22:52] JounQin commented on #5766
@ismay I mean it's not required to upgrade to v14, you only need to upgrade the postcss dep on your side.

[2022-09-10 12:57] kimulaco commented on #4154
@jeddy3 Hi. I would like to work on this issue and create a PR.

[2022-09-10 17:38] jeddy3 commented on #4154
@kimulaco Thank you for offering to contribute. You're welcome to create a PR to fix the bug in the `font-family-name-quotes` rule.

[2022-09-11 18:27] #4154 closed

[2022-09-12 10:43] jeddy3 opened #6342 "Deprecate stylistic rules"
We should deprecate that [stylistic rules](https://stylelint.io/user-guide/rules/list#stylistic-issues) that [we froze a year ago](https://github.com/stylelint/stylelint/issues/5674).

Even though deprecating is a non-breaking change, we should do this as part of a major release so that we can communicate this significant change in direction.

We'd release a new version of our [standard config](ht

[2022-09-12 10:53] jeddy3 opened #6343 "Release 14.12.0"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

We've got a [few things to release](https://github.com/stylelint/stylelint/pull/6301/files#diff-06572a96a58dc510037d5efa622f9bec8519bc1beab13c9f251e97e657a9d4ed).

Let's do a release after the following two are m

[2022-09-12 11:56] cordis-dev opened #6344 "Fix `no-duplicate-selectors` hang for leading namespace char"
### What steps are needed to reproduce the bug?

Run stylelint for:

[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

`"%ProgramFiles%\nodejs\node.exe" "%AppData%\npm\node_modules\stylelint\bin\stylelint.js" test.css`

### Which version of Stylelint are you using?

`14.11.0`

### What did you expect to happen?

Expected process to ex

[2022-09-12 13:18] #4117 closed

[2022-09-12 13:24] ybiquitous commented on #6342
@jeddy3 Thanks for opening the issue. I agree with the deprecation included in a major release. 👍🏼

[2022-09-12 13:45] ybiquitous commented on #6344
@cordis-dev Thanks for opening the issue and using the template.

I can reproduce the bug via the following code:

[code]

Here is the related code:

https://github.com/stylelint/stylelint/blob/dd04517bd17690e7ebb835df229d63923bdee633/lib/rules/no-duplicate-selectors/index.js#L170

It seems to be a problem with `postcss-selector-parser`, but I'm not sure now.

[2022-09-12 13:48] ybiquitous commented on #6344
Perhaps the same problem as https://github.com/postcss/postcss-selector-parser/issues/266

[2022-09-12 13:54] jeddy3 commented on #6344
@ybiquitous Thanks for the investigation. It does look to be caused by that bug in the selector parser.

@cordis-dev Thanks for the report. The maintainer of the selector parser package has welcomed to pull request to fix the issue. Please consider contributing if you have time.

[2022-09-12 14:22] kimulaco commented on #4680
I would like to work on this issue.
I will work to support the following command.

[code]

[2022-09-12 23:49] ybiquitous commented on #6311
FYI, npm@9 seems to drop Node.js 12 support. See https://github.com/npm/cli/releases/tag/v9.0.0-pre.0

[2022-09-13 11:29] #6294 closed

[2022-09-13 13:59] FloEdelmann commented on #3158
@hiroppy Sorry for the ping in this old issue, but given you've already written the code for the autofix, would you fancy opening a PR?

I think @jeddy3's comment is already resolved (#3855 was closed by #6005). I don't know if that requires changes in your code though.

[2022-09-14 01:19] ybiquitous commented on #3158
@FloEdelmann Thanks for the reminder. I'm going to work on this. 💪🏼

[2022-09-14 07:48] #4680 closed

[2022-09-14 07:50] jeddy3 commented on #6343
The above issues are now merged.

I'm away until the weekend. Happy to release then unless someone fancies releasing sometime over the next couple of days.

[2022-09-14 16:05] kimulaco opened #6346 "Fix incorrect URL hashes in documents"
### Describe the documentation issue

If the document's URL hash is camel case, the scroll position does not match.
Because the Docusaurus is to convert the id from camel case to lower case.

**Example:**
The "More info" hash in the [Command Line Interface (CLI)](https://stylelint.io/user-guide/usage/cli) is a camel case.
https://github.com/stylelint/stylelint/blob/main/docs/user-guide/usage/cli.m

[2022-09-15 00:58] ybiquitous commented on #6346
@kimulaco Thanks for the report.

I think the following suggestion is better:

because the markdown documents can also be read on GitHub.com or in other ways. I think it preferable to follow the standard Markdown syntax as possible.

I've labeled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

[2022-09-15 01:10] ybiquitous commented on #6346
By the way, I wonder [`remark-lint` doesn't seem to support a rule](https://github.com/remarkjs/remark-lint#rules) what we want here. I wish to check by [`@stylelint/remark-preset`](https://github.com/stylelint/remark-preset) if possible.

[2022-09-15 13:18] kimulaco commented on #6346
I agree to this reason. Sure, it is better not to depend on tools.
I will send a PR of fix the hash to lower case.

[2022-09-15 23:52] #6346 closed

[2022-09-17 16:12] kimulaco commented on #2908
I would like to work on this issue.

[2022-09-18 08:47] #3158 closed

[2022-09-18 17:31] jeddy3 commented on #6343
Done 🎉

Thanks to everyone who contributed to this release, including triaging issues and reviewing pull requests.

[2022-09-18 17:31] #6343 closed

[2022-09-18 17:36] jeddy3 commented on #6343
I manually tweaked the order of the changelog items before release. It was easy to do and I think changesets for generating the first version of the changelog is useful.

The avatars of the contributors isn't showing up [in our release](https://github.com/stylelint/stylelint/releases/tag/14.12.0) ([should be like this](https://github.com/postcss/postcss/releases/tag/8.4.14)). Does anyone have any

[2022-09-18 23:34] ybiquitous commented on #6343
@jeddy3 Thank you for taking your time for the releasing tasks! ❤️

It seems we need to use just mentions instead of links on GitHub Releases like this:

[code]

We can manually edit a release description after copying and pasting from `CHANGELOG.md`, but it's a bit of a pain (we also need to keep links on `CHANGELOG.md` still). I don't have a good idea. 😓

[2022-09-18 23:38] ybiquitous commented on #6253
[14.12.0](https://github.com/stylelint/stylelint/releases/tag/14.12.0) is the first version using the changelog generation! We evaluate that it is easier to update the changelog than before.

But, we encounter a small problem with GitHub Releases. For details, see https://github.com/stylelint/stylelint/issues/6343#issuecomment-1250353973

[2022-09-19 00:35] JounQin commented on #6343
There is a "Generate release notes" button when publishing a new release on GitHub web UI.

I think it could be a GitHub product problem?

[2022-09-19 13:54] stof opened #6353 "Tyep declarations shipped in 14.12.0 are invalid"
### What steps are needed to reproduce the bug?

Write a custom rule importing stylelint
Run the typechecker on that file (which will import the stylelint types).
This will report an error in the stylelint type

### What Stylelint configuration is needed to reproduce the bug?

n/a

### How did you run Stylelint?

n/a

### Which version of Stylelint are you using?

14.12.0

### What did you expect

[2022-09-20 00:15] ybiquitous commented on #6343
I think @jeddy3 probably just copied and pasted the changelog entries as the maintainer guide says:

https://github.com/stylelint/stylelint/blob/6edbbdfb16229161143c94bb2ae4a10aba6fb07e/docs/maintainer-guide/releases.md?plain=1#L15

Maybe not, but I wish GitHub supports both formats. 😅

[2022-09-20 08:46] kiwenlau commented on #3259
fix "Unexpected unknown pseudo-class selector ":global" (selector-pseudo-class-no-unknown)" by：

[code]

[2022-09-20 12:32] #6353 closed

[2022-09-20 12:47] ybiquitous opened #6355 "Release 14.12.1"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

I'll release [a few patches](https://github.com/stylelint/stylelint/pull/6352/files#diff-06572a96a58dc510037d5efa622f9bec8519bc1beab13c9f251e97e657a9d4ed) since v14.12.0 in a few days.

[2022-09-20 13:58] jitendravyas commented on #4930
Was anything created for email?

[2022-09-21 11:58] ybiquitous commented on #6355
I'll start the release now.

[2022-09-21 12:44] ybiquitous commented on #6355
Done 🎉

Thanks to everyone who contributed to this release, including submitting and reviewing pull requests.

[2022-09-21 12:44] #6355 closed

[2022-09-21 20:40] jeddy3 commented on #6355
@ybiquitous Thank you for doing the release!

[2022-09-26 07:25] Laffery opened #6360 "Can rule function-no-unknown support to recognize function such as fade that defined in non-standard synctax ?"
### What steps are needed to reproduce the bug?

In fact, creating any simple project which uses `less` can easily reproduce this problem.

for example

[code]

create a `src/test.less` with style as follows: (function `fade` is defined in less, rather than CSS)

[code]

then run stylelint CLI

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

[2022-09-26 07:46] JounQin commented on #6360
https://github.com/stylelint/stylelint/blob/main/lib/rules/function-no-unknown/README.md#optional-secondary-options

You can already do this with the second options `ignoreFunctions`.

[2022-09-26 08:59] jeddy3 commented on #6360
@Laffery Thanks for the report.

From the [rule's README](https://stylelint.io/user-guide/rules/list/function-no-unknown):

Stylelint and the built-in rules are geared towards standard CSS syntax as non-standard language extensions come and go. For example, the Less community doesn't appear to be very active these days and only a few Stylelint plugins have been written for it. You're also welcome

[2022-09-26 08:59] #6360 closed

[2022-09-26 16:08] jeddy3 opened #6361 "Add `no-unknown-custom-properties`"
### What is the problem you're trying to solve?

I'd like to disallow unknown custom properties. For example:

[code]

### What solution would you like to see?

A new rule to catch this. It's currently [available as a plugin](https://github.com/csstools/stylelint-value-no-unknown-custom-properties) but it [meets our criteria](https://stylelint.io/user-guide/rules/about) to be a built-in rule.

Pri

[2022-09-26 16:12] jeddy3 commented on #5385
Closing [as fixed](https://stylelint.io/demo#N4Igxg9gJgpiBcICGACYAdAdilBnAnrgC4wC28KAxAGa0DcWOmMA5kkQJYBuMFN9jFAAcATjGocAHn1rUG2PAFdaUmQIUikmFryqz5OIUihq5g6kgA2lgEZIwAa1MG8+UjYiXczwcagdOHgBaAndPbz11HFwhGCQHIKQI-jNMAF8sEAAaEAJMIiRJBHBcXGzwCEwJFmKMBXQQEUVLGFwGijqcHAatTAgCzkqgvqDFTAc+gHdMdpQiJpgswW7kIiCmluGIUfGpmYQ5haWFFZtLCEctoLIhInxZ+cVF5ZQGyHORK45MLisOKCCAAsYJIHkcXm8IKRSDB8lcbncwU9jl1XuBFMQoUFRBBY

[2022-09-26 16:12] #5385 closed

[2022-09-26 16:45] jeddy3 opened #6362 "Add no-unknown-custom-media"
### What is the problem you're trying to solve?

I'd like to disallow unknown custom media queries. For example:

[code]

### What solution would you like to see?

A new rule to catch this. Like https://github.com/stylelint/stylelint/issues/6361, it's currently [available as a plugin](https://github.com/csstools/stylelint-media-use-custom-media) but it [(perhaps) meets our criteria](https://stylel

[2022-09-26 16:46] jeddy3 commented on #6324
Closing as stale. Feel free to reopen with a reproducible repo.

[2022-09-26 16:46] #6324 closed

[2022-09-26 16:47] jeddy3 commented on #6160
Closing as stale. Anyone is welcome to reopen with a minimal reproducible example or repo, though.

[2022-09-26 21:48] u01jmg3 opened #6363 "Issue with `at-rule-semicolon-space-before:never` when no semicolon in use"
### What steps are needed to reproduce the bug?

1.

[code]

2.

[code]

[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

CLI with `stylelint test.scss`

### Which version of Stylelint are you using?

`14.12.1`

### What did you expect to happen?

There should be no output from Stylelint as no semicolons are in use.

### What actuall

[2022-09-27 01:19] ybiquitous commented on #6361
@jeddy3 Thanks for the proposal. I see it as very interesting, and it seems that this feature should be so valuable for many people.

However, as we mentioned many times, how to resolve other files is stuff to be discussed well. It would be good if we could have a PoC that should be the basis of the discussion.

By the way, is `importForm` a typo of [`importFrom`](https://github.com/csstools/style

[2022-09-27 01:24] ybiquitous commented on #6361
We may implement such a resolving mechanism as an experimental feature by borrowing code from the [existing plugin](https://github.com/csstools/stylelint-value-no-unknown-custom-properties).

[2022-09-27 08:52] u01jmg3 commented on #6363
Maybe @CAYdenberg knows as the original author?

[2022-09-27 12:47] jeddy3 commented on #6363
@u01jmg3 Thanks for the clearly written report and for using the template.

We've [frozen the stylistic rules](https://stylelint.io/user-guide/rules/list#stylistic-issues). We now recommend using a pretty printer alongside Stylelint, such as Prettier. Alternatively, if you wish to continue using Stylelint for stylistic stuff (rather than for only [avoiding errors](https://stylelint.io/user-guide/r

[2022-09-27 12:47] #6363 closed

[2022-09-27 15:59] CAYdenberg commented on #6363
I don't remember writing this code, but it seems pretty clear this is a bug, no? (even if this rule isn't something Stylelint _should_ still have, this is clearly wrong). I can take a look later today.

[2022-09-27 17:29] jeddy3 commented on #6361
Oops, yes it is.

That sounds like a sensible approach. And I agree we can flag as experimental for now.

I suggest we start by only supporting `.css` imports, i.e. `importFrom` accepts an array of paths to CSS files. Other features like a `resolver` and supporting other files types, e.g. `.html` and `.scss`, can happen later down the line. The latter would likely involve custom syntaxes like we d

[2022-09-27 17:35] jeddy3 commented on #4088
This feature would benefit these two existing rules:

- [`custom-property-no-missing-var-function`](https://stylelint.io/user-guide/rules/list/custom-property-no-missing-var-function)
- [`no-unknown-animations`](https://stylelint.io/user-guide/rules/list/no-unknown-animations)

And these two proposed rules:

- https://github.com/stylelint/stylelint/issues/6361
- https://github.com/stylelint/stylel

[2022-09-27 17:37] #2908 closed

[2022-09-27 17:39] jeddy3 opened #6365 "Release 14.13.0"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

It'd be good to release when https://github.com/stylelint/stylelint/pull/6357 lands so that we push out the cache fix and feature together.

[2022-09-27 20:49] jathak opened #6366 "Fix `selector-pseudo-element-no-unknown` false positives for `::highlight`"
### What steps are needed to reproduce the bug?

Code like

[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

[Online Demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcD4AsCWBzZAbDyAuAFAIYCUABMADoB2ZZARkWANboBOEArtVALSRYIbeGXYwY1ANw0AviAA0IAM4BPaniIAPBOCVKF4CNQBmGHVVplKINpywwl1kRbp1rSmPbB4hvAA4enFAQvJ4wALYSeLzUIdzMsQDu1E5keLYwNHQysiAyQA)

[2022-09-27 23:51] ybiquitous commented on #6361
I agree with the idea.

Indeed, there may be a helpful case if `defaultImportFrom` is supported. But I'm not sure whether it is necessary for the first step. If it is easy to implement `defaultImportFrom` and `importFrom` simultaneously, I agree with adding both.

[2022-09-28 00:19] ybiquitous commented on #6362
@jeddy3 Thanks for the proposal. The new rule sounds good to me. 👍🏼

I agree with creating two rules; one is `no-unknown-custom-media` (avoiding errors), while another would be something like `custom-media-***` (enforcing conventions). Although, it seems unclear whether the latter rule would be needed now.

[2022-09-28 00:33] ybiquitous commented on #6366
@jathak Thanks for providing the precise reproduction. I've copied and pasted an "Online Demo" link in this issue description. Also, thank you for creating a quick-fix PR. I'll soon review it.

[2022-09-28 07:16] #6170 closed

[2022-09-28 07:19] #6366 closed

[2022-09-28 07:29] jeddy3 commented on #6361
I agree.

I'll label this as ready to implement.

- Name: `no-unknown-custom-properties`
- Primary option: `true`
- Secondary options: `importFrom: []` - array of glob paths to `.css` files
- Autofixable: No
- Message: - `Unexpected unknown custom property`
- Description: "Disallow unknown custom properties."
- Extended description: "This rule considers custom properties defined within the same so

[2022-09-28 07:31] jeddy3 commented on #6365
Now that https://github.com/stylelint/stylelint/pull/6357 is merged, I'll release later today.

[2022-09-28 07:39] jeddy3 commented on #6362
SGTM.

- Name: `no-unknown-custom-media`
- Primary option: `true`
- Secondary options: `importFrom: []` - array of glob paths to `.css` files
- Autofixable: No
- Message: - `Unexpected unknown custom media`
- Description: "Disallow unknown custom media queries."
- Extended description: "This rule considers custom media queries defined within the same source to be known. You can use the `importFrom

[2022-09-28 08:04] ybiquitous commented on #6253
It seems we can now evaluate the new changelog automation workflow. What do you think?

If no objections, we should update the following parts in the maintainer guide:

https://github.com/stylelint/stylelint/blob/e3421aa7d9465f2f5272191d2036b0fd44d14145/docs/maintainer-guide/pull-requests.md?plain=1#L27-L32

https://github.com/stylelint/stylelint/blob/e3421aa7d9465f2f5272191d2036b0fd44d14145/docs/

[2022-09-28 10:30] silverwind opened #6368 "Add rules to enforce custom properties for types"
### What is the problem you're trying to solve?

I would like a rule that allows colors only within custom properties, e.g. any color use outside a custom property should raise an error. This ensures that all colors are overridable via custom properties which enables color theming.

### What solution would you like to see?

A new rule `color-require-custom-property`.

Fail:
[code]

Pass:
[code]

M

[2022-09-28 10:45] jeddy3 commented on #6365
Done 🎉

Thank you to everyone who contributed to this release.

[2022-09-28 10:45] #6365 closed

[2022-09-28 11:18] jeddy3 commented on #6368
@silverwind Thanks for the request and for using the template.

You can use the [`stylelint-declaration-strict-value`](https://github.com/AndyOGo/stylelint-declaration-strict-value) plugin to do this. It has [limitations around shorthand properties](https://github.com/AndyOGo/stylelint-declaration-strict-value#css-shorthand-syntax), though.

The [`<color>` type is used in lots of places](https://c

[2022-09-28 13:03] ybiquitous commented on #6365
@jeddy3 Thanks a lot for your releasing work! 👏🏼

[2022-09-28 14:38] #6253 closed

[2022-09-28 15:32] JounQin commented on #6253
@jeddy3

Do we want `changesets` to replace `np` for releasing further on CI? The downside may be mess due to permission of merge/release. Or maybe we just keep it as-is.

[2022-09-28 16:06] ybiquitous commented on #6253
@JounQin Please let me ask a few questions.

1. If we publish on CI, will the following 3 to 5 steps no longer be needed?
   https://github.com/stylelint/stylelint/blob/eee9deb35190f46c5f964769d521fef5d7d1d7a8/docs/maintainer-guide/releases.md?plain=1#L13-L15
2. Will changes for the releasing workflow be as follows? (`npm run release` should run `changeset publish`, and we should generate a new np

[2022-09-28 20:35] CurrrBell opened #6372 "Fix `value-no-vendor-prefix` false positives for `-webkit-box`"
### What is the problem you're trying to solve?

I recently applied a fairly straightforward stylelint config to a legacy project and found that several instances of `display: -webkit-box;` got changed to `display: box;`, as I would expect with the `value-no-vendor-prefix` rule enabled.

However, to my surprise not only is there not an equivalent non-prefixed `display` value available, `display: -

[2022-09-28 23:34] JounQin commented on #6253
@ybiquitous

1. Yes, all will be done on CI automatically
2. Yes
3. It will push tag, publish npm version and generate GitHub release (But the release content could be different with our format)

[2022-09-29 00:17] ybiquitous commented on #6253
@JounQin Thanks for the answer.

Regarding this, it seems possible to prevent generating a GitHub release via the [`createGithubReleases: false` option of `changesets/action`](https://github.com/changesets/action#inputs).

It sounds good to me to publish on CI for easier workflow, but perhaps it may be tough to recover if a publishing CI job would fail. As of now, we don't have a problem with cont

[2022-09-29 00:54] ybiquitous commented on #6372
@CurrrBell Thanks for using the template.

This issue seems related to not only [`value-no-vendor-prefix`](https://stylelint.io/user-guide/rules/list/value-no-vendor-prefix) but also [`property-no-vendor-prefix`](https://stylelint.io/user-guide/rules/list/property-no-vendor-prefix) because the `-webkit-line-clamp` property has also been standardized for legacy compatibility.

I'm concerned that gi

[2022-09-29 06:29] ybiquitous opened #6373 "Fix `unit-no-unknown` false positives for font-relative length units"
### What steps are needed to reproduce the bug?

For example, the CSS code using the `ic` unit:

[code]

We can reproduce the bug on the [demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcICGACYKDuBLKAXAFvCgIwAMWYA3CgL4A6AdiADQgDOAng7kgB4Lg2bFuAgMAZlgDmA4IxQo6IAE4BXADYw2SonIYKFS1Qyy4AtAwhnjAa0sYGOlLjUx5tRjRA0gA).

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did y

[2022-09-29 06:53] JounQin commented on #6253
Glad to hear

I'm not sure to understand this part, if the CI job fails, we can just retry it and when the npm version is not published, `changesets` will still recognize it and try to release again

Sure, I also don't have a strong opinion on this neither, it just could be a bit redundant to have two release tools while `changesets` can handle it alone.

[2022-09-29 07:01] ybiquitous commented on #6253
I'm worried about a situation where tagging is successful but publishing is failed. In such a case, it seems harder to recover than manually releasing. Although, it should be rare.

[2022-09-29 07:08] JounQin commented on #6253
The order is releasing npm version first, then tag and GitHub release, so I don't think the case would be possible. And also, create/delete a tag/release on GitHub UI is very easy.

[2022-09-29 07:10] ybiquitous commented on #6253
@JounQin Thanks for the explanation. I understand well. 👍🏼

I'd like to hear @jeddy3's idea.

[2022-09-29 07:38] jeddy3 commented on #6372
If they're been standardized for legacy compatibility then we should probably fix the behaviour of the rules so that they're not flagged as problematic.

[2022-09-29 07:55] jeddy3 commented on #6253
I think we should keep it as-is as:

- during a release, we're in the terminal anyway to perform other updates (e.g. to the website and demo)
- our other npm package repos use `np`

[2022-09-29 08:07] ybiquitous commented on #6253
That makes sense. I have no objections. 👍🏼

[2022-09-29 08:10] #6373 closed

[2022-09-29 08:31] ybiquitous commented on #6372
I see. The next problem seems to be how to change the default behavior:

- change the default value of `ignoreValues` as proposed
- or, ignore `-webkit-box` regardless of `ignoreValues`

[2022-09-29 08:42] jeddy3 commented on #6372
Let's do this one.

[2022-09-29 08:51] ybiquitous commented on #6372
If people want to ignore more values in addition to the default one, they will need to include it like this:

[code]

this way may take some doing, but indeed, it is more flexible than the latter way; "ignore `-webkit-box` regardless of `ignoreValues`".

I agree with the way "change the default value of `ignoreValues`". 👍🏼

[2022-09-29 09:04] jeddy3 commented on #6372
Sorry for the confusion. Let's do it this way, i.e. make the change in the standard config.

[2022-09-29 10:27] caneta opened #6376 "Add `declaration-property-value-no-unknown`"
### What steps are needed to reproduce the bug?

[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

From VSCode

### Which version of Stylelint are you using?

`14.13.0`

### What did you expect to happen?

The editor should tell me that 'auto' is not a permitted value for property 'padding'.

### What actually happened?

Nothing, the

[2022-09-30 01:54] ybiquitous commented on #6376
@caneta Thanks for using the template.

Unfortunately, Stylelint doesn't support the validation of property-and-value pairs. So I recommend using the [`stylelint-csstree-validator`](https://www.npmjs.com/package/stylelint-csstree-validator) plugin. For example:

[code]

See also our [document about validators](https://stylelint.io/about/linting/#validators).

[2022-09-30 08:57] Gudleiv opened #6378 "Indentation rule add spaces to the URL"
### What steps are needed to reproduce the bug?

1. Use stylelint with indentation rule
2. Make CSS at-rule font-face with multiple urls separated by commas
3. Add comment after each url (to label it, e.g)
4. Run stylelint to fix

Repo for reproducing the bug - [https://github.com/Gudleiv/stylelint-indentation](https://github.com/Gudleiv/stylelint-indentation)

### What Stylelint configuration is

[2022-09-30 10:42] jeddy3 commented on #6376
This question pops up often, and it feels like an appropriate time to revisit it.

As mentioned in [our doc](https://stylelint.io/about/linting/#validators)  that @ybiquitous linked to, there are three types of tools:
- linters
- validators
- formatters (aka pretty printers)

Stylelint has historically overlapped with both validators and formatters. We intend [to remove our formatting rules](https

[2022-09-30 10:52] jeddy3 commented on #6378
@Gudleiv Thanks for the report, using the template and for creating a reproducible repo.

We've [frozen the stylistic rules](https://stylelint.io/user-guide/rules/list#stylistic-issues). We [now recommend](https://stylelint.io/#how-itll-help-you) using a [pretty printer alongside Stylelint, such as Prettier](https://stylelint.io/user-guide/get-started). Alternatively, if you wish to continue using

[2022-09-30 10:52] #6378 closed

[2022-09-30 12:48] caneta commented on #6376
Thank you, I have used CSSTree indeed and everything worked as expected.
@jeddy3 is right, I was expecting that writing something like `padding: inventedValue` was notified by the linter, so it could be useful to go ahead with this topic.

[2022-09-30 12:59] ybiquitous commented on #6376
@jeddy3 Thanks for the understandable classification of the built-in rules. It might be wonderful if we could reflect this grouping on our documentation somehow.

In addition, thanks for providing several future policies for validation rules.

I believe many people would like to receive the benefits of validation rules out of the box. So, now I'm inclined to the third option:

although there may b

[2022-10-01 17:00] pastelsky opened #6383 "Stylelint spends an in-ordinate amount of time in resolving configuration rather than linting"
### What steps are needed to reproduce the bug?

Run stylelint via the CLI on any medium to large-sized project.

After profiling different operations (did this both by logging, as well as a more scientific tool like https://clinicjs.org), notice the inordinate amount stylelint spends in my project for just figuring out what configuration to use to lint my files and which files to ignore. Top oper

[2022-10-02 11:33] kimulaco commented on #4715
I would like to work on this issue.

[2022-10-02 12:31] jeddy3 commented on #6383
@pastelsky Thanks for the clearly written report, especially the analysis, and for using the template.

We're a small team of volunteers maintaining Stylelint so we'd appreciate any help in identifying the code change opportunities to cut down config configuration time, and we'd gratefully accept any pull requests that improve the performance.

Please consider [contributing](https://stylelint.io/c

[2022-10-02 12:33] jeddy3 commented on #4715
@kimulaco That'd be fantastic, thank you!

By the way, you're welcome to start working on any issue you like without commenting. As a Stylelint member, you've permission to change the `status: ready to implement` label to `status: wip`. That'll let other people know you're working on it.

[2022-10-02 13:05] pastelsky commented on #6383
Thanks, @jeddy3. Really appreciate all of the work that goes into maintaining `stylelint`.

I guess a part of the problem is that configuration management for JS tools is very complex at the moment and each tool (Stylelint / ESLint) etc has to do so much repetitive work to resolve rool level, but also folder level configuration.

The quickest win here could be if developers can indicate that they

[2022-10-02 14:22] kimulaco commented on #4715
@jeddy3 Thanks. I will update the label myself next time and start working!

[2022-10-02 22:22] #5388 closed

[2022-10-02 22:25] #6372 closed

[2022-10-04 00:17] betaorbust commented on #4331
For the usability side: I frequently use stylelint as a rule-to-prevent-it-in-the-future _as well_ as a codemod to fix current issues. I'm working in a very large monorepo where I can't go in and run --fix on everything at once because it would hit too many rules across the board and touch more code than I could verify.
Having the ability to select only one rule to run would be hugely helpful in t

[2022-10-04 01:02] theKashey commented on #6383
The required change is simple, yet hard to implement as it has to follow an idea directly opposite to cosmic config.

It scans directories up to find configuration files to use

You need to run a search for every directory, as config files can appear in any place.
- Technically, this makes the lookup O(n^2)
- however, there is a built-in cache lowering complexity to O(nlogn)
- however, as [cosmic-

[2022-10-04 06:51] jeddy3 commented on #4331
Thanks for chiming in with your use case, @betaorbust. It makes sense.

If anyone has time to implement these new options (`--rule` and `--no-stylelintrc`), please consider [contributing](https://stylelint.io/contributing).

`--rule`:

- by default, merges rule to the end of the configuration object
- can be used multiple times

`--no-stylelintrc`:

- don't use the `.stylelintrc` file, and therefo

[2022-10-04 19:15] adidahiya opened #6392 "Fix TS compilation error due to needless `file-entry-cache` import"
### What steps are needed to reproduce the bug?

Compile a custom stylelint rule with TypeScript and import types from the `"stylelint"` package.

### What Stylelint configuration is needed to reproduce the bug?

N/A

### How did you run Stylelint?

N/A

### Which version of Stylelint are you using?

14.13.0

### What did you expect to happen?

No compilation errors

### What actually happened?

T

[2022-10-05 12:26] #6392 closed

[2022-10-06 08:07] #4715 closed

[2022-10-06 08:35] jeddy3 commented on #6383
@theKashey Thank you so much for digging into the issue more and for your two proposals.

If anyone has time, feel free to implement.

[2022-10-06 12:56] AlexElin opened #6394 "Fix `declaration-block-no-redundant-longhand-properties` false positives for `inherit` keyword"
### What steps are needed to reproduce the bug?

1. Run stylint for checking the below CSS

[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

stylelint src/**/*.css

### Which version of Stylelint are you using?

^14.13.0

### What did you expect to happen?

There's no error for this case because there are longhand properties with `in

[2022-10-06 13:58] GeorgeTaveras1231 commented on #1485
In case people find themselves looking for this. I've found this project. Seems legit. Havent tested yet: https://ls-lint.org/1.x/getting-started/installation.html#curl

[2022-10-07 03:51] makannew opened #6395 "Document need to quote globs"
### What steps are needed to reproduce the bug?

1. Create 3 css files with some invalid code and put them in nested folders.
  styles > fileA, folder1
  styles > folder1 > fileB, folder2
  styles > folder1 > folder2 > fileC

3. run ```npm run lint```  on windows machine
4. run same command on Mac os
5. On Mac we see one error caught by stylelint against 3 error on Windows machine

### What Stylel

[2022-10-07 17:56] jeddy3 commented on #6394
@AlexElin Thanks for the report and for using the template.

I've labelled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

There are [steps on how to fix a bug in a rule](https://stylelint.io/developer-guide/rules#fix-a-bug-in-a-rule) in the Developer guide.

[2022-10-08 00:19] makannew commented on #6395
@jeddy3 Thanks for quick reply, that's helpful :)
Also It would be nice if stylelint CLI can handle it internally or at least throw an error. It took several hours to me as I didn't have any clue why stylelint has different result on Mac os vs windows.

[2022-10-08 13:48] AlexElin opened #6397 "CLI tool outputs incorrect results on Ubuntu 20"
### What steps are needed to reproduce the bug?

Run stylelint for the [project](https://stackblitz.com/edit/angular-2rgmhu?file=src%2F.stylelintrc.json,.stackblitzrc) via CLI on Windows 10 and Ubuntu 20.
Then compare results.

Instead of Ubuntu 20, I've received similar results while running the checks on GitLab CI having the below configuration.

[code]

### What Stylelint configuration is neede

[2022-10-08 14:36] AlexElin commented on #6397
@alexander-akait thanks.
It helped me

[2022-10-08 14:36] #6397 closed

[2022-10-10 11:57] #6395 closed

[2022-10-10 16:19] morewings commented on #4481
In case it helps anyone. I resolved the same problem by installing `"postcss": "^8.4.17",` as a direct dependency.

[2022-10-11 12:06] jsoref opened #6400 "Minor spelling errors"
### What steps are needed to reproduce the bug?

Read the misspellings reported at https://github.com/jsoref/IoT-For-Beginners/commit/152f85d8f8ced0c5b63649a5e9fb622ee2d36705#commitcomment-86437888

### What Stylelint configuration is needed to reproduce the bug?

N/A

### How did you run Stylelint?

M/A

### Which version of Stylelint are you using?

main

### What did you expect to happen?

No [

[2022-10-11 13:01] #6400 closed

[2022-10-11 19:36] noahtallen opened #6402 "Add `cache` to the configuration object"
### What steps are needed to reproduce the bug?

Add `"cache": true` to a `.stylelintrc` file and then run stylelint. Notice that a cache is not created. (Also note that a cache is created when running with the `--cache` flag.)

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

`yarn run stylelint "**/*.{css,scss}"`

### Which version of Styl

[2022-10-12 08:48] jeddy3 commented on #6402
@noahtallen Thank you for the clearly written report, especially the proposal!

The use case makes sense. As do your resolution. We've a very small team of volunteers working on Stylelint, so any help in implementing this resolution would be greatly appreciated. Please consider [contributing](https://stylelint.io/contributing) if you have time.

I've added the `cache` option to https://github.com/

[2022-10-12 09:55] pmweeks98 commented on #948
Just putting this here - plugin is not needed now
https://github.com/timothyneiljohnson/stylelint-value-border-zero/issues/2

[2022-10-12 11:27] pmweeks98 opened #6404 "Possible false postive for `shorthand-property-no-redundant-values`"
### What steps are needed to reproduce the bug?

Getting this error
[code]
when running stylelint
Actual value in line is `1rem 1rem 0 1rem`

Is this error correct? If so what is the correct display

### What Stylelint configuration is needed to reproduce the bug?

extends:
  - stylelint-config-standard-scss
  - stylelint-config-prettier-scss

### How did you run Stylelint?

grunt stylelint

### W

[2022-10-12 17:35] noahtallen commented on #6402
I spent a bit of time looking into it today, and I think one approach would be to find the root config file somewhere around here:

https://github.com/stylelint/stylelint/blob/1fd5a15304716702e8e26032d7439e10221693b2/lib/createStylelint.js#L37

And then copy any "global" settings from that root config into the `stylelint._options` object. (With existing CLI flags taking priority.)

Any thoughts on

[2022-10-13 07:40] ybiquitous commented on #6402
@noahtallen Thanks for spending your time digging into the codebase!

I think we can change it without considering a breaking change since `createStylelint` is an internal API. See below:

https://github.com/stylelint/stylelint/blob/1fd5a15304716702e8e26032d7439e10221693b2/lib/index.js#L23

https://github.com/stylelint/stylelint/blob/1fd5a15304716702e8e26032d7439e10221693b2/types/stylelint/index.d

[2022-10-13 08:47] #3273 closed

[2022-10-13 09:07] pmweeks98 opened #6406 "Is it possible to have individual severity for rules in a list?"
Is it possible to set individual severity for options within rules like *-disallowed-list?
For example below I would like to have a warning for the color rule but an error for the border rule

[code]

[2022-10-13 11:00] jeddy3 commented on #6406
It's not. You can [write a plugin](https://stylelint.io/developer-guide/plugins) to cater to your specific needs, or use one written by the community, e.g. [`stylelint-declaration-strict-value`](https://github.com/AndyOGo/stylelint-declaration-strict-value) may fit your `/color/` needs.

[2022-10-13 11:00] #6406 closed

[2022-10-13 13:38] szulcus opened #6407 ""%s" is not supported in the `.stylelintrc.json` file in a custom message"
### What steps are needed to reproduce the bug?

I am using Nuxt 3 (`3.0.0-rc.8`) with [vite-plugin-stylelint](https://www.npmjs.com/package/vite-plugin-stylelint) package (`^1.8.1`) and extension for VS Code (https://marketplace.visualstudio.com/items?itemName=stylelint.vscode-stylelint) , `v1.2.3`). I temporarily do not have time to reproduce this bug, but if necessary I can try to create one in

[2022-10-13 15:17] ybiquitous commented on #6407
@szulcus Thanks for writing the report and for using the template. We can confirm the bug on the [demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcIB0AzCED6WBGBDATgATAC+IANCAM4CeAdgC64AeC4VVF4EdKAlgHM2wADp1ChESHwBXADYwqU+MTESJUqjAVgGEfAFowc3BwMAHXAwYx8dZYQDaa9RpAA9ABQB+eD-gQAD5ggTKBDIFUgXxRABamgRiBAFZRAI64AJQGmd6OuAYAXgCCBgBaAAwGAJwAugDU-gb5RaWVNQ2ZAFT+WC0l5VV1jb7NBQPtw925TWOtgx0j8HMTQ51dM74i2yKOSPU

[2022-10-13 15:17] #6407 closed

[2022-10-13 15:21] ybiquitous opened #6408 "Release 14.14.0"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

See also the prepared [CHANGELOG](https://github.com/stylelint/stylelint/pull/6375/files#diff-06572a96a58dc510037d5efa622f9bec8519bc1beab13c9f251e97e657a9d4ed) for the next release.

We should also release `style

[2022-10-13 15:24] ybiquitous commented on #6408
I can work on releasing it this weekend if no one else is available.

[2022-10-13 18:15] jeddy3 opened #6409 "Prepare 15.0.0"
- https://github.com/stylelint/stylelint/issues/6311
- https://github.com/stylelint/stylelint/issues/3408
- https://github.com/stylelint/stylelint/issues/6342
- https://github.com/stylelint/stylelint/issues/6414

Discussed:

- https://github.com/stylelint/stylelint/issues/6483

Pull requests:

- https://github.com/stylelint/stylelint/pull/6380
- https://github.com/stylelint/stylelint/pull/6323
- h

[2022-10-13 19:37] szulcus commented on #6407
@ybiquitous Thanks a lot! ❤️

[2022-10-13 19:37] szulcus commented on #6407
@ybiquitous Thanks a lot! ❤️

[2022-10-14 02:33] ybiquitous commented on #6408
Note that there is a big documentation update:

- https://github.com/stylelint/stylelint.io/pull/285

[2022-10-14 07:37] jeddy3 commented on #6408
Let's mention that in the release tweet. Something along the lines of:

[2022-10-14 07:50] ybiquitous commented on #6408
@jeddy3 Thanks for the advice.

The words might be a bit too long in one tweet. Can we use a thread? Or do you have a good idea?

[2022-10-14 09:13] jeddy3 commented on #6408
Yep, we can put it in a separate follow-up tweet.

[2022-10-15 11:50] ybiquitous commented on #6408
I'll start to release it now.

[2022-10-15 12:24] ybiquitous commented on #6408
[14.14.0](https://github.com/stylelint/stylelint/releases/tag/14.14.0) is now released!

Also, generating the GitHub Release draft on Actions works well. 👍🏼
https://github.com/stylelint/stylelint/actions/runs/3255660342

[2022-10-15 13:42] ybiquitous commented on #6408
All done! 🎉

I would really appreciate your contributions and hard work, everyone!

[2022-10-15 13:42] #6408 closed

[2022-10-15 14:13] jeddy3 commented on #6408
@ybiquitous Thank you for doing the release!

[2022-10-15 20:15] jeddy3 commented on #6376
SGTM.

I agree. It feels like the pros outweigh the cons, though. Unless anyone knows of an alternative, we can use the CSSTree within the rule for now. We can refactor the implementation if a more appropriate library comes along (or if we end up rolling our own).

I believe the CSSTree parser returns everything we need, including what we need for accurate positions (i.e. `mismatchOffset` and `mis

[2022-10-15 20:18] jeddy3 commented on #4752
No longer relevant as [we've frozen the stylistic rules](https://github.com/stylelint/stylelint/issues/5674#issuecomment-1010201282).

[2022-10-15 20:18] #4752 closed

[2022-10-15 20:20] jeddy3 commented on #5379
Closing as [we've frozen the stylistic rules](https://github.com/stylelint/stylelint/issues/5674#issuecomment-1010201282).

[2022-10-15 20:20] #5379 closed

[2022-10-17 11:23] ashmenon commented on #5634
I was struggling with this after upgrading, and @ybiquitous is correct. Also, if you need to use multiple syntaxes (e.g. if you have both SCSS and HTML-like files), you can use the `overrides` property as well.

In my `.stylelintrc.js` file I have the following:
[code]

From what I understand, [`postcss-syntax`](https://github.com/gucong3000/postcss-syntax) might be able to handle this, but I've a

[2022-10-17 12:36] ybiquitous commented on #6409
@jeddy3 Thanks for listing up the tasks.

It seems we can remove the deprecated `syntax` option. Is there a related issue?

https://github.com/stylelint/stylelint/blob/d40288983161124d7b8a29be219835bf7ea6841d/types/stylelint/index.d.ts#L243-L244

[2022-10-17 13:11] jeddy3 commented on #6409
I agree.

I don't believe so. Let's create one.

[2022-10-17 13:34] ybiquitous opened #6414 "Remove deprecated `syntax` option"
When releasing v14.0.0, we deprecated the `syntax` option to require using the `customSyntax` option instead.

https://github.com/stylelint/stylelint/blob/d40288983161124d7b8a29be219835bf7ea6841d/docs/migration-guide/to-14.md?plain=1#L17

With the next major version, we can remove the deprecated option. See below:

https://github.com/stylelint/stylelint/blob/d40288983161124d7b8a29be219835bf7ea6841

[2022-10-17 13:36] ybiquitous commented on #6409
Thanks. I've opened #6414 and updated this issue description.

[2022-10-18 06:56] ybiquitous commented on #5354
I'd like to complete this refactoring until v15.0.0, but... it may not be easy. Anyway, I am trying to understand the code around the PostCSS API.

[2022-10-18 06:58] Supriya-48 commented on #4585
Hi @jeddy3 I would like to work on this issue, can you assign me on this,

[2022-10-18 07:18] ybiquitous commented on #4585
@Supriya-48 Yes, please feel free to open a pull request. Nobody works on this issue now.

[2022-10-18 07:27] Supriya-48 commented on #4585
Thank you will do

[2022-10-18 13:21] GokulnathP commented on #5637
@skhaz is that warning(When linting something other than CSS, you should install an appropriate syntax) fixed? how did you fixed it?

[2022-10-19 11:05] DerZyklop opened #6416 "Search for e.g. custom-property-pattern lead to 404 even though doc for it exists."
### Describe the documentation issue

When I go to https://stylelint.io/ and search for `custom-property-pattern` I get a result in the search-results-card. When i click it/hit enter it brings me to a 404 on
`user-guide/rules/list/#custom-property-1`
when i reload i get redirected to
`user-guide/rules/#custom-property-1`
The last mentioned page has already an entry for the patterns of this PR, but

[2022-10-19 12:08] ybiquitous commented on #6416
@DerZyklop Thanks for the report. This issue seems related to the website repo instead of this repository.

[2022-10-19 23:16] mryarbles commented on #3995
This is an issue using css-in-js with postcss-lit as the customSyntax override

[2022-10-21 16:24] #6394 closed

[2022-10-22 10:12] Supriya-48 commented on #4585
@ybiquitous I am participating for the first time in hacktoberfest
![Screenshot (58)](https://user-images.githubusercontent.com/48731097/197333732-f392171f-8f0d-499a-84b5-cbd962cdd447.png)
, wanted to cross check whether I am going on a right path, is this the same what you are expecting?

[2022-10-22 12:21] ybiquitous commented on #6409
I've created the [`v15`](https://github.com/stylelint/stylelint/tree/v15) branch just now. Let's push all the breaking changes into the branch.

[2022-10-22 12:35] jeddy3 commented on #4585
@Supriya-48 Thank you for working on the issue. Yes, you're on the right path. I suggest opening a pull request so that we can feedback on what you have so far.

[2022-10-22 18:50] romainmenke opened #6421 "Rules for nested CSS following css-nesting-1"
### What is the problem you're trying to solve?

`css-nesting-1` is being implemented in Chrome. The specification isn't final yet and it might change in the next few weeks.

There are some issues where linters might help authors write correctly nested CSS.

[code]

[code]

At the moment we still need to wait for the final specification for all issues to surface.

### What solution would you like

[2022-10-22 22:46] jeddy3 commented on #6421
@romainmenke Thanks for the request and for using the template.

Yes, absolutely! I'm glad you created an issue. I've been meaning to open one myself since the discussion about the nesting spec in https://github.com/stylelint/stylelint/issues/6294#issuecomment-1236131389.

In that issue, we touched on these two nesting patterns:

[code]

[code]

Rules that warn about invalid or ambiguous patterns

[2022-10-24 13:10] ybiquitous commented on #5745
When I've finished reading ESLint's [blog post](https://eslint.org/blog/2022/08/new-config-system-part-1/) about its new config system, I start doubting if this issue's flexible shorthand feature is really necessary. Because it seems to me that the increased complexity of our code base will be worse than improved usability through the new shorthand support.

What do you think regarding this opinio

[2022-10-24 13:34] javeoff commented on #5637
upvote

[2022-10-24 14:34] jeddy3 commented on #5745
That's blog post is a great read.

It's not, especially if we hope to migrate to a similar flat config system in the future.

As an aside, we're close to a flat config system as an early design decision was not to implement cascading configs. I'm glad we made this decision.

[From the blog post](https://eslint.org/blog/2022/08/new-config-system-part-1/#the-extends-key):

As an aside,

[2022-10-24 14:34] #5745 closed

[2022-10-25 00:35] ybiquitous commented on #5745
@jeddy3 Thanks for the response. I agree. 👍🏼

[2022-10-25 07:37] ybiquitous commented on #6414
@fpetrakov Ah, thanks. I forgot that auto-closing doesn't work on the non-main branches. 😅

[2022-10-25 07:37] #6414 closed

[2022-10-27 12:14] sidverma32 opened #6427 "Fix `unit-no-unknown` false positives for `*vi` & `*vb` viewport units"
### What is the problem you're trying to solve?

As of March 2022 new CSS viewports units svh,lvh,dvh,svw,lvw and dvw are incoming as part of the efforts of Apple, Boucoup, Google, Igalia, Microsoft and Mozilla to imprve the web for developers.

Currently running style lint on "dvh" unit is breaking  event after adding to the "unit-whitelist" array.

### What solution would you like to see?

Suppo

[2022-10-27 12:42] jeddy3 commented on #6427
@sidverma32 Thanks for the report.

Support for the [new range of viewport units](https://drafts.csswg.org/css-values-4/#viewport-relative-lengths) was added to the [`unit-no-unknown`](https://stylelint.io/user-guide/rules/unit-no-unknown) rule in [`stylelint@14.6.1`](https://stylelint.io/CHANGELOG#1461).

Our reference data is:

https://github.com/stylelint/stylelint/blob/142e4773223074ec6a6f9687

[2022-10-27 12:46] alexander-akait commented on #6427
@jeddy3 Yeah, we miss some:
[code]

[2022-10-27 12:54] jeddy3 commented on #6427
@alexander-akait Thanks! It looks like we're missing the [`*vi`](https://drafts.csswg.org/css-values-4/#valdef-length-vi) and [`*vb`](https://drafts.csswg.org/css-values-4/#valdef-length-vb) units.

@sidverma32 I've labelled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time. It'll involve updating [our reference file](https://github

[2022-10-27 12:56] #4585 closed

[2022-10-27 13:35] sidverma32 commented on #6427
Sure will pick this up! @jeddy3  please assign this to me

[2022-10-28 03:49] sidverma32 commented on #6427
I have added the missing units in the reference file , Please have a look over it.

Also, I haven't added example in [test](lib/rules/unit-no-unknown/__tests__/index.js) file as `*vi` and `*vb` are not written there. Do let me know if we have to add in the same PR or different PR.

[2022-10-28 04:10] ybiquitous commented on #6427
@sidverma32 Thanks for creating the pull request. I don't think we need to add test cases because the change is explicit.

[2022-10-28 14:57] sidverma32 commented on #6109
@jeddy3 @ybiquitous  is this done or shall i pick this up?

[2022-10-28 14:57] sidverma32 commented on #6161
@jeddy3 @ybiquitous is this done or shall i pick this up?

[2022-10-28 17:31] fpetrakov commented on #6161
Hi Siddharth Verma! If it's labeled as "ready to implement" and there are no open pull requests then it means that you can pick this up :)

[2022-10-28 22:23] ybiquitous commented on #6109
@sidverma32 Thank you! Nobody currently works on this issue, so please feel free to create a pull request.

[2022-10-29 07:00] sidverma32 commented on #6109
Can you guide me which file to refer to add this `option` support? @ybiquitous

Also i can see this `dot` support present in code repo, would like to know if we have the support for `dot` but not utilising it properly or is this `dot` referring to some other functionality?

<img width="1130" alt="Screenshot 2022-10-29 at 12 25 18 PM" src="https://user-images.githubusercontent.com/10995431/19881855

[2022-10-30 11:14] silversonicaxel commented on #6109
thanks, I also had issues to implement myself this interesting feature. kudos to volounteers!

[2022-10-30 15:34] sidverma32 commented on #6161
Created a draft PR as per understanding, please let me know what all modifications are still required or pending to add in this PR? @jeddy3

[2022-10-30 16:37] #6427 closed

[2022-10-31 01:06] ybiquitous commented on #6109
@sidverma32 To support the `--globby-options` CLI flag, we need to change `lib/cli.js` and pass the new flag value to `standalone()`:

https://github.com/stylelint/stylelint/blob/7fbf2972a3c0d3d0d837fe2ba7964478fc323b7a/lib/cli.js#L506

`lib/standalone.js` has allowed the `globbyOptions` option:

https://github.com/stylelint/stylelint/blob/7fbf2972a3c0d3d0d837fe2ba7964478fc323b7a/lib/standalone.js

[2022-10-31 10:31] Arkellys opened #6436 "Fix `value-keyword-case` false positives for mixed case `ignoreFunctions` option"
### What steps are needed to reproduce the bug?

Setup the following code:

[code]

### What Stylelint configuration is needed to reproduce the bug?

[code]

### How did you run Stylelint?

CLI, VSCode official Stylelint extention and Demo on the official website.

### Which version of Stylelint are you using?

`^14.14.0`

### What did you expect to happen?

I expect `hoveringMenu` to be ignored w

[2022-10-31 11:58] sidverma32 commented on #6109
By new `flag` value you mean something like this :
`return standalone(options, newFlag) `

or something like this:
[code]

[2022-10-31 12:02] ybiquitous commented on #6109
I mean:

[code]

[2022-10-31 12:28] ybiquitous commented on #6436
@Arkellys Thanks for opening the issue and for using the template. We can reproduce the false positive bug on the [demo](https://stylelint.io/demo/#N4Igxg9gJgpiBcICGACYLIBsICd4oDEIIAKACwgDcYcBLAOwHMBZGegVwEoBuFAXwA69EABoQAZwCe9AC5IAHgnDjxo8BHoAzWoyXAhKFAJA52mGOOP599Q4eOUkmdjAC0AaxiSA7riiuwJHEYKxQAbWNsbxpjETQjEB16XBgCdnowGVoNSwRw4yIIYwBdPmKDfiE+ED4gA).

Perhaps, the following code may be related to

[2022-10-31 12:59] sidverma32 commented on #6109
Thanks for clarification! Please have a look over the raised PR and let me know if i missed any detail.

[2022-10-31 18:13] jeddy3 commented on #6436
Sounds likely.

The solution maybe as simple as:

[code]

And adding a testcase.

Our `ignore*` options are typically case sensitive as a`/i` regex can be used for case insensitivity. It's a bug that this option doesn't follow this pattern. I assume it's never come up before as everyone who's currently using the option has lowercase function name.

[2022-10-31 18:18] jeddy3 opened #6438 "Release 14.14.1"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

We've [a couple of fixes](https://github.com/stylelint/stylelint/blob/429d91710916db5c1950f7f3a4de8256e12b750b/CHANGELOG.md) to release. I'm going to be away and offline for 3 weeks from tomorrow. I'm happy to re

[2022-11-01 00:19] ybiquitous commented on #6438
@jeddy3 I can work on the release. 👍🏼

[2022-11-01 06:54] phoenisx opened #6440 "Unable to bundle `stylelint` using bundlers"
### What steps are needed to reproduce the bug?

Use `rollup` to bundle this library. It fails

### What Stylelint configuration is needed to reproduce the bug?

_None_

### How did you run Stylelint?

I am trying to bundle stylelint in my project

### Which version of Stylelint are you using?

14.14.0

### What did you expect to happen?

Stylelint should get bundled, without any errors.

### What

[2022-11-01 08:03] W-Ace opened #6441 "stylelint can't automatically format on save"
### What steps are needed to reproduce the bug?

When I was using stylelint 13, it was working fine, but for some reason after I upgraded to version 14, the fix on save function didn't work, but stylelint has correctly marked the error.

### What Stylelint configuration is needed to reproduce the bug?

[code]

[code]

[code]

### How did you run Stylelint?

Just save code

### Which version of Sty

[2022-11-01 13:33] ybiquitous commented on #6440
@phoenisx Thanks for opening the issue and for using the template.

Your suggestion sounds good to me. Could you please provide a minimal reproduction repository using rollup?

[2022-11-01 13:38] ybiquitous commented on #6441
@W-Ace Thanks for using the template. I have the following questions:

- Could you please provide a minimal reproduction repository or a [demo](https://stylelint.io/demo/)?
- What editor are you using? If VS Code, it may be a problem with our [VS Code extension](https://github.com/stylelint/vscode-stylelint).

[2022-11-01 15:19] phoenisx commented on #6440
Hi @ybiquitous
Thanks for the quick reply 🙇🏽

I created a repro for this issue here: https://github.com/phoenisx/stylelint-bundling-issue

You need to run the following commands to get to the reproduction:

[code]

You will get the following error:

[code]

I have also tried adding `dynamicRequireTargets`, but with no success.

[2022-11-02 01:23] ybiquitous commented on #6440
@phoenisx Thank you for providing the reproduction with a detailed explanation! Converting the code to the following bundler-friendly pattern seems to make sense. 👍🏼

[code]

In addition, to avoid type errors, we need to apply the patch to the [`import-lazy` type definition](https://github.com/sindresorhus/import-lazy/blob/2fe666489d91958c5e0967ec25777be3eb49ad40/index.d.ts#L22-L24) like this:

[c

[2022-11-02 04:12] ybiquitous commented on #6441
@W-Ace Thanks for providing the reproduction repository. Which files do you expect to format? `.vue` or `.scss`?

[2022-11-02 04:29] W-Ace commented on #6441
Thanks for your mail.

I expect both of them do.

Masafumi Koba ***@***.***>於 2022年11月2日 週三，12:12寫道：

[2022-11-02 04:30] ybiquitous commented on #3419
ESLint v8.0.0 has [removed the `codeframe` formatter](https://eslint.org/docs/latest/user-guide/migrating-to-8.0.0#removed-formatters) from the core. This removal is due to a dependency problem, and I agree with the decision of the ESLint team.

Our community has a nice package [`stylelint-codeframe-formatter`](https://github.com/bencergazda/stylelint-codeframe-formatter) that realizes a feature r

[2022-11-02 04:35] phoenisx commented on #6440
Thanks for the guidance. I can work on this and raise a fix later.

[2022-11-02 04:47] ybiquitous commented on #6441
I've locally tried auto-fixing via the following command on the repository:

[code]

Then, I've got the change:

[code]

Is this what you expected?

[2022-11-02 05:03] W-Ace commented on #6441
Thank you for such a quick reply！

I know it can be formatted via command,but I hope it can format instantly
via VSCODE extension and following settings

｛
     “eslint.validate: ［
        source.fixAll.stylelint: true
      ］
   ｝

Or is this supposed to be VSCODE extension problem?

But it work fine when I use stylelint below version 13.

I appricate your kind assistance.

Masafumi Koba ***@***.

[2022-11-02 05:39] copiali opened #6445 "indentation rule is conflict with prettier auto format"
### What steps are needed to reproduce the bug?

I have auto format on save in my vscode and if it exceed the expected length, prettier will auto format it like below:
![image](https://user-images.githubusercontent.com/5318202/199406050-6273cf83-14bb-40e0-91eb-3a2fcafe461a.png)

It will indent line 127 and not indent line 128.

### What Stylelint configuration is needed to reproduce the bug?

[cod

[2022-11-02 05:44] ybiquitous commented on #6441
If VS Code only causes the issue instead of CLI, there may be a cause in the VS Code extension. It may not be related to this repository.

Also, according to the [vscode-stylelint doc](https://github.com/stylelint/vscode-stylelint#editorcodeactionsonsave), the following settings seem to be correct instead of your settings:

[code]

[2022-11-02 05:50] W-Ace commented on #6441
Oh. I made a typo, my setting is the same as yours.

OK, I get it, I’ll find out what the problem is,

Sorry and Thanks for your help.

Masafumi Koba ***@***.***>於 2022年11月2日 週三，13:44寫道：

[2022-11-02 05:53] ybiquitous commented on #6445
@copiali Thanks for using the template.

`stylelint-config-prettier-scss` (`stylelint-config-prettier`) turns off the `indentation` rule,

- https://github.com/prettier/stylelint-config-prettier-scss/blob/b294d1bbea8cbb640b759b82abe0ce667316a7f1/src/index.js#L4
- https://github.com/prettier/stylelint-config-prettier/blob/d922cd2f9b97b1fc8e7feabdc49e6310acfa3d95/src/index.js#L5

so I recommend remo

[2022-11-02 06:14] copiali commented on #6445
@ybiquitous thanks for your reply.
My concern for removing the indentation rule is for some devs if they are not using vscode editor or for some reason, they skip the auto format from prettier. The build will succeed for the incorrect indentation as there's no rule in the stylelint config. But I want to capture this incorrect format and fail the build in this case.

[2022-11-02 06:21] ybiquitous commented on #6445
Can you use [`prettier --check`](https://prettier.io/docs/en/cli.html#--check) in your build process (e.g. CI) instead of turning on the `indentation` rule of Stylelint?

We've [frozen stylistic rules](https://stylelint.io/user-guide/rules#enforce-stylistic-conventions) (including `indentation`) and recommended using a pretty printer like Prettier instead. If there is a bug in such rules, we won't

[2022-11-02 06:56] copiali commented on #6445
@ybiquitous thanks for your suggestion. Added prettier --write in pre-commit hook and it works well!

[2022-11-02 06:56] #6445 closed

[2022-11-02 10:26] ybiquitous commented on #6441
I'm closing this issue. Please feel free to reopen it if you find a problem.

[2022-11-02 10:26] #6441 closed

[2022-11-02 19:25] aaronccasanova opened #6446 "Add support to `checkAgainstRule` with custom rules"
### What is the problem you're trying to solve?

Currently, the `checkAgainstRule` utility [only resolves built-in rules](https://github.com/stylelint/stylelint/blob/042d1adee8a15f61d4d3fdf5c2e0e38569303942/lib/utils/checkAgainstRule.js#L30). However, my team has a use case in which we'd like to call `checkAgainstRule` with other (local) custom rules e.g.

[code]

### What solution would you like

[2022-11-03 14:05] ybiquitous commented on #6446
@aaronccasanova Thanks for the proposal. The idea sounds good to me.

It seems no breaking to add a new optional property to the `options` parameter of `checkAgainstRule()` like this:

[code]

But just in case, I've marked this issue as *needs discussion* to see whether this feature would affect our ecosystem. We could implement the idea if there were no objections or concerns.

[2022-11-03 14:09] ybiquitous commented on #6438
I'm starting the release now.

[2022-11-03 15:12] phoenisx commented on #6440
I have raised the PR. Do let me know if anything else is needed to resolve this issue 💯

[2022-11-03 15:51] ybiquitous commented on #6438
Done! 🎉

Thank you to everyone who contributed to this release! 😊

[2022-11-03 15:51] #6438 closed

[2022-11-04 12:48] #6440 closed

[2022-11-04 21:46] romainmenke commented on #6421
Another case :

[code]

This is fully valid but mutations can easily make it invalid.

- splitting `.foo` and `textarea` into two rules -> `textarea {}` is invalid
- removing `.foo` -> `textarea {}` is invalid
- re-order `.foo, textarea` -> `textarea, .foo {}` is invalid

Some authors might prefer to enforce this style:

[code]

[2022-11-05 00:02] sesse commented on #6421
Rather than enforcing `:is(textarea)`, why not `& textarea`?

[2022-11-05 08:40] romainmenke commented on #6421
Updated, I typed this out too quickly.
There are too separate cases, one requires `&<space>`, the other `:is(<type>)`

[2022-11-05 10:08] phoenisx opened #6452 "Add support for JS functions in `plugins` list in Stylelint config"
### What is the problem you're trying to solve?

Using `stylelint` as a library in JS (NodeJS/Deno) does not accept JS functions as `plugins: []` config values. It only works with `string` type for now.

Is it possible to support both?

### What solution would you like to see?

Allow developers to, when using `stylelint` as JS library, to pass locally developed stylelint plugins as config param. F

[2022-11-06 10:25] glen-84 opened #6453 "Add message arguments to `declaration-property-value-disallowed-list`"
### What is the problem you're trying to solve?

#4117 has been closed without a solution for `declaration-property-value-disallowed-list`. I'd still like to be able to specify a custom message per disallowed property value.

### What solution would you like to see?

[code]

[2022-11-06 11:18] glen-84 opened #6454 "Add message arguments to `declaration-property-unit-allowed-list`"
### What is the problem you're trying to solve?

Setting a custom message for the `declaration-property-unit-allowed-list` rule.

### What solution would you like to see?

[code]

[2022-11-06 11:57] glen-84 opened #6455 "Add message arguments to `function-disallowed-list`"
### What is the problem you're trying to solve?

Setting a custom message for the `function-disallowed-list` rule.

### What solution would you like to see?

[code]

[2022-11-07 00:42] ybiquitous commented on #6452
@phoenisx Thanks for the proposal. As you commented, I also guess it's possible to implement this feature relatively easily.

I'd just like to confirm, what kind of use cases do you have? The following simple case seems to have not much benefit. 🤔

[code]

[2022-11-07 00:53] ybiquitous commented on #6453
@glen-84 Thanks for the proposal. In PR #6312, we've started supporting just-needed rules since we were not confident in the feature.

So, if there are needs, we can easily increase supported rules by passing `messageArgs` to `report()` like this (see also #6391):

https://github.com/stylelint/stylelint/blob/2724aa4f56113203328a438ca6e35f186253e2c6/lib/rules/color-no-hex/index.js#L44-L46

---

I'v

[2022-11-07 00:55] ybiquitous commented on #6454
@glen-84  Thanks for the proposal. See also <https://github.com/stylelint/stylelint/issues/6453#issuecomment-1304954997>.

I've labeled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

[2022-11-07 00:55] ybiquitous commented on #6455
@glen-84  Thanks for the proposal. See also <https://github.com/stylelint/stylelint/issues/6453#issuecomment-1304954997>.

I've labeled the issue as ready to implement. Please consider [contributing](https://stylelint.io/contributing) if you have time.

[2022-11-08 00:23] ybiquitous commented on #6452
@phoenisx Thank you for your explanation. I understand your background well. Also, it's so nice if you have a patch already.

Since I believe this addition would not break anything, I've labeled the issue as *ready to implement*.

If anyone has concerns, please feel free to comment.

[2022-11-08 00:28] ybiquitous commented on #6446
Since it seems there are no objections, I've labeled the issue as **ready to implement**. Please consider [contributing](https://stylelint.io/contributing) if you have time.

[2022-11-08 04:40] aaronccasanova commented on #6446
Great! I'll start working on the implementation 👍

[2022-11-10 00:23] chloerice opened #6461 "Add message arguments to `at-rule-disallowed-list`"
### What is the problem you're trying to solve?

In the same vein as #6453, #6454, and #6455, I'd love to be able to access the name of the at rule that's rejected by `at-rule-disallowed-list` so that I can map it to a custom message and relevant documentation link.

### What solution would you like to see?

[code]

[2022-11-10 00:37] ybiquitous commented on #6461
@chloerice Thanks for the proposal. I agree.

I've labeled the issue as **ready to implement**. Please consider [contributing](https://stylelint.io/contributing) if you have time.

[2022-11-10 00:40] chloerice opened #6462 "Add message arguments to `property-disallowed-list`"
### What is the problem you're trying to solve?

In the same vein as #6453, #6454, and #6455, I'd love to be able to access the name of the property that's rejected by `property-disallowed-list` so that I can map it to a custom message and relevant documentation link.

### What solution would you like to see?

[code]

[2022-11-10 00:50] ybiquitous commented on #6461
Submitting a single PR is helpful.

[2022-11-10 19:15] aaronccasanova opened #6465 "Add support to use `--fix` with `checkAgainstRule`"
### What is the problem you're trying to solve?

The `--fix` option does not work with the `checkAgainstRule` utility:

[code]

### What solution would you like to see?

I would like to be able to pass through the `context.fix` option to `checkAgainstRule`:

[code]

My team currently has this behavior patched with the following updates to `checkAgainstRule`:
https://github.com/stylelint/stylelint/

[2022-11-11 00:20] #6453 closed

[2022-11-11 00:20] #6455 closed

[2022-11-11 00:20] #6461 closed

[2022-11-11 00:20] #6462 closed

[2022-11-11 00:22] #6446 closed

[2022-11-11 01:17] ybiquitous commented on #6465
@aaronccasanova Thanks for the proposal. I agree with passing the `fix` option to `checkAgainstRule()`. Furthermore, giving a `context` object seems to make sense instead of `fix`. What do you think?

[2022-11-11 01:50] aaronccasanova commented on #6465
Great idea, passing through the [PluginContext](https://github.com/stylelint/stylelint/blob/d91bb5b779ce6ca69058549d58195a9e82b7c8d1/types/stylelint/index.d.ts#L151-L154) is definitely more future facing 👍

[2022-11-11 02:19] ybiquitous commented on #6465
@aaronccasanova Thanks for the feedback. Let's add the `context` parameter to `checkAgainstRule`.

I've labeled the issue as **ready to implement**. Please consider [contributing](https://stylelint.io/contributing) if you have time.

[2022-11-11 04:05] #6109 closed

[2022-11-11 04:22] ybiquitous opened #6467 "Release 14.15.0"
- [x] stylelint release
- [x] stylelint-config-recommended update/release
- [x] stylelint-config-standard update/release
- [x] stylelint-demo update
- [x] stylelint.io update
- [x] tweet

We have [several new features](https://github.com/stylelint/stylelint/pull/6451/files#diff-06572a96a58dc510037d5efa622f9bec8519bc1beab13c9f251e97e657a9d4ed) to release. I will work on the release this weekend if

[2022-11-11 15:10] emmasax opened #6468 "Errors not being flagged inside a StyledComponent's `switch` statements"
The following code will pass linting:

[code]

However, moving the switch statement outside of the StyledComponent, will flag the invalid hex colours:

[code]

[code]

[2022-11-11 15:26] ybiquitous commented on #6468
@emmasax Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by [recreating the issue](https://github.com/stylelint/stylelint/issues/new/choose) using one of our templates.

And this problem might be related to `stylelint-config-styled-components` or `stylelint-processor-sty